﻿<template>
    <div>
        <v-row v-scroll:#scroll-target="onScroll">
            <v-col cols="9">
                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                    Добавление Уполномоченного органа (организации)
                </h4>
                <v-card>
                    <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                        <v-form ref="docForm"
                                v-model="valid"
                                lazy-validation>
                            <section class="container pa-4 pa-sm-6 pa-md-8 container--fluid" id="organization">
                                <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                                    <a href="#organization" class="text-decoration-none text-right text-md-left"> # </a>
                                    Уполномоченный орган (организация)
                                </h4>

                                <!-- Организация -->
                                <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                                    Организация
                                </h4>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Страна регистрации"
                                                  :items="dics.countries"
                                                  v-model="document.countryId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Организационно-правовая норма"
                                                  :items="dics.organizationalForm"
                                                  v-model="document.organizationalForm"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Полное наименование УО / ФИО ИП"
                                                      v-model="document.fullNameOrg"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="БИН/ИИН"
                                                      v-model="document.biniin"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Адрес -->
                                <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                                    Адрес
                                </h4>

                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Страна"
                                                  :items="dics.countriesAddr"
                                                  v-model="document.countryId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Регион"
                                                  :items="dics.regions"
                                                  v-model="document.regionId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Район"
                                                  :items="dics.district"
                                                  v-model="document.districtId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Город"
                                                  :items="dics.city"
                                                  v-model="document.cityId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Населенный пункт"
                                                  :items="dics.town"
                                                  v-model="document.townId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Улица"
                                                      v-model="document.street"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Номер дома"
                                                      v-model="document.homeNumber"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Номер помещения"
                                                      v-model="document.premisesNumber"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Почтовый индекс"
                                                      v-model="document.index"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Номер абонентского ящика"
                                                      v-model="document.indexNum"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Фактический Адрес -->
                                <!-- Контактные данные -->
                                <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                                    Контактные данные
                                </h4>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Номер телефона"
                                                      v-model="document.phoneNum"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Адрес электронной почты"
                                                      v-model="document.email"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- ФИО руководителя уполномоченного органа (организации)-->
                                <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                                    ФИО руководителя уполномоченного органа (организации)
                                </h4>

                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Фамилия"
                                                      v-model="document.directorFirstName"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Имя"
                                                      v-model="document.directorSecondName"
                                                      :rules="rules.required"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-text-field label="Отчество"
                                                      v-model="document.directorThirdName"
                                                      outlined
                                                      required dense></v-text-field>
                                    </v-col>
                                </v-row>
                            </section>


                            <section id="full-power" class="container pa-4 pa-sm-6 pa-md-8 container--fluid">
                                <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                                    <a href="#full-power" class="text-decoration-none text-right text-md-left"> # </a>
                                    Полномочия
                                </h4>
                                <v-row no-gutters>
                                    <v-col>
                                        <v-select label="Вид электронных паспортов на оформление которых уполномочена организация"
                                                  :items="dics.typePassport"
                                                  v-model="document.typePasspprtId"
                                                  clearable
                                                  dense
                                                  hide-selected
                                                  item-text="name"
                                                  item-value="id"
                                                  outlined></v-select>
                                    </v-col>
                                </v-row>

                            </section>
                        </v-form>
                    </v-flex>
                </v-card>
            </v-col>
            <v-col cols="3">
                <v-layout column>
                    <v-container id="docform-nav"
                                 style="position: fixed; top:inherit; width: 256px; left: auto; right: 0;">
                        <v-row nogutter>
                            <v-col>
                                <div class="mb-2 ml-2 text-h6 font-weight-medium text--primary" path="contents">
                                    Управление
                                </div>
                            </v-col>
                        </v-row>

                        <v-row nogutter>
                            <v-col>
                                <v-card-actions>
                                    <v-btn class="mx-2"
                                           color="primary"
                                           @click="save">
                                        Сохранить
                                    </v-btn>
                                    <v-btn class=""
                                           color="secondary"
                                           @click="cancel">
                                        Закрыть
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                        <v-row nogutter>
                            <v-col>
                                <ul class="mb-6">
                                    <li v-for="item in nav.items" :key="item.title"
                                        :class="{
                                                'primary--text router-link-active': item.isActive,
                                                'text--disabled': !item.isActive,
                                                'pl-3': item.level === 1,
                                                'pl-6': item.level === 2,
                                                'pl-9': item.level === 3,
                                                'pl-12': item.level === 4,
                                            }">
                                        <a :href="item.ref"
                                           class="v-toc-link d-block transition-swing text-decoration-none"
                                           @click.prevent.stop="onClick(item.ref, item.id)">
                                            {{ item.title }}
                                        </a>
                                    </li>
                                </ul>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-layout>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import moment from 'moment';
    import axios from 'axios';

    export default Vue.extend({
        name: 'AddOrg',
        props: {
            entityId: String,
        },
        data: () => ({
            valid: true,
            document: {
                docTypeCode: '',
                countryId: null

            },
            rules: {
                required: [
                    value => !!value || 'Поле обязательно для заполнения',
                ]
            },
            controls: {
                docDateMenu: false,
                docStartDateMenu: false,
                docEndDateMenu: false
            },
            dics: {
                countries: [{ "id": "1", "code": "KZ", "name": "Казахстан" }, { "id": "2", "code": "RU", "name": "Россия" }],
                countriesAddr: [{ "id": "1", "code": "KZ", "name": "Казахстан" }, { "id": "2", "code": "RU", "name": "Россия" }],
                organizationalForm: [{ "id": "1", "code": "KZ1000000", "name": "государственное предприятие" },
                    { "id": "2", "code": "KZ2030000", "name": "товарищество с ограниченной ответственностью" },
                    { "id": "3", "code": "KZ2030000", "name": "индивидуальный предприниматель" }
                ],
                regions: [{ "id": "1", "code": "1000000", "name": "Акмолинская область" },
                    { "id": "2", "code": "2000000", "name": "Алматинская область" }
                ],
                district: [{ "id": "1", "code": "0100000", "name": "Есильский район" }],
                city: [{ "id": "1", "code": "0100010", "name": "Астана" }],
                town: [{ "id": "1", "code": "0100020", "name": "Щучинск" }],
                typePassport: [{ "id": "1", "code": "1", "name": "электронный паспорт транспортного средства" },
                    { "id": "2", "code": "2", "name": "электронный паспорт шасси транспортного средства" },
                    { "id": "3", "code": "3", "name": "электронный паспорт самоходной машины или другого вида техники" }
                ]
            },
            nav: {
                hash: '',
                scrolling: true,
                items: [
                    { id: 1, title: 'Уполномоченный орган (организация)', level: 1, ref: '#organization', isActive: true },
                    { id: 2, title: 'Полномочия', level: 1, ref: '#full-power', isActive: false },
                ],
            }
        }),
        watch: {
            //loader() { },
            //'document.docDate': function (val, oldVal) {
            //    this.document.docDateFormatted = this.formatDate(val);
            //},
            //'document.docStartDate': function (val, oldVal) {
            //    this.document.docStartDateFormatted = this.formatDate(val);
            //},
            //'document.docEndDate': function (val, oldVal) {
            //    this.document.docEndDateFormatted = this.formatDate(val);
            //}
        },
        computed: {

        },
        methods: {
            save() {
                    console.log("save")

            },
            cancel() {
                console.log("cancel")
                this.$router.push('/authorized-organization/#')
            },
            reset() {
                (this.$refs.form as any).reset()
            },
            resetValidation() {
                (this.$refs.form as any).resetValidation()
            },
            formatDate(inDate) {

                return inDate
                    ? moment(inDate).format("DD.MM.YYYY")
                    : "";

                //return "";
            },
            async onClick(hash, i) {
                console.log("click")
                if (this.nav.hash === hash) return;

                this.nav.hash = hash;

                window.removeEventListener('scroll', this.onScroll);

                this.nav.scrolling = true;

                this.$router.replace({ path: this.$router.currentRoute.path, hash })

                await this.$vuetify.goTo(hash)

                this.nav.items.forEach(function (item) {
                    item.isActive = item.id == i;
                });

                this.nav.scrolling = false

                window.addEventListener('scroll', this.onScroll);
            },
            onScroll() {
                const currentOffset = (
                    window.pageYOffset ||
                    document.documentElement.offsetTop ||
                    0
                );

                for (const item of this.nav.items) {
                    const section = document.getElementById(item.ref.slice(1));
                    if (section === null) continue;

                    if (section.offsetTop <= currentOffset && section.offsetTop + section.clientHeight > currentOffset) {
                        if (this.nav.hash == item.ref) continue;
                        this.nav.hash = item.ref;

                        item.isActive = true;
                        this.$router.replace({ path: this.$router.currentRoute.path, hash: item.ref })
                    } else {
                        item.isActive = false;
                    }
                }
            },
        },
        //async created() {
        //    this.document.docTypeCode = this.$route.params.docTypeCode;
        //    this.document.id = this.$route.params.id;
        //    if (this.document.docTypeCode == 'otts') {

        //    } else if (this.document.docTypeCode == 'otch') {

        //    } else {
        //        this.$router.push('/compliencedocuments/#')
        //    }

        //    axios.get('/api/Dictionaries/GetNsiValues', { params: { nsiCode: 'nsi034country' } })
        //        .then(response => {
        //            this.dics.countries = response.data;
        //        }).catch(err => {

        //        });

        //    var params = new URLSearchParams();
        //    params.append("orgTypeCodes", "authority");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.authorityOrgs = response.data;
        //        }).catch(err => {

        //        });

        //    params = new URLSearchParams();
        //    params.append("orgTypeCodes", "manufacturer");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.manufacturerOrgs = response.data;
        //        }).catch(err => {

        //        });

        //    params = new URLSearchParams();
        //    params.append("orgTypeCodes", "applicant");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.applicantOrgs = response.data;
        //        }).catch(err => {

        //        });

        //    params = new URLSearchParams();
        //    params.append("orgTypeCodes", "representativemanufacturer");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.representativeManufacturers = response.data;
        //        }).catch(err => {

        //        });

        //    params = new URLSearchParams();
        //    params.append("orgTypeCodes", "assemblyplant");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.assemblyPlants = response.data;
        //        }).catch(err => {

        //        });

        //    params = new URLSearchParams();
        //    params.append("orgTypeCodes", "assemblykitsupplier");
        //    axios.get('/api/Organizations/GetList', { params: params })
        //        .then(response => {
        //            this.dics.assemblyKitSuppliers = response.data;
        //        }).catch(err => {

        //        });

        //    if (this.document.id) {
        //        axios.get('/api/ComplienceDocument/Get', { params: { id: this.document.id } })
        //            .then(response => {
        //                this.document = response.data;
        //                this.document.authority = {
        //                    id: this.document.authorityId,
        //                    name: this.document.authorityName
        //                };
        //                this.document.applicant = {
        //                    id: this.document.applicantId,
        //                    name: this.document.applicantName
        //                };
        //                this.document.manufacturer = {
        //                    id: this.document.manufacturerId,
        //                    name: this.document.manufacturerName
        //                };
        //                this.document.representativeManufacturer = {
        //                    id: this.document.representativeManufacturerId,
        //                    name: this.document.representativeManufacturerName
        //                };
        //                this.document.assemblyPlant = {
        //                    id: this.document.assemblyPlantId,
        //                    name: this.document.assemblyPlantName
        //                };
        //                this.document.assemblyKitSupplier = {
        //                    id: this.document.assemblyKitSupplierId,
        //                    name: this.document.assemblyKitSupplierName
        //                };
        //            }).catch(err => {

        //            });
        //    }
        //    window.addEventListener('scroll', this.onScroll);
        //},
        //destroyed() {
        //    window.removeEventListener('scroll', this.onScroll);
        //},
    });
</script>

<style scoped>
    #docform-nav ul {
        list-style-type: none;
    }

    #docform-nav li {
        border-left: 2px solid #e5e5e5;
    }

    #docform-nav .v-toc-link {
        color: inherit;
    }

    #docform-nav li.router-link-active {
        border-left-color: #1867c0 !important;
    }

    .text-decoration-none {
        text-decoration: none !important;
    }

    .text--disabled {
        color: rgba(0,0,0,.38) !important;
    }

    .v-heading > a:not(:hover):not(:focus) {
        opacity: 0;
    }

    #default-toc li.router-link-active {
        border-left-color: currentColor;
    }

    .primary--text {
        color: #1867c0 !important;
        caret-color: #1867c0 !important;
    }
</style>
