﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="authorizedOrganizationList"
                                      :items-per-page="20"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-card-title>Уполномоченные органы (организация)</v-card-title>
                                <v-toolbar flat>
                                    <v-menu offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn color="primary"
                                                   dark
                                                   class="mb-2"
                                                   @click="create()">
                                                Добавить
                                            </v-btn>
                                        </template>


                                    </v-menu>



                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small
                                        color="blue darken-2"
                                        class="mr-2"
                                        @click="editItem(item)">
                                    mdi-pencil
                                </v-icon>
                                <v-icon small
                                        color="red darken-2"
                                        @click="deleteItem(item)">
                                    mdi-delete
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import axios from 'axios';

    export default Vue.extend({
        name: 'AuthorizedOrganizationList',
        data() {
            return {
                search: '',
                headers: [
                    { text: '', value: 'actions', sortable: false },
                    {
                        text: '№',
                        align: 'start',
                        sortable: true,
                        value: 'organizationNum',
                    },
                    {
                        text: 'Наименование уполномоченного органа', value: 'organizationFullName'
                    },
                    {
                        text: 'БИН/ИИН', value: 'bin-iin'
                    },
                    {
                        text: 'Адрес регистрации', value: 'legalAddress'
                    },
                    {
                        text: 'Фактический адрес', value: 'actualAddress'
                    },
                    {
                        text: 'Номер телефона', value: 'phoneNumber'
                    },
                    {
                        text: 'Email', value: 'email'
                    },
                    {
                        text: 'ФИО руководителя', value: 'directorFullName'
                    },
                    {
                        text: 'Полномочия', value: 'fullPowers'
                    },
                    {
                        text: 'Статус', value: 'status'
                    },
                    {
                        text: 'Автор', value: 'createdUserName'
                    }
                ],
                authorizedOrganizationList: [ ]
            }
        },
        methods: {
            create: function () {
                this.$router.push('/authorized-organization/add');
            },
            editItem: function (item) {
                //this.$router.push('/compliencedocument/' + item.docTypeCode + '/' + item.id);
            },
            deleteItem: function (item) {
                //axios.delete('/api/ComplienceDocument/Delete', {params: {id: item.id}})
                //    .then(response => {
                //        if (response.data) {
                //            this.load();
                //        }
                //    }).catch(err => {

                //    });
            },
            load() {
                //axios.get('/api/ComplienceDocument/GetList')
                //    .then(response => {
                //        this.authorizedOrganizationList = response.data;
                //    }).catch(err => {

                //    });
            }
        },
        async created() {
            this.load();
        }
    })

</script>
