﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            Описание маркировки {{fields.IsEpts!=2?`ТС`:`ШТС`}}
        </h3>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Маркировка{{fields.IsEpts!=2?``:` шасси`}} транспортного средства</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col>
                                    <v-checkbox v-model="fields.eighth.NotManufacturerPlateLocationIndicator.value"
                                                :label="`${fields.eighth.NotManufacturerPlateLocationIndicator.value?'Месторасположение таблички изготовителя отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <div v-for="(input, index) in fields.eighth.ManufacturerPlateLocationList"
                                 v-if="!fields.eighth.NotManufacturerPlateLocationIndicator.value"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col>
                                        <v-autocomplete v-model="input.ManufacturerPlateLocation.value"
                                                        :items="vehicleLabelLocations"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${input.ManufacturerPlateLocation.text}`"
                                                        required
                                                        v-if="hasDefinedProperties"
                                                        :rules="rules.select"
                                                        persistent-hint>
                                        </v-autocomplete>
                                        <v-text-field v-model="input.ManufacturerPlateLocation.value"
                                                      v-else
                                                      :rules="fieldRules"
                                                      required
                                                      :label="`${input.ManufacturerPlateLocation.text}`"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <template>
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addManufacturerPlateLocation(input, fields.eighth.ManufacturerPlateLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeManufacturerPlateLocation(index, fields.eighth.ManufacturerPlateLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </template>
                                    </v-col>
                                </v-row>
                            </div>
                            <div v-for="(input, index) in fields.eighth.VehicleIdentLocationList"
                                 :key="`inputL-${index}`"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col>
                                        <v-autocomplete v-model="input.VehicleIdentLocation.value"
                                                        :items="vehicleIdentificationNumberLocations"
                                                        item-text="value"
                                                        item-value="key"
                                                        v-if="hasDefinedProperties"
                                                        :label="`${input.VehicleIdentLocation.text}`"
                                                        :required="input.VehicleIdentLocation.necessary"
                                                        :rules="input.VehicleIdentLocation.necessary?rules.select:[]"
                                                        persistent-hint>
                                        </v-autocomplete>
                                        <v-text-field v-model="input.VehicleIdentLocation.value"
                                                      v-else
                                                      :rules="fieldRules"
                                                      required
                                                      :label="`${input.VehicleIdentLocation.text}`"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <template>
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addIdentLocation(input, fields.eighth.VehicleIdentLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeIdentLocation(index, fields.eighth.VehicleIdentLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </template>
                                    </v-col>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <template v-if="fields.first.VehicleEPassportBaseCode.value != '03' && (fields.second.VehicleIdentityNumberIndicator.value != 2 || !!fields.second.NotVehicleIdentityNumberIndicator.value)">
                <v-text-field v-model="vehicleIdentStructure"
                              :rules="fieldRules1"
                              disabled
                              required
                              label="Структура и содержание идентификационного номера транспортного средства"></v-text-field>
                <v-row justify="center"
                       v-if="showVehicleStructureCard"
                       v-for="(inputCard, indexCard) in fields.eighth.VehicleStructureCardList"
                       :key="`inputCard-${indexCard}`"
                       ref="inputCardRef">
                    <v-col cols="12">
                        <v-card>
                            <v-card-title class="grey">
                                <span>Структура и содержание идентификационного номера{{fields.IsEpts!=2?``:` шасси`}} транспортного средства</span>
                                <v-spacer></v-spacer>
                                <!--          Add Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="addCard(inputCard, fields.eighth.VehicleStructureCardList)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!inputCard.StartDate.disabled"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="green"
                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                </svg>

                                <!--          Remove Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="removeCard(indexCard, fields.eighth.VehicleStructureCardList)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!inputCard.StartDate.disabled"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="#EC4899"
                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                </svg>
                            </v-card-title>
                            <v-card-text class="pt-2">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Группа</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="inputCard.StartDate.value"
                                                      label="С"
                                                      type="number"
                                                      :disabled="inputCard.StartDate.disabled"
                                                      required
                                                      :rules="[rules.minmax(inputCard.StartDate.value, 1, 17)]"></v-text-field>
                                    </v-col>
                                    <v-col>

                                        <v-text-field v-model="inputCard.EndDate.value"
                                                      label="По"
                                                      type="number"
                                                      :disabled="inputCard.StartDate.disabled"
                                                      required
                                                      :rules="[rules.minmax(inputCard.EndDate.value, 1, 17)]"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-text-field v-model="inputCard.Description.value"
                                              :rules="fieldRules"
                                              :disabled="!!inputCard.Description.disabled"
                                              required
                                              label="Описание"></v-text-field>
                                <v-row v-for="(input, index) in inputCard.MeaningExplanationList"
                                       :key="`input-${index}`"
                                       class="input wrapper flex items-center">
                                    <v-col>
                                        <v-text-field v-model="input.Meaning.value"
                                                      :rules="fieldRules"
                                                      :disabled="inputCard.StartDate.disabled"
                                                      required
                                                      label="Значение"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="input.Explanation.value"
                                                      :rules="input.Explanation.necessary == true?fieldRules:[]"
                                                      :disabled="!!input.Explanation.disabled"
                                                      :required="input.Explanation.necessary"
                                                      label="Расшифровка"></v-text-field>
                                    </v-col>
                                    <v-col class="mt-4">
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addField(input, inputCard.MeaningExplanationList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!inputCard.StartDate.disabled"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeField(index, inputCard.MeaningExplanationList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!inputCard.StartDate.disabled"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateEighthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || `Поле должно быть в пределах от ${min} до ${max}`;
                    }
                },
                valid: true,
                hasDefinedProperties: false,
                showVehicleStructureCard: true,
                vehicleIdentificationNumberLocations: [],
                vehicleLabelLocations: [],
                vehicleIdentStructure: '',
                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async addManufacturerPlateLocation(value, fieldType) {

            fieldType.push({ ManufacturerPlateLocation: { value: '', text: 'Месторасположение таблички изготовителя', necessary: true } });
        }

        async removeManufacturerPlateLocation(index, fieldType) {
            if (this.$props.fields.eighth.ManufacturerPlateLocationList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addIdentLocation(value, fieldType) {

            fieldType.push({ VehicleIdentLocation: { value: '', text: 'Месторасположение идентификационного номера транспортного средства', necessary: false } });
        }

        async removeIdentLocation(index, fieldType) {
            if (this.$props.fields.eighth.VehicleIdentLocationList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        // async addPlateLocation(value, fieldType) {
        //     fieldType.push({ ManufacturerPlateLocation: { value: '', text: 'Месторасположение таблички изготовителя', necessary: true } });
        // }
        //
        // async removePlateLocation(index, fieldType) {
        //     if (this.$props.fields.eighth.PlateLocationList.length == 1) {
        //         this.$props.show_messageParent("Нельзя удалять все");
        //         return
        //     }
        //     fieldType.splice(index, 1);
        // }
        //
        // async addVehicleIdentLocation(value, fieldType) {
        //     fieldType.push({ VehicleIdentLocation: { value: '', text: 'Месторасположение идентификационного номера транспортного средства', necessary: true } });
        // }
        //
        // async removeVehicleIdentLocation(index, fieldType) {
        //     if (this.$props.fields.eighth.PlateLocationList.length == 1) {
        //         this.$props.show_messageParent("Нельзя удалять все");
        //         return
        //     }
        //     fieldType.splice(index, 1);
        // }

        async addCard(value, fieldType) {
            fieldType.push({
                menuStartDate: false,
                menuEndDate: false,
                StartDate: { value: '', text: 'С', necessary: true, disabled: false },
                EndDate: { value: '', text: 'По', necessary: true },
                Description: { value: '', text: 'Описание', necessary: true, disabled: false },
                MeaningExplanationList: [{
                    Explanation: { value: '', text: 'Расшифровка', necessary: true, disabled: false },
                    Meaning: { value: '', text: 'Значение', necessary: true }
                }],
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.fields.eighth.VehicleStructureCardList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }



        async addField(value, fieldType) {
            fieldType.push({
                Explanation: { value: '', text: 'Расшифровка', necessary: true },
                Meaning: { value: '', text: 'Значение', necessary: true }
            });
        }

        async removeField(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        @Watch("fields.second.VehicleIdentityNumberId.value")
        async VehicleIdentityNumberIdChanged(newVal) {
            this.$data.vehicleIdentStructure = newVal;
        }

        @Watch("fields.eighth.NotManufacturerPlateLocationIndicator.value")
        async NotManufacturerPlateLocationIndicatorChanged(newVal) {
            if (!!newVal) {
                this.$props.fields.eighth.ManufacturerPlateLocationList = [{ ManufacturerPlateLocation: { value: '', text: 'Месторасположение таблички изготовителя', necessary: true } }]
            }
        }

        async mounted() {
            this.$root.$on("showVehicleStructureCard", (arg1) => {
                this.$data.showVehicleStructureCard = arg1;
            });
            this.$root.$on("VehicleIdentStructureDoc2", (data) => {
                this.$data.hasDefinedProperties = true;
                this.$data.vehicleIdentificationNumberLocations = data?.vehicleLabelingDetail?.vehicleIdentificationNumberLocations.map(item => { return { key: item.locationText, value: item.locationText } });
                this.$data.vehicleLabelLocations = data?.vehicleLabelingDetail?.vehicleLabelLocations.map(item => { return { key: item.locationText, value: item.locationText } })

                if (this.$data.vehicleIdentificationNumberLocations.length > 0)
                    this.$props.fields.eighth.VehicleIdentLocationList = this.$data.vehicleIdentificationNumberLocations.map(x => {
                        return {
                            VehicleIdentLocation: { value: x.key, text: 'Месторасположение идентификационного номера транспортного средства', necessary: false }
                        }
                    });

                if (this.$data.vehicleLabelLocations.length > 0) {
                    this.$props.fields.eighth.ManufacturerPlateLocationList = this.$data.vehicleLabelLocations.map(x => {
                        return {
                            ManufacturerPlateLocation: { value: x.key, text: 'Месторасположение таблички изготовителя', necessary: false }
                        }
                    });
                }
                this.$props.fields.eighth.NotManufacturerPlateLocationIndicator.value = data?.vehicleLabelingDetail?.notManufacturerPlateIndicatorSign
            });

            this.$root.$on("MarkTSIdentStructureDoc", (data) => {
                let tempVehicleStructureCardList: object[] = []
                data.forEach(vinCharacterDetail => {
                    if (vinCharacterDetail?.cardData?.vinCharacterDescriptions?.length > 0) {
                        let item = {
                            StartDate: { value: '', text: 'С', necessary: true, disabled: true },
                            EndDate: { value: '', text: 'По', necessary: true },
                            Description: { value: '', text: 'Описание', necessary: true, disabled: !vinCharacterDetail.cardData.customTxt },
                            MeaningExplanationList: []
                        }
                        item.StartDate.value = vinCharacterDetail.cardData.idCharacterStartingOrdinal
                        item.EndDate.value = vinCharacterDetail.cardData.idCharacterEndingOrdinal
                        item.Description.value = vinCharacterDetail.cardData.idCharacterText

                        vinCharacterDetail.cardData.vinCharacterDescriptions.forEach(function (vinCharacterDescription) {
                            if (item.Description.value == "Производственный номер транспортного средства") {
                                vinCharacterDescription.idCharacterValue.split("").forEach(letter => {
                                    let innerItem = {
                                        Explanation: { value: '', text: 'Расшифровка', necessary: false, disabled: !vinCharacterDetail.cardData.customTxt },
                                        Meaning: { value: '', text: 'Значение', necessary: true }
                                    }
                                    innerItem.Explanation.value = 'Производственный номер' //vinCharacterDescription.idCharacterValueText ??
                                    innerItem.Meaning.value = letter;
                                    (item.MeaningExplanationList as any).push(innerItem)
                                })
                            } else {
                                let innerItem = {
                                    Explanation: { value: '', text: 'Расшифровка', necessary: true, disabled: !vinCharacterDetail.cardData.customTxt },
                                    Meaning: { value: '', text: 'Значение', necessary: true }
                                }
                                if (item.Description.value == "Контрольный символ")
                                    innerItem.Explanation.value = "Контрольный символ";
                                else
                                    innerItem.Explanation.value = vinCharacterDescription.idCharacterValueText
                                innerItem.Meaning.value = vinCharacterDescription.idCharacterValue;
                                (item.MeaningExplanationList as any).push(innerItem)
                            }
                        });
                        tempVehicleStructureCardList.push(item)
                    }
                })
                this.$props.fields.eighth.VehicleStructureCardList = tempVehicleStructureCardList
            })
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("showVehicleStructureCard");
            this.$root.$off("VehicleIdentStructureDoc2");
            this.$root.$off("MarkTSIdentStructureDoc");
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            //console.log(this.$props.fields.eighth)
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>