﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            Сведения о транспортном средстве
        </h3>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Изготовитель и его адрес</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Организация</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <v-checkbox v-model="fields.fifth.NotManufacturerIndicator.value"
                                        v-if="!['30','35','40'].includes(fields.first.DocKindCode.value)"
                                        :label="`Не являюсь изготовителем`"></v-checkbox>
                            <v-btn color="red lighten-2"
                                   v-if="!disableOrganization"
                                   dark>
                                Добавить организацию в реестр
                            </v-btn>
                            <v-autocomplete v-model="fields.fifth.ManufactureOrganizationId.value"
                                            :items="nsisData.ManufactureOrganizationIdNsis"
                                            item-text="value"
                                            item-value="key"
                                            :required="fields.first.VehicleEPassportBaseCode.value!='03'"
                                            :rules="fields.first.VehicleEPassportBaseCode.value!='03'?rules.select:[]"
                                            :disabled="disableOrganization"
                                            label="Организация"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-text-field v-model="fields.fifth.FullManufactureOrganizationName.value"
                                          :required="fields.first.VehicleEPassportBaseCode.value!='03'"
                                          :rules="fields.first.VehicleEPassportBaseCode.value!='03'?fieldRules:[]"
                                          disabled
                                          label="Полное наименование организации"></v-text-field>
                            <v-text-field v-model="fields.fifth.ShortManufactureOrganizationName.value"
                                          :required="fields.fifth.ShortManufactureOrganizationName.necessary"
                                          :rules="fields.fifth.ShortManufactureOrganizationName.necessary?fieldRules:[]"
                                          disabled
                                          label="Краткое наименование организации"></v-text-field>
                            <v-text-field v-model="fields.fifth.ManufactureIinBin.value"
                                          :required="fields.fifth.ManufactureIinBin.necessary || fields.first.VehicleEPassportBaseCode.value=='01'"
                                          :rules="fields.fifth.ManufactureIinBin.necessary || fields.first.VehicleEPassportBaseCode.value=='01'?fieldRules:[]"
                                          disabled
                                          label="БИН/ИИН"></v-text-field>
                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Адрес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <v-text-field v-model="fields.fifth.ManufactureJuridicalAddress.value"
                                          :required="fields.fifth.ManufactureJuridicalAddress.necessary"
                                          :rules="fields.fifth.ManufactureJuridicalAddress.necessary?fieldRules:[]"
                                          disabled
                                          label="Юридический адрес"></v-text-field>
                            <v-text-field v-model="fields.fifth.ManufactureActualAddress.value"
                                          :required="fields.fifth.ManufactureActualAddress.necessary"
                                          :rules="fields.fifth.ManufactureActualAddress.necessary?fieldRules:[]"
                                          disabled
                                          label="Фактический адрес"></v-text-field>
                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Контактные данные</span></v-col><v-col><v-divider class="mt-4"></v-divider></v-col>
                            </v-row>
                            <v-row v-for="(input, index) in fields.fifth.ManufacturePhones"
                                :key="`input-${index}`">
                                <v-text-field v-model="input.ManufacturePhone.value"
                                              :required="input.ManufacturePhone.necessary"
                                              :rules="input.ManufacturePhone.necessary?fieldRules:[]"
                                              disabled
                                              label="Телефон"></v-text-field>
                            </v-row>
                            <v-row v-for="(input1, index1) in fields.fifth.ManufactureEmails"
                                :key="`input1-${index1}`">
                                <v-text-field v-model="input1.ManufactureEmail.value"
                                              :required="input1.ManufactureEmail.necessary"
                                              :rules="input1.ManufactureEmail.necessary?[fieldRules[0], rules.email]:[]"
                                              disabled
                                              label="Электронная почта"></v-text-field>
                            </v-row>
                            <v-row v-for="(input2, index2) in fields.fifth.ManufactureFaxs"
                                :key="`input2-${index2}`">
                                <v-text-field v-model="input2.ManufactureFax.value"
                                              :required="input2.ManufactureFax.necessary"
                                              :rules="input2.ManufactureFax.necessary?fieldRules:[]"
                                              disabled
                                              label="Телефакс"></v-text-field>
                            </v-row>
                        </v-card-text>
            </v-card>
            </v-col>
            </v-row>

        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { watch } from 'fs';
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import OrganizationService from '@/services/registries/organization.service';

    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateFifthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Неправильный формат e-mail.'
                    }
                },

                valid: true,
                disableOrganization: true,
                orgs: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        @Watch('fields.fifth.NotManufacturerIndicator.value')
        async NotManufacturerIndicatorChanged(newVal) {
            if (newVal) {
                this.$data.disableOrganization = false
                this.$props.fields.fifth.FullManufactureOrganizationName.value = ''
                this.$props.fields.fifth.ShortManufactureOrganizationName.value = ''
                this.$props.fields.fifth.ManufactureIinBin.value = ''
                this.$props.fields.fifth.ManufactureJuridicalAddress.value = ''
                this.$props.fields.fifth.ManufactureActualAddress.value = ''
                this.$props.fields.fifth.ManufacturePhones= [{ ManufacturePhone: { value: '', text: 'Телефон', necessary: false } }]
                this.$props.fields.fifth.ManufactureEmails= [{ ManufactureEmail: { value: '', text: 'Электронная почта', necessary: false } }]
                this.$props.fields.fifth.ManufactureFaxs= [{ ManufactureFax: { value: '', text: 'Телефакс', necessary: false } }]
            }
        };

        @Watch('fields.fifth.ManufactureOrganizationId.value')
        async organizationChanged(newVal) {
            // Get from controller org data and set to fields
            if (this.$props.fields.disableByExistDoc) return;
            let data = this.$data.orgs.filter(x => x.id == newVal)
            if (data.length > 0) data = data[0]
            else return;
            this.$props.fields.fifth.ManufactureOrganizationId.value = data.id
            this.$props.fields.fifth.FullManufactureOrganizationName.value = data.name
            this.$props.fields.fifth.ShortManufactureOrganizationName.value = data.name
            this.$props.fields.fifth.ManufactureIinBin.value = data.bin
            this.$props.fields.fifth.ManufactureJuridicalAddress.value = data.juridicalAddress
            this.$props.fields.fifth.ManufactureActualAddress.value = data.factAddress
            this.$props.fields.fifth.ManufacturePhones = [{ ManufacturePhone: { value: data.phones, text: 'Телефон', necessary: false } }]
            this.$props.fields.fifth.ManufactureEmails = [{ ManufactureEmail: { value: data.emails, text: 'Электронная почта', necessary: false } }]
            this.$props.fields.fifth.ManufactureFaxs = [{ ManufactureFax: { value: data.faxes, text: 'Телефакс', necessary: false } }]
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
            var params = new URLSearchParams();
            params.append("orgTypeCodes", "manufacturer");
            params.append("orgTypeCodes", "authority");
            params.append("orgTypeCodes", "applicant");
            params.append("orgTypeCodes", "representativemanufacturer");
            params.append("orgTypeCodes", "assemblyplant");
            params.append("orgTypeCodes", "assemblykitsupplier");
            params.append("orgTypeCodes", "laboratory");
            const fetchOrgs: any = await OrganizationService.getList(params);
            this.$data.orgs = fetchOrgs.data;
            this.$props.nsisData.ManufactureOrganizationIdNsis = fetchOrgs.data.map(function (org) { return { key: org.id, value: org.name } });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>