﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            {{fields.IsEpts!=2?title:title2}}
        </h3>
        <v-form ref="form2"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title v-if="!fields.first.documentNotExists.value" class="grey">Документ, подтверждающий соответствие объязательным требованиям безопасности</v-card-title>
                        <v-card-title v-else class="grey">Транспортное средство</v-card-title>
                        <v-card-text class="pt-2">
                            <div v-if="!fields.first.documentNotExists.value">
                                <v-autocomplete v-model="fields.third.DocKindCode.value"
                                                :items="nsisData.DocKindCodeNsis"
                                                item-text="value"
                                                item-value="key"
                                                :required="fields.third.DocKindCode.necessary"
                                                :rules="fields.third.DocKindCode.necessary?rules.select:[]"
                                                :label="`${fields.third.DocKindCode.text}`"
                                                persistent-hint
                                                :disabled="fields.disableByExistDoc">
                                </v-autocomplete>
                                <v-text-field v-model="DocNumber"
                                              label="Номер документа"
                                              :disabled="fields.disableByExistDoc"
                                              :required="DocNumber"
                                              :rules="fieldRules"></v-text-field>
                                <v-row justify="center" v-if="fields.first.DocKindCode.value != '40'">
                                    <v-col>
                                        <v-menu ref="menuStartDate"
                                                v-model="menuStartDate"
                                                :close-on-content-click="false"
                                                :return-value.sync="fields.third.StartDate.value"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field v-model="fields.third.StartDate.value"
                                                              :label="`${fields.third.StartDate.text}`"
                                                              :required="fields.third.StartDate.necessary"
                                                              :rules="fields.third.StartDate.necessary?fieldRules:[]"
                                                              prepend-icon="mdi-calendar"
                                                              :disabled="fields.disableByExistDoc"
                                                              readonly
                                                              v-bind="attrs"
                                                              v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="fields.third.StartDate.value"
                                                           no-title
                                                           scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text
                                                       color="primary"
                                                       @click="menuStartDate = false">
                                                    Cancel
                                                </v-btn>
                                                <v-btn text
                                                       color="primary"
                                                       @click="$refs.menuStartDate.save(fields.third.StartDate.value)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col>
                                        <v-menu ref="menuDocValidityDate"
                                                v-model="menuDocValidityDate"
                                                :close-on-content-click="false"
                                                :return-value.sync="fields.third.DocValidityDate.value"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field v-model="fields.third.DocValidityDate.value"
                                                              :label="`${fields.third.DocValidityDate.text}`"
                                                              :required="fields.third.DocValidityDate.necessary"
                                                              :rules="fields.third.DocValidityDate.necessary?fieldRules:[]"
                                                              :disabled="fields.disableByExistDoc"
                                                              prepend-icon="mdi-calendar"
                                                              readonly
                                                              v-bind="attrs"
                                                              v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="fields.third.DocValidityDate.value"
                                                           no-title
                                                           scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text
                                                       color="primary"
                                                       @click="menuDocValidityDate = false">
                                                    Cancel
                                                </v-btn>
                                                <v-btn text
                                                       color="primary"
                                                       @click="$refs.menuDocValidityDate.save(fields.third.DocValidityDate.value)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                                <v-menu ref="menuDocCreationDate"
                                        v-model="menuDocCreationDate"
                                        :close-on-content-click="false"
                                        :return-value.sync="fields.third.DocCreationDate.value"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field v-model="fields.third.DocCreationDate.value"
                                                      :label="`${fields.third.DocCreationDate.text}`"
                                                      :required="fields.third.DocCreationDate.necessary"
                                                      :disabled="fields.disableByExistDoc"
                                                      :rules="fields.third.DocCreationDate.necessary?fieldRules:[]"
                                                      prepend-icon="mdi-calendar"
                                                      readonly
                                                      v-bind="attrs"
                                                      v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="fields.third.DocCreationDate.value"
                                                   no-title
                                                   scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn text
                                               color="primary"
                                               @click="menuDocCreationDate = false">
                                            Cancel
                                        </v-btn>
                                        <v-btn text
                                               color="primary"
                                               @click="$refs.menuDocCreationDate.save(fields.third.DocCreationDate.value)">
                                            OK
                                        </v-btn>
                                    </v-date-picker>
                                </v-menu>
                                <v-text-field v-model="fields.third.AuthorityName.value"
                                              :label="`${fields.third.AuthorityName.text}`"
                                              :disabled="fields.disableByExistDoc"
                                              :required="fields.third.AuthorityName.necessary"
                                              :rules="fields.third.AuthorityName.necessary?fieldRules:[]"></v-text-field>
                                <v-divider></v-divider>
                            </div>
                            <v-row justify="center">
                                <v-col v-if="!fields.third.NotVehicleMakeNameIndicator.value">
                                    <v-autocomplete v-model="fields.third.VehicleMakeName.value"
                                                    :items="VehicleMakeNameNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.third.VehicleMakeName.text}`"
                                                    :required="fields.third.VehicleMakeName.necessary"
                                                    :rules="fields.third.VehicleMakeName.necessary?rules.select:[]"
                                                    persistent-hint>
                                    </v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.third.NotVehicleMakeNameIndicator.value"
                                                :disabled="fields.disableByExistDoc"
                                                :label="`${fields.third.NotVehicleMakeNameIndicator.value?'Марка отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col v-if="!fields.third.NotVehicleCommercialNameIndicator.value">
                                    <v-autocomplete v-model="fields.third.VehicleCommercialName.value"
                                                    :items="commercialNames"
                                                    item-text="value"
                                                    item-value="key"
                                                    v-if="['30','35','40'].includes(fields.first.DocKindCode.value)"
                                                    :required="fields.third.VehicleCommercialName.necessary"
                                                    :rules="fields.third.VehicleCommercialName.necessary?fieldRules:[]"
                                                    :label="`${fields.third.VehicleCommercialName.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                    <v-text-field v-model="fields.third.VehicleCommercialName.value"
                                                  :label="`${fields.third.VehicleCommercialName.text}`"
                                                  :required="fields.third.VehicleCommercialName.necessary"
                                                  v-else
                                                  :rules="fields.third.VehicleCommercialName.necessary?fieldRules:[]"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.third.NotVehicleCommercialNameIndicator.value"
                                                :disabled="fields.disableByExistDoc"
                                                :label="`${fields.third.NotVehicleCommercialNameIndicator.value?'Коммерческое наименование отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-autocomplete v-model="fields.third.VehicleTypeId.value"
                                            :items="types"
                                            item-text="value"
                                            item-value="key"
                                            v-if="['30','35','40'].includes(fields.first.DocKindCode.value)"
                                            :required="fields.first.VehicleEPassportBaseCode.value == '01'"
                                            :rules="fields.first.VehicleEPassportBaseCode.value == '01'?fieldRules:[]"
                                            :label="`${fields.third.VehicleTypeId.text}`"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-text-field v-model="fields.third.VehicleTypeId.value"
                                          :label="`${fields.third.VehicleTypeId.text}`"
                                          :required="fields.third.VehicleTypeId.necessary"
                                          v-else
                                          :rules="fields.third.VehicleTypeId.necessary?fieldRules:[]"></v-text-field>
                            <v-row justify="center" v-if="fields.first.DocKindCode.value != '40'">
                                <v-col v-if="!fields.third.notVehicleModificationIndicator.value">
                                    <v-text-field v-model="fields.third.VehicleTypeVariantId.value"
                                                  :label="`${fields.third.VehicleTypeVariantId.text}`"
                                                  :required="fields.third.VehicleTypeVariantId.necessary"
                                                  v-if="nsisData.VehicleTypeVarianNsis.length == 0"
                                                  :disabled="fields.disableByExistDoc"
                                                  :rules="fields.third.VehicleTypeVariantId.necessary?fieldRules:[]"></v-text-field>
                                    <v-autocomplete v-model="fields.third.VehicleTypeVariantId.value"
                                                    :items="nsisData.VehicleTypeVarianNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    v-else
                                                    :required="fields.third.VehicleTypeVariantId.necessary"
                                                    :rules="fields.third.VehicleTypeVariantId.necessary?rules.select:[]"
                                                    :label="`${fields.third.VehicleTypeVariantId.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.third.notVehicleModificationIndicator.value"
                                                :label="`${fields.third.notVehicleModificationIndicator.value?'Модификация отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>

                            <v-autocomplete v-model="fields.third.VehicleTechCategoryCode.value"
                                            :items="nsisData.VehicleTechCategoryCodeNsis"
                                            item-text="value"
                                            item-value="key"
                                            :required="fields.third.VehicleTechCategoryCode.necessary"
                                            :rules="fields.third.VehicleTechCategoryCode.necessary?rules.select:[]"
                                            :label="`${fields.third.VehicleTechCategoryCode.text}`"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-autocomplete v-model="fields.third.VehicleClassCategoryCode.value"
                                            :items="VehicleClassCategoryCodeList.length>0?VehicleClassCategoryCodeList:nsisData.VehicleClassCategoryCodeNsis"
                                            item-text="value"
                                            item-value="key"
                                            v-if="isTechCategoryCodeIs_M2_M3"
                                            :required="fields.third.VehicleClassCategoryCode.necessary"
                                            :rules="fields.third.VehicleClassCategoryCode.necessary?rules.select:[]"
                                            :label="`${fields.third.VehicleClassCategoryCode.text}`"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-row v-if="fields.IsEpts!=3">
                                <v-col v-if="!fields.third.NotVehicleEcoClassCodeIndicator.value">
                                    <v-autocomplete v-model="fields.third.VehicleEcoClassCode.value"
                                                    :items="nsisData.VehicleEcoClassCodeNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :required="fields.third.VehicleEcoClassCode.necessary"
                                                    :rules="fields.third.VehicleEcoClassCode.necessary?rules.select:[]"
                                                    :label="`${fields.third.VehicleEcoClassCode.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.third.NotVehicleEcoClassCodeIndicator.value"
                                                :disabled="EcoClassCodeIndicatorDisabled || fields.disableByExistDoc"
                                                :label="`${fields.third.NotVehicleEcoClassCodeIndicator.value?fields.third.VehicleEcoClassCode.text+' отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-autocomplete v-model="fields.third.VehicleManufactureOption.value"
                                            v-if="fields.first.DocKindCode.value == '35'"
                                            :items="nsisData.VehicleManufactureOptionNsis"
                                            item-text="value"
                                            item-value="key"
                                            :required="fields.third.VehicleManufactureOption.necessary"
                                            :rules="fields.third.VehicleManufactureOption.necessary?rules.select:[]"
                                            :label="`${fields.third.VehicleManufactureOption.text}`"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateThirdStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                title: "Сведения о транспортном средстве",
                title2: "Сведения о шасси транспортного средства",

                valid: true,
                menuDocDateHandy: false,
                menuStartDate: false,
                menuDocValidityDate: false,
                menuDocCreationDate: false,

                commercialNames: [],
                types: [],

                VehicleMakeNameNsis: [],
                VehicleClassCategoryCodeList:[],
                // fields
                DocNumber: "",
                EcoClassCodeIndicatorDisabled: false,
                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };
        get isTechCategoryCodeIs_M2_M3(): boolean {
            if (this.$props.fields.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m2') || this.$props.fields.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3')) {
                return true;
            }
            return false;
        }
        created() {
            //console.log("l", this.$parent)
        };

        @Watch("fields.third.NotVehicleEcoClassCodeIndicator.value")
        async NotVehicleEcoClassCodeIndicatorChanged(newVal) {
            if (!!newVal) {
                this.$props.fields.third.VehicleEcoClassCode.value = '';
            }
        }

        @Watch("fields.third.VehicleTechCategoryCode.value")
        async VehicleTechCategoryCodeChanged(newVal) {
            if (newVal?.toLowerCase().includes("l") || newVal?.toLowerCase().includes("o")) {
                this.$data.EcoClassCodeIndicatorDisabled = true;
                this.$props.fields.third.NotVehicleEcoClassCodeIndicator.value = true;
            } else {
                this.$data.EcoClassCodeIndicatorDisabled = false;
            }
        }

        @Watch("nsisData.VehicleMakeNameNsis")
        async changeVehicleMakeNameNsis(newVal) {
            this.$data.VehicleMakeNameNsis = newVal;
        }

        async updated() {
            //this.$data.VehicleMakeNameNsis = this.$props.nsisData.VehicleMakeNameNsis;
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                this.$data.VehicleClassCategoryCodeList = [];
                (this.$refs?.form2 as any)?.reset()
            })
            
            this.$root.$on("TSInformation", (data) => {
                this.$props.fields.third.DocKindCode.value = this.$props.fields.first.DocKindCode.value;//data?.docTypeCode
                this.$data.DocNumber = data?.docNumber
                this.$props.fields.third.StartDate.value = data?.docStartDate
                this.$props.fields.third.DocValidityDate.value = data?.docEndDate
                this.$props.fields.third.DocCreationDate.value = data?.docDate
                this.$props.fields.third.AuthorityName.value = data?.authorityName
                
                if (data?.vehicleTypeDetail.commercialNames.length > 0)
                    this.$data.commercialNames = data?.vehicleTypeDetail.commercialNames.map(item => { return { key: item.commercialName, value: item.commercialName } })
                if (data?.vehicleTypeDetail.commercialNames.length == 1)
                    this.$props.fields.third.VehicleCommercialName.value = data?.vehicleTypeDetail.commercialNames[0].commercialName
                if (data?.vehicleTypeDetail.types.length > 0)
                    this.$data.types = data?.vehicleTypeDetail.types.map(item => { return { key: item.typeValue, value: item.typeValue } })
                if (data?.vehicleTypeDetail.types.length == 1) 
                    this.$props.fields.third.VehicleTypeId.value = data?.vehicleTypeDetail.types[0].typeValue
                if (data?.vehicleTypeDetail.makes.length == 1)
                    this.$props.fields.third.VehicleMakeName.value = data?.vehicleTypeDetail.makes[0].dicCode
                this.$props.fields.third.NotVehicleMakeNameIndicator.value = data?.vehicleTypeDetail.notVehicleMakeNameIndicator
                this.$props.fields.third.NotVehicleCommercialNameIndicator.value = data?.vehicleTypeDetail.notVehicleCommercialNameIndicator
                this.$props.fields.third.NotVehicleEcoClassCodeIndicator.value = data?.vehicleTypeDetail.notVehicleEcoClassCategoryIndicator

                if (data?.vehicleTypeDetail.notVehicleModificationIndicator == 0) {
                    if (Array.isArray(data?.vehicleTypeDetail.modifications) && data?.vehicleTypeDetail.modifications.length > 0) {
                        this.$props.nsisData.VehicleTypeVarianNsis = ([...new Map(data?.vehicleTypeDetail.modifications.map(item => [item['name'], item])).values()])
                            .map(item => { return { key: (item as any).id.toString(), value: (item as any).name } });
                    }
                } else {
                    this.$props.fields.third.notVehicleModificationIndicator.value = data?.vehicleTypeDetail.notVehicleModificationIndicator
                }

                let makes = data?.vehicleTypeDetail.makes.map(item => item.dicCode);
                let techCategories = data?.vehicleTypeDetail.techCategories.map(item => item.dicCode);
                let ecoClasses = data?.vehicleTypeDetail.ecoClasses.map(item => item.dicCode);
                let chassisDesigns = data?.vehicleTypeDetail.chassisDesigns.map(item => item.dicCode);
                this.$data.VehicleMakeNameNsis = this.$props.nsisData.VehicleMakeNameNsis.filter(item => makes.includes(item.key));
                //this.$props.nsisData.VehicleMakeNameNsis = this.$props.nsisData.VehicleMakeNameNsis.filter(item => makes.includes(item.key));
                this.$props.nsisData.VehicleTechCategoryCodeNsis = this.$props.nsisData.VehicleTechCategoryCodeNsis.filter(item => techCategories.includes(item.key));
                this.$data.VehicleClassCategoryCodeList = data.vehicleTypeDetail?.classCategories?.map(x => { return { key: x.dicCode, value: x.dicName } })
                this.$props.nsisData.VehicleEcoClassCodeNsis = this.$props.nsisData.VehicleEcoClassCodeNsis.filter(item => ecoClasses.includes(item.key));
                this.$props.nsisData.VehicleManufactureOptionNsis = this.$props.nsisData.VehicleManufactureOptionNsis.filter(item => chassisDesigns.includes(item.key));

            })

        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("TSInformation");
        }

        async validate() {
            if ((this.$refs.form2 as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>