﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Основание оформления электронного паспорта</v-card-title>
                        <v-card-text class="pt-2">
                            <v-radio-group v-model="fields.first.VehicleEPassportBaseCode.value"
                                           :disabled="fields.savedSignId != ''">
                                <v-radio v-for="n in nsisData.issueDPBaseList"
                                         :key="n.key"
                                         :label="`${n.value}`"
                                         :value="n.key"
                                         ></v-radio>
                            </v-radio-group>
                            <v-text-field v-model="fields.first.VehicleEPassportBaseDescription.value"
                                          :label="`${fields.first.VehicleEPassportBaseDescription.text}`"
                                          v-if="fields.first.VehicleEPassportBaseCode.value==4"
                                          :disabled="fields.savedSignId != ''"
                                          :rules="fields.first.VehicleEPassportBaseDescription.necessary?fieldRules:[]"
                                          v-bind:required="fields.first.VehicleEPassportBaseCode.value==4"></v-text-field>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Документ, подтверждающий соответствие обязательным требованиям безопасности</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row justify="center" v-if="!fields.first.documentNotExists.value">
                                <v-col cols="6">
                                    <v-autocomplete v-model="fields.first.DocKindCode.value"
                                                    :items="nsisData.DocKindCodeNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.first.DocKindCode.text}`"
                                                    :disabled="fields.savedSignId != ''"
                                                    persistent-hint
                                                    v-bind:required="!fields.first.documentNotExists.value"
                                                    :rules="rules.select"
                                                    >
                                    </v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocDateFrom.value"
                                                  :label="`${fields.first.DocDateFrom.text}`"
                                                  v-bind:required="!fields.first.documentNotExists.value"
                                                  disabled></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocDateTo.value"
                                                  :label="`${fields.first.DocDateTo.text}`"
                                                  v-bind:required="!fields.first.documentNotExists.value"
                                                  disabled></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row justify="center" v-if="!fields.first.documentNotExists.value">
                                <v-col cols="6">
                                    <v-autocomplete v-model="fields.first.ComplienceDocumentId.value"
                                                    :items="nsisData.DocIds"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.first.ComplienceDocumentId.text}`"
                                                    :disabled="fields.savedSignId != ''"
                                                    persistent-hint
                                                    v-bind:required="!fields.first.documentNotExists.value"
                                                    :rules="rules.select"
                                                    ></v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.AuthorityName.value"
                                                  :label="`${fields.first.AuthorityName.text}`"
                                                  v-bind:required="!fields.first.documentNotExists.value"
                                                  disabled></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row justify="center" v-if="fields.first.VehicleEPassportBaseCode.value!=1">
                                <v-col>
                                    <v-checkbox v-model="fields.first.documentNotExists.value"
                                                :label="`${fields.first.documentNotExists.text}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center" v-if="fields.first.documentNotExists.value">
                                <v-autocomplete v-model="fields.first.DocumentNotExistDescription.value"
                                                :items="nsisData.DocumentNotExistDescriptionNsis"
                                                item-text="value"
                                                item-value="key"
                                                :label="`${fields.first.DocumentNotExistDescription.text}`"
                                                persistent-hint
                                                v-bind:required="fields.first.documentNotExists.value"
                                                :rules="rules.select"
                                                ></v-autocomplete>

                            </v-row>
                            <v-row justify="center" v-if="batchCount">
                                <v-col>
                                    <div 
                                         v-text="`Количество штук в партии - ${batchCount}`">
                                    </div>
                                    <div 
                                         v-text="`Количество оформленных ЭПТС - ${batchUsedCount}`">
                                    </div>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center" v-if="fields.first.documentNotExists.value">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Сведения о документе, подтверждающем оформление электронного паспорта при отсутствии документа, подтверждающего соответствие объязательным требованиям безопасности</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-autocomplete v-model="fields.first.DocKindCodeHandy.value"
                                              :items="nsisData.DocKindDocumentNotExistNsis"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${fields.first.DocKindCodeHandy.text}`"
                                              persistent-hint
                                              v-bind:required="fields.first.documentNotExists.value"
                                              :rules="rules.select"></v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocNameHandy.value"
                                                  :label="`${fields.first.DocNameHandy.text}`"
                                                  :required="fields.first.DocNameHandy.necessary"
                                                  :rules="fields.first.DocNameHandy.necessary?fieldRules:[]"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-text-field v-model="fields.first.DocAuthorHandy.value"
                                                  :label="`${fields.first.DocAuthorHandy.text}`"
                                                  v-bind:required="fields.first.documentNotExists.value"
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocIdHandy.value"
                                                  :label="`${fields.first.DocIdHandy.text}`"
                                                  v-bind:required="fields.first.documentNotExists.value"
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-menu ref="menuDocDateHandy"
                                            v-model="menuDocDateHandy"
                                            :close-on-content-click="false"
                                            :return-value.sync="fields.first.DocDateHandy.value"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="auto">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field v-model="fields.first.DocDateHandy.value"
                                                          :label="`${fields.first.DocDateHandy.text}`"
                                                          prepend-icon="mdi-calendar"
                                                          readonly
                                                          v-bind:required="fields.first.documentNotExists.value"
                                                          :rules="fieldRules"
                                                          v-bind="attrs"
                                                          v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="fields.first.DocDateHandy.value"
                                                       no-title
                                                       scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text
                                                   color="primary"
                                                   @click="menuDocDateHandy = false">
                                                Cancel
                                            </v-btn>
                                            <v-btn text
                                                   color="primary"
                                                   @click="$refs.menuDocDateHandy.save(fields.first.DocDateHandy.value)">
                                                OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-text-field v-model="fields.first.DocPageCountHandy.value"
                                                  :label="`${fields.first.DocPageCountHandy.text}`">
                                    </v-text-field>

                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import WeatherForm from '@/components/WeatherForm.vue'; // @ is an alias to /src
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { ComplienceDocFilterModel } from '@/models/documents/complience/ComplienceDocFilter.model';
    import ComplienceService from '@/services/document/complience.service';
    import DpassportService from '@/services/document/dpassport.service';
    @Component({
        props: {
            fields: Object,
            nsisData: Object,
            alldetailsDownload: Function
        },
        components: {
            HelloWorld: () => import(`@/components/${JSON.parse(localStorage.getItem('user') as string).role == null ? '' : JSON.parse(localStorage.getItem('user') as string).role.toLowerCase() + '/'}HelloWorld`),
            WeatherForm
        },
    })
    export default class CreateFirstStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                loading: true,
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },

                modal: false,
                modal2: false,

                valid: true,
                menuDocDateHandy: false,

                ecoClassesArchive: [],
                techCategoriesArchive: [],
                makesArchive: [],
                chassisDesignsArchive: [],
                wheelsFormulaArchive: [],
                PoweredWheelLocationArchive: [],

                batchCount: null,
                batchUsedCount: null,

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        @Watch("fields.first.VehicleEPassportBaseCode.value")
        async issueDPBaseChanged(newVal) {
            console.log("вид документа: ", this.$props.fields.first.DocKindCode.value);
            console.log("номер документа: ", this.$props.fields.first.ComplienceDocumentId.value)
            //this.$root.$emit("ResetAllForms", '');
            this.$props.fields.first.VehicleEPassportBaseDescription.value = ''
            this.$root.$emit("setDigitalPassportIssueBase", newVal);
            if (newVal == "01") {
                this.$props.fields.first.documentNotExists.value = false;
            }
            if (newVal == "03") {
                this.$props.fields.first.documentNotExists.value = true;
            }
        };

        @Watch("fields.first.documentNotExists.value")
        async documentNotExistsChanged(newVal) {
            console.log(newVal)
            //if (!newVal) return
            this.$props.fields.first.DocKindCode.value = ''
            this.$props.fields.first.ComplienceDocumentId.value = ''
            //this.$root.$emit("ResetAllForms", '');
        }

        @Watch("fields.first.DocKindCode.value")
        async DocKindCodeChanged(newVal) {
            console.log("DocKindCode: ", newVal)
            this.$props.nsisData.DocIds = [];
            //this.$root.$emit("ResetAllForms", '');
            if (!['30', '35', '40'].includes(newVal)) return
            if (newVal == '40' && this.$props.fields.first.VehicleEPassportBaseCode.value != "02") return;
            this.$data.loading = true
            let request = new PagedSortRequestModel(
                0
                , 10000
                , ['']
                , ['0']
                , {
                    typeCode: this.getDocTypeSpecialCode(newVal),
                    statusCode: 'active'
                });
            ComplienceService.getList(request)
                .then(response => {
                    this.$props.nsisData.DocIds = response.data.data.map(item => { return { key: item.id, value: item.docNumber } });
                    //this.total = response.data.total;
                    this.$data.loading = false
                }).catch(err => {
                    this.$data.loading = false
                });
        }

        @Watch("fields.first.ComplienceDocumentId.value")
        async DocIdChanged(newVal) {
            if (!['30', '35', '40'].includes(this.$props.fields.first.DocKindCode.value)) return
            //console.log('ComplienceDocumentId: ', newVal)
            if (this.$data.ecoClassesArchive.length > 0)
                this.$props.nsisData.VehicleEcoClassCodeNsis = [...this.$data.ecoClassesArchive];
            if (this.$data.techCategoriesArchive.length > 0)
                this.$props.nsisData.VehicleTechCategoryCodeNsis = [...this.$data.techCategoriesArchive];
            if (this.$data.makesArchive.length > 0)
                this.$props.nsisData.VehicleMakeNameNsis = [...this.$data.makesArchive];
            if (this.$data.chassisDesignsArchive.length > 0)
                this.$props.nsisData.VehicleManufactureOptionNsis = [...this.$data.chassisDesignsArchive];
            if (this.$data.wheelsFormulaArchive.length > 0)
                this.$props.nsisData.wheelsFormulaList = [...this.$data.wheelsFormulaArchive];
            if (this.$data.PoweredWheelLocationArchive.length > 0)
                this.$props.nsisData.PoweredWheelLocationList = [...this.$data.PoweredWheelLocationArchive];

            this.$root.$emit("ResetAllForms", '');
            ////////////////

            if (newVal == '') return
            this.$data.loading = true
            this.$props.fields.nextButtonLoading = true
            let Caracteristics = ComplienceService.get(newVal).then(response => {
                this.FillBaseFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let LabelingDetails = ComplienceService.getLabelDetailsByDocId(newVal).then(response => {
                this.FillLabelingFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let OrganizationDetails = ComplienceService.getOrganizationDetailsByDocId(newVal).then(response => {
                this.FillOrganizationFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let RunningGearDetails = ComplienceService.getVehicleRunningGearDetailsByDocId(newVal).then(response => {
                this.FillWheelFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let BodyworkDetails = ComplienceService.getVehicleBodyworkDetailsByDocId(newVal).then(response => {
                this.FillBodyworkFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let SeatDetails = ComplienceService.getVehicleSeatDetailsByDocId(newVal).then(response => {
                this.FillSeatFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let LayoutDetails = ComplienceService.getVehicleLayoutDetailsByDocId(newVal).then(response => {
                this.FillLayoutFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let DimensionDetails = ComplienceService.getVehicleDimensionDetailsByDocId(newVal).then(response => {
                this.FillDimensionFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let AxleDetails = ComplienceService.getVehicleAxleDetailsByDocId(newVal).then(response => {
                this.FillAxleFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let WeightDetails = ComplienceService.getVehicleWeightDetailsByDocId(newVal).then(response => {
                this.FillWeightFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let EngineDetail = ComplienceService.getEngineDetailsByDocId(newVal).then(response => {
                this.FillEngineFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let PowerStorage = ComplienceService.getPowerStorageDeviceDetailsByDocId(newVal).then(response => {
                this.FillPowerStorageFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let ElectricalMachine = ComplienceService.getElectricalMachineDetailsByDocId(newVal).then(response => {
                this.FillElectricalFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let ClutchDetail = ComplienceService.getVehicleClutchDetailsByDocId(newVal).then(response => {
                this.FillClutchFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let TransmissionTypes = ComplienceService.getTransmissionTypesByDocId(newVal).then(response => {
                this.FillTransmissionFields(response.data)
            }).catch(err => {
                console.log(err)
            });
            let SuspensionDetail = ComplienceService.getVehicleSuspensionDetailsByDocId(newVal).then(response => {
                this.FillSuspensionFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let SteeringDetails = ComplienceService.getVehicleSteeringDetailsByDocId(newVal).then(response => {
                this.FillSteeringFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let BrakingSystemDetails = ComplienceService.getVehicleBrakingSystemDetailsByDocId(newVal).then(response => {
                this.FillBrakingFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let TyreKindInfo = ComplienceService.getVehicleTyreKindInfosByDocId(newVal).then(response => {
                this.FillTyreKindFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let EquipmentInfos = ComplienceService.getVehicleEquipmentInfosByDocId(newVal).then(response => {
                this.FillEquipmentInfosFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let AdditionalData = ComplienceService.getAdditionalDataByDocId(newVal).then(response => {
                this.FillAdditionalDataFields(response.data);
            }).catch(err => {
                console.log(err)
            });
            let GeneralViewData = ComplienceService.getGeneralViewsByDocId(newVal).then(response => {
                this.FillGeneralViewFields(response.data);
            }).catch(err => {
                console.log(err)
            });

            let BatchCountData = DpassportService.getBatchUsedCount(newVal).then(response => {
                this.$data.batchUsedCount = response.data;
            }).catch(err => {
                console.log(err)
            });

            Promise.all([LabelingDetails, Caracteristics, RunningGearDetails, OrganizationDetails, BodyworkDetails, SeatDetails, LayoutDetails, DimensionDetails, AxleDetails, WeightDetails, EngineDetail, ElectricalMachine,
                ClutchDetail, TransmissionTypes, SuspensionDetail, SteeringDetails, BrakingSystemDetails, TyreKindInfo, EquipmentInfos, AdditionalData, GeneralViewData, BatchCountData, PowerStorage
            ]).then(values => {
                //console.log('all: ', values)
                this.$props.fields.nextButtonLoading = false
                this.$data.loading = false
                if (this.$props.fields.savedSignId != '' || this.$props.fields.viewId != '') this.$props.alldetailsDownload();
                    //this.$root.$emit("AllDetailsDownload", 1);
            }, reason => {
                console.log(reason)
                this.$props.fields.nextButtonLoading = false
                this.$props.show_messageParent(reason);
                this.$data.loading = false
            });

        }

        getDocTypeSpecialCode(id: string): string {
            if (id == '30') return 'otts'
            if (id == '35') return 'otch'
            if (id == '40') return 'sbkts'
            return '';
        }

        async FillBaseFields(data) {
            this.$data.ecoClassesArchive = [...this.$props.nsisData.VehicleEcoClassCodeNsis];
            this.$data.chassisDesignsArchive = [...this.$props.nsisData.VehicleManufactureOptionNsis];
            this.$props.fields.disableByExistDoc = true;
            this.$props.fields.first.DocDateFrom.value = data?.docStartDate
            this.$props.fields.first.DocDateTo.value = data?.docEndDate
            this.$props.fields.first.AuthorityName.value = data?.authorityName
            this.$data.batchCount = data?.batchCount
            if (this.$props.fields.first.DocKindCode.value == '40' && data.vehicleTypeDetail.yearIssue != '' && data.vehicleTypeDetail.yearIssue != null)
                this.$props.fields.second.ManufactureYear.value = data.vehicleTypeDetail.yearIssue
            if (this.$props.fields.first.DocKindCode.value == '40' && data.vehicleTypeDetail?.baseVehicleTypeDetails?.length > 0 && data.vehicleTypeDetail.baseVehicleTypeDetails[0].vin != null)
                this.$props.fields.second.VehicleFrameIdentityNumberId.value = data.vehicleTypeDetail.baseVehicleTypeDetails[0].vin
            //3
            this.$root.$emit("TSInformation", data);
            //4 ?????????
            this.$root.$emit("BaseVehicleCard", data?.vehicleTypeDetail);

        }
        async FillLabelingFields(data) {
            this.$root.$emit("VehicleIdentStructureDoc", data);
        }

        async FillWheelFields(data) {
            if (data?.length > 0) {
                // вроде пока не нужно
                this.$data.wheelsFormulaArchive = [...this.$props.nsisData.wheelsFormulaList];
                this.$data.PoweredWheelLocationArchive = [...this.$props.nsisData.PoweredWheelLocationList];
                //this.$props.fields.disableByExistWheel = true;

                this.$props.fields.WheelDocExist = true
                let arr = data.map(wheel => wheel.vehicleWheelLocation)
                const s = new Set(arr);
                this.$props.nsisData.VehicleWheelLocationQuantityList = [...s];

                const arrayUniqueByAxel = [...new Map(data.map(item =>
                    [item['vehicleAxleQuantity'], item])).values()];
                this.$props.nsisData.VehicleWheelAxelQuantityList = arrayUniqueByAxel.map(arritem => { return { key: (arritem as any).vehicleAxleQuantity, value: (arritem as any).vehicleAxleQuantity } });

                const arrayUniqueByQuantity = [...new Map(data.map(item =>
                    [item['vehicleWheelQuantity'], item])).values()];
                this.$props.nsisData.VehicleWheelQuantityList = arrayUniqueByQuantity.map(arritem => { return { key: (arritem as any).vehicleWheelQuantity, value: (arritem as any).vehicleWheelQuantity } });

                const arrayUniqueByFormulaCode = [...new Map(data.map(item =>
                    [item['vehicleWheelFormulaCode'], item])).values()];
                this.$props.nsisData.wheelsFormulaList = arrayUniqueByFormulaCode.map(arritem => { return { key: (arritem as any).vehicleWheelFormulaCode, value: (arritem as any).vehicleWheelFormulaName } });
                this.$props.nsisData.tempPoweredWheelLocationList = [...data]

            }
        }

        async FillBodyworkFields(data) {
            this.$root.$emit("BodyworkDoc", data);
        }

        async FillOrganizationFields(data) {
            //adding org from data temporary
            this.$props.nsisData.ManufactureOrganizationIdNsis.push({ key: data.manufacturer?.id, value: data.manufacturer?.name });
            this.$props.nsisData.ManufactureOrganizationIdNsis.push({ key: data.representativeManufacturer?.id, value: data.representativeManufacturer?.name });
            this.$props.nsisData.ManufactureOrganizationIdNsis.push({ key: data.assemblyPlant?.id, value: data.assemblyPlant?.name });


            this.$props.fields.fifth.ManufactureOrganizationId.value = data.manufacturer?.id
            this.$props.fields.fifth.FullManufactureOrganizationName.value = data.manufacturer?.name
            this.$props.fields.fifth.ShortManufactureOrganizationName.value = data.manufacturer?.name
            this.$props.fields.fifth.ManufactureIinBin.value = data.manufacturer?.bin
            this.$props.fields.fifth.ManufactureJuridicalAddress.value = data.manufacturer?.juridicalAddress
            this.$props.fields.fifth.ManufactureActualAddress.value = data.manufacturer?.factAddress
            this.$props.fields.fifth.ManufacturePhones = data.manufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "TE")
                .map(item => { return { ManufacturePhone: { value: item.communicationValue, text: 'Телефон', necessary: false } } })
            this.$props.fields.fifth.ManufactureEmails = data.manufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "EM")
                .map(item => { return { ManufactureEmail: { value: item.communicationValue, text: 'Электронная почта', necessary: false } } })
            this.$props.fields.fifth.ManufactureFaxs = data.manufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "FX")
                .map(item => { return { ManufactureFax: { value: item.communicationValue, text: 'Телефакс', necessary: false } } })

            this.$props.fields.sixth.NotExistIndicator.value = data.notRepresentativeManufacturerIndicator
            this.$props.fields.sixth.MemberOrganizationList = this.$props.fields.sixth.MemberOrganizationList.slice(0, 1);
            this.$props.fields.sixth.MemberOrganizationList[0].MemberOrganizationId.value = data.representativeManufacturer?.id ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].FullMemberOrganizationName.value = data.representativeManufacturer?.name ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].ShortMemberOrganizationName.value = data.representativeManufacturer?.name ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].MemberIinBin.value = data.representativeManufacturer?.bin ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].MemberJuridicalAddress.value = data.representativeManufacturer?.juridicalAddress ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].MemberActualAddress.value = data.representativeManufacturer?.factAddress ?? ''
            this.$props.fields.sixth.MemberOrganizationList[0].MemberPhones = data.representativeManufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "TE")
                .map(item => { return { MemberPhone: { value: item.communicationValue, text: 'Телефон', necessary: false } } })
            this.$props.fields.sixth.MemberOrganizationList[0].MemberEmails = data.representativeManufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "EM")
                .map(item => { return { MemberEmail: { value: item.communicationValue, text: 'Электронная почта', necessary: false } } })
            this.$props.fields.sixth.MemberOrganizationList[0].MemberFaxs = data.representativeManufacturer?.communicationInfos.filter(x => x.communicationTypeCode == "FX")
                .map(item => { return { MemberFax: { value: item.communicationValue, text: 'Телефакс', necessary: false } } })

            this.$props.fields.seventh.NotExistIndicator.value = data.notAssemblyPlantIndicator
            this.$props.fields.seventh.AssemblerOrganizationList = this.$props.fields.seventh.AssemblerOrganizationList.slice(0, 1);
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerOrganizationId.value = data.assemblyPlant?.id
            this.$props.fields.seventh.AssemblerOrganizationList[0].FullAssemblerOrganizationName.value = data.assemblyPlant?.name
            this.$props.fields.seventh.AssemblerOrganizationList[0].ShortAssemblerOrganizationName.value = data.assemblyPlant?.name
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerIinBin.value = data.assemblyPlant?.bin
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerJuridicalAddress.value = data.assemblyPlant?.juridicalAddress
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerActualAddress.value = data.assemblyPlant?.factAddress
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerPhones = data.assemblyPlant?.communicationInfos.filter(x => x.communicationTypeCode == "TE")
                .map(item => { return { AssemblerPhone: { value: item.communicationValue, text: 'Телефон', necessary: false } } })
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerEmails = data.assemblyPlant?.communicationInfos.filter(x => x.communicationTypeCode == "EM")
                .map(item => { return { AssemblerEmail: { value: item.communicationValue, text: 'Электронная почта', necessary: false } } })
            this.$props.fields.seventh.AssemblerOrganizationList[0].AssemblerFaxs = data.assemblyPlant?.communicationInfos.filter(x => x.communicationTypeCode == "FX")
                .map(item => { return { AssemblerFax: { value: item.communicationValue, text: 'Телефакс', necessary: false } } })
        }

        async FillSeatFields(data) {
            if (data?.length == 0) return
            this.$props.fields.SeatDocExist = true;
            this.$props.nsisData.SeatQuantityList = data;
        }

        async FillLayoutFields(data) {
            this.$props.fields.LayoutDocExist = true;
            this.$root.$emit("LayoutDoc", data);
        }

        async FillDimensionFields(data) {
            //this.$props.fields.LayoutDocExist = true;
            this.$root.$emit("DimensionDoc", data);
        }

        async FillAxleFields(data) {
            this.$root.$emit("AxleDoc", data.vehicleAxleDetails);
        }

        async FillWeightFields(data) {
            this.$root.$emit("WeightDoc", data);
        }

        async FillEngineFields(data) {
            this.$props.fields.EngineDocExist = true
            this.$props.fields.tenth.NotVehicleEngineIndicator.value = data.notEngineDetailIndicator;

            this.$props.fields.tenth.VehicleEngineType.value = data?.engineTypeCode ?? "1"
            this.$root.$emit("EngineDoc", data);
        }

        async FillPowerStorageFields(data) {
            this.$props.fields.PowerStorageDocExist = true
            this.$root.$emit("PowerStorageDoc", data);
        }

        async FillElectricalFields(data) {
            if (data.electricalMachineDetails.length > 0) {
                if (data.electricalMachineDetails.filter(item => item.electricalMachineKindCode == '01').length > 0) {
                    this.$props.fields.ElectricalEngineDocExist = true
                    this.$root.$emit("ElectricalEngineDoc", data);
                }
                if (data.electricalMachineDetails.filter(item => item.electricalMachineKindCode != '01').length > 0) {
                    this.$props.fields.ElectricalMachineDocExist = true
                    this.$root.$emit("ElectricalMachineDoc", data);
                }
            }
        }

        async FillTransmissionFields(data) {
            this.$root.$emit("TransmissionDoc", data);
        }

        async FillClutchFields(data) {
            this.$root.$emit("ClutchDoc", data);
        }

        async FillSuspensionFields(data) {
            this.$root.$emit("SuspensionDoc", data);
        }

        async FillBrakingFields(data) {
            this.$root.$emit("BrakingDoc", data);
        }

        async FillSteeringFields(data) {
            this.$root.$emit("SteeringDoc", data);
        }

        async FillTyreKindFields(data) {
            this.$root.$emit("TyreKindDoc", data);
        }

        async FillEquipmentInfosFields(data) {
            this.$root.$emit("EquipmentInfosDoc", data);
        }

        async FillAdditionalDataFields(data) {
            this.$root.$emit("AdditionalDoc", data);
        }

        async FillGeneralViewFields(data) {
            this.$root.$emit("GeneralViewDoc", data);
        }
        created() {
            
        };

        getUniqueArray(nsi, anyarray) {

        }

        async mounted() {
            
            this.$root.$on("ResetAllForms", (arg1) => {
                this.$props.fields.first.DocDateFrom.value = ''
                this.$props.fields.first.DocDateTo.value = ''
                this.$props.fields.first.AuthorityName.value = ''
                this.$props.fields.first.DocumentNotExistDescription.value = ''
                this.$props.fields.first.DocKindCodeHandy.value = ''
                this.$props.fields.first.DocNameHandy.value = ''
                this.$props.fields.first.DocAuthorHandy.value = ''
                this.$props.fields.first.DocIdHandy.value = ''
                this.$props.fields.first.DocDateHandy.value = ''
                this.$props.fields.first.DocPageCountHandy.value = ''
                //this.$props.fields.first.documentNotExists.value = false

                this.$props.fields.disableByExistDoc = false;
                this.$props.fields.WheelDocExist = false;
                this.$props.nsisData.VehicleWheelLocationQuantityList = []
                this.$props.nsisData.SeatQuantityList = []
                this.$props.fields.EngineDocExist = false;
                this.$props.fields.ElectricalEngineDocExist = false
                this.$props.fields.ElectricalMachineDocExist = false
                this.$props.fields.PowerStorageDocExist = false
                this.$props.fields.ClutchDoc = false
                this.$props.fields.SuspensioDoc = false
                this.$props.fields.SteeringDoc = false
                this.$props.fields.BrakingDoc = false
                this.$props.fields.TyreKindDoc = false
                this.$props.fields.EquipmentInfosDoc = false
                this.$props.fields.AdditionalDataDoc = false
                this.$props.fields.TransmissionDoc = false
                this.$props.fields.MainGearShow = true
                this.$props.fields.TransferGearShow = true
                this.$props.fields.GearBoxShow = true
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
        }
        


        async validate() {
            //this.$props.show_messageParent("Выберите основание оформления электронного паспорта");
            if ((this.$refs.form as any).validate()) {
                if (this.$data.batchCount != null && this.$data.batchCount <= this.$data.batchUsedCount) {
                    this.$props.show_messageParent(`Количество электронных паспортов не может превышать ${this.$data.batchCount}`);
                    return false;
                }
                if (this.$props.fields.first.VehicleEPassportBaseCode.value == "") {
                    this.$props.show_messageParent("Выберите основание оформления электронного паспорта");
                    return false;
                }
                if (this.$props.fields.first.DocKindCode.value == '40' && this.$props.fields.first.VehicleEPassportBaseCode.value != "02") {
                    this.$props.show_messageParent("Выбранное основание оформления электронного паспорта не соответсвует СБКТС");
                    return false;
                }
                return true;
            }

            return false;
        }


    }

</script>