﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            Сведения о транспортном средстве
        </h3>
        <v-form ref="form2"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Базовое транспортное средство (шасси)</v-card-title>
                        <v-card-text class="pt-2">
                            <v-checkbox v-model="fields.fourth.NotBaseVehicleIndicator.value"
                                        :disabled="fields.disableByExistDoc"
                                        :label="`${fields.fourth.NotBaseVehicleIndicator.text}`"></v-checkbox>
                            <template v-if="!fields.fourth.NotBaseVehicleIndicator.value">
                                <v-autocomplete v-model="currentBaseVehicle"
                                                :items="currentBaseVehicleList"
                                                v-if="currentBaseVehicleList.length > 0"
                                                item-text="value"
                                                item-value="key"
                                                :required="true"
                                                :rules="fields.fourth.BaseVehicleMakeName.necessary?rules.select:[]"
                                                :label="`Выберите базовое тс`"
                                                persistent-hint
                                                >
                                </v-autocomplete>
                                <v-row justify="center">
                                    <v-col>
                                        <v-autocomplete v-model="fields.fourth.BaseVehicleMakeName.value"
                                                        :items="nsisData.VehicleMakeNameNsis"
                                                        item-text="value"
                                                        :disabled="fields.disableByExistDoc"
                                                        item-value="key"
                                                        :required="fields.fourth.BaseVehicleMakeName.necessary"
                                                        :rules="fields.fourth.BaseVehicleMakeName.necessary?rules.select:[]"
                                                        :label="`${fields.fourth.BaseVehicleMakeName.text}`"
                                                        persistent-hint
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>

                                <v-text-field v-model="fields.fourth.BaseVehicleTypeId.value"
                                              :label="`${fields.fourth.BaseVehicleTypeId.text}`"
                                              :disabled="fields.disableByExistDoc"
                                              :required="fields.fourth.BaseVehicleTypeId.necessary"
                                              :rules="fields.fourth.BaseVehicleTypeId.necessary?fieldRules:[]"></v-text-field>
                                <v-text-field v-model="fields.fourth.BaseVehicleCommercialName.value"
                                              :label="`${fields.fourth.BaseVehicleCommercialName.text}`"
                                              :disabled="fields.disableByExistDoc"
                                              :required="fields.fourth.BaseVehicleCommercialName.necessary"
                                              :rules="fields.fourth.BaseVehicleCommercialName.necessary?fieldRules:[]"></v-text-field>
                                <v-text-field v-model="fields.fourth.BaseVehicleTypeVariantId.value"
                                              :label="`${fields.fourth.BaseVehicleTypeVariantId.text}`"
                                              :disabled="fields.disableByExistDoc"
                                              :required="fields.fourth.BaseVehicleTypeVariantId.necessary"
                                              :rules="fields.fourth.BaseVehicleTypeVariantId.necessary?fieldRules:[]"></v-text-field>
                                <v-radio-group v-model="fields.fourth.BaseDocIndicator.value"
                                               mandatory
                                               >
                                    <v-radio label="Электронный паспорт"
                                             :value="true"></v-radio>
                                    <v-radio label="Бумажный паспорт"
                                             :value="false"></v-radio>
                                </v-radio-group>


                                <v-dialog v-model="dialog"
                                          v-if="!!fields.fourth.BaseDocIndicator.value"
                                          width="500">
                                    <template v-slot:activator="{ on }">
                                        <v-btn color="red lighten-2"
                                               dark
                                               v-on="on">
                                            Поиск ЭП в базе
                                        </v-btn>
                                    </template>

                                    <v-card>
                                        <v-card-title class="headline grey lighten-2"
                                                      primary-title>
                                            Поиск электронного паспорта в базе
                                        </v-card-title>

                                        <v-card-text>
                                            <v-row>
                                                <v-col>
                                                    <v-radio-group v-model="dpNotIdent"
                                                                   mandatory>
                                                        <v-radio label="Номер электронного паспорта"
                                                                 value="0"></v-radio>
                                                        <v-radio label="Идентификационный номер"
                                                                 value="1"></v-radio>
                                                    </v-radio-group>
                                                </v-col>
                                                <v-col v-if="dpNotIdent==0">
                                                    <v-text-field v-model="BaseVehicleEPassportIdSearch"
                                                                    label="Номер электронного паспорта"></v-text-field>
                                                </v-col>
                                                <v-col v-if="dpNotIdent==1">
                                                    <v-text-field v-model="BaseIdentSearch"
                                                                    label="Идентификационный номер"></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>

                                        <v-divider></v-divider>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary"
                                                   :loading="SearchDialogLoading"
                                                   @click="SearchDialog">
                                                Поиск
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    <v-card>
                                        <v-card-title class="headline grey lighten-2"
                                                      primary-title>
                                            Результаты поиска
                                        </v-card-title>

                                        <v-card-text>
                                            <v-row>
                                                <v-col>
                                                    <v-text-field v-model="BaseVehicleEPassportIdResult"
                                                                  disabled
                                                                  label="Номер электронного паспорта"></v-text-field>
                                                </v-col>
                                                <v-col>
                                                    <v-text-field v-model="BaseDocCreationDateResult"
                                                                  disabled
                                                                  label="Дата оформления паспорта"></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>

                                        <v-divider></v-divider>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary"
                                                   v-if="0==1"
                                                   @click="ShowResult">
                                                Просмотреть
                                            </v-btn>
                                            <v-btn color="primary"
                                                   v-if="BaseVehicleEPassportIdResult != ''"
                                                   @click="AddResult">
                                                Добавить сведения
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>

                                <v-text-field v-model="fields.fourth.BaseVehicleEPassportId.value"
                                              :label="`${!!fields.fourth.BaseDocIndicator.value?fields.fourth.BaseVehicleEPassportId.text:fields.fourth.BaseVehicleEPassportId.text2}`"
                                              :disabled="!!fields.fourth.BaseDocIndicator.value"
                                              :required="!!fields.fourth.BaseDocIndicator.value"
                                              :rules="!!fields.fourth.BaseDocIndicator.value?fieldRules:[]"></v-text-field>
                                <v-menu ref="menuBaseDocCreationDate"
                                        v-model="menuBaseDocCreationDate"
                                        :close-on-content-click="false"
                                        :return-value.sync="fields.fourth.BaseDocCreationDate.value"
                                        transition="scale-transition"
                                        offset-y
                                        :disabled="!!fields.fourth.BaseDocIndicator.value"
                                        min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field v-model="fields.fourth.BaseDocCreationDate.value"
                                                      :label="`${fields.fourth.BaseDocCreationDate.text}`"
                                                      prepend-icon="mdi-calendar"
                                                      readonly
                                                      :disabled="!!fields.fourth.BaseDocIndicator.value"
                                                      :required="!!fields.fourth.BaseDocIndicator.value"
                                                      :rules="!!fields.fourth.BaseDocIndicator.value?fieldRules:[]"
                                                      v-bind="attrs"
                                                      v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="fields.fourth.BaseDocCreationDate.value"
                                                   no-title
                                                   scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn text
                                               color="primary"
                                               @click="menuBaseDocCreationDate = false">
                                            Cancel
                                        </v-btn>
                                        <v-btn text
                                               color="primary"
                                               @click="$refs.menuBaseDocCreationDate.save(fields.fourth.BaseDocCreationDate.value)">
                                            OK
                                        </v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import DpassportService from '@/services/document/dpassport.service';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateFourthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },

                valid: true,
                menuBaseDocCreationDate: false,
                dialog: false,
                // dialog
                BaseVehicleEPassportIdSearch: '',
                BaseIdentSearch: '',
                BaseVehicleEPassportIdResult: '',
                BaseDocCreationDateResult: '',
                BaseCommercialName: '',

                // fields
                currentBaseVehicle: [],
                currentBaseVehicleList: [],
                BaseVehicleData: [],
                dpNotIdent: 0,
                SearchDialogLoading: false,
                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };
        @Watch("fields.fourth.BaseDocIndicator.value")
        async BaseDocIndicatorChanged(newVal) {
            if (newVal == undefined) {
                this.$props.fields.fourth.BaseDocIndicator.value = true
            }
            this.$props.fields.fourth.BaseVehicleEPassportId.value = ''
            this.$props.fields.fourth.BaseDocCreationDate.value = ''
        };

        @Watch("currentBaseVehicle")
        async currentBaseVehicleChanged(newVal) {
            if (!!newVal) {
                let data = this.$data.BaseVehicleData.filter(item => item.id == newVal);
                if (data.length > 0) {
                    data = data[0];
                    this.$props.fields.fourth.BaseVehicleMakeName.value = data.makeCode
                    this.$props.fields.fourth.BaseVehicleTypeId.value = data.type
                    this.$props.fields.fourth.BaseVehicleCommercialName.value = data.commercialName
                    this.$props.fields.fourth.BaseVehicleTypeVariantId.value = data.modification
                }
            }
        };

        @Watch("dpNotIdent")
        async dpNotIdentChanged(newVal) {
            this.$data.BaseCommercialName = '';
            this.$data.BaseVehicleEPassportIdResult = '';
            this.$data.BaseDocCreationDateResult = '';
        }
        created() {
            //console.log("l", this.$parent)
        };

        async validate() {
            if ((this.$refs.form2 as any).validate()) {
                return true;
            }

            return false;
        }

        async ShowResult() {
            // TODO shift to page based on found info
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form2 as any)?.reset()
            })
            this.$root.$on("BaseVehicleCard", (vehicleTypeDetail) => {

                //console.log(this.$props.nsisData.VehicleMakeNameNsis);
                this.$data.BaseVehicleData = vehicleTypeDetail?.baseVehicleTypeDetails;
                this.$props.fields.fourth.NotBaseVehicleIndicator.value = vehicleTypeDetail.notBaseVehicleTypeDetailIndicator
                if (!!!vehicleTypeDetail.notBaseVehicleTypeDetailIndicator) {
                    this.$data.currentBaseVehicleList = vehicleTypeDetail.baseVehicleTypeDetails.map(item => {
                        return { key: item.id, value: `Модификация: ${item.modification ?? "---"}, тип: ${item.type ?? "---"}` }
                    })
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("BaseVehicleCard");
        }

        async AddResult() {
            if (this.$data.BaseVehicleEPassportIdResult == '' && this.$data.BaseDocCreationDateResult == '') {
                this.$props.show_messageParent("Для поиска необходимо ввести значения");
                return;
            }
            if (this.$data.BaseCommercialName != this.$props.fields.fourth.BaseVehicleCommercialName.value) {
                this.$props.show_messageParent("Коммерческиое название не совпадает!");
            } else {
                this.$props.fields.fourth.BaseVehicleEPassportId.value = this.$data.BaseVehicleEPassportIdResult
                this.$props.fields.fourth.BaseDocCreationDate.value = this.$data.BaseDocCreationDateResult
                this.$data.dialog = false;
            }

        }


        async SearchDialog() {
            if ((this.$data.dpNotIdent == 0 && this.$data.BaseVehicleEPassportIdSearch == '') || (this.$data.dpNotIdent == 1 && this.$data.BaseIdentSearch == '')) {
                this.$props.show_messageParent("Для поиска необходимо ввести значения");
                return;
            }
            // TODO search
            console.log(this.$data.dpNotIdent)
            let dataSeek = ""
            this.$data.SearchDialogLoading = true;
            //dpNotIdent 1 - uniqueCode, 0 - vinCode
            if (this.$data.dpNotIdent == 0)
                DpassportService.getDPassportByUniqCode(this.$data.BaseVehicleEPassportIdSearch).then(response => {
                    this.FoundProcessing(response);
                }).catch(err => {
                    this.$props.show_messageParent(`Ошибка: ${err}`);
                    console.log(err)
                }).finally(() => {
                    this.$data.SearchDialogLoading = false;
                });
            else
                DpassportService.getDPassportByVinCode(this.$data.BaseIdentSearch).then(response => {
                    this.FoundProcessing(response);
                }).catch(err => {
                    this.$props.show_messageParent(`Ошибка: ${err}`);
                    console.log(err)
                }).finally(() => {
                    this.$data.SearchDialogLoading = false;
                });
        }

        async FoundProcessing(response) {
            if (response.status == "Ok") {
                this.$data.BaseCommercialName = response.data.commercialName;
                // uniqCode
                this.$data.BaseVehicleEPassportIdResult = response.data.uniqueCode;
                // creation
                this.$data.BaseDocCreationDateResult = response.data.creationDate;
            } else {
                this.$props.show_messageParent(`Ошибка: ${response.text}`);
            }
        }
    }

</script>