﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">                  
                    <v-stepper v-model="characterWizardStep"
                               vertical>
                        <v-stepper-step step="1" >
                            Информация о колесах
                        </v-stepper-step>
                        <v-stepper-content step="1">
                            <Step1 ref="stepForm1" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step1>
                        </v-stepper-content>

                        <v-stepper-step step="2">
                            Тип кузова/количество дверей
                        </v-stepper-step>
                        <v-stepper-content step="2">
                            <Step2 ref="stepForm2" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step2>
                        </v-stepper-content>

                        <v-stepper-step step="3">
                            Количество мест для сидения/Количество мест спереди/сзади
                        </v-stepper-step>
                        <v-stepper-content step="3">
                            <Step3 ref="stepForm3" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step3>
                        </v-stepper-content>

                        <v-stepper-step step="4">
                            Компоновка транспортного средства
                        </v-stepper-step>
                        <v-stepper-content step="4">
                            <Step4 ref="stepForm4" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step4>
                        </v-stepper-content>

                        <v-stepper-step step="5">
                            Ось транспортного средства
                        </v-stepper-step>
                        <v-stepper-content step="5">
                            <Step5 ref="stepForm5" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step5>
                        </v-stepper-content>

                        <v-stepper-step step="6">
                            Габаритные размеры
                        </v-stepper-step>
                        <v-stepper-content step="6">
                            <Step6 ref="stepForm6" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step6>
                        </v-stepper-content>

                        <v-stepper-step step="7">
                            Масса
                        </v-stepper-step>
                        <v-stepper-content step="7">
                            <Step7 ref="stepForm7" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step7>
                        </v-stepper-content>

                        <v-stepper-step step="8">
                            Двигатель
                        </v-stepper-step>
                        <v-stepper-content step="8">
                            <Step8 ref="stepForm8" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step8>
                        </v-stepper-content>

                        <v-stepper-step step="9">
                            Топливо/Система питания{{fields.first.DocKindCode.value != '40'?'/Блок управления':''}}
                        </v-stepper-step>
                        <v-stepper-content step="9">
                            <Step9 ref="stepForm9" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step9>
                        </v-stepper-content>

                        <v-stepper-step step="10">
                            Устройство накопления энергии
                        </v-stepper-step>
                        <v-stepper-content step="10">
                            <Step10 ref="stepForm10" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step10>
                        </v-stepper-content>

                        <v-stepper-step step="11">
                            Система зажигания
                        </v-stepper-step>
                        <v-stepper-content step="11">
                            <Step11 ref="stepForm11" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step11>
                        </v-stepper-content>

                        <v-stepper-step step="12">
                            Трансмиссия
                        </v-stepper-step>
                        <v-stepper-content step="12">
                            <Step12 ref="stepForm12" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step12>
                        </v-stepper-content>

                        <v-stepper-step step="13">
                            Электромашина
                        </v-stepper-step>
                        <v-stepper-content step="13">
                            <Step13 ref="stepForm13" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step13>
                        </v-stepper-content>

                        <v-stepper-step step="14">
                            Сцепление/Подвеска
                        </v-stepper-step>
                        <v-stepper-content step="14">
                            <Step14 ref="stepForm14" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step14>
                        </v-stepper-content>

                        <v-stepper-step step="15">
                            Рулевое управление/Тормозные системы
                        </v-stepper-step>
                        <v-stepper-content step="15">
                            <Step15 ref="stepForm15" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step15>
                        </v-stepper-content>

                        <v-stepper-step step="16">
                            Шины
                        </v-stepper-step>
                        <v-stepper-content step="16">
                            <Step16 ref="stepForm16" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step16>
                        </v-stepper-content>

                        <v-stepper-step step="17">
                            Оборудование транспортного средства
                        </v-stepper-step>
                        <v-stepper-content step="17">
                            <Step17 ref="stepForm17" :tabData="fields" :nsisData="nsisData" :show_messageParent="show_messageParent"></Step17>
                        </v-stepper-content>
                    </v-stepper>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import Step1 from '@/components/document/dpassport/forms/characteristics/Step1.vue'; // @ is an alias to /src
    import Step2 from '@/components/document/dpassport/forms/characteristics/Step2.vue'; // @ is an alias to /src
    import Step3 from '@/components/document/dpassport/forms/characteristics/Step3.vue'; // @ is an alias to /src
    import Step4 from '@/components/document/dpassport/forms/characteristics/Step4.vue'; // @ is an alias to /src
    import Step5 from '@/components/document/dpassport/forms/characteristics/Step5.vue'; // @ is an alias to /src
    import Step6 from '@/components/document/dpassport/forms/characteristics/Step6.vue'; // @ is an alias to /src
    import Step7 from '@/components/document/dpassport/forms/characteristics/Step7.vue'; // @ is an alias to /src
    import Step8 from '@/components/document/dpassport/forms/characteristics/Step8.vue'; // @ is an alias to /src
    import Step9 from '@/components/document/dpassport/forms/characteristics/Step9.vue'; // @ is an alias to /src
    import Step10 from '@/components/document/dpassport/forms/characteristics/Step10.vue'; // @ is an alias to /src
    import Step11 from '@/components/document/dpassport/forms/characteristics/Step11.vue'; // @ is an alias to /src
    import Step12 from '@/components/document/dpassport/forms/characteristics/Step12.vue'; // @ is an alias to /src
    import Step13 from '@/components/document/dpassport/forms/characteristics/Step13.vue'; // @ is an alias to /src
    import Step14 from '@/components/document/dpassport/forms/characteristics/Step14.vue'; // @ is an alias to /src
    import Step15 from '@/components/document/dpassport/forms/characteristics/Step15.vue'; // @ is an alias to /src
    import Step16 from '@/components/document/dpassport/forms/characteristics/Step16.vue'; // @ is an alias to /src
    import Step17 from '@/components/document/dpassport/forms/characteristics/Step17.vue'; // @ is an alias to /src

    @Component({
        props: {
            fields: Object,
            nsisData: Object,
            saveDraft: Function,
        },
        components: {
            Step1, Step2, Step3,
            Step4, Step5, Step6,
            Step7, Step8, Step9,
            Step10, Step11, Step12,
            Step13, Step14, Step15,
            Step16, Step17
        },
    })
    export default class CreateTenthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                },
                
                characterWizardStep: 1, // Current
                totalCharacteristicSteps: 17,

                valid: true,

                // fields



                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            
        };

        async validateStep() {
            if (await (this.$refs["stepForm" + this.$data.characterWizardStep] as any).validate()) {
                this.$data.characterWizardStep += 1;
                if (this.$props.fields.viewId == '')await this.$props.saveDraft();
                if ((this.$refs["stepForm" + this.$data.characterWizardStep] as any) !== undefined)
                    (this.$refs["stepForm" + this.$data.characterWizardStep] as any).$el.scrollIntoView()
            }
        }



        async goBack() {
            if ((this.$refs["stepForm" + this.$data.characterWizardStep] as any) !== undefined)
                (this.$refs["stepForm" + this.$data.characterWizardStep] as any).$el.scrollIntoView()
            if (this.$data.characterWizardStep == 1)
                return true;
            else {
                this.$data.characterWizardStep -= 1;
                return false;
            }
        }

        async validate() {
            //validate threw all steps
            await this.validateStep();
            if (this.$data.characterWizardStep == this.$data.totalCharacteristicSteps + 1) {
                this.$data.characterWizardStep -= 1;
                return true;
            }
            //if ((this.$refs.form as any).validate()) {
            //    return true;
            //}

            return false;
        }


    }

</script>