﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Общий вид{{fields.IsEpts!=2?``:` шасси`}} транспортного средства</v-card-title>
                        <v-card-text class="pt-2">
                            <span class="warning">Внимание! изображение должно быть в формате jpg и не более 512Кбайт</span>
                            <v-btn color="green darken-1"
                                   text
                                   @click="addCard(null, fields.eleventh.imagesTS)">
                                Добавить
                            </v-btn>
                            <template v-if="tempImages.length > 0">
                                <v-row>
                                    <div v-for="(input, index) in tempImages"
                                         :key="`image-${index}`"
                                         class="input wrapper flex items-center">

                                        <v-col>
                                            <v-checkbox v-model="input.check" @change="imageChecked(input)"></v-checkbox>
                                            {{input.name}}
                                            <img :src="input.image" width="120" height="80" disabled />
                                        </v-col>
                                    </div>
                                </v-row>
                                <span class="warning">Выберите необходимый для данной модели</span>
                                <v-divider></v-divider>
                            </template>
                            <div v-for="(input, index) in fields.eleventh.imagesTS"
                                 v-if="tempImages.length == 0"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-row justify="center">
                                    <div v-if="input.image.value == ''">
                                        <v-row justify="center">
                                            <v-col>
                                                <v-text-field v-model="input.name.value"
                                                              :rules="fieldRules"
                                                              required
                                                              label="Наименование"></v-text-field>
                                            </v-col>
                                            <v-col>
                                                <h2>Выберите изображение</h2>
                                                <input type="file" @change="onFileChange(input, $event)" accept="image/jpeg">
                                            </v-col>
                                            <v-col>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="addCard(input, fields.eleventh.imagesTS)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="green"
                                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                </svg>
                                                <!--          Remove Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="removeCard(index, fields.eleventh.imagesTS)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="#EC4899"
                                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                </svg>
                                            </v-col>
                                        </v-row>
                                    </div>
                                    <div v-else>
                                        <v-col>
                                            <h2 class="ml-12" style="color:darkblue">{{input.name.value}}</h2>
                                            <img :src="input.image.value" width="200" height="150" />
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeImage(input)"
                                                 viewBox="0 0 36 36"
                                                 width="36"
                                                 height="36"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </v-col>

                                    </div>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateEleventhStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [v => this.$props.fields.eleventh.imagesTS.filter(x => x.image.value != '').length >= this.$props.fields.minImageCount ||
                    `Минимум ${this.$props.fields.minImageCount} изображений!`
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                // fields
                tempImages: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async addCard(value, fieldType) {
            if (this.$props.fields.eleventh.imagesTS.length == 6) {
                this.$props.show_messageParent("Больше 6-ти добавлять нельзя");
                return;
            }
            fieldType.push({
                name: { value: '', text: 'Наименование', necessary: false },
                image: { value: '' },
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.fields.eleventh.imagesTS.length == 1) {
                this.$props.show_messageParent(`Нельзя удалять. Минимальное количество ${this.$props.fields.minImageCount}`);
                return
            }
            fieldType.splice(index, 1);
        }

        async onFileChange(item, e) {
            if (item.name.value.trim() == "") {
                this.$props.show_messageParent("Введите наименование");
                return;
            }
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            if (files[0].size > 512 * 1024) {
                this.$props.show_messageParent("Изображение превышает 512Кбайт!");
                item.name.value = "";
                item.image.value = '';
                return;
            }
            this.createImage(item, files[0]);
        }
        async createImage(item, file) {
            var image = new Image();
            var reader = new FileReader();

            reader.onload = (e) => {
                item.image.value = (e as any).target.result;
            };
            reader.readAsDataURL(file);
        }
        async removeImage(item) {
            if (this.$data.tempImages.length > 0) {
                let tmp = this.$data.tempImages.filter(x => x.name == item.name.value && x.image == item.image.value)
                if (tmp.length > 0) {
                    tmp = tmp[0]
                    tmp.check = false;
                }
            }
            item.name.value = "";
            item.image.value = "";
        }

        async imageChecked(item) {
            if (item.check)
                this.$props.fields.eleventh.imagesTS.push({
                    name: { value: item.name, text: 'Наименование', necessary: false },
                    image: { value: item.image },
                })
            else {
                this.$props.fields.eleventh.imagesTS = this.$props.fields.eleventh.imagesTS.filter(x => x.name.value != item.name && x.image.value != item.image)
            }
        }

        async mounted() {
            this.$root.$on("setDigitalPassportIssueBase", (arg1) => {
                this.$props.fields.minImageCount = 1
                if (arg1 != '01')
                    this.$props.fields.minImageCount = 4;
                
            });
            this.$root.$on("GeneralViewDoc", (images) => {
                if (images!.length == 0) return;
                this.$props.fields.eleventh.imagesTS = [];
                images.forEach(image => {
                    let item = {
                        check: false,
                        name: image.fileName,
                        image: "data:image/jpeg;base64," + image.vehiclePicture
                    }
                    this.$data.tempImages.push(item);
                })

            });
            this.$root.$on("preSavedImages", (data) => {
                console.log('tempImages: ', this.$data.tempImages)
                console.log('data: ', data)
                if (this.$data.tempImages.length > 0 && data.length > 0) {
                    for (let image of this.$data.tempImages) {
                        if (data.filter(x => x.name == image.name && x.image == image.image).length > 0) {
                            image.check = true;
                            this.imageChecked(image)
                        }
                    }
                }
            });
            this.$root.$on("preSavedImagesHandy", (data) => {
                if (data.length > 0) {
                    for (let image of data) {
                        //this.$data.tempImages.push({
                        //    check: true,
                        //    name: image.name,
                        //    image: image.image
                        //})
                        this.$props.fields.eleventh.imagesTS.push({
                            name: { value: image.name, text: 'Наименование', necessary: true },
                            image: { value: image.image },
                        })
                    }
                }
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                this.$data.tempImages = [];
                this.$props.fields.eleventh.imagesTS = [{
                    name: { value: '', text: 'Наименование', necessary: false },
                    image: { value: '' }
                }];
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("setDigitalPassportIssueBase");
            this.$root.$off("GeneralViewDoc");
            this.$root.$off("preSavedImages");
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.fields.eleventh.imagesTS.length < this.$props.fields.minImageCount) {
                    this.$props.show_messageParent(`Минимальное количество изображений должно быть ${this.$props.fields.minImageCount}`);
                    return false;
                }
                if (this.$props.fields.eleventh.imagesTS.length > 6) {
                    this.$props.show_messageParent(`Максимальное количество изображений должно быть 6`);
                    return false;
                }
                return true;
            }
            return false;
        }


    }

</script>