﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Информация изготовителя</v-card-title>
                        <v-card-text class="pt-2">
                            <v-textarea v-model="fields.fourteenth.ManufacturerInformation.value"
                                        name="input-7-1"
                                        clearable
                                        clear-icon="mdi-close-circle"
                                        filled
                                        :label="`${fields.fourteenth.ManufacturerInformation.text}`"
                                        auto-grow
                                        value=""></v-textarea>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateFourteenthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                // fields
                

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };



        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>