﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Административная информация</v-card-title>
                        <v-card-text class="pt-2">
                            <v-autocomplete v-model="fields.thirteenth.ManufactureWithPrivilegeMode.value"
                                            :items="nsisData.ManufactureWithPrivilegeModeNsis"
                                            item-text="value"
                                            item-value="key"
                                            :label="`Сведения о производстве${fields.IsEpts!=2?``:` шасси`} транспортного средства с применением льготного режима`"
                                            @change="privilegeModeChanged"
                                            persistent-hint
                                            v-if="DigitalPassportIssueBase==1 && fields.thirteenth.ManufactureWithPrivilegeMode.visible">
                            </v-autocomplete>
                            <v-autocomplete v-model="fields.thirteenth.AcceptTerritoryRegistration.value"
                                            :items="nsisData.AcceptTerritoryRegistrationNsis"
                                            item-text="value"
                                            v-if="!privilegeModeEmpty && [1, 3].includes(fields.IsEpts)"
                                            item-value="key"
                                            label="Территория, на которой допускается регистрация транспортного средства"
                                            @change="AcceptTerritoryRegistrationChanged"
                                            persistent-hint
                                            required
                                            :rules="rules.select">
                            </v-autocomplete>
                            <v-autocomplete v-model="AcceptCountryRegistration"
                                            :items="nsisData.AcceptCountryRegistrationNsis"
                                            item-text="value"
                                            item-value="key"
                                            v-if="fields.thirteenth.AcceptTerritoryRegistration.value == '0' && [1, 3].includes(fields.IsEpts)"
                                            label="Государство-член, на территории которого допускается совершение регистрационных деействий"
                                            persistent-hint
                                            @change="AcceptCountryRegistrationChanged"
                                            multiple
                                            required
                                            :rules="rules.select">
                            </v-autocomplete>
                            <div v-for="(input, index) in fields.thirteenth.AcceptCountryAndRegion"
                                 v-if="AcceptCountryRegistration.length > 0  && [1, 3].includes(fields.IsEpts)"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-autocomplete v-model="input.AcceptCountryRegistration.value"
                                                :items="nsisData.AcceptCountryRegistrationNsis"
                                                item-text="value"
                                                item-value="key"
                                                label="Государство-член, на территории которого допускается совершение регистрационных деействий"
                                                persistent-hint
                                                required
                                                disabled
                                                :rules="rules.select">
                                </v-autocomplete>
                                <v-text-field v-model="input.AcceptRegionRegistration.value"
                                              :label="`${input.AcceptRegionRegistration.text}`"
                                              v-if="input.AcceptCountryRegistration.value != 'KZ'"
                                              ></v-text-field>
                                <v-autocomplete v-model="input.AcceptRegionRegistration.value"
                                    :items="nsisData.AcceptRegionRegistrationNsis"
                                    item-text="name"
                                    item-value="code"
                                    v-if="input.AcceptCountryRegistration.value == 'KZ'"
                                    :label="`${input.AcceptRegionRegistration.text}`"
                                    persistent-hint
                                    >
                                 </v-autocomplete>
                            </div>

                                    
                                    
                                    <v-row justify="center">
                                        <v-col v-if="!fields.thirteenth.NotSateliteNavigationIndicator.value">
                                            <v-text-field v-model="fields.thirteenth.SateliteNavigationDescription.value"
                                                          label="Сведения об идентификационном номере аппаратуры спутниковой навигации"
                                                          :rules="fieldRules"></v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-checkbox v-model="fields.thirteenth.NotSateliteNavigationIndicator.value"
                                                        :label="`${fields.thirteenth.NotSateliteNavigationIndicator.value?'Сведения об идентификационном номере аппаратуры спутниковой навигации отсутствует':'Отсутствует'}`"></v-checkbox>
                                        </v-col>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-col v-if="!fields.thirteenth.NotVehicleOfJobControllIndicator.value">
                                            <v-text-field v-model="fields.thirteenth.VehicleOfJobControllDescription.value"
                                                          label="Сведения об идентификационном номере технического средства контроля соблюдения водителями режимов движения, труда и отдыха"
                                                          :rules="fieldRules"></v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-checkbox v-model="fields.thirteenth.NotVehicleOfJobControllIndicator.value"
                                                        :label="`${fields.thirteenth.NotVehicleOfJobControllIndicator.value?'Сведения об идентификационном номере технического средства контроля соблюдения водителями режимов движения, труда и отдыха отсутствует':'Отсутствует'}`"></v-checkbox>
                                        </v-col>
                                    </v-row>
                                    <v-text-field v-model="fields.first.VehicleEPassportBaseDescription.value"
                                                  v-if="fields.first.VehicleEPassportBaseDescription.value != ''"
                                                  label="Сведения об основаниях оформления электронного паспорта"
                                                  :rules="fieldRules"></v-text-field>
                                    <v-autocomplete v-model="fields.thirteenth.VehicleMadeInCountry.value"
                                                    :items="nsisData.VehicleMadeInCountryNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    label="Страна происхождения (изготовления) транспортного средства"
                                                    persistent-hint
                                                    required
                                                    :rules="rules.select">
                                    </v-autocomplete>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center" v-if="fields.first.documentNotExists.value">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Сведения об основаниях оформления электронного паспорта</v-card-title>
                        <v-card-text class="pt-2">
                            <v-text-field v-model="fields.thirteenth.DigitalPassportRegisterBaseDescription.value"
                                          label="Сведения об основаниях оформления электронного паспорта"
                                          :rules="fieldRules"></v-text-field>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center" v-if="fields.first.documentNotExists.value">
                <v-col cols="12">
                    <v-card disabled>
                        <v-card-title class="grey">Сведения о документе, подтверждающем оформление электронного паспорта при отсутствии документа, подтверждающего соответствие объязательным требованиям безопасности</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-autocomplete v-model="fields.first.DocKindCodeHandy.value"
                                              :items="nsisData.DocKindDocumentNotExistNsis"
                                              item-text="value"
                                              item-value="key"
                                              label="Вид документа"
                                              persistent-hint
                                              required
                                              :rules="rules.select"></v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocNameHandy.value"
                                                  label="Наименование документа"
                                                  required
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-text-field v-model="fields.first.DocAuthorHandy.value"
                                                  label="Кем Выдано"
                                                  required
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="fields.first.DocIdHandy.value"
                                                  label="Номер документа"
                                                  required
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-menu ref="menuDocDateHandy"
                                            v-model="menuDocDateHandy"
                                            :close-on-content-click="false"
                                            :return-value.sync="fields.first.DocDateHandy.value"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="auto">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field v-model="fields.first.DocDateHandy.value"
                                                          label="Дата документа"
                                                          prepend-icon="mdi-calendar"
                                                          readonly
                                                          required
                                                          :rules="fieldRules"
                                                          v-bind="attrs"
                                                          v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="fields.first.DocDateHandy.value"
                                                       no-title
                                                       scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text
                                                   color="primary"
                                                   @click="menuDocDateHandy = false">
                                                Cancel
                                            </v-btn>
                                            <v-btn text
                                                   color="primary"
                                                   @click="$refs.menuDocDateHandy.save(fields.first.DocDateHandy.value)">
                                                OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col cols="6">
                                    <v-text-field v-model="fields.first.DocPageCountHandy.value"
                                                  label="Количество листов"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { get } from 'http';
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateThirteenthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void

        get privilegeModeEmpty(): boolean {
            return this.$props.fields.thirteenth.ManufactureWithPrivilegeMode.value == '' || this.$props.fields.thirteenth.ManufactureWithPrivilegeMode.value == undefined || this.$props.fields.thirteenth.ManufactureWithPrivilegeMode.value == null
        }

        privilegeModeChanged(val) {
            if (val == '' || val == undefined) {
                this.$props.fields.thirteenth.AcceptCountryAndRegion = [{
                    AcceptCountryRegistration: { value: '', text: 'Государство-член, на территории которого допускается совершение регистрационных деействий', necessary: false },
                    AcceptRegionRegistration: { value: '', text: 'Регион, на территории которого допускается совершение регистрационных деействий', necessary: false }
                }]
                this.$props.fields.thirteenth.AcceptTerritoryRegistration.value = ''
            }
        }

        AcceptTerritoryRegistrationChanged(val) {
            if (val == '' || val == 1 || val == undefined) {
                this.$props.fields.thirteenth.AcceptCountryAndRegion = [{
                    AcceptCountryRegistration: { value: '', text: 'Государство-член, на территории которого допускается совершение регистрационных деействий', necessary: false },
                    AcceptRegionRegistration: { value: '', text: 'Регион, на территории которого допускается совершение регистрационных деействий', necessary: false }
                }]
                this.$props.fields.thirteenth.AcceptTerritoryRegistration.value = ''
            }
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                DigitalPassportIssueBase: 1,
                menuDocDateHandy: false,
                // fields
                AcceptCountryRegistration: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async AcceptCountryRegistrationChanged(val, data) {
            if (val.length > 0) {
                this.$props.fields.thirteenth.AcceptCountryAndRegion = val.map(x => {
                    let txt = this.$props.nsisData.AcceptCountryRegistrationNsis.filter(i => i.key == x)[0].value
                    return {
                        AcceptCountryRegistration: { value: x, text: 'Государство-член, на территории которого допускается совершение регистрационных деействий', necessary: false },
                        AcceptRegionRegistration: { value: data != undefined ? data.filter(item => item.acceptCountryRegistration == x)[0].acceptRegionRegistration : '', text: `Регион (${txt}), на территории которого допускается совершение регистрационных деействий`, necessary: false }
                    }
                })
            }
        }

        async mounted() {
            this.$root.$on("setDigitalPassportIssueBase", (arg1) => {
                //console.log(this.$props.nsisData.AcceptCountryRegistrationNsis)
                this.$data.DigitalPassportIssueBase = 1
                if (arg1 > 1)
                    this.$data.DigitalPassportIssueBase = 4;
            });

            this.$root.$on("preSavedAcceptCountryAndRegion", (data) => {
                if (data.length > 0 && data[0].acceptCountryRegistration != '') {
                    this.$data.AcceptCountryRegistration = data.map(x => x.acceptCountryRegistration);
                    this.AcceptCountryRegistrationChanged(this.$data.AcceptCountryRegistration, data)
                }
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("setDigitalPassportIssueBase");
            this.$root.$off("preSavedAcceptCountryAndRegion");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.fields.thirteenth.AcceptCountryAndRegion.length > 4) {
                    this.$props.show_messageParent("Поле 'Государство-член, на территории котор....' не должен превышать 4");
                    return false;
                }
                return true;
            }

            return false;
        }


    }

</script>