﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            Сведения о транспортном средстве
        </h3>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Сборочные заводы и их адреса</v-card-title>
                        <v-card-text class="pt-2">
                            <v-checkbox v-model="fields.seventh.NotExistIndicator.value"
                                        :disabled="['30','35','40'].includes(fields.first.DocKindCode.value)"
                                        :label="`Отсутствует`"></v-checkbox>
                            <div v-if="!fields.seventh.NotExistIndicator.value"
                                 v-for="(input, index) in fields.seventh.AssemblerOrganizationList"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col cols="1">
                                        <span style="color:#e67e22">Организация</span> <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             v-if="!['30','35','40'].includes(fields.first.DocKindCode.value)"
                                             @click="addCard(input, fields.seventh.AssemblerOrganizationList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             v-if="!['30','35','40'].includes(fields.first.DocKindCode.value)"
                                             @click="removeCard(index, fields.seventh.AssemblerOrganizationList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-checkbox v-model="input.NotAssemblerIndicator.value"
                                            v-if="!['30','35','40'].includes(fields.first.DocKindCode.value)"
                                            @change="NotAssemblerIndicatorChanged(input.NotAssemblerIndicator.value, input)"
                                            :label="`Не являюсь представителем изготовителя`"></v-checkbox>
                                <v-btn color="red lighten-2"
                                       v-if="!disableOrganization"
                                       dark>
                                    Добавить организацию в реестр
                                </v-btn>
                                <v-autocomplete v-model="input.AssemblerOrganizationId.value"
                                                :items="nsisData.ManufactureOrganizationIdNsis"
                                                item-text="value"
                                                @change="organizationChanged(input.AssemblerOrganizationId.value, input)"
                                                item-value="key"
                                                :disabled="disableOrganization"
                                                :required="fields.first.VehicleEPassportBaseCode.value!='03'"
                                                :rules="fields.first.VehicleEPassportBaseCode.value!='03'?rules.select:[]"
                                                label="Организация"
                                                persistent-hint>
                                </v-autocomplete>
                                <v-text-field v-model="input.FullAssemblerOrganizationName.value"
                                              :required="fields.first.VehicleEPassportBaseCode.value!='03'"
                                              :rules="fields.first.VehicleEPassportBaseCode.value!='03'?fieldRules:[]"
                                              disabled
                                              label="Полное наименование организации"></v-text-field>
                                <v-text-field v-model="input.ShortAssemblerOrganizationName.value"
                                              :required="input.ShortAssemblerOrganizationName.necessary"
                                              :rules="input.ShortAssemblerOrganizationName.necessary?fieldRules:[]"
                                              disabled
                                              label="Краткое наименование организации"></v-text-field>
                                <v-text-field v-model="input.AssemblerIinBin.value"
                                              :required="input.AssemblerIinBin.necessary"
                                              :rules="input.AssemblerIinBin.necessary?fieldRules:[]"
                                              disabled
                                              label="БИН/ИИН"></v-text-field>
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Адрес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-text-field v-model="input.AssemblerJuridicalAddress.value"
                                              :required="input.AssemblerJuridicalAddress.necessary"
                                              :rules="input.AssemblerJuridicalAddress.necessary?fieldRules:[]"
                                              disabled
                                              label="Юридический адрес"></v-text-field>
                                <v-text-field v-model="input.AssemblerActualAddress.value"
                                              :required="input.AssemblerActualAddress.necessary"
                                              :rules="input.AssemblerActualAddress.necessary?fieldRules:[]"
                                              disabled
                                              label="Фактический адрес"></v-text-field>
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Контактные данные</span></v-col><v-col><v-divider class="mt-4"></v-divider></v-col>
                                </v-row>
                                <v-row v-for="(input3, index3) in input.AssemblerPhones"
                                       :key="`input3-${index3}`">
                                    <v-text-field v-model="input3.AssemblerPhone.value"
                                                  :required="input3.AssemblerPhone.necessary"
                                                  :rules="input3.AssemblerPhone.necessary?fieldRules:[]"
                                                  disabled
                                                  label="Телефон"></v-text-field>
                                </v-row>
                                <v-row v-for="(input1, index1) in input.AssemblerEmails"
                                       :key="`input1-${index1}`">
                                    <v-text-field v-model="input1.AssemblerEmail.value"
                                                  :required="input1.AssemblerEmail.necessary"
                                                  :rules="input1.AssemblerEmail.necessary?[fieldRules[0], rules.email]:[]"
                                                  disabled
                                                  label="Электронная почта"></v-text-field>
                                </v-row>
                                <v-row v-for="(input2, index2) in input.AssemblerFaxs"
                                       :key="`input2-${index2}`">
                                    <v-text-field v-model="input2.AssemblerFax.value"
                                                  :required="input2.AssemblerFax.necessary"
                                                  :rules="input2.AssemblerFax.necessary?fieldRules:[]"
                                                  disabled
                                                  label="Телефакс"></v-text-field>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateSevenththStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Неправильный формат e-mail.'
                    }

                },
                valid: true,
                disableOrganization: true,

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        @Watch('fields.seventh.NotExistIndicator.value')
        async NotExistIndicatorChanged(newVal) {
            if (newVal) {
                this.$props.fields.seventh.AssemblerOrganizationList = [{
                    NotAssemblerIndicator: { value: false, text: 'Не являюсь представителем изготовителя', necessary: true },
                    AssemblerOrganizationId: { value: '', text: 'Организация', necessary: true },
                    FullAssemblerOrganizationName: { value: '', text: 'Полное наименование организации', necessary: true },
                    ShortAssemblerOrganizationName: { value: '', text: 'Краткое наименование организации', necessary: true },
                    AssemblerIinBin: { value: '', text: 'БИН/ИИН', necessary: true },
                    AssemblerJuridicalAddress: { value: '', text: 'Юридический адрес', necessary: true },
                    AssemblerActualAddress: { value: '', text: 'Фактический адрес', necessary: true },
                    AssemblerPhones: [{ AssemblerPhone: { value: '', text: 'Телефон', necessary: false } }],
                    AssemblerEmails: [{ AssemblerEmail: { value: '', text: 'Электронная почта', necessary: false } }],
                    AssemblerFaxs: [{   AssemblerFax: { value: '', text: 'Телефакс', necessary: false } }],
                }]
            }
        };

        async NotAssemblerIndicatorChanged(newVal, item) {
            if (newVal) {
                this.$data.disableOrganization = false
                item.FullAssemblerOrganizationName.value = ''
                item.ShortAssemblerOrganizationName.value = ''
                item.AssemblerIinBin.value = ''
                item.AssemblerJuridicalAddress.value = ''
                item.AssemblerActualAddress.value = ''
                item.AssemblerPhones = [{ AssemblerPhone: { value: '', text: 'Телефон', necessary: false } }]
                item.AssemblerEmails = [{ AssemblerEmail: { value: '', text: 'Электронная почта', necessary: false } }]
                item.AssemblerFaxs = [{   AssemblerFax: { value: '', text: 'Телефакс', necessary: false } }]
            }
        };

        async organizationChanged(newVal, item) {
            // Get from controller org data and set to fields
            //if (this.$props.fields.disableByExistDoc) return;
            //item.FullAssemblerOrganizationName.value = '1'
            //item.ShortAssemblerOrganizationName.value = '2'
            //item.AssemblerIinBin.value = '3'
            //item.AssemblerJuridicalAddress.value = '4'
            //item.AssemblerActualAddress.value = '5'
            //item.AssemblerPhone.value = '6'
            //item.AssemblerEmail.value = '7@7.kz'
            //item.AssemblerFax.value = '8'
        };

        async addCard(value, fieldType) {
            fieldType.push({
                NotAssemblerIndicator: { value: false, text: 'Не являюсь представителем изготовителя', necessary: true },
                AssemblerOrganizationId: { value: '', text: 'Организация', necessary: true },
                FullAssemblerOrganizationName: { value: '', text: 'Полное наименование организации', necessary: true },
                ShortAssemblerOrganizationName: { value: '', text: 'Краткое наименование организации', necessary: true },
                AssemblerIinBin: { value: '', text: 'БИН/ИИН', necessary: true },
                AssemblerJuridicalAddress: { value: '', text: 'Юридический адрес', necessary: true },
                AssemblerActualAddress: { value: '', text: 'Фактический адрес', necessary: true },
                AssemblerPhones: [{ AssemblerPhone: { value: '', text: 'Телефон', necessary: false } }],
                AssemblerEmails: [{ AssemblerEmail: { value: '', text: 'Электронная почта', necessary: false } }],
                AssemblerFaxs: [{   AssemblerFax: { value: '', text: 'Телефакс', necessary: false } }],
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.fields.seventh.AssemblerOrganizationList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }


        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>