﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">{{titleCardText}}</v-card-title>
                        
                        <v-card-text class="pt-2">
                            <div v-if="!isOTTS_OTSH">
                                <v-text-field v-model="fields.twelfth.SbktsDocId.value"
                                              required
                                              :disabled="fields.AdditionalDataDoc"
                                              :rules="fieldRules"
                                              label="Номер документа"></v-text-field>
                                <v-row>
                                    <v-col>
                                        <v-menu ref="menuStartDate"
                                                v-model="menuStartDate"
                                                :close-on-content-click="false"
                                                :return-value.sync="fields.twelfth.SbktsStartDate.value"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field v-model="fields.twelfth.SbktsStartDate.value"
                                                              label="Срок действия с"
                                                              :disabled="fields.AdditionalDataDoc"
                                                              prepend-icon="mdi-calendar"
                                                              readonly
                                                              required
                                                              :rules="fieldRules"
                                                              v-bind="attrs"
                                                              v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="fields.twelfth.SbktsStartDate.value"
                                                           no-title
                                                           scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text
                                                       color="primary"
                                                       @click="menuStartDate = false">
                                                    Cancel
                                                </v-btn>
                                                <v-btn text
                                                       color="primary"
                                                       @click="$refs.menuStartDate.save(fields.twelfth.SbktsStartDate.value)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col>
                                        <v-menu ref="menuDocValidityDate"
                                                v-model="menuDocValidityDate"
                                                :close-on-content-click="false"
                                                :return-value.sync="fields.twelfth.SbktsDocValidityDate.value"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="auto">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field v-model="fields.twelfth.SbktsDocValidityDate.value"
                                                              label="Срок действия по"
                                                              prepend-icon="mdi-calendar"
                                                              :disabled="fields.AdditionalDataDoc"
                                                              readonly
                                                              required
                                                              :rules="fieldRules"
                                                              v-bind="attrs"
                                                              v-on="on"></v-text-field>
                                            </template>
                                            <v-date-picker v-model="fields.twelfth.SbktsDocValidityDate.value"
                                                           no-title
                                                           scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text
                                                       color="primary"
                                                       @click="menuDocValidityDate = false">
                                                    Cancel
                                                </v-btn>
                                                <v-btn text
                                                       color="primary"
                                                       @click="$refs.menuDocValidityDate.save(fields.twelfth.SbktsDocValidityDate.value)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                                <v-text-field v-model="fields.twelfth.CertifiedMemberFullName.value"
                                              required
                                              :disabled="fields.AdditionalDataDoc"
                                              :rules="fieldRules"
                                              label="Полное наименование органа по сертификации"></v-text-field>
                            </div>
                            <v-divider></v-divider>
                            <v-checkbox v-model="fields.twelfth.VehicleMovementPermitIndicator.value"
                                        :disabled="fields.AdditionalDataDoc"
                                        :label="`Оформление специального разрешения обязательно`"></v-checkbox>
                            <v-text-field v-model="fields.twelfth.ShassisMovePermitionText.value"
                                          v-if="![1, 3].includes(fields.IsEpts)"
                                          required
                                          disabled
                                          label="Описание возможности передвижения шасси своим ходом по дорогам общего пользования"></v-text-field>
                            <template v-if="fields.first.DocKindCode.value == '30'">
                                <v-autocomplete v-model="fields.twelfth.AllRoadMoveAbilityLimit.value"
                                                :items="AllRoadMoveAbilityLimitList"
                                                item-text="value"
                                                item-value="key"
                                                v-if="AllRoadMoveAbilityLimitList.length > 0"
                                                :label="`${fields.twelfth.AllRoadMoveAbilityLimit.text}`"
                                                persistent-hint
                                                >
                                </v-autocomplete>
                                <v-autocomplete v-model="fields.twelfth.MinibusAbility.value"
                                                :items="MinibusAbilityList"
                                                item-text="value"
                                                item-value="key"
                                                v-if="MinibusAbilityList.length > 0 && isTechCategory_M2_M3"
                                                :label="`${fields.twelfth.MinibusAbility.text}`"
                                                persistent-hint
                                                >
                                </v-autocomplete>
                                <v-autocomplete v-model="fields.twelfth.OtherInformation.value"
                                                :items="OtherInformationList"
                                                item-text="value"
                                                item-value="key"
                                                v-if="OtherInformationList.length > 0"
                                                :label="`${fields.twelfth.OtherInformation.text}`"
                                                persistent-hint
                                                >
                                </v-autocomplete>
                            </template>
                            <template v-else>
                                <v-text-field v-model="fields.twelfth.AllRoadMoveAbilityLimit.value"
                                              label="Ограничения на возможность использования на дорогах общего пользования"></v-text-field>
                                <v-text-field v-model="fields.twelfth.MinibusAbility.value"
                                              label="Возможность использования в качестве маршрутного средства"></v-text-field>
                                <v-text-field v-model="fields.twelfth.OtherInformation.value"
                                              label="Иная информация"></v-text-field>
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateTwelfthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,
                menuStartDate: false,
                menuDocValidityDate: false,
                AllRoadMoveAbilityLimitList: [],
                MinibusAbilityList: [],
                OtherInformationList: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        get isOTTS_OTSH(): boolean {
            return this.$props.fields.first.DocKindCode.value == '35' || this.$props.fields.first.DocKindCode.value == '30'
        }

        get titleCardText(): string {
            if (this.$props.fields.first.DocKindCode.value == '40')
                return 'Свидетельство об ОТТС, на основании которого было оформлено СБКТС'
            return 'Дополнительная информация'
        }

        get isTechCategory_M2_M3(): boolean {
            return this.$props.fields.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m2') || this.$props.fields.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3')
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
            this.$root.$on("AdditionalDoc", (data) => {
                //this.$props.fields.twelfth.SbktsDocId.value = data.documentId
                this.$data.AllRoadMoveAbilityLimitList = data.vehicleUseRestrictions?.map(x => { return { key: x.vehicleUseRestrictionText, value: x.vehicleUseRestrictionText } }) ?? []
                this.$data.MinibusAbilityList = data.vehicleRoutings?.map(x => { return { key: x.vehicleRoutingText, value: x.vehicleRoutingText } }) ?? []
                this.$data.OtherInformationList = data.vehicleNotes?.map(x => { return { key: x.noteText, value: x.noteText } }) ?? []
                if (data.vehicleUseRestrictions?.length == 1) 
                    this.$props.fields.twelfth.AllRoadMoveAbilityLimit.value = data.vehicleUseRestrictions[0].vehicleUseRestrictionText;
                if (data.vehicleRoutings?.length == 1)
                    this.$props.fields.twelfth.MinibusAbility.value = data.vehicleRoutings[0].vehicleRoutingText;
                if (data.vehicleNotes?.length == 1)
                    this.$props.fields.twelfth.OtherInformation.value = data.vehicleNotes[0].noteText;

            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("AdditionalDoc");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>