﻿<template>
    <v-container fluid>
        <v-form ref="form2"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">{{fields.IsEpts!=2?title:title2}}</v-card-title>
                        <v-card-text class="pt-2">
                            <v-checkbox v-model="fields.second.NotVehicleIdentityNumberIndicator.value"
                                        :disabled="fields.disableByExistDoc"
                                        :label="`${fields.second.NotVehicleIdentityNumberIndicator.text}`">
                            </v-checkbox>
                            <v-radio-group v-model="fields.second.VehicleIdentityNumberIndicator.value"
                                           :disabled="fields.disableByExistDoc && !noVinSBKTS"
                                           v-if="!fields.second.NotVehicleIdentityNumberIndicator.value">
                                <v-radio v-for="n in nsisData.identOrFactoryList"
                                         :key="n.key"
                                         :label="`${n.value}`"
                                         :value="n.key"></v-radio>
                            </v-radio-group>

                            <template v-if="isVin">
                                <v-text-field v-model="fields.second.VehicleIdentityNumberId.value"
                                              label=""
                                              :counter="VehicleIdentityNumberIdCounter"
                                              v-if="!fields.second.NotVehicleIdentityNumberIndicator.value"
                                              :rules="fields.second.VehicleIdentityNumberIndicator.value == 1?fieldRules1:fieldRules2"
                                              v-bind:required="!fields.second.NotVehicleIdentityNumberIndicator.value"></v-text-field>
                            </template>
                            <template v-else>
                                <h4>{{fields.IsEpts!=2?identTitile:identTitile2}}</h4>
                                <v-autocomplete v-model="selectedVinFromList"
                                                :items="vinsList"
                                                v-if="vinsList.length > 0"
                                                item-text="value"
                                                item-value="key"
                                                label="Выберите идентификационный номер"
                                                persistent-hint
                                                required
                                                :rules="rules.select">
                                </v-autocomplete>
                                <v-row>
                                        <component v-for="item in components"
                                                   :key="item.id"
                                                   :is="item.component"
                                                   v-bind="item.props" />
                                </v-row>
                            </template>
                            
                            <v-autocomplete v-model="fields.second.VehicleCategoryCode.value"
                                            :items="nsisData.VehicleCategoryCodeNsis"
                                            item-text="value"
                                            v-if="[1, 3].includes(fields.IsEpts)"
                                            item-value="key"
                                            :label="`${fields.second.VehicleCategoryCode.text}`"
                                            persistent-hint
                                            :required="fields.second.VehicleCategoryCode.necessary"
                                            :rules="fields.second.VehicleCategoryCode.necessary?rules.select:[]"
                                            >
                            </v-autocomplete>
                            <v-row justify="center">
                                <v-col v-if="!fields.second.NotVehicleEngineIdentityNumberIndicator.value">
                                    <div v-for="(input, index) in fields.second.VehicleEngineIdList"
                                         :key="`input-${index}`"
                                         class="input wrapper flex items-center">
                                        <v-text-field v-model="input.VehicleEngineIdentityNumberId.value"
                                                      :label="`${input.VehicleEngineIdentityNumberId.text}`"
                                                      :rules="fieldRules">
                                            <template slot="append">
                                                <!--          Add Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="addVehicleEngineId(input, fields.second.VehicleEngineIdList)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="green"
                                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                </svg>

                                                <!--          Remove Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="removeVehicleEngineId(index, fields.second.VehicleEngineIdList)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="#EC4899"
                                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                </svg>
                                            </template>
                                        </v-text-field>
                                    </div>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.second.NotVehicleEngineIdentityNumberIndicator.value"
                                                :label="`${fields.second.NotVehicleEngineIdentityNumberIndicator.value?'Номер двигателя отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col v-if="!fields.second.NotVehicleFrameIdentityNumberIndicator.value">
                                    <v-text-field v-model="fields.second.VehicleFrameIdentityNumberId.value"
                                                  :label="`${fields.second.VehicleFrameIdentityNumberId.text}`"
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.second.NotVehicleFrameIdentityNumberIndicator.value"
                                                :label="`${fields.second.NotVehicleFrameIdentityNumberIndicator.value?'Номер шасси отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col v-if="!fields.second.NotVehicleBodyIdentityNumberIndicator.value">
                                    <v-text-field v-model="fields.second.VehicleBodyIdentityNumberId.value"
                                                  :label="`${fields.second.VehicleBodyIdentityNumberId.text}`"
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.second.NotVehicleBodyIdentityNumberIndicator.value"
                                                :label="`${fields.second.NotVehicleBodyIdentityNumberIndicator.value?'Номер кузова (кабины, прицепа) отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col v-if="!fields.second.NotVehicleEmergencyCallIdentityNumberIndicator.value">
                                    <v-text-field v-model="fields.second.VehicleEmergencyCallIdentityNumberId.value"
                                                  :label="`${fields.second.VehicleEmergencyCallIdentityNumberId.text}`"
                                                  :rules="fieldRules"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="fields.second.NotVehicleEmergencyCallIdentityNumberIndicator.value"
                                                :label="`${fields.second.NotVehicleEmergencyCallIdentityNumberIndicator.value?'Сведения об идентификационном номере устройства вызова экстренных оперативных служб отсутствует':'Отсутствует'}`"></v-checkbox>
                                </v-col>
                            </v-row>

                            <template v-if="fields.IsEpts == 3">
                                <v-divider></v-divider>
                                <v-row justify="center">
                                    <v-col v-if="!fields.second.NotGearNumberIndicator.value">
                                        <v-text-field v-model="fields.second.GearNumber.value"
                                                      :label="`${fields.second.GearNumber.text}`"
                                                      required
                                                      :rules="fieldRules2"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-checkbox v-model="fields.second.NotGearNumberIndicator.value"
                                                    :label="`${fields.second.NotGearNumberIndicator.value?'Номер коробки передач отсутствует':'Отсутствует'}`"></v-checkbox>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col v-if="!fields.second.NotBaseAxleNumberIndicator.value">
                                        <v-text-field v-model="fields.second.BaseAxleNumber.value"
                                                      :label="`${fields.second.BaseAxleNumber.text}`"
                                                      required
                                                      :rules="fieldRules2"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-checkbox v-model="fields.second.NotBaseAxleNumberIndicator.value"
                                                    :label="`${fields.second.NotBaseAxleNumberIndicator.value?'Номер основного ведущего моста отсутствует':'Отсутствует'}`"></v-checkbox>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-autocomplete v-model="fields.second.MoverEpsm.value"
                                                        :items="nsisData.MoverEpsmNsis"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${fields.second.MoverEpsm.text}`"
                                                        persistent-hint>
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>
                            </template>

                            <v-divider></v-divider>
                            <v-row justify="center">
                                <v-col>
                                    <v-checkbox v-model="fields.second.BodyMultiColourIndicator.value"
                                                :label="`${fields.second.BodyMultiColourIndicator.text}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col>
                                    <v-autocomplete v-model="fields.second.VehicleBodyColourCode.value"
                                                    :items="nsisData.VehicleBodyColourCodeNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.second.VehicleBodyColourCode.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="rules.select"
                                                    >
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row justify="center" v-if="fields.second.BodyMultiColourIndicator.value">
                                <v-col>
                                    <v-autocomplete v-model="fields.second.VehicleBodyColourCode2.value"
                                                    :items="nsisData.VehicleBodyColourCodeNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.second.VehicleBodyColourCode2.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="rules.select"
                                                    >
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row justify="center" v-if="fields.second.BodyMultiColourIndicator.value">
                                <v-col>
                                    <v-autocomplete v-model="fields.second.VehicleBodyColourCode3.value"
                                                    :items="nsisData.VehicleBodyColourCodeNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.second.VehicleBodyColourCode3.text}`"
                                                    persistent-hint
                                                    >
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col>
                                    <v-text-field v-model="fields.second.VehicleBodyColourName.value"
                                                  :label="`${fields.second.VehicleBodyColourName.text}`">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col>
                                    <v-text-field v-model="fields.second.ManufactureYear.value"
                                                  :label="`${fields.second.ManufactureYear.text}`"
                                                  type="number"
                                                  :rules="[rules.minmax(fields.second.ManufactureYear.value, 1900, new Date().getFullYear())]"
                                                  required></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-autocomplete v-model="fields.second.ManufactureMonth.value"
                                                    :items="nsisData.ManufactureMonthNsis"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${fields.second.ManufactureMonth.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="rules.select"
                                                    >
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import AutoSelectIdent from '@/components/document/dpassport/forms/identStructureForms/AutoSelectIdent.vue'
    import TextFieldIdent from '@/components/document/dpassport/forms/identStructureForms/TextFieldIdent.vue'

    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateSecondStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                fieldRules2: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length <= 50) || 'Поле не должно быть более 50 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || `Поле должно быть в пределах от ${min} до ${max}`;
                    }
                },

                vinCharacterDetails: [],
                components: [],
                title: 'Идентификационные признаки транспортного средства',
                title2: 'Идентификационные признаки шасси транспортного средства',
                identTitile: "Структура идентификационного номера транспортного средства",
                identTitile2: "Идентификационный номер шасси транспортного средства",
                DocIds: [],
                modal: false,
                modal2: false,
                valid: true,
                menuDocDateHandy: false,
                VehicleIdentityNumberIdCounter: 17,
                isVin: true,
                noVinSBKTS: false,
                vinsList: [],
                selectedVinFromList: '',

                preSavedVehicleIdentNumber: '',

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        async addVehicleEngineId(value, fieldType) {
            fieldType.push({ VehicleEngineIdentityNumberId: { value: '', text: 'Номер двигателя', necessary: true } });
        }

        async removeVehicleEngineId(index, fieldType) {
            if (this.$props.fields.second.VehicleEngineIdList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        @Watch("selectedVinFromList")
        async selectedVinFromListChanged(newVal) {
            if (newVal != '' && newVal != null && newVal != undefined) {
                console.log("components: ", this.$data.components, newVal)
                this.$data.components.forEach(x => {
                    x.props.identValue.curVal = newVal.slice(x.props.identValue.startingOrdinal - 1, x.props.identValue.endingOrdinal);
                });
            }
        }

        @Watch("fields.second.NotVehicleEngineIdentityNumberIndicator.value")
        async HaveNoEngineNumberChanged(newVal) {
            if (newVal) {
                this.$props.fields.second.VehicleEngineIdList = [{
                    VehicleEngineIdentityNumberId: { value: '', text: 'Номер двигателя', necessary: true }
                }]
            }
            this.$root.$emit("showMarkVehicle", newVal);
        };
        @Watch("fields.second.VehicleIdentityNumberIndicator.value")
        async VehicleIdentityNumberIndicatorChanged(newVal) {
            if (newVal == 1) {
                this.$data.VehicleIdentityNumberIdCounter = 17
                this.$root.$emit("showVehicleStructureCard", true);
            } else {
                this.$data.VehicleIdentityNumberIdCounter = 50
                this.$root.$emit("showVehicleStructureCard", false);
            }

        };

        //если отмечен идент номер или заводской номер
        @Watch("fields.second.NotVehicleIdentityNumberIndicator.value")
        async NotVehicleIdentityNumberIndicatorChanged(newVal) {
            this.$props.fields.second.VehicleIdentityNumberId.value = ''
            if (newVal == 1) {
                //this.$data.documentNotExists = false;
            }
        };
        created() {

        };



        async mounted() {
            this.$props.fields.second.VehicleIdentityNumberIndicator.value = 1
            this.$root.$on("ResetAllForms", (arg1) => {
                this.$data.isVin = true;
                this.$data.vinCharacterDetails = [];
                this.$data.components = [];
                this.$data.vinsList = [];
                (this.$refs.form2 as any)?.reset();
                this.$props.fields.second.VehicleIdentityNumberIndicator.value = 1
            })
            this.$root.$on("VehicleIdentStructureDoc", (data) => {
                this.$root.$emit("VehicleIdentStructureDoc2", data);
                if (this.$props.fields.first.DocKindCode.value == '40' && data?.vinNumbers.length == 0 && data.vehicleLabelingDetail.vin == null) {
                    this.$data.isVin = true;
                    this.$data.noVinSBKTS = true;
                    return;
                }
                if (data.vehicleLabelingDetail.vin != null && data.vehicleLabelingDetail.vinCharacterDetails?.length == 0) {
                    this.$data.isVin = true;
                    this.$props.fields.second.VehicleIdentityNumberId.value = data.vehicleLabelingDetail.vin;
                } else {
                    this.$data.isVin = false;
                    let curOrdinal = 0;
                    let tillOrdinal = 17;
                    // if vin list exists
                    this.$data.vinsList = data?.vinNumbers?.map(x => { return { key: x.number, value: x.number } });
                    let vins: any = []
                    data.vehicleLabelingDetail.vinCharacterDetails.sort((a, b) => a.idCharacterStartingOrdinal - b.idCharacterStartingOrdinal).forEach(x => {
                        if (x.dataTypeCode == "3") {
                            x.vinCharacterDescriptions = this.$props.nsisData.VehicleIdentYearTRTSNsis.map(ir => { return { idCharacterValue: ir.key.toUpperCase(), idCharacterValueText: ir.value } });
                        }
                        let vinDetail = vins.filter(v => v.idCharacterStartingOrdinal == x.idCharacterStartingOrdinal);
                        if (vinDetail.length > 0) {
                            vinDetail[0].vinCharacterDescriptions = vinDetail[0].vinCharacterDescriptions.concat(x.vinCharacterDescriptions);
                        } else {
                            vins.push(x)
                        }
                    });
                    vins.sort((a, b) => a.idCharacterStartingOrdinal - b.idCharacterStartingOrdinal).forEach(x => {
                        // вычисляем пропущенные символы по ординал
                        if (x.idCharacterStartingOrdinal - curOrdinal == 1) curOrdinal = x.idCharacterEndingOrdinal;
                        else {
                            let title = ''
                            if (x.idCharacterStartingOrdinal - curOrdinal == 2) title = 'Значение для ' + (curOrdinal + 1) + ' символа'
                            else title = 'Значение для ' + (curOrdinal + 1) + "-" + (x.idCharacterStartingOrdinal - 1).toString() + ' символов'
                            let identValue = {
                                startingOrdinal: (curOrdinal + 1), endingOrdinal: (x.idCharacterStartingOrdinal - 1), curVal: '', cardData: {}
                            }
                            let f = {
                                id: 'custom-' + (curOrdinal + 1),
                                component: TextFieldIdent,
                                props: {
                                    identValue: identValue,
                                    counter: ((x.idCharacterStartingOrdinal - curOrdinal) - 1).toString(),
                                    title: title,
                                    disabled: this.$data.vinsList.length > 0
                                }
                            }
                            this.$data.components.push(f);

                            this.$data.vinCharacterDetails.push(identValue)
                            curOrdinal = x.idCharacterEndingOrdinal;
                        }

                        let identValue = {
                            startingOrdinal: x.idCharacterStartingOrdinal, endingOrdinal: x.idCharacterEndingOrdinal, curVal: '', cardData: {}
                        }


                        if (x.vinCharacterDescriptions?.length > 0) {
                            let f = {
                                id: x.id,
                                component: AutoSelectIdent,
                                props: {
                                    dictList: x.vinCharacterDescriptions?.map(i => { return { key: i.idCharacterValue, value: `${i.idCharacterValueText} (${i.idCharacterValue})` } }) ?? [],
                                    title: x.idCharacterText,
                                    identValue: identValue,
                                    vinCharacterDetail: x,
                                    disabled: this.$data.vinsList.length > 0
                                }
                            }
                            this.$data.components.push(f);
                        }
                        else if (x.dataTypeCode == "2") {
                            let title = '';
                            if (x.isAlpha) title += "Символы A-Z, кроме I,O,Q";
                            if (x.isAlpha && x.excludeCharStr?.length > 0) title += "," + x.excludeCharStr.split(", ").join();

                            if (x.includeCharStr?.length > 0) {
                                title = "Символы " + x.includeCharStr;
                            }
                            if (x.isDigit) {
                                if (title != '') title += ", а также  0-9"
                                else title += "Цифры  0-9"
                            }

                            let f = {
                                id: x.id,
                                component: TextFieldIdent,
                                props: {
                                    identValue: identValue,
                                    counter: ((x.idCharacterEndingOrdinal - x.idCharacterStartingOrdinal) + 1).toString(),
                                    title: title,
                                    vinCharacterDetail: x,
                                    disabled: this.$data.vinsList.length > 0
                                }
                            }
                            this.$data.components.push(f);
                        }
                        else {
                            let f = {
                                id: x.id,
                                component: TextFieldIdent,
                                props: {
                                    identValue: identValue,
                                    counter: ((x.idCharacterEndingOrdinal - x.idCharacterStartingOrdinal) + 1).toString(),
                                    title: x.idCharacterText,
                                    vinCharacterDetail: x,
                                    disabled: this.$data.vinsList.length > 0
                                }
                            }
                            this.$data.components.push(f);
                        }
                        this.$data.vinCharacterDetails.push(identValue)

                    })

                    if (curOrdinal < tillOrdinal) {
                        let title = ''
                        if (tillOrdinal - curOrdinal == 2) title = 'Значение для ' + (curOrdinal + 1) + ' символа'
                        else title = 'Значение для ' + (curOrdinal + 1) + "-" + (tillOrdinal).toString() + ' символов'
                        let identValue = {
                            startingOrdinal: (curOrdinal + 1), endingOrdinal: tillOrdinal, curVal: '', cardData: {}
                        }
                        let f = {
                            id: 'custom-' + (curOrdinal + 1),
                            component: TextFieldIdent,
                            props: {
                                identValue: identValue,
                                counter: (tillOrdinal - curOrdinal).toString(),
                                title: title,
                                disabled: this.$data.vinsList.length > 0
                            }
                        }
                        this.$data.components.push(f);

                        this.$data.vinCharacterDetails.push(identValue)
                    }
                }
            })
            this.$root.$on("preSavedVehicleIdentNumber", (data) => {
                this.$data.preSavedVehicleIdentNumber = data;
                if (this.$data.components.length > 0) {
                    this.$data.components.forEach(x => {
                        x.props.identValue.curVal = data.slice(x.props.identValue.startingOrdinal - 1, x.props.identValue.endingOrdinal);
                    });
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("VehicleIdentStructureDoc");
            this.$root.$off("preSavedVehicleIdentNumber");
        }

        async validate() {
            //this.$props.show_messageParent("Выберите основание оформления электронного паспорта");
            if ((this.$refs.form2 as any).validate()) {

                if (this.$props.fields.second.VehicleIdentityNumberIndicator.value == "" && !this.$data.fields.second.NotVehicleIdentityNumberIndicator.value) {
                    this.$props.show_messageParent("Выберите идентификационный признак");
                    return false;
                }

                if (this.$props.fields.second.NotVehicleEngineIdentityNumberIndicator.value && this.$props.fields.second.NotVehicleFrameIdentityNumberIndicator.value
                    && this.$props.fields.second.NotVehicleBodyIdentityNumberIndicator.value && this.$props.fields.second.NotVehicleEmergencyCallIdentityNumberIndicator.value) {
                    this.$props.show_messageParent("Минимум 1 из поле из номеров двигателя или шасси или кузова или устройства вызова экстренных служб");
                    return false;
                }
                if (this.$data.vinCharacterDetails.length > 0) {
                    let t = ''
                    this.$data.vinCharacterDetails.sort((a, b) => a.startingOrdinal - b.startingOrdinal).forEach(x => { t += x.curVal })
                    this.$props.fields.second.VehicleIdentityNumberId.value = t;
                    let tempVehicleStructureCardList: object[] = []
                    this.$data.vinCharacterDetails.forEach(vinCharacterDetail => {
                        if (vinCharacterDetail?.cardData?.vinCharacterDescriptions?.length > 0) {
                            let item = {
                                StartDate: { value: '', text: 'С', necessary: true, disabled: true },
                                EndDate: { value: '', text: 'По', necessary: true },
                                Description: { value: '', text: 'Описание', necessary: true, disabled: !vinCharacterDetail.cardData.customTxt },
                                MeaningExplanationList: []
                            }
                            item.StartDate.value = vinCharacterDetail.cardData.idCharacterStartingOrdinal
                            item.EndDate.value = vinCharacterDetail.cardData.idCharacterEndingOrdinal
                            item.Description.value = vinCharacterDetail.cardData.idCharacterText

                            vinCharacterDetail.cardData.vinCharacterDescriptions.forEach(function (vinCharacterDescription) {
                                if (item.Description.value == "Производственный номер транспортного средства") {
                                    vinCharacterDescription.idCharacterValue.split("").forEach(letter => {
                                        let innerItem = {
                                            Explanation: { value: '', text: 'Расшифровка', necessary: false, disabled: !vinCharacterDetail.cardData.customTxt },
                                            Meaning: { value: '', text: 'Значение', necessary: true }
                                        }
                                        innerItem.Explanation.value = 'Производственный номер' //vinCharacterDescription.idCharacterValueText ??
                                        innerItem.Meaning.value = letter;
                                        (item.MeaningExplanationList as any).push(innerItem)
                                    })
                                } else {
                                    let innerItem = {
                                        Explanation: { value: '', text: 'Расшифровка', necessary: true, disabled: !vinCharacterDetail.cardData.customTxt },
                                        Meaning: { value: '', text: 'Значение', necessary: true }
                                    }
                                    if (item.Description.value == "Контрольный символ")
                                        innerItem.Explanation.value = "Контрольный символ";
                                    else
                                        innerItem.Explanation.value = vinCharacterDescription.idCharacterValueText
                                    innerItem.Meaning.value = vinCharacterDescription.idCharacterValue;
                                    (item.MeaningExplanationList as any).push(innerItem)
                                }
                            });
                            tempVehicleStructureCardList.push(item)
                        }
                    })
                    this.$props.fields.eighth.VehicleStructureCardList = tempVehicleStructureCardList
                    //if (!this.$data.preSavedFlag)
                    //this.$root.$emit("MarkTSIdentStructureDoc", this.$data.vinCharacterDetails);
                }

                if (!!this.$props.fields.second.NotVehicleEngineIdentityNumberIndicator.value == false) {
                    this.$props.fields.ninth.VehicleStructureCardList = [];
                    this.$props.fields.second.VehicleEngineIdList.forEach(item => {
                        let row = {
                            StartDate: { value: '1', text: 'С', necessary: true, disabled: true },
                            EndDate: { value: item.VehicleEngineIdentityNumberId.value.length.toString(), text: 'По', necessary: true, disabled: true },
                            Description: { value: '', text: 'Описание', necessary: true },
                            MeaningExplanationList: [{
                                Explanation: { value: '', text: 'Расшифровка', necessary: true },
                                Meaning: { value: item.VehicleEngineIdentityNumberId.value, text: 'Значение', necessary: true, disabled: true }
                            }],
                        }
                        this.$props.fields.ninth.VehicleStructureCardList.push(row);
                    });
                }
                if (this.$data.preSavedVehicleIdentNumber == this.$props.fields.second.VehicleIdentityNumberId.value) {
                    this.$root.$emit("SavedEighthAndNinthTab", true);
                }
                //this.$props.fields.eighth.VehicleIdentStructure.value = this.$props.fields.second.VehicleIdentityNumberId.value;
                return true;
            }

            return false;
        }


    }

</script>