﻿<template>
    <v-container fluid>
        <h3 style='text-align: center'>
            Описание маркировки ТС
        </h3>
        <v-form ref="form"
                :disabled="!!fields.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Маркировка Двигателя</v-card-title>
                        <v-card-text class="pt-2">
                            <div v-for="(input, index) in fields.ninth.VehicleIdentLocationList"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col>
                                        <v-autocomplete v-model="input.VehicleIdentLocation.value"
                                                        :items="nsisData.VehicleEngineLabelLocationList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :required="input.VehicleIdentLocation.necessary"
                                                        :rules="input.VehicleIdentLocation.necessary?rules.select:[]"
                                                        :label="`${input.VehicleIdentLocation.text}`"
                                                        persistent-hint
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col>
                                        <template>
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addVehicleIdentLocation(input, fields.ninth.VehicleIdentLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeVehicleIdentLocation(index, fields.ninth.VehicleIdentLocationList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </template>
                                    </v-col>
                                </v-row>
                            </div>
                </v-card-text>
                </v-card>
                </v-col>
            </v-row>
            <v-row justify="center"
                   v-if="showVehicleStructureCard"
                   v-for="(inputCard, indexCard) in fields.ninth.VehicleStructureCardList"
                   :key="`inputCard-${indexCard}`"
                   ref="inputCardRef">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">
                            <span>Структура и содержание номера двигателя</span>
                            <v-spacer></v-spacer>
                            <!--          Add Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="addCard(inputCard, fields.ninth.VehicleStructureCardList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="green"
                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="removeCard(indexCard, fields.ninth.VehicleStructureCardList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="#EC4899"
                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                            </svg>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Группа</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-col>
                                    
                                            <v-text-field v-model="inputCard.StartDate.value"
                                                          label="С"
                                                          type="number"
                                                          required
                                                          :disabled="inputCard.StartDate.disabled"
                                                          :rules="[rules.minmax(inputCard.StartDate.value, 1, 50)]"></v-text-field>
                                        
                                </v-col>
                                <v-col>
                                    
                                            <v-text-field v-model="inputCard.EndDate.value"
                                                          label="По"
                                                          type="number"
                                                          required
                                                          :disabled="inputCard.EndDate.disabled"
                                                          :rules="[rules.minmax(inputCard.EndDate.value, 1, 50)]"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-text-field v-model="inputCard.Description.value"
                                          :rules="fieldRules"
                                          required
                                          label="Описание"></v-text-field>
                            <v-row v-for="(input, index) in inputCard.MeaningExplanationList"
                                   :key="`input-${index}`"
                                   class="input wrapper flex items-center">
                                <v-col>
                                    <v-text-field v-model="input.Meaning.value"
                                                  :rules="fieldRules"
                                                  required
                                                  label="Значение"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-model="input.Explanation.value"
                                                  label="Расшифровка"></v-text-field>
                                </v-col>
                                <v-col class="mt-4">
                                    <!--          Add Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="addField(input, inputCard.MeaningExplanationList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="green"
                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                    </svg>
                                    <!--          Remove Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="removeField(index, inputCard.MeaningExplanationList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="#EC4899"
                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                    </svg>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            fields: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class CreateNinthStep extends Vue {
        @Prop() readonly msg!: string
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                fieldRules1: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length < 18) || 'Поле не должно быть более 17 символов',
                    v => (v && v.length > 16) || 'Поле не должно быть менее 17 символов',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || `Поле должно быть в пределах от ${min} до ${max}`;
                    }
                },
                valid: true,
                showVehicleStructureCard: true,

               author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async addVehicleIdentLocation(value, fieldType) {
            fieldType.push({ VehicleIdentLocation: { value: '', text: 'Месторасположение номера двигателя', necessary: true } });
        }

        async removeVehicleIdentLocation(index, fieldType) {
            if (this.$props.fields.ninth.VehicleIdentLocationList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addCard(value, fieldType) {
            fieldType.push({
                menuStartDate: false,
                menuEndDate: false,
                StartDate: { value: '', text: 'С', necessary: true },
                EndDate: { value: '', text: 'По', necessary: true },
                Description: { value: '', text: 'Описание', necessary: true },
                MeaningExplanationList: [{
                    Explanation: { value: '', text: 'Расшифровка', necessary: true },
                    Meaning: { value: '', text: 'Значение', necessary: true }
                }],
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.fields.ninth.VehicleStructureCardList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }



        async addField(value, fieldType) {
            fieldType.push({
                Explanation: { value: '', text: 'Расшифровка', necessary: true },
                Meaning: { value: '', text: 'Значение', necessary: true }
            });
        }

        async removeField(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }

            return false;
        }


    }

</script>