﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Двигатель</v-card-title>
                        <v-card-text class="pt-2">
                            <v-checkbox v-model="tabData.tenth.NotVehicleEngineIndicator.value"
                                        :disabled="tabData.EngineDocExist"
                                        :label="`${tabData.tenth.NotVehicleEngineIndicator.text}`"></v-checkbox>
                            <div v-if="!tabData.tenth.NotVehicleEngineIndicator.value">
                                <v-autocomplete v-model="tabData.tenth.VehicleEngineType.value"
                                                :items="nsisData.VehicleEngineTypeList"
                                                item-text="value"
                                                item-value="key"
                                                :label="`${tabData.tenth.VehicleEngineType.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleEngineType.necessary?rules.select:[]">
                                </v-autocomplete>
                                <v-autocomplete v-model="tabData.tenth.VehicleHybridDesignText.value"
                                                :items="VehicleHybridDesignTextList"
                                                item-text="value"
                                                item-value="key"
                                                v-if="tabData.tenth.VehicleEngineType.value=='3' && VehicleHybridDesignTextList.length >0 "
                                                :label="`${tabData.tenth.VehicleHybridDesignText.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleHybridDesignText.necessary?rules.select:[]">
                                </v-autocomplete>
                                <v-text-field v-model="tabData.tenth.VehicleHybridDesignText.value"
                                              v-if="tabData.tenth.VehicleEngineType.value=='3' && VehicleHybridDesignTextList.length==0 "
                                              :label="`${tabData.tenth.VehicleHybridDesignText.text}`"
                                              :required="tabData.tenth.VehicleHybridDesignText.necessary"
                                              :rules="tabData.tenth.VehicleHybridDesignText.necessary?fieldRules:[]">
                                </v-text-field>
                            </div>
                        </v-card-text>
                    </v-card>
                    <div v-if="!tabData.tenth.NotVehicleEngineIndicator.value">
                        <v-autocomplete v-model="VehicleDVSMakeNam"
                                        :items="VehicleDVSMakeNameList"
                                        item-text="value"
                                        item-value="key"
                                        v-if="tabData.EngineDocExist && isVehicleEngineDVSVisible"
                                        @change="DVSComponentTextChanged"
                                        label="Тип двс"
                                        persistent-hint
                                        multiple
                                        required
                                        :rules="rules.select">
                        </v-autocomplete>
                        <v-card v-if="isVehicleEngineDVSVisible"
                                v-for="(input, index) in tabData.tenth.DvsEngine"
                                :key="`input-${index}`">
                            <v-card-title class="grey">
                                <span>Двигатель внутреннего сгорания</span>
                                <v-spacer></v-spacer>
                                <!--          Add Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="addEngineDVS(input, tabData.tenth.DvsEngine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.EngineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="green"
                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                </svg>

                                <!--          Remove Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="removeEngineDVS(index, tabData.tenth.DvsEngine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.EngineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="#EC4899"
                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                </svg>
                            </v-card-title>
                            <v-card-text class="pt-2">


                                <v-text-field v-model="input.VehicleDVSComponentMakeName.value"
                                              :label="`${input.VehicleDVSComponentMakeName.text}`"
                                              :disabled="tabData.EngineDocExist"
                                              :required="input.VehicleDVSComponentMakeName.necessary"
                                              :rules="input.VehicleDVSComponentMakeName.necessary?fieldRules:[]">
                                </v-text-field>
                                <v-text-field v-model="input.VehicleDVSComponentText.value"
                                              :label="`${input.VehicleDVSComponentText.text}`"
                                              v-if="!tabData.EngineDocExist"
                                              :disabled="tabData.EngineDocExist"
                                              :required="input.VehicleDVSComponentText.necessary"
                                              :rules="input.VehicleDVSComponentText.necessary?fieldRules:[]">
                                </v-text-field>
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Количество и объем цилиндров</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="input.EngineCylinderQuantity.value"
                                                      :disabled="tabData.EngineDocExist"
                                                      :label="`${input.EngineCylinderQuantity.text}`"
                                                      :required="input.EngineCylinderQuantity.necessary"
                                                      :rules="input.EngineCylinderQuantity.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="input.EngineCompressionRate.value"
                                                      :label="`${input.EngineCompressionRate.text}`"
                                                      :disabled="tabData.EngineDocExist"
                                                      :required="input.EngineCompressionRate.necessary"
                                                      :rules="input.EngineCompressionRate.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="input.EngineCapacityMeasure.value"
                                                      :label="`${input.EngineCapacityMeasure.text}`"
                                                      :disabled="tabData.EngineDocExist"
                                                      :required="input.EngineCapacityMeasure.necessary"
                                                      :rules="input.EngineCapacityMeasure.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="input.EngineCapacityMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${input.EngineCapacityMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="input.EngineCapacityMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                                <v-autocomplete v-model="input.EngineCylinderArrangementText.value"
                                                :items="nsisData.EngineCylinderArrangementTextList"
                                                item-text="value"
                                                item-value="key"
                                                :disabled="tabData.EngineDocExist"
                                                :label="`${input.EngineCylinderArrangementText.text}`"
                                                persistent-hint
                                                required
                                                :rules="input.EngineCylinderArrangementText.necessary?rules.select:[]">
                                </v-autocomplete>

                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Максимальная мощность двигателя</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row>
                                    <v-col v-if="EngineMaxPowerMeasureList.length == 0">
                                        <v-text-field v-model="input.EngineMaxPowerMeasure.value"
                                                      :disabled="tabData.EngineDocExist"
                                                      :label="`${input.EngineMaxPowerMeasure.text}`"
                                                      :required="input.EngineMaxPowerMeasure.necessary"
                                                      :rules="input.EngineMaxPowerMeasure.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col v-else>
                                        <v-autocomplete v-model="engineMaxPowerMeasure[index]"
                                                        :items="EngineMaxPowerMeasureList[index]"
                                                        item-text="value"
                                                        item-value="key"
                                                        @change="engineMaxPowerMeasureChanged(index, input, engineMaxPowerMeasure[index])"
                                                        label="Максимальная мощность двигателя"
                                                        persistent-hint
                                                        required
                                                        :rules="rules.select">
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="input.EngineMaxPowerMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${input.EngineMaxPowerMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="input.EngineMaxPowerMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Скорость вращения коленчатого вала</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="input.PowerVehicleShaftRotationFrequencyMinMeasure.value"
                                                      :label="`${input.PowerVehicleShaftRotationFrequencyMinMeasure.text}`"
                                                      :disabled="tabData.EngineDocExist"
                                                      :required="input.PowerVehicleShaftRotationFrequencyMinMeasure.necessary"
                                                      :rules="input.PowerVehicleShaftRotationFrequencyMinMeasure.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="input.PowerVehicleShaftRotationFrequencyMaxMeasure.value"
                                                      :label="`${input.PowerVehicleShaftRotationFrequencyMaxMeasure.text}`"
                                                      :disabled="tabData.EngineDocExist"
                                                      :required="input.PowerVehicleShaftRotationFrequencyMaxMeasure.necessary"
                                                      :rules="input.PowerVehicleShaftRotationFrequencyMaxMeasure.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="input.PowerVehicleShaftRotationFrequencyMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${input.PowerVehicleShaftRotationFrequencyMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="input.PowerVehicleShaftRotationFrequencyMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                                <template v-if="isMaxTorqAndShaftRotationVisible">
                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Максимальный крутящий момент двигателя</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col v-if="EngineMaxTorqueMeasureList.length == 0">
                                            <v-text-field v-model="input.EngineMaxTorqueMeasure.value"
                                                          :label="`${input.EngineMaxTorqueMeasure.text}`"
                                                          :disabled="tabData.EngineDocExist"
                                                          :required="input.EngineMaxTorqueMeasure.necessary"
                                                          :rules="input.EngineMaxTorqueMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col v-else>
                                            <v-autocomplete v-model="engineMaxTorqueMeasure[index]"
                                                            :items="EngineMaxTorqueMeasureList[index]"
                                                            item-text="value"
                                                            item-value="key"
                                                            @change="engineMaxTorqueMeasureChanged(index, input, engineMaxTorqueMeasure[index])"
                                                            label="Максимальный крутящий момент двигателя"
                                                            persistent-hint
                                                            required
                                                            :rules="rules.select">
                                            </v-autocomplete>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="input.EngineMaxTorqueMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${input.EngineMaxTorqueMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="input.EngineMaxTorqueMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>

                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Скорость вращения коленчатого вала</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="input.VehicleShaftRotationFrequencyMinMeasure.value"
                                                          :disabled="tabData.EngineDocExist"
                                                          :label="`${input.VehicleShaftRotationFrequencyMinMeasure.text}`"
                                                          :required="input.VehicleShaftRotationFrequencyMinMeasure.necessary"
                                                          :rules="input.VehicleShaftRotationFrequencyMinMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field v-model="input.VehicleShaftRotationFrequencyMaxMeasure.value"
                                                          :disabled="tabData.EngineDocExist"
                                                          :label="`${input.VehicleShaftRotationFrequencyMaxMeasure.text}`"
                                                          :required="input.VehicleShaftRotationFrequencyMaxMeasure.necessary"
                                                          :rules="input.VehicleShaftRotationFrequencyMaxMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="input.VehicleShaftRotationFrequencyMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${input.VehicleShaftRotationFrequencyMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="input.VehicleShaftRotationFrequencyMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-if="tabData.IsEpts == 3">
                                    <v-divider></v-divider>
                                        <v-row justify="center"
                                             v-for="(inputShaft, indexShaft) in input.EpsmShaftChoicePower"
                                             :key="`inputShaft-${index}-${indexShaft}`"
                                             class="input wrapper flex items-center">
                                            <v-text-field v-model="inputShaft.Power.value"
                                                          :label="`${inputShaft.Power.text}`">
                                                <template slot="append">
                                                    <!--          Add Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="addEpsmShaftChoicePower(inputShaft, input.EpsmShaftChoicePower)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="green"
                                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                    </svg>

                                                    <!--          Remove Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="removeEpsmShaftChoicePower(indexShaft, input.EpsmShaftChoicePower)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="#EC4899"
                                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                    </svg>
                                                </template>
                                            </v-text-field>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-col>
                                            <v-text-field v-model="input.EpsmComponentDescription.value"
                                                          :label="`${input.EpsmComponentDescription.text}`"
                                                          :required="input.EpsmComponentDescription.necessary"
                                                          :rules="input.EpsmComponentDescription.necessary?fieldRules:[]"
                                                          ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-col>
                                            <v-text-field v-model="input.EpsmComponentLocationDescription.value"
                                                          :label="`${input.EpsmComponentLocationDescription.text}`"
                                                          :required="input.EpsmComponentLocationDescription.necessary"
                                                          :rules="input.EpsmComponentLocationDescription.necessary?fieldRules:[]"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-col>
                                            <v-text-field v-model="input.EpsmShaftSpeed.value"
                                                          :label="`${input.EpsmShaftSpeed.text}`"
                                                          :required="input.EpsmShaftSpeed.necessary"
                                                          :rules="input.EpsmShaftSpeed.necessary?fieldRules:[]"
                                                          type="number"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row justify="center">
                                        <v-col>
                                            <v-text-field v-model="input.EpsmTransmitionUnitGearRatio.value"
                                                          :label="`${input.EpsmTransmitionUnitGearRatio.text}`"
                                                          :required="input.EpsmTransmitionUnitGearRatio.necessary"
                                                          :rules="input.EpsmTransmitionUnitGearRatio.necessary?fieldRules:[]"
                                                          type="number"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </template>
                            </v-card-text>
                        </v-card>

                        <v-checkbox v-model="tabData.tenth.NotElectricalEngineIndicator.value"
                                    v-if="isVehicleEngineElecticalVisible"
                                    :label="`${tabData.tenth.NotElectricalEngineIndicator.text}`"></v-checkbox>
                        <v-autocomplete v-model="VehicleElectroMakeName"
                                        :items="VehicleElectroMakeNameList"
                                        item-text="value"
                                        item-value="key"
                                        v-if="tabData.ElectricalEngineDocExist && isVehicleEngineElecticalVisible && !tabData.tenth.NotElectricalEngineIndicator.value"
                                        @change="ElectroComponentMakeNameChanged"
                                        multiple
                                        label="Марка эл.двигателя"
                                        persistent-hint
                                        required
                                        :rules="rules.select">
                        </v-autocomplete>

                        <v-card v-if="isVehicleEngineElecticalVisible && !tabData.tenth.NotElectricalEngineIndicator.value"
                                v-for="(inputCard, indexCard) in tabData.tenth.ElectricalEngine"
                                :key="`inputCard-${indexCard}`">
                            <v-card-title class="grey">
                                <span>Электродвигатель</span>
                                <v-spacer></v-spacer>
                                <!--          Add Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="addElectricalEngine(inputCard, tabData.tenth.ElectricalEngine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.ElectricalEngineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="green"
                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                </svg>

                                <!--          Remove Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="removeElectricalEngine(indexCard, tabData.tenth.ElectricalEngine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.ElectricalEngineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="#EC4899"
                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                </svg>
                            </v-card-title>
                            <v-card-text class="pt-2">
                                <div>
                                    <v-text-field v-model="inputCard.ElectricalEngineMakeName.value"
                                                  :label="`${inputCard.ElectricalEngineMakeName.text}`"
                                                  v-if="!tabData.ElectricalEngineDocExist"
                                                  :required="inputCard.ElectricalEngineMakeName.necessary"
                                                  :rules="inputCard.ElectricalEngineMakeName.necessary?fieldRules:[]">
                                    </v-text-field>
                                    <v-autocomplete v-model="inputCard.ElectricalEngineModelCode.value"
                                                    :items="nsisData.VehicleComponentModelCodeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :disabled="tabData.ElectricalEngineDocExist"
                                                    :label="`${inputCard.ElectricalEngineModelCode.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="inputCard.ElectricalEngineModelCode.necessary?rules.select:[]">
                                    </v-autocomplete>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="inputCard.ElectricalEngineVoltageMeasure.value"
                                                          :label="`${inputCard.ElectricalEngineVoltageMeasure.text}`"
                                                          :required="inputCard.ElectricalEngineVoltageMeasure.necessary"
                                                          :disabled="tabData.ElectricalEngineDocExist"
                                                          :rules="inputCard.ElectricalEngineVoltageMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="inputCard.ElectricalEngineVoltageMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${inputCard.ElectricalEngineVoltageMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="inputCard.ElectricalEngineVoltageMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="inputCard.ElectricEnginePowerMeasure.value"
                                                          :label="`${inputCard.ElectricEnginePowerMeasure.text}`"
                                                          :disabled="tabData.ElectricalEngineDocExist"
                                                          :required="inputCard.ElectricEnginePowerMeasure.necessary"
                                                          :rules="inputCard.ElectricEnginePowerMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="inputCard.ElectricEnginePowerMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${inputCard.ElectricEnginePowerMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="inputCard.ElectricEnginePowerMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                    <v-text-field v-model="inputCard.ElectricEngineVehicleComponentText.value"
                                                  :label="`${inputCard.ElectricEngineVehicleComponentText.text}`"
                                                  :disabled="tabData.ElectricalEngineDocExist"
                                                  :required="inputCard.ElectricEngineVehicleComponentText.necessary"
                                                  :rules="inputCard.ElectricEngineVehicleComponentText.necessary?fieldRules:[]">
                                    </v-text-field>
                                </div>
                            </v-card-text>
                        </v-card>
                    </div>
                    <v-card v-if="tabData.IsEpts == 3"
                            v-for="(inputCard4, indexCard4) in tabData.tenth.EpsmOtherEngine"
                            :key="`inputCard4-${indexCard4}`">
                        <v-card-title class="grey">
                            <span>Другие приводные двигатели или комбинация двигателей</span>
                            <v-spacer></v-spacer>
                            <!--          Add Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="addEpsmOtherEngine(inputCard4, tabData.tenth.EpsmOtherEngine)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="green"
                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="removeEpsmOtherEngine(indexCard4, tabData.tenth.EpsmOtherEngine)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="#EC4899"
                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                            </svg>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="inputCard4.MakeName.value"
                                                  :label="`${inputCard4.MakeName.text}`"
                                                  :required="inputCard4.MakeName.necessary"
                                                  :rules="inputCard4.MakeName.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="inputCard4.TradeMark.value"
                                                  :label="`${inputCard4.TradeMark.text}`"
                                                  :required="inputCard4.TradeMark.necessary"
                                                  :rules="inputCard4.TradeMark.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-autocomplete v-model="inputCard4.EngineType.value"
                                                    :items="nsisData.VehicleEngineTypeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${inputCard4.EngineType.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="inputCard4.EngineType.necessary?rules.select:[]">
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step8 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isVehicleEngineDVSVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "1" || this.$props.tabData.tenth.VehicleEngineType.value == "3") return true;
            return false;
        }

        get isVehicleEngineElecticalVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "2") return true;
            return false;
        }

        get isMaxTorqAndShaftRotationVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '40') return false;
            return true;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                VehicleDVSMakeNam: '',
                VehicleElectroMakeName: '',

                VehicleDVSMakeNameList: [],
                VehicleElectroMakeNameList: [],
                engineDetails: [],
                electroDetails: [],
                maxPowerDetails: [],
                maxTorqueDetails: [],
                EngineMaxPowerMeasureList: [],
                engineMaxPowerMeasure: [],
                EngineMaxTorqueMeasureList: [],
                engineMaxTorqueMeasure: [],

                VehicleHybridDesignTextList: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        async engineMaxPowerMeasureChanged(index, input, val) {
            if (!!val) {
                let cur = this.$data.maxPowerDetails[index].filter(x => x.id == val)
                if (cur.length > 0) {
                    cur = cur[0]
                    input.EngineMaxPowerMeasure.value = cur.engineMaxPowerMeasure?.toString() ?? '';
                    input.PowerVehicleShaftRotationFrequencyMinMeasure.value = cur.engineMaxPowerShaftRotationFrequencyMinMeasure?.toString() ?? '';
                    input.PowerVehicleShaftRotationFrequencyMaxMeasure.value = cur.engineMaxPowerShaftRotationFrequencyMaxMeasure?.toString() ?? '';
                }
            }
        }

        async engineMaxTorqueMeasureChanged(index, input, val) {
            if (!!val) {
                let cur = this.$data.maxTorqueDetails[index].filter(x => x.id == val)
                if (cur.length > 0) {
                    cur = cur[0]
                    input.EngineMaxTorqueMeasure.value = cur.engineMaxTorqueMeasure?.toString() ?? '';
                    input.VehicleShaftRotationFrequencyMinMeasure.value = cur.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure?.toString() ?? '';
                    input.VehicleShaftRotationFrequencyMaxMeasure.value = cur.engineMaxTorqueMeasureShaftRotationFrequencyMaxMeasure?.toString() ?? '';

                }
            }
        }
        @Watch("tabData.tenth.VehicleEngineType.value")
        async VehicleEngineTypeChanged(newVal) {
            if (newVal != '3') this.$props.tabData.tenth.VehicleHybridDesignText.value = ''
            if (newVal == '1' || newVal == '3') {
                this.$props.tabData.tenth.ElectricalEngine = [{
                    ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                    ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
                return
            }
            if (newVal == '2') {
                this.$data.VehicleDVSMakeNam = []
                this.$props.tabData.tenth.DvsEngine = [{
                    VehicleDVSComponentMakeName: { value: '', text: 'Марка', necessary: true },
                    VehicleDVSComponentText: { value: '', text: 'Тип двс', necessary: true },

                    EngineCylinderQuantity: { value: '', text: 'Количество цилиндров', necessary: true },
                    EngineCompressionRate: { value: '', text: 'Степень сжатия', necessary: true },
                    EngineCapacityMeasure: { value: '', text: 'Рабочий объем цилиндров', necessary: true },
                    EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                    EngineCylinderArrangementText: { value: '', text: 'Расположение цилиндров', necessary: true },
                    //Максимальная мощность двигателя
                    EngineMaxPowerMeasure: { value: '', text: 'Максимальная мощность', necessary: true },
                    EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    //Скорость вращения коленчатого вала
                    PowerVehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                    PowerVehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                    PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                    //Максимальный крутящий момент двигателя
                    EngineMaxTorqueMeasure: { value: '', text: 'Максимальный крутящий момент', necessary: true },
                    EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                    //Скорость вращения коленчатого вала
                    VehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                    VehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                    VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                    EpsmShaftChoicePower: [{ Power: { value: '', text: 'Вал отбора мощности', necessary: false } }],
                    EpsmComponentDescription: { value: '', text: 'Описание компонента', necessary: true },
                    EpsmComponentLocationDescription: { value: '', text: 'Описание расположение компонента', necessary: true },
                    EpsmShaftSpeed: { value: '', text: 'Скорость вращения вала', necessary: false },
                    EpsmTransmitionUnitGearRatio: { value: '', text: 'Передаточное число узла трансмиссии', necessary: false },
                }]

            }
        }
        @Watch("tabData.tenth.NotVehicleEngineIndicator.value")
        async NotVehicleEngineIndicatorChanged(newVal) {
            if (newVal) {
                this.$props.tabData.tenth.DvsEngine = [{
                    pk: { value: '', text: 'ИД двигателя оттс', necessary: true },
                    VehicleDVSComponentMakeName: { value: '', text: 'Марка', necessary: true },
                    VehicleDVSComponentText: { value: '', text: 'Тип двс', necessary: true },

                    EngineCylinderQuantity: { value: '', text: 'Количество цилиндров', necessary: true },
                    EngineCompressionRate: { value: '', text: 'Степень сжатия', necessary: true },
                    EngineCapacityMeasure: { value: '', text: 'Рабочий объем цилиндров', necessary: true },
                    EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                    EngineCylinderArrangementText: { value: '', text: 'Расположение цилиндров', necessary: true },
                    //Максимальная мощность двигателя
                    EngineMaxPowerMeasure: { value: '', text: 'Максимальная мощность', necessary: true },
                    EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    //Скорость вращения коленчатого вала
                    PowerVehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                    PowerVehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                    PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                    //Максимальный крутящий момент двигателя
                    EngineMaxTorqueMeasure: { value: '', text: 'Максимальный крутящий момент', necessary: true },
                    EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                    //Скорость вращения коленчатого вала
                    VehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                    VehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                    VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                    EpsmShaftChoicePower: [{ Power: { value: '', text: 'Вал отбора мощности', necessary: false } }],
                    EpsmComponentDescription: { value: '', text: 'Описание компонента', necessary: true },
                    EpsmComponentLocationDescription: { value: '', text: 'Описание расположение компонента', necessary: true },
                    EpsmShaftSpeed: { value: '', text: 'Скорость вращения вала', necessary: false },
                    EpsmTransmitionUnitGearRatio: { value: '', text: 'Передаточное число узла трансмиссии', necessary: false },
                }]
                this.$props.tabData.tenth.ElectricalEngine = [{
                    ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                    ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
                this.$props.tabData.tenth.ElectricalMachine = [{
                    ElectricalMachineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalMachineMakeName: { value: '', text: 'Марка электромашины', necessary: true },
                    ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
            }
            if (this.$props.tabData.EngineDocExist) return
            if (!newVal) {
                this.$props.tabData.tenth.VehicleEngineType.value = '';
            }
        }

        @Watch("tabData.tenth.NotElectricalEngineIndicator.value")
        async NotElectricalEngineIndicatorChanged(newVal) {
            if (newVal) {
                this.$data.VehicleElectroMakeName = ''
                this.$props.tabData.tenth.ElectricalEngine = [{
                    ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                    ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
            }
        }

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("EngineDoc", (arg1) => {
                this.$data.VehicleDVSMakeNameList = arg1.engineDetails.map(item => { return { key: item.id, value: item.vehicleComponentText } });
                this.$data.engineDetails = arg1.engineDetails;
                if (arg1?.vehicleHybridDesigns.length > 0)
                    this.$data.VehicleHybridDesignTextList = arg1?.vehicleHybridDesigns.map(x => { return { key: x.vehicleHybridDesignText, value: x.vehicleHybridDesignText } })
            })
            this.$root.$on("ElectricalEngineDoc", (arg1) => {
                this.$props.tabData.tenth.NotElectricalEngineIndicator.value = arg1.notElectricalMachineDetailIndicator;
                this.$data.VehicleElectroMakeNameList = arg1.electricalMachineDetails.filter(item => item.electricalMachineKindCode == '01').map(item => {
                    return { key: item.id, value: `${item.vehicleComponentMakeName} (${this.$props.nsisData.VehicleComponentModelCodeList.filter(x => x.key == item.electricalMachineTypeCode)[0].value})` }
                });
                this.$data.electroDetails = arg1.electricalMachineDetails.filter(item => item.electricalMachineKindCode == '01');
            });

            this.$root.$on("preSavedDVS", (data) => {
                if (data.dvsEngine.length > 0 && (data.dvsEngine[0].vehicleDVSComponentMakeName != '' || data.dvsEngine[0].vehicleDVSComponentText != '')) {
                    this.$data.VehicleDVSMakeNam = data.dvsEngine.map(x => parseInt(x.pk));
                    this.DVSComponentTextChanged(this.$data.VehicleDVSMakeNam, data);
                }
                if (data.electricalEngine.length > 0 && (data.electricalEngine[0].electricalEngineKindCode != '' || data.electricalEngine[0].electricalEngineMakeName != '')) {
                    let ids: any = [];
                    for (let dvs of data.electricalEngine) {
                        let dvsData = this.$data.electroDetails.filter(item => dvs.electricalEngineModelCode == item.electricalMachineTypeCode
                            && dvs.electricalEngineMakeName == item.vehicleComponentMakeName)
                        ids.push(dvsData[0].id)
                        this.$data.VehicleElectroMakeName = ids;
                    }

                    this.ElectroComponentMakeNameChanged(this.$data.VehicleElectroMakeName);
                }
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("EngineDoc");
            this.$root.$off("ElectricalEngineDoc");
            this.$root.$off("preSavedDVS");
        }

        async DVSComponentTextChanged(ComponentId, data) {
            if (ComponentId.length == 0) {
                this.$data.maxPowerDetails = [];
                this.$data.EngineMaxPowerMeasureList = []
                this.$data.engineMaxPowerMeasure = [];
                this.$data.maxTorqueDetails = []
                this.$data.EngineMaxTorqueMeasureList = []
                this.$data.engineMaxTorqueMeasure = [];
                this.$root.$emit("EngineDocContinue", []);
                return;
            }
            this.$props.tabData.tenth.DvsEngine = []
            this.$data.engineMaxPowerMeasure = [];
            this.$data.engineMaxTorqueMeasure = [];
            this.$data.maxPowerDetails = [];
            this.$data.maxTorqueDetails = []
            this.$data.EngineMaxPowerMeasureList = []
            this.$data.EngineMaxTorqueMeasureList = []

            let details = this.$data.engineDetails.filter(item => ComponentId.indexOf(item.id) != -1)
            let measures = data?.dvsEngine ?? undefined

            details.forEach((detail, i) => {
                this.$data.engineMaxPowerMeasure[i] = ''
                this.$data.engineMaxTorqueMeasure[i] = ''

                this.$data.maxPowerDetails.push(detail.enginePowerDetails);
                this.$data.EngineMaxPowerMeasureList.push(detail.enginePowerDetails.map(x => { return { key: x.id, value: x.engineMaxPowerMeasure?.toString() } }))
                this.$data.maxTorqueDetails.push(detail.engineTorqueDetails);
                this.$data.EngineMaxTorqueMeasureList.push(detail.engineTorqueDetails.map(x => { return { key: x.id, value: x.engineMaxTorqueMeasure?.toString() } }))
                if (measures != undefined && measures.filter(x => x.pk == detail.id).length > 0) {
                    let measure = measures.filter(x => x.pk == detail.id)[0]
                    if (measure === undefined) return;
                    this.$data.engineMaxPowerMeasure[i] = detail.enginePowerDetails.filter(x => measure.engineMaxPowerMeasure == x.engineMaxPowerMeasure)[0].id
                    this.$data.engineMaxTorqueMeasure[i] = detail.engineTorqueDetails.filter(x => measure.engineMaxTorqueMeasure == x.engineMaxTorqueMeasure)[0].id
                    this.$props.tabData.tenth.DvsEngine.push(
                        {
                            pk: { value: measure.pk, text: 'ИД двигателя оттс', necessary: true },// для сохранения связи с оттс при редактировании
                            VehicleDVSComponentMakeName: { value: measure.vehicleDVSComponentMakeName ?? '', text: 'Марка', necessary: true },
                            VehicleDVSComponentText: { value: measure.vehicleDVSComponentText?.toString() ?? '', text: 'Тип', necessary: true },

                            EngineCylinderQuantity: { value: measure.engineCylinderQuantity?.toString() ?? '', text: 'Количество цилиндров', necessary: true },
                            EngineCompressionRate: { value: measure.engineCompressionRate?.toString() ?? '', text: 'Степень сжатия', necessary: true },
                            EngineCapacityMeasure: { value: measure.engineCapacityMeasure?.toString() ?? '', text: 'Рабочий объем цилиндров', necessary: true },
                            EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                            EngineCylinderArrangementText: { value: measure.engineCylinderArrangementText, text: 'Расположение цилиндров', necessary: true },
                            //Максимальная мощность двигателя
                            EngineMaxPowerMeasure: { value: measure.engineMaxPowerMeasure, text: 'Максимальная мощность', necessary: true },
                            EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            PowerVehicleShaftRotationFrequencyMinMeasure: { value: measure.powerVehicleShaftRotationFrequencyMinMeasure, text: 'Минимально', necessary: true },
                            PowerVehicleShaftRotationFrequencyMaxMeasure: { value: measure.powerVehicleShaftRotationFrequencyMaxMeasure, text: 'Максимально', necessary: false },
                            PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                            //Максимальный крутящий момент двигателя
                            EngineMaxTorqueMeasure: { value: measure.engineMaxTorqueMeasure, text: 'Максимальный крутящий момент', necessary: true },
                            EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            VehicleShaftRotationFrequencyMinMeasure: { value: measure.vehicleShaftRotationFrequencyMinMeasure, text: 'Минимально', necessary: true },
                            VehicleShaftRotationFrequencyMaxMeasure: { value: measure.vehicleShaftRotationFrequencyMaxMeasure, text: 'Максимально', necessary: false },
                            VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                        })
                } else {
                    this.$props.tabData.tenth.DvsEngine.push(
                        {
                            pk: { value: detail.id, text: 'ИД двигателя оттс', necessary: true },// для сохранения связи с оттс при редактировании
                            VehicleDVSComponentMakeName: { value: detail.vehicleComponentMakeName?.toString() ?? '', text: 'Марка', necessary: true },
                            VehicleDVSComponentText: { value: detail.vehicleComponentText?.toString() ?? '', text: 'Тип', necessary: true },

                            EngineCylinderQuantity: { value: detail.engineCylinderQuantity?.toString() ?? '', text: 'Количество цилиндров', necessary: true },
                            EngineCompressionRate: { value: detail.engineCompressionRate?.toString() ?? '', text: 'Степень сжатия', necessary: true },
                            EngineCapacityMeasure: { value: detail.engineCapacityMeasure?.toString() ?? '', text: 'Рабочий объем цилиндров', necessary: true },
                            EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                            EngineCylinderArrangementText: { value: detail.engineCylinderArrangementCode, text: 'Расположение цилиндров', necessary: true },
                            //Максимальная мощность двигателя
                            EngineMaxPowerMeasure: { value: '', text: 'Максимальная мощность', necessary: true },
                            EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            PowerVehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                            PowerVehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                            PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                            //Максимальный крутящий момент двигателя
                            EngineMaxTorqueMeasure: { value: '', text: 'Максимальный крутящий момент', necessary: true },
                            EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            VehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                            VehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                            VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                        })
                }
            })
            this.$root.$emit("EngineDocContinue", [details[0], data]);
        }

        async addEngineDVS(value, fieldType) {
            this.$data.engineMaxPowerMeasure.push('')
            this.$data.engineMaxTorqueMeasure.push('')
            fieldType.push({
                pk: { value: '', text: 'ИД двигателя оттс', necessary: true },
                VehicleDVSComponentMakeName: { value: '', text: 'Марка', necessary: true },
                VehicleDVSComponentText: { value: '', text: 'Тип двс', necessary: true },

                EngineCylinderQuantity: { value: '', text: 'Количество цилиндров', necessary: true },
                EngineCompressionRate: { value: '', text: 'Степень сжатия', necessary: true },
                EngineCapacityMeasure: { value: '', text: 'Рабочий объем цилиндров', necessary: true },
                EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                EngineCylinderArrangementText: { value: '', text: 'Расположение цилиндров', necessary: true },
                //Максимальная мощность двигателя
                EngineMaxPowerMeasure: { value: '', text: 'Максимальная мощность', necessary: true },
                EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                //Скорость вращения коленчатого вала
                PowerVehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                PowerVehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                //Максимальный крутящий момент двигателя
                EngineMaxTorqueMeasure: { value: '', text: 'Максимальный крутящий момент', necessary: true },
                EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                //Скорость вращения коленчатого вала
                VehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                VehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                EpsmShaftChoicePower: [{ Power: { value: '', text: 'Вал отбора мощности', necessary: false } }],
                EpsmComponentDescription: { value: '', text: 'Описание компонента', necessary: true },
                EpsmComponentLocationDescription: { value: '', text: 'Описание расположение компонента', necessary: true },
                EpsmShaftSpeed: { value: '', text: 'Скорость вращения вала', necessary: false },
                EpsmTransmitionUnitGearRatio: { value: '', text: 'Передаточное число узла трансмиссии', necessary: false },
            });
        }

        async removeEngineDVS(index, fieldType) {
            this.$data.engineMaxPowerMeasure.splice(index, 1);
            this.$data.engineMaxTorqueMeasure.splice(index, 1);
            if (this.$props.tabData.tenth.DvsEngine.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async ElectroComponentMakeNameChanged(ComponentMakeNameId) {
            if (ComponentMakeNameId != undefined && ComponentMakeNameId.length == 0) {
                this.$props.tabData.tenth.ElectricalEngine = [{
                    ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                    ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
                return
            }
            this.$props.tabData.tenth.ElectricalEngine = []
            this.$data.electroDetails.filter(item => ComponentMakeNameId.indexOf(item.id) != -1).forEach(detail => {
                this.$props.tabData.tenth.ElectricalEngine.push({
                    ElectricalEngineKindCode: { value: detail.electricalMachineKindCode?.toString() ?? '', text: 'Вид', necessary: true },
                    ElectricalEngineMakeName: { value: detail.vehicleComponentMakeName?.toString() ?? '', text: 'Марка эл.двигателя', necessary: true },
                    ElectricalEngineModelCode: { value: detail.electricalMachineTypeCode?.toString() ?? '', text: 'Тип', necessary: true },
                    ElectricalEngineVoltageMeasure: { value: detail.electricalMachineVoltageMeasure?.toString() ?? '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricEnginePowerMeasure: { value: detail.electricMotorPowerMeasure?.toString() ?? '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricEngineVehicleComponentText: { value: detail.vehicleComponentText?.toString() ?? '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true }
                });
            });
            //this.$root.$emit("ElectricalEngineDocContinue", details);
        }

        async addElectricalEngine(value, fieldType) {
            fieldType.push({
                ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
            });
        }

        async removeElectricalEngine(index, fieldType) {
            if (this.$props.tabData.tenth.ElectricalEngine.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addEpsmOtherEngine(value, fieldType) {
            fieldType.push({
                MakeName: { value: '', text: 'Марка', necessary: true },
                TradeMark: { value: '', text: 'Торговое наименование установленное изготовителем', necessary: true },
                EngineType: { value: '', text: 'Тип двигателя', necessary: true },
            });
        }

        async removeEpsmOtherEngine(index, fieldType) {
            if (this.$props.tabData.tenth.EpsmOtherEngine.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }
        
        async addEpsmShaftChoicePower(value, fieldType) {
            fieldType.push({ Power: { value: '', text: 'Вал отбора мощности', necessary: false } });
        }

        async removeEpsmShaftChoicePower(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }
        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }
    }

</script>