﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Рулевое управление/Тормозные системы</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col cols="4"><span style="color:#e67e22">Рулевое управление</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>

                            <v-checkbox v-model="tabData.tenth.NotVehicleSteeringDetailIndicator.value"
                                        :label="`${tabData.tenth.NotVehicleSteeringDetailIndicator.text}`"></v-checkbox>
                            <div v-if="!tabData.tenth.NotVehicleSteeringDetailIndicator.value">
                                <template v-if="tabData.SteeringDoc">
                                    <v-autocomplete v-model="tabData.tenth.VehicleSteeringDetailComponentText.value"
                                                    :items="VehicleSteeringDetailComponentTextList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleSteeringDetailComponentText.text}`"
                                                    persistent-hint
                                                    :required="isSteeringRequired"
                                                    :rules="isSteeringRequired?rules.select:[]">
                                    </v-autocomplete>
                                    <v-autocomplete v-model="tabData.tenth.SteeringWheelPositionCode.value"
                                                    :items="SteeringWheelPositionCodeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.SteeringWheelPositionCode.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                    <v-autocomplete v-model="tabData.tenth.VehicleSteeringComponentLocationText.value"
                                                    :items="VehicleTextList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleSteeringComponentLocationText.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                </template>
                                <template v-else>
                                    <v-text-field v-model="tabData.tenth.VehicleSteeringDetailComponentText.value"
                                                  :label="`${tabData.tenth.VehicleSteeringDetailComponentText.text}`"
                                                  :required="isSteeringRequired"
                                                  :rules="isSteeringRequired?fieldRules:[]">
                                    </v-text-field>

                                    <v-autocomplete v-model="tabData.tenth.SteeringWheelPositionCode.value"
                                                    :items="nsisData.SteeringWheelPositionCodeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.SteeringWheelPositionCode.text}`"
                                                    persistent-hint>
                                    </v-autocomplete>
                                    <v-text-field v-model="tabData.tenth.VehicleSteeringComponentLocationText.value"
                                                  :label="`${tabData.tenth.VehicleSteeringComponentLocationText.text}`">
                                    </v-text-field>
                                </template>
                            </div>
                            <v-checkbox v-model="tabData.tenth.NotVehicleBrakingSystemDetailIndicator.value"
                                        :disabled="tabData.BrakingDoc"
                                        @click="VehicleBrakingClicked(tabData.tenth.NotVehicleBrakingSystemDetailIndicator.value)"
                                        :label="`${tabData.tenth.NotVehicleBrakingSystemDetailIndicator.text}`"></v-checkbox>
                            <v-autocomplete v-model="VehicleBraking"
                                            :items="VehicleBrakingList"
                                            @change="breakingSystemMultipleChanged"
                                            item-text="value"
                                            item-value="key"
                                            v-if="tabData.BrakingDoc && !tabData.tenth.NotVehicleBrakingSystemDetailIndicator.value"
                                            label="Выберите тормозную систему"
                                            multiple
                                            persistent-hint
                                            :required="isBrakingRequired"
                                            :rules="isBrakingRequired?rules.select:[]">
                            </v-autocomplete>
                            <div v-for="(inputCard, indexCard) in tabData.tenth.VehicleBrakingSystemList"
                                 :key="`inputCard-${indexCard}`"
                                 v-if="!tabData.tenth.NotVehicleBrakingSystemDetailIndicator.value"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col cols="4">
                                        <span style="color:#e67e22">Тормозные системы</span>
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addVehicleBrakingSystem(inputCard, tabData.tenth.VehicleBrakingSystemList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!tabData.BrakingDoc"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeVehicleBrakingSystem(indexCard, tabData.tenth.VehicleBrakingSystemList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!tabData.BrakingDoc"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-autocomplete v-model="inputCard.VehicleBrakingSystemKindCode.value"
                                                :items="nsisData.VehicleBrakingSystemKindCodeList"
                                                @change="breakingSystemKindChanged"
                                                item-text="value"
                                                item-value="key"
                                                :disabled="tabData.BrakingDoc"
                                                :label="`${inputCard.VehicleBrakingSystemKindCode.text}`"
                                                persistent-hint
                                                :required="isBrakingRequired"
                                                :rules="isBrakingRequired?rules.select:[]">
                                </v-autocomplete>
                                <v-text-field v-model="inputCard.VehicleComponentText.value"
                                              :label="`${inputCard.VehicleComponentText.text}`"
                                              :disabled="tabData.BrakingDoc"
                                              :required="isBrakingRequired"
                                              :rules="isBrakingRequired?fieldRules:[]">
                                </v-text-field>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step15 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        data() {
            return {
                // datas and helpers  VehicleBrakingSystemList
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                VehicleSteeringDetailComponentTextList: [],
                SteeringWheelPositionCodeList: [],
                VehicleTextList: [],
                // fields
                vehicleSteeringDetails: [],

                VehicleBraking: [],
                VehicleBrakingList: [],
                VehicleBrakingDetails: [],
                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        @Watch("tabData.tenth.NotVehicleSteeringDetailIndicator.value")
        async NotVehicleSteeringDetailIndicatorChanged(val) {
            if (!!val) {
                this.$props.tabData.tenth.VehicleSteeringDetailComponentText.value = "";
            }
        }

        @Watch("tabData.tenth.SteeringWheelPositionCode.value")
        async getWheelPositionChanged(val) {
            if (val != "")
                this.$props.tabData.tenth.VehicleSteeringComponentLocationText.value = "";
            this.$data.VehicleTextList = this.$data.vehicleSteeringDetails.map(x => { return { key: x.vehicleSteeringDescription, value: x.vehicleSteeringDescription } });
        }

        get isSteeringRequired(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)
                && this.$props.tabData.first.VehicleEPassportBaseCode.value == '03'
                && this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')) return false;
            return true
        }

        get isBrakingRequired(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)
                && (this.$props.tabData.first.VehicleEPassportBaseCode.value == '01'
                    || this.$props.tabData.first.VehicleEPassportBaseCode.value == '02'
                    || this.$props.tabData.first.VehicleEPassportBaseCode.value == '04')
                && (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l'))) return true;
            return false
        }

        async breakingSystemKindChanged(value) {
            if (!!value) return
            if (this.$props.tabData.BrakingDoc) return
            let self = this;
            let temp: number[] = new Array();
            this.$props.tabData.tenth.VehicleBrakingSystemList.forEach(function (item, index, array) {
                if (!temp.includes(item.VehicleBrakingSystemKindCode.value)) {
                    temp.push(item.VehicleBrakingSystemKindCode.value)
                } else {
                    setTimeout(() => item.VehicleBrakingSystemKindCode.value = '', 100);
                    self.$props.show_messageParent("Уже существует в вашей карте");
                }
            })
        }

        async VehicleBrakingClicked(indicator) {
            if (indicator) {
                this.$props.tabData.tenth.VehicleBrakingSystemList = [{
                    VehicleBrakingSystemKindCode: { value: '', text: 'Наименование элемента тормозной системы', necessary: true },
                    VehicleComponentText: { value: '', text: 'Описание', necessary: true },
                }];
            }
        }

        async addVehicleBrakingSystem(value, fieldType) {
            fieldType.push({
                VehicleBrakingSystemKindCode: { value: '', text: 'Наименование элемента тормозной системы', necessary: true },
                VehicleComponentText: { value: '', text: 'Описание', necessary: true },
            });
        }

        async removeVehicleBrakingSystem(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleBrakingSystemList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return;
            }
            fieldType.splice(index, 1);
        }

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("SteeringDoc", (arg) => {
                this.$props.tabData.tenth.NotVehicleSteeringDetailIndicator.value = arg.notVehicleSteeringDetailIndicator;
                this.$props.tabData.SteeringDoc = true;

                this.$data.VehicleSteeringDetailComponentTextList = arg.vehicleSteeringDescriptions.map(x => { return { key: x.description, value: x.description } })
                if (arg.vehicleSteeringDetails.length == 0) return;
                this.$data.SteeringWheelPositionCodeList = arg.vehicleSteeringDetails.map(x => { return { key: x.steeringWheelPositionCode, value: x.steeringWheelPositionName } });
                this.$data.vehicleSteeringDetails = arg.vehicleSteeringDetails;

            })

            this.$root.$on("BrakingDoc", (arg) => {
                this.$props.tabData.tenth.NotVehicleBrakingSystemDetailIndicator.value = arg.notVehicleBrakingSystemDetailIndicator
                this.$props.tabData.BrakingDoc = true;
                this.$data.VehicleBrakingDetails = arg.vehicleBrakingSystemDetails;
                if (arg.notVehicleBrakingSystemDetailIndicator == 1) return
                this.$data.VehicleBrakingList = arg.vehicleBrakingSystemDetails.map(x => {
                    return {
                        key: x.vehicleBrakingSystemKindCode,
                        value: x.vehicleBrakingSystemKindName
                    }
                })
            })
            this.$root.$on("preSavedBrakeSteer", (data) => {
                if (data.vehicleBrakingSystemList.length == 1 && data.vehicleBrakingSystemList[0].vehicleComponentText == '') return
                this.$data.VehicleBraking = data.vehicleBrakingSystemList.map(x => x.vehicleBrakingSystemKindCode);
                this.breakingSystemMultipleChanged(this.$data.VehicleBraking);
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
                this.$props.tabData.BrakingDoc = false;
                this.$props.tabData.SteeringDoc = false;
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("SteeringDoc");
            this.$root.$off("BrakingDoc");
            this.$root.$off("preSavedBrakeSteer");
        }

        async breakingSystemMultipleChanged(val) {
            this.$props.tabData.tenth.VehicleBrakingSystemList = []
            val.forEach(x => {
                this.$props.tabData.tenth.VehicleBrakingSystemList.push({
                    VehicleBrakingSystemKindCode: { value: x, text: 'Наименование элемента тормозной системы', necessary: true },
                    VehicleComponentText: { value: this.$data.VehicleBrakingDetails.filter(item => item.vehicleBrakingSystemKindCode == x)[0].vehicleBrakingSystemDescription, text: 'Описание', necessary: true },
                });
            })
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>