﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Количество мест для сидения/Количество мест спереди/сзади</v-card-title>
                        <v-card-text class="pt-2" v-if="!tabData.SeatDocExist">
                            <template v-if="[1].includes(tabData.IsEpts)">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество мест для сидения</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <template v-if="isSeatQuantityVisible">
                                    <v-text-field v-model="tabData.tenth.SeatQuantity.value"
                                                  :label="`${tabData.tenth.SeatQuantity.text}`"
                                                  type="number"
                                                  :required="tabData.tenth.SeatQuantity.necessary"
                                                  :rules="tabData.tenth.SeatQuantity.necessary?fieldRules:[]">
                                    </v-text-field>
                                    <v-text-field v-model="tabData.tenth.SeatDescription.value"
                                                  :label="`${tabData.tenth.SeatDescription.text}`"
                                                  v-if="isTechCategory_M2_M3"
                                                  :required="tabData.tenth.SeatDescription.necessary"
                                                  :rules="tabData.tenth.SeatDescription.necessary?fieldRules:[]">
                                    </v-text-field>
                                </template>
                                <template v-else>
                                    Заполнение не требуется
                                </template>

                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество мест спереди/сзади</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <template v-if="isSeatRawAndQuantityVisible">
                                    <v-row v-for="(input, index) in tabData.tenth.SeatRawAndQuantityList"
                                           :key="`input-${index}`"
                                           class="input wrapper flex items-center">
                                        <v-col>
                                            <v-text-field v-model="input.SeatRawOrdinal.value"
                                                          :label="`${input.SeatRawOrdinal.text}`"
                                                          type="number"
                                                          :required="input.SeatRawOrdinal.necessary"
                                                          :rules="input.SeatRawOrdinal.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field v-model="input.SeatQuantity.value"
                                                          :label="`${input.SeatQuantity.text}`"
                                                          type="number"
                                                          :required="input.SeatQuantity.necessary"
                                                          :rules="input.SeatQuantity.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addSeatRawAndQuantity(input, tabData.tenth.SeatRawAndQuantityList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeSeatRawAndQuantity(index, tabData.tenth.SeatRawAndQuantityList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-else>
                                    Заполнение не требуется
                                </template>
                            </template>
                            <template v-else>
                                Заполнение не требуется
                            </template>
                        </v-card-text>
                        <v-card-text class="pt-2" v-else >
                            <template v-if="[1].includes(tabData.IsEpts)">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество мест для сидения</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <template v-if="isSeatQuantityVisible">
                                    <v-autocomplete v-model="SeatQuantity"
                                                    :items="nsisData.SeatQuantityList"
                                                    item-text="seatQuantity"
                                                    item-value="id"
                                                    :label="`${tabData.tenth.SeatQuantity.text}`"
                                                    persistent-hint
                                                    @change="SeatQuantityChanged(SeatQuantity)"
                                                    required
                                                    :rules="tabData.tenth.SeatQuantity.necessary?rules.select:[]">
                                    </v-autocomplete>
                                    
                                    <v-text-field v-model="tabData.tenth.SeatDescription.value"
                                                  :label="`${tabData.tenth.SeatDescription.text}`"
                                                  v-if="isTechCategory_M2_M3"
                                                  :required="tabData.tenth.SeatDescription.necessary"
                                                  :rules="tabData.tenth.SeatDescription.necessary?fieldRules:[]">
                                    </v-text-field>
                                </template>
                                <template v-else>
                                    Заполнение не требуется
                                </template>

                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество мест спереди/сзади</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <template v-if="isSeatRawAndQuantityVisible">
                                    <v-row v-for="(input, index) in tabData.tenth.SeatRawAndQuantityList"
                                           :key="`input-${index}`"
                                           class="input wrapper flex items-center">
                                        <v-col>
                                            <v-text-field v-model="input.SeatRawOrdinal.value"
                                                          :label="`${input.SeatRawOrdinal.text}`"
                                                          type="number"
                                                          disabled
                                                          :required="input.SeatRawOrdinal.necessary"
                                                          :rules="input.SeatRawOrdinal.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field v-model="input.SeatQuantity.value"
                                                          :label="`${input.SeatQuantity.text}`"
                                                          type="number"
                                                          disabled
                                                          :required="input.SeatQuantity.necessary"
                                                          :rules="input.SeatQuantity.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addSeatRawAndQuantity(input, tabData.tenth.SeatRawAndQuantityList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeSeatRawAndQuantity(index, tabData.tenth.SeatRawAndQuantityList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-else>
                                    Заполнение не требуется
                                </template>
                            </template>
                            <template v-else>
                                Заполнение не требуется
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step3 extends Vue {
        // @Prop() readonly test!: any
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                SeatQuantity: '',




                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        async SeatQuantityChanged(value) {
            if (!!!value) return
            let item = this.$props.nsisData.SeatQuantityList.filter(x => x.id == value)[0]


            this.$props.tabData.tenth.SeatQuantity.value = item.seatQuantity.toString();
            this.$props.tabData.tenth.SeatDescription.value = item.seatDescription?.toString() ?? '';

            let temp: object[] = []
            item.vehicleSeatRawDetails.forEach(function (el) {
                temp.push({
                    SeatQuantity: { value: el.seatRawQuantity.toString(), text: 'Количество мест', necessary: true },
                    SeatRawOrdinal: { value: el.seatRawOrdinal.toString(), text: 'Ряд', necessary: true },
                })
            })
            this.$props.tabData.tenth.SeatRawAndQuantityList = temp



        }

        get isSeatQuantityVisible(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m') || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l')) {
                return true;
            }
            return false;
        }

        get isSeatRawAndQuantityVisible(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m1') || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m1g')) {
                return true;
            }
            return false;
        }

        get isTechCategory_M2_M3(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m2') || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3')) {
                return true;
            }
            return false;
        }

        created() {
            //console.log("l", this.$parent)
        };

        async addSeatRawAndQuantity(value, fieldType) {
            fieldType.push({
                SeatQuantity: { value: '', text: 'Количество мест', necessary: true },
                SeatRawOrdinal: { value: '', text: 'Ряд', necessary: true },
            });
        }

        async removeSeatRawAndQuantity(index, fieldType) {
            if (this.$props.tabData.tenth.SeatRawAndQuantityList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
            this.$root.$on("preSavedSeat", (data) => {
                let id = 0;

                this.$props.nsisData.SeatQuantityList.filter(x => x.seatQuantity.toString() == data.seatQuantity).forEach((item) => {
                        let found = true;
                        let i = 0;
                        for (let el of item.vehicleSeatRawDetails) {
                            if (el.seatRawQuantity.toString() != data.seatRawAndQuantityList[i].seatQuantity.toString()
                                || el.seatRawOrdinal.toString() != data.seatRawAndQuantityList[i].seatRawOrdinal.toString()) {
                                found = false;
                                break;
                            }
                            i++;
                        }
                        id = item.id;
                        if (found) return;
                    })
                this.$data.SeatQuantity = id;
                this.SeatQuantityChanged(id);
                if (data.seatDescription != '') {
                    this.$props.tabData.tenth.SeatDescription.value = data.seatDescription;
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("preSavedSeat");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>