﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">
                            <span>
                                Оборудование{{tabData.IsEpts!=2?``:` шасси`}} транспортного средства
                            </span>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-autocomplete v-model="equipmentDataItem"
                                            :items="equipmentData"
                                            item-text="value"
                                            @change="equipmentChanged"
                                            item-value="key"
                                            v-if="equipmentData.length > 0"
                                            multiple
                                            label="Выбор оборудования транспортного средства"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-row justify="center"
                                   v-for="(inputCard, indexCard) in tabData.tenth.VehicleEquipmentList"
                                   :key="`inputCard-${indexCard}`"
                                   ref="inputCardRef">
                                <v-col cols="12">
                                    <v-textarea clearable
                                                auto-grow
                                                :disabled="tabData.EquipmentInfosDoc"
                                                clear-icon="mdi-close-circle"
                                                v-model="inputCard.VehicleEquipmentText.value"
                                                :label="`${inputCard.VehicleEquipmentText.text}`"
                                                :required="inputCard.VehicleEquipmentText.necessary"
                                                :rules="inputCard.VehicleEquipmentText.necessary?fieldRules:[]">
                                    </v-textarea>
                                    <v-spacer></v-spacer>
                                    <!--          Add Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="addCard(inputCard, tabData.tenth.VehicleEquipmentList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         v-if="!tabData.EquipmentInfosDoc"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="green"
                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                    </svg>

                                    <!--          Remove Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="removeCard(indexCard, tabData.tenth.VehicleEquipmentList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         v-if="!tabData.EquipmentInfosDoc"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="#EC4899"
                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                    </svg>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step17 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,

                // fields
                equipmentData: [],
                equipmentDataItem:[],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("EquipmentInfosDoc", (arg) => {
                this.$props.tabData.EquipmentInfosDoc = true;
                this.$props.tabData.tenth.VehicleEquipmentList = [];
                if (arg.vehicleEquipmentInfos.length == 0) return;
                this.$data.equipmentData = arg.vehicleEquipmentInfos.map(x => { return { key: x.vehicleEquipmentText, value: x.vehicleEquipmentText.substring(0, 120)+'...' }});
            });

            this.$root.$on("preSavedEquipment", (data) => {
                if (data.length > 0 && data[0].vehicleEquipmentText != '') {
                    this.$data.equipmentDataItem = data.map(x => x.vehicleEquipmentText);
                    this.equipmentChanged(this.$data.equipmentDataItem);
                }
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("EquipmentInfosDoc");
            this.$root.$off("preSavedEquipment");
        }

        async equipmentChanged(val) {
            this.$props.tabData.tenth.VehicleEquipmentList = []
            val.forEach(item => {
                let el = {
                    VehicleEquipmentText: { value: item, text: 'Оборудование транспортного средства', necessary: false },
                }
                this.$props.tabData.tenth.VehicleEquipmentList.push(el);
            })
        }

        async addCard(value, fieldType) {
            fieldType.push({
                VehicleEquipmentText: { value: '', text: 'Оборудование транспортного средства', necessary: false },
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleEquipmentList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }
        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.tabData.tenth.VehicleEquipmentList.length == 0) {
                    this.$props.tabData.tenth.VehicleEquipmentList = [{
                        VehicleEquipmentText: { value: '', text: 'Оборудование транспортного средства', necessary: false },
                    }]
                }
                return true;
            }
            return false;
        }


    }

</script>