﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Система зажигания</v-card-title>
                        <v-card-text class="pt-2">
                            <template v-if="isVehicleEngineDVSVisible">
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Система зажигания</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-checkbox v-model="tabData.tenth.NotVehicleIgnitionIndicator.value"
                                            :disabled="IgnitionIndicator"
                                            :label="`${tabData.tenth.NotVehicleIgnitionIndicator.text}`"></v-checkbox>
                                <template v-if="tabData.EngineDocExist">
                                    <v-autocomplete v-model="tabData.tenth.VehicleIgnitionComponentText.value"
                                                    v-if="!tabData.tenth.NotVehicleIgnitionIndicator.value"
                                                    :items="VehicleIgnitionComponentList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleIgnitionComponentText.text}`"
                                                    persistent-hint
                                                    >
                                    </v-autocomplete>
                                </template>
                                <template v-else>
                                    <v-autocomplete v-model="tabData.tenth.VehicleIgnitionComponentText.value"
                                                    v-if="!tabData.tenth.NotVehicleIgnitionIndicator.value"
                                                    :items="nsisData.VehicleIgnitionComponentList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleIgnitionComponentText.text}`"
                                                    persistent-hint
                                                    >
                                    </v-autocomplete>
                                </template>
                                <v-row>
                                    <v-col cols="6"><span style="color:#e67e22">Система выпуска и нейтрализации отработавших газов</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-checkbox v-model="tabData.tenth.NotVehicleExhaustIndicator.value"
                                            :disabled="ExhaustIndicator"
                                            :label="`${tabData.tenth.NotVehicleExhaustIndicator.text}`"></v-checkbox>
                                <v-autocomplete v-model="tabData.tenth.VehicleExhaustComponentText.value"
                                              v-if="!tabData.tenth.NotVehicleExhaustIndicator.value"
                                              :items="VehicleExhaustComponentList"
                                               item-text="value"
                                               item-value="key"
                                              :label="`${tabData.tenth.VehicleExhaustComponentText.text}`"
                                               persistent-hint>
                                </v-autocomplete>
                            </template>
                            <template v-else>
                                Заполнение не требуется
                            </template>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step11 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isVehicleEngineDVSVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "1" || this.$props.tabData.tenth.VehicleEngineType.value == "3") return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,
                VehicleIgnitionComponentList: [],
                VehicleExhaustComponentList: [],
                ExhaustIndicator: false,
                IgnitionIndicator: false,

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        @Watch("tabData.tenth.NotVehicleExhaustIndicator.value")
        async NotVehicleExhaustIndicatorChanged(val) {
            if (!!val) {
                this.$props.tabData.tenth.VehicleExhaustComponentText.value = ""
            }
        }

        async mounted() {
            this.$root.$on("EngineDocContinue", (data) => {
                let details: any = {};
                let saved = undefined;
                if (data.length > 0) details = data[0]
                if (data.length > 1) saved = data[1]
                if (details?.notVehicleIgnitionDetailIndicator === undefined) return
                //console.log('EngineDocExist: ', this.$props.tabData.EngineDocExist)
                this.$props.tabData.tenth.NotVehicleIgnitionIndicator.value = details.notVehicleIgnitionDetailIndicator;
                this.$data.IgnitionIndicator = !!this.$props.tabData.tenth.NotVehicleIgnitionIndicator.value;
                //console.log("details: ", details)
                this.$data.VehicleIgnitionComponentList = details.vehicleIgnitionDetails.map(item => { return { key: item.vehicleIgnitionTypeCode, value: item.vehicleIgnitionTypeName } })
                //console.log("VehicleIgnitionComponentList: ", this.$data.VehicleIgnitionComponentList)
                this.$props.tabData.tenth.NotVehicleExhaustIndicator.value = details.notExhaustDetailIndicator;
                this.$data.ExhaustIndicator = !!this.$props.tabData.tenth.NotVehicleExhaustIndicator.value
                if (details.exhaustDetails.length > 0) {
                    this.$data.VehicleExhaustComponentList = details.exhaustDetails.map(item => { return { key: item.exhaustDescription, value: item.exhaustDescription } })
                }
            })

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("EngineDocContinue");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>