﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">


                    <v-card>
                        <v-card-title class="grey">Информация о колесах</v-card-title>
                        <v-card-text class="pt-2" v-if="!tabData.WheelDocExist">
                            <template v-if="isWheelLocationQuantityVisible">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество и расположение колес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-text-field v-model="tabData.tenth.VehicleWheelLocationQuantity.value"
                                              :label="`${tabData.tenth.VehicleWheelLocationQuantity.text}`"
                                              :required="tabData.tenth.VehicleWheelLocationQuantity.necessary"
                                              :rules="tabData.tenth.VehicleWheelLocationQuantity.necessary?fieldRules:[]">
                                </v-text-field>
                            </template>
                            <template v-if="isTechCategoryCodeIs_O">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Количество осей/колес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-text-field v-model="tabData.tenth.VehicleWheelAxelQuantity.value"
                                              :label="`${tabData.tenth.VehicleWheelAxelQuantity.text}`"
                                              :required="tabData.tenth.VehicleWheelAxelQuantity.necessary"
                                              type="number"
                                              :rules="tabData.tenth.VehicleWheelAxelQuantity.necessary?fieldRules:[]">
                                </v-text-field>
                                <v-text-field v-model="tabData.tenth.VehicleWheelQuantity.value"
                                              :label="`${tabData.tenth.VehicleWheelQuantity.text}`"
                                              :required="tabData.tenth.VehicleWheelQuantity.necessary"
                                              type="number"
                                              :rules="tabData.tenth.VehicleWheelQuantity.necessary?fieldRules:[]">
                                </v-text-field>
                            </template>
                            <template v-if="!isTechCategoryCodeIs_O && tabData.IsEpts != 3">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">Колесная формула/ ведущие колеса</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-autocomplete v-model="tabData.tenth.VehicleWheelsFormula.value"
                                                        :items="nsisData.wheelsFormulaList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${tabData.tenth.VehicleWheelsFormula.text}`"
                                                        persistent-hint
                                                        required
                                                        :rules="tabData.tenth.VehicleWheelsFormula.necessary?rules.select:[]"
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col>
                                        <v-autocomplete v-model="PoweredWheelLocationList"
                                                        :items="nsisData.PoweredWheelLocationList"
                                                        item-text="value"
                                                        item-value="key"
                                                        multiple
                                                        label="Ведущие колеса"
                                                        @change="PoweredWheelLocationChanged"
                                                        persistent-hint
                                                        required
                                                        :rules="rules.select"
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card-text>
                        <v-card-text class="pt-2" v-else>
                            <template v-if="isWheelLocationQuantityVisible">
                                <v-row>
                                    <v-col cols="4"><span style="color:#e67e22">Количество и расположение колес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-autocomplete v-model="tabData.tenth.VehicleWheelLocationQuantity.value"
                                                :items="nsisData.VehicleWheelLocationQuantityList"
                                                item-text="value"
                                                item-value="key"
                                                :label="`${tabData.tenth.VehicleWheelLocationQuantity.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleWheelLocationQuantity.necessary?rules.select:[]"
                                                >
                                </v-autocomplete>
                            </template>
                            <template v-if="isTechCategoryCodeIs_O">
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Количество осей/колес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-autocomplete v-model="tabData.tenth.VehicleWheelAxelQuantity.value"
                                                :items="nsisData.VehicleWheelAxelQuantityList"
                                                item-text="value"
                                                item-value="key"
                                                :label="`${tabData.tenth.VehicleWheelAxelQuantity.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleWheelAxelQuantity.necessary?rules.select:[]"
                                                >
                                </v-autocomplete>
                                <v-autocomplete v-model="tabData.tenth.VehicleWheelQuantity.value"
                                                :items="nsisData.VehicleWheelQuantityList"
                                                item-text="value"
                                                item-value="key"
                                                :label="`${tabData.tenth.VehicleWheelQuantity.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleWheelQuantity.necessary?rules.select:[]"
                                                >
                                </v-autocomplete>
                            </template>
                            <template v-if="!isTechCategoryCodeIs_O">
                                <v-row>
                                    <v-col cols="4"><span style="color:#e67e22">Колесная формула/ ведущие колеса</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-autocomplete v-model="tabData.tenth.VehicleWheelsFormula.value"
                                                        :items="nsisData.wheelsFormulaList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${tabData.tenth.VehicleWheelsFormula.text}`"
                                                        persistent-hint
                                                        required
                                                        @change="VehicleWheelsFormulaChanged(tabData.tenth.VehicleWheelsFormula.value)"
                                                        :rules="tabData.tenth.VehicleWheelsFormula.necessary?rules.select:[]"
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col>
                                        <v-autocomplete v-model="PoweredWheelLocationList"
                                                        :items="nsisData.PoweredWheelLocationList"
                                                        item-text="value"
                                                        :disabled ="tabData.WheelDocExist && tabData.tenth.VehicleWheelsFormula.value == ''"
                                                        item-value="key"
                                                        @change="PoweredWheelLocationChanged"
                                                        label="Ведущие колеса"
                                                        persistent-hint
                                                        multiple
                                                        required
                                                        :rules="rules.select"
                                                        >
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step1 extends Vue {
        // @Prop() readonly test!: any
        @Prop()
        readonly show_messageParent!: void

        get isWheelLocationQuantityVisible(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l')
                && this.$props.tabData.first.DocKindCode.value != '40'
                && this.$props.tabData.IsEpts==1) {
                return true;
            }
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l')
                && this.$props.tabData.IsEpts == 3) {
                return true;
            }
            return false;
        }

        get isTechCategoryCodeIs_O(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')) {
                return true;
            }
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                // fields
                PoweredWheelLocationList: [],


                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })

            this.$root.$on("preSavedWheelFormula", (data) => {
                if (data['vehicleWheelsFormula'] != '')this.VehicleWheelsFormulaChanged(data['vehicleWheelsFormula'])
                if (data['poweredWheelLocationList'].length > 0 && data['poweredWheelLocationList'][0].poweredWheelLocation != "") {
                    let t = data['poweredWheelLocationList'].map(x => x.poweredWheelLocation);
                    let tempList = this.$props.nsisData.tempPoweredWheelLocationList.filter(item => item.vehicleWheelFormulaCode == data['vehicleWheelsFormula'])[0]
                        .poweredWheelLocations?.map(item => item.wheelLocationCode).filter(x => t.indexOf(x) != -1);
                    this.$data.PoweredWheelLocationList = tempList;
                    this.PoweredWheelLocationChanged(tempList)
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("preSavedWheelFormula");
        }

        async VehicleWheelsFormulaChanged(wheelsFormula) {
            if (!this.$props.tabData.WheelDocExist) return
            let tempList = this.$props.nsisData.tempPoweredWheelLocationList.filter(item => item.vehicleWheelFormulaCode == wheelsFormula);
            this.$props.tabData.tenth.PoweredWheelLocationList = [{
                PoweredWheelLocation: { value: '', text: 'Ведущие колеса', necessary: true }
            }]
            this.$props.nsisData.PoweredWheelLocationList = tempList[0].poweredWheelLocations?.map(item => { return { key: item.wheelLocationCode, value: item.wheelLocationName } })
        }

        async PoweredWheelLocationChanged(val) {
            this.$props.tabData.tenth.PoweredWheelLocationList = val.map(item => {
                return {
                    PoweredWheelLocation: { value: item, text: 'Ведущие колеса', necessary: true }
                }
            })
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>