﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center"
                   v-if="isVehicleEngineElecticalVisible">
                <v-col cols="12">
                    <v-autocomplete v-model="PowerStorage"
                                    :items="PowerStorageList"
                                    item-text="value"
                                    item-value="key"
                                    v-if="tabData.PowerStorageDocExist && !tabData.tenth.NotPowerStorageDeviceIndicator.value"
                                    @change="PowerStorageChanged"
                                    label="Тип элемента"
                                    persistent-hint
                                    multiple
                                    required
                                    :rules="rules.select">
                    </v-autocomplete>
                    <v-checkbox v-model="tabData.tenth.NotPowerStorageDeviceIndicator.value"
                                :label="`${tabData.tenth.NotPowerStorageDeviceIndicator.text}`"></v-checkbox>
                    <v-card v-for="(inputCard, indexCard) in tabData.tenth.VehiclePowerStorageDeviceList"
                            :key="`inputCard-${indexCard}`"
                            v-if="!tabData.tenth.NotPowerStorageDeviceIndicator.value"
                            ref="inputCardRef">
                        <v-card-title class="grey">
                            <span>
                                Устройство накопления энергии
                            </span>
                            <v-spacer></v-spacer>
                            <!--          Add Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="addCard(inputCard, tabData.tenth.VehiclePowerStorageDeviceList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 v-if="!tabData.PowerStorageDocExist"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="green"
                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="removeCard(indexCard, tabData.tenth.VehiclePowerStorageDeviceList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 v-if="!tabData.PowerStorageDocExist"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="#EC4899"
                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                            </svg>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-autocomplete v-model="inputCard.VehiclePowerStorageDeviceComponentText.value"
                                            :items="nsisData.VehiclePowerStorageDeviceComponentList"
                                            item-text="value"
                                            item-value="key"
                                            :disabled="tabData.PowerStorageDocExist"
                                            :label="`${inputCard.VehiclePowerStorageDeviceComponentText.text}`"
                                            persistent-hint
                                            required
                                            :rules="inputCard.VehiclePowerStorageDeviceComponentText.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-text-field v-model="inputCard.VehiclePowerStorageDeviceComponentLocationText.value"
                                          v-if="inputCard.VehiclePowerStorageDeviceComponentText.value=='4' || inputCard.VehiclePowerStorageDeviceComponentText.value=='9'"
                                          :label="`${inputCard.VehiclePowerStorageDeviceComponentLocationText.text}`"
                                          :disabled="tabData.PowerStorageDocExist"
                                          :required="inputCard.VehiclePowerStorageDeviceComponentLocationText.necessary"
                                          :rules="inputCard.VehiclePowerStorageDeviceComponentLocationText.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-row v-if="inputCard.VehiclePowerStorageDeviceComponentText.value=='5' || inputCard.VehiclePowerStorageDeviceComponentText.value=='9'">
                                <v-col>
                                    <v-text-field v-model="inputCard.VehicleRangeMeasure.value"
                                                  :label="`${inputCard.VehicleRangeMeasure.text}`"
                                                  :disabled="tabData.PowerStorageDocExist"
                                                  type="number"
                                                  :required="inputCard.VehicleRangeMeasure.necessary"
                                                  :rules="inputCard.VehicleRangeMeasure.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="inputCard.VehicleRangeMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${inputCard.VehicleRangeMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="inputCard.VehicleRangeMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-row v-if="inputCard.VehiclePowerStorageDeviceComponentText.value=='4' || inputCard.VehiclePowerStorageDeviceComponentText.value=='9'">
                                <v-col>
                                    <v-text-field v-model="inputCard.PowerStorageDeviceVoltageMeasure.value"
                                                  :disabled="tabData.PowerStorageDocExist"
                                                  :label="`${inputCard.PowerStorageDeviceVoltageMeasure.text}`"
                                                  :required="inputCard.PowerStorageDeviceVoltageMeasure.necessary"
                                                  :rules="inputCard.PowerStorageDeviceVoltageMeasure.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="inputCard.PowerStorageDeviceVoltageMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${inputCard.PowerStorageDeviceVoltageMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="inputCard.PowerStorageDeviceVoltageMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row v-else>
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">
                            <span>
                                Устройство накопления энергии
                            </span>                           
                        </v-card-title>
                        <v-card-text class="pt-2">
                            Заполнение не требуется
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step10 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isVehicleEngineElecticalVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "2" || this.$props.tabData.tenth.VehicleEngineType.value == "3") return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                PowerStorage: [],
                PowerStorageList: [],
                powerDetails: [],

                // fields

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("PowerStorageDoc", (arg1) => {
                this.$props.tabData.tenth.NotPowerStorageDeviceIndicator.value = arg1.notPowerStorageDeviceDetailIndicator;
                this.$data.PowerStorageList = arg1.powerStorageDeviceDetails.map(item => {
                    return { key: item.id, value: item.powerStorageDeviceTypeName }
                });
                this.$data.powerDetails = arg1.powerStorageDeviceDetails;
            })

            this.$root.$on("preSavedPowerStorage", (data) => {
                if (data.vehiclePowerStorageDeviceList.length > 0 && data.vehiclePowerStorageDeviceList[0].vehiclePowerStorageDeviceComponentText != '') {
                    let ids: any = []
                    for (let sData of data.vehiclePowerStorageDeviceList) {

                    }
                }

            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
                this.$props.tabData.tenth.NotPowerStorageDeviceIndicator = { value: false, text: 'Отсутствует', necessary: true },
                    this.$props.tabData.tenth.VehiclePowerStorageDeviceList = [{
                        VehiclePowerStorageDeviceComponentText: { value: '', text: 'Тип элемента', necessary: true },
                        VehiclePowerStorageDeviceComponentLocationText: { value: '', text: 'Место расположения', necessary: false },
                        VehicleRangeMeasure: { value: '', text: 'Запас хода', necessary: false },
                        VehicleRangeMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                        PowerStorageDeviceVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: false },
                        PowerStorageDeviceVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    }]
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("PowerStorageDoc");
            this.$root.$off("preSavedPowerStorage");
        }

        @Watch("tabData.tenth.NotPowerStorageDeviceIndicator.value")
        async VehicleIdentityNumberIndicatorChanged(newVal) {
            if (newVal) {
                this.$props.tabData.tenth.VehiclePowerStorageDeviceList = [{
                    VehiclePowerStorageDeviceComponentText: { value: '', text: 'Тип элемента', necessary: true },
                    VehiclePowerStorageDeviceComponentLocationText: { value: '', text: 'Место расположения', necessary: false },
                    VehicleRangeMeasure: { value: '', text: 'Запас хода', necessary: false },
                    VehicleRangeMeasureUnitCode: { value: '45', text: 'Ед. измерения', necessary: true },
                    PowerStorageDeviceVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: false },
                    PowerStorageDeviceVoltageMeasureUnitCode: { value: '40', text: 'Ед. измерения', necessary: true },
                }];
                this.$data.PowerStorage = [];
            }

        };

        async addCard(value, fieldType) {
            fieldType.push({
                VehiclePowerStorageDeviceComponentText: { value: '', text: 'Тип элемента', necessary: true },
                VehiclePowerStorageDeviceComponentLocationText: { value: '', text: 'Место расположения', necessary: false },
                VehicleRangeMeasure: { value: '', text: 'Запас хода', necessary: false },
                VehicleRangeMeasureUnitCode: { value: '45', text: 'Ед. измерения', necessary: true },
                PowerStorageDeviceVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: false },
                PowerStorageDeviceVoltageMeasureUnitCode: { value: '40', text: 'Ед. измерения', necessary: true },
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.tabData.tenth.VehiclePowerStorageDeviceList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async PowerStorageChanged(val) {
            if (val != undefined && val.length == 0) {
                this.$props.tabData.tenth.VehiclePowerStorageDeviceList = [{
                    VehiclePowerStorageDeviceComponentText: { value: '', text: 'Тип элемента', necessary: true },
                    VehiclePowerStorageDeviceComponentLocationText: { value: '', text: 'Место расположения', necessary: false },
                    VehicleRangeMeasure: { value: '', text: 'Запас хода', necessary: false },
                    VehicleRangeMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    PowerStorageDeviceVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: false },
                    PowerStorageDeviceVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                }]
                return
            }
            this.$props.tabData.tenth.VehiclePowerStorageDeviceList = []
            this.$data.powerDetails.filter(item => val.indexOf(item.id) != -1).forEach(detail => {
                this.$props.tabData.tenth.VehiclePowerStorageDeviceList.push({
                    VehiclePowerStorageDeviceComponentText: { value: detail.powerStorageDeviceTypeCode.toString(), text: 'Тип элемента', necessary: true },
                    VehiclePowerStorageDeviceComponentLocationText: { value: detail.powerStorageDeviceLocation.toString(), text: 'Место расположения', necessary: false },
                    VehicleRangeMeasure: { value: detail.vehicleRangeMeasure.toString(), text: 'Запас хода', necessary: false },
                    VehicleRangeMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    PowerStorageDeviceVoltageMeasure: { value: detail.powerStorageDeviceVoltageMeasure.toString(), text: 'Рабочее напряжение', necessary: false },
                    PowerStorageDeviceVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                });
            });
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>