﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">
                            Топливо/Система питания
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <template v-if="isVehicleEngineDVSVisible">
                                <v-row>
                                    <v-col cols="2"><span style="color:#e67e22">Топливо</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-checkbox v-model="tabData.tenth.NotVehicleFuelIndicator.value"
                                            :label="`${tabData.tenth.NotVehicleFuelIndicator.text}`"></v-checkbox>
                                <v-autocomplete v-model="VehicleFuelKindSelected"
                                                v-if="!tabData.tenth.NotVehicleFuelIndicator.value || tabData.tenth.VehicleEngineType == '1'"
                                                :items="VehicleFuelKindList.length > 0?VehicleFuelKindList:nsisData.VehicleFuelKindList"
                                                item-text="value"
                                                item-value="key"
                                                @change="VehicleFuelKindChanged"
                                                multiple
                                                :label="`${tabData.tenth.VehicleFuelKindCodeList[0].VehicleFuelKindCode.text}`"
                                                persistent-hint
                                                required
                                                :rules="tabData.tenth.VehicleFuelKindCodeList[0].VehicleFuelKindCode.necessary?rules.select:[]">
                                </v-autocomplete>
                                <template v-if="tabData.tenth.VehicleEngineType.value == '1' || tabData.tenth.VehicleEngineType.value == '3'">
                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Система питания</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-checkbox v-model="tabData.tenth.NotVehicleSupplySystemIndicator.value"
                                                :label="`${tabData.tenth.NotVehicleSupplySystemIndicator.text}`"></v-checkbox>
                                    <v-autocomplete v-model="tabData.tenth.VehicleSupplySystemComponentText.value"
                                                    v-if="!tabData.tenth.NotVehicleSupplySystemIndicator.value"
                                                    :items="nsisData.VehicleSupplySystemComponentList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleSupplySystemComponentText.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="tabData.tenth.VehicleSupplySystemComponentText.necessary?rules.select:[]">
                                    </v-autocomplete>
                                </template>
                                <template v-if="tabData.first.DocKindCode.value != '40' && tabData.IsEpts!=3">
                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Блок управления</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-checkbox v-model="tabData.tenth.NotECUModelCodeIndicator.value"
                                                :label="`${tabData.tenth.NotECUModelCodeIndicator.text}`"></v-checkbox>
                                    <template v-if="ECUModelCodeIndicatorList.length == 0">
                                        <v-text-field v-model="tabData.tenth.ECUModelCode.value"
                                                      v-if="!tabData.tenth.NotECUModelCodeIndicator.value"
                                                      :label="`${tabData.tenth.ECUModelCode.text}`"
                                                      :disabled="tabData.EngineDocExist"
                                                      :required="tabData.tenth.ECUModelCode.necessary"
                                                      :rules="tabData.tenth.ECUModelCode.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </template>
                                    <template v-else>
                                        <v-autocomplete v-model="tabData.tenth.ECUModelCode.value"
                                                        v-if="!tabData.tenth.NotECUModelCodeIndicator.value"
                                                        :items="ECUModelCodeIndicatorList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${tabData.tenth.ECUModelCode.text}`"
                                                        persistent-hint
                                                        :required="tabData.tenth.ECUModelCode.necessary"
                                                        :rules="tabData.tenth.ECUModelCode.necessary?rules.select:[]">
                                        </v-autocomplete>
                                    </template>
                                </template>
                            </template>
                            <template v-else>
                                Заполнение не требуется
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step9 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isVehicleEngineDVSVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "1" || this.$props.tabData.tenth.VehicleEngineType.value == "3") return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,

                ECUModelCodeIndicatorList: [],
                VehicleFuelKindList: [],
                VehicleFuelKindSelected: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async VehicleFuelKindChanged(val) {
            if (val.length == 0) {
                this.$props.tabData.tenth.VehicleFuelKindCodeList = [{ VehicleFuelKindCode: { value: '', text: 'Топливо', necessary: true } }]
                return
            }
            this.$props.tabData.tenth.VehicleFuelKindCodeList = [];
            val.forEach(item => {
                this.$props.tabData.tenth.VehicleFuelKindCodeList.push({ VehicleFuelKindCode: { value: item, text: 'Топливо', necessary: true } });
            })
        }

        async mounted() {
            this.$root.$on("EngineDocContinue", (data) => {
                let details: any = {};
                let saved = undefined;
                if (data.length > 0) details = data[0]
                if (data.length > 1) saved = data[1]
                if (details?.notVehicleFuelIndicator === undefined) return
                this.$props.tabData.tenth.NotVehicleFuelIndicator.value = details.notVehicleFuelIndicator;
                this.$data.VehicleFuelKindList = details.vehicleFuelKinds.map(x => { return { key: x.fuelKindCode, value: x.fuelKindName } })
                this.$props.tabData.tenth.NotVehicleSupplySystemIndicator.value = details.notFuelFeedDetailIndicator;
                this.$props.tabData.tenth.VehicleSupplySystemComponentText.value = details.fuelFeedDetailCode?.toString();
                //this.$props.tabData.tenth.NotECUModelCodeIndicator.value = details.notFuelFeedDetailIndicator;
                this.$data.ECUModelCodeIndicatorList = details.ecuModelDetails.map(item => { return { key: item.ecuModel, value: item.ecuModel } })
                if (saved != undefined) {
                    this.$props.tabData.tenth.ECUModelCode.value = saved['ecuModelCode'];
                }
            })
            this.$root.$on("preSavedVehicleFuel", (data) => {
                this.$data.VehicleFuelKindSelected = data.vehicleFuelKindCodeList.map(x => x.vehicleFuelKindCode)
                this.$props.tabData.tenth.ECUModelCode.value = data.ecuModelCode
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("EngineDocContinue");
            this.$root.$off("preSavedVehicleFuel");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>