﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row v-if="AxleDoc">
                <v-col>
                    <component v-for="item in components"
                               :key="item.id"
                               :is="item.component"
                               v-bind="item.props" />
                </v-col>
            </v-row>
            <v-row justify="center"
                   v-for="(inputCard, indexCard) in tabData.tenth.VehicleAxlesList"
                   :key="`inputCard-${indexCard}`"
                   ref="inputCardRef">
                <v-col cols="12">
                    <v-card>

                        <v-card-title class="grey">
                            <span>
                                Ось{{tabData.IsEpts!=2?``:` шасси`}} транспортного средства
                            </span>
                            <v-spacer></v-spacer>
                            <!--          Add Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="addCard(inputCard, tabData.tenth.VehicleAxlesList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 v-if="!AxleDoc"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="green"
                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="removeCard(indexCard, tabData.tenth.VehicleAxlesList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 v-if="!AxleDoc"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="#EC4899"
                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                            </svg>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="inputCard.VehicleAxleOrdinal.value"
                                                  :label="`${inputCard.VehicleAxleOrdinal.text}`"
                                                  type="number"
                                                  :disabled="AxleDoc"
                                                  :required="inputCard.VehicleAxleOrdinal.necessary"
                                                  :rules="inputCard.VehicleAxleOrdinal.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-checkbox v-model="inputCard.DrivingAxleIndicator.value"
                                                :disabled="AxleDoc"
                                                :label="`${inputCard.DrivingAxleIndicator.text}`"></v-checkbox>
                                </v-col>
                            </v-row>
                            <template v-if="TechnicallyPermissibleMaxWeightVisible">
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Технически максимальная масса приходящаяся на ось</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <span v-if="inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin.value}} до {{inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax.value}}</span>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.value"
                                                      :label="`${inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.text}`"
                                                      type="number"
                                                      :disabled="inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.disabled"
                                                      :required="isTechCategory_M_N_O"
                                                      :rules="isTechCategory_M_N_O?(inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange.value?[rules.minmax(inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.value, inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin.value, inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="inputCard.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </template>
                            <template v-if="AxleSweptPathMeasureVisible">
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Колея передних/задних колес</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <span v-if="inputCard.VehicleAxleSweptPathMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{inputCard.VehicleAxleSweptPathMeasureMin.value}} до {{inputCard.VehicleAxleSweptPathMeasureMax.value}}</span>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="inputCard.VehicleAxleSweptPathMeasure.value"
                                                      :label="`${inputCard.VehicleAxleSweptPathMeasure.text}`"
                                                      type="number"
                                                      :disabled="inputCard.VehicleAxleSweptPathMeasure.disabled"
                                                      max="`${inputCard.VehicleAxleSweptPathMeasureMax.value}`"
                                                      :required="!isTechCategory_L1_L3"
                                                      :rules="!isTechCategory_L1_L3?(inputCard.VehicleAxleSweptPathMeasureRange.value?[rules.minmax(inputCard.VehicleAxleSweptPathMeasure.value, inputCard.VehicleAxleSweptPathMeasureMin.value, inputCard.VehicleAxleSweptPathMeasureMax.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="inputCard.VehicleAxleSweptPathMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${inputCard.VehicleAxleSweptPathMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="inputCard.VehicleAxleSweptPathMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import AutoSelectAxle from '@/components/document/dpassport/forms/axleForms/AutoSelectAxle.vue'
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
            AutoSelectAxle
        },
    })
    export default class Step5 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get TechnicallyPermissibleMaxWeightVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '40') return false;
            return true;
        }

        get AxleSweptPathMeasureVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l')) return false;
            return true;
        }

        get isTechCategory_M_N_O(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m')
                || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')
                || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('0'))) return true;
            return false;
        }

        get isTechCategory_L1_L3(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l1')
                || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l3'))) return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,

                // fields
                AxleDoc: false,
                components: [],
                AxleData: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async AutoSelectAxleChanged(val, vehicleAxleSweptPathMeasure, vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure) {
            let row = this.$data.AxleData.filter(item => item.id == val)
            if (row.length == 0) return;
            else row = row[0]

            let VehicleAxle = {
                VehicleAxleOrdinal: { value: '', text: 'Ось', necessary: true },
                DrivingAxleIndicator: { value: '', text: 'Ведущая ось', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure: { value: '', text: 'Технически максимальная масса приходящаяся на ось', necessary: true, disabled: false },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                VehicleAxleSweptPathMeasure: { value: '', text: ' Величина колеи оси', necessary: true, disabled: false },
                VehicleAxleSweptPathMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleAxleSweptPathMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleAxleSweptPathMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleAxleSweptPathMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
            }
            let existed = this.$props.tabData.tenth.VehicleAxlesList.filter(item => item.VehicleAxleOrdinal.value == row.axleOrdinal.toString())
            if (existed.length > 0) {
                existed = existed[0];
                //existed = VehicleAxle;
                this.$props.tabData.tenth.VehicleAxlesList = this.$props.tabData.tenth.VehicleAxlesList.filter(item => item.VehicleAxleOrdinal.value != row.axleOrdinal.toString())
            }

            VehicleAxle.VehicleAxleOrdinal.value = row.axleOrdinal.toString();
            VehicleAxle.DrivingAxleIndicator.value = row.drivingAxleIndicator
            if (row.technicallyPermissibleMaxWeightOnAxleMeasure < row.technicallyPermissibleMaxWeightOnAxleMeasureMax) {
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.disabled = false
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange.value = true
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin.value = row.technicallyPermissibleMaxWeightOnAxleMeasure;
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax.value = row.technicallyPermissibleMaxWeightOnAxleMeasureMax;
            } else {
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.value = row.technicallyPermissibleMaxWeightOnAxleMeasure.toString();
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange.value = false
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.disabled = true
            }
            if (row.axleSweptPathMeasure < row.axleSweptPathMeasureMax) {
                VehicleAxle.VehicleAxleSweptPathMeasure.disabled = false
                VehicleAxle.VehicleAxleSweptPathMeasureRange.value = true
                VehicleAxle.VehicleAxleSweptPathMeasureMin.value = row.axleSweptPathMeasure;
                VehicleAxle.VehicleAxleSweptPathMeasureMax.value = row.axleSweptPathMeasureMax;
            } else {
                VehicleAxle.VehicleAxleSweptPathMeasure.value = row.axleSweptPathMeasure.toString();
                VehicleAxle.VehicleAxleSweptPathMeasureRange.value = false
                VehicleAxle.VehicleAxleSweptPathMeasure.disabled = true
            }

            if (vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure !== undefined) {
                VehicleAxle.VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure.value = vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure
            }
            if (vehicleAxleSweptPathMeasure !== undefined) {
                VehicleAxle.VehicleAxleSweptPathMeasure.value = vehicleAxleSweptPathMeasure
            }

            //if (existed.length == 0)
            this.$props.tabData.tenth.VehicleAxlesList.push(VehicleAxle);
            this.$props.tabData.tenth.VehicleAxlesList = this.$props.tabData.tenth.VehicleAxlesList.sort((a, b) => a.VehicleAxleOrdinal.value - b.VehicleAxleOrdinal.value);

        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                this.$props.tabData.tenth.VehicleAxlesList = [{
                    VehicleAxleOrdinal: { value: '', text: 'Ось', necessary: true },
                    DrivingAxleIndicator: { value: '', text: 'Ведущая ось', necessary: true },
                    VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure: { value: '', text: 'Технически максимальная масса приходящаяся на ось', necessary: true },
                    VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange: { value: true, text: 'Диапазон', necessary: true },
                    VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin: { value: '', text: 'Минимально', necessary: true },
                    VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax: { value: '', text: 'Максимально', necessary: true },
                    VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                    VehicleAxleSweptPathMeasure: { value: '', text: ' Величина колеи оси', necessary: true },
                    VehicleAxleSweptPathMeasureRange: { value: true, text: 'Диапазон', necessary: true },
                    VehicleAxleSweptPathMeasureMin: { value: '', text: 'Минимально', necessary: true },
                    VehicleAxleSweptPathMeasureMax: { value: '', text: 'Максимально', necessary: true },
                    VehicleAxleSweptPathMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                }]
                this.$data.AxleDoc = false;
                this.$data.components = [];
                this.$data.AxleData = [];
            })

            this.$root.$on("AxleDoc", (data) => {
                this.$data.AxleData = data;
                const arrayUniqueByAxel = [...new Map(data.map(item =>
                    [item['axleOrdinal'], item])).values()];
                if (arrayUniqueByAxel.length > 0) this.$data.AxleDoc = true;
                arrayUniqueByAxel.forEach((row: any) => {
                    let f = {
                        id: 'custom-' + (row.id),
                        component: AutoSelectAxle,
                        props: {
                            selected: '',
                            dictList: data.filter(item => item.axleOrdinal == row.axleOrdinal).map(item => {
                                let txt = ``;
                                if (item.drivingAxleIndicator) txt += 'Ведущая, '
                                if (item.technicallyPermissibleMaxWeightOnAxleMeasure < item.technicallyPermissibleMaxWeightOnAxleMeasureMax) {
                                    txt += `тех.макс.масса ${item.technicallyPermissibleMaxWeightOnAxleMeasure}-${item.technicallyPermissibleMaxWeightOnAxleMeasure}`
                                } else txt += `тех.макс.масса ${item.technicallyPermissibleMaxWeightOnAxleMeasure}`
                                if (item.axleSweptPathMeasure < item.axleSweptPathMeasureMax) {
                                    txt += `, вел.колеи ${item.axleSweptPathMeasure}-${item.axleSweptPathMeasureMax}`
                                } else txt += `, вел.колеи ${item.axleSweptPathMeasure}`
                                return { key: item.id, value: txt };
                            }),
                            changedFunction: this.AutoSelectAxleChanged,
                            nodataFunction: this.nodataFunction,
                            title: `Выберите для ${row.axleOrdinal} оси`,
                        }
                    }
                    this.$data.components.push(f)
                    this.$props.tabData.tenth.VehicleAxlesList = [];
                })
                //console.log("axle: ", this.$props.tabData.tenth.VehicleAxlesList)
            });
            this.$root.$on("preSavedVehicleAxle", (data) => {
                if (data.length == 0) {
                    this.$props.tabData.tenth.VehicleAxlesList = [];
                    return;
                }
                data.forEach((saveData, index) => {
                    let cur = this.$data.AxleData.filter(x => x.axleOrdinal == saveData.vehicleAxleOrdinal
                        && ((x.technicallyPermissibleMaxWeightOnAxleMeasure == saveData.vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure)
                            || (x.technicallyPermissibleMaxWeightOnAxleMeasureMax != null && x.technicallyPermissibleMaxWeightOnAxleMeasureMax >= saveData.vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure
                                && saveData.vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure >= x.technicallyPermissibleMaxWeightOnAxleMeasure))
                        && ((x.axleSweptPathMeasure == saveData.vehicleAxleSweptPathMeasure)
                            || (x.axleSweptPathMeasureMax != null && x.axleSweptPathMeasureMax >= saveData.vehicleAxleSweptPathMeasure && saveData.vehicleAxleSweptPathMeasure >= x.axleSweptPathMeasure)))
                    if (cur.length > 0) {
                        cur = cur[0];
                        this.$data.components[index].props.selected = cur.id.toString()
                        this.AutoSelectAxleChanged(cur.id.toString(), saveData.vehicleAxleSweptPathMeasure, saveData.vehicleTechnicallyPermissibleMaxWeightOnAxleMeasure);
                    }
                })
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("AxleDoc");
            this.$root.$off("preSavedVehicleAxle");
        }

        async nodataFunction(val) {
            let row = this.$data.AxleData.filter(item => item.id == val)
            if (row.length == 0) return;
            else row = row[0]
            this.$props.tabData.tenth.VehicleAxlesList = this.$props.tabData.tenth.VehicleAxlesList.filter(x => x.VehicleAxleOrdinal.value != row.axleOrdinal.toString())
        }

        async addCard(value, fieldType) {
            fieldType.push({
                VehicleAxleOrdinal: { value: '', text: 'Ось', necessary: true },
                DrivingAxleIndicator: { value: '', text: 'Ведущая ось', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure: { value: '', text: 'Технически максимальная масса приходящаяся на ось', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode: { value: '15', text: 'Ед. измерения', necessary: true },
                VehicleAxleSweptPathMeasure: { value: '', text: ' Величина колеи оси', necessary: true },
                VehicleAxleSweptPathMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleAxleSweptPathMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleAxleSweptPathMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleAxleSweptPathMeasureUnitCode: { value: '05', text: 'Ед. измерения', necessary: true },
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleAxlesList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }
        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.tabData.tenth.VehicleAxlesList.length == 0) {
                    this.$props.show_messageParent("Ось должна быть заполнена");
                    return false;
                }
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m'))
                    if (this.$props.tabData.tenth.VehicleAxlesList.length < 2) {
                        this.$props.show_messageParent("Осей должно быть не менее 2-х");
                        return false;
                    }
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l'))
                    if (this.$props.tabData.tenth.VehicleAxlesList.length != 2) {
                        this.$props.show_messageParent("Осей должно быть ровно 2");
                        return false;
                    }
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o'))
                    if (this.$props.tabData.tenth.VehicleAxlesList.length < 1) {
                        this.$props.show_messageParent("Осей должно быть не менее 1-го");
                        return false;
                    }
                return true;
            }
            return false;
        }


    }

</script>