﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">{{tabData.IsEpts!=3?'Сцепление/Подвеска':'Подвеска'}}</v-card-title>
                        <v-card-text class="pt-2">
                            <template v-if="tabData.IsEpts!=3">
                                <v-row>
                                    <v-col cols="2"><span style="color:#e67e22">Сцепление</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>

                                <v-checkbox v-model="tabData.tenth.NotVehicleClutchDetailIndicator.value"
                                            :disabled="tabData.ClutchDoc"
                                            :label="`${tabData.tenth.NotVehicleClutchDetailIndicator.text}`"></v-checkbox>
                                <template v-if="!tabData.ClutchDoc">
                                    <div v-if="!tabData.tenth.NotVehicleClutchDetailIndicator.value">
                                        <v-text-field v-model="tabData.tenth.VehicleClutchComponentMakeName.value"
                                                        :label="`${tabData.tenth.VehicleClutchComponentMakeName.text}`"
                                                        :required="tabData.tenth.VehicleClutchComponentMakeName.necessary"
                                                        :rules="tabData.tenth.VehicleClutchComponentMakeName.necessary?fieldRules:[]">
                                        </v-text-field>
                                        <v-text-field v-model="tabData.tenth.VehicleClutchComponentText.value"
                                                        :label="`${tabData.tenth.VehicleClutchComponentText.text}`"
                                                        :required="tabData.tenth.VehicleClutchComponentText.necessary"
                                                        :rules="tabData.tenth.VehicleClutchComponentText.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </div>
                                </template>
                                <template v-else>
                                    <div v-if="!tabData.tenth.NotVehicleClutchDetailIndicator.value">
                                        <v-autocomplete v-model="VehicleClutchComponentMakeName"
                                                        :items="VehicleClutchComponentMakeNameList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${tabData.tenth.VehicleClutchComponentMakeName.text} (${tabData.tenth.VehicleClutchComponentText.text})`"
                                                        persistent-hint
                                                        required
                                                        @change="ClutchComponentMakeName"
                                                        :rules="tabData.tenth.VehicleClutchComponentMakeName.necessary?rules.select:[]">
                                        </v-autocomplete>
                                    </div>
                                </template>
                            </template>
                            <v-autocomplete v-model="suspensionData"
                                            :items="suspensionDataList"
                                            item-text="value"
                                            item-value="key"
                                            label="Вид подвески"
                                            persistent-hint
                                            multiple
                                            @change="suspensionChanged"
                                            v-if="tabData.SuspensioDoc && !tabData.tenth.NotVehicleSuspensionDetailIndicator.value"
                                            :required="tabData.first.VehicleEPassportBaseCode.value!='03'"
                                            :rules="tabData.first.VehicleEPassportBaseCode.value!='03'?rules.select:[]">
                            </v-autocomplete>
                            <div v-for="(inputCard, indexCard) in tabData.tenth.VehicleSuspensionList"
                                 :key="`inputCard-${indexCard}`"
                                 class="input wrapper flex items-center">
                                <v-row>
                                    <v-col cols="2">
                                        <span style="color:#e67e22">Подвеска</span>
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addVehicleSuspension(inputCard, tabData.tenth.VehicleSuspensionList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!tabData.SuspensioDoc"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeVehicleSuspension(indexCard, tabData.tenth.VehicleSuspensionList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="!tabData.SuspensioDoc"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>

                                <div v-if="!tabData.tenth.NotVehicleSuspensionDetailIndicator.value">
                                    <v-autocomplete v-model="inputCard.VehicleSuspensionKindCode.value"
                                                    :items="nsisData.VehicleSuspensionKindCodeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${inputCard.VehicleSuspensionKindCode.text}`"
                                                    persistent-hint
                                                    :disabled="tabData.SuspensioDoc"
                                                    :required="tabData.first.VehicleEPassportBaseCode.value!='03'"
                                                    :rules="inputCard.VehicleSuspensionKindCode.necessary || tabData.first.VehicleEPassportBaseCode.value!='03'?rules.select:[]">
                                    </v-autocomplete>
                                    <v-text-field v-model="inputCard.VehicleComponentText.value"
                                                  :label="`${inputCard.VehicleComponentText.text}`"
                                                  :disabled="tabData.SuspensioDoc"
                                                  :required="inputCard.VehicleComponentText.necessary || tabData.first.VehicleEPassportBaseCode.value!='03'"
                                                  :rules="inputCard.VehicleComponentText.necessary || tabData.first.VehicleEPassportBaseCode.value!='03'?fieldRules:[]">
                                    </v-text-field>
                                </div>

                            </div>
                            <v-checkbox v-model="tabData.tenth.NotVehicleSuspensionDetailIndicator.value"
                                        @click="VehicleSuspensionClicked(tabData.tenth.NotVehicleSuspensionDetailIndicator.value)"
                                        :label="`${tabData.tenth.NotVehicleSuspensionDetailIndicator.text}`"></v-checkbox>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step14 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        async ClutchComponentMakeName(val) {
            let current = this.$data.tempData.filter(item => item.id == val)[0]
            this.$props.tabData.tenth.VehicleClutchComponentMakeName.value = current.vehicleClutchMakeName
            this.$props.tabData.tenth.VehicleClutchComponentText.value = current.vehicleClutchDescription
        }
        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                VehicleClutchComponentMakeNameList: [],
                // fields
                VehicleClutchComponentMakeName: '',
                suspensionData: [],
                suspensionDataList: [],
                tempData: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        async VehicleSuspensionClicked(indicator) {
            if (indicator) {
                this.$props.tabData.tenth.VehicleSuspensionList = [{
                    VehicleSuspensionKindCode: { value: '', text: 'Вид подвески', necessary: true },
                    VehicleComponentText: { value: '', text: 'Описание', necessary: true },
                }];
            }
        }

        async addVehicleSuspension(value, fieldType) {
            fieldType.push({
                VehicleSuspensionKindCode: { value: '', text: 'Вид подвески', necessary: true },
                VehicleComponentText: { value: '', text: 'Описание', necessary: true },
            });
        }

        async removeVehicleSuspension(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleSuspensionList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return;
            }
            fieldType.splice(index, 1);
        }

        async suspensionChanged(val) {
            this.$props.tabData.tenth.VehicleSuspensionList = [];
            let found = this.$data.suspensionDataList.filter(x => val.indexOf(x.key) != -1);
            if (found.length > 0) {
                found.forEach(x => {
                    this.$props.tabData.tenth.VehicleSuspensionList.push({
                        VehicleSuspensionKindCode: { value: x.code, text: 'Вид подвески', necessary: true },
                        VehicleComponentText: { value: x.description ?? '', text: 'Описание', necessary: true },
                    })
                })
            }
        }

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("ClutchDoc", (arg) => {
                this.$props.tabData.tenth.NotVehicleClutchDetailIndicator.value = arg.notVehicleClutchDetailIndicator;
                this.$props.tabData.tenth.NotVehicleClutchDetailIndicator.disabled = !!arg.notVehicleClutchDetailIndicator;
                if (arg.vehicleClutchDetails.length == 0) return;
                this.$props.tabData.ClutchDoc = true;

                let uniqList: any[] = []
                arg.vehicleClutchDetails.forEach(item => {
                    if (uniqList.filter(x => x.vehicleClutchMakeName == item.vehicleClutchMakeName && x.vehicleClutchDescription == item.vehicleClutchDescription).length == 0)
                        uniqList.push(item)
                })

                this.$data.tempData = uniqList;
                this.$data.VehicleClutchComponentMakeNameList = uniqList.map(item => { return { key: (item as any).id, value: (item as any).vehicleClutchMakeName != null ? (item as any).vehicleClutchMakeName + ` (${(item as any).vehicleClutchDescription})` : (item as any).vehicleClutchDescription } })
            })

            this.$root.$on("SuspensionDoc", (arg) => {
                if (arg.vehicleSuspensionDetails.length == 0) return;
                this.$props.tabData.SuspensioDoc = true;
                this.$props.tabData.tenth.NotVehicleSuspensionDetailIndicator.value = false
                this.$props.tabData.tenth.VehicleSuspensionList = [];
                this.$data.VehicleSuspensionKindCodeList = arg.vehicleSuspensionDetails.map(item => {
                    return { key: item.vehicleSuspensionKindCode, value: this.$props.nsisData.VehicleSuspensionKindCodeList.filter(x => x.key == item.vehicleSuspensionKindCode)[0].value }
                })

                this.$data.suspensionDataList = arg.vehicleSuspensionDetails.map(x => {
                    return {
                        key: x.id, value: this.$props.nsisData.VehicleSuspensionKindCodeList.filter(i => i.key == x.vehicleSuspensionKindCode)[0].value,
                        code: x.vehicleSuspensionKindCode, description: x.vehicleSuspensionDescription
                    }
                })
                //let temp: object[] = [];
                //arg.vehicleSuspensionDetails.forEach(item => {
                //    let el = {
                //        VehicleSuspensionKindCode: { value: item.vehicleSuspensionKindCode, text: 'Вид подвески', necessary: true },
                //        VehicleComponentText: { value: item.vehicleSuspensionDescription, text: 'Описание', necessary: true },
                //    }
                //    temp.push(el)
                //})
                //this.$props.tabData.tenth.VehicleSuspensionList = temp;
                if (arg.vehicleClutchDetails.length == 0) return;
            })

            this.$root.$on("preSavedSuspension", (data) => {
                if (data.vehicleSuspensionList.length > 0 && data.vehicleSuspensionList[0].vehicleSuspensionKindCode != '') {
                    this.$props.tabData.tenth.VehicleSuspensionList = []
                    data.vehicleSuspensionList.forEach(x => {
                        this.$props.tabData.tenth.VehicleSuspensionList.push({
                            VehicleSuspensionKindCode: { value: x.vehicleSuspensionKindCode, text: 'Вид подвески', necessary: true },
                            VehicleComponentText: { value: x.vehicleComponentText ?? '', text: 'Описание', necessary: true },
                        })
                    })
                }
            });// for step 14


            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("ClutchDoc");
            this.$root.$off("SuspensionDoc");
            this.$root.$off("preSavedSuspension");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.tabData.tenth.VehicleSuspensionList.length != this.$props.tabData.tenth.VehicleAxlesList.length) {
                    this.$props.show_messageParent("Количество подвесок должно соответствовать количеству осей");
                    return false;
                }
                return true;
            }
            return false;
        }


    }

</script>