﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">


                    <v-card>
                        <v-card-title class="grey">Тип кузова/количество дверей</v-card-title>
                        <v-card-text class="pt-2">
                            <template v-if="isVehicleDoorVisible">
                                <v-row>
                                    <v-col>
                                        <template v-if="tabData.disableByExistBodywork">
                                            <v-autocomplete v-model="VehicleBodyworkText"
                                                            :items="nsisData.BodyworkList"
                                                            item-text="value"
                                                            item-value="key"
                                                            :label="`${tabData.tenth.VehicleComponentText.text}`"
                                                            persistent-hint
                                                            required
                                                            @change="BodyworkChanged"
                                                            :rules="tabData.tenth.VehicleComponentText.necessary?rules.select:[]"
                                                            >
                                            </v-autocomplete>
                                        </template>
                                        <template v-else>
                                            <v-autocomplete v-model="tabData.tenth.VehicleComponentText.value"
                                                            :items="nsisData.VehicleComponentTextList"
                                                            item-text="value"
                                                            item-value="key"
                                                            :label="`${tabData.tenth.VehicleComponentText.text}`"
                                                            persistent-hint
                                                            required
                                                            :disabled="tabData.disableByExistBodywork"
                                                            :rules="tabData.tenth.VehicleComponentText.necessary?rules.select:[]"
                                                            >
                                            </v-autocomplete>
                                        </template>
                                        
                                    </v-col>
                                    <v-col v-if="[1, 3].includes(tabData.IsEpts)">
                                        <v-text-field v-model="tabData.tenth.VehicleDoorQuantity.value"
                                                      :label="`${tabData.tenth.VehicleDoorQuantity.text}`"
                                                      type="number"
                                                      :disabled="tabData.disableByExistBodywork"
                                                      :required="tabData.tenth.VehicleDoorQuantity.necessary"
                                                      :rules="tabData.tenth.VehicleDoorQuantity.necessary?fieldRules:[]">
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </template>
                            <template v-else >
                                Заполнение не требуется
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step2 extends Vue {
        // @Prop() readonly test!: any
        @Prop()
        readonly show_messageParent!: void


        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,
                VehicleBodyworkText: '',
                VehicleBodyworkData: [],
                // fields



                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        get isVehicleDoorVisible(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m') && [1, 3].includes(this.$props.tabData.IsEpts)) {
                return true;
            }
            if ((this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m') || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')) && ![1, 3].includes(this.$props.tabData.IsEpts)) {
                return true;
            }
            return false;
        }

        created() {
            //console.log("l", this.$parent)
        };

        async BodyworkChanged(id) {
            if (id == '') return
            let data = this.$data.VehicleBodyworkData.filter(x => x.id == id)[0]
            this.$props.tabData.tenth.VehicleComponentText.value = data?.vehicleBodyWorkTypeCode
            this.$props.tabData.tenth.VehicleDoorQuantity.value = data?.doorQuantity.toString()
        }

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
            this.$root.$on("BodyworkDoc", (data) => {
                if (data?.length > 0) {
                    this.$props.tabData.disableByExistBodywork = true;
                    this.$props.nsisData.BodyworkList = data.map(x => { return { key: x.id, value: x.vehicleBodyWorkTypeName } });
                    this.$data.VehicleBodyworkData = data
                    if (data?.length == 1) {
                        this.$data.VehicleBodyworkText = data[0].id
                        this.$props.tabData.tenth.VehicleComponentText.value = data[0].vehicleBodyWorkTypeCode
                        this.$props.tabData.tenth.VehicleDoorQuantity.value = data[0].doorQuantity.toString()
                    }

                }
            });

            this.$root.$on("preSavedBodywork", (data) => {
                if (data.vehicleComponentText === '' || data.vehicleComponentText === undefined) return;
                let bwData = this.$data.VehicleBodyworkData.filter(x => x.vehicleBodyWorkTypeCode == data.vehicleComponentText)
                if (bwData.length > 0) {
                    this.$data.VehicleBodyworkText = bwData[0].id
                    this.BodyworkChanged(this.$data.VehicleBodyworkText)
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("BodyworkDoc");
            this.$root.$off("preSavedBodywork");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>