﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">


                    <v-card>
                        <v-card-title class="grey">Компоновка{{tabData.IsEpts!=2?``:` шасси`}} транспортного средства</v-card-title>
                        <v-card-text class="pt-2"  v-if="!tabData.LayoutDocExist">
                            <v-autocomplete v-model="tabData.tenth.VehicleLayoutPatternText.value"
                                            :items="nsisData.VehicleLayoutPatternTextList"
                                            item-text="value"
                                            item-value="key"
                                            v-if="isVehicleTechCategoryNot_O"
                                            :label="`${tabData.tenth.VehicleLayoutPatternText.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleLayoutPatternText.necessary?rules.select:[]"
                                            >
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehicleComponentLocationText.value"
                                            :items="nsisData.VehicleComponentLocationTextList"
                                            v-if="isVehicleComponentLocationVisible && tabData.IsEpts!=3"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleComponentLocationText.text}`"
                                            persistent-hint
                                            :required="isVehicleTechCategoryNot_O || (tabData.first.VehicleEPassportBaseCode.value != '03' && tabData.IsEpts==1) || (tabData.first.VehicleEPassportBaseCode.value != '02' && tabData.IsEpts==2)"
                                            :rules="isVehicleTechCategoryNot_O?rules.select:[]"
                                            >
                            </v-autocomplete>
                                <v-row v-for="(input, index) in tabData.tenth.EpsmVehicleComponentLocationText"
                                     :key="`input--${index}`"
                                     v-if="tabData.IsEpts==3"
                                     class="input wrapper flex items-center">
                                        <v-autocomplete v-model="input.VehicleComponentLocationText.value"
                                                        :items="nsisData.VehicleComponentLocationTextList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :label="`${input.VehicleComponentLocationText.text}`"
                                                        persistent-hint
                                                        :required="isVehicleTechCategoryNot_O"
                                                        :rules="isVehicleTechCategoryNot_O?rules.select:[]">

                                            <template slot="append">
                                                <!--          Add Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="addEpsmVehicleComponentLocationText(input, tabData.tenth.EpsmVehicleComponentLocationText)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="green"
                                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                </svg>

                                                <!--          Remove Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="removeEpsmVehicleComponentLocationText(index, tabData.tenth.EpsmVehicleComponentLocationText)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="#EC4899"
                                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                </svg>
                                            </template>
                                        </v-autocomplete>
                                </v-row>
                            <v-text-field v-model="tabData.tenth.VehicleCarriageSpaceImplementationText.value"
                                          v-if="isCarriageSpaceVisible"
                                          :label="`${tabData.tenth.VehicleCarriageSpaceImplementationText.text}`"
                                          :required="tabData.tenth.VehicleCarriageSpaceImplementationText.necessary"
                                          :rules="tabData.tenth.VehicleCarriageSpaceImplementationText.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-text-field v-model="tabData.tenth.VehiclePassengerQuantity.value"
                                          v-if="isPassengerQuantityVisible"
                                          :label="`${tabData.tenth.VehiclePassengerQuantity.text}`"
                                          type="number"
                                          :required="tabData.tenth.VehiclePassengerQuantity.necessary"
                                          :rules="tabData.tenth.VehiclePassengerQuantity.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-row v-if="isTrunkVolumeVisible">
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.VehicleTrunkVolumeMeasure.value"
                                                  :label="`${tabData.tenth.VehicleTrunkVolumeMeasure.text}`"
                                                  v-if="isTechCategory_M3_class_3"
                                                  :required="tabData.tenth.VehicleTrunkVolumeMeasure.necessary"
                                                  :rules="tabData.tenth.VehicleTrunkVolumeMeasure.necessary?fieldRules:[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.measurementUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.measurementUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.measurementUnitCode.necessary?rules.select:[]"
                                              >
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-text-field v-model="tabData.tenth.VehicleComponentText2.value"
                                          v-if="isCabinaVisible"
                                          :label="`${tabData.tenth.VehicleComponentText2.text}`"
                                          :required="tabData.tenth.VehicleComponentText2.necessary"
                                          :rules="tabData.tenth.VehicleComponentText2.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-text-field v-model="tabData.tenth.VehicleFrameText.value"
                                          v-if="isRamaVisible"
                                          :label="`${tabData.tenth.VehicleFrameText.text}`"
                                          :required="tabData.tenth.VehicleFrameText.necessary"
                                          :rules="tabData.tenth.VehicleFrameText.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-checkbox v-model="tabData.tenth.VehicleSpecialText.value"
                                        v-if="isVehicleSpecialVisible && [1, 3].includes(tabData.IsEpts)"
                                        :disabled="!tabData.tenth.VehicleSpecialText.value"
                                        :label="`${tabData.tenth.VehicleSpecialText.text}`"></v-checkbox>
                            <v-autocomplete v-model="tabData.tenth.VehicleCharacteristicsName.value"
                                            :items="nsisData.VehicleCharacteristicsNameList"
                                            v-if="tabData.tenth.VehicleSpecialText.value"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleCharacteristicsName.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleCharacteristicsName.necessary?rules.select:[]"
                                            >
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehicleCharacteristicsNameOther.value"
                                            v-if="tabData.tenth.VehicleCharacteristicsName.value=='9'"
                                            :items="nsisData.VehicleCharacteristicsNameOtherList"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleCharacteristicsNameOther.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleCharacteristicsNameOther.necessary?rules.select:[]"
                                            >
                            </v-autocomplete>
                        </v-card-text>
                        <v-card-text class="pt-2" v-else>
                            <v-autocomplete v-model="tabData.tenth.VehicleLayoutPatternText.value"
                                            :items="VehicleLayoutPatternList"
                                            item-text="value"
                                            item-value="key"
                                            v-if="isVehicleTechCategoryNot_O"
                                            :label="`${tabData.tenth.VehicleLayoutPatternText.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleLayoutPatternText.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehicleComponentLocationText.value"
                                            :items="VehicleComponentLocationList"
                                            v-if="isVehicleComponentLocationVisible && tabData.IsEpts!=3"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleComponentLocationText.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleComponentLocationText.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-row justify="center" v-if="tabData.IsEpts==3">
                                <div v-for="(input, index) in tabData.tenth.EpsmVehicleComponentLocationText"
                                     :key="`input--${index}`"
                                     class="input wrapper flex items-center">
                                    <v-autocomplete v-model="input.VehicleComponentLocationText.value"
                                                    :items="nsisData.VehicleComponentLocationTextList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${input.VehicleComponentLocationText.text}`"
                                                    persistent-hint
                                                    :required="isVehicleTechCategoryNot_O"
                                                    :rules="isVehicleTechCategoryNot_O?rules.select:[]">

                                        <template slot="append">
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addEpsmVehicleComponentLocationText(input, tabData.tenth.EpsmVehicleComponentLocationText)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeEpsmVehicleComponentLocationText(index, tabData.tenth.EpsmVehicleComponentLocationText)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </template>
                                    </v-autocomplete>
                                </div>
                            </v-row>
                            <v-autocomplete v-model="tabData.tenth.VehicleCarriageSpaceImplementationText.value"
                                            :items="VehicleCarriageSpaceImplementationList"
                                            v-if="isCarriageSpaceVisible"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleCarriageSpaceImplementationText.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleCarriageSpaceImplementationText.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehiclePassengerQuantity.value"
                                            :items="VehiclePassengerQuantityList"
                                            v-if="isPassengerQuantityVisible"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehiclePassengerQuantity.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehiclePassengerQuantity.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-row v-if="isTrunkVolumeVisible">
                                <v-col>
                                    <v-autocomplete v-model="tabData.tenth.VehicleTrunkVolumeMeasure.value"
                                                    :items="VehicleTrunkVolumeMeasureList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :label="`${tabData.tenth.VehicleTrunkVolumeMeasure.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="tabData.tenth.VehicleTrunkVolumeMeasure.necessary?rules.select:[]">
                                    </v-autocomplete>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.measurementUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.measurementUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.measurementUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-autocomplete v-model="tabData.tenth.VehicleComponentText2.value"
                                            :items="VehicleComponentText2List"
                                            v-if="isCabinaVisible"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleComponentText2.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleComponentText2.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehicleFrameText.value"
                                            :items="VehicleFrameTextList"
                                            v-if="isRamaVisible"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleFrameText.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleFrameText.necessary?rules.select:[]">
                            </v-autocomplete>

                            <v-checkbox v-model="tabData.tenth.VehicleSpecialText.value"
                                        v-if="isVehicleSpecialVisible"
                                        :disabled="!tabData.tenth.VehicleSpecialText.value"
                                        :label="`${tabData.tenth.VehicleSpecialText.text}`"></v-checkbox>
                            <v-autocomplete v-model="tabData.tenth.VehicleCharacteristicsName.value"
                                            :items="VehicleCharacteristicsNameList"
                                            v-if="tabData.tenth.VehicleSpecialText.value"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleCharacteristicsName.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleCharacteristicsName.necessary?rules.select:[]">
                            </v-autocomplete>
                            <v-autocomplete v-model="tabData.tenth.VehicleCharacteristicsNameOther.value"
                                            v-if="tabData.tenth.VehicleCharacteristicsName.value=='9'"
                                            :items="nsisData.VehicleCharacteristicsNameOtherList"
                                            item-text="value"
                                            item-value="key"
                                            :label="`${tabData.tenth.VehicleCharacteristicsNameOther.text}`"
                                            persistent-hint
                                            required
                                            :rules="tabData.tenth.VehicleCharacteristicsNameOther.necessary?rules.select:[]">
                            </v-autocomplete>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step4 extends Vue {
        // @Prop() readonly test!: any
        @Prop()
        readonly show_messageParent!: void
        get isVehicleComponentLocationVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '40') {
                return false;
            }
            return true;
        }
        get isCarriageSpaceVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)) {
                if (this.$props.tabData.first.DocKindCode.value != '40' && (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o'))) {
                    return true;
                }
                if (this.$props.tabData.first.DocKindCode.value == '40' && this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')) {
                    return true;
                }
            }
            return false;
        }
        get isVehicleTechCategoryNot_O(): boolean {
            return !this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')
        }

        get isTechCategory_M3_class_3(): boolean {
            return this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3') && this.$props.tabData.third.VehicleClassCategoryCode.value == '5'
        }

        get isPassengerQuantityVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)) {
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m2') || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3')) {
                    return true;
                }
            }
            return false;
        }
        get isTrunkVolumeVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)) {
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m3')) {
                    return true;
                }
            }
            return false;
        }
        get isCabinaVisible(): boolean {
            if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n'))
                return true;
            return false;
        }
        get isRamaVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)) {
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l')) {
                    return true;
                }
            }
            return false;
        }
        get isVehicleSpecialVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts)) {
                if (this.$props.tabData.first.DocKindCode.value == '40') {
                    return false;
                }
                return true;
            }
            return false;
        }
        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,
                // temp nsis
                VehicleLayoutPatternList: [],
                VehicleComponentLocationList: [],
                VehicleCarriageSpaceImplementationList: [],
                VehiclePassengerQuantityList: [],
                VehicleTrunkVolumeMeasureList: [],
                VehicleComponentText2List: [],
                VehicleFrameTextList: [],
                VehicleCharacteristicsNameList: [],
                VehicleCharacteristicsNameOtherList: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("LayoutDoc", (arg1) => {
                this.$data.VehicleLayoutPatternList = [...new Map(arg1.vehicleLayoutPatterns.map(item =>
                    [item['layoutPatternCode'], item])).values()].map(item1 => { return { key: (item1 as any).layoutPatternCode, value: (item1 as any).layoutPatternName } });
                if (this.$data.VehicleLayoutPatternList.length == 0) {
                    this.$data.VehicleLayoutPatternList = this.$props.nsisData.VehicleLayoutPatternTextList;
                }
                else if (this.$data.VehicleLayoutPatternList.length == 1)
                    this.$props.tabData.tenth.VehicleLayoutPatternText.value = this.$data.VehicleLayoutPatternList[0].key;

                if (arg1.isSpecializedVehicle == 0) this.$props.tabData.tenth.VehicleSpecialText.value = false;
                else this.$props.tabData.tenth.VehicleSpecialText.value = true;

                this.$data.VehicleComponentLocationList = [...new Map(arg1.vehicleEngineLayouts.map(item =>
                    [item['engineLocationCode'], item])).values()].map(item => { return { key: (item as any).engineLocationCode.toString(), value: (item as any).engineLocationName } });
                if (this.$data.VehicleComponentLocationList.length == 1) this.$props.tabData.tenth.VehicleComponentLocationText.value = this.$data.VehicleComponentLocationList[0].key;

                this.$data.VehicleCarriageSpaceImplementationList = [...new Map(arg1.vehicleCarriageSpaceImplementations.map(item =>
                    [item['carriageSpaceImplementation'], item])).values()].map(item => { return { key: (item as any)?.carriageSpaceImplementation.toString(), value: (item as any).carriageSpaceImplementation } });
                if (this.$data.VehicleCarriageSpaceImplementationList.length == 0) this.$data.VehicleCarriageSpaceImplementationList = [{ key: '0', value: 'Не заполнено' }]
                if (this.$data.VehicleCarriageSpaceImplementationList.length == 1) this.$props.tabData.tenth.VehicleCarriageSpaceImplementationText.value = this.$data.VehicleCarriageSpaceImplementationList[0].key;

                this.$data.VehiclePassengerQuantityList = [...new Map(arg1.vehiclePassengerQuantities.map(item =>
                    [item['passengerQuantity'], item])).values()].map(item => { return { key: (item as any).passengerQuantity.toString(), value: (item as any).passengerQuantity } });
                if (this.$data.VehiclePassengerQuantityList.length == 1) this.$props.tabData.tenth.VehiclePassengerQuantity.value = this.$data.VehiclePassengerQuantityList[0].key;

                this.$data.VehicleTrunkVolumeMeasureList = [...new Map(arg1.vehicleTrunkVolumeMeasures.map(item =>
                    [item['trunkVolumeMeasure'], item])).values()].map(item => { return { key: (item as any).trunkVolumeMeasure.toString(), value: (item as any).trunkVolumeMeasure } });
                if (this.$data.VehicleTrunkVolumeMeasureList.length == 1) this.$props.tabData.tenth.VehicleTrunkVolumeMeasure.value = this.$data.VehicleTrunkVolumeMeasureList[0].key;

                this.$data.VehicleComponentText2List = [...new Map(arg1.vehicleCabins.map(item =>
                    [item['cabinDescription'], item])).values()].map(item => { return { key: (item as any).cabinDescription.toString(), value: (item as any).cabinDescription } });
                if (this.$data.VehicleComponentText2List.length == 1) this.$props.tabData.tenth.VehicleComponentText2.value = this.$data.VehicleComponentText2List[0].key;

                this.$data.VehicleFrameTextList = [...new Map(arg1.vehicleFrames.map(item =>
                    [item['frameText'], item])).values()].map(item => { return { key: (item as any).frameText.toString(), value: (item as any).frameText } });
                if (this.$data.VehicleFrameTextList.length == 1) this.$props.tabData.tenth.VehicleFrameText.value = this.$data.VehicleFrameTextList[0].key;

                this.$data.VehicleCharacteristicsNameList = [...new Map(arg1.vehiclePurposes.map(item =>
                    [item['purposeCOde'], item])).values()].map(item => { return { key: (item as any).purposeCode.toString(), value: (item as any).purposeName } });
                if (this.$data.VehicleCharacteristicsNameList.length == 1) this.$props.tabData.tenth.VehicleCharacteristicsName.value = this.$data.VehicleCharacteristicsNameList[0].key;

                this.$data.VehicleCharacteristicsNameOtherList = [...new Map(arg1.vehiclePurposes.map(item =>
                    [item['otherInfoName'], item])).values()].map(item => { return { key: (item as any).otherInfoCode.toString(), value: (item as any).otherInfoName } });
                if (this.$data.VehicleCharacteristicsNameOtherList.length == 1) this.$props.tabData.tenth.VehicleCharacteristicsNameOther.value = this.$data.VehicleCharacteristicsNameOtherList[0].key;

            });
            
            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("LayoutDoc");
        }

        @Watch("tabData.tenth.VehicleSpecialText.value")
        async VehicleSpecialTextChanged(newVal) {
            if (!newVal) {
                this.$props.tabData.tenth.VehicleCharacteristicsName.value = '';
                this.$props.tabData.tenth.VehicleCharacteristicsNameOther.value = '';
            }
        }

        async addEpsmVehicleComponentLocationText(value, fieldType) {
            fieldType.push({ VehicleComponentLocationText: { value: '', text: 'Положение и размещение приводного двигателя (двигателей)', necessary: true }});
        }

        async removeEpsmVehicleComponentLocationText(index, fieldType) {
            if (this.$props.tabData.tenth.EpsmVehicleComponentLocationText.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return;
            }
            fieldType.splice(index, 1);
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>