﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <template v-if="tabData.TyreKindDoc && (baseTyreHelperData.length > 0 || additionalTyreHelperData.length > 0)">
                <v-autocomplete v-model="baseTyreHelperItem"
                                :items="baseTyreHelperList"
                                item-text="value"
                                @change="baseTyreHelperChanged(baseTyreHelperItem)"
                                item-value="key"
                                v-if="baseTyreHelper"
                                multiple
                                label="Выбор основных шин"
                                persistent-hint>
                </v-autocomplete>
                <v-autocomplete v-model="additionalTyreHelperItem"
                                :items="additionalTyreHelperList"
                                item-text="value"
                                @change="additionalTyreHelperChanged(additionalTyreHelperItem)"
                                item-value="key"
                                v-if="additionalTyreHelper"
                                multiple
                                label="Выбор временных шин"
                                persistent-hint>
                </v-autocomplete>
            </template>
            <template v-else>
                <div>Заполнение не требуется</div>
            </template>
            <v-row justify="center"
                   v-for="(inputCard, indexCard) in tabData.tenth.VehicleTyreList"
                   :key="`inputCard-${indexCard}`"
                   ref="inputCardRef">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">
                            <span>
                                Шины
                            </span>
                            <v-spacer></v-spacer>
                            <!--          Add Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="addCard(inputCard, tabData.tenth.VehicleTyreList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 v-if="!tabData.BrakingDoc"
                                 height="24"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="green"
                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                            </svg>

                            <!--          Remove Svg Icon-->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 @click="removeCard(indexCard, tabData.tenth.VehicleTyreList)"
                                 viewBox="0 0 24 24"
                                 width="24"
                                 height="24"
                                 v-if="!tabData.BrakingDoc"
                                 class="ml-2 cursor-pointer">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="#EC4899"
                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                            </svg>
                        </v-card-title>
                        <v-card-text class="pt-2">
                            <v-text-field v-model="inputCard.VehicleTyreKindSize.value"
                                          :label="`${inputCard.VehicleTyreKindSize.text}`"
                                          :disabled="tabData.BrakingDoc"
                                          :required="inputCard.VehicleTyreKindSize.necessary"
                                          :rules="inputCard.VehicleTyreKindSize.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-text-field v-model="inputCard.VehicleTyreKindIndex.value"
                                          v-if="isNotSbkts"
                                          :disabled="tabData.BrakingDoc"
                                          :label="`${inputCard.VehicleTyreKindIndex.text}`"
                                          :required="inputCard.VehicleTyreKindIndex.necessary"
                                          :rules="inputCard.VehicleTyreKindIndex.necessary?fieldRules:[]">
                            </v-text-field>
                            <v-autocomplete v-model="inputCard.VehicleTyreKindSpeed.value"
                                            v-if="isNotSbkts"
                                            :items="nsisData.VehicleTyreKindSpeedList"
                                            item-text="value"
                                            :disabled="tabData.BrakingDoc"
                                            item-value="key"
                                            :label="`${inputCard.VehicleTyreKindSpeed.text}`"
                                            persistent-hint
                                            :required="inputCard.VehicleTyreKindSpeed.necessary"
                                            :rules="inputCard.VehicleTyreKindSpeed.necessary?rules.select:[]"
                                            >
                            </v-autocomplete>
                            <v-checkbox v-model="inputCard.IsSupplementVehicleTyre.value"
                                        :disabled="tabData.BrakingDoc"
                                        :label="`${inputCard.IsSupplementVehicleTyre.text}`"></v-checkbox>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step16 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isNotSbkts(): boolean {
            if (this.$props.tabData.first.DocKindCode.value == '40') return false;
            return true;
        }

        get isTechCategory_O(): boolean {
            return this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o');
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,

                // fields
                baseTyreHelper: false,
                baseTyreHelperList: [],
                baseTyreHelperItem: '',
                baseTyreHelperData: [],

                additionalTyreHelper: false,
                additionalTyreHelperList: [],
                additionalTyreHelperItem: '',
                additionalTyreHelperData: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async baseTyreHelperChanged(val) {

            if (this.$props.tabData.tenth.VehicleTyreList.filter(item => !!item.IsSupplementVehicleTyre.value == false).length > 0) {
                this.$props.tabData.tenth.VehicleTyreList = this.$props.tabData.tenth.VehicleTyreList.filter(item => !!item.IsSupplementVehicleTyre.value == true)
            }
            if (val.length == 0) return
            let row = this.$data.baseTyreHelperData.filter(item => val.includes(item.id))
            row.forEach(x => {
                let el = {
                    VehicleTyreKindSize: { value: x.vehicleTyreKindSize, text: 'Обозначение размера', necessary: true },
                    VehicleTyreKindIndex: { value: x.vehicleTyreKindIndex, text: 'Индекс несущей способности для максимально допустимой нагрузки', necessary: false },
                    VehicleTyreKindSpeed: { value: x.vehicleTyreKindSpeedCode, text: 'Скоростная категория', necessary: false },
                    IsSupplementVehicleTyre: { value: x.isSupplementVehicleTyre, text: 'Шина для временного использования', necessary: false },
                }
                this.$props.tabData.tenth.VehicleTyreList.push(el);
            })
            this.$props.tabData.tenth.VehicleTyreList = this.$props.tabData.tenth.VehicleTyreList.sort((a, b) => a.IsSupplementVehicleTyre.value - b.IsSupplementVehicleTyre.value);
        }

        async additionalTyreHelperChanged(val) {
            if (this.$props.tabData.tenth.VehicleTyreList.filter(item => !!item.IsSupplementVehicleTyre.value == true).length > 0) {
                this.$props.tabData.tenth.VehicleTyreList = this.$props.tabData.tenth.VehicleTyreList.filter(item => !!item.IsSupplementVehicleTyre.value == false)
            }
            if (val.length == 0) return
            let row = this.$data.additionalTyreHelperData.filter(item => val.includes(item.id))
            row.forEach(x => {
                let el = {
                    VehicleTyreKindSize: { value: x.vehicleTyreKindSize, text: 'Обозначение размера', necessary: true },
                    VehicleTyreKindIndex: { value: x.vehicleTyreKindIndex, text: 'Индекс несущей способности для максимально допустимой нагрузки', necessary: false },
                    VehicleTyreKindSpeed: { value: x.vehicleTyreKindSpeedCode, text: 'Скоростная категория', necessary: false },
                    IsSupplementVehicleTyre: { value: x.isSupplementVehicleTyre, text: 'Шина для временного использования', necessary: false },
                }
                this.$props.tabData.tenth.VehicleTyreList.push(el);
            });
            this.$props.tabData.tenth.VehicleTyreList = this.$props.tabData.tenth.VehicleTyreList.sort((a, b) => a.IsSupplementVehicleTyre.value - b.IsSupplementVehicleTyre.value);
        }


        async mounted() {
            this.$root.$on("TyreKindDoc", (arg) => {
                let data = arg.vehicleTyreKindInfos;
                this.$props.tabData.tenth.VehicleTyreList = [];
                this.$props.tabData.TyreKindDoc = true;
                if (data.length == 0) return;

                this.$data.baseTyreHelperData = data.filter(x => x.isSupplementVehicleTyre == false);
                this.$data.baseTyreHelperList = this.$data.baseTyreHelperData.map(item => {
                    let txt = this.$props.nsisData.VehicleTyreKindSpeedList.filter(x => x.key == item.vehicleTyreKindSpeedCode)[0].value
                    return { key: item.id, value: `Размер ${item.vehicleTyreKindSize}, индекс ${item.vehicleTyreKindIndex}, скоростная категория ${txt}` }
                })
                if (this.$data.baseTyreHelperList.length > 0) this.$data.baseTyreHelper = true

                this.$data.additionalTyreHelperData = data.filter(x => x.isSupplementVehicleTyre == true);
                this.$data.additionalTyreHelperList = this.$data.additionalTyreHelperData.map(item => {
                    let txt = this.$props.nsisData.VehicleTyreKindSpeedList.filter(x => x.key == item.vehicleTyreKindSpeedCode)[0].value
                    return { key: item.id, value: `Размер ${item.vehicleTyreKindSize}, индекс ${item.vehicleTyreKindIndex}, скоростная категория ${txt}` }
                })
                if (this.$data.additionalTyreHelperList.length > 0) this.$data.additionalTyreHelper = true
            });

            this.$root.$on("preSavedTyre", (data) => {
                let IsBasicVehicleTyres = data.filter(x => !x.isSupplementVehicleTyre)
                let IsSupplementVehicleTyres = data.filter(x => x.isSupplementVehicleTyre)
                if (IsBasicVehicleTyres.length > 0) {
                    let ids: any = []
                    for (let item of IsBasicVehicleTyres) {
                        let txt = this.$props.nsisData.VehicleTyreKindSpeedList.filter(x => x.key == item.vehicleTyreKindSpeed)[0].value
                        let tyre = this.$data.baseTyreHelperList.filter(x => x.value.includes(item.vehicleTyreKindSize)
                            && x.value.includes(item.vehicleTyreKindIndex)
                            && x.value.includes(txt))
                        if (tyre.length > 0) {
                            ids.push(tyre[0].key)
                        }
                    }
                    this.$data.baseTyreHelperItem = ids;
                    this.baseTyreHelperChanged(this.$data.baseTyreHelperItem)
                }
                if (IsSupplementVehicleTyres.length > 0) {
                    let ids: any = []
                    for (let item of IsSupplementVehicleTyres) {
                        let txt = this.$props.nsisData.VehicleTyreKindSpeedList.filter(x => x.key == item.vehicleTyreKindSpeed)[0].value
                        let tyre = this.$data.additionalTyreHelperList.filter(x => x.value.includes(item.vehicleTyreKindSize)
                            && x.value.includes(item.vehicleTyreKindIndex)
                            && x.value.includes(txt))
                        if (tyre.length > 0) {
                            ids.push(tyre[0].key)
                        }
                    }
                    this.$data.additionalTyreHelperItem = ids;
                    this.additionalTyreHelperChanged(this.$data.additionalTyreHelperItem)
                }
            });

            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
                this.$data.baseTyreHelper = false;
                this.$data.baseTyreHelperList = []
                this.$data.baseTyreHelperItem = ''
                this.$data.baseTyreHelperData = []
                this.$data.additionalTyreHelper = false
                this.$data.additionalTyreHelperList = []
                this.$data.additionalTyreHelperItem = ''
                this.$data.additionalTyreHelperData = []
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("TyreKindDoc");
            this.$root.$off("preSavedTyre");
        }

        async addCard(value, fieldType) {
            fieldType.push({
                VehicleTyreKindSize: { value: '', text: 'Обозначение размера', necessary: true },
                VehicleTyreKindIndex: { value: '', text: 'Индекс несущей способности для максимально допустимой нагрузки', necessary: true },
                VehicleTyreKindSpeed: { value: '', text: 'Скоростная категория', necessary: true },
                IsSupplementVehicleTyre: { value: false, text: 'Шина для временного использования', necessary: true },
            });
        }

        async removeCard(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleTyreList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }
        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (!this.isTechCategory_O && this.$props.tabData.tenth.VehicleTyreList.length == 0) {
                    this.$props.show_messageParent("Выберите как минимум один вид шины");
                    return false;
                }
                if (this.isTechCategory_O && this.$props.tabData.tenth.VehicleTyreList.length == 0) {
                    this.$props.tabData.tenth.VehicleTyreList = [{
                        VehicleTyreKindSize: { value: '', text: 'Обозначение размера', necessary: true },
                        VehicleTyreKindIndex: { value: '', text: 'Индекс несущей способности для максимально допустимой нагрузки', necessary: false },
                        VehicleTyreKindSpeed: { value: '', text: 'Скоростная категория', necessary: false },
                        IsSupplementVehicleTyre: { value: false, text: 'Шина для временного использования', necessary: false },
                    }];
                }
                return true;
            }
            return false;
        }


    }

</script>