﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">


                    <v-card>
                        <v-card-title class="grey">Габаритные размеры</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Длина</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <v-autocomplete v-model="LengthMeasureHelperItem"
                                            :items="LengthMeasureHelperList"
                                            item-text="value"
                                            @change="LengthMeasureHelperChanged(LengthMeasureHelperItem)"
                                            item-value="key"
                                            v-if="LengthMeasureHelper"
                                            required
                                            :rules="rules.select"
                                            label="Выбор длины"
                                            persistent-hint>
                            </v-autocomplete>

                            <span v-if="tabData.tenth.LengthMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.LengthMeasureMin.value}} до {{tabData.tenth.LengthMeasureMax.value}}</span>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.LengthMeasure.value"
                                                  :label="`${tabData.tenth.LengthMeasure.text}`"
                                                  type="number"
                                                  :disabled="tabData.tenth.LengthMeasure.disabled"
                                                  :required="tabData.tenth.LengthMeasure.necessary"
                                                  :rules="tabData.tenth.LengthMeasure.necessary?(tabData.tenth.LengthMeasureRange.value?[rules.minmax(tabData.tenth.LengthMeasure.value, tabData.tenth.LengthMeasureMin.value, tabData.tenth.LengthMeasureMax.value)]:fieldRules):[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.LengthMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.LengthMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.LengthMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Ширина</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <v-autocomplete v-model="WidthMeasureHelperItem"
                                            :items="WidthMeasureHelperList"
                                            item-text="value"
                                            @change="WidthMeasureHelperChanged(WidthMeasureHelperItem)"
                                            item-value="key"
                                            v-if="WidthMeasureHelper"
                                            required
                                            :rules="rules.select"
                                            label="Выбор ширины"
                                            persistent-hint>
                            </v-autocomplete>
                            <span v-if="tabData.tenth.WidthMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.WidthMeasureMin.value}} до {{tabData.tenth.WidthMeasureMax.value}}</span>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.WidthMeasure.value"
                                                  :label="`${tabData.tenth.WidthMeasure.text}`"
                                                  type="number"
                                                  :disabled="tabData.tenth.WidthMeasure.disabled"
                                                  :required="tabData.tenth.WidthMeasure.necessary"
                                                  :rules="tabData.tenth.WidthMeasure.necessary?(tabData.tenth.WidthMeasureRange.value?[rules.minmax(tabData.tenth.WidthMeasure.value, tabData.tenth.WidthMeasureMin.value, tabData.tenth.WidthMeasureMax.value)]:fieldRules):[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.WidthMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.WidthMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.WidthMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="1"><span style="color:#e67e22">Высота</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <span v-if="tabData.tenth.HeightMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.HeightMeasureMin.value}} до {{tabData.tenth.HeightMeasureMax.value}}</span>
                            <v-autocomplete v-model="HeightMeasureHelperItem"
                                            :items="HeightMeasureHelperList"
                                            item-text="value"
                                            @change="HeightMeasureHelperChanged(HeightMeasureHelperItem)"
                                            item-value="key"
                                            v-if="HeightMeasureHelper"
                                            required
                                            :rules="rules.select"
                                            label="Выбор высоты"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.HeightMeasure.value"
                                                  :label="`${tabData.tenth.HeightMeasure.text}`"
                                                  type="number"
                                                  :disabled="tabData.tenth.HeightMeasure.disabled"
                                                  :required="tabData.tenth.HeightMeasure.necessary"
                                                  :rules="tabData.tenth.HeightMeasure.necessary?(tabData.tenth.HeightMeasureRange.value?[rules.minmax(tabData.tenth.HeightMeasure.value, tabData.tenth.HeightMeasureMin.value, tabData.tenth.HeightMeasureMax.value)]:fieldRules):[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.HeightMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.HeightMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.HeightMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-checkbox v-model="tabData.tenth.HeightMeasureAdditionalIndicator.value"
                                        v-if="AdditionalIndicatorVisible"
                                        :disabled="!tabData.tenth.HeightMeasureAdditionalIndicator.value"
                                        :label="`${tabData.tenth.HeightMeasureAdditionalIndicator.text}`"></v-checkbox>
                            <template v-if="tabData.tenth.HeightMeasureAdditionalIndicator.value">
                                <span v-if="tabData.tenth.HeightShipMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.HeightShipMeasureMin.value}} до {{tabData.tenth.HeightShipMeasureMax.value}}</span>
                                <v-autocomplete v-model="HeightShipMeasureHelperItem"
                                                :items="HeightShipMeasureHelperList"
                                                item-text="value"
                                                @change="HeightShipMeasureHelperChanged(HeightShipMeasureHelperItem)"
                                                item-value="key"
                                                v-if="HeightShipMeasureHelper"
                                                required
                                                :rules="rules.select"
                                                label="Выбор погрузочной высоты"
                                                persistent-hint>
                                </v-autocomplete>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.HeightShipMeasure.value"
                                                      :label="`${tabData.tenth.HeightShipMeasure.text}`"
                                                      :disabled="tabData.tenth.HeightShipMeasure.disabled"
                                                      type="number"
                                                      :required="tabData.tenth.HeightShipMeasure.necessary"
                                                      :rules="tabData.tenth.HeightShipMeasure.necessary?(tabData.tenth.HeightShipMeasureRange.value?[rules.minmax(tabData.tenth.HeightShipMeasure.value, tabData.tenth.HeightShipMeasureMin.value, tabData.tenth.HeightShipMeasureMax.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="tabData.tenth.HeightShipMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${tabData.tenth.HeightShipMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="tabData.tenth.HeightShipMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>

                                <span v-if="tabData.tenth.MaxHeightMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.MaxHeightMeasureMin.value}} до {{tabData.tenth.MaxHeightMeasureMax.value}}</span>
                                <v-autocomplete v-model="MaxHeightMeasureHelperItem"
                                                :items="MaxHeightMeasureHelperList"
                                                item-text="value"
                                                @change="MaxHeightMeasureHelperChanged(MaxHeightMeasureHelperItem)"
                                                item-value="key"
                                                v-if="MaxHeightMeasureHelper"
                                                required
                                                :rules="rules.select"
                                                label="Выбор высота максимально допустимой"
                                                persistent-hint>
                                </v-autocomplete>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.MaxHeightMeasure.value"
                                                      :label="`${tabData.tenth.MaxHeightMeasure.text}`"
                                                      type="number"
                                                      :disabled="tabData.tenth.MaxHeightMeasure.disabled"
                                                      :required="tabData.tenth.MaxHeightMeasure.necessary"
                                                      :rules="tabData.tenth.MaxHeightMeasure.necessary?(tabData.tenth.MaxHeightMeasureRange.value?[rules.minmax(tabData.tenth.MaxHeightMeasure.value, tabData.tenth.MaxHeightMeasureMin.value, tabData.tenth.MaxHeightMeasureMax.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="tabData.tenth.MaxHeightMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${tabData.tenth.MaxHeightMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="tabData.tenth.MaxHeightMeasureUnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </template>
                            <template if="this.$props.tabData.tenth.VehicleAxlesList.length != 1">
                                <v-row>
                                    <v-col cols="1"><span style="color:#e67e22">База</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <v-autocomplete v-model="VehicleWheelbaseMeasureHelperItem"
                                                :items="VehicleWheelbaseMeasureHelperList"
                                                item-text="value"
                                                @change="VehicleWheelbaseMeasureHelperChanged(VehicleWheelbaseMeasureHelperItem)"
                                                item-value="key"
                                                v-if="VehicleWheelbaseMeasureHelper"
                                                label="Выбор базы"
                                                persistent-hint
                                                multiple>
                                </v-autocomplete>
                                <v-btn @click.native="addVehicleWheelbaseMeasure(0, tabData.tenth.VehicleWheelbaseMeasureList)"
                                       v-if="tabData.tenth.VehicleWheelbaseMeasureList.length == 0"
                                       style="border-color: rgb(230, 126, 34);background-color: rgb(230, 126, 34); margin: 10px;color:white">
                                    Добавить базу
                                </v-btn>
                                <div v-for="(input, index) in tabData.tenth.VehicleWheelbaseMeasureList"
                                     :key="`input-${index}`"
                                     class="input wrapper flex items-center">
                                    <span v-if="input.VehicleWheelbaseMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{input.VehicleWheelbaseMeasureMin.value}} до {{input.VehicleWheelbaseMeasureMax.value}}</span>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="input.VehicleWheelbaseMeasure.value"
                                                          :label="`${input.VehicleWheelbaseMeasure.text}`"
                                                          type="number"
                                                          :disabled="input.VehicleWheelbaseMeasure.disabled"
                                                          :required="input.VehicleWheelbaseMeasure.necessary"
                                                          :rules="input.VehicleWheelbaseMeasure.necessary?(input.VehicleWheelbaseMeasureRange.value?[rules.minmax(input.VehicleWheelbaseMeasure.value, input.VehicleWheelbaseMeasureMin.value, input.VehicleWheelbaseMeasureMax.value)]:fieldRules):[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="input.VehicleWheelbaseMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${input.VehicleWheelbaseMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="input.VehicleWheelbaseMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                        <v-col v-if="!tabData.disableByExistDoc">
                                            <!--          Add Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="addVehicleWheelbaseMeasure(input, tabData.tenth.VehicleWheelbaseMeasureList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="green"
                                                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                            </svg>

                                            <!--          Remove Svg Icon-->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 @click="removeVehicleWheelbaseMeasure(index, tabData.tenth.VehicleWheelbaseMeasureList)"
                                                 viewBox="0 0 24 24"
                                                 width="24"
                                                 height="24"
                                                 class="ml-2 cursor-pointer">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path fill="#EC4899"
                                                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                            </svg>
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                            <template v-if="tabData.IsEpts == 3">
                                <v-divider></v-divider>
                                <v-row justify="center">
                                    <v-col>
                                        <v-checkbox v-model="tabData.tenth.EpsmReverseDriveIndicator.value"
                                                    :label="`${tabData.tenth.EpsmReverseDriveIndicator.value?'наличия реверсивного управление присутствует':'наличия реверсивного управление отсутствует'}`"></v-checkbox>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-text-field v-model="tabData.tenth.EpsmClearance.value"
                                                  :label="`${tabData.tenth.EpsmClearance.text}`"
                                                  type="number"></v-text-field>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmDescription.value"
                                                      :label="`${tabData.tenth.EpsmDescription.text}`"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmVoltageRate.value"
                                                      :label="`${tabData.tenth.EpsmVoltageRate.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmMaxSpeed.value"
                                                      :label="`${tabData.tenth.EpsmMaxSpeed.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step6 extends Vue {
        @Prop()
        readonly show_messageParent!: void
        get AdditionalIndicatorVisible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '30') return true;
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.documentNotExists.value) return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }

                },
                valid: true,

                // fields
                LengthMeasureHelper: false,
                LengthMeasureHelperList: [],
                LengthMeasureHelperItem: '',
                LengthMeasureHelperData: [],

                WidthMeasureHelper: false,
                WidthMeasureHelperList: [],
                WidthMeasureHelperItem: '',
                WidthMeasureHelperData: [],

                HeightMeasureHelper: false,
                HeightMeasureHelperList: [],
                HeightMeasureHelperItem: '',
                HeightMeasureHelperData: [],

                HeightShipMeasureHelper: false,
                HeightShipMeasureHelperList: [],
                HeightShipMeasureHelperItem: '',
                HeightShipMeasureHelperData: [],

                MaxHeightMeasureHelper: false,
                MaxHeightMeasureHelperList: [],
                MaxHeightMeasureHelperItem: '',
                MaxHeightMeasureHelperData: [],

                VehicleWheelbaseMeasureHelper: false,
                VehicleWheelbaseMeasureHelperList: [],
                VehicleWheelbaseMeasureHelperItem: [],
                VehicleWheelbaseMeasureHelperData: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        async LengthMeasureHelperChanged(val) {
            let lengthMeasure = this.$data.LengthMeasureHelperData.filter(item => item.id == val);
            if (lengthMeasure?.length > 0) {
                lengthMeasure = lengthMeasure[0]
                if (lengthMeasure['length'] < lengthMeasure.lengthMax) {
                    this.$props.tabData.tenth.LengthMeasureRange.value = true;
                    this.$props.tabData.tenth.LengthMeasureMin.value = lengthMeasure['length'];
                    this.$props.tabData.tenth.LengthMeasureMax.value = lengthMeasure.lengthMax;
                    this.$props.tabData.tenth.LengthMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.LengthMeasureRange.value = false;
                    this.$props.tabData.tenth.LengthMeasure.value = lengthMeasure['length'].toString();
                    this.$props.tabData.tenth.LengthMeasure.disabled = true;
                }
            }
        }

        async WidthMeasureHelperChanged(val) {
            let WidthMeasure = this.$data.WidthMeasureHelperData.filter(item => item.id == val);
            if (WidthMeasure?.length > 0) {
                WidthMeasure = WidthMeasure[0]

                if (WidthMeasure['width'] < WidthMeasure.widthMax) {
                    this.$props.tabData.tenth.WidthMeasureMin.value = WidthMeasure['width'];
                    this.$props.tabData.tenth.WidthMeasureMax.value = WidthMeasure.widthMax;
                    this.$props.tabData.tenth.WidthMeasureRange.value = true;
                    this.$props.tabData.tenth.WidthMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.WidthMeasure.value = WidthMeasure['width'].toString();
                    this.$props.tabData.tenth.WidthMeasureRange.value = false;
                    this.$props.tabData.tenth.WidthMeasure.disabled = true;
                }
            }
        }

        async HeightMeasureHelperChanged(val) {
            let HeightMeasure = this.$data.HeightMeasureHelperData.filter(item => item.id == val);
            if (HeightMeasure?.length > 0) {
                HeightMeasure = HeightMeasure[0]
                if (HeightMeasure['height'] < HeightMeasure.heightMax) {
                    this.$props.tabData.tenth.HeightMeasureRange.value = true;
                    this.$props.tabData.tenth.HeightMeasureMin.value = HeightMeasure['height'];
                    this.$props.tabData.tenth.HeightMeasureMax.value = HeightMeasure.heightMax;
                    this.$props.tabData.tenth.HeightMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.HeightMeasureRange.value = false;
                    this.$props.tabData.tenth.HeightMeasure.value = HeightMeasure['height'].toString();
                    this.$props.tabData.tenth.HeightMeasure.disabled = true;
                }
            }
        }

        async HeightShipMeasureHelperChanged(val) {
            let HeightShipMeasure = this.$data.HeightShipMeasureHelperData.filter(item => item.id == val);
            if (HeightShipMeasure?.length > 0) {
                HeightShipMeasure = HeightShipMeasure[0]
                if (HeightShipMeasure['loadingHeight'] < HeightShipMeasure.loadingHeightMax) {
                    this.$props.tabData.tenth.HeightShipMeasureRange.value = true;
                    this.$props.tabData.tenth.HeightShipMeasureMin.value = HeightShipMeasure['loadingHeight'];
                    this.$props.tabData.tenth.HeightShipMeasureMax.value = HeightShipMeasure.loadingHeightMax;
                    this.$props.tabData.tenth.HeightShipMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.HeightShipMeasureRange.value = false;
                    this.$props.tabData.tenth.HeightShipMeasure.value = HeightShipMeasure['loadingHeight'].toString();
                    this.$props.tabData.tenth.HeightShipMeasure.disabled = true;
                }
            }
        }

        async MaxHeightMeasureHelperChanged(val) {
            let MaxHeightMeasure = this.$data.MaxHeightMeasureHelperData.filter(item => item.id == val);
            if (MaxHeightMeasure?.length > 0) {
                MaxHeightMeasure = MaxHeightMeasure[0]
                if (MaxHeightMeasure['maxHeightMeasure'] < MaxHeightMeasure.maxHeightMeasureMax) {
                    this.$props.tabData.tenth.MaxHeightMeasureRange.value = true;
                    this.$props.tabData.tenth.MaxHeightMeasureMin.value = MaxHeightMeasure['maxHeightMeasure'];
                    this.$props.tabData.tenth.MaxHeightMeasureMax.value = MaxHeightMeasure.maxHeightMeasureMax;
                    this.$props.tabData.tenth.MaxHeightMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.MaxHeightMeasureRange.value = false;
                    this.$props.tabData.tenth.MaxHeightMeasure.value = MaxHeightMeasure['maxHeightMeasure'].toString();
                    this.$props.tabData.tenth.MaxHeightMeasure.disabled = true;
                }
            }
        }

        async VehicleWheelbaseMeasureHelperChanged(val, measures) {
            let VehicleWheelbaseMeasure = this.$data.VehicleWheelbaseMeasureHelperData.filter(item => val.indexOf(item.id) != -1 &&
                this.$props.tabData.tenth.VehicleWheelbaseMeasureList.map(x => x.VehicleWheelbaseMeasure.value).indexOf(val) == -1);
            this.$props.tabData.tenth.VehicleWheelbaseMeasureList = [];
            if (VehicleWheelbaseMeasure?.length > 0) {
                VehicleWheelbaseMeasure.forEach(measure => {
                    let item = {
                        VehicleWheelbaseMeasure: { value: '', text: 'База', necessary: true, disabled: false },
                        VehicleWheelbaseMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleWheelbaseMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleWheelbaseMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleWheelbaseMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true }
                    }
                    if (measure['wheelbase'] < measure.wheelbaseMax) {
                        item.VehicleWheelbaseMeasureRange.value = true;
                        item.VehicleWheelbaseMeasureMin.value = measure['wheelbase'];
                        item.VehicleWheelbaseMeasureMax.value = measure.wheelbaseMax;
                        item.VehicleWheelbaseMeasure.disabled = false;
                    } else {
                        item.VehicleWheelbaseMeasure.value = measure['wheelbase'].toString();
                        item.VehicleWheelbaseMeasure.disabled = true;
                    }
                    if (measures != undefined && measures.filter(x => x.id == measure.id).length > 0) {
                        item.VehicleWheelbaseMeasure.value = measures.filter(x => x.id == measure.id)[0].m
                    }
                    this.$props.tabData.tenth.VehicleWheelbaseMeasureList.push(item)
                })
            }
        }

        async addVehicleWheelbaseMeasure(value, fieldType) {
            fieldType.push({
                VehicleWheelbaseMeasure: { value: '', text: 'База', necessary: true },
                VehicleWheelbaseMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleWheelbaseMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleWheelbaseMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleWheelbaseMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true }
            });
        }

        async removeVehicleWheelbaseMeasure(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleWheelbaseMeasureList.length == 0) {
                return
            }
            fieldType.splice(index, 1);
        }

        @Watch("tabData.tenth.HeightMeasureAdditionalIndicator.value")
        async AdditionalIndicatorChanged(newVal) {
            if (!newVal) {
                this.$props.tabData.tenth.HeightShipMeasure.value = '';
                this.$props.tabData.tenth.MaxHeightMeasure.value = '';
            }
        }

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                //(this.$refs.form as any).reset()
                this.$props.tabData.tenth.LengthMeasure = { value: '', text: 'Длина', necessary: true },
                    this.$props.tabData.tenth.LengthMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.LengthMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.LengthMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.LengthMeasureUnitCode = { value: '110003', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.WidthMeasure = { value: '', text: 'Ширина', necessary: true },
                    this.$props.tabData.tenth.WidthMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.WidthMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.WidthMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.WidthMeasureUnitCode = { value: '110003', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.HeightMeasure = { value: '', text: 'Высота', necessary: true },
                    this.$props.tabData.tenth.HeightMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.HeightMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.HeightMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.HeightMeasureUnitCode = { value: '110003', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.HeightMeasureAdditionalIndicator = { value: false, text: 'Дополнительные параметры для контейнеровоза', necessary: true },
                    this.$props.tabData.tenth.HeightShipMeasure = { value: '', text: 'Высота погрузочная', necessary: true },
                    this.$props.tabData.tenth.HeightShipMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.HeightShipMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.HeightShipMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.HeightShipMeasureUnitCode = { value: '110003', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.MaxHeightMeasure = { value: '', text: 'Высота максимально допустимая', necessary: true },
                    this.$props.tabData.tenth.MaxHeightMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.MaxHeightMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.MaxHeightMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.MaxHeightMeasureUnitCode = { value: '110003', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.VehicleWheelbaseMeasureList = [{
                        VehicleWheelbaseMeasure: { value: '', text: 'База', necessary: true },
                        VehicleWheelbaseMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleWheelbaseMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleWheelbaseMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleWheelbaseMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true }
                    }];
                this.$data.LengthMeasureHelper = false;
                this.$data.LengthMeasureHelperList = [];
                this.$data.LengthMeasureHelperItem = '';
                this.$data.LengthMeasureHelperData = [];

                this.$data.WidthMeasureHelper = false;
                this.$data.WidthMeasureHelperList = [];
                this.$data.WidthMeasureHelperItem = '';
                this.$data.WidthMeasureHelperData = [];

                this.$data.HeightMeasureHelper = false;
                this.$data.HeightMeasureHelperList = [];
                this.$data.HeightMeasureHelperItem = '';
                this.$data.HeightMeasureHelperData = [];

                this.$data.HeightShipMeasureHelper = false;
                this.$data.HeightShipMeasureHelperList = [];
                this.$data.HeightShipMeasureHelperItem = '';
                this.$data.HeightShipMeasureHelperData = [];

                this.$data.MaxHeightMeasureHelper = false;
                this.$data.MaxHeightMeasureHelperList = [];
                this.$data.MaxHeightMeasureHelperItem = '';
                this.$data.MaxHeightMeasureHelperData = [];

                this.$data.VehicleWheelbaseMeasureHelper = false;
                this.$data.VehicleWheelbaseMeasureHelperList = [];
                this.$data.VehicleWheelbaseMeasureHelperItem = [];
                this.$data.VehicleWheelbaseMeasureHelperData = [];
            })
            this.$root.$on("DimensionDoc", (data) => {
                if (data.lengthRanges.length > 0) {
                    this.$data.LengthMeasureHelperData = data.lengthRanges
                    if (data.lengthRanges.length == 1) {
                        let minlength = Math.min(...data.lengthRanges.map(item => item['length']))
                        let maxlength = Math.max(...data.lengthRanges.map(item => item.lengthMax))

                        if (maxlength > minlength) {
                            this.$props.tabData.tenth.LengthMeasureRange.value = true;
                            this.$props.tabData.tenth.LengthMeasureMin.value = minlength;
                            this.$props.tabData.tenth.LengthMeasureMax.value = maxlength;
                        } else {
                            this.$props.tabData.tenth.LengthMeasure.value = minlength.toString();
                            this.$props.tabData.tenth.LengthMeasure.disabled = true;
                        }
                    } else {
                        this.$data.LengthMeasureHelper = true;
                        this.$props.tabData.tenth.LengthMeasure.disabled = true;
                        this.$data.LengthMeasureHelperList = data.lengthRanges.map(item => {
                            if (item['length'] < item.lengthMax) {
                                return { key: item.id, value: `от ${item['length']} до ${item.lengthMax}` };
                            } else {
                                return { key: item.id, value: item['length'] };
                            }
                        })
                    }
                }

                if (data.widthRanges.length > 0) {

                    this.$data.WidthMeasureHelperData = data.widthRanges
                    if (data.widthRanges.length == 1) {
                        let minWidth = Math.min(...data.widthRanges.map(item => item['width']))
                        let maxWidth = Math.max(...data.widthRanges.map(item => item.widthMax))

                        if (maxWidth > minWidth) {
                            this.$props.tabData.tenth.WidthMeasureRange.value = true;
                            this.$props.tabData.tenth.WidthMeasureMin.value = minWidth;
                            this.$props.tabData.tenth.WidthMeasureMax.value = maxWidth;
                        } else {
                            this.$props.tabData.tenth.WidthMeasure.value = minWidth.toString();
                            this.$props.tabData.tenth.WidthMeasure.disabled = true;
                        }
                    } else {
                        this.$data.WidthMeasureHelper = true;
                        this.$props.tabData.tenth.WidthMeasure.disabled = true;
                        this.$data.WidthMeasureHelperList = data.widthRanges.map(item => {
                            if (item['width'] < item.widthMax) {
                                return { key: item.id, value: `от ${item['width']} до ${item.widthMax}` };
                            } else {
                                return { key: item.id, value: item['width'] };
                            }
                        })
                    }
                }

                if (data.heightRanges.length > 0) {
                    this.$data.HeightMeasureHelperData = data.heightRanges
                    if (data.heightRanges.length == 1) {
                        let minHeight = Math.min(...data.heightRanges.map(item => item['height']))
                        let maxHeight = Math.max(...data.heightRanges.map(item => item.heightMax))

                        if (maxHeight > minHeight) {
                            this.$props.tabData.tenth.HeightMeasureRange.value = true;
                            this.$props.tabData.tenth.HeightMeasureMin.value = minHeight;
                            this.$props.tabData.tenth.HeightMeasureMax.value = maxHeight;
                        } else {
                            this.$props.tabData.tenth.HeightMeasure.value = minHeight.toString();
                            this.$props.tabData.tenth.HeightMeasure.disabled = true;
                        }
                    } else {
                        this.$data.HeightMeasureHelper = true;
                        this.$props.tabData.tenth.HeightMeasure.disabled = true;
                        this.$data.HeightMeasureHelperList = data.heightRanges.map(item => {
                            if (item['height'] < item.heightMax) {
                                return { key: item.id, value: `от ${item['height']} до ${item.heightMax}` };
                            } else {
                                return { key: item.id, value: item['height'] };
                            }
                        })
                    }
                }


                if (data.isVariableHeight == 0) {
                    this.$props.tabData.tenth.HeightMeasureAdditionalIndicator.value = false
                } else this.$props.tabData.tenth.HeightMeasureAdditionalIndicator.value = true

                if (data.loadingHeightRanges.length > 0) {
                    this.$data.HeightShipMeasureHelperData = data.loadingHeightRanges
                    if (data.loadingHeightRanges.length == 1) {
                        let minHeight = Math.min(...data.loadingHeightRanges.map(item => item['loadingHeight']))
                        let maxHeight = Math.max(...data.loadingHeightRanges.map(item => item.loadingHeightMax))

                        if (maxHeight > minHeight) {
                            this.$props.tabData.tenth.HeightShipMeasureRange.value = true;
                            this.$props.tabData.tenth.HeightShipMeasureMin.value = minHeight;
                            this.$props.tabData.tenth.HeightShipMeasureMax.value = maxHeight;
                        } else {
                            this.$props.tabData.tenth.HeightShipMeasure.value = minHeight.toString();
                            this.$props.tabData.tenth.HeightShipMeasure.disabled = true;
                        }
                    } else {
                        this.$data.HeightShipMeasureHelper = true;
                        this.$props.tabData.tenth.HeightShipMeasure.disabled = true;
                        this.$data.HeightShipMeasureHelperList = data.loadingHeightRanges.map(item => {
                            if (item['loadingHeight'] < item.loadingHeightMax) {
                                return { key: item.id, value: `от ${item['loadingHeight']} до ${item.loadingHeightMax}` };
                            } else {
                                return { key: item.id, value: item['loadingHeight'] };
                            }
                        })
                    }
                }

                if (data.maxHeightRanges.length > 0) {
                    this.$data.MaxHeightMeasureHelperData = data.maxHeightRanges
                    if (data.maxHeightRanges.length == 1) {
                        let minHeight = Math.min(...data.maxHeightRanges.map(item => item['maxHeightMeasure']))
                        let maxHeight = Math.max(...data.maxHeightRanges.map(item => item.maxHeightMeasureMax))

                        if (maxHeight > minHeight) {
                            this.$props.tabData.tenth.MaxHeightMeasureRange.value = true;
                            this.$props.tabData.tenth.MaxHeightMeasureMin.value = minHeight;
                            this.$props.tabData.tenth.MaxHeightMeasureMax.value = maxHeight;
                        } else {
                            this.$props.tabData.tenth.MaxHeightMeasure.value = minHeight.toString();
                            this.$props.tabData.tenth.MaxHeightMeasure.disabled = true;
                        }
                    } else {
                        this.$data.MaxHeightMeasureHelper = true;
                        this.$props.tabData.tenth.MaxHeightMeasure.disabled = true;
                        this.$data.MaxHeightMeasureHelperList = data.maxHeightRanges.map(item => {
                            if (item['maxHeightMeasure'] < item.maxHeightMeasureMax) {
                                return { key: item.id, value: `от ${item['maxHeightMeasure']} до ${item.maxHeightMeasureMax}` };
                            } else {
                                return { key: item.id, value: item['maxHeightMeasure'] };
                            }
                        })
                    }
                }
                if (data.wheelbaseMeasureRanges.length > 0) {
                    this.$props.tabData.tenth.VehicleWheelbaseMeasureList = [];
                    this.$data.VehicleWheelbaseMeasureHelperData = data.wheelbaseMeasureRanges
                    //if (data.wheelbaseMeasureRanges.length == 1) {
                    //    let item = {
                    //        VehicleWheelbaseMeasure: { value: '', text: 'База', necessary: true, disabled: false },
                    //        VehicleWheelbaseMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                    //        VehicleWheelbaseMeasureMin: { value: '', text: 'Минимально', necessary: true },
                    //        VehicleWheelbaseMeasureMax: { value: '', text: 'Максимально', necessary: true },
                    //        VehicleWheelbaseMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true }
                    //    }
                    //    let minHeight = Math.min(...data.wheelbaseMeasureRanges.map(item => item['wheelbase']))
                    //    let maxHeight = Math.max(...data.wheelbaseMeasureRanges.map(item => item.wheelbaseMax))

                    //    if (maxHeight > minHeight) {
                    //        item.VehicleWheelbaseMeasureRange.value = true;
                    //        item.VehicleWheelbaseMeasureMin.value = minHeight.toString();
                    //        item.VehicleWheelbaseMeasureMax.value = maxHeight.toString();
                    //    } else {
                    //        item.VehicleWheelbaseMeasure.value = minHeight.toString();
                    //        item.VehicleWheelbaseMeasure.disabled = true;
                    //    }
                    //    this.$props.tabData.tenth.VehicleWheelbaseMeasureList = [];
                    //    this.$props.tabData.tenth.VehicleWheelbaseMeasureList.push(item);

                    //} else {
                    this.$data.VehicleWheelbaseMeasureHelper = true;
                    //this.$props.tabData.tenth.VehicleWheelbaseMeasure.disabled = true;
                    this.$data.VehicleWheelbaseMeasureHelperList = data.wheelbaseMeasureRanges.map(item => {
                        if (item['wheelbase'] < item.wheelbaseMax) {
                            return { key: item.id, value: `от ${item['wheelbase']} до ${item.wheelbaseMax}` };
                        } else {
                            return { key: item.id, value: item['wheelbase'] };
                        }
                    })
                    //}
                }
            })
            this.$root.$on("preSavedVehicleBase", (data) => {
                if (data.lengthMeasure != "") {
                    let lengthMeasure: any = [];
                    if (data.lengthMeasureRange) {
                        lengthMeasure = this.$data.LengthMeasureHelperData.filter(item => item['length'] == data.lengthMeasureMin && item['lengthMax'] == data.lengthMeasureMax);
                    } else {
                        lengthMeasure = this.$data.LengthMeasureHelperData.filter(item => item['length'] == data.lengthMeasure);
                    }
                    if (lengthMeasure.length > 0) {
                        this.$data.LengthMeasureHelperItem = lengthMeasure[0].id;
                    }
                }
                if (data.widthMeasure != "") {
                    let widthMeasure: any = [];
                    if (data.widthMeasureRange) {
                        widthMeasure = this.$data.WidthMeasureHelperData.filter(item => item['width'] == data.widthMeasureMin && item['widthMax'] == data.widthMeasureMax);
                    } else {
                        widthMeasure = this.$data.WidthMeasureHelperData.filter(item => item['width'] == data.widthMeasure);
                    }
                    if (widthMeasure.length > 0) {
                        this.$data.WidthMeasureHelperItem = widthMeasure[0].id;
                    }
                }
                if (data.heightMeasure != "") {
                    let heightMeasure: any = [];
                    if (data.heightMeasureRange) {
                        heightMeasure = this.$data.HeightMeasureHelperData.filter(item => item['height'] == data.heightMeasureMin && item['heightMax'] == data.heightMeasureMax);
                    } else {
                        heightMeasure = this.$data.HeightMeasureHelperData.filter(item => item['height'] == data.heightMeasure);
                    }
                    if (heightMeasure.length > 0) {
                        this.$data.HeightMeasureHelperItem = heightMeasure[0].id;
                    }
                }
                if (data.heightShipMeasure != "") {
                    let heightShipMeasure: any = [];
                    if (data.heightShipMeasureRange) {
                        heightShipMeasure = this.$data.HeightShipMeasureHelperData.filter(item => item.loadingHeight == data.heightShipMeasureMin && item.loadingHeightMax == data.heightShipMeasureMax);
                    } else {
                        heightShipMeasure = this.$data.HeightShipMeasureHelperData.filter(item => item.loadingHeight == data.heightShipMeasure);
                    }
                    if (heightShipMeasure.length > 0) {
                        this.$data.HeightShipMeasureHelperItem = heightShipMeasure[0].id;
                    }
                }
                if (data.maxHeightMeasure != "") {
                    let maxHeightMeasure: any = [];
                    if (data.maxHeightMeasureRange) {
                        maxHeightMeasure = this.$data.MaxHeightMeasureHelperData.filter(item => item['maxHeightMeasure'] == data.maxHeightMeasureMin && item['maxHeightMeasureMax'] == data.maxHeightMeasureMax);
                    } else {
                        maxHeightMeasure = this.$data.MaxHeightMeasureHelperData.filter(item => item['maxHeightMeasure'] == data.maxHeightMeasure);
                    }
                    if (maxHeightMeasure.length > 0) {
                        this.$data.MaxHeightMeasureHelperItem = maxHeightMeasure[0].id;
                    }
                }
                if (data.vehicleWheelbaseMeasureList != undefined && data.vehicleWheelbaseMeasureList.length > 0) {
                    let ids: Array<Int32Array> = [];
                    let measures: any = [];
                    for (let measure of data.vehicleWheelbaseMeasureList) {
                        let cur = this.$data.VehicleWheelbaseMeasureHelperData.filter(x => {
                            if (x.wheelbase < x.wheelbaseMax) {
                                if (measure.vehicleWheelbaseMeasure <= x.wheelbaseMax || measure.vehicleWheelbaseMeasure >= x.wheelbase)
                                    return true;
                            } else {
                                if (measure.vehicleWheelbaseMeasure == x.wheelbase)
                                    return true;
                            }
                            return false;   
                        });
                        if (cur.length > 0) {
                            let id = cur[0].id
                            ids.push(id);
                            measures.push({ id: id, m:measure.vehicleWheelbaseMeasure })
                            this.$data.VehicleWheelbaseMeasureHelperItem.push(id);
                        }
                    }

                    if (this.$data.VehicleWheelbaseMeasureHelperItem.length > 0)
                        this.VehicleWheelbaseMeasureHelperChanged(this.$data.VehicleWheelbaseMeasureHelperItem, measures)
                }

            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("DimensionDoc");
            this.$root.$off("preSavedVehicleBase");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('m')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l6')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l7')) {
                    try {
                        let count = (parseInt(this.$props.tabData.tenth.VehicleWheelsFormula.value.split("x")[0]) / 2) - 1;
                        if (this.$props.tabData.tenth.VehicleWheelbaseMeasureList.length != count) {
                            this.$props.show_messageParent("Количество баз не соответствует");
                            return false;
                        }
                    } catch (e) {
                        this.$props.show_messageParent(e);
                        return false;
                    }

                }

                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')) {
                    try {
                        if (this.$props.tabData.tenth.VehicleAxlesList.length != this.$props.tabData.tenth.VehicleWheelbaseMeasureList.length
                            || this.$props.tabData.tenth.VehicleAxlesList.length != this.$props.tabData.tenth.VehicleWheelbaseMeasureList.length - 1) {
                            this.$props.show_messageParent("Количество баз не соответствует");
                            return false;
                        }

                    } catch (e) {
                        this.$props.show_messageParent(e);
                        return false;
                    }

                }

                if (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l1')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l2')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l3')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l4')
                    || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('l5')) {
                    try {
                        if (this.$props.tabData.tenth.VehicleWheelbaseMeasureList.length != 1) {
                            this.$props.show_messageParent("Количество баз не соответствует");
                            return false;
                        }
                    } catch (e) {
                        this.$props.show_messageParent(e);
                        return false;
                    }

                }

                return true;
            }
            return false;
        }


    }

</script>