﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Трансмиссия</v-card-title>
                        <v-card-text class="pt-2" v-if="!isTechCategory_O">
                            <v-checkbox v-model="tabData.tenth.NotVehicleTransmissionIndicator.value"
                                        :label="`${tabData.tenth.NotVehicleTransmissionIndicator.text}`"></v-checkbox>
                            <div v-if="!tabData.tenth.NotVehicleTransmissionIndicator.value"
                                 v-for="(input, index) in tabData.tenth.VehicleTransmissionList"
                                 :key="`input-${index}`"
                                 class="input wrapper flex items-center">
                                <v-autocomplete v-model="VehicleTransmission"
                                                :items="VehicleTransmissionDynamicList"
                                                v-if="tabData.TransmissionDoc"
                                                item-text="value"
                                                item-value="key"
                                                @change="VehicleTransmissionChanged"
                                                :label="`${input.VehicleTransmissionText.text}`"
                                                persistent-hint
                                                required
                                                :rules="input.VehicleTransmissionText.necessary?rules.select:[]">
                                </v-autocomplete>
                                <v-autocomplete v-model="input.VehicleTransmissionText.value"
                                                :items="nsisData.VehicleTransmissionComponentList"
                                                v-else
                                                item-text="value"
                                                item-value="key"
                                                :label="`${input.VehicleTransmissionText.text}`"
                                                persistent-hint
                                                required
                                                :rules="input.VehicleTransmissionText.necessary?rules.select:[]">
                                </v-autocomplete>
                                <v-text-field v-model="input.VehicleTransmissionDescription.value"
                                                v-if="tabData.IsEpts == 3"
                                                :label="`${input.VehicleTransmissionDescription.text}`"
                                                :required="input.VehicleTransmissionDescription.necessary"
                                                :rules="input.VehicleTransmissionDescription.necessary?fieldRules:[]"></v-text-field>
                                    
                                <template>
                                    <!--          Add Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="addVehicleTransmission(input, tabData.tenth.VehicleTransmissionList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         v-if="false"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="green"
                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                    </svg>

                                    <!--          Remove Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="removeVehicleTransmission(index, tabData.tenth.VehicleTransmissionList)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         v-if="false"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="#EC4899"
                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                    </svg>
                                </template>

                            </div>
                        </v-card-text>
                        <v-card-text class="pt-2" v-else>
                            Заполнение не требуется
                        </v-card-text>
                    </v-card>
                    <template v-if="!isTechCategory_O">
                        <v-autocomplete v-model="GearBoxHelperItem"
                                        :items="GearBoxHelperList"
                                        item-text="value"
                                        @change="GearBoxHelperChanged(GearBoxHelperItem)"
                                        item-value="key"
                                        v-if="GearBoxHelper"
                                        required
                                        :rules="rules.select"
                                        label="Выбор коробки передач"
                                        persistent-hint>
                        </v-autocomplete>
                        <template v-if="tabData.GearBoxShow">
                            <div v-if="!tabData.tenth.NotVehicleTransmissionIndicator.value"
                                 v-for="(inputCard, indexCard) in tabData.tenth.GearBoxList"
                                 :key="`inputCard-${indexCard}`">
                                <v-card>
                                    <v-card-title class="grey">
                                        <span>
                                            Коробка передач
                                        </span>
                                        <v-spacer></v-spacer>
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addCardTransmission(inputCard, tabData.tenth.GearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeCardTransmission(indexCard, tabData.tenth.GearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-card-title>
                                    <v-card-text class="pt-2">
                                        <v-text-field v-model="inputCard.VehicleGearComponentMakeName.value"
                                                      :label="`${inputCard.VehicleGearComponentMakeName.text}`"
                                                      v-if="VehicleGearComponentMakeNameShow"
                                                      :disabled="tabData.TransmissionDoc"
                                                      :required="inputCard.VehicleGearComponentMakeName.necessary"
                                                      :rules="inputCard.VehicleGearComponentMakeName.necessary?fieldRules:[]">
                                        </v-text-field>
                                        <v-autocomplete v-model="inputCard.VehicleGearComponentText.value"
                                                        :items="nsisData.VehicleGearComponentList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :disabled="tabData.TransmissionDoc"
                                                        :label="`${inputCard.VehicleGearComponentText.text}`"
                                                        persistent-hint
                                                        required
                                                        :rules="inputCard.VehicleGearComponentText.necessary?rules.select:[]">
                                        </v-autocomplete>
                                        <v-checkbox v-model="inputCard.NotVehicleGearIndicator.value"
                                                    :disabled="tabData.TransmissionDoc"
                                                    :label="`${inputCard.NotVehicleGearIndicator.text}`"></v-checkbox>
                                        <div v-for="(inputSubCard, indexSubCard) in inputCard.TransmissionUnitGearList"
                                             v-if="isNotSbkts"
                                             :key="`inputSubCard-${indexSubCard}`"
                                             class="input wrapper flex items-center">
                                            <v-row>
                                                <v-col cols="4">
                                                    <span style="color:#e67e22">Передаточные числа</span>
                                                    <!--          Add Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="addSubCardTransmission(inputSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="green"
                                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                    </svg>
                                                    <!--          Remove Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="removeSubCardTransmission(indexSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="#EC4899"
                                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                    </svg>
                                                </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                            </v-row>
                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearName.value"
                                                            :items="nsisData.TransmissionUnitGearNameList"
                                                            item-text="value"
                                                            item-value="key"
                                                            :disabled="tabData.TransmissionDoc"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearName.visible != undefined && inputSubCard.TransmissionUnitGearName.visible)"
                                                            :label="`${inputSubCard.TransmissionUnitGearName.text}`"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearName.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearType.value"
                                                            :items="nsisData.TransmissionUnitGearTypeList"
                                                            item-text="value"
                                                            item-value="key"
                                                            :disabled="tabData.TransmissionDoc"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearType.visible != undefined && inputSubCard.TransmissionUnitGearType.visible)"
                                                            :label="`${inputSubCard.TransmissionUnitGearType.text}`"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearType.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <v-checkbox v-model="inputSubCard.TransmissionUnitGearRange.value"
                                                        :disabled="tabData.TransmissionDoc"
                                                        :label="`${inputSubCard.TransmissionUnitGearRange.text}`"></v-checkbox>
                                            <v-text-field v-model="inputSubCard.TransmissionUnitGearRate.value"
                                                          v-if="!inputSubCard.TransmissionUnitGearRange.value"
                                                          :disabled="tabData.TransmissionDoc"
                                                          :label="`${inputSubCard.TransmissionUnitGearRate.text2}`"
                                                          :required="inputSubCard.TransmissionUnitGearRate.necessary"
                                                          :rules="inputSubCard.TransmissionUnitGearRate.necessary?fieldRules:[]">
                                            </v-text-field>
                                            <v-row v-if="inputSubCard.TransmissionUnitGearRange.value">
                                                <v-col>
                                                    <v-text-field v-model="inputSubCard.TransmissionUnitGearRate.value"
                                                                  :label="`${inputSubCard.TransmissionUnitGearRate.text}`"
                                                                  :required="inputSubCard.TransmissionUnitGearRate.necessary"
                                                                  :disabled="tabData.TransmissionDoc"
                                                                  :rules="inputSubCard.TransmissionUnitGearRate.necessary?fieldRules:[]">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col>
                                                    <v-text-field v-model="inputSubCard.TransmissionUnitGearRateMax.value"
                                                                  :label="`${inputSubCard.TransmissionUnitGearRateMax.text}`"
                                                                  :required="inputSubCard.TransmissionUnitGearRateMax.necessary"
                                                                  :disabled="tabData.TransmissionDoc"
                                                                  :rules="inputSubCard.TransmissionUnitGearRateMax.necessary?fieldRules:[]">
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-checkbox v-model="inputSubCard.TransmissionUnitReverseGearIndicator.value"
                                                        :disabled="tabData.TransmissionDoc"
                                                        :label="`${inputSubCard.TransmissionUnitReverseGearIndicator.text}`"></v-checkbox>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </div>
                        </template>
                        <v-autocomplete v-model="TransferGearBoxHelperItem"
                                        :items="TransferGearBoxHelperList"
                                        item-text="value"
                                        @change="TransferGearBoxHelperChanged(TransferGearBoxHelperItem)"
                                        item-value="key"
                                        v-if="TransferGearBoxHelper"
                                        required
                                        :rules="rules.select"
                                        label="Выбор раздаточной коробки"
                                        persistent-hint>
                        </v-autocomplete>
                        <template v-if="tabData.TransferGearShow">
                            <div v-if="!tabData.tenth.NotVehicleTransmissionIndicator.value || isNotSbkts"
                                 v-for="(inputCard, indexCard) in tabData.tenth.TransferGearBoxList"
                                 :key="`inputCard1-${indexCard}`">
                                <v-card>
                                    <v-card-title class="grey">
                                        <span>
                                            Раздаточная коробка
                                        </span>
                                        <v-spacer></v-spacer>
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addCardTransferGearBox(inputCard, tabData.tenth.TransferGearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeCardTransferGearBox(indexCard, tabData.tenth.TransferGearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-card-title>
                                    <v-card-text class="pt-2">
                                        <v-text-field v-model="inputCard.VehicleGearComponentMakeName.value"
                                                      :label="`${inputCard.VehicleGearComponentMakeName.text}`"
                                                      :disabled="tabData.TransmissionDoc"
                                                      v-if="TransferComponentMakeNameShow"
                                                      :required="inputCard.VehicleGearComponentMakeName.necessary"
                                                      :rules="inputCard.VehicleGearComponentMakeName.necessary?fieldRules:[]">
                                        </v-text-field>
                                        <v-text-field v-model="inputCard.VehicleGearComponentText.value"
                                                      :label="`${inputCard.VehicleGearComponentText.text}`"
                                                      :disabled="tabData.TransmissionDoc"
                                                      v-if="TransferTypeShow"
                                                      :required="inputCard.VehicleGearComponentText.necessary"
                                                      :rules="inputCard.VehicleGearComponentText.necessary?fieldRules:[]">
                                        </v-text-field>

                                        <div v-for="(inputSubCard, indexSubCard) in inputCard.TransmissionUnitGearList"
                                             :key="`inputSubCard-${indexSubCard}`"
                                             class="input wrapper flex items-center">
                                            <v-row>
                                                <v-col cols="4">
                                                    <span style="color:#e67e22">Передаточные числа</span>
                                                    <!--          Add Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="addSubCardTransferGearBox(inputSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="green"
                                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                    </svg>
                                                    <!--          Remove Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="removeSubCardTransferGearBox(indexSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="#EC4899"
                                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                    </svg>
                                                </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                            </v-row>
                                            {{inputSubCard.TransmissionUnitGearName.visible != undefined && inputSubCard.TransmissionUnitGearName.visible}}
                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearName.value"
                                                            :items="nsisData.TransmissionUnitGearNameList"
                                                            item-text="value"
                                                            item-value="key"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearName.visible != undefined && inputSubCard.TransmissionUnitGearName.visible)"
                                                            :disabled="tabData.TransmissionDoc"
                                                            :label="`${inputSubCard.TransmissionUnitGearName.text}`"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearName.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearType.value"
                                                            :items="nsisData.TransmissionUnitGearTypeList"
                                                            item-text="value"
                                                            item-value="key"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearType.visible != undefined && inputSubCard.TransmissionUnitGearType.visible)"
                                                            :disabled="tabData.TransmissionDoc"
                                                            :label="`${inputSubCard.TransmissionUnitGearType.text}`"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearType.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <span v-if="inputSubCard.TransmissionUnitGearRateMin.value < inputSubCard.TransmissionUnitGearRateMax.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{inputSubCard.TransmissionUnitGearRateMin.value}} до {{inputSubCard.TransmissionUnitGearRateMax.value}}</span>

                                            <v-text-field v-model="inputSubCard.TransmissionUnitGearRate.value"
                                                          :label="`${inputSubCard.TransmissionUnitGearRate.text}`"
                                                          type="number"
                                                          :disabled="tabData.TransmissionDoc  && inputSubCard.TransmissionUnitGearRateMin.value >= inputSubCard.TransmissionUnitGearRateMax.value"
                                                          :required="inputSubCard.TransmissionUnitGearRate.necessary"
                                                          :rules="inputSubCard.TransmissionUnitGearRate.necessary?(inputSubCard.TransmissionUnitGearRateMin.value < inputSubCard.TransmissionUnitGearRateMax.value?[rules.minmax(inputSubCard.TransmissionUnitGearRate.value, inputSubCard.TransmissionUnitGearRateMin.value, inputSubCard.TransmissionUnitGearRateMax.value)]:[]):[]">
                                            </v-text-field>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </div>
                        </template>
                        <v-autocomplete v-model="MainGearBoxHelperItem"
                                        :items="MainGearBoxHelperList"
                                        item-text="value"
                                        @change="MainGearBoxHelperChanged(MainGearBoxHelperItem)"
                                        item-value="key"
                                        v-if="MainGearBoxHelper"
                                        required
                                        :rules="rules.select"
                                        label="Выбор главной передачи"
                                        persistent-hint>
                        </v-autocomplete>
                        <v-autocomplete v-model="MainGearAxleHelperItem"
                                        :items="MainGearAxleHelperList"
                                        item-text="value"
                                        @change="MainGearAxleHelperChanged"
                                        item-value="key"
                                        v-if="MainGearAxleHelperList.length > 0"
                                        required
                                        :rules="rules.select"
                                        label="Выбор главной передачи (добавление)"
                                        persistent-hint>
                        </v-autocomplete>
                        <template v-if="tabData.MainGearShow">
                            <div v-if="!tabData.tenth.NotVehicleTransmissionIndicator.value"
                                 v-for="(inputCard, indexCard) in tabData.tenth.MainGearBoxList"
                                 :key="`inputCard2-${indexCard}`">
                                <v-card>
                                    <v-card-title class="grey">
                                        <span>
                                            Главная передача
                                        </span>
                                        <v-spacer></v-spacer>
                                        <!--          Add Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="addCardMainGearBox(inputCard, tabData.tenth.MainGearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="green"
                                                  d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                        </svg>
                                        <!--          Remove Svg Icon-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             @click="removeCardMainGearBox(indexCard, tabData.tenth.MainGearBoxList)"
                                             viewBox="0 0 24 24"
                                             width="24"
                                             height="24"
                                             v-if="false"
                                             class="ml-2 cursor-pointer">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path fill="#EC4899"
                                                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                        </svg>
                                    </v-card-title>
                                    <v-card-text class="pt-2">
                                        <v-text-field v-model="inputCard.VehicleGearComponentMakeName.value"
                                                      :label="`${inputCard.VehicleGearComponentMakeName.text}`"
                                                      :disabled="tabData.TransmissionDoc"
                                                      v-if="!tabData.TransmissionDoc || (inputCard.VehicleGearComponentMakeName.visible != undefined && inputCard.VehicleGearComponentMakeName.visible)"
                                                      :required="inputCard.VehicleGearComponentMakeName.necessary"
                                                      :rules="inputCard.VehicleGearComponentMakeName.necessary?fieldRules:[]">
                                        </v-text-field>
                                        <v-autocomplete v-model="inputCard.AxisDistribution.value"
                                                        :items="nsisData.AxisDistributionList"
                                                        item-text="value"
                                                        item-value="key"
                                                        :disabled="tabData.TransmissionDoc"
                                                        v-if="!tabData.TransmissionDoc || (inputCard.AxisDistribution.visible != undefined && inputCard.AxisDistribution.visible) || isNotSbkts"
                                                        :label="`${inputCard.AxisDistribution.text}`"
                                                        persistent-hint
                                                        required
                                                        :rules="inputCard.AxisDistribution.necessary?rules.select:[]">
                                        </v-autocomplete>
                                        <v-autocomplete v-model="inputCard.VehicleGearComponentText.value"
                                                        :items="nsisData.VehicleMainGearComponentList"
                                                        item-text="value"
                                                        item-value="key"
                                                        v-if="!tabData.TransmissionDoc || (inputCard.VehicleGearComponentText.visible != undefined && inputCard.VehicleGearComponentText.visible)"
                                                        :disabled="tabData.TransmissionDoc"
                                                        :label="`${inputCard.VehicleGearComponentText.text}`"
                                                        persistent-hint
                                                        required
                                                        :rules="inputCard.VehicleGearComponentText.necessary?rules.select:[]">
                                        </v-autocomplete>

                                        <div v-for="(inputSubCard, indexSubCard) in inputCard.TransmissionUnitGearList"
                                             :key="`inputSubCard-${indexSubCard}`"
                                             class="input wrapper flex items-center">
                                            <v-row>
                                                <v-col cols="4">
                                                    <span style="color:#e67e22">Передаточные числа</span>
                                                    <!--          Add Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="addSubCardMainGearBox(inputSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="green"
                                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                    </svg>
                                                    <!--          Remove Svg Icon-->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         @click="removeSubCardMainGearBox(indexSubCard, inputCard.TransmissionUnitGearList)"
                                                         viewBox="0 0 24 24"
                                                         width="24"
                                                         height="24"
                                                         v-if="!tabData.TransmissionDoc"
                                                         class="ml-2 cursor-pointer">
                                                        <path fill="none" d="M0 0h24v24H0z" />
                                                        <path fill="#EC4899"
                                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                    </svg>
                                                </v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                            </v-row>

                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearName.value"
                                                            :items="nsisData.TransmissionUnitGearNameList"
                                                            item-text="value"
                                                            item-value="key"
                                                            :disabled="tabData.TransmissionDoc"
                                                            :label="`${inputSubCard.TransmissionUnitGearName.text}`"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearName.visible != undefined && inputSubCard.TransmissionUnitGearName.visible)"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearName.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <v-autocomplete v-model="inputSubCard.TransmissionUnitGearType.value"
                                                            :items="nsisData.TransmissionUnitGearTypeList"
                                                            item-text="value"
                                                            item-value="key"
                                                            v-if="!tabData.TransmissionDoc || (inputSubCard.TransmissionUnitGearType.visible != undefined && inputSubCard.TransmissionUnitGearType.visible)"
                                                            :disabled="tabData.TransmissionDoc"
                                                            :label="`${inputSubCard.TransmissionUnitGearType.text}`"
                                                            persistent-hint
                                                            required
                                                            :rules="inputSubCard.TransmissionUnitGearType.necessary?rules.select:[]">
                                            </v-autocomplete>
                                            <span v-if="inputSubCard.TransmissionUnitGearRateMin.value < inputSubCard.TransmissionUnitGearRateMax.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{inputSubCard.TransmissionUnitGearRateMin.value}} до {{inputSubCard.TransmissionUnitGearRateMax.value}}</span>

                                            <v-text-field v-model="inputSubCard.TransmissionUnitGearRate.value"
                                                          :label="`${inputSubCard.TransmissionUnitGearRate.text}`"
                                                          type="number"
                                                          :disabled="tabData.TransmissionDoc && inputSubCard.TransmissionUnitGearRateMin.value >= inputSubCard.TransmissionUnitGearRateMax.value"
                                                          :required="inputSubCard.TransmissionUnitGearRate.necessary"
                                                          :rules="inputSubCard.TransmissionUnitGearRate.necessary?(inputSubCard.TransmissionUnitGearRateMin.value < inputSubCard.TransmissionUnitGearRateMax.value?[rules.minmax(inputSubCard.TransmissionUnitGearRate.value, inputSubCard.TransmissionUnitGearRateMin.value, inputSubCard.TransmissionUnitGearRateMax.value)]:[]):[]">
                                            </v-text-field>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </div>
                        </template>
                    </template>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step12 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isNotSbkts(): boolean {
            if (this.$props.tabData.first.DocKindCode.value == '40') return false;
            return true;
        }

        get isTechCategory_O(): boolean {
            return this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o');
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                VehicleTransmission: '',
                VehicleTransmissionDynamicList: [],
                gearData: [],
                // fields
                VehicleGearComponentMakeNameShow: true,
                TransferComponentMakeNameShow: true,
                TransferTypeShow: true,

                GearBoxHelper: false,
                GearBoxHelperList: [],
                GearBoxHelperItem: '',
                GearBoxHelperData: [],
                TransferGearBoxHelper: false,
                TransferGearBoxHelperList: [],
                TransferGearBoxHelperItem: '',
                TransferGearBoxHelperData: [],
                MainGearBoxHelper: false,
                MainGearBoxHelperList: [],
                MainGearBoxHelperItem: '',
                MainGearBoxHelperData: [],

                MainGearAxleHelperItem: '',
                MainGearAxleHelperList: [],


                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        async GearBoxHelperChanged(val) {
            this.$props.tabData.GearBoxShow = false;
            if (val == '') return
            this.$props.tabData.GearBoxShow = true;
            let gearbox = this.$data.GearBoxHelperData.filter(item => item.id == val)[0]
            this.GearBoxFillForm(gearbox)
        }

        async TransferGearBoxHelperChanged(val) {
            this.$props.tabData.TransferGearShow = false;
            if (val == '') return
            this.$props.tabData.TransferGearShow = true;
            let gearbox = this.$data.TransferGearBoxHelperData.filter(item => item.id == val)[0]
            this.TransferGearBoxFillForm(gearbox)
        }

        async MainGearBoxHelperChanged(val) {
            this.$props.tabData.MainGearShow = false;
            if (val == '') return
            this.$props.tabData.MainGearShow = true;
            let gearbox = this.$data.MainGearBoxHelperData.filter(item => item.id == val)[0]
            this.MainGearBoxFillForm(gearbox)
        }

        //if axle in main gear
        async MainGearAxleHelperChanged(mainGearBox) {
            mainGearBox = this.$data.MainGearBoxHelperData.filter(item => item.id == mainGearBox)[0]
            let MainGearBoxList = {
                VehicleGearComponentMakeName: { value: mainGearBox?.transmissionUnitMakeName ?? "", text: 'Марка', necessary: false, visible: mainGearBox.transmissionUnitMakeName != null },
                AxisDistribution: { value: mainGearBox.axisDistributionCode ?? '', text: 'Распределение по осям', necessary: false, visible: mainGearBox.axisDistributionCode != null },
                VehicleGearComponentText: { value: mainGearBox?.mainGearTypeCode ?? '', text: 'Тип', necessary: false, visible: mainGearBox.mainGearTypeCode != null },
            }
            MainGearBoxList['TransmissionUnitGearList'] = []
            mainGearBox.transmissionUnitGears.forEach(x => {
                let item = {
                    TransmissionUnitGearName: { value: x.transmissionUnitGearValueCode, text: 'Наименование передачи', necessary: false, visible: x.transmissionUnitGearValueCode != null },
                    TransmissionUnitGearType: { value: x.transmissionUnitGearTypeCode ?? '', text: 'Вид передаточного числа', necessary: false, visible: x.transmissionUnitGearTypeCode != null },
                    TransmissionUnitGearRate: { value: x.transmissionUnitGearRate, text: 'Передаточное число', necessary: false },
                    TransmissionUnitGearRateMin: { value: x.transmissionUnitGearRate, text: 'Минимально', necessary: false },
                    TransmissionUnitGearRateMax: { value: x.transmissionUnitGearRateMax, text: 'Максимально', necessary: false },
                }
                MainGearBoxList['TransmissionUnitGearList'].push(item);

            })
            this.$props.tabData.tenth.MainGearBoxList.push(MainGearBoxList)
        }

        async GearBoxFillForm(gearBox) {
            if (gearBox.transmissionUnitMakeName == null)
                this.$data.VehicleGearComponentMakeNameShow = false;
            let VehicleGearComponentMakeName = gearBox?.transmissionUnitMakeName ?? ""

            let GearBoxList = [{
                VehicleGearComponentMakeName: { value: VehicleGearComponentMakeName, text: 'Марка', necessary: false },
                VehicleGearComponentText: { value: gearBox?.transmissionBoxTypeCode, text: 'Тип', necessary: false },
                NotVehicleGearIndicator: { value: gearBox?.continuouslyVariableTransmissionIndicator == 1, text: 'Бесступенчатая коробка передач', necessary: false },
            }]
            GearBoxList[0]['TransmissionUnitGearList'] = [];
            gearBox.transmissionUnitGears.forEach(x => {
                let item = {
                    TransmissionUnitGearName: { value: x.transmissionUnitGearValueCode, text: 'Наименование передачи', necessary: false, visible: x.transmissionUnitGearValueCode != null },
                    TransmissionUnitGearType: { value: x.transmissionUnitGearTypeCode ?? '', text: 'Вид передаточного числа', necessary: false, visible: x.transmissionUnitGearTypeCode != null },
                    TransmissionUnitGearRange: { value: x.transmissionUnitGearRateMax > x.transmissionUnitGearRate, text: 'Диапазон', necessary: false },
                    TransmissionUnitGearRate: { value: x.transmissionUnitGearRate, text: 'Минимально', text2: 'Передаточное число', necessary: false },
                    TransmissionUnitGearRateMax: { value: x.transmissionUnitGearRateMax, text: 'Максимально', necessary: false },
                    TransmissionUnitReverseGearIndicator: { value: x.transmissionUnitReverseGearIndicator, text: 'Признак заднего хода', necessary: false },
                }
                GearBoxList[0]['TransmissionUnitGearList'].push(item);
            })
            this.$props.tabData.tenth.GearBoxList = GearBoxList
        }

        async TransferGearBoxFillForm(transferGearBox) {

            if (transferGearBox.transmissionUnitMakeName == null)
                this.$data.TransferComponentMakeNameShow = false;
            let VehicleGearComponentMakeName = transferGearBox?.transmissionUnitMakeName ?? ""
            if (transferGearBox.transferCaseType == null)
                this.$data.TransferTypeShow = false;
            let TransferType = transferGearBox?.transferCaseType ?? ""


            let TransferBoxList = [{
                VehicleGearComponentMakeName: { value: VehicleGearComponentMakeName, text: 'Марка', necessary: false },
                VehicleGearComponentText: { value: TransferType, text: 'Тип', necessary: false },
            }]
            transferGearBox[0]['TransmissionUnitGearList'] = [];
            transferGearBox.transmissionUnitGears.forEach(x => {
                let item = {
                    TransmissionUnitGearName: { value: x.transmissionUnitGearValueCode, text: 'Наименование передачи', necessary: false, visible: x.transmissionUnitGearValueCode != null },
                    TransmissionUnitGearType: { value: x.transmissionUnitGearTypeCode ?? '', text: 'Вид передаточного числа', necessary: false, visible: x.transmissionUnitGearTypeCode != null },
                    TransmissionUnitGearRate: { value: x.transmissionUnitGearRate, text: 'Передаточное число', necessary: false },
                    TransmissionUnitGearRateMin: { value: x.transmissionUnitGearRate, text: 'Минимально', necessary: false },
                    TransmissionUnitGearRateMax: { value: x.transmissionUnitGearRateMax, text: 'Максимально', necessary: false },
                }
                TransferBoxList[0]['TransmissionUnitGearList'].push(item);
            })
            this.$props.tabData.tenth.TransferGearBoxList = TransferBoxList
        }

        async MainGearBoxFillForm(mainGearBox) {
            //console.log(this.$props.nsisData.AxisDistributionList)
            if (mainGearBox.transmissionUnitMakeName == null)
                this.$data.MainGearComponentMakeNameShow = false;
            let MainGearBoxList = [{
                VehicleGearComponentMakeName: { value: mainGearBox?.transmissionUnitMakeName ?? "", text: 'Марка', necessary: false, visible: mainGearBox.transmissionUnitMakeName != null },
                AxisDistribution: { value: mainGearBox.axisDistributionCode ?? '', text: 'Распределение по осям', necessary: false, visible: mainGearBox.axisDistributionCode != null },
                VehicleGearComponentText: { value: mainGearBox?.mainGearTypeCode ?? '', text: 'Тип', necessary: false, visible: mainGearBox.mainGearTypeCode != null },
            }]
            this.$data.MainGearAxleHelperList = []
            this.$data.MainGearAxleHelperItem = ''
            if (!!mainGearBox.axisDistributionCode && ["01", "02"].includes(mainGearBox.axisDistributionCode)) { // 01 means передняя, 02 задняя
                let need = "01"
                if (mainGearBox.axisDistributionCode == "01") need = "02";

                this.$data.MainGearAxleHelperList = this.$data.MainGearBoxHelperData.filter(item => item.axisDistributionCode == need)?.map(item => {
                    let txt = ''
                    if (!!item.transmissionUnitMakeName) txt += `${item.transmissionUnitMakeName}, `
                    item.transmissionUnitGears.forEach(x => {
                        if (!!x.transmissionUnitGearValueCode) {
                            let name = this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode)[0].value
                            //console.log(this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode))
                            txt += `${name}`
                        }
                        if (x.transmissionUnitGearRateMax > x.transmissionUnitGearRate)
                            txt += `, ${x.transmissionUnitGearRate}-${x.transmissionUnitGearRateMax}`
                        else txt += `, ${x.transmissionUnitGearRate}`
                    });
                    return { key: item.id, value: txt };
                })
            }

            MainGearBoxList[0]['TransmissionUnitGearList'] = [];
            mainGearBox.transmissionUnitGears.forEach(x => {
                let item = {
                    TransmissionUnitGearName: { value: x.transmissionUnitGearValueCode, text: 'Наименование передачи', necessary: false, visible: x.transmissionUnitGearValueCode != null },
                    TransmissionUnitGearType: { value: x.transmissionUnitGearTypeCode ?? '', text: 'Вид передаточного числа', necessary: false, visible: x.transmissionUnitGearTypeCode != null },
                    TransmissionUnitGearRate: { value: x.transmissionUnitGearRate, text: 'Передаточное число', necessary: false },
                    TransmissionUnitGearRateMin: { value: x.transmissionUnitGearRate, text: 'Минимально', necessary: false },
                    TransmissionUnitGearRateMax: { value: x.transmissionUnitGearRateMax, text: 'Максимально', necessary: false },
                }
                MainGearBoxList[0]['TransmissionUnitGearList'].push(item);
            })
            this.$props.tabData.tenth.MainGearBoxList = MainGearBoxList
        }

        async VehicleTransmissionChanged(id, saved) {
            let data = this.$data.gearData.filter(x => x.id == id)[0]
            this.$props.tabData.tenth.VehicleTransmissionList = [{ VehicleTransmissionText: { value: data.transTypeCode, text: 'Тип', necessary: false } }];

            if (data.transmissionUnitDetails == undefined || data.transmissionUnitDetails.length == 0) return;

            let transmissionUnitDetails = data.transmissionUnitDetails

            let gearBox = transmissionUnitDetails.filter(x => x.unitKindCode == '05')
            this.$props.tabData.GearBoxShow = false;
            if (gearBox != undefined && gearBox.length > 0) {
                if (gearBox.length == 1) {
                    gearBox = gearBox[0];
                    this.$props.tabData.GearBoxShow = true;
                    this.GearBoxFillForm(gearBox)
                } else {
                    this.$data.GearBoxHelper = true;
                    this.$data.GearBoxHelperList = gearBox.map(item => {
                        let txt = `${item.transmissionUnitMakeName}, тип-${item.transmissionBoxTypeCode}`
                        item.transmissionUnitGears.forEach(x => {
                            let name = this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode)[0].value
                            if (x.transmissionUnitGearRateMax > x.transmissionUnitGearRate)
                                txt += `, ${name}-(${x.transmissionUnitGearRate}-${x.transmissionUnitGearRateMax})`
                            else txt += `, ${name}-(${x.transmissionUnitGearRate})`
                        });
                        return { key: item.id, value: txt };
                    })

                    this.$data.GearBoxHelperData = gearBox;
                    if (saved != undefined && saved.gearBoxList.length > 0 && saved.gearBoxList[0].vehicleGearComponentMakeName != '') {
                        let g = this.$data.GearBoxHelperList.filter(x => x.value.includes(`${saved.gearBoxList[0].vehicleGearComponentMakeName}, тип-${saved.gearBoxList[0].vehicleGearComponentText}`))
                        if (g.length > 0) {
                            this.$data.GearBoxHelperItem = g[0].key;
                            this.GearBoxHelperChanged(this.$data.GearBoxHelperItem)
                        }
                    }
                }

            }

            let transferGearBox = transmissionUnitDetails.filter(x => x.unitKindCode == '10')
            this.$props.tabData.TransferGearShow = false;
            if (transferGearBox != undefined && transferGearBox.length > 0) {
                if (transferGearBox.length == 1) {
                    transferGearBox = transferGearBox[0];
                    this.$props.tabData.TransferGearShow = true;
                    this.TransferGearBoxFillForm(transferGearBox)
                } else {
                    this.$data.TransferGearBoxHelper = true;
                    this.$data.TransferGearBoxHelperList = transferGearBox.map(item => {
                        let txt = ''
                        if (!!item.transmissionUnitMakeName) txt += `${item.transmissionUnitMakeName}, `
                        if (!!item.transferCaseType)`${item.transferCaseType}, `
                        item.transmissionUnitGears.forEach(x => {
                            if (!!x.transmissionUnitGearValueCode) {
                                let name = this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode)[0].value
                                txt += `${name}`
                            }
                            if (x.transmissionUnitGearRateMax > x.transmissionUnitGearRate)
                                txt += `, ${x.transmissionUnitGearRate}-${x.transmissionUnitGearRateMax}`
                            else txt += `, ${x.transmissionUnitGearRate}`
                        });
                        return { key: item.id, value: txt };
                    })
                    this.$data.TransferGearBoxHelperData = transferGearBox;
                    if (saved != undefined && saved.transferGearBoxList.length > 0 && saved.transferGearBoxList[0].vehicleGearComponentMakeName != '') {
                        let g = this.$data.TransferGearBoxHelperList.filter(x => x.value.includes(`${saved.transferGearBoxList[0].vehicleGearComponentMakeName}`))
                        if (g.length > 0) {
                            this.$data.TransferGearBoxHelperItem = g[0].key;
                            this.TransferGearBoxHelperChanged(this.$data.TransferGearBoxHelperItem)
                        }
                    }
                }
            }

            let mainGearBox = transmissionUnitDetails.filter(x => x.unitKindCode == '15')
            this.$props.tabData.MainGearShow = false;
            if (mainGearBox != undefined && mainGearBox.length > 0) {
                if (mainGearBox.length == 1) {
                    mainGearBox = mainGearBox[0];
                    this.$props.tabData.MainGearShow = true;
                    this.MainGearBoxFillForm(mainGearBox)
                } else {
                    this.$data.MainGearBoxHelper = true;
                    this.$data.MainGearBoxHelperList = mainGearBox.map(item => {
                        let txt = ''
                        if (!!item.transmissionUnitMakeName) txt += `${item.transmissionUnitMakeName}, `
                        item.transmissionUnitGears.forEach(x => {
                            if (!!x.transmissionUnitGearValueCode) {
                                let name = this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode)[0].value
                                //console.log(this.$props.nsisData.TransmissionUnitGearNameList.filter(d => d.key == x.transmissionUnitGearValueCode))
                                txt += `${name}`
                            }
                            if (x.transmissionUnitGearRateMax > x.transmissionUnitGearRate)
                                txt += `, ${x.transmissionUnitGearRate}-${x.transmissionUnitGearRateMax}`
                            else txt += `, ${x.transmissionUnitGearRate}`
                        });
                        return { key: item.id, value: txt };
                    })
                    this.$data.MainGearBoxHelperData = mainGearBox;
                    if (saved != undefined && saved.mainGearBoxList.length > 0 && saved.mainGearBoxList[0].vehicleGearComponentMakeName != '') {
                        let g = this.$data.MainGearBoxHelperList.filter(x => x.value.includes(`${saved.mainGearBoxList[0].vehicleGearComponentMakeName}`))
                        if (g.length > 0) {
                            this.$data.MainGearBoxHelperItem = g[0].key;
                            this.MainGearBoxHelperChanged(this.$data.MainGearBoxHelperItem)
                        }
                    }
                }
            }
        }

        async mounted() {
            this.$root.$on("TransmissionDoc", (arg) => {
                this.$props.tabData.tenth.NotVehicleTransmissionIndicator.value = arg.notVehicleTransmissionDetailIndicator;
                this.$props.tabData.MainGearShow = false
                this.$props.tabData.TransferGearShow = false
                this.$props.tabData.GearBoxShow = false
                if (arg.notVehicleTransmissionDetailIndicator == 1) return
                this.$props.tabData.TransmissionDoc = true
                this.$data.VehicleTransmissionDynamicList = [];
                this.$data.gearData = arg.vehicleTransmissionTypes
                arg.vehicleTransmissionTypes.forEach((item) => {
                    this.$data.VehicleTransmissionDynamicList.push({ key: item.id, value: item.transTypeName });
                })
            });

            this.$root.$on("preSavedTransmission", (data) => {
                if (data.vehicleTransmissionList.length > 0 && data.vehicleTransmissionList[0].vehicleTransmissionText != '') {
                    let vt = this.$data.gearData.filter(x => x.transTypeCode == data.vehicleTransmissionList[0].vehicleTransmissionText)
                    this.$data.VehicleTransmission = vt[0].id
                    this.VehicleTransmissionChanged(this.$data.VehicleTransmission, data)
                }
            });


            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
                this.$data.GearBoxHelper = false;
                this.$data.GearBoxtHelperList = [];
                this.$data.GearBoxtHelperItem = '';
                this.$data.GearBoxtHelperData = [];
                this.$data.TransferGearBoxHelper = false;
                this.$data.TransferGearBoxtHelperList = [];
                this.$data.TransferGearBoxtHelperItem = '';
                this.$data.TransferGearBoxtHelperData = [];
                this.$data.MainGearBoxHelper = false;
                this.$data.MainGearBoxtHelperList = [];
                this.$data.MainGearBoxtHelperItem = '';
                this.$data.MainGearBoxtHelperData = [];
                this.$data.MainGearAxleHelperList = []
                this.$data.MainGearAxleHelperItem = ''
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("TransmissionDoc");
            this.$root.$off("preSavedTransmission");
        }

        async addVehicleTransmission(value, fieldType) {
            fieldType.push({
                VehicleTransmissionText: { value: '', text: 'Тип', necessary: true },
                VehicleTransmissionDescription: { value: '', text: 'Описание схемы трансмиссии', necessary: false }
            });
        }

        async removeVehicleTransmission(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleTransmissionList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return;
            }
            fieldType.splice(index, 1);
        }

        async addCardTransmission(value, fieldType) {
            fieldType.push({
                VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: true },
                VehicleGearComponentText: { value: '', text: 'Тип', necessary: true },
                NotVehicleGearIndicator: { value: false, text: 'Бесступенчатая коробка передач', necessary: true },
                TransmissionUnitGearList: [{
                    TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                    TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                    TransmissionUnitGearRange: { value: false, text: 'Диапазон', necessary: true },
                    TransmissionUnitGearRate: { value: '', text: 'Минимально', text2: 'Передаточное число', necessary: true },
                    TransmissionUnitGearRateMax: { value: '', text: 'Максимально', necessary: true },
                    TransmissionUnitReverseGearIndicator: { value: '', text: 'Признак заднего хода', necessary: false },
                }]
            });
        }

        async removeCardTransmission(index, fieldType) {
            if (this.$props.tabData.tenth.GearBoxList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addSubCardTransmission(value, fieldType) {
            fieldType.push({
                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                TransmissionUnitGearRange: { value: false, text: 'Диапазон', necessary: true },
                TransmissionUnitGearRate: { value: '', text: 'Минимально', text2: 'Передаточное число', necessary: true },
                TransmissionUnitGearRateMax: { value: '', text: 'Максимально', necessary: true },
            });
        }

        async removeSubCardTransmission(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        // Раздаточная коробка
        async addCardTransferGearBox(value, fieldType) {
            fieldType.push({
                VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: true },
                VehicleGearComponentText: { value: '', text: 'Тип', necessary: true },
                TransmissionUnitGearList: [{
                    TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                    TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                    TransmissionUnitGearRate: { value: '', text: 'Передаточное число', necessary: true },
                    TransmissionUnitGearRateMin: { value: '0', text: 'Минимально', necessary: true },
                    TransmissionUnitGearRateMax: { value: '5', text: 'Максимально', necessary: true },
                }]
            });
        }

        async removeCardTransferGearBox(index, fieldType) {
            if (this.$props.tabData.tenth.TransferGearBoxList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addSubCardTransferGearBox(value, fieldType) {
            fieldType.push({
                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                TransmissionUnitGearRate: { value: '', text: 'Передаточное число', necessary: true },
                TransmissionUnitGearRateMin: { value: '0', text: 'Минимально', necessary: true },
                TransmissionUnitGearRateMax: { value: '5', text: 'Максимально', necessary: true },
            });
        }

        async removeSubCardTransferGearBox(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        // Главная передача
        async addCardMainGearBox(value, fieldType) {
            fieldType.push({
                VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: true },
                AxisDistribution: { value: '', text: 'Распределение по осям', necessary: true },
                VehicleGearComponentText: { value: '', text: 'Тип', necessary: true },
                TransmissionUnitGearList: [{
                    TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                    TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                    TransmissionUnitGearRate: { value: '0', text: 'Передаточное число', necessary: true },
                    TransmissionUnitGearRateMin: { value: '0', text: 'Минимально', necessary: true },
                    TransmissionUnitGearRateMax: { value: '5', text: 'Максимально', necessary: true },
                }]
            });
        }

        async removeCardMainGearBox(index, fieldType) {
            if (this.$props.tabData.tenth.TransferGearBoxList.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async addSubCardMainGearBox(value, fieldType) {
            fieldType.push({
                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: true },
                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: true },
                TransmissionUnitGearRate: { value: '', text: 'Передаточное число', necessary: true },
                TransmissionUnitGearRateMin: { value: '0', text: 'Минимально', necessary: true },
                TransmissionUnitGearRateMax: { value: '5', text: 'Максимально', necessary: true },
            });
        }

        async removeSubCardMainGearBox(index, fieldType) {
            if (fieldType.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>