﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="grey">Масса</v-card-title>
                        <v-card-text class="pt-2">
                            <v-row>
                                <v-col cols="3"><span style="color:#e67e22">Масса{{tabData.IsEpts!=2?``:` шасси`}} транспортного средства в снаряженном состоянии</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <span v-if="tabData.tenth.VehicleMassMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.VehicleMassMeasureMin.value}} до {{tabData.tenth.VehicleMassMeasureMax.value}}</span>
                            <v-autocomplete v-model="VehicleCurbWeightHelperItem"
                                            :items="VehicleCurbWeightHelperList"
                                            item-text="value"
                                            @change="VehicleCurbWeightHelperChanged(VehicleCurbWeightHelperItem)"
                                            item-value="key"
                                            v-if="VehicleCurbWeightHelper"
                                            :required="tabData.first.VehicleEPassportBaseCode.value!='03'"
                                            :rules="tabData.first.VehicleEPassportBaseCode.value!='03'?rules.select:[]"
                                            label="Выбор массы в снаряженном состоянии"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.VehicleMassMeasure.value"
                                                  :label="`${tabData.tenth.VehicleMassMeasure.text}`"
                                                  type="number"
                                                  max="`${tabData.tenth.VehicleMassMeasureMax.value}`"
                                                  :disabled="tabData.tenth.VehicleMassMeasure.disabled"
                                                  :required="tabData.tenth.VehicleMassMeasure.necessary"
                                                  :rules="tabData.tenth.VehicleMassMeasure.necessary?(tabData.tenth.VehicleMassMeasureRange.value?[rules.minmax(tabData.tenth.VehicleMassMeasure.value, tabData.tenth.VehicleMassMeasureMin.value, tabData.tenth.VehicleMassMeasureMax.value)]:fieldRules):[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.VehicleMassMeasureUnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.VehicleMassMeasureUnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.VehicleMassMeasureUnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="3"><span style="color:#e67e22">Технически допустимая максимальная масса {{tabData.IsEpts==3?'самоходной машины':'транспортного средства'}}</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                            </v-row>
                            <span v-if="tabData.tenth.VehicleMassMeasure1Range.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.VehicleMassMeasure1Min.value}} до {{tabData.tenth.VehicleMassMeasure1Max.value}}</span>
                            <v-autocomplete v-model="VehicleMaxbWeightHelperItem"
                                            :items="VehicleMaxbWeightHelperList"
                                            item-text="value"
                                            @change="VehicleMaxbWeightHelperChanged(VehicleMaxbWeightHelperItem)"
                                            item-value="key"
                                            v-if="VehicleMaxbWeightHelper"
                                            required
                                            :rules="rules.select"
                                            label="Выбор технически допустимой максимальной массы"
                                            persistent-hint>
                            </v-autocomplete>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="tabData.tenth.VehicleMassMeasure1.value"
                                                  :label="`${tabData.tenth.VehicleMassMeasure1.text}`"
                                                  type="number"
                                                  max="`${tabData.tenth.VehicleMassMeasure1Max.value}`"
                                                  :required="tabData.tenth.VehicleMassMeasure1.necessary"
                                                  :disabled="tabData.tenth.VehicleMassMeasure1.disabled"
                                                  :rules="tabData.tenth.VehicleMassMeasure1.necessary?(tabData.tenth.VehicleMassMeasure1Range.value?[rules.minmax(tabData.tenth.VehicleMassMeasure1.value, tabData.tenth.VehicleMassMeasure1Min.value, tabData.tenth.VehicleMassMeasure1Max.value)]:fieldRules):[]">
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-select v-model="tabData.tenth.VehicleMassMeasure1UnitCode.value"
                                              :items="nsisData.measurementUnitCodeList"
                                              item-text="value"
                                              item-value="key"
                                              :label="`${tabData.tenth.VehicleMassMeasure1UnitCode.text}`"
                                              persistent-hint
                                              required
                                              disabled
                                              :rules="tabData.tenth.VehicleMassMeasure1UnitCode.necessary?rules.select:[]">
                                    </v-select>
                                </v-col>
                            </v-row>
                            <template v-if="VehicleMassMeasure2Visible">
                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Технически допустимая максимальная масса автопоезда</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <span v-if="tabData.tenth.VehicleMassMeasure2Range.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.VehicleMassMeasure2Min.value}} до {{tabData.tenth.VehicleMassMeasure2Max.value}}</span>
                                <v-autocomplete v-model="VehicleAvtopoezdbWeightHelperItem"
                                                :items="VehicleAvtopoezdbWeightHelperList"
                                                item-text="value"
                                                @change="VehicleAvtopoezdbWeightHelperChanged(VehicleAvtopoezdbWeightHelperItem)"
                                                item-value="key"
                                                v-if="VehicleAvtopoezdbWeightHelper"
                                                required
                                                :rules="rules.select"
                                                label="Выбор технически допустимой максимальной массы автопоезда"
                                                persistent-hint>
                                </v-autocomplete>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.VehicleMassMeasure2.value"
                                                      :label="`${tabData.tenth.VehicleMassMeasure2.text}`"
                                                      type="number"
                                                      max="`${tabData.tenth.VehicleMassMeasure2Max.value}`"
                                                      :required="tabData.tenth.VehicleMassMeasure2.necessary"
                                                      :disabled="tabData.tenth.VehicleMassMeasure2.disabled"
                                                      :rules="tabData.tenth.VehicleMassMeasure2.necessary?(tabData.tenth.VehicleMassMeasure2Range.value?[rules.minmax(tabData.tenth.VehicleMassMeasure2.value, tabData.tenth.VehicleMassMeasure2Min.value, tabData.tenth.VehicleMassMeasure2Max.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="tabData.tenth.VehicleMassMeasure2UnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${tabData.tenth.VehicleMassMeasure2UnitCode.text}`"
                                                  persistent-hint
                                                  required
                                                  disabled
                                                  :rules="tabData.tenth.VehicleMassMeasure2UnitCode.necessary?rules.select:[]">
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </template>
                            <template v-if="tabData.IsEpts == 3">
                                <v-divider></v-divider>
                                <v-row justify="center">
                                    <v-text-field v-model="tabData.tenth.EpsmTrailerMaxMass.value"
                                                  :label="`${tabData.tenth.EpsmTrailerMaxMass.text}`"
                                                  type="number"></v-text-field>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmExpluationMass.value"
                                                      :label="`${tabData.tenth.EpsmExpluationMass.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmAxleMaxMass.value"
                                                      :label="`${tabData.tenth.EpsmAxleMaxMass.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmAxleVerticalMaxMass.value"
                                                      :label="`${tabData.tenth.EpsmAxleVerticalMaxMass.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmUsefulLoad.value"
                                                      :label="`${tabData.tenth.EpsmUsefulLoad.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center">
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.EpsmTotalMaxMass.value"
                                                      :label="`${tabData.tenth.EpsmTotalMaxMass.text}`"
                                                      type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card-text>
                    </v-card>
                    <v-card v-if="isTrailerWeightVisible">
                        <v-card-title class="grey">Максимальная масса прицепа</v-card-title>
                        <v-card-text class="pt-2">
                            <v-checkbox v-model="tabData.tenth.NotVehicleTrailerIndicator.value"
                                        :disabled="tabData.tenth.NotVehicleTrailerIndicator.disabled"
                                        :label="`${tabData.tenth.NotVehicleTrailerIndicator.text}`"></v-checkbox>
                            <div v-if="tabData.tenth.NotVehicleTrailerIndicator.value">
                                <template v-if="!isTechCategory_O">
                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Масса прицепа без тормозной системы</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-autocomplete v-model="UnbrakedTrailerHelperItem"
                                                    :items="UnbrakedTrailerHelperList"
                                                    item-text="value"
                                                    @change="UnbrakedTrailerHelperChanged(UnbrakedTrailerHelperItem)"
                                                    item-value="key"
                                                    v-if="UnbrakedTrailerHelper"
                                                    :required="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.necessary"
                                                    :rules="VehicleMaxUnbrakedTrailerWeightMeasure?rules.select:[]"
                                                    label="Выбор массы прицепа без тормозной системы"
                                                    persistent-hint
                                                    >
                                    </v-autocomplete>
                                    <span v-if="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMin.value}} до {{tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax.value}}</span>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.value"
                                                          :label="`${tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.text}`"
                                                          type="number"
                                                          max="`${tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax.value}`"
                                                          :required="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.necessary"
                                                          :disabled="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled"
                                                          :rules="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.necessary?(tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange.value?[rules.minmax(tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.value, tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMin.value, tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax.value)]:fieldRules):[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      disabled
                                                      >
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                </template>

                                <v-row>
                                    <v-col cols="3"><span style="color:#e67e22">Масса прицепа с тормозной системы</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                </v-row>
                                <span v-if="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMin.value}} до {{tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax.value}}</span>
                                <v-autocomplete v-model="BrakedTrailerWeightHelperItem"
                                                :items="BrakedTrailerWeightHelperList"
                                                item-text="value"
                                                @change="BrakedTrailerWeightHelperChanged(BrakedTrailerWeightHelperItem)"
                                                item-value="key"
                                                v-if="BrakedTrailerWeightHelper"
                                                :required="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.necessary"
                                                :rules="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.necessary?rules.select:[]"
                                                label="Выбор массы прицепа c тормозной системой"
                                                persistent-hint
                                                >
                                </v-autocomplete>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.value"
                                                      :label="`${tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.text}`"
                                                      type="number"
                                                      max="`${tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax.value}`"
                                                      :required="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.necessary"
                                                      :disabled="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled"
                                                      :rules="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.necessary?(tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange.value?[rules.minmax(tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.value, tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMin.value, tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax.value)]:fieldRules):[]">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureUnitCode.value"
                                                  :items="nsisData.measurementUnitCodeList"
                                                  item-text="value"
                                                  item-value="key"
                                                  :label="`${tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureUnitCode.text}`"
                                                  persistent-hint
                                                  disabled
                                                  >
                                        </v-select>
                                    </v-col>
                                </v-row>

                                <template v-if="(!WeightDoc || VehicleHitchLoadHelperData.length > 0) && isTechCategory_O_N">
                                    <v-row>
                                        <v-col cols="3"><span style="color:#e67e22">Технически допустимая максимальная нагрузка на опорно-сцепное устройство</span></v-col><v-col><v-divider class="mt-2"></v-divider></v-col>
                                    </v-row>
                                    <v-autocomplete v-model="VehicleHitchLoadHelperItem"
                                                    :items="VehicleHitchLoadHelperList"
                                                    item-text="value"
                                                    @change="VehicleHitchLoadHelperChanged(VehicleHitchLoadHelperItem)"
                                                    item-value="key"
                                                    v-if="VehicleHitchLoadHelper"
                                                    label="Выбор технически допустимой максимальной нагрузки на опорно-сцепное устройство"
                                                    persistent-hint
                                                    multiple>
                                    </v-autocomplete>
                                    <div v-for="(input, index) in tabData.tenth.VehicleHitchLoadMeasureList"
                                         :key="`input-${index}`"
                                         class="input wrapper flex items-center">
                                        <span v-if="input.VehicleHitchLoadMeasureRange.value" style="color:#e67e22">Внесите значение в пределах указанного диапазона. От {{input.VehicleHitchLoadMeasureMin.value}} до {{input.VehicleHitchLoadMeasureMax.value}}</span>
                                        <v-row>
                                            <v-col>
                                                <v-text-field v-model="input.VehicleHitchLoadMeasure.value"
                                                              :label="`${input.VehicleHitchLoadMeasure.text}`"
                                                              type="number"
                                                              max="`${input.VehicleHitchLoadMeasureMax.value}`"
                                                              :required="input.VehicleHitchLoadMeasure.necessary"
                                                              :disabled="input.VehicleHitchLoadMeasure.disabled"
                                                              :rules="input.VehicleHitchLoadMeasure.necessary?(input.VehicleHitchLoadMeasureRange.value?[rules.minmax(input.VehicleHitchLoadMeasure.value, input.VehicleHitchLoadMeasureMin.value, input.VehicleHitchLoadMeasureMax.value)]:fieldRules):[]">
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-select v-model="input.VehicleHitchLoadMeasureUnitCode.value"
                                                          :items="nsisData.measurementUnitCodeList"
                                                          item-text="value"
                                                          item-value="key"
                                                          :label="`${input.VehicleHitchLoadMeasureUnitCode.text}`"
                                                          persistent-hint
                                                          :required="input.VehicleHitchLoadMeasureUnitCode.necessary"
                                                          disabled
                                                          :rules="input.VehicleHitchLoadMeasureUnitCode.necessary?rules.select:[]"
                                                          >
                                                </v-select>
                                            </v-col>
                                            <v-col v-if="!tabData.disableByExistDoc">
                                                <!--          Add Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="addVehicleHitchLoadMeasure(input, tabData.tenth.VehicleHitchLoadMeasureList)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="green"
                                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                                </svg>

                                                <!--          Remove Svg Icon-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     @click="removeVehicleHitchLoadMeasure(index, tabData.tenth.VehicleHitchLoadMeasureList)"
                                                     viewBox="0 0 24 24"
                                                     width="24"
                                                     height="24"
                                                     class="ml-2 cursor-pointer">
                                                    <path fill="none" d="M0 0h24v24H0z" />
                                                    <path fill="#EC4899"
                                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                                </svg>
                                            </v-col>
                                        </v-row>
                                    </div>
                                </template>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step7 extends Vue {
        @Prop()
        readonly show_messageParent!: void
        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                    minmax(v, min, max) {
                        return v && parseInt(v) >= parseInt(min) && parseInt(v) <= parseInt(max) || 'Поле должно быть в пределах указанного диапазона';
                    }
                },
                valid: true,
                WeightDoc: false,

                //в снаряженном состоянии
                VehicleCurbWeightHelper: false,
                VehicleCurbWeightHelperList: [],
                VehicleCurbWeightHelperItem: '',
                VehicleCurbWeightHelperData: [],

                //Технически допустимая максимальная масса
                VehicleMaxbWeightHelper: false,
                VehicleMaxbWeightHelperList: [],
                VehicleMaxbWeightHelperItem: '',
                VehicleMaxbWeightHelperData: [],

                //масса avtopoezda
                VehicleAvtopoezdbWeightHelper: false,
                VehicleAvtopoezdbWeightHelperList: [],
                VehicleAvtopoezdbWeightHelperItem: '',
                VehicleAvtopoezdbWeightHelperData: [],
                // fields

                UnbrakedTrailerHelper: false,
                UnbrakedTrailerHelperList: [],
                UnbrakedTrailerHelperItem: '',
                UnbrakedTrailerHelperData: [],

                BrakedTrailerWeightHelper: false,
                BrakedTrailerWeightHelperList: [],
                BrakedTrailerWeightHelperItem: '',
                BrakedTrailerWeightHelperData: [],

                VehicleHitchLoadHelper: false,
                VehicleHitchLoadHelperList: [],
                VehicleHitchLoadHelperItem: [],
                VehicleHitchLoadHelperData: [],


                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };
        get VehicleMassMeasure2Visible(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '40') return false;
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n')) return true;
            return false;
        }

        get isTechCategory_O(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')) return true;
            return false;
        }

        get isTechCategory_O_N(): boolean {
            if ([1, 3].includes(this.$props.tabData.IsEpts) && (this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('o')
                || this.$props.tabData.third.VehicleTechCategoryCode.value?.toLowerCase().includes('n'))) return true;
            return false;
        }

        get isTrailerWeightVisible(): boolean {
            if (this.$props.tabData.first.DocKindCode.value == '40') return false;
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.DocKindCode.value == '30') return true;
            if ([1, 3].includes(this.$props.tabData.IsEpts) && this.$props.tabData.first.documentNotExists.value) return true;
            return false;
        }

        async VehicleCurbWeightHelperChanged(val) {
            let VehicleCurbWeight = this.$data.VehicleCurbWeightHelperData.filter(item => item.id == val);
            if (VehicleCurbWeight?.length > 0) {
                VehicleCurbWeight = VehicleCurbWeight[0]
                if (VehicleCurbWeight.weight < VehicleCurbWeight.weightMax) {
                    this.$props.tabData.tenth.VehicleMassMeasureRange.value = true;
                    this.$props.tabData.tenth.VehicleMassMeasureMin.value = VehicleCurbWeight.weight;
                    this.$props.tabData.tenth.VehicleMassMeasureMax.value = VehicleCurbWeight.weightMax;
                    this.$props.tabData.tenth.VehicleMassMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.VehicleMassMeasure.value = VehicleCurbWeight.weight.toString();
                    this.$props.tabData.tenth.VehicleMassMeasureRange.value = false;
                    this.$props.tabData.tenth.VehicleMassMeasure.disabled = true;
                }
            }
        }

        async VehicleMaxbWeightHelperChanged(val) {
            let VehicleMaxbWeight = this.$data.VehicleMaxbWeightHelperData.filter(item => item.id == val);
            if (VehicleMaxbWeight?.length > 0) {
                VehicleMaxbWeight = VehicleMaxbWeight[0]
                if (VehicleMaxbWeight.weight < VehicleMaxbWeight.weightMax) {
                    this.$props.tabData.tenth.VehicleMassMeasure1Range.value = true;
                    this.$props.tabData.tenth.VehicleMassMeasure1Min.value = VehicleMaxbWeight.weight;
                    this.$props.tabData.tenth.VehicleMassMeasure1Max.value = VehicleMaxbWeight.weightMax;
                    this.$props.tabData.tenth.VehicleMassMeasure1.disabled = false;
                } else {
                    this.$props.tabData.tenth.VehicleMassMeasure1.value = VehicleMaxbWeight.weight.toString();
                    this.$props.tabData.tenth.VehicleMassMeasure1Range.value = false;
                    this.$props.tabData.tenth.VehicleMassMeasure1.disabled = true;
                }
            }
        }

        async VehicleAvtopoezdbWeightHelperChanged(val) {
            let VehicleAvtopoezdbWeight = this.$data.VehicleAvtopoezdbWeightHelperData.filter(item => item.id == val);
            if (VehicleAvtopoezdbWeight?.length > 0) {
                VehicleAvtopoezdbWeight = VehicleAvtopoezdbWeight[0]
                if (VehicleAvtopoezdbWeight.weight < VehicleAvtopoezdbWeight.weightMax) {
                    this.$props.tabData.tenth.VehicleMassMeasure2Range.value = true;
                    this.$props.tabData.tenth.VehicleMassMeasure2Min.value = VehicleAvtopoezdbWeight.weight;
                    this.$props.tabData.tenth.VehicleMassMeasure2Max.value = VehicleAvtopoezdbWeight.weightMax;
                    this.$props.tabData.tenth.VehicleMassMeasure2.disabled = false;
                } else {
                    this.$props.tabData.tenth.VehicleMassMeasure2.value = VehicleAvtopoezdbWeight.weight.toString();
                    this.$props.tabData.tenth.VehicleMassMeasure2Range.value = false;
                    this.$props.tabData.tenth.VehicleMassMeasure2.disabled = true;
                }
            }
        }

        async UnbrakedTrailerHelperChanged(val) {
            let UnbrakedTrailer = this.$data.UnbrakedTrailerHelperData.filter(item => item.id == val);
            if (UnbrakedTrailer?.length > 0) {
                UnbrakedTrailer = UnbrakedTrailer[0]
                if (UnbrakedTrailer.weightMeasure < UnbrakedTrailer.weightMeasureMax) {
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange.value = true;
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMin.value = UnbrakedTrailer.weightMeasure;
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax.value = UnbrakedTrailer.weightMeasureMax;
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.value = UnbrakedTrailer.weightMeasure.toString();
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange.value = false;
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled = true;
                }
            }
        }

        async BrakedTrailerWeightHelperChanged(val) {
            let BrakedTrailer = this.$data.BrakedTrailerWeightHelperData.filter(item => item.id == val);
            if (BrakedTrailer?.length > 0) {
                BrakedTrailer = BrakedTrailer[0]
                if (BrakedTrailer.weightMeasure < BrakedTrailer.weightMeasureMax) {
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange.value = true;
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMin.value = BrakedTrailer.weightMeasure;
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax.value = BrakedTrailer.weightMeasureMax;
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled = false;
                } else {
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.value = BrakedTrailer.weightMeasure.toString();
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange.value = false;
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled = true;
                }
            }
        }

        async VehicleHitchLoadHelperChanged(val, measures) {
            if (val.length > 2) return;
            let VehicleHitchLoad = this.$data.VehicleHitchLoadHelperData.filter(item => val.indexOf(item.id) != -1 &&
                this.$props.tabData.tenth.VehicleHitchLoadMeasureList.map(x => x.VehicleHitchLoadMeasure.value).indexOf(val) == -1);
            this.$props.tabData.tenth.VehicleHitchLoadMeasureList = [];
            if (VehicleHitchLoad?.length > 0) {
                VehicleHitchLoad.forEach(measure => {
                    let item = {
                        VehicleHitchLoadMeasure: { value: '', text: 'Масса', necessary: true, disabled: false },
                        VehicleHitchLoadMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleHitchLoadMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleHitchLoadMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleHitchLoadMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                    }
                    if (measure.hitchLoadMeasure < measure.hitchLoadMeasureMax) {
                        item.VehicleHitchLoadMeasureRange.value = true;
                        item.VehicleHitchLoadMeasureMin.value = measure.hitchLoadMeasure;
                        item.VehicleHitchLoadMeasureMax.value = measure.hitchLoadMeasureMax;
                        item.VehicleHitchLoadMeasure.disabled = false;
                    } else {
                        item.VehicleHitchLoadMeasure.value = measure.hitchLoadMeasure.toString();
                        item.VehicleHitchLoadMeasureRange.value = false;
                        item.VehicleHitchLoadMeasure.disabled = true;
                    }
                    if (measures != undefined && measures.filter(x => x.id == measure.id).length > 0) {
                        item.VehicleHitchLoadMeasure.value = measures.filter(x => x.id == measure.id)[0].m
                    }
                    this.$props.tabData.tenth.VehicleHitchLoadMeasureList.push(item)
                });
            }
        }

        async addVehicleHitchLoadMeasure(value, fieldType) {
            fieldType.push({
                VehicleHitchLoadMeasure: { value: '', text: 'Масса', necessary: true, disabled: false },
                VehicleHitchLoadMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                VehicleHitchLoadMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleHitchLoadMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleHitchLoadMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
            });
        }

        async removeVehicleHitchLoadMeasure(index, fieldType) {
            if (this.$props.tabData.tenth.VehicleHitchLoadMeasureList.length == 0) {
                return
            }
            fieldType.splice(index, 1);
        }

        created() {
            //console.log("l", this.$parent)
        };

        async mounted() {
            this.$root.$on("ResetAllForms", (arg1) => {
                //(this.$refs.form as any).reset()
                this.$props.tabData.tenth.VehicleMassMeasure = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasureUnitCode = { value: '140166', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure1 = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure1Range = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure1Min = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure1Max = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure1UnitCode = { value: '140166', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure2 = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure2Range = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure2Min = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure2Max = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMassMeasure2UnitCode = { value: '140166', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.NotVehicleTrailerIndicator = { value: false, text: 'Буксировка прицепа', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureUnitCode = { value: '140166', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMin = { value: '', text: 'Минимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax = { value: '', text: 'Максимально', necessary: true },
                    this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureUnitCode = { value: '140166', text: 'Ед. измерения', necessary: true },
                    this.$props.tabData.tenth.VehicleHitchLoadMeasure = { value: '', text: 'Масса', necessary: true },
                    this.$props.tabData.tenth.VehicleHitchLoadMeasureRange = { value: false, text: 'Диапазон', necessary: true },
                    this.$props.tabData.tenth.VehicleHitchLoadMeasureMin = { value: '', text: 'Минимально', necessary: true }
                this.$props.tabData.tenth.VehicleHitchLoadMeasureMax = { value: '', text: 'Максимально', necessary: true }
                this.$props.tabData.tenth.VehicleHitchLoadMeasureUnitCode = { value: '140166', text: 'Ед. измерения', necessary: true }

                this.$data.WeightDoc = false;
                this.$data.VehicleCurbWeightHelper = false;
                this.$data.VehicleCurbWeightHelperList = [];
                this.$data.VehicleCurbWeightHelperItem = '';
                this.$data.VehicleCurbWeightHelperData = [];
                this.$data.VehicleMaxbWeightHelper = false;
                this.$data.VehicleMaxbWeightHelperList = [];
                this.$data.VehicleMaxbWeightHelperItem = '';
                this.$data.VehicleMaxbWeightHelperData = [];
                this.$data.VehicleAvtopoezdbWeightHelper = false;
                this.$data.VehicleAvtopoezdbWeightHelperList = [];
                this.$data.VehicleAvtopoezdbWeightHelperItem = '';
                this.$data.VehicleAvtopoezdbWeightHelperData = [];
                this.$data.UnbrakedTrailerHelper = false;
                this.$data.UnbrakedTrailerHelperList = [];
                this.$data.UnbrakedTrailerHelperItem = '';
                this.$data.UnbrakedTrailerHelperData = [];
                this.$data.BrakedTrailerWeightHelper = false;
                this.$data.BrakedTrailerWeightHelperList = [];
                this.$data.BrakedTrailerWeightHelperItem = '';
                this.$data.BrakedTrailerWeightHelperData = [];
                this.$data.VehicleHitchLoadHelper = false;
                this.$data.VehicleHitchLoadHelperList = [];
                this.$data.VehicleHitchLoadHelperItem = [];
                this.$data.VehicleHitchLoadHelperData = [];
            })

            this.$root.$on("WeightDoc", (data) => {
                this.$data.WeightDoc = true;
                data.vehicleWeightMeasures.forEach((row: any) => {
                    if (row.massTypeName.endsWith("автопоезда")) {
                        this.$data.VehicleAvtopoezdbWeightHelperData.push(row)
                    }
                    else if (row.massTypeName.endsWith("в снаряженном состоянии")) {
                        this.$data.VehicleCurbWeightHelperData.push(row)
                    } else this.$data.VehicleMaxbWeightHelperData.push(row);
                })

                if (this.$data.VehicleCurbWeightHelperData.length > 0) {
                    if (this.$data.VehicleCurbWeightHelperData.length == 1) {
                        let min = this.$data.VehicleCurbWeightHelperData[0]['weight']
                        let max = this.$data.VehicleCurbWeightHelperData[0]['weightMax']

                        if (min < max) {
                            this.$props.tabData.tenth.VehicleMassMeasureRange.value = true;
                            this.$props.tabData.tenth.VehicleMassMeasureMin.value = min;
                            this.$props.tabData.tenth.VehicleMassMeasureMax.value = max;
                            this.$props.tabData.tenth.VehicleMassMeasure.disabled = false;
                        } else {
                            this.$props.tabData.tenth.VehicleMassMeasure.value = min.toString();
                            this.$props.tabData.tenth.VehicleMassMeasure.disabled = true;
                        }
                    } else {
                        this.$data.VehicleCurbWeightHelper = true;
                        this.$props.tabData.tenth.VehicleMassMeasure.disabled = true;
                        this.$data.VehicleCurbWeightHelperList = this.$data.VehicleCurbWeightHelperData.map(item => {
                            if (item.weight < item.weightMax) {
                                return { key: item.id, value: `от ${item.weight} до ${item.weightMax}` };
                            } else {
                                return { key: item.id, value: item.weight };
                            }
                        })
                    }
                }

                if (this.$data.VehicleMaxbWeightHelperData.length > 0) {
                    if (this.$data.VehicleMaxbWeightHelperData.length == 1) {
                        let min = this.$data.VehicleMaxbWeightHelperData[0]['weight']
                        let max = this.$data.VehicleMaxbWeightHelperData[0]['weightMax']

                        if (min < max) {
                            this.$props.tabData.tenth.VehicleMassMeasure1Range.value = true;
                            this.$props.tabData.tenth.VehicleMassMeasure1Min.value = min;
                            this.$props.tabData.tenth.VehicleMassMeasure1Max.value = max;
                            this.$props.tabData.tenth.VehicleMassMeasure1.disabled = false;
                        } else {
                            this.$props.tabData.tenth.VehicleMassMeasure1.value = min.toString();
                            this.$props.tabData.tenth.VehicleMassMeasure1.disabled = true;
                        }
                    } else {
                        this.$data.VehicleMaxbWeightHelper = true;
                        this.$props.tabData.tenth.VehicleMassMeasure1.disabled = true;
                        this.$data.VehicleMaxbWeightHelperList = this.$data.VehicleMaxbWeightHelperData.map(item => {
                            if (item.weight < item.weightMax) {
                                return { key: item.id, value: `от ${item.weight} до ${item.weightMax}` };
                            } else {
                                return { key: item.id, value: item.weight };
                            }
                        })
                    }
                }

                if (this.$data.VehicleAvtopoezdbWeightHelperData.length > 0) {
                    if (this.$data.VehicleAvtopoezdbWeightHelperData.length == 1) {
                        let min = this.$data.VehicleAvtopoezdbWeightHelperData[0]['weight']
                        let max = this.$data.VehicleAvtopoezdbWeightHelperData[0]['weightMax']

                        if (min < max) {
                            this.$props.tabData.tenth.VehicleMassMeasure2Range.value = true;
                            this.$props.tabData.tenth.VehicleMassMeasure2Min.value = min;
                            this.$props.tabData.tenth.VehicleMassMeasure2Max.value = max;
                            this.$props.tabData.tenth.VehicleMassMeasure2.disabled = false;
                        } else {
                            this.$props.tabData.tenth.VehicleMassMeasure2.value = min.toString();
                            this.$props.tabData.tenth.VehicleMassMeasure2.disabled = true;
                        }
                    } else {
                        this.$data.VehicleAvtopoezdbWeightHelper = true;
                        this.$props.tabData.tenth.VehicleMassMeasure2.disabled = true;
                        this.$data.VehicleAvtopoezdbWeightHelperList = this.$data.VehicleAvtopoezdbWeightHelperData.map(item => {
                            if (item.weight < item.weightMax) {
                                return { key: item.id, value: `от ${item.weight} до ${item.weightMax}` };
                            } else {
                                return { key: item.id, value: item.weight };
                            }
                        })
                    }
                }


                this.$props.tabData.tenth.NotVehicleTrailerIndicator.value = data.notVehicleTrailerIndicator;
                if (!!!data.notVehicleTrailerIndicator)
                    this.$props.tabData.tenth.NotVehicleTrailerIndicator.disabled = true;

                this.$data.UnbrakedTrailerHelperData = data.unbrakedTrailerWeightMeasures;
                if (data.unbrakedTrailerWeightMeasures.length > 0) {
                    if (this.$data.UnbrakedTrailerHelperData.length == 1) {
                        let min = this.$data.UnbrakedTrailerHelperData[0]['weightMeasure']
                        let max = this.$data.UnbrakedTrailerHelperData[0]['weightMeasureMax']

                        if (min < max) {
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureRange.value = true;
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMin.value = min;
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasureMax.value = max;
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled = false;
                        } else {
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.value = min.toString();
                            this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled = true;
                        }
                    } else {
                        this.$data.UnbrakedTrailerHelper = true;
                        this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.disabled = true;
                        this.$data.UnbrakedTrailerHelperList = this.$data.UnbrakedTrailerHelperData.map(item => {
                            if (item.weightMeasure < item.weightMeasureMax) {
                                return { key: item.id, value: `от ${item.weightMeasure} до ${item.weightMeasureMax}` };
                            } else {
                                return { key: item.id, value: item.weightMeasure };
                            }
                        })
                    }
                }

                this.$data.BrakedTrailerWeightHelperData = data.brakedTrailerWeightMeasures;
                if (data.brakedTrailerWeightMeasures.length > 0) {
                    if (this.$data.BrakedTrailerWeightHelperData.length == 1) {
                        let min = this.$data.BrakedTrailerWeightHelperData[0]['weightMeasure']
                        let max = this.$data.BrakedTrailerWeightHelperData[0]['weightMeasureMax']

                        if (min < max) {
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureRange.value = true;
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMin.value = min;
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasureMax.value = max;
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled = false;
                        } else {
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.value = min.toString();
                            this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled = true;
                        }
                    } else {
                        this.$data.BrakedTrailerWeightHelper = true;
                        this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.disabled = true;
                        this.$data.BrakedTrailerWeightHelperList = this.$data.BrakedTrailerWeightHelperData.map(item => {
                            if (item.weightMeasure < item.weightMeasureMax) {
                                return { key: item.id, value: `от ${item.weightMeasure} до ${item.weightMeasureMax}` };
                            } else {
                                return { key: item.id, value: item.weightMeasure };
                            }
                        })
                    }
                }

                this.$data.VehicleHitchLoadHelperData = data.vehicleHitchLoadMeasures;
                if (data.vehicleHitchLoadMeasures.length > 0) {
                    this.$props.tabData.tenth.VehicleHitchLoadMeasureList = [];
                    //if (this.$data.VehicleHitchLoadHelperData.length == 1) {
                    //    let min = this.$data.VehicleHitchLoadHelperData[0]['hitchLoadMeasure']
                    //    let max = this.$data.VehicleHitchLoadHelperData[0]['hitchLoadMeasureMax']
                    //    let item = {
                    //        VehicleHitchLoadMeasure: { value: '', text: 'Масса', necessary: true, disabled: false },
                    //        VehicleHitchLoadMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                    //        VehicleHitchLoadMeasureMin: { value: '', text: 'Минимально', necessary: true },
                    //        VehicleHitchLoadMeasureMax: { value: '', text: 'Максимально', necessary: true },
                    //        VehicleHitchLoadMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                    //    }
                    //    if (min < max) {
                    //        item.VehicleHitchLoadMeasureRange.value = true;
                    //        item.VehicleHitchLoadMeasureMin.value = min;
                    //        item.VehicleHitchLoadMeasureMax.value = max;
                    //    } else {
                    //        item.VehicleHitchLoadMeasure.value = min.toString();
                    //        item.VehicleHitchLoadMeasure.disabled = true;
                    //    }
                    //    this.$props.tabData.tenth.VehicleHitchLoadMeasureList = [];
                    //    this.$props.tabData.tenth.VehicleHitchLoadMeasureList.push(item);
                    //} else {
                    this.$data.VehicleHitchLoadHelper = true;
                    this.$props.tabData.tenth.VehicleHitchLoadMeasure.disabled = true;
                    this.$data.VehicleHitchLoadHelperList = this.$data.VehicleHitchLoadHelperData.map(item => {
                        if (item.hitchLoadMeasure < item.hitchLoadMeasureMax) {
                            return { key: item.id, value: `от ${item.hitchLoadMeasure} до ${item.hitchLoadMeasureMax}` };
                        } else {
                            return { key: item.id, value: item.hitchLoadMeasure };
                        }
                    })
                    ////}

                }
            });
            this.$root.$on("preSavedWeight", (data) => {
                if (data.vehicleMassMeasure != "") {
                    let vehicleMassMeasure: any = [];
                    if (data.vehicleMassMeasureRange) {
                        vehicleMassMeasure = this.$data.VehicleCurbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasureMin && item['weightMax'] == data.vehicleMassMeasureMax);
                    } else {
                        vehicleMassMeasure = this.$data.VehicleCurbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasure);
                    }
                    if (vehicleMassMeasure.length > 0) {
                        this.$data.VehicleCurbWeightHelperItem = vehicleMassMeasure[0].id;
                    }
                }
                if (data.vehicleMassMeasure1 != "") {
                    let vehicleMassMeasure1: any = [];
                    if (data.vehicleMassMeasure1Range) {
                        vehicleMassMeasure1 = this.$data.VehicleMaxbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasure1Min && item['weightMax'] == data.vehicleMassMeasure1Max);
                    } else {
                        vehicleMassMeasure1 = this.$data.VehicleMaxbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasure1);
                    }
                    if (vehicleMassMeasure1.length > 0) {
                        this.$data.VehicleMaxbWeightHelperItem = vehicleMassMeasure1[0].id;
                    }
                }
                if (data.vehicleMassMeasure2 != "") {
                    let vehicleMassMeasure2: any = [];
                    if (data.vehicleMassMeasure2Range) {
                        vehicleMassMeasure2 = this.$data.VehicleAvtopoezdbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasure2Min && item['weightMax'] == data.vehicleMassMeasure2Max);
                    } else {
                        vehicleMassMeasure2 = this.$data.VehicleAvtopoezdbWeightHelperData.filter(item => item['weight'] == data.vehicleMassMeasure2);
                    }
                    if (vehicleMassMeasure2.length > 0) {
                        this.$data.VehicleAvtopoezdbWeightHelperItem = vehicleMassMeasure2[0].id;
                    }
                }
                if (data.vehicleMaxUnbrakedTrailerWeightMeasure != "") {
                    let unbrakedTrailer: any = [];
                    if (data.vehicleMaxUnbrakedTrailerWeightMeasureRange) {
                        unbrakedTrailer = this.$data.UnbrakedTrailerHelperHelperData.filter(item => item['weightMeasure'] == data.vehicleMaxUnbrakedTrailerWeightMeasureMin && item['weightMeasureMax'] == data.vehicleMaxUnbrakedTrailerWeightMeasureMax);
                    } else {
                        unbrakedTrailer = this.$data.UnbrakedTrailerHelperData.filter(item => item['weightMeasure'] == data.vehicleMaxUnbrakedTrailerWeightMeasure);
                    }
                    if (unbrakedTrailer.length > 0) {
                        this.$data.UnbrakedTrailerHelperItem = unbrakedTrailer[0].id;
                    }
                }
                if (data.vehicleMaxBrakedTrailerWeightMeasure != "") {
                    let brakedTrailer: any = [];
                    if (data.vehicleMaxBrakedTrailerWeightMeasureRange) {
                        brakedTrailer = this.$data.BrakedTrailerWeightHelperData.filter(item => item['weightMeasure'] == data.vehicleMaxBrakedTrailerWeightMeasureMin && item['weightMeasureMax'] == data.vehicleMaxBrakedTrailerWeightMeasureMax);
                    } else {
                        brakedTrailer = this.$data.BrakedTrailerWeightHelperData.filter(item => item['weightMeasure'] == data.vehicleMaxBrakedTrailerWeightMeasure);
                    }
                    if (brakedTrailer.length > 0) {
                        this.$data.BrakedTrailerWeightHelperItem = brakedTrailer[0].id;
                    }
                }

                if (data.vehicleHitchLoadMeasureList != undefined && data.vehicleHitchLoadMeasureList.length > 0) {
                    let ids: Array<Int32Array> = [];
                    let measures: any = [];
                    for (let measure of data.vehicleHitchLoadMeasureList) {
                        let cur = this.$data.VehicleHitchLoadHelperData.filter(x => {
                            if (x.hitchLoadMeasure < x.hitchLoadMeasureMax) {
                                if (measure.vehicleHitchLoadMeasure <= x.hitchLoadMeasureMax || measure.vehicleHitchLoadMeasure >= x.hitchLoadMeasure)
                                    return true;
                            } else {
                                if (measure.vehicleHitchLoadMeasure == x.hitchLoadMeasure)
                                    return true;
                            }
                            return false;
                        });
                        if (cur.length > 0) {
                            let id = cur[0].id
                            ids.push(id);
                            measures.push({ id: id, m: measure.vehicleHitchLoadMeasure })
                            this.$data.VehicleHitchLoadHelperItem.push(id);
                        }
                    }
                    if (this.$data.VehicleHitchLoadHelperItem.length > 0)
                        this.VehicleHitchLoadHelperChanged(this.$data.VehicleHitchLoadHelperItem, measures)
                }
            });
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("WeightDoc");
            this.$root.$off("preSavedWeight");
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                if (this.$props.tabData.tenth.VehicleMassMeasure.value.trim() != '' && this.$props.tabData.tenth.VehicleMassMeasure1.value.trim() != ''
                    && parseInt(this.$props.tabData.tenth.VehicleMassMeasure.value) > parseInt(this.$props.tabData.tenth.VehicleMassMeasure1.value)) {
                    this.$props.show_messageParent("Масса в снаряженном состоянии не должна быть больше технически допустимой максимальной массы!");
                    return false
                }
                if (!!this.$props.tabData.tenth.NotVehicleTrailerIndicator.value) {
                    if (this.$props.tabData.tenth.VehicleMaxUnbrakedTrailerWeightMeasure.value.trim() == ""
                        && this.$props.tabData.tenth.VehicleMaxBrakedTrailerWeightMeasure.value.trim() == ""
                        && (this.$props.tabData.tenth.VehicleHitchLoadMeasureList.length == 0 || this.$props.tabData.tenth.VehicleHitchLoadMeasureList[0].VehicleHitchLoadMeasure).value.trim() == "") {
                        this.$props.show_messageParent("Заполните минимум одно поле массы при буксировке прицепа!");
                        return false;
                    }
                }
                return true;
            }
            return false;
        }


    }

</script>