﻿<template>
    <v-container fluid>
        <v-form ref="form"
                :disabled="!!tabData.onlyView"
                v-model="valid">
            <v-row justify="center">
                <v-col cols="12">
                    <template v-if="isVehicleMachineElectroVisible">
                        <v-checkbox v-model="tabData.tenth.NotElectricalMachineIndicator.value"
                                    v-if="isVehicleMachineElectroVisible"
                                    :label="`${tabData.tenth.NotElectricalMachineIndicator.text}`"></v-checkbox>
                        <v-autocomplete v-model="VehicleElectroMakeName"
                                        :items="VehicleElectroMakeNameList"
                                        item-text="value"
                                        item-value="key"
                                        v-if="tabData.ElectricalMachineDocExist && isVehicleMachineElectroVisible && !tabData.tenth.NotElectricalMachineIndicator.value"
                                        @change="ElectroComponentMakeNameChanged"
                                        multiple
                                        label="Марка эл.двигателя"
                                        persistent-hint
                                        required
                                        :rules="rules.select">
                        </v-autocomplete>

                        <v-card v-if="isVehicleMachineElectroVisible && !tabData.tenth.NotElectricalMachineIndicator.value"
                                v-for="(inputCard, indexCard) in tabData.tenth.ElectricalMachine"
                                :key="`inputCard-${indexCard}`">
                            <v-card-title class="grey">
                                <span>Электродвигатель</span>
                                <v-spacer></v-spacer>
                                <!--          Add Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="addElectricalMachine(inputCard, tabData.tenth.ElectricalMachine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.ElectricalMachineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="green"
                                          d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                </svg>

                                <!--          Remove Svg Icon-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     @click="removeElectricalMachine(indexCard, tabData.tenth.ElectricalMachine)"
                                     viewBox="0 0 24 24"
                                     width="24"
                                     height="24"
                                     v-if="!tabData.ElectricalMachineDocExist"
                                     class="ml-2 cursor-pointer">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path fill="#EC4899"
                                          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                </svg>
                            </v-card-title>
                            <v-card-text class="pt-2">
                                <div>
                                    <v-text-field v-model="inputCard.ElectricalMachineMakeName.value"
                                                  :label="`${inputCard.ElectricalMachineMakeName.text}`"
                                                  v-if="!tabData.ElectricalMachineDocExist"
                                                  :required="inputCard.ElectricalMachineMakeName.necessary"
                                                  :rules="inputCard.ElectricalMachineMakeName.necessary?fieldRules:[]">
                                    </v-text-field>
                                    <v-autocomplete v-model="inputCard.ElectricalMachineModelCode.value"
                                                    :items="nsisData.VehicleComponentModelCodeList"
                                                    item-text="value"
                                                    item-value="key"
                                                    :disabled="tabData.ElectricalMachineDocExist"
                                                    :label="`${inputCard.ElectricalMachineModelCode.text}`"
                                                    persistent-hint
                                                    required
                                                    :rules="inputCard.ElectricalMachineModelCode.necessary?rules.select:[]">
                                    </v-autocomplete>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="inputCard.ElectricalMachineVoltageMeasure.value"
                                                          :label="`${inputCard.ElectricalMachineVoltageMeasure.text}`"
                                                          :required="inputCard.ElectricalMachineVoltageMeasure.necessary"
                                                          :disabled="tabData.ElectricalMachineDocExist"
                                                          :rules="inputCard.ElectricalMachineVoltageMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="inputCard.ElectricalMachineVoltageMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${inputCard.ElectricalMachineVoltageMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="inputCard.ElectricalMachineVoltageMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-text-field v-model="inputCard.ElectricMachinePowerMeasure.value"
                                                          :label="`${inputCard.ElectricMachinePowerMeasure.text}`"
                                                          :disabled="tabData.ElectricalMachineDocExist"
                                                          :required="inputCard.ElectricMachinePowerMeasure.necessary"
                                                          :rules="inputCard.ElectricMachinePowerMeasure.necessary?fieldRules:[]">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-select v-model="inputCard.ElectricMachinePowerMeasureUnitCode.value"
                                                      :items="nsisData.measurementUnitCodeList"
                                                      item-text="value"
                                                      item-value="key"
                                                      :label="`${inputCard.ElectricMachinePowerMeasureUnitCode.text}`"
                                                      persistent-hint
                                                      required
                                                      disabled
                                                      :rules="inputCard.ElectricMachinePowerMeasureUnitCode.necessary?rules.select:[]">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                    <v-text-field v-model="inputCard.ElectricMachineVehicleComponentText.value"
                                                  :label="`${inputCard.ElectricMachineVehicleComponentText.text}`"
                                                  :disabled="tabData.ElectricalMachineDocExist"
                                                  :required="inputCard.ElectricMachineVehicleComponentText.necessary"
                                                  :rules="inputCard.ElectricMachineVehicleComponentText.necessary?fieldRules:[]">
                                    </v-text-field>
                                </div>
                            </v-card-text>
                        </v-card>
                    </template>
                    <template v-else>
                        <v-card>
                            <v-card-title class="grey">Электромашина</v-card-title>
                            <v-card-text class="pt-2">
                                Заполнение не требуется
                            </v-card-text>
                        </v-card>
                    </template>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            tabData: Object,
            nsisData: Object
        },
        components: {
        },
    })
    export default class Step11 extends Vue {
        @Prop()
        readonly show_messageParent!: void

        get isVehicleMachineElectroVisible(): boolean {
            if (this.$props.tabData.tenth.VehicleEngineType.value == "3") return true;
            return false;
        }

        data() {
            return {
                // datas and helpers
                fieldRules: [
                    v => !!v || 'Объязательное поле',
                    v => (v && v.length > 0) || 'Поле не должно быть пустым',
                ],
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],

                },
                valid: true,

                // fields
                VehicleElectroMakeName: '',
                VehicleElectroMakeNameList: [],

                author: JSON.parse(localStorage.getItem('user') as string).name,
            };
        };

        created() {
            //console.log("l", this.$parent)
        };

        @Watch("tabData.tenth.VehicleEngineType.value")
        async VehicleMachineTypeChanged(newVal) {
            if (newVal == '1' || newVal == '2') {
                this.$props.tabData.tenth.ElectricalMachine = [{
                    ElectricalMachineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalMachineMakeName: { value: '', text: 'Марка электромашины', necessary: true },
                    ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
                return
            }
        }

        @Watch("tabData.tenth.NotElectricalMachineIndicator.value")
        async NotElectricalMachineIndicatorChanged(newVal) {
            if (newVal) {
                this.$data.VehicleElectroMakeName = ''
                this.$props.tabData.tenth.ElectricalMachine = [{
                    ElectricalMachineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalMachineMakeName: { value: '', text: 'Марка электромашины', necessary: true },
                    ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
            }
        }

        async mounted() {
            this.$root.$on("ElectricalMachineDoc", (arg1) => {
                this.$props.tabData.tenth.NotElectricalMachineIndicator.value = arg1.notElectricalMachineDetailIndicator;
                this.$data.VehicleElectroMakeNameList = arg1.electricalMachineDetails.filter(item => item.electricalMachineKindCode != '01').map(item => {
                    return { key: item.id, value: `${item.vehicleComponentMakeName} (${this.$props.nsisData.VehicleComponentModelCodeList.filter(x => x.key == item.electricalMachineTypeCode)[0].value})` }
                });
                this.$data.electroDetails = arg1.electricalMachineDetails.filter(item => item.electricalMachineKindCode != '01');
            });

            this.$root.$on("preSavedEletroMachine", (data) => {
                if (data.electricalMachine.length > 0 && data.electricalMachine[0].electricalMachineKindCode != '') {
                    let ids:any = [];
                    for (let em of data.electricalMachine) {
                        let t = this.$data.VehicleElectroMakeNameList.filter(x => x.value.includes(`${em.electricalMachineMakeName} (${this.$props.nsisData.VehicleComponentModelCodeList.filter(x => x.key == em.electricalMachineModelCode)[0].value})`))
                        if (t.length > 0) {
                            ids.push(t[0].key)
                        }
                    }
                    this.$data.VehicleElectroMakeName = ids
                }
            });


            this.$root.$on("ResetAllForms", (arg1) => {
                (this.$refs?.form as any)?.reset()
                setTimeout(() => {
                //////    this.$props.tabData.tenth.ElectricalMachineVoltageMeasureUnitCode.value = '150222'
                //////    this.$props.tabData.tenth.ElectricMachinePowerMeasureUnitCode.value = '150214'
                }, 100)
            })
        };

        async beforeDestroy() {
            this.$root.$off("ResetAllForms");
            this.$root.$off("ElectricalMachineDoc");
            this.$root.$off("preSavedEletroMachine");
        }

        async ElectroComponentMakeNameChanged(ComponentMakeNameId) {
            if (ComponentMakeNameId != undefined && ComponentMakeNameId.length == 0) {
                this.$props.tabData.tenth.ElectricalMachine = [{
                    ElectricalMachineKindCode: { value: '', text: 'Вид', necessary: true },
                    ElectricalMachineMakeName: { value: '', text: 'Марка электромашины', necessary: true },
                    ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                    ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                }]
                return
            }
            this.$props.tabData.tenth.ElectricalMachine = []
            this.$data.electroDetails.filter(item => ComponentMakeNameId.indexOf(item.id) != -1).forEach(detail => {
                this.$props.tabData.tenth.ElectricalMachine.push({
                    ElectricalMachineKindCode: { value: detail.electricalMachineKindCode?.toString() ?? '', text: 'Вид', necessary: true },
                    ElectricalMachineMakeName: { value: detail.vehicleComponentMakeName?.toString() ?? '', text: 'Марка электромашины', necessary: true },
                    ElectricalMachineModelCode: { value: detail.electricalMachineTypeCode?.toString() ?? '', text: 'Тип', necessary: true },
                    ElectricalMachineVoltageMeasure: { value: detail.electricalMachineVoltageMeasure?.toString() ?? '', text: 'Рабочее напряжение', necessary: true },
                    ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                    ElectricMachinePowerMeasure: { value: detail.electricMotorPowerMeasure?.toString() ?? '', text: 'Максимальная 30-минутная мощность', necessary: true },
                    ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                    ElectricMachineVehicleComponentText: { value: detail.vehicleComponentText?.toString() ?? '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true }
                });
            });
            //this.$root.$emit("ElectricalMachineDocContinue", details);
        }

        async addElectricalMachine(value, fieldType) {
            fieldType.push({
                ElectricalMachineKindCode: { value: '', text: 'Вид', necessary: true },
                ElectricalMachineMakeName: { value: '', text: 'Марка электромашины', necessary: true },
                ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
            });
        }

        async removeElectricalMachine(index, fieldType) {
            if (this.$props.tabData.tenth.ElectricalMachine.length == 1) {
                this.$props.show_messageParent("Нельзя удалять все");
                return
            }
            fieldType.splice(index, 1);
        }

        async validate() {
            if ((this.$refs.form as any).validate()) {
                return true;
            }
            return false;
        }


    }

</script>