<template>
    <div>
        <section class="container container--fluid" id="documentevent-view">
            <v-row>
                <v-col>
                    <v-card>
                        <v-card-title class="pa-2 light-blue lighten-1">
                            <h3 class="title font-weight-normal text-center grow">
                                События
                            </h3>
                        </v-card-title>
                    </v-card>
                    <v-timeline dense>
                        <v-timeline-item v-for="(item, i) in eventItems"
                                         :key="i"
                                         :color="getColor(item)"
                                         :icon="getIcon(item)"                                         
                                         fill-dot>
                            <span slot="opposite">{{ item.eventDateTime }}</span>
                            <v-card class="elevation-2">
                                <v-card-title class="headline">
                                    {{ item.title }}
                                </v-card-title>
                                <v-card-text>
                                    {{ item.description }}
                                </v-card-text>
                                <v-card-text>
                                    <small><i>{{ item.eventDateTime }} {{ item.authorName }}</i></small>
                                </v-card-text>
                            </v-card>
                        </v-timeline-item>
                    </v-timeline>
                </v-col>
            </v-row>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { DocumentEventModel } from '@/models/documents/DocumentEvent.model';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'DocumentEventsView',
        props: {
            documentId: String,
        },
        data() {
            const dataObj: {
                eventItems: Array<DocumentEventModel>,
            } = {                
                eventItems: []
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: { },
        methods: {
            getColor(item: DocumentEventModel) {
                if (item.eventType == 3)
                    return 'red lighten-2';
                return 'primary';
            },
            getIcon(item: DocumentEventModel) {
                switch (item.eventType) {
                    case 0:
                        return 'mdi-power';
                    case 1:
                        return 'mdi-file-document'
                    case 3:
                        return 'mdi-alert-circle-outline'
                }

                return 'mdi-check-circle-outline';
            }
        },
        async created() {
            ComplienceService.getDocumentEventsByDocId(this.documentId).then(r => {
                this.eventItems = r.data;
            }).catch(error => {

            });
        },
    });
</script>


