﻿<template>
    
    <v-autocomplete v-model="identValue.curVal"
                    class="ma-4"
                    :items="dictList"
                    item-text="value"
                    item-value="key"
                    :label="title"
                    :disabled="disabled"
                    required
                    @change="identValueChanged"
                    :rules="rules.select"
                    persistent-hint
                    :hint="hint">
    </v-autocomplete>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            title: String,
            dictList: Array,
            identValue: Object,
            vinCharacterDetail: Object,
            disabled: Boolean
        },
        components: {
        },
    })
    export default class AutoSelectIdent extends Vue {
        data() {
            return {
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                },
                label: '',
                hint : '',
            }
        }

        async identValueChanged(val) {
            if (val != '' && this.$props.vinCharacterDetail?.vinCharacterDescriptions?.length > 0) {
                this.$props.identValue.cardData = Object.assign({}, this.$props.vinCharacterDetail)
                this.$props.identValue.cardData.vinCharacterDescriptions = [this.$props.vinCharacterDetail.vinCharacterDescriptions.filter(x => x.idCharacterValue == val)[0]]
            }
        }

        async mounted() {
            this.$root.$on("preSavedVehicleIdentNumber", (data) => {
                this.identValueChanged(this.$props.identValue.curVal);
            });
            if (this.$props.identValue.endingOrdinal - this.$props.identValue.startingOrdinal == 0)
                this.$data.hint = 'Значение для ' + this.$props.identValue.startingOrdinal + ' символа'
            else 
                this.$data.hint = 'Значение для ' + this.$props.identValue.startingOrdinal + '-' + this.$props.identValue.endingOrdinal + ' символов'
            if (this.$props.dictList.length == 1) {
                this.$props.identValue.curVal = this.$props.dictList[0].key
                if (this.$props.vinCharacterDetail?.vinCharacterDescriptions?.length > 0) {
                    this.$props.identValue.cardData = Object.assign({}, this.$props.vinCharacterDetail)
                    this.$props.identValue.cardData.vinCharacterDescriptions = [this.$props.vinCharacterDetail.vinCharacterDescriptions.filter(x => x.idCharacterValue == this.$props.dictList[0].key)[0]]
                }
            }
        }
        async beforeDestroy() {
            this.$root.$off("preSavedVehicleIdentNumber");
        }
    }
</script>