﻿<template>
    <v-text-field v-model="identValue.curVal"
                  :label="`${title}`"
                  class="ma-4"
                  :counter="counter"
                  :disabled="disabled"
                  @keyup="uppercase"
                  :rules="[fieldRule(identValue.curVal, counter, vinCharacterDetail)]"
                  required
                  :hint="hint"
                  persistent-hint></v-text-field>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            title: String,
            counter: String,
            identValue: Object,
            vinCharacterDetail: Object,
            disabled: Boolean
        },
        components: {
        },
    })
    export default class TextFieldIdent extends Vue {
        data() {
            return {
                fieldRule(v, counter, vinCharacterDetail) {
                    if (!(v && v.length == counter))
                        return `Поле должно содержать ${counter} символов`;
                    if (vinCharacterDetail !== undefined && vinCharacterDetail.dataTypeCode == "2") {
                        let resp = '';
                        let control = '';

                        if (vinCharacterDetail.isAlpha) {
                            control += 'ABCDEFGHJKLMNPRSTUVWXYZ'
                        }
                        if (vinCharacterDetail.isAlpha && vinCharacterDetail.excludeCharStr?.length > 0) {
                            let controlArray = control.split('');
                            vinCharacterDetail.excludeCharStr.split(', ').forEach(item => {
                                if (controlArray.indexOf(item) != -1) controlArray.splice(controlArray.indexOf(item), 1)
                            })
                            control = controlArray.join('');
                        }
                        if (vinCharacterDetail.includeCharStr?.length > 0) {
                            control = vinCharacterDetail.includeCharStr.split(', ').join('');
                        }
                        if (vinCharacterDetail.isDigit) {
                            control += '0123456789';
                        }
                        v.split('').forEach(letter => {
                            if (control.indexOf(letter) == -1) {
                                resp = 'Введен некорректный символ!';
                                return;
                            }
                        })
                        if (resp != '') return resp;
                    }
                    return true;
                },
                hint : '',  
            }
        }
        uppercase() {
            this.$props.identValue.curVal = this.$props.identValue.curVal.toUpperCase();
            this.$props.identValue.cardData.idCharacterStartingOrdinal = this.$props.identValue.startingOrdinal
            this.$props.identValue.cardData.idCharacterEndingOrdinal = this.$props.identValue.endingOrdinal
            this.$props.identValue.cardData.idCharacterText = this.$props.vinCharacterDetail.idCharacterText ?? ''
            this.$props.identValue.cardData.customTxt = true;
            this.$props.identValue.cardData.vinCharacterDescriptions = [{ idCharacterValue: this.$props.identValue.curVal, idCharacterValueText:''}]

        }

        async mounted() {
            this.$root.$on("preSavedVehicleIdentNumber", (data) => {
                this.uppercase();
            });
            if (this.$props.identValue.endingOrdinal - this.$props.identValue.startingOrdinal == 0)
                this.$data.hint = 'Значение для ' + this.$props.identValue.startingOrdinal + ' символа'
            else
                this.$data.hint = 'Значение для ' + this.$props.identValue.startingOrdinal + '-' + this.$props.identValue.endingOrdinal + ' символов'
        }

        async beforeDestroy() {
            this.$root.$off("preSavedVehicleIdentNumber");
        }
    }
</script>