﻿<template>
    <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                Мониторинг веб-сервисов
                            </h2>
                        </v-card>
                    </v-col>
                </v-row>
                <v-form ref="form"
                        v-model="valid">
                    <v-row>
                        <v-col align="center">
                            <v-autocomplete v-model="service"
                                            :items="services"
                                            item-text="value"
                                            item-value="key"
                                            label="Сервис"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                        <v-col align="center">
                            <v-menu ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="dates"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="dates"
                                                  label="Период"
                                                  clearable
                                                  prepend-icon="mdi-calendar"
                                                  readonly
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="dates"
                                               no-title
                                               range
                                               scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text
                                           color="primary"
                                           @click="menu = false">
                                        Cancel
                                    </v-btn>
                                    <v-btn text
                                           color="primary"
                                           @click="$refs.menu.save(dates)">
                                        OK
                                    </v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col align="center">
                            <v-btn @click="showReport"
                                   color="primary"
                                   dark
                                   :loading="loading"
                                   class="ma-2">
                                Сформировать
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
                <v-row>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="docList"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :search="search"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.created="{ item }">
                                <td>{{item.created| date}}</td>
                            </template>
                            <template v-slot:item.modified="{ item }">
                                <td>{{item.modified | date }}</td>
                            </template>
                            <template v-slot:item.declineDate="{ item }">
                                <td>{{item.declineDate | date}}</td>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small
                                        loading
                                        color="blue darken-2"
                                        @click="viewItem(item)">
                                    mdi-eye
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import DPassportService from '@/services/document/dpassport.service';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { MonitoringFilterModel } from '@/models/documents/dpassport/MonitoringFilter.model';


    export default Vue.extend({
        name: 'MonitoringService',
        data: () => ({
            rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }]
            },
            valid: true,
            
            menu: false,
            search: '',
            role: JSON.parse(localStorage.getItem('user') as string).role.toLowerCase(),
            loading: false,
            total: 0,
            options: {},
            
            //data fields
            service: '',
            services: [{ key: 'ROP', value: 'РОП' },
                { key: 'KGD', value: 'КГД' },
                { key: 'MVD', value: 'МВД' },
                { key: 'MSH', value: 'МСХ' },
                { key: 'TSON', value: 'ЦОН' }],
            dates: [],

            headers: [
                {
                    text: 'Наименование сервиса', value: 'serviceName'
                },
                {
                    text: 'Дата', value: 'created'
                },
                {
                    text: 'Всего', value: 'total'
                },
                {
                    text: 'Успешно', value: 'success'
                },
                {
                    text: 'Неуспешно', value: 'failed'
                }
            ],
            docList: []
        }),
        methods: {
            showReport: function () {
                    this.load()
            },
            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;
                let from = ''
                let till = ''
                if (this.dates != null && this.dates.length > 0) from = this.dates[0];
                if (this.dates != null && this.dates.length > 1) till = this.dates[1];
                let filter = new MonitoringFilterModel(
                    this.service, from, till
                )
                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , filter);
                DPassportService.getMonitoringList(request)
                    .then(response => {
                        this.docList = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            }
        },
        watch: {
            options: {
                handler() {
                    //this.load();
                },
                deep: true,
            },
        },

        async mounted() {
                    
        },

        computed: {},
        activated() { },
        async created() {
        },
        beforeRouteUpdate(to, from, next) {
            //this.load();
            next();
        }
    });

</script>
