﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Заголовок*"
                                              v-model="news.titleRu"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <quill-editor label="Содержание*" outlined required dense 
                                              ref="myQuillEditor" style="min-height: 250px;"
                                              v-model="news.contentRu"
                                              :options="editorOption" />
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="pt-10 pb-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { NewsModel } from '@/models/administration/News.model';

    import NewsService from '@/services/administration/news.service';
    import DateHelper from '@/helpers/date.helper';

    export default Vue.extend({
        name: 'NewsForm',
        props: { },
        data() {
            const dataObj: {
                valid: boolean,
                rules: any,

                news: NewsModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
                editorOption: any
            } = {
                valid: true,
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                news: new NewsModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Новости',
                        disabled: false,
                        href: '/administration/news',
                    },
                    {
                        text: 'Новость',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
                editorOption: {
                    // Some Quill options...
                }
            };
            return dataObj;
        },
        components: { },
        methods: {
            save() {
                this.alerts = [];
                if ((this.$refs.docForm as any).validate()) {
                    if (this.$route.params.id && this.$route.params.id === '0') {
                        NewsService.createItem(this.news).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/administration/news');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    } else {
                        NewsService.updateItem(this.news).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/administration/news');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/administration/news');
            },

            load() {
                this.alerts = [];
                if (this.$route.params.id && this.$route.params.id !== '0') {
                    NewsService.get(this.$route.params.id).then(response => {
                        this.news = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
            },

            orgChanged: function(val, oldVal) {
                const org = val;
            },

            getTitle() {              
                return 'Новость';
            },
        },
        watch: { },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
