<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card class='pa-2 ma-2' outlined tile>
                    <h2 style='text-align: center'>
                        Мои электронные паспорта
                    </h2>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6" v-for="(dp, i) in dpassports" v-if="dpassports.length > 0">
                <v-card>
                    <v-card-actions>
                        <v-card-title>
                            ЭПТС {{ dp.uniqueCode }}
                            <v-list-item-subtitle>
                                {{ new Date(dp.docDateFrom) | date }} - {{ new Date(dp.docDateTo) | date }}
                            </v-list-item-subtitle>
                        </v-card-title>
                        <v-spacer></v-spacer>

                        <v-btn icon @click="downloadItem(dp)">
                            <v-icon>mdi-download</v-icon>
                        </v-btn>
                    </v-card-actions>



                    <v-list two-line>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleIdentityNumberId }}</v-list-item-title>
                                <v-list-item-subtitle>Идентификационный номер</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleCommercialName }}</v-list-item-title>
                                <v-list-item-subtitle>Наименование,определяемое его назначения</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleMakeNameNsi.nameRu }}</v-list-item-title>
                                <v-list-item-subtitle>Марка</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.manufactureYear }}</v-list-item-title>
                                <v-list-item-subtitle>Год изготовления</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleTechCategoryCode }}</v-list-item-title>
                                <v-list-item-subtitle>Категория в соответствии с Конвенцией</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleCategoryCode }}</v-list-item-title>
                                <v-list-item-subtitle>Категория в соответствии с ТР ТС 018/2011</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>{{ dp.vehicleBodyColourName }}</v-list-item-title>
                                <v-list-item-subtitle>Цвет</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>


                    </v-list>
                </v-card>
            </v-col>
            <v-col v-if="dpassports.length == 0">
                <v-alert outlined
                         type="warning"
                         prominent
                         border="left">
                    Не найдено ни одного ЭПТС.
                </v-alert>
            </v-col>
        </v-row>
    </v-container>
</template>
<script lang="ts">
    import { Component, Prop, Vue , Watch} from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { DocFilterModel } from '@/models/documents/dpassport/DocFilter.model';

    import DPassportService from '@/services/document/dpassport.service';

    @Component({
        components: { },
        computed: { }
    })
    export default class MyDigitalPassport extends Vue {
        protected dpassports: Array<any> = [];
        protected loading: boolean = false;
        protected total: number = 0;

        created() {
            this.load();
        }

        viewItem(item) {
            //this.$router.push('/view_epts/' + item.id);
        }

        downloadItem (item) {
            DPassportService.getPtsCard(item.id)
                .then((response) => {
                    let blob = new Blob([response as any]);
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'pts.jpeg');
                    document.body.appendChild(link);
                    link.click();
                });
        }

        load() {
            this.loading = true;

            let request = new PagedSortRequestModel(1
                , 6
                , []
                , []
                , new DocFilterModel(
                    "1"
                ));
            DPassportService.getList(request)
                .then(response => {
                    this.dpassports = response.data.data;
                    this.total = response.data.total;
                    this.loading = false
                }).catch(err => {
                    this.loading = false
                });
        }
    }
</script>
