﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-autocomplete label="Справочник*"
                                                :items="nsis"
                                                v-model="dicModel.nsiId"
                                                :disabled="nsiDisabled"
                                                clearable outlined dense
                                                hide-details
                                                item-text="nameRu"
                                                item-value="id"></v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Код*"
                                              v-model="dicModel.code"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Рус*"
                                              v-model="dicModel.nameRu"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Каз"
                                              v-model="dicModel.nameKz"
                                              outlined dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Eng"
                                              v-model="dicModel.nameEn"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { NsiValueModel } from '@/models/dictionary/NsiValue.model';
    import { DictionaryModel } from '@/models/dictionary/dictionary.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';

    import DictionaryService from '@/services/dictionary.service';

    export default Vue.extend({
        name: 'DicNsiValueForm',
        props: {},
        data() {
            const dataObj: {
                loading: boolean,
                rules: any,
                nsiDisabled: boolean,

                dicModel: NsiValueModel,
                dialog: boolean,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
                nsis: Array<DictionaryModel>,
            } = {
                loading: false,
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
                nsiDisabled: false,

                dicModel: new NsiValueModel(0),
                dialog: false,

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Значения справочников НСИ',
                        disabled: false,
                        href: '/dictionaries/nsivalue',
                    },
                    {
                        text: 'Значение справочника НСИ',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
                nsis: new Array<DictionaryModel>(),
            };
            return dataObj;
        },
        components: {

        },
        methods: {
            save() {
                const me = this;
                me.alerts = [];
                if ((me.$refs.docForm as any).validate()) {
                    if (me.$route.params.id && me.$route.params.id !== '0') {
                        DictionaryService.updateNsiValue(this.dicModel).then(response => {
                            if (response.status == 'Ok') {
                                me.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                me.dicModel.nsiCode = me.nsis.find(n => n.id == me.dicModel.nsiId)?.code;
                                if (me.dicModel.nsiCode)
                                    me.$router.push('/dictionaries/nsivalues/' + me.dicModel.nsiCode);
                                else
                                    me.$router.push('/dictionaries/nsivalues/');
                            } else {
                                me.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            me.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    } else {
                        DictionaryService.createNsiValue(me.dicModel).then(response => {
                            if (response.status == 'Ok') {
                                me.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                me.dicModel.nsiCode = me.nsis.find(n => n.id == me.dicModel.nsiId)?.code;
                                if (me.dicModel.nsiCode)
                                    me.$router.push('/dictionaries/nsivalues/' + me.dicModel.nsiCode);
                                else
                                    me.$router.push('/dictionaries/nsivalues/');
                            } else {
                                me.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            me.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/dictionaries/nsivalues');
            },

            load() {
                this.alerts = [];
                this.loading = true;
                if (this.$route.params.id && this.$route.params.id !== '0') {
                    DictionaryService.getNsiValue(Number.parseInt(this.$route.params.id)).then(response => {
                        this.dicModel = response.data;                        
                        this.loading = false;
                        this.nsiDisabled = true;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                        this.loading = false;
                    });
                }
            },

            getTitle() {
                return 'Значения справочников НСИ';
            },
        },
        watch: {},
        computed: {},
        activated() { },
        created() {
            this.loading = true;
            const request = new PagedSortRequestModel(1
                , 0
                , ['nameRu']
                , ['0']
                , null);

            DictionaryService.getNsis(request).then(response => {
                this.nsis = response.data.data;
                this.loading = false;
                this.load();
            }, err => {
                this.alerts.push(new AlertModel(
                    err,
                    'warning',
                    true
                ));
                this.loading = false;
            });
        }
    });

</script>
