﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-container>
                                    <v-row>
                                        <v-col>
                                            <v-autocomplete label="Организации"
                                                            :items="dics.orgs"
                                                            v-model="request.organizationIds"
                                                            clearable multiple hide-details
                                                            hide-selected outlined dense
                                                            item-text="name" @click:clear="clearOrgs()"
                                                            item-value="id" class="mx-2 my-0">
                                            </v-autocomplete>
                                        </v-col>
                                        <v-col>
                                            <v-autocomplete label="Вид документа"
                                                            :items="dics.docTypes"
                                                            v-model="request.documentTypeIds"
                                                            clearable multiple hide-details
                                                            hide-selected outlined dense
                                                            item-text="name" @click:clear="clearDocTypes()"
                                                            item-value="id" class="mx-2 my-0">
                                            </v-autocomplete>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-autocomplete label="Статусы"
                                                            :items="dics.statuses"
                                                            v-model="request.statusIds"
                                                            clearable multiple hide-details
                                                            hide-selected outlined dense
                                                            item-text="name" @click:clear="clearStatues()"
                                                            item-value="id" class="mx-2 my-0">
                                            </v-autocomplete>
                                        </v-col>
                                        <v-col>
                                            <v-text-field label="Номер документа"
                                                          v-model="request.documentNumber"
                                                          dense hide-details clearable
                                                          outlined @click:clear="clearDocNumber()">
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-menu v-model="controls.dateStartFromMenu"
                                                    :close-on-content-click="false"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-model="request.dateStartFromFormatted"
                                                                  label="Период с"
                                                                  prepend-icon="mdi-calendar"
                                                                  readonly dense outlined clearable
                                                                  hide-details
                                                                  v-bind="attrs" @click:clear="clearDateFrom()"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="request.dateStartFrom"
                                                               no-title
                                                               scrollable
                                                               :first-day-of-week="0"
                                                               :show-current="true"
                                                               locale="ru-ru">
                                                    <v-spacer></v-spacer>
                                                    <v-btn text
                                                           color="primary"
                                                           @click="controls.dateStartFromMenu = false">
                                                        Отмена
                                                    </v-btn>
                                                    <v-btn text
                                                           color="primary"
                                                           @click="controls.dateStartFromMenu = false">
                                                        Ok
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col>
                                            <v-menu v-model="controls.dateStartToMenu"
                                                    :close-on-content-click="false"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-model="request.dateStartToFormatted"
                                                                  label="до"
                                                                  prepend-icon="mdi-calendar"
                                                                  readonly dense outlined clearable
                                                                  hide-details
                                                                  v-bind="attrs" @click:clear="clearDateTo()"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="request.dateStartTo"
                                                               no-title
                                                               scrollable
                                                               :first-day-of-week="0"
                                                               :show-current="true"
                                                               locale="ru-ru">
                                                    <v-spacer></v-spacer>
                                                    <v-btn text
                                                           color="primary"
                                                           @click="controls.dateStartToMenu = false">
                                                        Отмена
                                                    </v-btn>
                                                    <v-btn text
                                                           color="primary"
                                                           @click="controls.dateStartToMenu = false">
                                                        Ok
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>

                                                <v-btn color="success" class="mr-2"
                                                       @click="exportToExcel()">
                                                    Выгрузить в Excel
                                                </v-btn>
                                                <v-btn color="primary"
                                                       @click="load()">
                                                    Сформировать
                                                </v-btn>
                                            </v-card-actions>

                                        </v-col>
                                    </v-row>
                                </v-container>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>

                            <template v-slot:item.docStartDate="{ item }">
                                {{ item.docStartDate | date }}
                            </template>
                            <template v-slot:item.docEndDate="{ item }">
                                {{ item.docEndDate | date }}
                            </template>
                            <template v-slot:item.createDate="{ item }">
                                {{ item.createDate | date }}
                            </template>
                            <template v-slot:item.modifyDate="{ item }">
                                {{ item.modifyDate | date }}
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>
    </v-container>
</template>

<script lang="ts">
    import moment from 'moment';

    import { Component, Vue } from 'vue-property-decorator';

    import { CdReportRequestModel } from '@/models/reports/CdReportRequest.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';    
    import { AlertModel } from '@/models/Alert.model';

    import OrganizationService from '@/services/registries/organization.service';
    import DictionaryService from '@/services/dictionary.service';
    import ReportsService from '@/services/reports/reports.service';

    export default Vue.extend({
        name: 'ComplienceDocReport',
        props: { },
        data: () => ({
            loading: true,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Организация', value: 'authorOrgNameRu'
                },
                {
                    text: 'Вид документа', value: 'docTypeNameRu'
                },
                {
                    text: 'Номер документа', value: 'docNumber'
                },
                {
                    text: 'Статус', value: 'statusNameRu'
                },
                {
                    text: 'Дата создания', value: 'createDate'
                },
                {
                    text: 'Дата подтверждения', value: 'modifyDate'
                },
                {
                    text: 'Срок действия с', value: 'docStartDate'
                },
                {
                    text: 'Срок действия по', value: 'docEndDate'
                },
                {
                    text: 'Количество оформленных ЭП', value: 'digitalPassportCount'
                }
            ],
            dics: {
                orgs: [],
                docTypes: [],
                statuses: [],
            },
            controls: {
                dateStartFromMenu: false,
                dateStartToMenu: false,
            },
            data: new Array<any>(),
            alerts: new Array<AlertModel>(),
            request: new CdReportRequestModel()
        }),
        components: { },
        methods: {
            find() {
                this.load();
            },

            clearDateFrom() {
                this.request.dateStartFrom = undefined;
                this.load();
            },
            clearDateTo() {
                this.request.dateStartTo = undefined;
                this.load();
            },
            clearOrgs() {
                this.request.organizationIds = [];
                this.load();
            },
            clearStatues() {
                this.request.statusIds = [];
                this.load();
            },
            clearDocTypes() {
                this.request.documentTypeIds = [];
                this.load();
            },
            clearDocNumber() {
                this.request.documentNumber = '';
                this.load();
            },

            load() {
                const me = this;
                me.loading = true;
                me.alerts = [];

                const paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let filter = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , (sortDesc && sortDesc.length > 0 && sortDesc[0] == true ? ['1'] : ['0'])
                    , this.request);

                ReportsService.getCdReportData(filter).then((response) => {
                    me.data = response.data.data;
                    me.total = response.data.total;
                    me.loading = false;
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            exportToExcel() {
                const me = this;
                me.loading = true;
                me.alerts = [];

                const paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let filter = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , (sortDesc && sortDesc.length > 0 && sortDesc[0] == true ? ['1'] : ['0'])
                    , this.request);

                ReportsService.exportCdReportToExcel(filter).then((response) => {
                    me.loading = false;

                    let blob = new Blob([response as any]);
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'ComlienceDocReport_' + (new Date()).toISOString() + '.xlsx');
                    document.body.appendChild(link);
                    link.click();
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            getTitle() {
                return 'ОТТС/ОТШ/СБКТС';
            },
            formatDate: function (inDate) {
                return inDate
                    ? moment(inDate).format("DD.MM.YYYY")
                    : "";
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },

            'request.dateStartFrom': function (val, oldVal) {
                this.request.dateStartFromFormatted = this.formatDate(val);                
            },
            'request.dateStartTo': function (val, oldVal) {
                this.request.dateStartToFormatted = this.formatDate(val);
            },
        },
        computed: { },
        activated() { },
        created() {
            var params = new URLSearchParams();
            //params.append("orgTypeCodes", "manufacturer");
            //params.append("orgTypeCodes", "representativemanufacturer");
            //params.append("orgTypeCodes", "assemblyplant");
            //params.append("orgTypeCodes", "assemblykitsupplier");
            OrganizationService.getList(params)
                .then((response) => {
                    this.dics.orgs = response.data;
                }).catch((err) => {

                });

            DictionaryService.getStatuses('compliencedoc').then((response) => {
                this.dics.statuses = response.data;
            }).catch((err) => {
                this.alerts.push(new AlertModel(
                    err,
                    'warning',
                    true
                ));
            });

            DictionaryService.getDicDocTypes().then((response) => {
                this.dics.docTypes = response.data;
            }).catch((err) => {
                this.alerts.push(new AlertModel(
                    err,
                    'warning',
                    true
                ));
            });
        }
    });

</script>
