﻿<template>
    <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                Общий отчет по электронным паспортам
                            </h2>
                        </v-card>
                    </v-col>
                </v-row>
                <v-form ref="form"
                        v-model="valid">
                    <v-row>
                        <v-col align="center">
                            <v-autocomplete v-model="region"
                                            :items="regions"
                                            item-text="value"
                                            item-value="key"
                                            label="Область"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                        <v-col align="center">
                            <v-autocomplete v-model="org"
                                            :items="orgs"
                                            item-text="value"
                                            item-value="key"
                                            label="Организации"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                        <v-col align="center">
                            <v-autocomplete v-model="kind"
                                            :items="kinds"
                                            item-text="value"
                                            item-value="key"
                                            label="Виды ЭП"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col align="center">
                            <v-autocomplete v-model="status"
                                            :items="statuses"
                                            item-text="value"
                                            item-value="key"
                                            label="Статус ЭП"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                        <v-col align="center">
                            <v-autocomplete v-model="regKind"
                                            :items="regKinds"
                                            item-text="value"
                                            item-value="key"
                                            label="Основание оформления"
                                            clearable
                                            hint="по умолчанию все"
                                            persistent-hint>
                            </v-autocomplete>
                        </v-col>
                        <v-col align="center">
                            <v-menu ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="dates"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="dates"
                                                  label="Период"
                                                  clearable
                                                  prepend-icon="mdi-calendar"
                                                  readonly
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="dates"
                                               no-title
                                               range
                                               scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text
                                           color="primary"
                                           @click="menu = false">
                                        Cancel
                                    </v-btn>
                                    <v-btn text
                                           color="primary"
                                           @click="$refs.menu.save(dates)">
                                        OK
                                    </v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col align="center">
                            <v-btn @click="showReport"
                                   color="primary"
                                   dark
                                   :loading="loading"
                                   class="ma-2">
                                Сформировать
                            </v-btn>
                        </v-col>
                        <v-col align="center">
                            <export-excel 
                                    worksheet="Отчет"
                                    name="Отчет по ЭП.xls"
                                    :fields="json_fields"
                                    :data="json_data">
                                <v-btn color="primary"
                                       dark
                                       :loading="loading"
                                       class="ma-2">
                                    Выгрузить в Excel
                                </v-btn>
                            </export-excel>

                        </v-col>
                    </v-row>
                </v-form>
                <v-row>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="docList"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :search="search"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.aspNetUser.organization.juridicalDistinctOrCity.nameRu="{ item }">
                                <td>{{item.aspNetUser.organization.juridicalDistinctOrCity==null?'Отсутствует':item.aspNetUser.organization.juridicalDistinctOrCity.nameRu}}</td>
                            </template>
                            <template v-slot:item.docType="{ item }">
                                <td>{{item.docType==1?'ЭПТС':item.docType==2?'ЭПШТС':'ЭПСМ'}}</td>
                            </template>
                            <template v-slot:item.vehicleEPassportBaseCode="{ item }">
                                <td>{{regKinds.filter(x=>x.key==item.vehicleEPassportBaseCode)[0].value}}</td>
                            </template>
                            <template v-slot:item.created="{ item }">
                                <td>{{item.created| date}}</td>
                            </template>
                            <template v-slot:item.modified="{ item }">
                                <td>{{item.modified | date }}</td>
                            </template>
                            <template v-slot:item.declineDate="{ item }">
                                <td>{{item.declineDate | date}}</td>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small
                                        loading
                                        color="blue darken-2"
                                        @click="viewItem(item)">
                                    mdi-eye
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import DateHelper from '@/helpers/date.helper';
    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import DPassportService from '@/services/document/dpassport.service';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { ReportFilterModel } from '@/models/documents/dpassport/ReportFilter.model';


    export default Vue.extend({
        name: 'PassportReport',
        data: () => ({
            rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }]
            },
            valid: true,
            
            menu: false,
            search: '',
            role: JSON.parse(localStorage.getItem('user') as string).role.toLowerCase(),
            loading: false,
            total: 0,
            options: {},
            json_fields: {
                'Область': {
                    field: 'aspNetUser.organization.juridicalDistinctOrCity.nameRu',
                    callback: (value) => {
                        if (value == "") return "Отсутствует"
                        return value;
                    }
                },
                'Организация': 'aspNetUser.organization.nameRu',               
                'Номер ЭП': 'uniqueCode',                
                'Вид ЭП': {
                    field: 'docType',
                    callback: (docType) => {
                        return `${docType == 1 ? 'ЭПТС' : docType == 2 ? 'ЭПШТС' : 'ЭПСМ'}`;
                    }
                },
                'Основание': {
                    field: 'vehicleEPassportBaseCode',
                    callback: (value) => {
                        if (value == '01') return 'изготовление транспортного средства (шасси, машины)';
                        if (value == '02') return 'ввоз  транспортного средства (шасси, машины) на таможенную территорию Союза из государства, не являющегося членом Союза';
                        if (value == '03') return 'оформление электронного пасорта на транспортное средство (машину), зарегестрированное органом регистрации';
                        if (value == '04') return 'оформление электронного пасорта на транспортное средство (шасси, машину) на иных основаниях';
                    }
                },
                'Статуc': 'statusNsi.nameRu',
                'Марка': 'vehicleMakeNameNsi.nameRu',
                'Категория': 'vehicleTechCategoryCodeNsi.nameRu',
                'Тип': 'vehicleTypeId',
                'Год изготовления': 'manufactureYear',
                'Автор': 'aspNetUser.userName',
                'Дата оформления': {
                    field: 'created',
                    callback: (value) => {
                        return DateHelper.formatDateTime(value);
                    }
                }
            },
            json_data:[],
            //data fields
            region: '',
            regions: [],
            org: '',
            orgs: [],
            kind: '',
            kinds: [{ key: '1', value: 'ЭПТС' }, { key: '2', value: 'ЭПШТС' }, { key: '3', value: 'ЭПСМ' },],
            status: '',
            statuses: [],
            regKind: '',
            regKinds: [{ key: '01', value: 'изготовление транспортного средства (шасси, машины)' },
                { key: '02', value: 'ввоз  транспортного средства (шасси, машины) на таможенную территорию Союза из государства, не являющегося членом Союза' },
                { key: '03', value: 'оформление электронного пасорта на транспортное средство (машину), зарегестрированное органом регистрации' },
                { key: '04', value: 'оформление электронного пасорта на транспортное средство (шасси, машину) на иных основаниях' }],
            dates: [],

            headers: [
                {
                    text: 'Область', value: 'aspNetUser.organization.juridicalDistinctOrCity.nameRu'
                },
                {
                    text: 'Организация', value: 'aspNetUser.organization.nameRu'
                },
                {
                    text: 'Номер ЭП', value: 'uniqueCode'
                },
                {
                    text: 'Вид ЭП', value: 'docType'
                },
                {
                    text: 'Основание', value: 'vehicleEPassportBaseCode'
                },
                {
                    text: 'Статуc', value: 'statusNsi.nameRu'
                },
                {
                    text: 'Марка', value: 'vehicleMakeNameNsi.nameRu'
                },
                {
                    text: 'Категория', value: 'vehicleTechCategoryCodeNsi.nameRu'
                },
                {
                    text: 'Тип', value: 'vehicleTypeId'
                },
                {
                    text: 'Год изготовления', value: 'manufactureYear'
                },
                {
                    text: 'Автор', value: 'aspNetUser.userName'
                },
                {
                    text: 'Дата оформления', value: 'created'
                }
            ],
            docList: []
        }),
        methods: {
            create: function () {
                this.$router.push('/create_application');
            },
            showReport: function () {
                //if ((this.$refs.form as any).validate()) {
                    this.load(false)
                //}
            },
            downloadExcel: function () {
                //if ((this.$refs.form as any).validate()) {
                    this.load(true)
                //}
            },
            load(excel: boolean) {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;
                let from = ''
                let till = ''
                if (this.dates != null && this.dates.length > 0) from = this.dates[0];
                if (this.dates != null && this.dates.length > 1) till = this.dates[1];
                let filter = new ReportFilterModel(
                    this.region, this.org, this.kind, this.status, this.regKind, from, till
                )
                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , filter);
                DPassportService.getReportList(request)
                    .then(response => {
                        this.docList = response.data.data.tableData;
                        this.json_data = response.data.data.jsonData;

                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            }
        },
        watch: {
            options: {
                handler() {
                    this.load(false);
                },
                deep: true,
            },
        },

        async mounted() {
            DictionaryService.getKatosByParentCode('0000000000')
                .then(response => {
                    this.regions = response.data.map(function (nsi) { return { key: nsi.code, value: nsi.name } });
                }).catch(err => {
                });
            const statusList: any = await DictionaryService.getNsiValueList(['nsi022']);
            
            this.statuses = statusList.data.filter(x => x.nsiCode == "nsi022").map(function (nsi) { return { key: nsi.code, value: nsi.name } });
            
            var params = new URLSearchParams();
            params.append("orgTypeCodes", "manufacturer");
            params.append("orgTypeCodes", "authority");
            params.append("orgTypeCodes", "applicant");
            params.append("orgTypeCodes", "representativemanufacturer");
            params.append("orgTypeCodes", "assemblyplant");
            params.append("orgTypeCodes", "assemblykitsupplier");
            params.append("orgTypeCodes", "laboratory");
            
            const fetchOrgs: any = await OrganizationService.getList(params);
            this.orgs = fetchOrgs.data.map(function (org) { return { key: org.id, value: org.name } });          
        },

        computed: {},
        activated() { },
        async created() {
        },
        beforeRouteUpdate(to, from, next) {
            //this.load();
            next();
        }
    });

</script>
