﻿<template>
    <v-snackbar v-model="snackbar"
                :multi-line="multiLine">
        {{ text }}
        <v-btn color="red"
               text
               @click="snackbar = false">
            Close
        </v-btn>
    </v-snackbar>
</template>
<script>
import { Action, Getter } from 'vuex-class';
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class MySnackBar extends Vue {
    data() {
        return {
            multiLine: true,
            snackbar: false,
            text: 'HR',
        }
    };
    showSnackBar(text) {
        this.snackbar = true;
        this.text = text;
    };
  }
</script>