﻿<template>
    <v-layout column align-center>
        <v-row align="center">

            <v-form ref="form"
                    v-model="valid">
                <v-text-field v-model="name"
                              :counter="10"
                              :rules="nameRules"
                              label="Your name"
                              required></v-text-field>

                <v-text-field v-model="wetness"
                              :rules="wetnessRules"
                              label="Wetness"
                              min="0"
                              step=".1"
                              type="number"
                              required></v-text-field>
                <v-text-field v-model="temperature"
                              :rules="temperatureRules"
                              label="Temperature"
                              min="0"
                              step=".1"
                              type="number"
                              required></v-text-field>
                
                <v-btn class="ma-2"
                       :loading="loading"
                       :disabled="loading"
                       color="secondary"
                       @click="loader = 'loading'">
                    Accept Terms
                </v-btn>
                <v-btn color="success"
                       class="mr-4"
                       @click="validate">
                    Validate
                </v-btn>

                <v-btn color="error"
                       class="mr-4 my-4"
                       @click="reset">
                    Reset Form
                </v-btn>

                <v-btn color="warning"
                       @click="resetValidation">
                    Reset Validation
                </v-btn>
            </v-form>
        </v-row>
        
        <v-alert :value="showError" type="error" v-text="errorMessage">
            This is an error alert.
        </v-alert>
    </v-layout>
</template>
<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { JsonResponse } from '../models/JsonResponse';
    import { Weather } from '../models/Weather';
    import { mapState } from 'vuex';
    import { mapMutations } from 'vuex';

    export default Vue.extend({
        name: 'WeatherForm',
        props: {
            someFunctionParent: Function
        },
        data: () => ({
            loader: null,
            loading: false,
            valid: true,
            name: '',
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length <= 10) || 'Name must be less than 10 characters',
            ],
            wetness: '',
            wetnessRules: [
                v => !!v || 'Wetness is required',
            ],
            temperature: '',
            temperatureRules: [
                v => !!v || 'Temperature is required',
            ],
            select: null,
            checkbox: false,
            lazy: false,
            //for snackbar
            multiLine: true,
            snackbar: true,
            text: "Hello",

            showError: false,
            errorMessage: '',

        }),
        watch: {
            loader() {
                //const l = this.loader
                //this[l] = !this[l]
                //setTimeout(() => (this[l] = false), 3000)
                this.loader = null
            },
        },
        computed: {
            ...mapState('auth_access', ['authorized']),
            ...mapState('counter', ['counter'])
        },
        //computed: mapState({
        //    authorized: state => state.auth_access.authorized,
        //    counter: state => state.counter.counter,
        //}),
        methods: {
            validate() {
                //console.log(111, this.authorized);
                //this.$store.commit('auth_access/change_access', true);
                //console.log(111, this.$store.state.auth_access.authorized);
                //this.$root.$children[0].$refs.snackbar.showSnackBar("fgyhnjmk");

                if ((this.$refs.form as any).validate()) {
                    this.createWeather();
                }
            },
            reset() {
                (this.$refs?.form as any)?.reset()
            },
            resetValidation() {
                (this.$refs.form as any).resetValidation()
            },
            async createWeather() {
                try {

                    this.loading = true;
                    const response = await this.axios.post<Weather>('api/Weather', { CityId: this.select, Datetime: Date.now(), Fio: this.name, Temperature: this.temperature, Wetness: this.wetness });
                    var data = response.data;
                    if ((data as any).error){
                        throw new TypeError("Неизвестная ошибка в форме");
                    } else {
                        this.$router.push('fetch-data');
                    }
                } catch (e) {
                    this.showError = true;
                    console.log(e.message);
                    this.snackbar = true;
                    this.text = e.message;
                    this.errorMessage = `Error while loading weather forecast: ${e.message}.`;
                }
                this.loading = false;
            },
            ...mapMutations(['change_access']),
        },
        async created() {
            //await this.fetchCities();
        },
    })
</script>