<template>
    <v-app>
        <v-navigation-drawer id="sideMenu" persistent
                             :mini-variant="miniVariant"
                             v-if="authorized"
                             :clipped="clipped"
                             v-model="drawer"
                             enable-resize-watcher
                             fixed
                             app>
            <v-expansion-panels :accordion=true
                                :flat=true
                                :inset=false
                                :popout=false
                                :focusable=true
                                class="mt-5"
                                v-model="openedPanel">

                <v-img class="mb-3"
                       alt="Logo"
                       max-width="80px"
                       src="/img/logo.svg">
                </v-img>
                <v-list dense expand nav>
                    <template v-for="(item,i) in menuItems">
                        <v-list-group v-if="item.subitems" :key="i"
                                      v-model="item.active"
                                      :group="item.link"
                                      :prepend-icon="item.action"
                                      no-action>
                            <template v-slot:activator>
                                <v-list-item-icon class="mr-2">
                                    <v-icon v-text="item.icon"></v-icon>
                                </v-list-item-icon>
                                <v-list-item-title v-text="item.title" style="white-space: normal; font-size: 14px;"></v-list-item-title>
                            </template>

                            <template v-if="item.subitems" v-for="(subitem, j) in item.subitems">
                                <v-list-group v-if="subitem.subitems" :key="j" class="pl-8"
                                              v-model="subitem.active"
                                              :group="subitem.link"
                                              :prepend-icon="subitem.action"
                                              no-action>
                                    <template v-slot:activator>
                                        <v-list-item-icon class="mr-2">
                                            <v-icon v-text="subitem.icon"></v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-title v-text="subitem.title" style="white-space: normal; font-size: 14px;"></v-list-item-title>
                                    </template>

                                    <v-list-item v-for="(si, k) in subitem.subitems" :key="k" :to="si.link" style="padding-left: 40px;">
                                        <v-list-item-icon class="mr-2">
                                            <v-icon v-text="si.icon"></v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-title v-text="si.title" style="font-size:small; white-space: normal"></v-list-item-title>
                                    </v-list-item>
                                </v-list-group>

                                <v-list-item v-else :key="j" :to="subitem.link" class="pl-8">
                                    <v-list-item-icon class="mr-2">
                                        <v-icon v-text="subitem.icon"></v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title v-text="subitem.title" style="white-space: normal; font-size: 14px;"></v-list-item-title>
                                </v-list-item>
                            </template>

                            <v-list-item v-else :key="j" :to="subitem.link" class="pl-8">
                                <v-list-item-icon class="mr-2">
                                    <v-icon v-text="subitem.icon"></v-icon>
                                </v-list-item-icon>
                                <v-list-item-title v-text="subitem.title" style="font-size:small; white-space: normal"></v-list-item-title>
                            </v-list-item>
                        </v-list-group>

                        <v-list-item v-else :key="i" :to="item.link">
                            <v-list-item-icon class="mr-2">
                                <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-title v-text="item.title" style="white-space: normal; font-size: 14px;"></v-list-item-title>
                        </v-list-item>
                    </template>
                </v-list>
            </v-expansion-panels>
        </v-navigation-drawer>
        <v-app-bar app :clipped-left="clipped">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <!--<v-btn class="d-none d-lg-flex" icon @click.stop="miniVariant = !miniVariant">
                <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
            <v-btn class="d-none d-lg-flex" icon @click.stop="clipped = !clipped">
                <v-icon>web</v-icon>
            </v-btn>-->
            <v-spacer />
            <v-progress-linear :active="loading"
                               :indeterminate="loading"
                               absolute
                               bottom
                               color="deep-purple accent-4"></v-progress-linear>
            <v-spacer></v-spacer>

            <v-menu bottom left :offset-y="true" class="float-right" v-if="authorized">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mr-3"
                           icon
                           v-bind="attrs"
                           v-on="on">
                        <v-badge color="red accent-4" dot :value="notifications && notifications.length > 0">
                            <v-icon>notifications</v-icon>
                        </v-badge>
                    </v-btn>
                </template>

                <v-list two-line dense>
                        <v-subheader>Уведомления</v-subheader>
                        <v-divider></v-divider>

                        <v-list-item :key="item.title" v-for="(item, index) in notifications">
                            <v-list-item-content>
                                <v-list-item-title v-html="item.title"></v-list-item-title>
                                <v-list-item-subtitle v-html="item.detail"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-divider></v-divider>
                        <v-btn text small @click="routeTo('/notifications')"
                               color="primary">
                            Просмотреть все...
                        </v-btn>
                </v-list>
            </v-menu>


            <v-menu bottom left :offset-y="true" class="float-right" v-if="authorized">
                <template v-slot:activator="{ on, attrs }">
                    <v-avatar color="blue">
                        <v-btn dark
                               icon
                               v-bind="attrs"
                               v-on="on">
                            <v-icon dark>mdi-account-circle</v-icon>
                        </v-btn>
                    </v-avatar>
                </template>
                <v-list>
                    <v-list-item v-for="(item, i) in account_menus"
                                 :key="i"
                                 @click="item.func">
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <div class="greeting-text ml-3 d-none d-md-block">
                <span>
                    {{ authUser ? authUser.name : '' }}
                </span>
            </div>

            <template>
                <div class="locale-switcher mx-md-4">
                    <select v-model="$i18n.locale" dark>
                        <option value="en">🌐 eng</option>
                        <option value="ru">🌐 рус</option>
                        <option value="kz">🌐 қаз</option>
                    </select>
                </div>
            </template>
        </v-app-bar>
        <v-main color="maincolor">
            <router-view @show_message="showsnackbar" @refresh_host="refreshHost" /> <!--:key="$route.fullPath"-->
        </v-main>
        <MySnackBar ref="snackbar" />
        <v-footer app>
            <span>&nbsp;АО&nbsp;«НИТ»&nbsp;&copy;&nbsp;2022</span>
        </v-footer>

        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-text>
                        <user-form v-model="userObj" :submitFn="save" :cancelFn="cancel" :isPerson="true"></user-form>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-row>

    </v-app>
</template>
<style lang="scss">
    /*$color: red;*/
    .locale-switcher option {
        color: black;
    }
    .locale-switcher select {
        color: grey;
    }
    .theme--dark.v-navigation-drawer {
        background-color: #1e1e1e;
    }
    #sideMenu .v-expansion-panel-content__wrap {
        padding:0;
    }
    nav .theme--dark a {
        color: #fafafa;
    }
    nav .v-list-item__icon {
        margin-left: 0px;
    }
</style>

<script lang="ts">
    import { Component, Prop, Vue , Watch} from 'vue-property-decorator';
    import MySnackBar from '@/components/SnackBar.vue';
    import { JsonResponse, Action } from '@/models/JsonResponse';
    import { mapState } from 'vuex';
    import { User } from '@/models/User';
    import { UserModel } from '@/models/administration/User.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';

    import UserForm from '@/views/administration/users/UserForm.vue';
    import UserService from '@/services/administration/user.service';
    import NotificationService from '@/services/notifications/notification.service';

    import ObjectHelper from '@/helpers/object.helper';
    
    
    @Component({
        components: {
            MySnackBar,
            'user-form': UserForm
        },
        computed: {
            ...mapState('auth_access', ['authorized']),
            ...mapState('counter', ['counter']),
        }
    })
    export default class CabinetLayout extends Vue {
        private clipped: boolean = true;
        private drawer: boolean = true;
        private miniVariant: boolean = false;
        private right: boolean = true;
        private menuItems: any[] = [];
        private loading = false;
        private openedPanel = [];
        private self = this;
        protected authUser: User | null = null;
        protected userObj: UserModel | null = null;

        protected notifications: any[] = [];

        protected dialog: boolean = false;

        private async logout() {
            const response = await this.$http.get('/api/Account/LogOut');
            localStorage.clear();
            window.location.href = "/";
        }

        private async viewProfile() {
            let me = this;
            if (me.authUser) {
                UserService.get(me.authUser.id)
                    .then(response => {
                        this.userObj = response.data;
                        if (me.userObj && !me.userObj.userRoles) me.userObj.userRoles = [];
                        this.dialog = true;
                    }).catch(err => {

                    });
            }
        }

        async onExpansionPanelClick(event, i) {
            if (!this.menuItems[i].subitems) {
                event = '';
            }
        }
        async routeTo(link) {
            if (this.$route.path == link) return false;
            this.$router.push(link)
            return false;
        }
        private account_menus = [
            { title: 'Мой профиль', func: this.viewProfile },
            { title: 'Выйти из системы', func: this.logout },
            //{ title: 'Click Me', func: () => { console.log(2) } },
            //{ title: 'Click Me', func: () => { console.log(3) } },
            //{ title: 'Click Me 2', func: () => { console.log(4) } },
        ];
        public showsnackbar(text: string): void {
            console.log("this.$refs.snackbar: ", this.$refs.snackbar);
            (this.$refs.snackbar as any).showSnackBar(text);
        }
        @Watch('$i18n.locale')
        localeChanged(locale: string) {
            this.loadMenu(locale);
        }

        refreshHost() {
            this.authUser = JSON.parse(localStorage.getItem('user')!) as User;
            this.loadMenu(this.$i18n.locale);
        }

        loadMenu(locale) {
            const me = this;
            import(`@/data/menu/${locale}.json`).then(res => {
                let menuItems = ObjectHelper.deepCopy(res.menu) as any[];

                menuItems.find(mi => {
                    if (mi.subitems) {
                        mi.subitems.forEach(si => {
                            if (si.subitems) {
                                si.subitems.forEach(ssi => {
                                    if (me.$router.currentRoute.fullPath.indexOf(ssi.link) >= 0) {
                                        ssi.active = si.subitems.indexOf(sssi => sssi.link == ssi.link);
                                        return;
                                    } else {
                                        ssi.active = -1;
                                    }
                                });
                            } else {
                                if (me.$router.currentRoute.fullPath.indexOf(si.link) >= 0) {
                                    si.active = mi.subitems.indexOf(ssi => ssi.link == si.link);
                                    return;
                                } else {
                                    si.active = -1;
                                }
                            }
                        });
                    } else {
                        if (me.$router.currentRoute.fullPath.indexOf(mi.link) >= 0) {
                            mi.active = me.menuItems.indexOf(mi);
                            return;
                        } else {
                            mi.active = -1;
                        }
                    }
                });

                me.menuItems = menuItems.filter(mi => {
                    if (mi.subitems) {
                        mi.subitems = mi.subitems.filter(si => {
                            if (si.permissions) {
                                if (me.authUser?.claims) {
                                    return me.authUser?.claims.some(c => si.permissions.includes(c));
                                } else {
                                    return false;
                                }
                            }
                            return true;
                        });
                    }
                    if (mi.subitems && mi.subitems.length == 0) {
                        return false;
                    }
                    if (mi.permissions) {
                        if (me.authUser?.claims) {
                            return me.authUser?.claims.some(c => mi.permissions.includes(c));
                        } else {
                            return false;
                        }
                    }
                    return true;
                });

            });
        }

        created() {
            this.notifications = [];
            this.localeChanged(this.$i18n.locale);
            const CancelToken = this.axios.CancelToken;
            const source = CancelToken.source();

            this.authUser = JSON.parse(localStorage.getItem('user')!) as User;

            if (!this.authUser) {
                this.routeTo('/login');
            } else {
                const request = new PagedSortRequestModel(1, 5, [], [], {
                    currentUserId: this.authUser.id,
                    IsShowUnreadOnly: true
                });
                NotificationService.getList(request).then(response => {
                    this.notifications = response.data.data;
                }, err => {
                    this.loading = false;
                });
            }

            if (this.authUser && this.authUser.isPasswordExpire) {
                this.$store.commit('auth_access/change_access', false);
                this.routeTo('/changepassword');
            }

            this.axios.interceptors.request.use(req => {
                    this.loading = true;
                    req.cancelToken = source.token;
                    if (localStorage.hasOwnProperty('user')) {
                        var user = JSON.parse(localStorage.getItem('user')!);
                        req.headers.Authorization = `Bearer ${user.token}`;
                    }
                    return req;
            });
            this.axios.interceptors.response.use(
                (response: any) => {
                    this.loading = false
                    if (response.data.hasOwnProperty("action") && response.data.hasOwnProperty("status") && response.data.hasOwnProperty("text")) {
                        if (response.data.status == "Error" && response.data.text != "") {
                            this.showsnackbar(response.data.text);
                        }
                        if (response.data.action == Action.ShouldLogin) {
                            localStorage.clear();
                            source.cancel('Operation canceled by the user.');

                            window.location.href = '/login'
                            return;
                        }
                        if (response.data.action == Action.AccessDenied) {
                            this.showsnackbar("Доступ запрещен");
                            return;
                        }
                    }
                    return response.data;

                },
                error => {
                    this.loading = false
                    if (401 <= error.response.status && error.response.status < 500) {
                        this.showsnackbar("Доступ запрещен");
                    }
                    if (500 <= error.response.status) {
                        this.showsnackbar("Сервис недоступен");
                        if (511 == error.response.status) {
                            localStorage.clear();
                            this.$router.push('/login');
                        }
                    }
                    return;
                });

            const me = this;
            this.$router.afterEach((to, from) => {
                const authUser = JSON.parse(localStorage.getItem('user')!) as User;
                if (authUser) {
                    const request = new PagedSortRequestModel(1, 5, [], [], {
                        currentUserId: authUser.id,
                        IsShowUnreadOnly: true
                    });
                    NotificationService.getList(request).then((response) => {
                        me.notifications = response.data.data;
                    }, (err) => { });
                }
            });
        }

        save(userObj: UserModel) {
            this.dialog = false;
        }
        cancel() {
            this.dialog = false;
        }
    }
</script>