<template>
    <v-app app>
        <v-app-bar app dark
                   v-scroll="onScroll"
                   :color="!isScrolling ? 'transparent' : 'grey darken-3'"
                   fixed flat>
            <div class="row mx-auto py-0">
                <div class="row align-center">
                    <v-spacer />

                    <v-btn text href="/#welcome">
                        Главная
                    </v-btn>
                    <v-btn text href="/#news">
                        Новости
                    </v-btn>
                    <v-btn text href="/#faq-section">
                        ЧЗВ
                    </v-btn>

                    <v-spacer />
                    <!--
                    <v-btn class="ma-2" @click="dialogCheck = true;"
                           outlined>
                        Проверка статуса ЭП
                    </v-btn>
		    -->

                    <v-btn class="ma-2" @click="dialogLogin = true;"
                           outlined>
                        Вход
                    </v-btn>
                </div>
            </div>
        </v-app-bar>
        <v-main class="ma-0 pa-0" id="main-content">
            <welcome />

            <statInfo />

            <news />

            <faq />
        </v-main>
        <v-footer class="justify-center"
                  color="#292929"
                  height="100">
            <div class="title font-weight-light grey--text text--lighten-1 text-center">
                &copy; 2022 — Система электронных паспортов. АО «НИТ».
            </div>
        </v-footer>


        <v-dialog v-model="dialogLogin"
                  transition="dialog-bottom-transition"
                  max-width="500">
            <v-container class="text-center">
                <v-card>
                    <v-card-title>
                        <h2 class="ma-auto">
                            Вход в систему
                        </h2>
                    </v-card-title>
                    <v-card-text>
                        <v-btn class="ma-2" @click="loginArm"
                               outlined>
                            Вход в АРМ
                        </v-btn>

                        <v-btn class="ma-2" @click="loginLk"
                               outlined>
                            Вход в ЛК
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-container>
        </v-dialog>

        <v-dialog v-model="dialogCheck"
                  transition="dialog-bottom-transition"
                  max-width="500">
            <v-container class="text-center">
                <v-card>
                    <v-card-title>
                        <h2 class="ma-auto">
                            Проверка статуса 
                            <br/>
                            электронного паспорта
                        </h2>
                    </v-card-title>
                    <v-card-text class="py-0">
                        <v-radio-group v-model="requestType"
                                       column>
                            <v-radio label="VIN-код"
                                     value="vin"></v-radio>
                            <v-radio label="Номер ЭП"
                                     value="epts"></v-radio>
                        </v-radio-group>
                        <v-text-field outlined dense></v-text-field>                        
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="error" block>
                            Проверить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-container>
        </v-dialog>

    </v-app>
</template>
<style lang="scss">

</style>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component({
        components: {
            Welcome: () => import('@/views/public/Welcome.vue'),
            StatInfo: () => import('@/views/public/StatInfo.vue'),
            ExternalResource: () => import('@/views/public/ExternalResource.vue'),
            Faq: () => import('@/views/public/Faq.vue'),
            News: () => import('@/views/public/News.vue'),
        },
        computed: { }
    })
    export default class PublicLayout extends Vue {
        protected isScrolling: boolean = false;
        protected dialogLogin: boolean = false;
        protected dialogCheck: boolean = false;
        protected requestType: any = {};

        created() {  }

        onScroll() {
            const offset = window.pageYOffset
            this.isScrolling = offset > 50;
        }

        loginArm() {
            this.$store.commit('layout_store/set_cabinet', 'arm')
            this.$store.commit('layout_store/set_layout', 'cabinet-layout');
        }
        loginLk() {
            this.$store.commit('layout_store/set_cabinet', 'lk')
            this.$store.commit('layout_store/set_layout', 'cabinet-layout');
        }
    }
</script>