﻿<template>
    <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                Заявления на изменение электронного паспорта
                            </h2>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row v-if="role=='Уполномоченный орган' || role == 'Организация-изготовитель'">
                    <v-col align="left">
                        <v-btn @click="create"
                               color="primary"
                               dark
                               class="mb-2">
                            Создать
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="docList"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :search="search"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">

                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.digitalPassport.docType="{ item }">
                                <td>{{item.digitalPassport.docType==1?'ЭПТС':item.digitalPassport.docType==2?'ЭПШТС':'ЭПСМ'}}</td>
                            </template>
                            <template v-slot:item.created="{ item }">
                                <td>{{item.created| date}}</td>
                            </template>
                            <template v-slot:item.modified="{ item }">
                                <td>{{item.modified | date }}</td>
                            </template>
                            <template v-slot:item.declineDate="{ item }">
                                <td>{{item.declineDate | date}}</td>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small
                                        loading
                                        color="blue darken-2"
                                        @click="viewItem(item)">
                                    mdi-eye
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import ComplienceService from '@/services/document/complience.service';
    import ChangeApplicationService from '@/services/document/changeApplication.service';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { DocFilterModel } from '@/models/documents/dpassport/DocFilter.model';


    export default Vue.extend({
        name: 'ChangeApplicationList',
        data: () => ({
            search: '',
            role: JSON.parse(localStorage.getItem('user') as string).role.toLowerCase(),
            loading: true,
            total: 0,
            options: {},
            headers: [
                {
                    text: 'Дата подачи', value: 'created'
                },
                {
                    text: 'Организация', value: 'userCreated.organization.nameRu'
                },
                {
                    text: 'Автор', value: 'userCreated.userName'
                },
                {
                    text: 'Вид ЭП', value: 'digitalPassport.docType'
                },
                {
                    text: 'Номер ЭП', value: 'digitalPassport.uniqueCode'
                },
                {
                    text: 'Идентификационный номер', value: 'digitalPassport.vehicleIdentityNumberId'
                },
                {
                    text: 'Марка', value: 'digitalPassport.vehicleMakeNameNsi.nameRu'
                },
                {
                    text: 'Статус заявления', value: 'statusNsi.nameRu'
                },
                {
                    text: 'Дата отклонения', value: 'declineDate'
                },
                {
                    text: 'Причина отклонения', value: 'declineDescription'
                },
                {
                    text: 'Дата исполнения', value: 'modified'
                },
                { text: 'Управление', value: 'actions', sortable: false }
            ],
            docList: []
        }),
        methods: {
            create: function () {
                this.$router.push('/create_application');
            },
            editItem: function (item) {
                //this.$router.push('/compliencedocument/' + item.docTypeCode + '/' + item.id);
            },
            deleteItem: function (item) {
            },
            viewItem: function (item) {
                this.$router.push('/view_application/' + item.id);
            },
            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new DocFilterModel(
                    ));
                ChangeApplicationService.getList(request)
                    .then(response => {
                        this.docList = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            }
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },

        computed: {},
        activated() { },
        async created() {
        },
        beforeRouteUpdate(to, from, next) {
            this.load();
            next();
        }
    });

</script>
