﻿<template>
    <v-container fluid>
        <v-form ref="form"
                lazy-validation>
            <v-row>
                <v-col>
                    <v-card class='pa-2 ma-2' outlined tile>
                        <h2 style='text-align: center'>
                            Заявления на изменение электронного паспорта
                        </h2>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="3">
                    <v-text-field v-model="digitalPassportKind"
                                  label="Вид ЭП"
                                  readonly></v-text-field>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="3">
                    <v-text-field v-model="digitalPassportId"
                                  label="Номер ЭП"
                                  readonly></v-text-field>
                </v-col>
            </v-row>
                <v-row justify="center">
                    <v-col cols="3">
                        <v-text-field v-model="isFieldChangeText"
                                      label="Выбрано действие"
                                      readonly></v-text-field>
                    </v-col>
                </v-row>
                <template v-if="isFieldChange">
                    <div v-for="(input, index) in fieldChangeList"
                         :key="`input-${index}`"
                         class="input wrapper flex items-center">
                        <v-col cols="12">
                            <v-card>
                                <v-card-title class="grey">
                                    <span>Изменение значения поля электронного паспорта транспортного средства</span>
                                </v-card-title>
                                <v-card-text class="pt-2">
                                    <v-row>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.section"
                                                          label="Раздел"
                                                          readonly></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.field"
                                                          label="Наименование поля"
                                                          readonly></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.preValue"
                                                          label="Текущее значение"
                                                          readonly></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.postValue"
                                                          label="Новое значение"
                                                          readonly></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-textarea v-model="input.reason"
                                                        name="input-7-1"
                                                        filled
                                                        label="Причина"
                                                        auto-grow
                                                        readonly></v-textarea>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </div>
                </template>
                <template v-else>
                    <h2 style="color:orange">Текущий статус ЭП: {{currentStatus}}</h2>
                    <v-text-field v-model="changeStatus"
                                  label="Требуемый статус"
                                  readonly></v-text-field>
                    <v-textarea v-model="changeStatusReason"
                                name="input-7-1"
                                filled
                                label="Причина"
                                auto-grow
                                readonly></v-textarea>
                </template>
                <h3 style="color:orange" v-if="attachedFiles.length > 0">Прикрепленные документы</h3>
                <div v-for="(inputFile, indexFile) in attachedFiles"
                     :key="`inputFile-${indexFile}`"
                     class="input wrapper flex items-center">
                    <v-btn class="ma-2"
                           outlined
                           @click="download(inputFile)">
                        {{inputFile.fileName}}
                    </v-btn>
                </div>
            
            <template v-if="role !='Уполномоченный орган' && role != 'Организация-изготовитель'">
                <v-textarea v-model="declineDescription"
                            name="input-7-1"
                            clearable
                            clear-icon="mdi-close-circle"
                            filled
                            label="Причина отклонения"
                            auto-grow
                            value=""
                            :rules="fieldRules"
                            :readonly="executedDocument"
                            required></v-textarea>
            </template>
            <template v-else>
                <v-textarea v-model="declineDescription"
                            name="input-7-1"
                            filled
                            v-if="declineDescription!=''"
                            label="Причина отклонения"
                            auto-grow
                            readonly></v-textarea>
            </template>
            <v-row justify="center">
                <v-col align="left">
                    <v-btn @click="cancel"
                           color="warning"
                           dark
                           class="mb-2">
                        Отмена
                    </v-btn>
                </v-col>
                <v-col align="center" v-if="executedDocument">
                    <h3 style="color:forestgreen" v-if="currentStatusCode == '05'">Согласованный</h3>
                    <h3 style="color:orangered" v-if="currentStatusCode == '10'">Отклоненный</h3>
                </v-col>
                <v-col align="right" v-if="role !='Уполномоченный орган' && role != 'Организация-изготовитель' && !executedDocument">
                    <v-btn @click="signSendReject"
                           color="error"
                           dark
                           class="mb-2">
                        Отклонить
                    </v-btn>
                </v-col>
                <v-col align="right" v-if="role !='Уполномоченный орган' && role != 'Организация-изготовитель' && !executedDocument">
                    <v-btn @click="signSendAccept"
                           color="primary"
                           dark
                           class="mb-2">
                        Согласовать
                    </v-btn>
                </v-col>
            </v-row>
            <Modal v-if="showModal" :setting="modalSettings">
                <h3 slot="header">Внимание!</h3>
                <h2 slot="body">{{modalText}}</h2>
                <span slot="footer"></span>>
            </Modal>
        </v-form>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import DictionaryService from '@/services/dictionary.service';
    import DPassportService from '@/services/document/dpassport.service';
    import ChangeApplicationService from '@/services/document/changeApplication.service';
    import Modal from '@/components/modal_window.vue';
    import { sectionData } from '@/data/data.js';

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls";
    import { SignedDocModel } from '@/models/registries/SignedDoc.model';
    import SignedDocService from '@/services/reestr/signeddoc.service';


    export default Vue.extend({
        name: 'ChangeApplicationView',
        components: { Modal },
        data: () => ({
            // filter
            fieldRules: [
                v => !!v || 'Объязательное поле',
                v => (v && v.length > 0) || 'Поле не должно быть пустым',
            ],
            rules: {
                select: [function (v) {
                    return !!v || "Объязательный выбор"
                }],
            },
            // system
            role: JSON.parse(localStorage.getItem('user') as string).role.toLowerCase(),
            showModal: false,
            modalSettings: { closeButton: false },
            modalText: '',

            executedDocument: false,

            // fields
            viewId : '',
            digitalPassportKind: '',
            digitalPassportId: '',
            isFieldChange: true,
            isFieldChangeText: '',
            fieldChangeList: [
                {
                    section: '',
                    field: '',
                    preValue: '',
                    postValue: '',
                    reason: ''
                }
            ],
            attachedFiles: [] as any,
            currentStatus: '',
            currentStatusCode: '',
            changeStatus: '',
            changeStatusReason: '',
            declineDescription: '',

            digitalPassportKindList: [{ key: 0, value: "Невыбрано" }, { key: 1, value: "ЭПТС" }, { key: 2, value: "ЭПШТС" }, { key: 3, value: "ЭПСМ" }],
            digitalPassportIdList: [] as any,
            isFieldChangeList: [{ key: false, value: "Изменить статус" }, { key: true, value: "Изменить поле" }],
            sectionList: sectionData,
            statusList: []
        }),
        methods: {
            async download(file) {
                const linkSource = file.fileObject;
                const downloadLink = document.createElement("a");
                const fileName = file.fileName;
                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();
            },
            signSendReject() {
                if (!(this.$refs.form as any).validate()) return;
                this.signSend()
            },
            signSendAccept() {
                this.declineDescription = ''
                this.signSend()
            },
            signSend() {
                this.showModal = true;
                this.modalText = 'Подождите. Идет проверка и подписание документа...';
                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');
                }, err => {
                    console.log('websocket init error = ' + err);
                    this.$emit('show_message', 'Ошибка при подключении к NCALayer. Убедитесь что программа запущена и повторите попытку.');
                    this.showModal = false;
                    return;
                });
                // request data to sign
                ChangeApplicationService.getDataToSignExecute(this.viewId, this.declineDescription).then(r => {
                    if (r.status == 'Ok') {
                        ProcessNcaLayer.signXmlFn(r.data.dataToSign, xmlSigned => {
                            console.log('signXmlFn = ' + xmlSigned);
                            let signedDoc = new SignedDocModel();
                            signedDoc.docId = r.data.signId;
                            signedDoc.docType = 'ChangeApplication';
                            signedDoc.signedXml = xmlSigned;
                            signedDoc.createDate = new Date();

                            ChangeApplicationService.saveSignDataExecute(signedDoc).then(r => {
                                console.log('SignedDocService');
                                this.showModal = false;
                                if (r.status == 'Ok') {
                                    this.$emit('show_message', 'Документ успешно подписан');
                                    setTimeout(() => window.location.href = '/changeapplication', 2000);
                                } else {
                                    this.$emit('show_message', 'Ошибка при подписании: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Ошибка подписания данных!');
                                console.log('SignedDocService error');
                                this.showModal = false;
                                console.log(err);
                            });
                        }, err => {
                            this.$emit('show_message', 'Ошибка подписания данных!');
                            console.log('signXmlFn  error = ' + err);
                            this.showModal = false;
                            return;
                        });

                    } else {
                        this.$emit('show_message', 'Не удалось взять данные для подписи');
                        this.showModal = false;
                        return;
                    }

                }).catch(err => {
                    console.log(err);
                    this.showModal = false;
                });
            },
            cancel() {
                this.$router.push('/changeapplication');
            }
        },
        async created() {
            if (this.$route.params.id) {
                this.viewId = this.$route.params.id;
            }
        },
        async mounted() {
            this.showModal = true;
            this.modalText = 'Загрузка данных..';

            const nsiResponse: any = await DictionaryService.getNsiValueList(["nsi022"]);
            if (nsiResponse.status === 'Error') {
                this.$emit('show_message', nsiResponse.text);
            } else {
                this.statusList = nsiResponse.data.map(function (nsi) { return { key: nsi.code, value: nsi.name } });
            }
            
            ChangeApplicationService.getView(this.viewId).then(r => {
                this.showModal = false;
                if (r.status == 'Ok') {
                    this.digitalPassportKind = this.digitalPassportKindList.filter(x => x.key == r.data.digitalPassport.docType)[0].value;
                    this.digitalPassportId = r.data.digitalPassport.uniqueCode;
                    this.isFieldChange = r.data.isFieldChange;
                    this.isFieldChangeText = r.data.isFieldChange ? 'Изменение значения поля' : 'Изменеие статуса'
                    this.fieldChangeList = [];
                    for (let fchange of r.data.fields) {
                        this.fieldChangeList.push(
                            {
                                section: this.sectionList.filter(x=>x.key == fchange.section)[0].value,
                                field: fchange.field,
                                preValue: fchange.preValue,
                                postValue: fchange.postValue,
                                reason: fchange.reason
                            }
                        )
                    }
                    this.currentStatus = r.data.statusNsi.nameRu
                    this.currentStatusCode = r.data.statusNsi.code
                    this.changeStatus = r.data.changeStatusNsi?.nameRu
                    this.changeStatusReason = r.data.changeStatusReason
                    this.attachedFiles = r.data.files
                    this.executedDocument = !!r.data.executeSignId
                    this.declineDescription = r.data.declineDescription
                } else {
                    this.$emit('show_message', 'Ошибка при загрузке данных: ' + r.text);
                }
            }).catch(err => {
                this.$emit('show_message', err);
                this.showModal = false;
                console.log(err);
            });
        }
    });
</script>