﻿<template>
    <v-container fluid>
        <v-form ref="form"
                lazy-validation>
            <v-row>
                <v-col>
                    <v-card class='pa-2 ma-2' outlined tile>
                        <h2 style='text-align: center'>
                            Заявления на изменение электронного паспорта
                        </h2>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="3">
                    <v-select v-model="digitalPassportKind"
                              :items="digitalPassportKindList"
                              item-text="value"
                              item-value="key"
                              label="Вид ЭП"
                              @change="getDigitalPassportIds"
                              persistent-hint
                              :rules="rules.select"
                              required>
                    </v-select>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="3">
                    <v-autocomplete v-model="digitalPassportId"
                                    :items="digitalPassportIdList"
                                    item-text="value"
                                    item-value="key"
                                    label="Номер ЭП"
                                    v-if="digitalPassportIdList.length > 0"
                                    persistent-hint
                                    :rules="rules.select"
                                    required>
                    </v-autocomplete>
                </v-col>
            </v-row>
            <template v-if="digitalPassportIdList.length > 0 && digitalPassportId != ''">
                <v-row justify="center">
                    <v-col cols="3">
                        <v-select v-model="isFieldChange"
                                  :items="isFieldChangeList"
                                  item-text="value"
                                  item-value="key"
                                  label="Выберите действие"
                                  persistent-hint
                                  required>
                        </v-select>
                    </v-col>
                </v-row>
                <template v-if="isFieldChange">
                    <div v-for="(input, index) in fieldChangeList"
                         :key="`input-${index}`"
                         class="input wrapper flex items-center">
                        <v-col cols="12">
                            <v-card>
                                <v-card-title class="grey">
                                    <span>Изменение значения поля электронного паспорта транспортного средства</span>
                                    <v-spacer></v-spacer>
                                    <!--          Add Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="addCard"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="green"
                                              d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                                    </svg>

                                    <!--          Remove Svg Icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         @click="removeCard(index)"
                                         viewBox="0 0 24 24"
                                         width="24"
                                         height="24"
                                         class="ml-2 cursor-pointer">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path fill="#EC4899"
                                              d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z" />
                                    </svg>
                                </v-card-title>
                                <v-card-text class="pt-2">
                                    <v-row>
                                        <v-col cols="4">
                                            <v-select v-model="input.section"
                                                      :items="sectionList"
                                                      item-text="value"
                                                      item-value="key"
                                                      label="Выберите раздел"
                                                      persistent-hint
                                                      :rules="rules.select"
                                                      required>
                                            </v-select>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.field"
                                                          label="Наименование поля"
                                                          :rules="fieldRules"
                                                          required></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.preValue"
                                                          label="Текущее значение"
                                                          :rules="fieldRules"
                                                          required></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="4">
                                            <v-text-field v-model="input.postValue"
                                                          label="Новое значение"
                                                          :rules="fieldRules"
                                                          required></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-textarea v-model="input.reason"
                                                        name="input-7-1"
                                                        clearable
                                                        clear-icon="mdi-close-circle"
                                                        filled
                                                        label="Причина"
                                                        auto-grow
                                                        value=""
                                                        :rules="fieldRules"
                                                        required></v-textarea>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </div>
                </template>
                <template v-else>
                    <h2 style="color:orange">Текущий статус ЭП: {{currentStatus}}</h2>
                    <v-select v-model="changeStatus"
                              :items="statusList"
                              item-text="value"
                              item-value="key"
                              label="Выберите требуемый статус"
                              persistent-hint
                              :rules="rules.select"
                              required>
                    </v-select>
                    <v-textarea v-model="changeStatusReason"
                                name="input-7-1"
                                clearable
                                clear-icon="mdi-close-circle"
                                filled
                                label="Причина"
                                auto-grow
                                value=""
                                :rules="fieldRules"
                                required></v-textarea>
                </template>
                <v-file-input show-size
                              @change="onFileChange"
                              counter
                              multiple
                              label="Прикрепление документов"></v-file-input>
            </template>
            <v-row justify="center">
                <v-col align="left">
                    <v-btn @click="cancel"
                           color="warning"
                           dark
                           class="mb-2">
                        Отмена
                    </v-btn>
                </v-col>
                <v-col align="right">
                    <v-btn @click="signSend"
                           color="primary"
                           dark
                           class="mb-2">
                        Подписать и отправить
                    </v-btn>
                </v-col>
            </v-row>
            <Modal v-if="showModal" :setting="modalSettings">
                <h3 slot="header">Внимание!</h3>
                <h2 slot="body">{{modalText}}</h2>
                <span slot="footer"></span>>
            </Modal>
        </v-form>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import DictionaryService from '@/services/dictionary.service';
    import DPassportService from '@/services/document/dpassport.service';
    import ChangeApplicationService from '@/services/document/changeApplication.service';
    import Modal from '@/components/modal_window.vue';
    import { sectionData } from '@/data/data.js';

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls";
    import { SignedDocModel } from '@/models/registries/SignedDoc.model';
    import SignedDocService from '@/services/reestr/signeddoc.service';


    export default Vue.extend({
        name: 'ChangeApplicationCreate',
        components: {Modal},
        data: () => ({
            // filter
            fieldRules: [
                v => !!v || 'Объязательное поле',
                v => (v && v.length > 0) || 'Поле не должно быть пустым',
            ],
            rules: {
                select: [function (v) {
                    return !!v || "Объязательный выбор"
                }],
            },
            // system
            showModal: false,
            modalSettings: { closeButton: false },
            modalText: '',

            // fields
            digitalPassportKind: 0,
            digitalPassportId: '',
            isFieldChange: true,
            fieldChangeList: [
                {
                    section: '',
                    field: '',
                    preValue: '',
                    postValue: '',
                    reason: ''
                }
            ],
            attachedFiles: [] as any,
            currentStatus: '',
            currentStatusCode: '',
            changeStatus: '',
            changeStatusReason: '',

            digitalPassportKindList: [{key: 0, value: "Невыбрано" }, { key: 1, value: "ЭПТС" }, { key: 2, value: "ЭПШТС" }, { key: 3, value: "ЭПСМ" }],
            digitalPassportIdList: [] as any,
            isFieldChangeList: [{ key: false, value: "Изменить статус" }, { key: true, value: "Изменить поле" }],
            sectionList: sectionData,
            statusList: []
        }),
        watch: {
            digitalPassportId(newVal) {
                let list = this.digitalPassportIdList.filter(x => x.key == newVal)
                if (list.length > 0) {
                    this.currentStatus = list[0].statusName
                    this.currentStatusCode =  list[0].statusCode
                }
            },
            isFieldChange(newVal) {
                if (newVal) {
                    this.changeStatus = ''
                    this.changeStatusReason = ''
                    this.fieldChangeList = [
                        {
                            section: '',
                            field: '',
                            preValue: '',
                            postValue: '',
                            reason: ''
                        }
                    ]
                } else {
                    this.fieldChangeList = []
                }
            },
        },
        computed: {},
        methods: {
            async getDigitalPassportIds(kind) {
                if (kind == "0") return;
                this.showModal = true;
                this.modalText = 'Подождите. Загружаем список...';
                this.digitalPassportId = ''
                this.digitalPassportIdList = []
                DPassportService.getDigitalPassportListByKind(kind).then(response => {
                    this.digitalPassportIdList = response.data;
                    this.showModal = false;
                }).catch(err => {
                    this.$emit('show_message', "Ошибка запроса. Проверьте доступ интернет");
                    console.log(err)
                    this.showModal = false;
                });
            },
            async onFileChange(files) {
                this.attachedFiles = [];
                if (!files.length)
                    return;
                let maxSize = 10 * 1024 * 1024;// 10MB
                let sumSize = 0;
                for (let file of files) {
                    sumSize += file.size;
                }
                if (sumSize > maxSize) {
                    this.$emit('show_message', `Допустимый объем для прикрепления файлов состовляет ${maxSize/1024/1024} мб!`);
                    this.attachedFiles = []
                    return;
                }
                this.createFiles(files);
            }, 
            async createFiles(files) {
                for (let file of files) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        if (e?.target !== null)
                            this.attachedFiles.push({ fileName: file.name, fileObject: e.target.result });
                    };
                    reader.readAsDataURL(file);
                }
                console.log(this.attachedFiles);
            },
            async addCard() {
                this.fieldChangeList.push({
                        section: '',
                        field: '',
                        preValue: '',
                        postValue: '',
                        reason: ''
                });
            },

            async removeCard(index) {
                if (this.fieldChangeList.length == 1) {
                    this.$emit('show_message', "Нельзя удалять все");
                    return
                }
                this.fieldChangeList.splice(index, 1);
            },
            signSend() {
                console.log((this.$refs.form as any).validate());
                if (!(this.$refs.form as any).validate()) return;
                console.log("signSend");
                this.showModal = true;
                this.modalText = 'Подождите. Идет проверка и подписание документа...';
                let dataToSend = {
                    IsFieldChange: this.isFieldChange,
                    DigitalPassportId: this.digitalPassportId,
                    Fields: this.fieldChangeList,
                    Files: this.attachedFiles,
                    ChangeStatusNsiCode: this.changeStatus,
                    ChangeStatusReason: this.changeStatusReason
                }
                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');
                }, err => {
                    console.log('websocket init error = ' + err);
                    this.$emit('show_message', 'Ошибка при подключении к NCALayer. Убедитесь что программа запущена и повторите попытку.');
                    this.showModal = false;
                    return;
                });
                // request data to sign
                ChangeApplicationService.getDataToSign(dataToSend).then(r => {
                    if (r.status == 'Ok') {
                        ProcessNcaLayer.signXmlFn(r.data.dataToSign, xmlSigned => {
                            console.log('signXmlFn = ' + xmlSigned);
                            let signedDoc = new SignedDocModel();
                            signedDoc.docId = r.data.signId;
                            signedDoc.docType = 'ChangeApplication';
                            signedDoc.signedXml = xmlSigned;
                            signedDoc.createDate = new Date();

                            ChangeApplicationService.saveSignData(signedDoc).then(r => {
                                console.log('SignedDocService');
                                this.showModal = false;
                                if (r.status == 'Ok') {
                                    this.$emit('show_message', 'Документ успешно подписан');
                                    setTimeout(()=>window.location.href = '/changeapplication', 2000);
                                } else {
                                    this.$emit('show_message', 'Ошибка при подписании: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Ошибка подписания данных!');
                                console.log('SignedDocService error');
                                this.showModal = false;
                                console.log(err);
                            });
                        }, err => {
                            this.$emit('show_message', 'Ошибка подписания данных!');
                            console.log('signXmlFn  error = ' + err);
                            this.showModal = false;
                            return;
                        });

                    } else {
                        this.$emit('show_message', 'Не удалось взять данные для подписи');
                        this.showModal = false;
                        return;
                    }

                }).catch(err => {
                    console.log(err);
                    this.showModal = false;
                });
            },
            cancel() {
                this.$router.push('/changeapplication');
            }
        },
        async created() {
        },
        async mounted() {
            const nsiResponse: any = await DictionaryService.getNsiValueList(["nsi022"]);
            if (nsiResponse.status === 'Error') {
                this.$emit('show_message', nsiResponse.text);
            } else {
                this.statusList = nsiResponse.data.map(function (nsi) { return { key: nsi.code, value: nsi.name } });
            }
        }
    });
</script>