﻿<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card class='pa-2 ma-2' outlined tile>
                    <h3 style='text-align: center'>
                        Создание электронного паспорта
                    </h3>
                </v-card>
            </v-col>
        </v-row>
        <v-row justify="center">
            <form-wizard @on-complete="onComplete"
                         ref="wizard"
                         :start-index="0"
                         color="#e67e22">
                <!--<template slot="step" scope="props">
            <wizard-step :tab="props.tab"
                            :transition="props.transition"
                            :key="props.tab.title"
                            :index="props.index">
            </wizard-step>
        </template>-->
                <tab-content title="Основные данные"
                             icon="ti ti-info"
                             :before-change="validateFirstTab">
                    <CreateFirstStep ref="firstTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData" :alldetailsDownload="AlldetailsDownload"></CreateFirstStep>
                </tab-content>
                <tab-content title="Идентификационные признаки ТС"
                             icon="ti ti-settings"
                             :before-change="validateSecondTab">
                    <CreateSecondStep ref="secondTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateSecondStep>
                </tab-content>
                <tab-content :title="!fields.first.documentNotExists.value?'Соответствие требованиям безопасности':'Транспортное средство'"
                             icon="ti ti-settings"
                             :before-change="validateThirdTab">
                    <CreateThirdStep ref="thirdTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateThirdStep>
                </tab-content>
                <tab-content title="Базовое ТС (Шасси)"
                             v-if="fields.first.VehicleEPassportBaseCode.value != '03' && [1, 3].includes(fields.IsEpts) && fields.first.DocKindCode.value != '40'"
                             icon="ti ti-settings"
                             :before-change="validateFourthTab">
                    <CreateFourthStep ref="fourthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateFourthStep>
                </tab-content>
                <tab-content title="Изготовитель и его адрес"
                             v-if="fields.first.VehicleEPassportBaseCode.value != '03'"
                             icon="ti ti-settings"
                             :before-change="validateFifthTab">
                    <CreateFifthStep ref="fifthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateFifthStep>
                </tab-content>
                <tab-content title="Представители изготовителя и их адреса"
                             v-if="fields.first.VehicleEPassportBaseCode.value != '03' && fields.first.DocKindCode.value != '40' && fields.IsEpts!=3"
                             icon="ti ti-settings"
                             :before-change="validateSixthTab">
                    <CreateSixthStep ref="sixthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateSixthStep>
                </tab-content>
                <tab-content title="Сборочные заводы и их адреса"
                             v-if="fields.first.VehicleEPassportBaseCode.value != '03' && fields.IsEpts==1"
                             icon="ti ti-settings"
                             :before-change="validateSeventhTab">
                    <CreateSeventhStep ref="seventhTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateSeventhStep>
                </tab-content>
                <!--Описание маркировки ТС-->
                <tab-content :title= "`${fields.IsEpts!=2?`Маркировка ТС`:`Маркировка ШТС`}`"
                             icon="ti ti-settings"
                             v-if="fields.first.DocKindCode.value != '40'"
                             :before-change="validateEighthTab">
                    <CreateEighthStep ref="eighthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateEighthStep>
                </tab-content>
                <tab-content title="Маркировка двигателя"
                             icon="ti ti-settings"
                             v-if="!showNineTab && fields.first.DocKindCode.value != '40'"
                             :before-change="validateNinthTab">
                    <CreateNinthStep ref="ninthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateNinthStep>
                </tab-content>
                <tab-content :title="`${fields.IsEpts!=2?`Общие характеристики ТС`:`Общие характеристики ШТС`}`"
                             icon="ti ti-settings"
                             :before-change="validateTenthTab">
                    <CreateTenthStep ref="tenthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData" :saveDraft="onComplete"></CreateTenthStep>
                </tab-content>
                <tab-content title="Общий вид ТС"
                             icon="ti ti-settings"
                             :before-change="validateEleventhTab">
                    <CreateEleventhStep ref="eleventhTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateEleventhStep>
                </tab-content>
                <tab-content title="Дополнительная информация"
                             icon="ti ti-settings"
                             :before-change="validateTwelfthTab">
                    <CreateTwelfthStep ref="twelfthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateTwelfthStep>
                </tab-content>
                <tab-content title="Административная информация"
                             icon="ti ti-settings"
                             :before-change="validateThirteenthTab">
                    <CreateThirteenthStep ref="thirteenthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateThirteenthStep>
                </tab-content>
                <tab-content title="Информация изготовителя"
                             icon="ti ti-check"
                             :before-change="validateFourteenthTab">
                    <CreateFourteenthStep ref="fourteenthTabForm" :show_messageParent="show_message" :fields="fields" :nsisData="nsisData"></CreateFourteenthStep>
                </tab-content>
                <template slot="footer" slot-scope="props">
                    <div class=wizard-footer-left style="position: fixed;bottom: 50px;">
                        <v-btn v-if="props.activeTabIndex > 0" @click.native="goBack"
                               style="border-color: rgb(230, 126, 34);background-color: rgb(230, 126, 34);color:white">
                            Назад
                        </v-btn>
                    </div>
                    <div class="wizard-footer-right" style="position: fixed;right:0px; bottom: 50px;">
                        <template v-if="!props.isLastStep">
                            <v-btn @click.native="props.nextTab()"
                                   :loading="fields.nextButtonLoading || isSendingMessage"
                                   class="wizard-footer-right"
                                   style="border-color: rgb(230, 126, 34);background-color: rgb(230, 126, 34); margin: 10px;color:white">
                                Дальше
                            </v-btn>
                        </template>
                        <template v-else>

                            <v-btn 
                                   color="primary"
                                   @click="signAndSend"
                                   v-if="fields.viewId == ''"
                                   :loading="isSendingMessage"
                                   style="margin: 10px;">
                                Подписать и Отправить
                            </v-btn>
                        </template>
                        <v-btn class="wizard-footer-right finish-button"
                               @click="onComplete"
                               v-if="props.isLastStep && fields.viewId == ''"
                               :loading="isSendingMessage"
                               style="border-color: rgb(230, 126, 34);background-color: rgb(230, 126, 34); margin: 10px;color:white">
                            Сохранить как черновик
                        </v-btn>
                        <v-btn class="wizard-footer-right"
                               @click="onCloseWizard"
                               :loading="isSendingMessage"
                               style="border-color: rgb(230, 126, 34);background-color: rgb(230, 126, 34); margin: 10px;color:white">
                            Закрыть
                        </v-btn>
                    </div>
                </template>
            </form-wizard>
            <Modal v-if="showModal" :setting="modalSettings">
                <h3 slot="header">Внимание!</h3>
                <h2 slot="body">{{modalText}}</h2>
                <span slot="footer"></span>>
            </Modal>
            <v-dialog v-model="closeDialog"
                      max-width="500">
                <v-card>
                    <v-card-title class="text-h5">
                        Подтвердите операцию!
                    </v-card-title>

                    <v-card-text>
                        Несохраненные данные будут потеряны. Продолжить?
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="red darken-1"
                               text
                               @click="closeDialog = false">
                            Нет
                        </v-btn>

                        <v-btn color="green darken-1"
                               text
                               @click="closeWizard">
                            Да
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    import WeatherForm from '@/components/WeatherForm.vue'; // @ is an alias to /src
    import { FormWizard, TabContent, WizardStep } from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import CreateFirstStep from '@/components/document/dpassport/forms/CreateFirstStep.vue'; // @ is an alias to /src
    import CreateSecondStep from '@/components/document/dpassport/forms/CreateSecondStep.vue'; // @ is an alias to /src
    import CreateThirdStep from '@/components/document/dpassport/forms/CreateThirdStep.vue'; // @ is an alias to /src
    import CreateFourthStep from '@/components/document/dpassport/forms/CreateFourthStep.vue'; // @ is an alias to /src
    import CreateFifthStep from '@/components/document/dpassport/forms/CreateFifthStep.vue'; // @ is an alias to /src
    import CreateSixthStep from '@/components/document/dpassport/forms/CreateSixthStep.vue'; // @ is an alias to /src
    import CreateSeventhStep from '@/components/document/dpassport/forms/CreateSeventhStep.vue'; // @ is an alias to /src
    import CreateEighthStep from '@/components/document/dpassport/forms/CreateEighthStep.vue'; // @ is an alias to /src
    import CreateNinthStep from '@/components/document/dpassport/forms/CreateNinthStep.vue'; // @ is an alias to /src
    import CreateTenthStep from '@/components/document/dpassport/forms/CreateTenthStep.vue'; // @ is an alias to /src
    import CreateEleventhStep from '@/components/document/dpassport/forms/CreateEleventhStep.vue'; // @ is an alias to /src
    import CreateTwelfthStep from '@/components/document/dpassport/forms/CreateTwelfthStep.vue'; // @ is an alias to /src
    import CreateThirteenthStep from '@/components/document/dpassport/forms/CreateThirteenthStep.vue'; // @ is an alias to /src
    import CreateFourteenthStep from '@/components/document/dpassport/forms/CreateFourteenthStep.vue'; // @ is an alias to /src
    import DictionaryService from '@/services/dictionary.service';
    import DPassportService from '@/services/document/dpassport.service';
    import Modal from '@/components/modal_window.vue';

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls";
    import { SignedDocModel } from '@/models/registries/SignedDoc.model';
    import SignedDocService from '@/services/reestr/signeddoc.service';


    @Component({
        components: {
            Modal,
            HelloWorld: () => import(`@/components/${JSON.parse(localStorage.getItem('user') as string).role == null ? '' : JSON.parse(localStorage.getItem('user') as string).role.toLowerCase() + '/'}HelloWorld`),
            WeatherForm,
            FormWizard, TabContent, WizardStep,
            CreateFirstStep, CreateSecondStep, CreateThirdStep,
            CreateFourthStep, CreateFifthStep, CreateSixthStep,
            CreateSeventhStep, CreateEighthStep, CreateNinthStep,
            CreateTenthStep, CreateEleventhStep, CreateTwelfthStep,
            CreateThirteenthStep, CreateFourteenthStep
        },
    })
    export default class CreateEptsHandy extends Vue {

        data() {
            return {
                author: JSON.parse(localStorage.getItem('user') as string).name,
                role: JSON.parse(localStorage.getItem('user') as string).role.toLowerCase(),
                showModal: false,
                modalSettings: { closeButton: false },
                modalText: '',
                closeDialog: false,
                showNineTab: false,
                isSendingMessage: false,
                preSavedData: {},
                nsisData: {
                    issueDPBaseList: [
                        { key: 1, value: 'изготовление транспортного средства (шасси, машины)' },
                        { key: 2, value: 'ввоз  транспортного средства (шасси, машины) на таможенную территорию Союза из государства, не являющегося членом Союза' },
                        { key: 3, value: 'оформление электронного пасорта на транспортное средство (машину), зарегестрированное органом регистрации' },
                        { key: 4, value: 'оформление электронного пасорта на транспортное средство (шасси, машину) на иных основаниях' },
                    ],
                    DocKindCodeNsis: [],
                    DocIds: [],
                    DocumentNotExistDescriptionNsis: [],
                    DocKindDocumentNotExistNsis: [],
                    ////////// 2
                    identOrFactoryList: [
                        { key: 1, value: 'Идентификационный номер' },
                        { key: 2, value: 'Заводской номер' },
                    ],
                    MoverEpsmNsis: [],

                    VehicleCategoryCodeNsis: [],
                    VehicleBodyColourCodeNsis: [],
                    ManufactureMonthNsis: [],
                    //////////// 3
                    VehicleMakeNameNsis: [], // марка
                    VehicleTechCategoryCodeNsis: [],
                    VehicleClassCategoryCodeNsis: [],
                    VehicleEcoClassCodeNsis: [],
                    VehicleManufactureOptionNsis: [],
                    //////// 4 только марка
                    //////// 5 Справочник наименований организаций из реестра организаций СЭП РК
                    //////// 6 Справочник наименований организаций из реестра организаций СЭП РК
                    //////// 7
                    ManufactureOrganizationIdNsis: [ //Справочник наименований организаций из реестра организаций СЭП РК

                    ],
                    //////// 8
                    //////// 9
                    //////// 10
                    wheelsFormulaList: [],

                    PoweredWheelLocationList: [],
                    VehicleComponentTextList: [],
                    VehicleLayoutPatternTextList: [],
                    VehicleComponentLocationTextList: [],
                    measurementUnitCodeList: [],
                    VehicleCharacteristicsNameList: [],
                    VehicleCharacteristicsNameOtherList: [],
                    VehicleEngineTypeList: [],
                    VehicleEngineLabelLocationList: [],
                    EngineCylinderArrangementTextList: [],
                    VehicleComponentModelCodeList: [],
                    VehicleFuelKindList: [],
                    VehicleSupplySystemComponentList: [],
                    VehiclePowerStorageDeviceComponentList: [],
                    VehicleIgnitionComponentList: [],
                    VehicleTransmissionComponentList: [],
                    VehicleGearComponentList: [],
                    VehicleMainGearComponentList: [],
                    TransmissionUnitGearNameList: [],
                    TransmissionUnitGearTypeList: [],
                    AxisDistributionList: [],
                    ElectricalMachineKindCodeList: [],
                    VehicleSuspensionKindCodeList: [],
                    SteeringWheelPositionCodeList: [],
                    VehicleBrakingSystemKindCodeList: [],
                    VehicleTyreKindSpeedList: [],
                    ManufactureWithPrivilegeModeNsis: [],
                    AcceptTerritoryRegistrationNsis: [{ key: "1", value: 'Евразийский экономический союз' }, { key: "0", value: "ограниченная территория" }],
                    AcceptCountryRegistrationNsis: [],
                    AcceptRegionRegistrationNsis: [],////KATO
                    VehicleMadeInCountryNsis: [],
                    // справочник годов идентификаторов по тр/тс
                    VehicleIdentYearTRTSNsis: [],
                    // подгружаемые из оттс-отш-сбктс справочники
                    VehicleTypeVarianNsis: [],
                    VehicleWheelLocationQuantityList: [],
                    tempPoweredWheelLocationList: [],//зависимый
                    VehicleWheelAxelQuantityList: [],
                    VehicleWheelQuantityList: [],
                    SeatQuantityList: [],
                    BodyworkList: []
                },
                fields: {
                    first: {
                        SignId: { value: '', text: 'Id для подписи', necessary: true },
                        VehicleEPassportBaseCode: { value: '', text: 'Основание оформления', necessary: true },
                        VehicleEPassportBaseDescription: { value: '', text: 'Сведения об основаниях оформления электронного паспорта', necessary: true },
                        DocKindCode: { value: '', text: 'Вид документа', necessary: true }, //otts, i td
                        DocDateFrom: { value: '', text: 'Срок действия с', necessary: true },
                        DocDateTo: { value: '', text: 'Срок действия по', necessary: true },
                        ComplienceDocumentId: { value: '', text: 'Номер документа', necessary: true },
                        AuthorityName: { value: '', text: 'Полное наименование органа, оформившего документ', necessary: true },
                        DocumentNotExistDescription: { value: '', text: 'Сведения об основаниях отсутствия документа, подтверждающего соответствие', necessary: true },
                        DocKindCodeHandy: { value: '', text: 'Вид документа', necessary: true },
                        DocNameHandy: { value: '', text: 'Наименование документа', necessary: false },
                        DocAuthorHandy: { value: '', text: 'Кем Выдано', necessary: true },
                        DocIdHandy: { value: '', text: 'Номер документа', necessary: true },
                        DocDateHandy: { value: new Date().toISOString().substr(0, 10), text: 'Дата выдачи документа', necessary: true },
                        DocPageCountHandy: { value: '', text: 'Количество листов', necessary: true },
                        documentNotExists: { value: false, text: 'Документ отсутствует', necessary: true },
                    },
                    second: {
                        VehicleIdentityNumberIndicator: { value: '2', text: 'Отсутствует', necessary: true },//{ key: 1, value: 'Идентификационный номер' },{ key: 2, value: 'Заводской номер' },
                        VehicleIdentityNumberId: { value: '', text: '', necessary: true },
                        VehicleEngineIdList: [{
                            VehicleEngineIdentityNumberId: { value: '', text: 'Номер двигателя', necessary: true },
                        }],
                        NotVehicleIdentityNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },

                        VehicleCategoryCode: { value: '', text: 'Категория в соответствии с конвенцией о дорожном движении от 8 ноября 1968 года', necessary: false },

                        NotVehicleEngineIdentityNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleFrameIdentityNumberId: { value: '', text: 'Номер шасси (рамы)', necessary: true },
                        NotVehicleFrameIdentityNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleBodyIdentityNumberId: { value: '', text: 'Номер кузова (кабины, прицепа)', necessary: true },
                        NotVehicleBodyIdentityNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleEmergencyCallIdentityNumberId: { value: '', text: 'Сведения об идентификационном номере устройства вызова экстренных оперативных служб', necessary: true },
                        NotVehicleEmergencyCallIdentityNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },

                        NotGearNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        GearNumber: { value: '', text: 'Номер коробки передач', necessary: true },
                        NotBaseAxleNumberIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        BaseAxleNumber: { value: '', text: 'Номер основного ведущего моста', necessary: true },
                        MoverEpsm: { value: '', text: 'Тип движителя', necessary: false },


                        BodyMultiColourIndicator: { value: false, text: 'Признак комбинированного цвета кузова (кабины, прицепа)', necessary: true },
                        VehicleBodyColourCode: { value: '', text: 'Цвета кузова (кабины, прицепа)', necessary: true },
                        VehicleBodyColourCode2: { value: '', text: 'Цвета кузова (кабины, прицепа)', necessary: true },
                        VehicleBodyColourCode3: { value: '', text: 'Цвета кузова (кабины, прицепа)', necessary: false },
                        VehicleBodyColourName: { value: '', text: 'Наименование оттенка цвета кузова (кабины, прицепа)', necessary: true },
                        ManufactureYear: { value: '', text: 'Год изготовления', necessary: true },
                        ManufactureMonth: { value: '', text: 'Месяц изготовления', necessary: true },
                    },
                    third: {
                        DocKindCode: { value: '', text: 'Вид документа', necessary: true },
                        //DocNumber: { value: '', text: 'Номер документа', necessary: true },
                        StartDate: { value: '', text: 'Срок действия с', necessary: true },
                        DocValidityDate: { value: '', text: 'Срок действия по', necessary: true },
                        DocCreationDate: { value: '', text: 'Дата внесения в Единый реестр', necessary: true },
                        AuthorityName: { value: '', text: 'Полное наименование органа, оформившего документ', necessary: true },
                        VehicleMakeName: { value: '', text: 'Марка', necessary: true },
                        NotVehicleMakeNameIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleCommercialName: { value: '', text: 'Коммерческое наименование', necessary: true },
                        NotVehicleCommercialNameIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleTypeId: { value: '', text: 'Тип', necessary: true }, // если изготовление то обязательно
                        VehicleTypeVariantId: { value: '', text: 'Модификация', necessary: true },
                        notVehicleModificationIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleTechCategoryCode: { value: '', text: 'Категория в соответствии с ТР ТС №018/2011', necessary: true },
                        VehicleClassCategoryCode: { value: '', text: 'Класс', necessary: false },
                        VehicleEcoClassCode: { value: '', text: 'Экологический класс', necessary: true },
                        NotVehicleEcoClassCodeIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleManufactureOption: { value: '', text: 'Вариант изготовления', necessary: true },
                    },
                    fourth: {
                        NotBaseVehicleIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        BaseVehicleMakeName: { value: '', text: 'Марка', necessary: false },
                        BaseVehicleTypeId: { value: '', text: 'Тип', necessary: true },
                        BaseVehicleCommercialName: { value: '', text: 'Коммерческое наименование', necessary: false },
                        BaseVehicleTypeVariantId: { value: '', text: 'Модификация', necessary: false },
                        BaseDocIndicator: { value: true, text: 'Электронный паспорт', necessary: true },
                        BaseVehicleEPassportId: { value: '', text: 'Номер электронного паспорта', text2: 'Номер паспорта', necessary: true },
                        BaseDocCreationDate: { value: '', text: 'Дата оформления паспорта', necessary: true },
                    },
                    fifth: {
                        NotManufacturerIndicator: { value: false, text: 'Не являюсь изготовителем', necessary: true },
                        ManufactureOrganizationId: { value: 0, text: 'Организация', necessary: true },
                        FullManufactureOrganizationName: { value: '', text: 'Полное наименование организации', necessary: true },
                        ShortManufactureOrganizationName: { value: '', text: 'Краткое наименование организации', necessary: false },
                        ManufactureIinBin: { value: '', text: 'БИН/ИИН', necessary: false },
                        ManufactureJuridicalAddress: { value: '', text: 'Юридический адрес', necessary: false },
                        ManufactureActualAddress: { value: '', text: 'Фактический адрес', necessary: false },
                        ManufacturePhones: [{ ManufacturePhone: { value: '', text: 'Телефон', necessary: false } }],
                        ManufactureEmails: [{ ManufactureEmail: { value: '', text: 'Электронная почта', necessary: false } }],
                        ManufactureFaxs: [{ ManufactureFax: { value: '', text: 'Телефакс', necessary: false } }],
                    },
                    sixth: {
                        NotExistIndicator: { value: false, text: 'Отсутствует' },
                        MemberOrganizationList: [{
                            NotMemberIndicator: { value: false, text: 'Не являюсь представителем изготовителя', necessary: true },
                            MemberOrganizationId: { value: '', text: 'Организация', necessary: true },
                            FullMemberOrganizationName: { value: '', text: 'Полное наименование организации', necessary: true },
                            ShortMemberOrganizationName: { value: '', text: 'Краткое наименование организации', necessary: false },
                            MemberIinBin: { value: '', text: 'БИН/ИИН', necessary: false },
                            MemberJuridicalAddress: { value: '', text: 'Юридический адрес', necessary: false },
                            MemberActualAddress: { value: '', text: 'Фактический адрес', necessary: false },
                            MemberPhones: [{ MemberPhone: { value: '', text: 'Телефон', necessary: false } }],
                            MemberEmails: [{ MemberEmail: { value: '', text: 'Электронная почта', necessary: false } }],
                            MemberFaxs: [{ MemberFax: { value: '', text: 'Телефакс', necessary: false } }],
                        }],
                    },
                    seventh: {
                        NotExistIndicator: { value: false, text: 'Отсутствует' },
                        AssemblerOrganizationList: [{
                            NotAssemblerIndicator: { value: false, text: 'Не являюсь сборочным заводом', necessary: true },
                            AssemblerOrganizationId: { value: '', text: 'Организация', necessary: true },
                            FullAssemblerOrganizationName: { value: '', text: 'Полное наименование организации', necessary: true },
                            ShortAssemblerOrganizationName: { value: '', text: 'Краткое наименование организации', necessary: false },
                            AssemblerIinBin: { value: '', text: 'БИН/ИИН', necessary: false },
                            AssemblerJuridicalAddress: { value: '', text: 'Юридический адрес', necessary: false },
                            AssemblerActualAddress: { value: '', text: 'Фактический адрес', necessary: false },
                            AssemblerPhones: [{ AssemblerPhone: { value: '', text: 'Телефон', necessary: false } }],
                            AssemblerEmails: [{ AssemblerEmail: { value: '', text: 'Электронная почта', necessary: false } }],
                            AssemblerFaxs: [{ AssemblerFax: { value: '', text: 'Телефакс', necessary: false } }],
                        }],
                    },
                    eighth: {
                        NotManufacturerPlateLocationIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        ManufacturerPlateLocationList: [{ ManufacturerPlateLocation: { value: '', text: 'Месторасположение таблички изготовителя', necessary: true } }],
                        VehicleIdentLocationList: [{ VehicleIdentLocation: { value: '', text: 'Месторасположение идентификационного номера транспортного средства', necessary: false } }],
                        //VehicleIdentStructure: { value: '', text: 'Структура и содержание идентификационного номера транспортного средства', necessary: true },
                        VehicleStructureCardList: [{
                            StartDate: { value: '', text: 'С', necessary: true },
                            EndDate: { value: '', text: 'По', necessary: true },
                            Description: { value: '', text: 'Описание', necessary: true },
                            MeaningExplanationList: [{
                                Explanation: { value: '', text: 'Расшифровка', necessary: true },
                                Meaning: { value: '', text: 'Значение', necessary: true }
                            }],
                        }],
                    },
                    ninth: {
                        VehicleIdentLocationList: [{ VehicleIdentLocation: { value: '', text: 'Месторасположение номера двигателя', necessary: true } }],
                        VehicleStructureCardList: [{
                            StartDate: { value: '', text: 'С', necessary: true },
                            EndDate: { value: '', text: 'По', necessary: true },
                            Description: { value: '', text: 'Описание', necessary: true },
                            MeaningExplanationList: [{
                                Explanation: { value: '', text: 'Расшифровка', necessary: true },
                                Meaning: { value: '', text: 'Значение', necessary: true }
                            }],
                        }],
                    },
                    tenth: {
                        // Step 1
                        VehicleWheelLocationQuantity: { value: '', text: 'Количество и расположение колес', necessary: true },
                        VehicleWheelAxelQuantity: { value: '', text: 'Количество осей', necessary: true },
                        VehicleWheelQuantity: { value: '', text: 'Количество колес', necessary: true },
                        VehicleWheelsFormula: { value: '', text: 'Формула колес', necessary: true },
                        PoweredWheelLocationList: [{ PoweredWheelLocation: { value: '', text: 'Ведущие колеса', necessary: true } }],
                        // Step 2
                        VehicleComponentText: { value: '', text: 'Тип кузова', necessary: true },
                        VehicleDoorQuantity: { value: '', text: 'Количество дверей', necessary: true },
                        // Step 3
                        SeatQuantity: { value: '', text: 'Количество мест для сидения', necessary: true },
                        SeatDescription: { value: '', text: 'Описание мест для сидения', necessary: true },
                        SeatRawAndQuantityList: [{
                            SeatQuantity: { value: '', text: 'Количество мест', necessary: true },
                            SeatRawOrdinal: { value: '', text: 'Ряд', necessary: true },
                        }],
                        // Step 4
                        VehicleLayoutPatternText: { value: '', text: 'Схема компоновки транспортного средства', necessary: true },
                        VehicleComponentLocationText: { value: '', text: 'Расположение двигателя', necessary: true },
                        EpsmVehicleComponentLocationText: [{ VehicleComponentLocationText: { value: '', text: 'Положение и размещение приводного двигателя (двигателей)', necessary: true } }],

                        VehicleCarriageSpaceImplementationText: { value: '', text: 'Исполнение загрузочного пространства', necessary: true },
                        VehiclePassengerQuantity: { value: '', text: 'Пассажировместимость', necessary: true },
                        VehicleTrunkVolumeMeasure: { value: '', text: 'Общий объем багажных отделений', necessary: false },
                        measurementUnitCode: { value: '130112', text: 'Ед. измерения', necessary: true },
                        VehicleComponentText2: { value: '', text: 'Кабина', necessary: true },
                        VehicleFrameText: { value: '', text: 'Рама', necessary: true },
                        VehicleSpecialText: { value: false, text: 'Специализированное транспортное средство', necessary: true },
                        VehicleCharacteristicsName: { value: '', text: 'Назначение', necessary: true },
                        VehicleCharacteristicsNameOther: { value: '', text: 'Иное', necessary: true },
                        // Step 5
                        VehicleAxlesList: [{
                            VehicleAxleOrdinal: { value: '', text: 'Ось', necessary: true },
                            DrivingAxleIndicator: { value: '', text: 'Ведущая ось', necessary: true },
                            VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure: { value: '', text: 'Технически максимальная масса приходящаяся на ось', necessary: true },
                            VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                            VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin: { value: '', text: 'Минимально', necessary: true },
                            VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax: { value: '', text: 'Максимально', necessary: true },
                            VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                            VehicleAxleSweptPathMeasure: { value: '', text: ' Величина колеи оси', necessary: true },
                            VehicleAxleSweptPathMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                            VehicleAxleSweptPathMeasureMin: { value: '', text: 'Минимально', necessary: true },
                            VehicleAxleSweptPathMeasureMax: { value: '', text: 'Максимально', necessary: true },
                            VehicleAxleSweptPathMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },

                        }],

                        // Step 6
                        LengthMeasure: { value: '', text: 'Длина', necessary: true },
                        LengthMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        LengthMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        LengthMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        LengthMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                        WidthMeasure: { value: '', text: 'Ширина', necessary: true },
                        WidthMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        WidthMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        WidthMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        WidthMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                        HeightMeasure: { value: '', text: 'Высота', necessary: true },
                        HeightMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        HeightMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        HeightMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        HeightMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                        HeightMeasureAdditionalIndicator: { value: false, text: 'Дополнительные параметры для контейнеровоза', necessary: true },
                        HeightShipMeasure: { value: '', text: 'Высота погрузочная', necessary: true },
                        HeightShipMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        HeightShipMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        HeightShipMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        HeightShipMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                        MaxHeightMeasure: { value: '', text: 'Высота максимально допустимая', necessary: true },
                        MaxHeightMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        MaxHeightMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        MaxHeightMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        MaxHeightMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
                        VehicleWheelbaseMeasureList: [{
                            VehicleWheelbaseMeasure: { value: '', text: 'База', necessary: true },
                            VehicleWheelbaseMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                            VehicleWheelbaseMeasureMin: { value: '', text: 'Минимально', necessary: true },
                            VehicleWheelbaseMeasureMax: { value: '', text: 'Максимально', necessary: true },
                            VehicleWheelbaseMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true }
                        }
                        ],

                        EpsmReverseDriveIndicator: { value: true, text: 'Признак наличия реверсивного управление', necessary: true },
                        EpsmClearance: { value: '', text: 'Дорожный просвет самоходной машины', necessary: false },
                        EpsmDescription: { value: '', text: 'Описание рамы самоходной машины', necessary: false },
                        EpsmVoltageRate: { value: '', text: 'Номинальное напряжение тс', necessary: false },
                        EpsmMaxSpeed: { value: '', text: 'Максимальная скорость транспортного средства', necessary: false },
                        

                        // Step 7
                        VehicleMassMeasure: { value: '', text: 'Масса', necessary: true },
                        VehicleMassMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleMassMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleMassMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleMassMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },

                        VehicleMassMeasure1: { value: '', text: 'Масса', necessary: true },
                        VehicleMassMeasure1Range: { value: false, text: 'Диапазон', necessary: true },
                        VehicleMassMeasure1Min: { value: '', text: 'Минимально', necessary: true },
                        VehicleMassMeasure1Max: { value: '', text: 'Максимально', necessary: true },
                        VehicleMassMeasure1UnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },

                        VehicleMassMeasure2: { value: '', text: 'Масса', necessary: true },
                        VehicleMassMeasure2Range: { value: false, text: 'Диапазон', necessary: true },
                        VehicleMassMeasure2Min: { value: '', text: 'Минимально', necessary: true },
                        VehicleMassMeasure2Max: { value: '', text: 'Максимально', necessary: true },
                        VehicleMassMeasure2UnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },

                        NotVehicleTrailerIndicator: { value: false, text: 'Буксировка прицепа', necessary: true },
                        VehicleMaxUnbrakedTrailerWeightMeasure: { value: '', text: 'Масса', necessary: false },
                        VehicleMaxUnbrakedTrailerWeightMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleMaxUnbrakedTrailerWeightMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleMaxUnbrakedTrailerWeightMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleMaxUnbrakedTrailerWeightMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },

                        VehicleMaxBrakedTrailerWeightMeasure: { value: '', text: 'Масса', necessary: false },
                        VehicleMaxBrakedTrailerWeightMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                        VehicleMaxBrakedTrailerWeightMeasureMin: { value: '', text: 'Минимально', necessary: true },
                        VehicleMaxBrakedTrailerWeightMeasureMax: { value: '', text: 'Максимально', necessary: true },
                        VehicleMaxBrakedTrailerWeightMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },

                        VehicleHitchLoadMeasureList: [{
                            VehicleHitchLoadMeasure: { value: '', text: 'Масса', necessary: false },
                            VehicleHitchLoadMeasureRange: { value: false, text: 'Диапазон', necessary: true },
                            VehicleHitchLoadMeasureMin: { value: '', text: 'Минимально', necessary: true },
                            VehicleHitchLoadMeasureMax: { value: '', text: 'Максимально', necessary: true },
                            VehicleHitchLoadMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: false },
                        }],
                        EpsmTrailerMaxMass: { value: '', text: 'Технически допустимая буксируемая масса', necessary: false },
                        EpsmExpluationMass: { value: '', text: 'Снаряженная (эксплуатационная) масса самоходной машины', necessary: false },
                        EpsmAxleMaxMass: { value: '', text: 'Технически допустимая масса, приходящаяся на каждую из осей самоходной машины', necessary: false },
                        EpsmAxleVerticalMaxMass: { value: '', text: 'Технически допустимая статическая вертикальная нагрузка в точке сцепки тягово-сцепного устройства', necessary: false },
                        EpsmUsefulLoad: { value: '', text: 'Полезная нагрузка', necessary: false },
                        EpsmTotalMaxMass: { value: '', text: 'Техническая допустимая общая масса самоходной машины и прицепа', necessary: false },
                        // Step 8
                        NotVehicleEngineIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleEngineType: { value: '', text: 'Тип двигателя', necessary: true },
                        VehicleHybridDesignText: { value: '', text: 'Описание гибридного транспортного средства', necessary: true },

                        // DVS
                        DvsEngine: [{
                            pk: { value: '', text: 'ИД двигателя оттс', necessary: true },// для сохранения связи с оттс при редактировании
                            VehicleDVSComponentMakeName: { value: '', text: 'Марка', necessary: true },
                            VehicleDVSComponentText: { value: '', text: 'Тип', necessary: true },

                            EngineCylinderQuantity: { value: '', text: 'Количество цилиндров', necessary: true },
                            EngineCompressionRate: { value: '', text: 'Степень сжатия', necessary: true },
                            EngineCapacityMeasure: { value: '', text: 'Рабочий объем цилиндров', necessary: true },
                            EngineCapacityMeasureUnitCode: { value: '130111', text: 'Ед. измерения', necessary: true },
                            EngineCylinderArrangementText: { value: '', text: 'Расположение цилиндров', necessary: true },
                            //Максимальная мощность двигателя
                            EngineMaxPowerMeasure: { value: '', text: 'Максимальная мощность', necessary: true },
                            EngineMaxPowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            PowerVehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                            PowerVehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                            PowerVehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },
                            //Максимальный крутящий момент двигателя
                            EngineMaxTorqueMeasure: { value: '', text: 'Максимальный крутящий момент', necessary: true },
                            EngineMaxTorqueMeasureUnitCode: { value: '1000', text: 'Ед. измерения', necessary: true },
                            //Скорость вращения коленчатого вала
                            VehicleShaftRotationFrequencyMinMeasure: { value: '', text: 'Минимально', necessary: true },
                            VehicleShaftRotationFrequencyMaxMeasure: { value: '', text: 'Максимально', necessary: false },
                            VehicleShaftRotationFrequencyMeasureUnitCode: { value: '150331', text: 'Ед. измерения', necessary: true },

                            EpsmShaftChoicePower: [{ Power: { value: '', text: 'Вал отбора мощности', necessary: false } }],
                            EpsmComponentDescription: { value: '', text: 'Описание компонента', necessary: true },
                            EpsmComponentLocationDescription: { value: '', text: 'Описание расположение компонента', necessary: true },
                            EpsmShaftSpeed: { value: '', text: 'Скорость вращения вала', necessary: false },
                            EpsmTransmitionUnitGearRatio: { value: '', text: 'Передаточное число узла трансмиссии', necessary: false },


                        }],
                        //Электро двигатель
                        NotElectricalEngineIndicator: { value: false, text: 'Отсутствует эл.двигатель', necessary: true },
                        ElectricalEngine: [{
                            ElectricalEngineKindCode: { value: '', text: 'Вид', necessary: true },
                            ElectricalEngineMakeName: { value: '', text: 'Марка эл.двигателя', necessary: true },
                            ElectricalEngineModelCode: { value: '', text: 'Тип', necessary: true },
                            ElectricalEngineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                            ElectricalEngineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                            ElectricEnginePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                            ElectricEnginePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            ElectricEngineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                        }],
                        EpsmOtherEngine: [{
                            MakeName: { value: '', text: 'Марка', necessary: true },
                            TradeMark: { value: '', text: 'Торговое наименование установленное изготовителем', necessary: true },
                            EngineType: { value: '', text: 'Тип двигателя', necessary: true },
                        }],
                        // Step 9
                        NotVehicleFuelIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleFuelKindCodeList: [{ VehicleFuelKindCode: { value: '', text: 'Топливо', necessary: true } }],
                        NotVehicleSupplySystemIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleSupplySystemComponentText: { value: '', text: 'Тип', necessary: true },
                        NotECUModelCodeIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        ECUModelCode: { value: '', text: 'Маркировка', necessary: false },
                        // Step 10 Устройство накопления энергии
                        NotPowerStorageDeviceIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehiclePowerStorageDeviceList: [{
                            VehiclePowerStorageDeviceComponentText: { value: '', text: 'Тип элемента', necessary: true },
                            VehiclePowerStorageDeviceComponentLocationText: { value: '', text: 'Место расположения', necessary: false },
                            VehicleRangeMeasure: { value: '', text: 'Запас хода', necessary: false },
                            VehicleRangeMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            PowerStorageDeviceVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: false },
                            PowerStorageDeviceVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                        }],
                        // Step 11
                        NotVehicleIgnitionIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleIgnitionComponentText: { value: '', text: 'Тип', necessary: true },
                        NotVehicleExhaustIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        VehicleExhaustComponentText: { value: '', text: 'Тип', necessary: true },
                        // Step 12
                        NotVehicleTransmissionIndicator: { value: false, text: 'Отсутствует', necessary: false },
                        VehicleTransmissionList: [{
                            VehicleTransmissionText: { value: '', text: 'Тип', necessary: false },
                            VehicleTransmissionDescription: { value: '', text: 'Описание схемы трансмиссии', necessary: false }
                        },
                        ],

                        GearBoxList: [{
                            VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: false },
                            VehicleGearComponentText: { value: '', text: 'Тип', necessary: false },
                            NotVehicleGearIndicator: { value: false, text: 'Бесступенчатая коробка передач', necessary: false },
                            TransmissionUnitGearList: [{
                                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: false },
                                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: false },
                                TransmissionUnitGearRange: { value: false, text: 'Диапазон', necessary: false },
                                TransmissionUnitGearRate: { value: '', text: 'Минимально', text2: 'Передаточное число', necessary: false },
                                TransmissionUnitGearRateMax: { value: '', text: 'Максимально', necessary: false },
                                TransmissionUnitReverseGearIndicator: { value: '', text: 'Признак заднего хода', necessary: false },
                            }]
                        }],
                        TransferGearBoxList: [{
                            VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: false },
                            VehicleGearComponentText: { value: '', text: 'Тип', necessary: false },
                            TransmissionUnitGearList: [{
                                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: false },
                                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: false },
                                TransmissionUnitGearRate: { value: '', text: 'Передаточное число', necessary: false },
                                TransmissionUnitGearRateMin: { value: '', text: 'Минимально', necessary: false },
                                TransmissionUnitGearRateMax: { value: '', text: 'Максимально', necessary: false },
                            }]
                        }],
                        MainGearBoxList: [{
                            VehicleGearComponentMakeName: { value: '', text: 'Марка', necessary: false },
                            AxisDistribution: { value: '', text: 'Распределение по осям', necessary: false },
                            VehicleGearComponentText: { value: '', text: 'Тип', necessary: false },
                            TransmissionUnitGearList: [{
                                TransmissionUnitGearName: { value: '', text: 'Наименование передачи', necessary: false },
                                TransmissionUnitGearType: { value: '', text: 'Вид передаточного числа', necessary: false },
                                TransmissionUnitGearRate: { value: '', text: 'Передаточное число', necessary: false },
                                TransmissionUnitGearRateMin: { value: '', text: 'Минимально', necessary: false },
                                TransmissionUnitGearRateMax: { value: '', text: 'Максимально', necessary: false },
                            }]
                        }],
                        // Step 13
                        // Электро машина
                        NotElectricalMachineIndicator: { value: false, text: 'Отсутствует', necessary: true },
                        ElectricalMachine: [{
                            ElectricalMachineKindCode: { value: '', text: 'Вид электромашины', necessary: false },
                            ElectricalMachineMakeName: { value: '', text: 'Марка', necessary: true },
                            ElectricalMachineModelCode: { value: '', text: 'Тип', necessary: true },
                            ElectricalMachineVoltageMeasure: { value: '', text: 'Рабочее напряжение', necessary: true },
                            ElectricalMachineVoltageMeasureUnitCode: { value: '150222', text: 'Ед. измерения', necessary: true },
                            ElectricMachinePowerMeasure: { value: '', text: 'Максимальная 30-минутная мощность', necessary: true },
                            ElectricMachinePowerMeasureUnitCode: { value: '150214', text: 'Ед. измерения', necessary: true },
                            ElectricMachineVehicleComponentText: { value: '', text: 'Описание двигателя', text2: 'Описание электромашины', necessary: true },
                        }],
                        // Step 14
                        NotVehicleClutchDetailIndicator: { value: false, text: 'Отсутствует', necessary: false, disabled: false },
                        VehicleClutchComponentMakeName: { value: '', text: 'Марка', necessary: false },
                        VehicleClutchComponentText: { value: '', text: 'Тип', necessary: false },
                        NotVehicleSuspensionDetailIndicator: { value: false, text: 'Отсутствует', necessary: false },
                        VehicleSuspensionList: [{
                            VehicleSuspensionKindCode: { value: '', text: 'Вид подвески', necessary: false },
                            VehicleComponentText: { value: '', text: 'Описание', necessary: false },
                        }],
                        // Step 15
                        NotVehicleSteeringDetailIndicator: { value: false, text: 'Отсутствует', necessary: false },
                        VehicleSteeringDetailComponentText: { value: '', text: 'Тип', necessary: false },
                        SteeringWheelPositionCode: { value: '', text: 'Положение рулевого колеса', necessary: false },
                        VehicleSteeringComponentLocationText: { value: '', text: 'Описание расположения', necessary: false },

                        NotVehicleBrakingSystemDetailIndicator: { value: false, text: 'Тормозная система тсутствует', necessary: false },
                        VehicleBrakingSystemList: [{
                            VehicleBrakingSystemKindCode: { value: '', text: 'Наименование элемента тормозной системы', necessary: false },
                            VehicleComponentText: { value: '', text: 'Описание', necessary: false },
                        }],
                        // Step 16
                        VehicleTyreList: [{
                            VehicleTyreKindSize: { value: '', text: 'Обозначение размера', necessary: true },
                            VehicleTyreKindIndex: { value: '', text: 'Индекс несущей способности для максимально допустимой нагрузки', necessary: false },
                            VehicleTyreKindSpeed: { value: '', text: 'Скоростная категория', necessary: false },
                            IsSupplementVehicleTyre: { value: false, text: 'Шина для временного использования', necessary: false },
                        }],
                        // Step 17
                        VehicleEquipmentList: [{
                            VehicleEquipmentText: { value: '', text: 'Оборудование транспортного средства', necessary: false },
                        }]
                    },
                    eleventh: {
                        imagesTS: [{
                            name: { value: '', text: 'Наименование', necessary: false },
                            image: { value: '' },
                        }
                        ],
                    },
                    twelfth: {
                        SbktsDocId: { value: '', text: 'Номер документа', necessary: false },
                        SbktsStartDate: { value: '', text: 'Срок действия с', necessary: false },
                        SbktsDocValidityDate: { value: '', text: 'Срок действия по', necessary: false },
                        CertifiedMemberFullName: { value: '', text: 'Полное наименование органа по сертификации', necessary: false },
                        VehicleMovementPermitIndicator: { value: false, text: 'Оформление специального разрешения обязательно', necessary: false },
                        ShassisMovePermitionText: { value: '', text: 'Описание возможности передвижения шасси своим ходом по дорогам общего пользования', necessary: false },
                        AllRoadMoveAbilityLimit: { value: '', text: 'Ограничения на возможность использования на дорогах общего пользования', necessary: false },
                        MinibusAbility: { value: '', text: 'Возможность использования в качестве маршрутного средства', necessary: false },
                        OtherInformation: { value: '', text: 'Иная информация', necessary: false },
                    },
                    thirteenth: {
                        ManufactureWithPrivilegeMode: { value: '', text: 'Сведения о производстве транспортного средства с применением льготного режима', necessary: false, visible: true },
                        AcceptTerritoryRegistration: { value: '', text: 'Территория, на которой допускается регистрация транспортного средства', necessary: false },
                        AcceptCountryAndRegion: [{
                            AcceptCountryRegistration: { value: '', text: 'Государство-член, на территории которого допускается совершение регистрационных деействий', necessary: false },
                            AcceptRegionRegistration: { value: '', text: 'Регион, на территории которого допускается совершение регистрационных деействий', necessary: false }
                        }],
                        NotSateliteNavigationIndicator: { value: false, text: 'Отсутствует', necessary: false },
                        SateliteNavigationDescription: { value: '', text: 'Сведения об идентификационном номере аппаратуры спутниковой навигации', necessary: false },
                        NotVehicleOfJobControllIndicator: { value: false, text: 'Отсутствует', necessary: false },
                        VehicleOfJobControllDescription: { value: '', text: 'Сведения об идентификационном номере технического средства контроля соблюдения водителями режимов движения, труда и отдыха', necessary: false },
                        VehicleMadeInCountry: { value: '', text: 'Страна происхождения (изготовления) транспортного средства', necessary: false },
                        DigitalPassportRegisterBaseDescription: { value: '', text: 'Сведения об основаниях оформления электронного паспорта', necessary: false },
                    },
                    fourteenth: {
                        ManufacturerInformation: { value: '', text: 'Информация изготовителя', necessary: false },
                    },
                    IsEpts: 1,
                    onlyView: false,
                    SaveDraftVisible: true,
                    nextButtonLoading: false,
                    disableByExistDoc: false,
                    disableByExistBodywork: false,
                    WheelDocExist: false,
                    SeatDocExist: false,
                    LayoutDocExist: false,
                    DimensionDocExist: false,
                    EngineDocExist: false,
                    ElectricalEngineDocExist: false,
                    ElectricalMachineDocExist: false,
                    PowerStorageDocExist: false,
                    TransmissionDoc: false,
                    MainGearShow: true,
                    TransferGearShow: true,
                    GearBoxShow: true,
                    ClutchDoc: false,
                    SuspensioDoc: false,
                    SteeringDoc: false,
                    BrakingDoc: false,
                    TyreKindDoc: false,
                    EquipmentInfosDoc: false,
                    AdditionalDataDoc: false,
                    savedSignId: '',
                    viewId: '',
                    minImageCount: 4,
                },

            };
        };

        async closeWizard() {
            this.$data.closeDialog = false
            if (this.$data.fields.viewId == '')
                this.$router.push('/digitalpassportdraft');
            else this.$router.push('/digitalpassport');
        }

        async onCloseWizard() {
            if (this.$data.fields.viewId != '')
                this.closeWizard()
            else
                this.$data.closeDialog = true
        }

        async goBack() {
            if ((this.$refs.wizard as any).$children[(this.$refs.wizard as any).activeTabIndex].title.startsWith("Общие характеристики")) {
                if (await (this.$refs.tenthTabForm as any).goBack()) {
                    (this.$refs.wizard as any).prevTab()
                }
            } else {
                (this.$refs.wizard as any).prevTab()
            }
        }

        async validateFirstTab() {
            //console.log(this.$data.fields)
            return (this.$refs.firstTabForm as any).validate();
        };
        async validateSecondTab() {
            if (await (this.$refs.secondTabForm as any).validate()
                && this.$data.fields.second.VehicleIdentityNumberIndicator.value == 1
                && this.$data.fields.viewId == '') {
                this.$data.showModal = true;
                this.$data.modalText = 'Подождите. Идет проверка винкода...';
                this.$data.fields.nextButtonLoading = true;
                return await DPassportService.checkVinCodeExists(this.$data.fields.second.VehicleIdentityNumberId.value).then((response) => {
                    this.$emit('show_message', (response as any).text);
                    this.$data.fields.nextButtonLoading = false;
                    this.$data.showModal = false;
                    return !!response.data;
                }).catch((e) => {
                    this.$emit('show_message', "Ошибка проверки вин кода. Обратитесь к администратору системы");
                    this.$data.showModal = false;
                    this.$data.fields.nextButtonLoading = false;
                });
            } else
                return await (this.$refs.secondTabForm as any).validate();
        };
        async validateThirdTab() {
            let valid = await (this.$refs.thirdTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateFourthTab() {
            let valid = await (this.$refs.fourthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateFifthTab() {
            let valid = await (this.$refs.fifthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateSixthTab() {
            if (await (this.$refs.sixthTabForm as any).validate()
                && this.$data.fields.sixth.MemberOrganizationList[0].MemberOrganizationId.value != ''
                && this.$data.fields.viewId == '') {
                this.$data.showModal = true;
                this.$data.modalText = 'Подождите. Идет проверка льготного режима...';
                this.$data.fields.nextButtonLoading = true;
                await DPassportService.getOrganizationPrivilegeMode(this.$data.fields.sixth.MemberOrganizationList[0].MemberOrganizationId.value).then((response) => {
                    this.$data.fields.nextButtonLoading = false;
                    this.$data.showModal = false;
                    this.$data.fields.thirteenth.ManufactureWithPrivilegeMode.visible = false;
                    if (response.data.organizationTypes.length != 0) {
                        if (response.data.organizationTypes.filter(x => x.orgTypeCode?.toLowerCase() == "representativemanufacturer").length > 0) {
                            if (this.$data.fields.first.VehicleEPassportBaseCode.value == '02')
                                this.$data.fields.minImageCount = 1;
                        }

                        if (response.data.organizationTypes.filter(x => x.orgDocType?.toLowerCase() == "preferentialassemblydoc").length > 0) {
                            this.$data.fields.thirteenth.ManufactureWithPrivilegeMode.visible = true;
                            setTimeout(() => this.$emit('show_message', "Льготный режим найден!"), 3000);
                            return;
                        }
                    }
                    
                    setTimeout(() => this.$emit('show_message', "Льготный режим отсутсвует!"), 3000);
                }).catch((e) => {
                    setTimeout(() => this.$emit('show_message', "Ошибка проверки льготного режима. Обратитесь к администратору системы"), 3000);
                    this.$data.showModal = false;
                    this.$data.fields.nextButtonLoading = false;
                });
            }
            let valid = await (this.$refs.sixthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateSeventhTab() {
            let valid = await (this.$refs.seventhTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateEighthTab() {
            let valid = await (this.$refs.eighthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateNinthTab() {
            let valid = await (this.$refs.ninthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateTenthTab() {
            return await (this.$refs.tenthTabForm as any).validate();
        };
        async validateEleventhTab() {
            let valid = await (this.$refs.eleventhTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateTwelfthTab() {
            let valid = await (this.$refs.twelfthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateThirteenthTab() {
            let valid = await (this.$refs.thirteenthTabForm as any).validate();
            if (valid && this.$data.fields.viewId == '') {
                this.onComplete();
            }
            return valid;
        };
        async validateFourteenthTab() {
            return await (this.$refs.fourteenthTabForm as any).validate();
        };

        created() {
            if (this.$route.params.signId) {
                this.$data.fields.savedSignId = this.$route.params.signId;
            }
            if (this.$route.params.id) {
                this.$data.fields.onlyView = this.$route.params.id != '';
                this.$data.fields.viewId = this.$route.params.id;
            }
            if (this.$route.params.kind) {
                this.$data.fields.IsEpts = this.$route.params.kind == "epts" ? 1 : this.$route.params.kind == "epsm"?3:2;
            }
        };

        async mounted() {
            const nsiMapper = [
                { code: 'nsi023', nsi: 'issueDPBaseList' },
                { code: 'nsi012', nsi: 'DocKindCodeNsis' },
                { code: 'nsi025', nsi: 'DocumentNotExistDescriptionNsis' },
                { code: 'nsi113', nsi: 'DocKindDocumentNotExistNsis' },

                { code: 'nsi014', nsi: 'VehicleCategoryCodeNsis' },
                { code: 'nsi021', nsi: 'VehicleBodyColourCodeNsis' },
                { code: 'nsi065', nsi: 'ManufactureMonthNsis' },
                { code: 'nsi126', nsi: 'VehicleEngineLabelLocationList' },

                // не используется вроде { code: 'nsi005', nsi: 'DocKindCodeNsis2' },
                { code: 'nsi046', nsi: 'VehicleMakeNameNsis' },//марка
                { code: 'nsi015', nsi: 'VehicleTechCategoryCodeNsis' },
                { code: 'nsi013', nsi: 'VehicleClassCategoryCodeNsis' },

                { code: 'nsi016', nsi: 'VehicleEcoClassCodeNsis' },
                { code: 'nsi017', nsi: 'VehicleManufactureOptionNsis' },

                // Справочник наименований организаций из реестра организаций СЭП РК
                // { code: 'nsi005', nsi: 'ManufactureOrganizationIdNsis' },
                
                { code: 'nsi031', nsi: 'MoverEpsmNsis' },
                { code: 'nsi045', nsi: 'wheelsFormulaList' },
                { code: 'nsi079', nsi: 'PoweredWheelLocationList' },
                { code: 'nsi054', nsi: 'VehicleComponentTextList' },
                { code: 'nsi050', nsi: 'VehicleLayoutPatternTextList' },
                { code: 'nsi047', nsi: 'VehicleComponentLocationTextList' },
                { code: 'nsi068', nsi: 'VehicleCharacteristicsNameList' },
                { code: 'nsi069', nsi: 'VehicleCharacteristicsNameOtherList' },
                { code: 'nsi033', nsi: 'measurementUnitCodeList' },

                { code: 'nsi118', nsi: 'VehicleEngineTypeList' },
                { code: 'nsi048', nsi: 'EngineCylinderArrangementTextList' },
                { code: 'nsi060', nsi: 'VehicleComponentModelCodeList' },

                { code: 'nsi030', nsi: 'VehicleFuelKindList' },
                { code: 'nsi056', nsi: 'VehicleSupplySystemComponentList' },

                { code: 'nsi059', nsi: 'VehiclePowerStorageDeviceComponentList' },

                { code: 'nsi055', nsi: 'VehicleIgnitionComponentList' },
                { code: 'nsi058', nsi: 'VehicleTransmissionComponentList' },
                { code: 'nsi026', nsi: 'AxisDistributionList' },

                { code: 'nsi053', nsi: 'VehicleGearComponentList' },
                { code: 'nsi051', nsi: 'VehicleMainGearComponentList' },
                { code: 'nsi080', nsi: 'TransmissionUnitGearNameList' },
                { code: 'nsi081', nsi: 'TransmissionUnitGearTypeList' },

                { code: 'nsi028', nsi: 'ElectricalMachineKindCodeList' },
                { code: 'nsi138', nsi: 'VehicleSuspensionKindCodeList' },

                { code: 'nsi027', nsi: 'SteeringWheelPositionCodeList' },
                { code: 'nsi029', nsi: 'VehicleBrakingSystemKindCodeList' },

                { code: 'nsi039', nsi: 'VehicleTyreKindSpeedList' },

                { code: 'nsi067', nsi: 'ManufactureWithPrivilegeModeNsis' },
                { code: 'nsi034', nsi: 'AcceptCountryRegistrationNsis' },// 051, 112, 398, 417, 643 (AM BY KG KZ RU)
                //{ code: 'nsi005', nsi: 'AcceptRegionRegistrationNsis' }, //KATO
                { code: 'nsi034', nsi: 'VehicleMadeInCountryNsis' },
                { code: 'nsi064', nsi: 'VehicleIdentYearTRTSNsis' },
            ];
            var nsis = nsiMapper.map(nsi => nsi.code);
            const nsiResponse: any = await DictionaryService.getNsiValueList(nsis);
            var self = this;
            if (nsiResponse.status === 'Error') {
                this.$emit('show_message', nsiResponse.text);
            } else {
                nsiMapper.forEach(function (nsiMap) {
                    self.$data.nsisData[nsiMap.nsi] = nsiResponse.data.filter(nsi => nsi.nsiCode == nsiMap.code).map(function (nsi) { return { key: nsi.code, value: nsi.name } });
                });
            }
            
            if (this.$data.fields.savedSignId != '') {
                await DPassportService.getDraft(this.$data.fields.savedSignId).then(response => {
                    this.FillSavedFields(response.data);
                }).catch(err => {
                    console.log(err)
                });
            }

            if (this.$data.fields.viewId != '' && this.$data.fields.onlyView) {
                await DPassportService.getView(this.$data.fields.viewId).then(response => {
                    this.FillSavedFields(response.data);
                }).catch(err => {
                    console.log(err)
                });
            }
            this.CheckIsEpts()
            // Getting kato for administarative tab regions
            DictionaryService.getKatosByParentCode('0000000000')
                .then(response => {
                    this.$data.nsisData.AcceptRegionRegistrationNsis = response.data;
                }).catch(err => {
                });
            ///////////
            this.$data.nsisData.AcceptCountryRegistrationNsis = this.$data.nsisData.AcceptCountryRegistrationNsis.filter(x => ['AM', 'BY', 'KG', 'KZ', 'RU'].includes(x.key));
            this.$root.$on("showMarkVehicle", (data) => {
                this.$data.showNineTab = data;
            });

            this.$root.$on("SavedEighthAndNinthTab", (arg1) => {
                let data = this.$data.preSavedData;
                this.setFields(this.$data.fields.eighth, data['manufacturerPlateDetails']);
                this.setFields(this.$data.fields.ninth, data['enginePlateDetails']);
            })

        };
        @Watch("fields.IsEpts")
        async CheckIsEpts() {
            if (this.$data.fields.IsEpts==1)
                this.$data.nsisData["DocKindCodeNsis"] = this.$data.nsisData["DocKindCodeNsis"].filter(x => !['05', '10', '15', '20', '35'].includes(x.key))
            if (this.$data.fields.IsEpts == 2) {
                this.$data.nsisData["DocKindCodeNsis"] = this.$data.nsisData["DocKindCodeNsis"].filter(x => !['05', '10', '15', '20', '30', '40'].includes(x.key))
                this.$data.nsisData.issueDPBaseList = this.$data.nsisData.issueDPBaseList.filter(x=>x.key != 3)
            }
            if (this.$data.fields.IsEpts == 3)
                this.$data.nsisData["DocKindCodeNsis"] = this.$data.nsisData["DocKindCodeNsis"].filter(x => !['35'].includes(x.key))
        }

        async beforeDestroy() {
            this.$root.$off("showMarkVehicle");
            this.$root.$off("SavedEighthAndNinthTab");
        }

        prepareVehicleAxle(data) {
            if (data.length == 0) {
                this.$data.fields.tenth.VehicleAxlesList = [];
                return;
            }
            this.$data.fields.tenth.VehicleAxlesList = [{
                VehicleAxleOrdinal: { value: '', text: 'Ось', necessary: true },
                DrivingAxleIndicator: { value: '', text: 'Ведущая ось', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasure: { value: '', text: 'Технически максимальная масса приходящаяся на ось', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureRange: { value: true, text: 'Диапазон', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleTechnicallyPermissibleMaxWeightOnAxleMeasureUnitCode: { value: '140166', text: 'Ед. измерения', necessary: true },
                VehicleAxleSweptPathMeasure: { value: '', text: ' Величина колеи оси', necessary: true },
                VehicleAxleSweptPathMeasureRange: { value: true, text: 'Диапазон', necessary: true },
                VehicleAxleSweptPathMeasureMin: { value: '', text: 'Минимально', necessary: true },
                VehicleAxleSweptPathMeasureMax: { value: '', text: 'Максимально', necessary: true },
                VehicleAxleSweptPathMeasureUnitCode: { value: '110003', text: 'Ед. измерения', necessary: true },
            }]
        }

        async AlldetailsDownload() {
            let data = this.$data.preSavedData;
            this.setFields(this.$data.fields.second, data);
            this.$root.$emit("preSavedVehicleIdentNumber", data['vehicleIdentityNumberId']);
            this.setFields(this.$data.fields.third, data);
            this.setFields(this.$data.fields.fourth, data);
            this.setFields(this.$data.fields.fifth, data);
            this.setFields(this.$data.fields.sixth, data);
            this.setFields(this.$data.fields.seventh, data);
            this.prepareVehicleAxle(data['characteristicDetails']['vehicleAxlesList']);
            if (['30', '35', '40'].includes(data.docKindCode)) {
                this.$root.$emit("preSavedVehicleBase", data['characteristicDetails']);// for step 6
                this.$root.$emit("preSavedWeight", data['characteristicDetails']);// for step 7
                this.$root.$emit("preSavedDVS", data['characteristicDetails']);// for step 8
                this.$root.$emit("preSavedTyre", data['characteristicDetails']['vehicleTyreList']);// for step 16
                this.$root.$emit("preSavedEquipment", data['characteristicDetails']['vehicleEquipmentList']);// for step 17
            }
            this.setFields(this.$data.fields.tenth, data['characteristicDetails']);
            this.$root.$emit("preSavedVehicleFuel", data['characteristicDetails']);// for step 9

            if (['30', '35', '40'].includes(data.docKindCode)) {
                this.$root.$emit("preSavedWheelFormula", data['characteristicDetails']);// for step 1
                this.$root.$emit("preSavedBodywork", data['characteristicDetails']);// for step 2
                this.$root.$emit("preSavedSeat", data['characteristicDetails']);// for step 3
                this.$root.$emit("preSavedVehicleAxle", data['characteristicDetails']['vehicleAxlesList']);// for step 5
                this.$root.$emit("preSavedPowerStorage", data['characteristicDetails']);// for step 10
                this.$root.$emit("preSavedTransmission", data['characteristicDetails']);// for step 12
                this.$root.$emit("preSavedEletroMachine", data['characteristicDetails']);// for step 13
                this.$root.$emit("preSavedSuspension", data['characteristicDetails']);// for step 14
                this.$root.$emit("preSavedBrakeSteer", data['characteristicDetails']);// for step 15
                this.$root.$emit("preSavedImages", data['imagesTS']); // eleventh

            }
            else {
                this.$root.$emit("preSavedImagesHandy", data['imagesTS']); // eleventh
            }
            //this.setFields(this.$data.fields.eleventh, data);
            this.setFields(this.$data.fields.twelfth, data)
            this.setFields(this.$data.fields.thirteenth, data)
            this.$root.$emit("preSavedAcceptCountryAndRegion", data['characteristicDetails']['acceptCountryAndRegion']); // thirteenth.AcceptCountryAndRegion
            //this.setFields(this.$data.fields.thirteenth.AcceptCountryAndRegion, data['characteristicDetails']['acceptCountryAndRegion'])
            this.setFields(this.$data.fields.fourteenth, data)
        }

        async onComplete() {
            if (!this.validateFourteenthTab()) return false;
            this.$data.isSendingMessage = true;

            var dataToSend = {}
            this.$emit('show_message', "'Отправка данных! Дождитесь результата......");

            this.getFields(this.$data.fields.first, dataToSend)
            this.getFields(this.$data.fields.second, dataToSend)
            this.getFields(this.$data.fields.third, dataToSend)
            this.getFields(this.$data.fields.fourth, dataToSend)
            dataToSend['NotManufacturerIndicator'] = this.$data.fields.fifth.NotManufacturerIndicator.value;
            dataToSend['ManufactureOrganizationId'] = this.$data.fields.fifth.ManufactureOrganizationId.value == "" ? 0 : this.$data.fields.fifth.ManufactureOrganizationId.value;
            dataToSend['NotMemberOrganizationIndicator'] = this.$data.fields.sixth.NotExistIndicator.value;
            if (!!dataToSend['NotMemberOrganizationIndicator'] == false)
                dataToSend['MemberOrganizationList'] = this.$data.fields.sixth.MemberOrganizationList.map(x => { if (x.MemberOrganizationId.value != "") return { NotMemberIndicator: x.NotMemberIndicator.value, MemberOrganizationId: x.MemberOrganizationId.value } });
            dataToSend['NotAssemblerOrganizationIndicator'] = this.$data.fields.seventh.NotExistIndicator.value;
            if (!!dataToSend['NotAssemblerOrganizationIndicator'] == false)
                dataToSend['AssemblerOrganizationList'] = this.$data.fields.seventh.AssemblerOrganizationList.map(x => { if (x.AssemblerOrganizationId.value != "") return { NotAssemblerIndicator: x.NotAssemblerIndicator.value, AssemblerOrganizationId: x.AssemblerOrganizationId.value } });

            let ManufacturerPlateDetails = {}
            this.getFields(this.$data.fields.eighth, ManufacturerPlateDetails)
            dataToSend['ManufacturerPlateDetails'] = ManufacturerPlateDetails//Object.assign(dataToSend, obj);

            let EnginePlateDetails = {}
            this.getFields(this.$data.fields.ninth, EnginePlateDetails)
            dataToSend['EnginePlateDetails'] = EnginePlateDetails
            let CharacteristicDetails = {}
            this.getFields(this.$data.fields.tenth, CharacteristicDetails)
            dataToSend['CharacteristicDetails'] = CharacteristicDetails
            this.getFields(this.$data.fields.eleventh, dataToSend)
            this.getFields(this.$data.fields.twelfth, dataToSend)
            this.getFields(this.$data.fields.thirteenth, dataToSend)
            dataToSend['CharacteristicDetails']["AcceptCountryAndRegion"] = this.dup(dataToSend["AcceptCountryAndRegion"], undefined, undefined)
            delete dataToSend["AcceptCountryAndRegion"]
            this.getFields(this.$data.fields.fourteenth, dataToSend)

            // если по документу (оттс, отш, сбктс и т.д.)
            if (this.$data.fields.first.DocKindCode.value != "") {

            } else {

            }
            dataToSend["DocType"] = this.$data.fields.IsEpts;
            await DPassportService.save(dataToSend).then((response) => {
                this.$emit('show_message', (response as any).text);
                if (!!response.data)
                    this.$data.fields.first.SignId.value = response.data;
                //this.$router.push('/digitalpassport');
                this.$data.isSendingMessage = false;
            }).catch((e) => {
                this.$emit('show_message', "Ошибка сохранения. Обратитесь к администратору системы");
                this.$data.isSendingMessage = false;
            });
            // отправляем данные
            // SendData(dataToSend)
        };

        async signAndSend() {
            this.$data.showModal = true;
            this.$data.modalText = 'Подождите. Идет проверка и подписание документа...';
            this.onComplete().then((r) => {
                if (!!r) return;
                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');
                }, err => {
                    console.log('websocket init error = ' + err);
                    this.$emit('show_message', 'Ошибка при подключении к NCALayer. Убедитесь что программа запущена и повторите попытку.');
                    this.$data.showModal = false;
                    return;
                });
                // request data to sign
                DPassportService.getDataToSign(this.$data.fields.first.SignId.value).then(r => {
                    if (r.status == 'Ok') {
                        ProcessNcaLayer.signXmlFn(r.data.dataToSign, xmlSigned => {
                            console.log('signXmlFn = ' + xmlSigned);
                            let signedDoc = new SignedDocModel();
                            signedDoc.docId = this.$data.fields.first.SignId.value;
                            signedDoc.docType = 'DigitalPassport';
                            signedDoc.signedXml = xmlSigned;
                            signedDoc.createDate = new Date();

                            DPassportService.saveSignData(signedDoc).then(r => {
                                console.log('SignedDocService');
                                if (r.status == 'Ok') {
                                    this.$emit('show_message', 'Документ успешно подписан');
                                    this.$data.showModal = false;
                                    //this.$router.push('/digitalpassport');
                                    // reload page because ping to sign layer continues even after success sign (http://localhost:56624/sockjs-node/info?t=1637681316601 )
                                    setTimeout(()=>window.location.href = '/digitalpassport', 2000);
                                } else {
                                    this.$emit('show_message', 'Ошибка при подписании: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Ошибка подписания данных!');
                                console.log('SignedDocService error');
                                this.$data.showModal = false;
                                console.log(err);
                            });
                        }, err => {
                            this.$emit('show_message', 'Ошибка подписания данных!');
                            console.log('signXmlFn  error = ' + err);
                            this.$data.showModal = false;
                            return;
                        });

                    } else {
                        this.$emit('show_message', 'Не удалось взять данные для подписи');
                        this.$data.showModal = false;
                        return;
                    }

                }).catch(err => {
                    console.log(err);
                });
            });
            // sign
            // send data to server
        }

        async FillSavedFields(data) {
            this.$data.fields.IsEpts = data["docType"];
            this.setFields(this.$data.fields.first, data)
            this.$data.preSavedData = data
            if (['30', '35', '40'].includes(data.docKindCode)) return
            this.AlldetailsDownload();
            //this.$data.fields.first.DocKindCode.value = data.docKindCode
            //this.$data.fields.first.ComplienceDocumentId.value = data.complienceDocumentId
        }
        dup(o, i, r) { if (o && typeof o == "object") { r = o instanceof Array ? [] : {}; for (i in o) o.hasOwnProperty(i) ? r[i] = o[i] === o ? r : this.dup(o[i], undefined, undefined) : 0 } return r || o };

        setFields(fields, data) {
            if (Object.prototype.toString.call(fields) === "[object Object]") {
                for (let [key, value] of Object.entries(fields)) {
                    if (Object.prototype.toString.call(value) === "[object Object]" && (value as any).hasOwnProperty("value")) {
                        if (data != null && data.hasOwnProperty(this.forfeitFirstLetter(key)))
                            (value as any)['value'] = data[this.forfeitFirstLetter(key)]
                    } else if (Object.prototype.toString.call(value) === "[object Array]") {
                        if (data != null && data.hasOwnProperty(this.forfeitFirstLetter(key)) && data[this.forfeitFirstLetter(key)] != null) {
                            //if field array len gt then data
                            if ((value as any).length > data[this.forfeitFirstLetter(key)].length) {
                                fields[key] = fields[key].slice(0, data[this.forfeitFirstLetter(key)].length)
                            }
                            //if field array len lt then data
                            while ((value as any).length < data[this.forfeitFirstLetter(key)].length) {
                                (value as any).push(this.dup((value as any)[0], undefined, undefined))
                            }
                            this.setFields(fields[key], data[this.forfeitFirstLetter(key)])
                        }
                    }
                };
            } else if (Object.prototype.toString.call(fields) === "[object Array]") {
                while (fields.length > data.length) {
                    fields.pop()
                }
                (fields as any).forEach((x, i) => {
                    this.setFields(fields[i], data[i]);
                });
            }
        }
        async capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        forfeitFirstLetter(string) {
            return string.charAt(0).toLowerCase() + string.slice(1);
        }

        booleanFields = ['basedocindicator',
            'vehiclemovementpermitindicator',
            'bodymulticolourindicator',
            'documentnotexists',
            'bodymulticolourindicator',
            'vehiclespecialtext',
            'lengthmeasurerange',
            'widthmeasurerange',
            'heightmeasurerange',
            'heightmeasureadditionalindicator',
            'heightshipmeasurerange',
            'maxheightmeasurerange',
            'drivingaxleindicator',
            'vehiclewheelbasemeasurerange',
            'vehicletechnicallypermissiblemaxweightonaxlemeasurerange',
            'vehicleaxlesweptpathmeasurerange',
            'vehiclemassmeasurerange',
            'vehiclemassmeasure1range',
            'vehiclemassmeasure2range',
            'vehiclemaxunbrakedtrailerweightmeasurerange',
            'vehiclemaxbrakedtrailerweightmeasurerange',
            'vehiclehitchloadmeasurerange',
            'transmissionunitgearrange',
            'issupplementvehicletyre',
            'NotGearNumberIndicator',
            'NotBaseAxleNumberIndicator',
            'EpsmReverseDriveIndicator'
        ]
        getFields(fields, data, fieldName = '') {
            if (fields != null && fields !== undefined) {
                for (const [key, value] of Object.entries(fields)) {
                    if (Object.prototype.toString.call(value) === "[object Array]") {
                        let arr = []
                        let txt = ''
                        data[key] = (arr as any);
                        // TO TEST
                        if (Object.prototype.toString.call((value as any)[0]) === "[object String]") {
                            return value
                        }

                        (value as any).forEach(x => {
                            let item: object = {};
                            (arr as any).push(item)
                            this.getFields(x, item)
                        });
                    } else if (Object.prototype.toString.call(value) === "[object String]" || Object.prototype.toString.call(value) === "[object Number]") {
                        if (key === 'value') {
                            if (this.booleanFields.indexOf(fieldName.toLocaleLowerCase()) != -1) return !!value
                            if (fieldName.toLocaleLowerCase().startsWith('not') && fieldName.toLocaleLowerCase().endsWith('indicator')) return !!value
                            return value
                        }
                    } else if (Object.prototype.toString.call(value) === "[object Undefined]") {
                        if (this.booleanFields.indexOf(fieldName.toLocaleLowerCase()) != -1) return false
                        if (fieldName.toLocaleLowerCase().startsWith('not') && fieldName.toLocaleLowerCase().endsWith('indicator')) return false
                        return '';
                    } else if (Object.prototype.toString.call(value) === "[object Boolean]") {
                        if (key === 'value') {
                            return value
                        }
                    } else if (Object.prototype.toString.call(value) === "[object Object]") {
                        let d = ''
                        data[key] = this.getFields(value, d, key)
                    }
                }
            }
        }

        async show_message(text) {
            //console.log(this.$refs.wizard)
            this.$emit('show_message', text);
        };


    }

</script>
