﻿<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card class='pa-2 ma-2' outlined tile>
                    <h2 style='text-align: center'>
                        Оформление электронного паспорта
                    </h2>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="2">
                <v-btn @click="create('epts')"
                       color="green darken-1"
                       dark
                       class="mb-2">
                    Создать ЭПТС
                </v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="create('epshts')"
                       color="green darken-1"
                       dark
                       class="mb-2">
                    Создать ЭПШТС
                </v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="create('epsm')"
                       color="green darken-1"
                       dark
                       class="mb-2">
                    Создать ЭПСМ
                </v-btn>
            </v-col>
            <v-col hidden>
                <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary"
                               dark
                               class="mb-2"
                               v-bind="attrs"
                               v-on="on">
                            Создать
                            <v-icon right>
                                mdi-chevron-down
                            </v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item>
                            <v-menu open-on-hover
                                    top
                                    offset-y>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs"
                                           v-on="on"
                                           color="black"
                                           text
                                           plain>
                                        ЭПТС
                                        <v-icon right>
                                            mdi-chevron-right
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <v-list>
                                    <v-list-item @click="create('epts_handy')">
                                        <v-list-item-title>
                                            Вручную
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="create('epts_bytemplate')">
                                        <v-list-item-title>
                                            На основании действующего ЭП
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-list-item>
                        <v-list-item>
                            <v-menu open-on-hover
                                    top
                                    offset-y>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs"
                                           v-on="on"
                                           color="black"
                                           text
                                           plain>
                                        ЭПШТС
                                        <v-icon right>
                                            mdi-chevron-right
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <v-list>
                                    <v-list-item @click="create('epshts_handy')">
                                        <v-list-item-title>
                                            Вручную
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="create('epshts_bytemplate')">
                                        <v-list-item-title>
                                            На основании действующего ЭП
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-col>
            <v-col align="right">

                <v-btn color="primary"
                       dark
                       class="mb-2">
                    Настройка таблицы
                    <v-icon right>
                        mdi-settings
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card-title>
                    <v-text-field v-model="search"
                                  append-icon='mdi-magnify'
                                  label='Поиск'
                                  hide-details></v-text-field>
                </v-card-title>
                <v-data-table dense
                              :headers="headers"
                              :items="docList"
                              :items-per-page="20"
                              :loading="loading"
                              :search="search"
                              :server-items-length="total"
                              :options.sync="options"
                              :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                              class="elevation-1">

                    <template v-slot:header.name="{ header }">
                        {{ header.text.toUpperCase() }}
                    </template>
                    <template v-slot:item.docType="{ item }">
                        <td>{{item.docType==1?'ЭПТС':item.docType==2?'ЭПШТС':'ЭПСМ'}}</td>
                    </template>
                    <template v-slot:item.modified="{ item }">
                        <td>{{(item.modified== null? item.created:item.modified)| date}}</td>
                    </template>
                    <template v-slot:item.declineDate="{ item }">
                        <td>{{item.declineDate| date}}</td>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon small
                                loading
                                color="blue darken-2"
                                @click="editItem(item)">
                            mdi-pencil
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import ComplienceService from '@/services/document/complience.service';
    import DPassportService from '@/services/document/dpassport.service';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { ComplienceDocFilterModel } from '@/models/documents/complience/ComplienceDocFilter.model';


    export default Vue.extend({
        name: 'DigitalPassportDraftList',
        data: () => ({
            search: '',
            loading: true,
            total: 0,
            options: {},
            headers: [
                {
                    text: 'Вид ЭП', value: 'docType'
                },
                {
                    text: 'Дата изменения', value: 'modified'
                },
                {
                    text: 'Вид документа', value: 'docKindCode'
                },
                {
                    text: 'Номер документа', value: 'docIdHandy'
                },
                {
                    text: 'Идентификационный номер', value: 'vehicleIdentityNumberId'
                },
                {
                    text: 'Марка', value: 'vehicleMakeName'
                },
                {
                    text: 'Коммерческое наименование', value: 'vehicleCommercialName'
                },
                {
                    text: 'Автор', value: 'authorityName'
                },
                { text: 'Управление', value: 'actions', sortable: false }
            ],
            docList: [],
            docTypeCode: ''
        }),
        methods: {
            create: function (dtCode) {
                this.$router.push('/create_passport/' + dtCode);
            },
            editItem: function (item) {
                this.$router.push('/edit_epts/' + item.signId);
            },
            deleteItem: function (item) {
                return;
                ComplienceService.delete(item.signId)
                    .then(response => {
                        if (response.data) {
                            this.load();
                        }
                    }).catch(err => {

                    });
            },
            downloadItem: function (item) {
                DPassportService.getPtsCard(item.signId)
                    .then((response) => {
                        let blob = new Blob([response as any]);
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'pts.jpeg');
                        document.body.appendChild(link);
                        link.click();
                    });
            },

            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new ComplienceDocFilterModel(
                        this.docTypeCode
                    ));
                DPassportService.getDraftList(request)
                    .then(response => {
                        this.docList = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            }
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },

        computed: {},
        activated() { },
        async created() {
            this.docTypeCode = this.$route.params.docTypeCode;
            // this.load();
        },
        beforeRouteUpdate(to, from, next) {
            this.docTypeCode = to.params.docTypeCode;
            this.load();
            next();
        }
    });

</script>
