﻿<template>
    <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                Оформленные электронные паспорта
                            </h2>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col align="right">
                        <v-btn color="primary"
                               dark
                               class="mb-2">
                            Настройка таблицы
                            <v-icon right>
                                mdi-settings
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card-title>
                            <v-text-field v-model="search"
                                          append-icon='mdi-magnify'
                                          @change="searchByVinOrUniqcode"
                                          label='Поиск'
                                          hide-details></v-text-field>
                        </v-card-title>
                        <v-data-table dense
                                      :headers="headers"
                                      :items="docList"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :search="search"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">

                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.docType="{ item }">
                                <td>{{item.docType==1?'ЭПТС':item.docType==2?'ЭПШТС':'ЭПСМ'}}</td>
                            </template>
                            <template v-slot:item.modified="{ item }">
                                <td>{{(item.modified== null? item.created:item.modified)| date}}</td>
                            </template>
                            <template v-slot:item.declineDate="{ item }">
                                <td>{{item.declineDate| date}}</td>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon small
                                        loading
                                        color="blue darken-2"
                                        @click="viewItem(item)">
                                    mdi-eye
                                </v-icon>
                                <v-spacer></v-spacer>
                                <v-icon small
                                        loading
                                        color="blue darken-2"
                                        @click="downloadItem(item)">
                                    mdi-download
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
    </v-container>
</template>

<script lang="ts">
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import ComplienceService from '@/services/document/complience.service';
    import DPassportService from '@/services/document/dpassport.service';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { DocFilterModel } from '@/models/documents/dpassport/DocFilter.model';


    export default Vue.extend({
        name: 'DigitalPassportList',
        data: () => ({
            search: '',
            loading: true,
            total: 0,
            options: {},
            headers: [
                {
                    text: 'Вид ЭП', value: 'docType'
                },
                {
                    text: 'Номер ЭП', value: 'uniqueCode'
                },
                {
                    text: 'Статус ЭП', value: 'statusNsi.nameRu'
                },
                {
                    text: 'Дата перевода в статус', value: 'modified'
                },
                {
                    text: 'Вид документа', value: 'docKindNsi.nameRu'
                },
                {
                    text: 'Номер документа', value: 'complienceDocument.docNumber'
                },
                {
                    text: 'Идентификационный номер', value: 'vehicleIdentityNumberId'
                },
                {
                    text: 'Марка', value: 'vehicleMakeNameNsi.nameRu'
                },
                {
                    text: 'Коммерческое наименование', value: 'vehicleCommercialName'
                },
                {
                    text: 'Дата отклонения', value: 'declineDate'
                },
                {
                    text: 'Причина отклонения', value: 'declineDescription'
                },
                {
                    text: 'Автор', value: 'aspNetUser.organization.nameRu'
                },
                { text: 'Управление', value: 'actions', sortable: false }
            ],
            docList: [],
            docTypeCode: ''
        }),
        methods: {
            create: function (dtCode) {
                this.$router.push('/create_' + dtCode);
            },
            editItem: function (item) {
                //this.$router.push('/compliencedocument/' + item.docTypeCode + '/' + item.id);
            },
            deleteItem: function (item) {
                return;
                ComplienceService.delete(item.id)
                    .then(response => {
                        if (response.data) {
                            this.load();
                        }
                    }).catch(err => {

                    });
            },
            searchByVinOrUniqcode: function (txt) {
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new DocFilterModel(
                        this.docTypeCode,
                        txt
                    ));
                DPassportService.getList(request)
                    .then(response => {
                        this.docList = response.data.data;
                        this.total = response.data.total;
                    }).catch(err => {
                        this.$emit('show_message', err)
                        this.loading = false
                    });
            },
            viewItem: function (item) {
                this.$router.push('/view_epts/' + item.id);
            },
            downloadItem: function (item) {
                DPassportService.getPtsCard(item.id)
                    .then((response) => {
                        let blob = new Blob([response as any]);
                        const url = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'pts.jpeg');
                        document.body.appendChild(link);
                        link.click();
                    });
            },

            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new DocFilterModel(
                        this.docTypeCode
                    ));
                DPassportService.getList(request)
                    .then(response => {
                        this.docList = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            }
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },

        computed: {},
        activated() { },
        async created() {
            this.docTypeCode = this.$route.params.docTypeCode;
            // this.load();
        },
        beforeRouteUpdate(to, from, next) {
            this.docTypeCode = to.params.docTypeCode;
            this.load();
            next();
        }
    });

</script>
