﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn color="primary" v-if="isAllowEdit"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>

                            <template v-slot:item.statusName="{ item }">
                                <v-chip :color="getColor(item)"
                                        dark>
                                    {{ item.statusName }}
                                </v-chip>
                            </template>

                            <template v-slot:item.actions="{ item }">
                                <div style="width: 80px">
                                    <v-icon v-if="isAllowEdit" small
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon v-if="isAllowDelete" small
                                            color="red darken-2"
                                            @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </div>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <!-- Edit Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-text>
                        <user-form v-model="userObj" :submitFn="save" :cancelFn="cancel"></user-form>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-row>


        <!-- Confirm Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">

                <v-card outlined>
                    <v-card-title class="headline">
                        Вы дейстивтельно хотите удалить пользователя?
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text
                               @click="confimDeleteItem">
                            Подтвердить
                        </v-btn>

                        <v-btn color="red darken-1"
                               text
                               @click="cancelDeleteItem">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { UserModel } from '@/models/administration/User.model';
    import { UserFilterModel } from '@/models/administration/UserFilter.model';

    import UserForm from './UserForm.vue';

    import AuthService from '@/services/auth.service';
    import UserService from '@/services/administration/user.service';

    export default Vue.extend({
        name: 'UserList',
        data: () => ({
            loading: false,
            dialog: false,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: { },
            headers: [
                { text: '', value: 'actions', sortable: false, width: '80px' },
                {
                    text: 'Пользователь', value: 'userName'
                },
                {
                    text: 'ФИО', value: 'fullName'
                },
                {
                    text: 'Номер телефона', value: 'phoneNumber'
                },
                {
                    text: 'Email', value: 'email'
                },
                {
                    text: 'Организация', value: 'organizationName'
                },
                {
                    text: 'Статус', value: 'statusName'
                },                
            ],
            data: [],
            userObj: new UserModel(),
            type: '',

        }),
        components: {
            'user-form': UserForm
        },
        methods: {
            createItem: function () {
                this.userObj = new UserModel();
                this.userObj.phoneNumber = '';
                this.dialog = true;
            },
            editItem: function (item: UserModel) {
                UserService.get(item.id!)
                    .then(response => {
                        this.userObj = response.data;
                        if (!this.userObj.userRoles) this.userObj.userRoles = [];
                    }).catch(err => {

                    });
                this.dialog = true;
            },
            deleteItem: function (item: UserModel) {
                this.dialogConfirm = true;
                this.userObj = item;
            },

            save(userObj: UserModel) {
                this.dialog = false;
                this.load();
            },
            cancel() {
                this.dialog = false;
            },

            cancelDeleteItem: function () {
                this.dialogConfirm = false;
            },
            confimDeleteItem: function () {
                UserService.delete(this.userObj.id!)
                    .then(response => {
                        this.dialogConfirm = false;
                        this.load();                     
                    }).catch(err => {

                    });
            },

            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new UserFilterModel(
                        this.search,
                        this.type
                    ));

                UserService.getList(request)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            },

            getTitle() {
                if (this.type === 'arm')
                    return 'Пользователи АРМ';
                if (this.type === 'lk')
                    return 'Пользователи ЛК';
                return 'Пользователи';
            },

            getColor(item: UserModel) {
                if (item.statusCode === 'deleted' || item.statusCode === 'locked') return 'red';
                else if (item.statusCode === 'active') return 'green';

                return 'blue';
            }

        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
            search: function(val, oldVal) {
                if (val.length > 3) {
                    this.search = val;
                } else {
                    this.search = '';
                }
                this.load();
            },
        },
        computed: {
            isAllowRead: function() {
                return AuthService.hasPermission('administration.user.read');
            },
            isAllowEdit: function () {
                return AuthService.hasPermission('administration.user.edit');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.user.delete');
            },
        },
        activated() { },
        async created() {
            this.type = this.$route.params.type;
        },
        beforeRouteUpdate(to, from, next) {
            this.type = to.params.type;
            this.load();
            next();
        }
    });

</script>
