﻿<template>
    <v-row>
        <!-- v-scroll:#scroll-target="onScroll" -->
        <v-col cols="12">
            <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                {{ getTitle() }}
            </h4>
            <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                <v-alert dense :type="alert.type" v-if="alert.show">
                    {{ alert.msg }}
                </v-alert>
                <v-form ref="userForm" v-model="valid" lazy-validation>
                    <v-text-field v-model="value.userName"
                                  :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                  label="Пользователь*"
                                  required
                                  :disabled="isPerson"></v-text-field>

                    <v-text-field v-model="value.lastName"
                                  :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                  label="Фамилия*"
                                  required></v-text-field>

                    <v-text-field v-model="value.firstName"
                                  :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                  label="Имя*"
                                  required></v-text-field>

                    <v-text-field v-model="value.secondName"
                                  label="Отчество"></v-text-field>

                    <v-text-field v-model="value.email"
                                  :rules="emailRules"
                                  label="E-mail*"
                                  required></v-text-field>

                    <v-text-field-simplemask v-model="value.phoneNumber"
                                             label="Номер телефона*"
                                             :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                             v-bind:properties="{
                                                                        prefix: '+7 ',
                                                                        suffix: '',
                                                                        readonly: false,
                                                                        disabled: false,
                                                                        outlined: false,
                                                                        clearable: true,
                                                                        placeholder: '',
                                                                        hidedetails: false,
                                                                        dense: true,
                                                                        }"
                                             v-bind:options="{
                                                                        inputMask: '(###) ###-####',
                                                                        outputMask: '##########',
                                                                        empty: null,
                                                                        applyAfter: false,
                                                                        alphanumeric: false,
                                                                        lowerCase: false,
                                                                        }" />

                    <v-autocomplete v-if="value.organizationId" label="Организация"
                                    :items="dics.orgs"
                                    :rules="rules.required"
                                    :disabled="isPerson"
                                    v-model="value.organizationId"
                                    clearable
                                    item-text="name"
                                    item-value="id">
                    </v-autocomplete>

                    <v-autocomplete label="Статус*" v-if="!isPerson"
                                    :items="dics.statuses"
                                    :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                    v-model="value.statusId"
                                    clearable
                                    item-text="name"
                                    item-value="id">
                    </v-autocomplete>

                    <v-autocomplete label="Роли*" v-if="!isPerson"
                                    :items="roles"
                                    v-model="selectedRoleIds"
                                    clearable multiple
                                    :rules="rules.required"
                                    item-text="description"
                                    item-value="id"
                                    :menu-props="{ maxHeight: '400' }"
                                    @change="changeRole"></v-autocomplete>

                    <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                        Пароль
                    </h4>

                    <v-text-field v-if="value.id" v-model="value.oldPassword"
                                  :append-icon="showOldPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                  :type="showOldPassword ? 'text' : 'password'"
                                  name="oldPassword"
                                  label="Старый пароль"
                                  counter
                                  @click:append="showOldPassword = !showOldPassword"></v-text-field>

                    <v-text-field v-model="value.password"
                                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                  :rules="passwordRules"
                                  :type="showPassword ? 'text' : 'password'"
                                  name="password"
                                  label="Пароль"
                                  hint="не менее 8 символов"
                                  counter
                                  @click:append="showPassword = !showPassword"></v-text-field>

                    <v-text-field v-model="passwordConfirm"
                                  :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                  :rules="passwordConfirmRules"
                                  :type="showConfirmPassword ? 'text' : 'password'"
                                  name="passwordConfirm"
                                  label="Повторите пароль"
                                  hint="не менее 8 символов"
                                  counter
                                  @click:append="showConfirmPassword = !showConfirmPassword"></v-text-field>

                    <v-alert outlined
                             type="warning">
                        <small class="text-warning text-left">
                            <ul>
                                <li>
                                    Пароль должен содержать только латинские буквы
                                </li>
                                <li>
                                    Пароль должен содержать хотя бы 1 строчную букву
                                </li>
                                <li>
                                    Пароль должен содержать хотя бы 1 заглавную букву
                                </li>
                                <li>
                                    Пароль должен содержать хотя бы 1 цифру
                                </li>
                                <li>
                                    Пароль должен содержать хотя бы 1 специальный символ (!@#$%^&*)
                                </li>
                                <li>
                                    Пароль должен содержать 8 или более символов
                                </li>
                            </ul>
                        </small>
                    </v-alert>


                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="secondary"
                               class="mr-4"
                               @click="cancel">
                            Отмена
                        </v-btn>

                        <v-btn :disabled="!valid"
                               color="primary"
                               class="mr-4"
                               @click="saveItem">
                            Сохранить
                        </v-btn>
                    </v-card-actions>

                </v-form>
            </v-flex>

        </v-col>
    </v-row>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { UserModel } from '@/models/administration/User.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { RoleModel } from '@/models/administration/Role.model';
    import { UserRoleModel } from '@/models/administration/UserRole.model';
    import { ObjectState } from "@/models/enums/ObjectState.enum";
    import { AlertModel } from '@/models/Alert.model';

    import UserService from '@/services/administration/user.service';
    import RoleService from '@/services/administration/role.service';
    import OrganizationService from '@/services/registries/organization.service';
    import DictionaryService from '@/services/dictionary.service';
        

    export default Vue.extend({
        name: 'UserForm',
        props: {
            value: UserModel,
            submitFn: { type: Function },
            cancelFn: { type: Function },
            isPerson: { type: Boolean, default: false}
        },
        data: () => ({
            valid: true,
            showOldPassword: false,
            showPassword: false,
            showConfirmPassword: false,
            selectedRoleIds: new Array<string>(),

            passwordConfirm: '',
            dics: {
                orgs: [],
                statuses: new Array<DictionaryModel>(),
            },
            roles: new Array<RoleModel>(),
            emailRules: [
                v => !!v || 'Поле обязательно для заполнения',
                v => /.+@.+\..+/.test(v) || 'E-mail не корректный',
            ],

            rules: {
                required: [
                    v => (!!v && v.length != 0) || 'Поле обязательно для заполнения',
                ]
            },

            alert: new AlertModel(),
        }),
        components: { },
        methods: {
            saveItem() {
                this.alert.show = false;
                if ((this.$refs.userForm as any).validate()) {                    
                    if (!this.value.id) {
                        UserService.create(this.value).then(r => {
                            if (r.status == 'Ok') {
                                this.passwordConfirm = '';
                                this.submitFn(this.value);
                            } else {
                                this.alert = new AlertModel(
                                    r.text,
                                    'warning',
                                    true
                                );
                            }                            
                        }).catch(err => {

                        });
                    } else {
                        UserService.update(this.value).then(r => {
                            if (r.status == 'Ok') {
                                this.passwordConfirm = '';
                                this.submitFn(this.value);
                            } else {
                                this.alert = new AlertModel(
                                    r.text,
                                    'warning',
                                    true
                                );
                            }
                        }).catch(err => {
                            this.alert = new AlertModel(
                                err,
                                'error',
                                true
                            );
                        });
                    }
                }
            },
            cancel() {
                this.alert = new AlertModel();
                (this.$refs.userForm as any).reset();
                this.cancelFn();
            },
            getTitle() {
                if (this.value.id) {
                    return 'Редактировать пользователя';
                }
                return 'Добавить пользователя';
            },

            changeRole(val: Array<string>, oldVal: Array<string>) {
                const me = this;
                if (val) {
                    val.forEach(roleId => {
                        var existRole = me.value.userRoles.find(r => r.roleId! == roleId);
                        if (!existRole) {
                            me.value.userRoles.push(new UserRoleModel(
                                me.value.id,
                                roleId,
                                ObjectState.Added
                            ));
                        }
                    });

                    me.value.userRoles.forEach((r, index, object) => {
                        var existRoleId = val.find(roleId => roleId == r.roleId);
                        if (!existRoleId) {
                            if (r.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                r.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            },
        },
        watch: {
            'value.userRoles': function (val) {
                if (this.selectedRoleIds && this.selectedRoleIds.length == 0) {
                    this.value.userRoles
                        .forEach(tc => this.selectedRoleIds.push(tc.roleId!));
                }
            },
        },
        computed: {
            passwordRules() {
                const rules: Array<any> = [];
                return rules;
            },

            organizationRules() {
                const rules: Array<any> = [];
                const rule1 = v => !!v || 'Поле обязательно для заполнения';
                if (this.value.organizationId) {
                    rules.push(rule1);
                }

                return rules;
            },

            passwordConfirmRules() {
                const rules: Array<any> = [];

                if (this.value.password) {
                    const rule1 = v => !!v || 'Поле обязательно для заполнения';
                    rules.push(rule1);

                    const rule2 = v => (!!v && v) === this.value.password || 'Значения на совпадают';
                    rules.push(rule2)
                }

                return rules;
            },
        },
        activated() { },
        async created() {
            var params = new URLSearchParams();
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.orgs = response.data;
                }).catch(err => {
                    this.alert = new AlertModel(
                        err,
                        'error',
                        true
                    );
                });

            DictionaryService.getStatuses('user')
                .then(response => {
                    this.dics.statuses = response.data;
                    if (this.dics.statuses && this.dics.statuses.length > 0 && !!this.value.statusId)
                        this.value.statusId = this.dics.statuses[0].id;
                })
                .catch(err => {
                    this.alert = new AlertModel(
                        err,
                        'error',
                        true
                    );
                });
            let request = new PagedSortRequestModel(0
                , 0
                , null
                , null
                , null);
            RoleService.getList(request)
                .then(response => {
                    this.roles = response.data.data;
                    if (this.selectedRoleIds && this.selectedRoleIds.length == 0 && this.value.userRoles) {
                        this.value.userRoles
                            .forEach(tc => this.selectedRoleIds.push(tc.roleId!));
                    }
                })
                .catch(err => {
                    this.alert = new AlertModel(
                        err,
                        'error',
                        true
                    );
                });
        },
    });

</script>
