﻿<template>
    <div>
        <v-row>
            <v-col cols="12">
                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                    {{ getTitle() }}
                </h4>
                <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                    <v-alert dense :type="alert.type" v-if="alert.show">
                        {{ alert.text }}
                    </v-alert>
                    <v-form ref="roleForm" v-model="valid" lazy-validation>
                        <v-text-field v-model="value.name"
                                      :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                      label="Роль*"
                                      :disabled="value.name === 'administrator' || value.name === 'externaluser'"
                                      required></v-text-field>

                        <v-text-field v-model="value.description"
                                      :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                      label="Описание*"
                                      required></v-text-field>

                        <v-card-actions>
                            <v-btn v-if="value.id"
                                   color="primary"
                                   class="mr-2"
                                   @click="setPermissions">
                                Установить права
                            </v-btn>
                            <v-spacer></v-spacer>

                            <v-btn color="secondary"
                                   class="mr-4"
                                   @click="cancel">
                                Отмена
                            </v-btn>

                            <v-btn :disabled="!valid"
                                   color="primary"
                                   class="mr-1"
                                   @click="saveItem">
                                Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>

        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <PermissionsForm v-model="value.id" 
                                    :submitFn="savePermissions" :cancelFn="cancelPermissions"
                                    :claimGroups="claimGroups"
                                    :selectedClaims="selectedClaims"
                                    objectType="role"
                                    ref="permissionForm"></PermissionsForm>
            </v-dialog>
        </v-row>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { RoleModel } from '@/models/administration/Role.model';
    import { ObjectClaimGroupModel } from '@/models/administration/ObjectClaimGroup.model';
    import { ObjectClaimModel } from '@/models/administration/ObjectClaim.model';

    import RoleService from '@/services/administration/role.service';
    import PermissionService from '@/services/administration/permission.service';
    import PermissionsForm from '../permissions/PermissionsForm.vue';
    import { AlertModel } from '@/models/Alert.model';


    export default Vue.extend({
        name: 'UserForm',
        props: {
            value: RoleModel,

            submitFn: { type: Function },
            cancelFn: { type: Function },
        },
        data: () => ({
            valid: true,
            dialog: false,
            claimGroups: new Array<ObjectClaimGroupModel>(),
            selectedClaims: new Array<String>(),

            alert: new AlertModel(),
        }),
        components: {
            PermissionsForm
        },
        methods: {
            saveItem() {
                this.alert.show = false;
                if ((this.$refs.roleForm as any).validate()) {
                    if (!this.value.id) {
                        RoleService.create(this.value).then(r => {
                            if (r.status == 'Ok') {
                                this.submitFn(this.value);
                            } else {
                                this.alert.msg = r.text;
                                this.alert.type = 'error';
                                this.alert.show = true;
                            }
                        }).catch(err => {
                            this.alert.msg = err;
                            this.alert.type = 'error';
                            this.alert.show = true;
                        });
                    } else {
                        RoleService.update(this.value).then(r => {
                            this.submitFn(this.value);
                        }).catch(err => {
                            this.alert.msg = err;
                            this.alert.type = 'error';
                            this.alert.show = true;
                        });
                    }
                }
            },
            cancel() {
                this.alert.show = false;
                (this.$refs.roleForm as any).reset();
                this.cancelFn();
            },
            getTitle() {
                if (this.value.id) {
                    return 'Редактировать роль';
                }
                return 'Добавить роль';
            },

            setPermissions() {
                const me = this;
                me.selectedClaims = [];
                me.alert.show = false;

                PermissionService.getRolePermissions(me.value.id)
                    .then(response => {
                        me.claimGroups = response.data;
                        me.claimGroups.forEach(cg => {
                            cg.permissions.forEach(p => {
                                if (p.isSelected)
                                    me.selectedClaims.push(p.claimValue!);
                            });
                        });
                    })
                    .catch(err => {
                        me.alert.msg = err;
                        me.alert.type = 'error';
                        me.alert.show = true;
                    });

                me.dialog = true;
            },

            savePermissions() {
                this.dialog = false;
            },
            cancelPermissions() {
                this.dialog = false;
            }
        },
        watch: {},
        computed: { },
        activated() { },
        async created() { },
    });

</script>
