﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn v-if="isAllowEdit" color="primary"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <div style="width: 80px">
                                    <v-icon v-if="isAllowEdit"
                                            small
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon v-if="isAllowDelete"
                                            small
                                            color="red darken-2"
                                            @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </div>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <!-- Edit Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-text>
                        <role-form v-model="roleObj" :submitFn="save" :cancelFn="cancel"></role-form>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-row>


        <!-- Confirm Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">

                <v-card outlined>
                    <v-card-title class="headline">
                        Вы дейстивтельно хотите удалить роль?
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text
                               @click="confimDeleteItem">
                            Подтвердить
                        </v-btn>

                        <v-btn color="red darken-1"
                               text
                               @click="cancelDeleteItem">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { RoleModel } from '@/models/administration/Role.model';
    import { RoleFilterModel } from '@/models/administration/RoleFilter.model';

    import RoleForm from './RoleForm.vue';

    import AuthService from '@/services/auth.service';
    import RoleService from '@/services/administration/role.service';

    export default Vue.extend({
        name: 'RoleList',
        data: () => ({
            loading: false,
            dialog: false,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {},
            headers: [
                { text: '', value: 'actions', sortable: false, width: '80px' },
                {
                    text: 'РОЛЬ', value: 'name'
                },
                {
                    text: 'ОПИСАНИЕ', value: 'description'
                },                
            ],
            data: [],
            roleObj: new RoleModel(),
        }),
        components: {
            'role-form': RoleForm
        },
        methods: {
            createItem: function () {
                this.roleObj = new RoleModel();
                this.dialog = true;
            },
            editItem: function (item: RoleModel) {
                RoleService.get(item.id!)
                    .then(response => {
                        this.roleObj = response.data;
                    }).catch(err => {

                    });
                this.dialog = true;
            },
            deleteItem: function (item: RoleModel) {
                this.dialogConfirm = true;
                this.roleObj = item;
            },

            save(userObj: RoleModel) {
                this.dialog = false;
                this.load();
            },
            cancel() {
                this.dialog = false;
            },

            cancelDeleteItem: function () {
                this.dialogConfirm = false;
            },
            confimDeleteItem: function () {
                RoleService.delete(this.roleObj.id!)
                    .then(response => {
                        this.dialogConfirm = false;
                        this.load();
                    }).catch(err => {

                    });
            },

            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new RoleFilterModel(
                        this.search,
                    ));

                RoleService.getList(request)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            },

            getTitle() {
                return 'Роли';
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
            search: function (val, oldVal) {
                if (val.length > 3) {
                    this.search = val;
                } else {
                    this.search = '';
                }
                this.load();
            },
        },
        computed: {
            isAllowRead: function () {
                return AuthService.hasPermission('administration.role.read');
            },
            isAllowEdit: function () {
                return AuthService.hasPermission('administration.role.edit');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.role.delete');
            },
        },
        activated() { },
        async created() {
        },
    });

</script>
