﻿<template>
    <div>
        <v-card>
            <v-toolbar dark color="primary">
                <h5 class="v-heading text-h4 text-sm-h4 ml-3">
                    Управление правами
                </h5>
                <v-spacer></v-spacer>
                <v-btn icon dark
                       @click="cancel">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-list flat dense expand>
                <v-list-group v-for="(cg,i) in claimGroups" :key="i" :value="true" no-action disabled
                              append-icon="">
                    <template v-slot:activator>
                        <v-list-item-title v-text="cg.claimGroupName" class="text-h6" style="line-height: 2rem;">
                        </v-list-item-title>

                        <v-list-item-action>
                            <v-checkbox color="primary" @change="selectGroup($event, index, cg)"></v-checkbox>
                        </v-list-item-action>
                    </template>


                    <v-list-item v-for="(p,j) in cg.permissions" :key="j" style="padding-left: 32px; height:28px;">
                        <v-list-item-title v-text="p.description">
                        </v-list-item-title>

                        <v-list-item-action>
                            <v-checkbox color="primary" :value="p.claimValue"
                                        @change="selectClaim($event, index, p)" v-model="selectedClaims"></v-checkbox>
                        </v-list-item-action>
                    </v-list-item>
                    <v-divider :key="`divider-${i}`"></v-divider>
                </v-list-group>
            </v-list>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary"
                       class="mr-4"
                       @click="cancel">
                    Отмена
                </v-btn>

                <v-btn color="primary"
                       class="mr-1"
                       @click="save">
                    Сохранить
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ObjectClaimGroupModel } from '@/models/administration/ObjectClaimGroup.model';
    import { ObjectClaimModel } from '@/models/administration/ObjectClaim.model';

    import PermissionService from '@/services/administration/permission.service';    

    export default Vue.extend({
        name: 'PermissionsForm',
        props: {
            value: String,
            objectType: String,

            submitFn: { type: Function },
            cancelFn: { type: Function },

            claimGroups: Array,
            selectedClaims: Array,
        },
        data: () => ({
            alert: {
                text: '',
                type: '',
                show: false,
            },

           
        }),
        methods: {
            save() {
                this.submitFn(this.value);
            },
            cancel() {
                this.cancelFn();
            },

            selectGroup(e, i, sg: ObjectClaimGroupModel) {
                const me = this;
                sg.permissions.forEach(p => {                    
                    p.isSelected = e;
                    p.objectId = me.value;
                    p.objectType = me.objectType;
                    if (p.isSelected)
                        me.selectedClaims.push(p.claimValue);
                    else
                        me.selectedClaims.splice(me.selectedClaims.indexOf(p.claimValue), 1);
                });

                PermissionService.setPermissions(sg.permissions)
                    .then(response => {

                    })
                    .catch(err => {

                    });
            },
            selectClaim(e, i, c: ObjectClaimModel) {
                c.isSelected = !c.isSelected; // c.objectId != this.value;
                c.objectType = this.objectType;
                c.objectId = this.value;
                if (c.isSelected)
                    this.selectedClaims.push(c.claimValue);
                else
                    this.selectedClaims.splice(this.selectedClaims.indexOf(c.claimValue), 1);

                PermissionService.setPermissions([c])
                    .then(response => {
                        
                    })
                    .catch(err => {

                    });
            }
        },
        async created() { },
        mounted() { }
    });
</script>
