<template>
    <div>
        <section class="container container--fluid" id="additionalInfo-view">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#additionalInfo-view" class="text-decoration-none text-right text-md-left"> # </a>
                Дополнительная информация
            </h4>

            <v-card outlined>
                <!-- Ограничения на возможность использования на дорогах общего пользования -->
                <v-row no-gutters class="pb-5">
                    <v-col>
                        <v-card-title class="py-1 my-0">
                            Ограничения на возможность использования на дорогах общего пользования
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <template>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-center py-1" width="80%">
                                                    <v-text-field v-model="vehicleUseRestriction.vehicleUseRestrictionText" :disabled="disabled"
                                                                  label="Ограничения"
                                                                  :error-messages="useRestrictionErrors"
                                                                  dense
                                                                  clearable hide-details></v-text-field>
                                                </th>
                                                <th class="text-center py-1" width="20%">
                                                    <v-btn outlined v-if="!disabled"
                                                           @click="addRestrict">
                                                        <v-icon>mdi-plus</v-icon>
                                                        Добавить
                                                    </v-btn>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in vehicleUseRestrictionList"
                                                :key="item.id">
                                                <td>{{ item.vehicleUseRestrictionText }}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteRestrict(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </template>
                        </v-card-text>
                    </v-col>
                </v-row>

                <!-- Возможность передвижения шасси своим ходом по дорогам общего пользования  -->
                <v-row no-gutters class="pb-5" v-if="isOtch">
                    <v-col>
                        <v-card-title class="py-1 my-0">
                            Возможность передвижения шасси своим ходом по дорогам общего пользования
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <template>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-center py-1" width="80%">
                                                    <v-text-field v-model="shassisMovePermition.shassisMovePermitionText" :disabled="disabled"
                                                                  label="Возможность передвижения шасси"
                                                                  :error-messages="shassisMovePermitionErrors"
                                                                  dense
                                                                  clearable hide-details></v-text-field>
                                                </th>
                                                <th class="text-center py-1" width="20%">
                                                    <v-btn outlined v-if="!disabled"
                                                           @click="addPermission">
                                                        <v-icon>mdi-plus</v-icon>
                                                        Добавить
                                                    </v-btn>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in shassisMovePermitionList"
                                                :key="item.id">
                                                <td>{{ item.shassisMovePermitionText }}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deletePermission(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </template>
                        </v-card-text>
                    </v-col>
                </v-row>

                <!-- Возможность использования в качестве маршрутного транспортного средства  -->
                <v-row no-gutters class="pb-5" v-if="!isOtch">
                    <v-col>
                        <v-card-title class="py-1 my-0">
                            Возможность использования в качестве маршрутного транспортного средства
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <template>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-center py-1" width="80%">
                                                    <v-text-field v-model="vehicleRouting.vehicleRoutingText" :disabled="disabled"
                                                                  label="Возможность использования"
                                                                  :error-messages="vehicleRoutingErrors"
                                                                  dense
                                                                  clearable hide-details></v-text-field>
                                                </th>
                                                <th class="text-center py-1" width="20%">
                                                    <v-btn outlined v-if="!disabled"
                                                           @click="addRouting">
                                                        <v-icon>mdi-plus</v-icon>
                                                        Добавить
                                                    </v-btn>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in vehicleRoutingList"
                                                :key="item.id">
                                                <td>{{ item.vehicleRoutingText }}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteRouting(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </template>
                        </v-card-text>
                    </v-col>
                </v-row>

                <!-- Иная информация  -->
                <v-row no-gutters class="pb-5">
                    <v-col>
                        <v-card-title class="py-1 my-0">
                            Иная информация
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <template>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-center py-1" width="80%">
                                                    <v-text-field v-model="vehicleNote.noteText" :disabled="disabled"
                                                                  label="Иная информация"
                                                                  :error-messages="vehicleNoteErrors"
                                                                  dense
                                                                  clearable hide-details></v-text-field>
                                                </th>
                                                <th class="text-center py-1" width="20%">
                                                    <v-btn outlined v-if="!disabled"
                                                           @click="addNote">
                                                        <v-icon>mdi-plus</v-icon>
                                                        Добавить
                                                    </v-btn>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in vehicleNoteList"
                                                :key="item.id">
                                                <td>{{ item.noteText }}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteNote(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </template>
                        </v-card-text>
                    </v-col>
                </v-row>

            </v-card>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { VehicleUseRestrictionModel } from '@/models/documents/complience/VehicleUseRestriction.model';
    import { ShassisMovePermitionModel } from '@/models/documents/complience/ShassisMovePermition.model';
    import { VehicleRoutingModel } from '@/models/documents/complience/VehicleRouting.model';
    import { VehicleNoteModel } from '@/models/documents/complience/VehicleNote.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import ComplienceService from '@/services/document/complience.service';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'AdditionalInfoViewForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                vehicleUseRestriction: VehicleUseRestrictionModel,
                shassisMovePermition: ShassisMovePermitionModel,
                vehicleRouting: VehicleRoutingModel,
                vehicleNote: VehicleNoteModel,

                useRestrictionErrors: any,
                shassisMovePermitionErrors: any,
                vehicleRoutingErrors: any,
                vehicleNoteErrors: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                vehicleUseRestriction: new VehicleUseRestrictionModel(),
                shassisMovePermition: new ShassisMovePermitionModel(),
                vehicleRouting: new VehicleRoutingModel(),
                vehicleNote: new VehicleNoteModel(),
                useRestrictionErrors: [],
                shassisMovePermitionErrors: [],
                vehicleRoutingErrors: [],
                vehicleNoteErrors: []
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode === 'otch';
            },
            vehicleUseRestrictionList(): Array<VehicleUseRestrictionModel> {
                return this.document.vehicleTypeDetail.vehicleUseRestrictions.filter(v => v.state != ObjectState.Deleted);
            },
            shassisMovePermitionList(): Array<ShassisMovePermitionModel> {
                return this.document.vehicleTypeDetail.shassisMovePermitions.filter(v => v.state != ObjectState.Deleted);
            },
            vehicleRoutingList(): Array<VehicleRoutingModel> {
                return this.document.vehicleTypeDetail.vehicleRoutings.filter(v => v.state != ObjectState.Deleted);
            },
            vehicleNoteList(): Array<VehicleNoteModel> {
                return this.document.vehicleTypeDetail.vehicleNotes.filter(v => v.state != ObjectState.Deleted);
            },
        },
        methods: {
            addRestrict: function () {
                this.useRestrictionErrors = [];
                if (this.vehicleUseRestriction.vehicleUseRestrictionText) {
                    this.vehicleUseRestriction.state = ObjectState.Added;
                    this.vehicleUseRestriction.vehicleTypeDetailId = this.document.vehicleTypeDetail.id;

                    if (this.document.vehicleTypeDetail.id != ObjectHelper.defaultGuid()) {
                        ComplienceService.saveVehicleUseRestriction(this.vehicleUseRestriction)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleUseRestriction.id = response.data.entityId;
                                    this.vehicleUseRestriction.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.vehicleUseRestrictions.push(this.vehicleUseRestriction);

                                    this.vehicleUseRestriction = new VehicleUseRestrictionModel(0, this.document.vehicleTypeDetail.id);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleUseRestrictions.push(this.vehicleUseRestriction);
                        this.vehicleUseRestriction = new VehicleUseRestrictionModel(0 , this.document.vehicleTypeDetail.id);
                    }
                } else {
                    this.useRestrictionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteRestrict(item: VehicleUseRestrictionModel) {
                const indx = this.document.vehicleTypeDetail.vehicleUseRestrictions
                    .findIndex(chd => chd.vehicleUseRestrictionText == item.vehicleUseRestrictionText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleTypeDetail.vehicleUseRestrictions[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleUseRestriction(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleTypeDetail.vehicleUseRestrictions.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleUseRestrictions.splice(indx, 1);
                    }
                }
            },            

            addPermission: function () {
                this.shassisMovePermitionErrors = [];
                if (this.shassisMovePermition.shassisMovePermitionText) {
                    this.shassisMovePermition.state = ObjectState.Added;
                    this.shassisMovePermition.vehicleTypeDetailId = this.document.vehicleTypeDetail.id;

                    if (this.document.vehicleTypeDetail.id != ObjectHelper.defaultGuid()) {
                        ComplienceService.saveShassisMovePermition(this.shassisMovePermition)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.shassisMovePermition.id = response.data.entityId;
                                    this.shassisMovePermition.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.shassisMovePermitions.push(this.shassisMovePermition);

                                    this.shassisMovePermition = new ShassisMovePermitionModel(0, this.document.vehicleTypeDetail.id);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.shassisMovePermitions.push(this.shassisMovePermition);
                        this.shassisMovePermition = new ShassisMovePermitionModel(0, this.document.vehicleTypeDetail.id);
                    }
                } else {
                    this.shassisMovePermitionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deletePermission(item: ShassisMovePermitionModel) {
                const indx = this.document.vehicleTypeDetail.shassisMovePermitions
                    .findIndex(chd => chd.shassisMovePermitionText == item.shassisMovePermitionText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleTypeDetail.shassisMovePermitions[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveShassisMovePermition(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleTypeDetail.shassisMovePermitions.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {

                            });
                    } else {
                        this.document.vehicleTypeDetail.shassisMovePermitions.splice(indx, 1);
                    }
                }
            },

            addRouting: function () {
                this.vehicleRoutingErrors = [];
                if (this.vehicleRouting.vehicleRoutingText) {
                    this.vehicleRouting.state = ObjectState.Added;
                    this.vehicleRouting.vehicleTypeDetailId = this.document.vehicleTypeDetail.id;

                    if (this.document.vehicleTypeDetail.id != ObjectHelper.defaultGuid()) {
                        ComplienceService.saveVehicleRouting(this.vehicleRouting)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleRouting.id = response.data.entityId;
                                    this.vehicleRouting.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.vehicleRoutings.push(this.vehicleRouting);

                                    this.vehicleRouting = new VehicleRoutingModel(0, this.document.vehicleTypeDetail.id);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleRoutings.push(this.vehicleRouting);
                        this.vehicleRouting = new VehicleRoutingModel(0, this.document.vehicleTypeDetail.id);
                    }
                } else {
                    this.vehicleRoutingErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteRouting(item: VehicleRoutingModel) {
                const indx = this.document.vehicleTypeDetail.vehicleRoutings
                    .findIndex(chd => chd.vehicleRoutingText == item.vehicleRoutingText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleTypeDetail.vehicleRoutings[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleRouting(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleTypeDetail.vehicleRoutings.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {

                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleRoutings.splice(indx, 1);
                    }
                }
            },

            addNote: function () {
                this.vehicleNoteErrors = [];
                if (this.vehicleNote.noteText) {
                    this.vehicleNote.state = ObjectState.Added;
                    this.vehicleNote.vehicleTypeDetailId = this.document.vehicleTypeDetail.id;

                    if (this.document.vehicleTypeDetail.id != ObjectHelper.defaultGuid()) {
                        ComplienceService.saveVehicleNote(this.vehicleNote)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleNote.id = response.data.entityId;
                                    this.vehicleNote.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.vehicleNotes.push(this.vehicleNote);
                                    this.vehicleNote = new VehicleRoutingModel(0, this.document.vehicleTypeDetail.id);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleNotes.push(this.vehicleNote);
                        this.vehicleNote = new VehicleRoutingModel(0, this.document.vehicleTypeDetail.id);
                    }
                } else {
                    this.vehicleNoteErrors = ['Поле обязательно для заполнения'];;
                }
            },
            deleteNote(item: VehicleNoteModel) {
                const indx = this.document.vehicleTypeDetail.vehicleNotes
                    .findIndex(chd => chd.noteText == item.noteText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {                        
                        let deleteEntity = this.document.vehicleTypeDetail.vehicleNotes[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleNote(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleTypeDetail.vehicleNotes.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {

                            });
                    } else {
                        this.document.vehicleTypeDetail.vehicleNotes.splice(indx, 1);
                    }
                }
            },

        },
        async created() {
            
        },
    });
</script>


