<template>
    <div>
        <section class="container pa-4 pa-sm-6 pa-md-8 container--fluid" id="basicdocs-info">
            <h4 class="v-heading text-h4 text-sm-h4 mb-3">
                <a href="#basicdocs-info" class="text-decoration-none text-right text-md-left"> # </a>                
                Перечень документов, являющихся основанием для оформления
            </h4>

            <v-row>
                <v-col>
                    <v-card>
                        <v-card-title>
                            <v-row no-gutters>

                            </v-row>
                        </v-card-title>
                        <v-card-text>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';


    export default Vue.extend({
        name: 'BasicDocsForm',
        props: {
            document: ComplienceDocumentModel
        },
        data() {
            const dataObj: {
                rules: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
        },
        methods: {
            
        },
        async created() {
            
        },
    });
</script>


