<template>
    <div>
        <section class="container container--fluid" id="document-info">
            <h4 class="v-heading text-h4 text-sm-h4 mb-3">
                <a href="#document-info" class="text-decoration-none text-right text-md-left"> # </a>
                Документ
            </h4>

            <!-- Номер документа -->
            <v-row no-gutters>
                <v-col>
                    <v-text-field ref="complienceDocumentNumber"
                                  label="Номер документа*"
                                  v-model="document.docNumber"
                                  :rules="rules.required"
                                  outlined required dense
                                  :error-messages="docNumberErrors"
                                  :disabled="disabled"
                                  @change="valueChanged"></v-text-field>
                </v-col>
            </v-row>

            <!-- Версия -->
            <!--v-row no-gutters>
            <v-col>
                <v-text-field label="Версия" v-if="!isSbkts"
                              v-model="document.version"
                              outlined
                              dense></v-text-field>
            </v-col>
        </v-row-->
            <!-- Дата внесения в единый реестр :return-value.sync="document.docDate" -->
            <v-row no-gutters>
                <v-col>
                    <v-menu ref="menuDocDate"
                            v-model="controls.docDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field ref="complienceDocumentDocDate"
                                          v-model="document.docDateFormatted"
                                          :label="docDateLabel"
                                          prepend-icon="mdi-calendar"
                                          readonly dense outlined clearable
                                          :rules="rules.required"
                                          :disabled="disabled"
                                          :error-messages="docDateErrors"
                                          v-bind="attrs"
                                          v-on="on" required></v-text-field>
                        </template>
                        <v-date-picker v-model="document.docDate"
                                       no-title
                                       scrollable
                                       :first-day-of-week="0"
                                       locale="ru-ru"
                                       @change="valueChanged">
                            <v-spacer></v-spacer>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docDateMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docDateMenu = false">
                                Ok
                            </v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-col>
            </v-row>

            <v-row no-gutters v-if="!isSbkts">
                <v-col>
                    <v-menu ref="menuDocStartDate"
                            v-model="controls.docStartDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="document.docStartDateFormatted"
                                          label="Срок действия с"
                                          prepend-icon="mdi-calendar"
                                          readonly dense outlined clearable
                                          :disabled="disabled"
                                          v-bind="attrs"
                                          v-on="on"></v-text-field>
                        </template>
                        <v-date-picker v-model="document.docStartDate"
                                       no-title
                                       scrollable
                                       :first-day-of-week="0"
                                       :show-current="true"
                                       locale="ru-ru" @change="valueChanged">
                            <v-spacer></v-spacer>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docStartDateMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docStartDateMenu = false">
                                Ok
                            </v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-col>
                <v-col>
                    <v-menu ref="menuDocEndDate"
                            v-model="controls.docEndDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="document.docEndDateFormatted"
                                          label="Срок действия по"
                                          prepend-icon="mdi-calendar"
                                          readonly dense outlined clearable
                                          :disabled="disabled"
                                          v-bind="attrs"
                                          v-on="on"></v-text-field>
                        </template>
                        <v-date-picker v-model="document.docEndDate"
                                       no-title
                                       scrollable
                                       :first-day-of-week="0"
                                       locale="ru-ru" @change="valueChanged">
                            <v-spacer></v-spacer>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docEndDateMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn text
                                   color="primary"
                                   @click="controls.docEndDateMenu = false">
                                Ok
                            </v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-col>
            </v-row>

            <!-- Страна оформления документа -->
            <v-row no-gutters>
                <v-col class="py-0 my-0">
                    <v-autocomplete label="Страна оформления документа"
                                    :items="dics.countries"
                                    v-model="document.countryId"
                                    clearable dense outlined hide-selected
                                    :disabled="disabled"
                                    item-text="name"
                                    item-value="id"
                                    @change="valueChanged"></v-autocomplete>
                </v-col>
            </v-row>

            <!-- Орган сертификации -->
            <v-row no-gutters>
                <v-col class="py-0 my-0" cols="12">
                    <v-card class="mb-3" outlined>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutters>
                                <v-col cols="12" class="py-0 my-0">
                                    <h4 class="v-heading text-h6 text-sm-h6 mb-3">
                                        {{ authorityNameTitle }}
                                    </h4>
                                    <v-autocomplete :label="authorityNameLabel"
                                                    :items="dics.authorityOrgs"
                                                    v-model="document.authorityId"
                                                    clearable hide-selected
                                                    :disabled="disabled"
                                                    item-text="name"
                                                    item-value="id" class="mx-2"
                                                    @change="valueChanged">
                                        <template slot="selection" slot-scope="data">
                                            <!-- HTML that describe how select should render selected items -->
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            <!-- HTML that describe how select should render items when the select is open -->
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                    </v-autocomplete>

                                    <div class="mx-2">
                                        <small>Полное наименование:</small> {{ !!document.authority ? document.authority.name : '' }}
                                    </div>

                                    <!--div class="mx-2">
                                        <small>Фактический адрес:</small> {{ !!document.authority ? document.authority.factAddress : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Юридический адрес:</small> {{ !!document.authority ? document.authority.juridicalAddress : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Телефон:</small> {{ !!document.authority ? document.authority.phone : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Email:</small> {{ !!document.authority ? document.authority.email : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Телефакс:</small> {{ !!document.authority ? document.authority.fax : '' }}
                                    </div-->
                                </v-col>
                                <v-col cols="12" class="d-flex justify-end pa-1">
                                    <v-btn outlined @click="addOrg()"
                                            v-if="!disabled">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Добавить
                                    </v-btn>
                                </v-col>
                            </v-row>
                            
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Номер бланка документа -->
            <v-row>
                <v-col>
                    <v-card outlined>
                        <v-card-title>
                            <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">
                                Номер бланка документа
                            </h4>
                        </v-card-title>
                        <v-card-text>
                            <v-simple-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left py-1" width="80%">
                                                <v-text-field label="Номер бланка документа*"
                                                              v-model="number" :disabled="disabled"
                                                              hide-details dense
                                                              :error-messages="blankNumberErrors"></v-text-field>
                                            </th>
                                            <th class="text-center py-1" width="20%">
                                                <v-btn outlined @click="addBN()" v-if="!disabled">
                                                    <v-icon left>
                                                        mdi-plus
                                                    </v-icon>
                                                    Добавить
                                                </v-btn>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in blankNumberList"
                                            :key="item.number">
                                            <td>
                                                {{ item.number }}
                                            </td>
                                            <td class="text-center">
                                                <v-btn icon v-if="!disabled"
                                                       class="mx-auto"
                                                       @click="deleteBN(item)">
                                                    <v-icon color="red lighten-1">
                                                        mdi-close
                                                    </v-icon>
                                                </v-btn>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Действие распространяется -->
            <v-row no-gutters>
                <v-col>
                    <v-card outlined v-if="!isSbkts">
                        <v-card-text class="py-1 my-0">
                            <v-radio-group v-model="document.docDistributionSign"
                                           @change="valueChanged" :disabled="disabled">
                                <v-radio key="0"
                                         :label=" document.docTypeCode == 'otts'
                                        ? 'Действие данного ОДОБРЕНИЕ ТИПА ТРАНСПОРТНОГО СРЕДСТВА распространяется на серийно выпускаемую продукцию'
                                        : 'Действие данного ОДОБРЕНИЕ ТИПА ШАССИ распространяется на серийно выпускаемую продукцию'"
                                         :value="0"></v-radio>
                                <v-radio key="1"
                                         :label=" document.docTypeCode == 'otts'
                                        ? 'Действие данного ОДОБРЕНИЕ ТИПА ТРАНСПОРТНОГО СРЕДСТВА распространяется на партию транспортных средств'
                                        : 'Действие данного ОДОБРЕНИЕ ТИПА ШАССИ распространяется на партию транспортных средств'"
                                         :value="1"></v-radio>
                            </v-radio-group>
                            <v-text-field label="Количество штук в партии"
                                          v-model="document.batchCount"
                                          v-if="document.docDistributionSign == 1"
                                          dense @change="valueChanged"></v-text-field>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

        </section>

        <!-- Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-text>
                        <organization-form v-model="newOrganization"
                                           :saveFunc="saveOrg"
                                           :cancelFunc="cancelOrg">
                        </organization-form>
                    </v-card-text>                    
                </v-card>

            </v-dialog>
        </v-row>
    </div>
</template>

<script lang="ts">
    import moment from 'moment';
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { BlankNumberModel } from '@/models/documents/complience/BlankNumber.model';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import ComplienceService from '@/services/document/complience.service';

    import OrganizationForm from '@/components/registries/OrganizationForm.vue';
    import ObjectHelper from '@/helpers/object.helper';


    export default Vue.extend({
        name: 'DocumentForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                controls: any,
                dics: any,
                number: string,
                docNumberErrors: any,
                docDateErrors: any,
                blankNumberErrors: any,

                newOrganization: OrganizationModel,
                dialog: boolean,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
                controls: {
                    docDateMenu: false,
                    docStartDateMenu: false,
                    docEndDateMenu: false
                },
                dics: {
                    countries: [],
                    authorityOrgs: [],
                },
                number: '',
                docNumberErrors: [],
                docDateErrors: [],
                blankNumberErrors: [],

                newOrganization: new OrganizationModel(),
                dialog: false,
            };
            return dataObj;
        },
        watch: {
            loader() { },
            'document.docNumber': function (val, oldVal) {
                const response = axios.get('/api/ComplienceDocument/IsDocExist', {
                    params: { docNumber: val, docId: this.document.id }
                }).then(response => {
                    this.docNumberErrors = response.data == false ? [] : ['Документ c указанным номером уже существует']
                }).catch(err => {

                });
            },
            'document.authorityId': function (val, oldVal) {
                this.document.authority = this.dics.authorityOrgs.find(a => a.id == val);
                //this.$emit('trackChange', { msg: 'Документ необходимо сохранить', field: 'authorityId', val: val, oldVal: oldVal })
            },
            'document.docDate': function (val, oldVal) {
                this.document.docDateFormatted = this.formatDate(val);
                //this.$emit('trackChange', { msg: 'Документ необходимо сохранить', field: 'docDate', val: val, oldVal: oldVal })
            },
            'document.docStartDate': function (val, oldVal) {
                this.document.docStartDateFormatted = this.formatDate(val);
                //this.$emit('trackChange', { msg: 'Документ необходимо сохранить', field: 'docStartDate', val: val, oldVal: oldVal })
            },
            'document.docEndDate': function (val, oldVal) {
                this.document.docEndDateFormatted = this.formatDate(val);
                //this.$emit('trackChange', { msg: 'Документ необходимо сохранить', field: 'docEndDate', val: val, oldVal: oldVal })
            }
        },
        computed: {
            docDateLabel(): string {
                return this.document.docTypeCode === 'sbkts'
                    ? 'Дата оформления*'
                    : 'Дата внесения в единый реестр*';
            },
            authorityNameLabel(): string {
                return this.document.docTypeCode === 'sbkts'
                    ? 'Выберите испытательная лаборатория'
                    : 'Выберите орган по сертификации';
            },
            authorityNameTitle(): string {
                return this.document.docTypeCode === 'sbkts'
                    ? 'Испытательная лаборатория'
                    : 'Орган по сертификации';
            },
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            blankNumberList(): BlankNumberModel[] {
                return this.document.blankNumbers.filter(bn => bn.state != ObjectState.Deleted);
            }
        },
        methods: {
            reset: function () {
                (this.$refs.form as any).reset()
            },
            resetValidation: function () {
                (this.$refs.form as any).resetValidation();
            },
            validateDocFields(): boolean {
                const errorMsg = 'Поле обязательно для заполнения';
                const docNumberValid = !!this.document.docNumber;
                const docDateValid = !!this.document.docDate;

                this.docNumberErrors = docNumberValid ? [] : [errorMsg];
                this.docDateErrors = docDateValid ? [] : [errorMsg];

                return docNumberValid && docDateValid;
            },

            formatDate: function (inDate) {
                return inDate
                    ? moment(inDate).format("DD.MM.YYYY")
                    : "";
            },

            addBN: function () {
                this.blankNumberErrors = []
                if (this.number) {
                    if (!this.document.blankNumbers) {
                        this.document.blankNumbers = [];
                    }

                    var indx = this.document.blankNumbers
                        .findIndex(tp => tp.number == this.number);

                    if (indx < 0) {
                        const bn = new BlankNumberModel(0, this.document.id, this.number, ObjectState.Added);

                        if (this.document.id == ObjectHelper.defaultGuid() || this.document.id == '') {
                            this.document.blankNumbers.push(bn);
                        } else {
                            ComplienceService.saveBlankNumber(bn).then(r => {
                                if (r.status == 'Ok') {
                                    bn.id = r.data.entityId;
                                    this.document.blankNumbers.push(bn);
                                }
                            }).catch(err => { });
                        }

                        this.number = '';
                    }
                } else {
                    this.blankNumberErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteBN: function (item: BlankNumberModel) {
                var indx = this.document.blankNumbers.findIndex(bn => bn.number == item.number);
                if (indx > -1) {
                    if (item.id != 0) {
                        let bn = this.document.blankNumbers[indx];
                        bn.state = ObjectState.Deleted;

                        if (this.document.id == ObjectHelper.defaultGuid() || this.document.id == '') {
                            ComplienceService.saveBlankNumber(bn).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.blankNumbers.splice(indx, 1);
                                }
                            }).catch(err => { });
                        } else {
                            this.document.blankNumbers.splice(indx, 1);
                        }
                    } else {
                        this.document.blankNumbers.splice(indx, 1);
                    }
                }
            },

            addOrg() {
                this.newOrganization = new OrganizationModel();
                this.newOrganization.organizationTypes = [];
                this.newOrganization.registerType = 0;
                DictionaryService.getOrgTypes().then(response => {
                    const orgTypes = response.data;
                    if (orgTypes.length > 0) {                        
                        const authorityOrgType = orgTypes.find(o => o.code == 'authority');
                        this.newOrganization.organizationTypes.push(new OrgTypeDicModel(0,
                            authorityOrgType.id,
                            authorityOrgType.code,
                            null,
                            0,
                        ));

                        this.dialog = true;
                    }
                }).catch(err => {

                });
                
            },
            saveOrg() {
                if (this.newOrganization.name) {
                    OrganizationService.saveOrg(this.newOrganization)
                        .then(response => {
                            this.dialog = false;
                            /*
                            this.newOrganization.organizationTypes.forEach(ot => {
                                if (ot.orgTypeCode) {
                                    var params = new URLSearchParams();
                                    params.append("orgTypeCodes", ot.orgTypeCode);
                                    OrganizationService.getList(params)
                                        .then(response => {
                                            if (ot.orgTypeCode == 'laboratory'
                                                || ot.orgTypeCode == 'authority') {
                                                this.dics.authorityOrgs = response.data;
                                            }
                                        }).catch(err => {

                                        });
                                }
                            });
                            */
                            var params = new URLSearchParams();
                            if (this.document.docTypeCode === 'sbkts') {
                                params.append("orgTypeCodes", "laboratory");
                            } else {
                                params.append("orgTypeCodes", "authority");
                            }
                            OrganizationService.getList(params)
                                .then(response => {
                                    this.dics.authorityOrgs = response.data;
                                    if (this.document.authorityId)
                                        this.document.authority = this.dics.authorityOrgs.find(a => a.orgId == this.document.authorityId);
                                }).catch(err => {

                                });
                        }).catch(err => {

                        });
                }
            },
            cancelOrg() {
                this.dialog = false;
            },
            
            valueChanged: function (val, oldVal) {
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#document-info', val: val, oldVal: oldVal })
            },
        },
        components: {
            'organization-form': OrganizationForm,
        },
        async created() {
            DictionaryService.getNsiValues('nsi034')
                .then(response => {
                    this.dics.countries = response.data;
                    if (!this.document.id && !this.document.countryId) {
                        this.document.countryId = this.dics.countries.find(c => c.code == '398').id;
                    }
                }).catch(err => {

                });

            var params = new URLSearchParams();
            if (this.document.docTypeCode === 'sbkts') {
                params.append("orgTypeCodes", "laboratory");
            } else {
                params.append("orgTypeCodes", "authority");
            }

            OrganizationService.getList(params)
                .then(response => {
                    this.dics.authorityOrgs = response.data;
                    if (this.document.authorityId)
                        this.document.authority = this.dics.authorityOrgs.find(a => a.orgId == this.document.authorityId);
                }).catch(err => {

                });
        }
    });
</script>


