<template>
    <div>
        <section class="container container--fluid" id="generalview-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#generalview-info" class="text-decoration-none text-right text-md-left"> # </a>
                {{ getTitle() }}
            </h4>
            <v-card outlined>
                <v-row>
                    <v-col>
                        <v-card-title>
                            <v-row no-gutters>
                                <v-btn outlined :disabled="!document.id"
                                       @click="addImg" v-if="!disabled">
                                    <v-icon>mdi-plus</v-icon>
                                    Загрузить изображение
                                </v-btn>
                            </v-row>
                        </v-card-title>
                        <v-card-text>

                            <v-fade-transition mode="out-in">
                                <v-row>
                                    <!-- '/api/fileStorage/getFileContent/' + item.id -->
                                    <v-col cols="6" v-for="(item, index) in fileInfos">
                                        <v-card>
                                            <v-card-actions>
                                                <v-btn color="primary" text v-if="!disabled"
                                                       @click="editImgName(item)">
                                                    Редактировать
                                                </v-btn>
                                                <v-spacer></v-spacer>
                                                <v-btn color="error" text v-if="!disabled"
                                                       @click="deleteGeneralView(item)">
                                                    Удалить
                                                </v-btn>
                                            </v-card-actions>
                                            <v-card-text>
                                                <!--v-img v-bind:src="'data:image/jpeg;base64,' + item.vehiclePicture"
                                                height="125"
                                                class="grey darken-4"></v-img-->
                                                <expandable-image v-bind:src="'data:image/jpeg;base64,' + item.vehiclePicture"
                                                                  class="grey darken-4"></expandable-image>
                                            </v-card-text>
                                            <v-card-title class="title">
                                                {{ item.fileName }}
                                            </v-card-title>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-fade-transition>

                        </v-card-text>
                    </v-col>
                </v-row>
            </v-card>
        </section>

        <!-- Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="800px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Загрузка изображения</span>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col>
                                <div v-if="currentFile">
                                    <v-progress-linear :value="progress"
                                                        color="light-blue"
                                                        height="25" readonly>
                                        <strong>{{ progress }} %</strong>
                                    </v-progress-linear>
                                    <v-alert v-if="message" border="left" type="warning" class="my-1">
                                        {{ message }}
                                    </v-alert>
                                </div>
                            </v-col>
                        </v-row>
                        <!-- Изображение  image/png,  -->
                        <v-row>
                            <v-col class="py-0 my-0">
                                <v-file-input :rules="rules.required" required
                                              v-model="fileName"
                                              outlined show-size
                                              accept="image/jpeg"
                                              placeholder="Выберите изображение"
                                              prepend-icon="mdi-camera"
                                              label="Изображение*"
                                              @change="selectFile"></v-file-input>
                            </v-col>
                        </v-row>

                        <!-- Наименование документа  -->
                        <v-row>
                            <v-col class="py-0 my-0">
                                <v-text-field v-model="currentFileName"
                                              label="Наименование документа*"
                                              dense
                                              outlined required
                                              :rules="rules.required"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                               text
                               @click="saveImg">
                            Загрузить
                        </v-btn>
                        <v-btn color="secondary"
                               text
                               @click="dialog = false">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>

        <!-- Dialog Edit -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogEdit"
                      persistent
                      max-width="800px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Редактирование наименование изображения</span>
                    </v-card-title>
                    <v-card-text>
                        <!-- Наименование документа  -->
                        <v-row>
                            <v-col class="py-0 my-0">
                                <v-text-field v-model="currentFileName"
                                              label="Наименование документа*"
                                              dense
                                              outlined required
                                              :rules="rules.required"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                               text
                               @click="saveImgName">
                            Сохранить
                        </v-btn>
                        <v-btn color="secondary"
                               text
                               @click="dialogEdit = false">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>

    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { GeneralViewModel } from '@/models/documents/complience/GeneralView.model';

    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'GeneralViewForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dialog: boolean,
                dialogEdit: boolean,
                currentFile: any,
                currentFileName: string,
                fileName: string,
                currentItem: GeneralViewModel,
                progress: number,
                message: string,
                fileInfos: Array<GeneralViewModel>,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dialog: false,
                dialogEdit: false,
                currentFile: null,
                currentFileName: '',
                fileName: '',
                currentItem: new GeneralViewModel(),
                progress: 0,
                message: '',
                fileInfos: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            isOtch() {
                return this.document.docTypeCode == 'otch';
            },
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
        },
        methods: {
            addImg() {
                this.dialog = true;
            },
            saveImg() {
                if (!this.currentFile) {
                    this.message = "Пожалуйста, выберите файл.";
                    return;
                }
                if (!this.currentFileName) {
                    this.message = "Пожалуйста, укажите Наименование документа.";
                    return;
                }

                this.message = "";

                ComplienceService.upload(this.currentFile
                    , this.currentFileName
                    , this.document.id
                    , (event) => {
                    this.progress = Math.round((100 * event.loaded) / event.total);
                })
                .then((response) => {
                    this.message = 'Файл загружен.';
                    this.currentFile = null;
                    this.currentFileName = '';
                    this.fileName = '';
                    return ComplienceService.getGeneralViewsByDocId(this.document.id);
                })
                .then((files) => {
                    this.fileInfos = files.data;
                    this.dialog = false;
                })
                .catch(() => {
                    this.progress = 0;
                    this.message = 'Возникла ошибку при загрузке файла';
                    this.currentFile = null;
                });
            },

            selectFile(file) {
                this.message = "";
                this.progress = 0;
                this.currentFile = file;
            },
            deleteGeneralView(item: GeneralViewModel) {
                ComplienceService.deleteGeneralView(item.id)
                    .then((response) => {
                        return ComplienceService.getGeneralViewsByDocId(this.document.id);
                    })
                    .then((files) => {
                        this.fileInfos = files.data;
                    })
                    .catch(() => {

                    });
            },

            editImgName(item) {
                this.currentItem = item;
                this.dialogEdit = true;
                this.currentFileName = this.currentItem.fileName ?? '';
            },
            saveImgName() {
                if (!this.currentFileName) {
                    this.message = "Пожалуйста, укажите Название.";
                    return;
                }
                this.message = "";

                ComplienceService.saveImgName(this.currentItem.id
                    , this.currentFileName)
                    .then((response) => {
                        this.message = "Сохранено";
                        this.currentFileName = '';
                        this.currentItem = new GeneralViewModel();
                        return ComplienceService.getGeneralViewsByDocId(this.document.id);
                    })
                    .then((files) => {
                        this.fileInfos = files.data;
                        this.dialogEdit = false;
                    })
                    .catch(() => {
                        this.progress = 0;
                        this.message = "Error";
                        this.currentFile = undefined;
                    });
            },

            getTitle() {
                if (this.isOtch) {
                    return "Общий вид шасси транспортного средства";
                }
                return "Общий вид транспортного средства";
            }
        },
        async created() {
            
        },
        mounted() {
            ComplienceService.getGeneralViewsByDocId(this.document.id)
                .then((files) => {
                    this.fileInfos = files.data;
                })
                .catch(() => {
                    this.progress = 0;
                    this.message = "Could not upload the file!";
                    this.currentFile = undefined;
                });
        },
    });
</script>


