<template>
    <div>
        <section class="container container--fluid" id="vindescription-info">
            <h4 class="v-heading text-h4 text-sm-h4 mb-3">
                <a href="#vindescription-info" class="text-decoration-none text-right text-md-left"> # </a>
                Описание маркировки
            </h4>
            <v-row no-gutters>
                <v-col>
                    <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">                        
                        {{ getLabelTitle() }}
                    </h4>
                    <v-row no-gutters>
                        <v-col cols="12">
                            <v-switch v-model="notManufacturerPlateIndicatorSign" :disabled="disabled"
                                      inset
                                      label="Табличка изготовителя отсуствует"></v-switch>
                        </v-col>
                        <v-col cols="12">
                            <!--v-textarea v-if="!notManufacturerPlateIndicatorSign"
                                        outlined dense
                                        label="Место расположения таблички изготовителя"
                                        v-model="document.vehicleLabelingDetail.vehicleComponentLocationText">
                            </v-textarea-->

                            <v-card outlined v-if="!notManufacturerPlateIndicatorSign">
                                <v-card-title>
                                    Место расположения таблички изготовителя
                                </v-card-title>
                                <v-card-text>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left py-1" width="80%">
                                                        <v-text-field label="Место расположения*" :disabled="disabled"
                                                                      v-model="currentLabelLocation.locationText"
                                                                      hide-details dense
                                                                      :error-messages="labelLocationErrors"></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addLabelLoc()">
                                                            <v-icon left>
                                                                mdi-plus
                                                            </v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in labelLocationList"
                                                    :key="item.locationText">
                                                    <td>
                                                        {{ item.locationText }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteLabelLoc(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                            </v-card>

                        </v-col>
                    </v-row>
                    <v-row no-gutters>
                        <v-col>
                            <!--v-textarea outlined dense
                                        label="Место расположения идентификационного номера"
                                        v-model="document.vehicleLabelingDetail.vehicleIdentificationNumberLocationText">
                            </v-textarea-->


                            <v-card outlined>
                                <v-card-title>
                                    Место расположения идентификационного номера
                                </v-card-title>
                                <v-card-text>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left py-1" width="80%">
                                                        <v-text-field label="Место расположения*" :disabled="disabled"
                                                                      v-model="currentIdNumberLocation.locationText"
                                                                      hide-details dense
                                                                      :error-messages="idNumberLocationErrors"></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addIdNumberLoc()">
                                                            <v-icon left>
                                                                mdi-plus
                                                            </v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in idNumberLocationList"
                                                    :key="item.locationText">
                                                    <td>
                                                        {{ item.locationText }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteIdNumberLoc(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                            </v-card>



                        </v-col>
                    </v-row>
                    <!--v-row no-gutters>
                        <v-col>
                            <v-textarea outlined dense
                                        label="Место расположения идентификационного номера двигателя"
                                        v-model="document.vehicleLabelingDetail.engineIdentificationNumberLocationText">
                            </v-textarea>
                        </v-col>
                    </v-row-->
                </v-col>
            </v-row>
            <v-row no-gutters>
                <v-col>
                    <v-card outlined>
                        <v-card-text>
                            <h4 class="v-heading text-h6 text-sm-h6 mb-3">
                                Структура и содержание идентификационного номера
                            </h4>
                            <v-row no-gutters>
                                <v-col cols="12" class="d-inline-flex">
                                    <div v-for="(item, index) in vin" v-if="!disabled">
                                        <v-text-field-simplemask v-model="vin[index]"
                                                                 :label="(index + 1).toString()"
                                                                 @change="vinChange"
                                                                 v-bind:properties="{
                                            prefix: '',
                                            suffix: '',
                                            readonly: false,
                                            disabled: false,
                                            outlined: true,
                                            clearable: false,
                                            placeholder: '',
                                            dense: true,
                                            'hide-details': true,
                                          }"
                                                                 v-bind:options="{
                                            inputMask: '#',
                                            outputMask: '#',
                                            empty: null,
                                            applyAfter: false,
                                            alphanumeric: true,
                                            lowerCase: false,
                                          }" />
                                    </div>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="12">
                                    <v-toolbar color="light-grey" dense flat>
                                        <v-toolbar-title>Описание</v-toolbar-title>

                                        <v-spacer></v-spacer>

                                        <v-btn outlined v-if="!disabled"
                                               @click="addDetail">
                                            <v-icon>mdi-plus</v-icon>
                                            Создать группу
                                        </v-btn>
                                    </v-toolbar>
                                    <v-list dense>
                                        <template v-for="(item, index) in vinCharacterDetailsList">
                                            <v-divider></v-divider>
                                            <v-list-item :key="item.idCharacterStartingOrdinal">
                                                <v-list-item-content>
                                                    <v-row>
                                                        <v-col cols="2">
                                                            <v-list-item-title>
                                                                {{ item.idCharacterStartingOrdinal }} - {{ item.idCharacterEndingOrdinal }}
                                                            </v-list-item-title>
                                                        </v-col>
                                                        <v-col cols="10">
                                                            <v-list-item-subtitle>
                                                                {{ item.dataTypeName }}
                                                            </v-list-item-subtitle>
                                                            <v-list-item-subtitle>
                                                                {{ item.idCharacterText }}
                                                            </v-list-item-subtitle>
                                                            <v-list-item-subtitle>
                                                                <template v-if="item.isAlpha">
                                                                    <v-list-item-subtitle>
                                                                        {{ item.isAlpha ? 'Буква (A-Z, кроме I,O,Q)' : '' }}
                                                                    </v-list-item-subtitle>
                                                                </template>
                                                                <template v-if="item.isDigit">
                                                                    <v-list-item-subtitle>
                                                                        {{ item.isDigit ? 'Цифра(0-9)' : '' }}
                                                                    </v-list-item-subtitle>
                                                                </template>
                                                                <template v-if="item.isIncludeChar">
                                                                    <v-list-item-subtitle>
                                                                        Включить символы: {{ item.includeCharStr }}
                                                                    </v-list-item-subtitle>
                                                                </template>
                                                                <template v-if="item.isExcludeChar">
                                                                    <v-list-item-subtitle>
                                                                        Исключить символы: {{ item.excludeCharStr }}
                                                                    </v-list-item-subtitle>
                                                                </template>
                                                                <template v-for="(chd, indx) in item.vinCharacterDescriptions">
                                                                    <v-list-item-subtitle>
                                                                        {{ chd.idCharacterValue }} - {{ chd.idCharacterValueText }}
                                                                    </v-list-item-subtitle>
                                                                </template>
                                                            </v-list-item-subtitle>
                                                        </v-col>
                                                    </v-row>
                                                </v-list-item-content>
                                                <v-list-item-action>
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteDetail(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </v-list-item-action>
                                            </v-list-item>
                                        </template>
                                    </v-list>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>




            <!-- Dialog -->
            <v-row justify="center" no-gutters>
                <v-dialog v-model="dialog"
                          persistent
                          max-width="800px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Группа</span>
                        </v-card-title>
                        <v-card-text>
                            <v-row no-gutters>
                                <v-col cols="2">
                                    <v-select :items="positions"
                                              label="C*"
                                              v-model="currentVinCharacterDetail.idCharacterStartingOrdinal"
                                              dense outlined
                                              :error-messages="vinCharacterDetailErrors"></v-select>
                                </v-col>
                                <v-col cols="2">
                                    <v-select :items="positions"
                                              label="ПО*"
                                              v-model="currentVinCharacterDetail.idCharacterEndingOrdinal"
                                              dense outlined
                                              :error-messages="vinCharacterDetailErrors"></v-select>
                                </v-col>
                                <v-col cols="8">
                                    <v-text-field outlined dense
                                                  v-model="currentVinCharacterDetail.idCharacterText"
                                                  label="Описание">
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-select :items="dics.nsi140datatype"
                                              item-text="name"
                                              item-value="id"
                                              label="Тип данных"
                                              v-model="currentVinCharacterDetail.dataTypeId"
                                              outlined dense></v-select>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="12" v-if="currentVinCharacterDetail.dataTypeCode == '1' || currentVinCharacterDetail.dataTypeCode == '4'">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th style="padding: 5px;" width="20%">
                                                        <v-text-field outlined dense hide-details
                                                                      v-model="currentVinCharacterDescription.idCharacterValue"
                                                                      label="Значение*"
                                                                      :error-messages="vinCharacterDescriptionErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th style="padding: 5px;" width="70%">
                                                        <v-text-field outlined dense hide-details
                                                                      v-model="currentVinCharacterDescription.idCharacterValueText"
                                                                      label="Расшифровка значения*"
                                                                      :error-messages="vinCharacterDescriptionErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th style="padding: 5px;" width="10%">
                                                        <v-btn outlined :disabled="isDisabled"
                                                               @click="addDescription()">
                                                            <v-icon left>
                                                                mdi-plus
                                                            </v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in currentVinCharacterDetail.vinCharacterDescriptions"
                                                    :key="item.idCharacterValue">
                                                    <td>
                                                        {{ item.idCharacterValue }}
                                                    </td>
                                                    <td>
                                                        {{ item.idCharacterValueText }}
                                                    </td>
                                                    <td class="d-flex justify-center">
                                                        <v-btn icon
                                                               class="mx-auto"
                                                               @click="deleteDescription(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>
                                <v-col cols="12" v-if="currentVinCharacterDetail.dataTypeCode == '2'">
                                    <v-checkbox v-model="currentVinCharacterDetail.isAlpha"
                                                label="Буква (A-Z, кроме I,O,Q)"></v-checkbox>
                                    <v-checkbox v-model="currentVinCharacterDetail.isDigit"
                                                label="Цифра(0-9)"></v-checkbox>

                                    <v-checkbox v-model="currentVinCharacterDetail.isIncludeChar"
                                                label="Включить символы"></v-checkbox>
                                    <v-text-field label="Символы"
                                                  outlined v-if="currentVinCharacterDetail.isIncludeChar"
                                                  v-model="currentVinCharacterDetail.includeCharStr"></v-text-field>

                                    <v-checkbox v-model="currentVinCharacterDetail.isExcludeChar"
                                                label="Исключить символы"></v-checkbox>
                                    <v-text-field label="Символы"
                                                  outlined v-if="currentVinCharacterDetail.isExcludeChar"
                                                  v-model="currentVinCharacterDetail.excludeCharStr"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="primary"
                                   text
                                   @click="saveDetail">
                                Добавить
                            </v-btn>
                            <v-btn color="secondary"
                                   text
                                   @click="dialog = false">
                                Отмена
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-row>

        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { VehicleVinCharacterDetailModel } from '@/models/documents/complience/VehicleVinCharacterDetail.model';
    import { VehicleVinCharacterDescriptionModel } from '@/models/documents/complience/VehicleVinCharacterDescription.model';
    import { VehicleLabelLocationModel } from '@/models/documents/complience/VehicleLabelLocation.model';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'VehicleLabelingDetailForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                notManufacturerPlateIndicatorSign: boolean,
                vin: string[],
                positions: number[],
                dialog: boolean,
                currentVinCharacterDetail: VehicleVinCharacterDetailModel,
                vinCharacterDetailErrors: any,

                currentVinCharacterDescription: VehicleVinCharacterDescriptionModel,
                vinCharacterDescriptionErrors: any,

                currentLabelLocation: VehicleLabelLocationModel,
                labelLocationErrors: any,

                currentIdNumberLocation: VehicleLabelLocationModel,
                idNumberLocationErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi140datatype: [],
                },
                notManufacturerPlateIndicatorSign: false,
                vin: !!this.document.vehicleLabelingDetail?.vin ? [...this.document.vehicleLabelingDetail.vin] : ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                positions: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
                dialog: false,
                currentVinCharacterDetail: new VehicleVinCharacterDetailModel(),
                vinCharacterDetailErrors: [],

                currentVinCharacterDescription: new VehicleVinCharacterDescriptionModel(),
                vinCharacterDescriptionErrors: [],

                currentLabelLocation: new VehicleLabelLocationModel(),
                labelLocationErrors: [],

                currentIdNumberLocation: new VehicleLabelLocationModel(),
                idNumberLocationErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notManufacturerPlateIndicatorSign: function (val, oldVal) {
                this.document.vehicleLabelingDetail.notManufacturerPlateIndicatorSign = !!val ? 1 : 0;
            },
            'document.vehicleLabelingDetail.notManufacturerPlateIndicatorSign': function (val, oldVal) {
                this.notManufacturerPlateIndicatorSign = this.document.vehicleLabelingDetail?.notManufacturerPlateIndicatorSign == 1;
            },
            'document.vehicleLabelingDetail.vin': function (val, oldVal) {

                if (this.document.vehicleLabelingDetail?.vin) {
                    let vinArray = this.document.vehicleLabelingDetail.vin.split('');
                    for (let i = 0; i < vinArray.length; i++) {
                        // Vue.set(this.vin, i, vinArray[i]);
                        this.vin[i] = vinArray[i];
                    }
                }
            },
            'currentVinCharacterDetail.dataTypeId': function (val, oldVal) {
                const dataType = this.dics.nsi140datatype
                    .find(d => d.id == this.currentVinCharacterDetail.dataTypeId);
                this.currentVinCharacterDetail.dataTypeCode = dataType.code;
                this.currentVinCharacterDetail.dataTypeName = dataType.name;
            }
        },
        computed: {
            isOtch(): boolean {
                return this.document.docTypeCode == 'otch';
            },
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            vinCharacterDetailsList(): Array<VehicleVinCharacterDetailModel> {
                return !!this.document.vehicleLabelingDetail && !!this.document.vehicleLabelingDetail.vinCharacterDetails
                    ? this.document.vehicleLabelingDetail.vinCharacterDetails.filter(c => c.state != ObjectState.Deleted)
                        .sort((v1, v2) => v1.idCharacterStartingOrdinal
                            && v2.idCharacterStartingOrdinal
                            && v1.idCharacterStartingOrdinal > v2.idCharacterStartingOrdinal ? 1 : -1)
                    : [];
            },
            labelLocationList(): Array<VehicleLabelLocationModel> {
                return this.document.vehicleLabelingDetail.vehicleLabelLocations.filter(l => l.state != ObjectState.Deleted);
            },
            idNumberLocationList(): Array<VehicleLabelLocationModel> {
                return this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations.filter(l => l.state != ObjectState.Deleted);
            },

            isDisabled(): boolean {
                return this.currentVinCharacterDetail.dataTypeCode == '4'
                    && this.currentVinCharacterDetail.vinCharacterDescriptions.length > 0;
            },
        },
        methods: {
            addDetail() {
                this.dialog = true;
            },
            editDetail(item) {
                this.dialog = true;
                this.currentVinCharacterDetail = ObjectHelper.deepCopy(item) as VehicleVinCharacterDetailModel;
            },
            saveDetail() {
                this.vinCharacterDetailErrors = [];
                if (this.currentVinCharacterDetail.idCharacterStartingOrdinal
                    && this.currentVinCharacterDetail.idCharacterEndingOrdinal) {
                    this.currentVinCharacterDetail.state = ObjectState.Added;
                    this.currentVinCharacterDetail.vehicleLabelingDetailId = this.document.vehicleLabelingDetail.id;

                    if (this.document.vehicleLabelingDetail.id != 0) {
                        ComplienceService.saveVehicleVinCharacterDetail(this.currentVinCharacterDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.currentVinCharacterDetail = response.data.entity;
                                    this.currentVinCharacterDetail.state = ObjectState.Unchanged;
                                    this.currentVinCharacterDetail.vinCharacterDescriptions.forEach(vd => vd.state = ObjectState.Unchanged);
                                    this.document.vehicleLabelingDetail.vinCharacterDetails.push(this.currentVinCharacterDetail);

                                    this.currentVinCharacterDetail = new VehicleVinCharacterDetailModel(0, this.document.vehicleLabelingDetail.id);
                                    this.currentVinCharacterDetail.dataTypeId = this.dics.nsi140datatype[0].id;
                                    this.dialog = false;
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleLabelingDetail.vinCharacterDetails.push(this.currentVinCharacterDetail);

                        this.currentVinCharacterDetail = new VehicleVinCharacterDetailModel(0, this.document.vehicleLabelingDetail.id);
                        this.currentVinCharacterDetail.dataTypeId = this.dics.nsi140datatype[0].id;
                        this.dialog = false;
                    }
                } else {
                    this.vinCharacterDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteDetail(item) {
                var indx = this.document.vehicleLabelingDetail.vinCharacterDetails
                    .findIndex(chd => chd.idCharacterStartingOrdinal == item.idCharacterStartingOrdinal
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity =this.document.vehicleLabelingDetail.vinCharacterDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleVinCharacterDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleLabelingDetail.vinCharacterDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleLabelingDetail.vinCharacterDetails.splice(indx, 1);
                    }
                }
            },

            addDescription() {
                this.vinCharacterDescriptionErrors = [];
                if (this.currentVinCharacterDescription.idCharacterValue) {
                    if (!this.currentVinCharacterDetail.vinCharacterDescriptions
                        .some(v => v.idCharacterValue == this.currentVinCharacterDescription.idCharacterValue)) {
                        this.currentVinCharacterDescription.state = ObjectState.Added;
                        this.currentVinCharacterDetail.vinCharacterDescriptions.push(this.currentVinCharacterDescription);
                        this.currentVinCharacterDescription = new VehicleVinCharacterDescriptionModel();
                    } else {
                        this.vinCharacterDescriptionErrors = ['Значение уже существует'];
                    }
                } else {
                    this.vinCharacterDescriptionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteDescription(item) {
                var indx = this.currentVinCharacterDetail.vinCharacterDescriptions
                    .findIndex(chd => chd.idCharacterValue == item.idCharacterValue && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.currentVinCharacterDetail.vinCharacterDescriptions[indx].state = ObjectState.Deleted;
                    } else {
                        this.currentVinCharacterDetail.vinCharacterDescriptions.splice(indx, 1);
                    }
                }
            },

            vinChange(val) {
                if (!this.document.vehicleLabelingDetail.vin) {
                    this.document.vehicleLabelingDetail.vin = "";
                }

                let vinStr = '';
                for (var i = 0; i < this.vin.length; i++) {
                    vinStr += !!this.vin[i] ? this.vin[i] : '?';
                }
                if (vinStr) {
                    this.document.vehicleLabelingDetail.vin = vinStr;
                }
            },

            addLabelLoc() {
                this.labelLocationErrors = [];
                if (this.currentLabelLocation.locationText) {
                    if (!this.document.vehicleLabelingDetail.vehicleLabelLocations
                        .some(v => v.locationText == this.currentLabelLocation.locationText
                            && v.id == this.currentLabelLocation.id)) {

                        this.currentLabelLocation.state = ObjectState.Added;
                        this.currentLabelLocation.vehicleLabelingDetailId = this.document.vehicleLabelingDetail.id;

                        if (this.document.vehicleLabelingDetail.id != 0) {
                            ComplienceService.saveVehicleLabelLocation(this.currentLabelLocation)
                                .then(response => {
                                    if (response.status == 'Ok') {
                                        this.currentLabelLocation.id = response.data.entityId;
                                        this.currentLabelLocation.state = ObjectState.Unchanged;
                                        this.document.vehicleLabelingDetail.vehicleLabelLocations.push(this.currentLabelLocation);
                                        this.currentLabelLocation = new VehicleLabelLocationModel();
                                    } else {
                                        this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                    }
                                }).catch(err => {
                                    this.$emit('show_message', 'Возникла ошибка: ' + err);
                                });
                        } else {
                            this.document.vehicleLabelingDetail.vehicleLabelLocations.push(this.currentLabelLocation);
                            this.currentLabelLocation = new VehicleLabelLocationModel();
                        }
                    } else {
                        this.labelLocationErrors = ['Значение уже существует'];
                    }
                } else {
                    this.labelLocationErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteLabelLoc(item) {
                var indx = this.document.vehicleLabelingDetail.vehicleLabelLocations
                    .findIndex(chd => chd.locationText == item.locationText && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleLabelingDetail.vehicleLabelLocations[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleLabelLocation(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleLabelingDetail.vehicleLabelLocations.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleLabelingDetail.vehicleLabelLocations.splice(indx, 1);
                    }
                }
            },

            addIdNumberLoc() {
                this.idNumberLocationErrors = [];
                if (this.currentIdNumberLocation.locationText) {
                    if (!this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations
                        .some(v => v.locationText == this.currentLabelLocation.locationText
                            && v.id == this.currentIdNumberLocation.id)) {
                        this.currentIdNumberLocation.state = ObjectState.Added;
                        this.currentIdNumberLocation.vehicleLabelingDetailId = this.document.vehicleLabelingDetail.id;

                        if (this.document.vehicleLabelingDetail.id != 0) {
                            ComplienceService.saveVehicleIdentificationNumberLocation(this.currentIdNumberLocation)
                                .then(response => {
                                    if (response.status == 'Ok') {
                                        this.currentIdNumberLocation.id = response.data.entityId;
                                        this.currentIdNumberLocation.state = ObjectState.Unchanged;
                                        this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations.push(this.currentIdNumberLocation);
                                        this.currentIdNumberLocation = new VehicleLabelLocationModel();
                                    } else {
                                        this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                    }
                                }).catch(err => {
                                    this.$emit('show_message', 'Возникла ошибка: ' + err);
                                });
                        } else {
                            this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations.push(this.currentIdNumberLocation);
                            this.currentIdNumberLocation = new VehicleLabelLocationModel();
                        }
                    } else {
                        this.idNumberLocationErrors = ['Значение уже существует'];
                    }
                } else {
                    this.idNumberLocationErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteIdNumberLoc(item) {
                var indx = this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations
                    .findIndex(chd => chd.locationText == item.locationText && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleIdentificationNumberLocation(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleLabelingDetail.vehicleIdentificationNumberLocations.splice(indx, 1);
                    }
                }
            },

            getLabelTitle() {
                if (this.isOtch) {
                    return "Маркировка шасси";
                }
                return "Маркировка транспортных средств";
            }
        },
        async created() {
            DictionaryService.getNsiValues('nsi140')
                .then(response => {
                    this.dics.nsi140datatype = response.data;
                    this.currentVinCharacterDetail.dataTypeId = this.dics.nsi140datatype[0].id;
                }).catch(err => {
                });
        },
    });
</script>