<template>
    <div>
        <section class="container container--fluid" id="vehicleorgdetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleorgdetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                Организации
            </h4>

            <!-- Заявитель и его адрес -->
            <v-row no-gutters>
                <v-col cols="12">
                    <v-card outlined>
                        <v-card-title class="py-1 my-1">
                            Заявитель и его адрес
                        </v-card-title>
                        <v-card-text class="pa-0 ma-0">
                            <!--v-col cols="12" class="py-0 my-0">
                            <v-switch v-model="document.notApplicantOrgIndicator"
                                      inset dense
                                      label="Не являюсь заявителем"></v-switch>
                            </v-col-->
                            <v-row no-gutters>
                                <v-col cols="12" class="py-0 my-0" v-if="!document.notApplicantOrgIndicator">
                                    <v-autocomplete label="Организация" :disabled="disabled"
                                                    :items="dics.applicantOrgs"
                                                    v-model="document.applicantId"
                                                    clearable
                                                    hide-selected
                                                    item-text="name"
                                                    item-value="id"
                                                    class="mx-2 my-0"
                                                    @change="valueChanged">
                                        <template slot="selection" slot-scope="data">
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                    </v-autocomplete>
                                    <div class="mx-2">
                                        <small>Полное наименование организации:</small>
                                        {{ !!document.applicant ? document.applicant.name : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>БИН/ИИН:</small>
                                        {{ !!document.applicant ? document.applicant.bin : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Юридический адрес:</small>
                                        {{ !!document.applicant ? document.applicant.juridicalAddress : '' }}
                                    </div>
                                </v-col>
                                <v-col cols="12" class="d-flex justify-end pa-1">
                                    <v-btn outlined v-if="!disabled"
                                           @click="addOrg()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Добавить
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Изготовитель и его адрес -->
            <v-row no-gutters>
                <v-col cols="12">
                    <v-card outlined>
                        <v-card-title class="py-1 my-1">
                            Изготовитель и его адрес
                        </v-card-title>
                        <v-card-text class="pa-0 ma-0">
                            <v-row no-gutters>
                                <v-col cols="12" class="py-0 my-0" v-if="!document.notManufacturerIndicator">
                                    <v-autocomplete label="Организация" :disabled="disabled"
                                                    :items="dics.manufacturerOrgs"
                                                    v-model="document.manufacturerId"
                                                    clearable
                                                    hide-selected
                                                    item-text="name"
                                                    item-value="id" class="mx-2 my-0"
                                                    @change="valueChanged">
                                        <template slot="selection" slot-scope="data">
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            {{ data.item.bin }} - {{ data.item.name }}
                                        </template>
                                    </v-autocomplete>
                                    <div class="mx-2">
                                        <small>Полное наименование организации:</small>
                                        {{ !!document.manufacturer ? document.manufacturer.name : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>БИН/ИИН:</small>
                                        {{ !!document.manufacturer ? document.manufacturer.bin : '' }}
                                    </div>
                                    <div class="mx-2">
                                        <small>Юридический адрес:</small>
                                        {{ !!document.manufacturer ? document.manufacturer.juridicalAddress : '' }}
                                    </div>
                                </v-col>
                                <v-col cols="12" class="d-flex justify-end pa-1">
                                    <v-btn outlined @click="addOrg()" v-if="!disabled">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Добавить
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Представители изготовителя и их адреса -->
            <v-row no-gutters v-if="!isSbkts">
                <v-col cols="12">
                    <v-card outlined>
                        <v-card-title class="py-1 my-1">
                            Представители изготовителя и их адреса
                        </v-card-title>
                        <v-card-text class="pa-0 ma-0">
                            <v-col cols="12" class="py-0 my-0">
                                <v-switch v-model="document.notRepresentativeManufacturerIndicator" :disabled="disabled"
                                          inset dense
                                          label="Отсуствуют"
                                          @change="valueChanged"></v-switch>
                            </v-col>
                            <v-col cols="12" class="py-0 my-0" v-if="!document.notRepresentativeManufacturerIndicator">
                                <v-autocomplete label="Организация:" :disabled="disabled"
                                                clearable dense multiple outlined
                                                :items="dics.representativeManufacturers"
                                                v-model="selectedRepresentativeManufacturerIds"
                                                :rules="rules.requiredArray"
                                                item-text="name"
                                                item-value="id"
                                                :menu-props="{ maxHeight: '400' }"
                                                hint="Выберите организацию"
                                                @change="changeRepMan">
                                </v-autocomplete>
                                <template v-if="selectedRepresentativeManufacturerIds" v-for="repMan in dics.representativeManufacturers">
                                    <template v-for="selRepManId in selectedRepresentativeManufacturerIds">
                                        <div class="mx-2" v-if="selRepManId == repMan.id">
                                            Наименование:&nbsp;{{ repMan.name }}
                                        </div>
                                    </template>
                                </template>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-end pa-1">
                                <v-btn outlined @click="addOrg()" v-if="!document.notRepresentativeManufacturerIndicator && !disabled">
                                    <v-icon left>
                                        mdi-plus
                                    </v-icon>
                                    Добавить
                                </v-btn>
                            </v-col>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Сборочные заводы и их адреса -->
            <v-row no-gutters>
                <v-col cols="12">
                    <v-card outlined>
                        <v-card-title class="py-1 my-1">
                            Сборочные заводы и их адреса
                        </v-card-title>
                        <v-card-text class="pa-0 ma-0">
                            <v-col cols="12" class="py-0 my-0">
                                <v-switch v-model="document.notAssemblyPlantIndicator" :disabled="disabled"
                                            inset dense
                                            label="Отсуствуют"
                                          @change="valueChanged"></v-switch>
                            </v-col>
                            <v-col cols="12" class="py-0 my-0" v-if="!document.notAssemblyPlantIndicator">
                                    <v-autocomplete label="Организация:" :disabled="disabled"
                                                    clearable dense multiple outlined
                                                    :items="dics.assemblyPlants"
                                                    v-model="selectedAssemblyPlantIds"
                                                    :rules="rules.requiredArray"
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Выберите организацию"
                                                    @change="changeAssPlant">
                                    </v-autocomplete>
                                    <template v-if="selectedAssemblyPlantIds" v-for="assPlant in dics.assemblyPlants">
                                        <template v-for="selAssPlantId in selectedAssemblyPlantIds">
                                            <div class="mx-2" v-if="selAssPlantId == assPlant.id">
                                                Наименование:&nbsp;{{ assPlant.name }}
                                            </div>
                                        </template>
                                    </template>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-end pa-1">
                                <v-btn outlined @click="addOrg()" v-if="!document.notAssemblyPlantIndicator && !disabled">
                                    <v-icon left>
                                        mdi-plus
                                    </v-icon>
                                    Добавить
                                </v-btn>
                            </v-col>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Поставщик сборочных комплектов и их адреса -->
            <v-row no-gutters v-if="!isSbkts">
                <v-col cols="12">
                    <v-card outlined>
                        <v-card-title class="py-1 my-1">
                            Поставщики сборочных комплектов и их адреса
                        </v-card-title>
                        <v-card-text class="pa-0 ma-0">
                            <v-col cols="12" class="py-0 my-0">
                                <v-switch v-model="document.notAssemblyKitSupplierIndicator" :disabled="disabled"
                                          inset dense
                                          label="Отсуствуют"
                                          @change="valueChanged"></v-switch>
                            </v-col>
                            <v-col cols="12" class="py-0 my-0" v-if="!document.notAssemblyKitSupplierIndicator">
                                <v-autocomplete label="Организация:" :disabled="disabled"
                                                clearable dense multiple outlined
                                                :items="dics.assemblyKitSuppliers"
                                                v-model="selectedAssemblyKitSupplierIds"
                                                :rules="rules.requiredArray"
                                                item-text="name"
                                                item-value="id"
                                                :menu-props="{ maxHeight: '400' }"
                                                hint="Выберите организацию"
                                                @change="changeAssKitSup">
                                </v-autocomplete>
                                <template v-if="selectedAssemblyKitSupplierIds" v-for="assKitSup in dics.assemblyKitSuppliers">
                                    <template v-for="selAssKitSupId in selectedAssemblyKitSupplierIds">
                                        <div class="mx-2" v-if="selAssKitSupId == assKitSup.id">
                                            Наименование:&nbsp;{{ assKitSup.name }}
                                        </div>
                                    </template>
                                </template>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-end pa-1">
                                <v-btn outlined @click="addOrg()" v-if="!document.notAssemblyKitSupplierIndicator && !disabled">
                                    <v-icon left>
                                        mdi-plus
                                    </v-icon>
                                    Добавить
                                </v-btn>
                            </v-col>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </section>

        <!-- Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-text>
                        <organization-form :saveFunc="saveOrg" :cancelFunc="cancelOrg"
                                           v-model="newOrganization">
                        </organization-form>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-row>

    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import OrganizationForm from '@/components/registries/OrganizationForm.vue';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { AssemblyKitSupplierModel } from '@/models/documents/complience/AssemblyKitSupplier.model'
    import { AssemblyPlantModel } from '@/models/documents/complience/AssemblyPlant.model'
    import { RepresentativeManufacturerModel } from '@/models/documents/complience/RepresentativeManufacturer.model'
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import ObjectHelper from '@/helpers/object.helper';
    
    export default Vue.extend({
        name: 'VehicleOrgDetailForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean,
            isNestedControl: Boolean,
//            assemblyKitSupplierId: Number,
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                newOrganization: OrganizationModel,
                orgFormId: string,
                orgFormValid: boolean,
                selectedRepresentativeManufacturerIds: any,
                selectedAssemblyPlantIds: any,
                selectedAssemblyKitSupplierIds: any,
            } = {
                dics: {
                    countries: [],
                    //authorityOrgs: [],
                    manufacturerOrgs: [],
                    applicantOrgs: [],
                    representativeManufacturers: [],
                    assemblyPlants: [],
                    assemblyKitSuppliers: [],
                },
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                    requiredArray: [
                        value => (!!value && value.length > 0) || 'Поле обязательно для заполнения',
                    ],

                },
                dialog: false,
                newOrganization: new OrganizationModel(),
                orgFormId: 'orgForm',
                orgFormValid: true,
                selectedRepresentativeManufacturerIds: [],
                selectedAssemblyPlantIds: [],
                selectedAssemblyKitSupplierIds: [],
            };
            return dataObj;
        },
        watch: {
//            loader() { },
            'document.applicantId': function (val, oldVal) {
                this.document.applicant = this.dics.applicantOrgs.find(a => a.id == val);
            },
            'document.manufacturerId': function (val, oldVal) {
                this.document.manufacturer = this.dics.manufacturerOrgs.find(a => a.id == val);
            },
/*
            'document.representativeManufacturerId': function (val, oldVal) {
                this.document.representativeManufacturer = this.dics.representativeManufacturerOrgs.find(a => a.id == val);
            },
*/
            'document.notRepresentativeManufacturerIndicator': function (val, oldVal) {
                if (this.document.notRepresentativeManufacturerIndicator) {
//                    this.document.representativeManufacturerId = null;
                    this.document.representativeManufacturers = [];
                }
            },
            'document.representativeManufacturers': function (val) {
                this.document.representativeManufacturers.forEach(tc => {
                    if (tc.organizationId && tc.organizationId != 0) {
                        if (!this.selectedRepresentativeManufacturerIds.includes(tc.organizationId)) {
                            this.selectedRepresentativeManufacturerIds.push(tc.organizationId);
                        }
                    } else {
                        if (this.dics.representativeManufacturers && this.dics.representativeManufacturers.length > 0) {
                            const representativeManufacturer = this.dics.representativeManufacturers.find(ot => ot.id = tc.organizationId);
                            if (representativeManufacturer) {
                                if (!this.selectedAssemblyPlantIds.contains(tc.organizationId)) {
                                    this.selectedAssemblyPlantIds.push(representativeManufacturer.id);
                                    tc.organizationId = representativeManufacturer.id;
                                    tc.state = ObjectState.Added;
                                    tc.documentId = this.document.id;
                                }
                            }
                        }
                    }
                })
            },
/*
            'document.assemblyPlantId': function (val, oldVal) {
                this.document.assemblyPlant = this.dics.assemblyPlantOrgs.find(a => a.id == val);
            },
*/
            'document.notAssemblyPlantIndicator': function (val, oldVal) {
                if (this.document.notAssemblyPlantIndicator) {
//                    this.document.assemblyPlantId = null;
                    this.document.assemblyPlants = [];
                }
            },
            'document.assemblyPlants': function (val) {
                this.document.assemblyPlants.forEach(tc => {
                    if (tc.organizationId && tc.organizationId != 0) {
                        if (!this.selectedAssemblyPlantIds.includes(tc.organizationId)) {
                            this.selectedAssemblyPlantIds.push(tc.organizationId);
                        }
                    } else {
                        if (this.dics.assemblyPlants && this.dics.assemblyPlants.length > 0) {
                            const assemblyPlant = this.dics.assemblyPlants.find(ot => ot.id = tc.organizationId);
                            if (assemblyPlant) {
                                if (!this.selectedAssemblyPlantIds.contains(tc.organizationId)) {
                                    this.selectedAssemblyPlantIds.push(assemblyPlant.id);
                                    tc.organizationId = assemblyPlant.id;
                                    tc.state = ObjectState.Added;
                                    tc.documentId = this.document.id;
                                }
                            }
                        }
                    }
                })
            },
            /*
            'document.assemblyKitSupplierId': function (val, oldVal) {
                this.document.assemblyKitSupplier = this.dics.assemblyKitSupplierOrgs.find(a => a.id == val);
            },
            */
            'document.notAssemblyKitSupplierIndicator': function (val, oldVal) {
                if (this.document.notAssemblyKitSupplierIndicator) {
                    this.document.assemblyKitSuppliers = [];
                //    this.document.assemblyKitSupplier = null;
                } 
            },
            'document.assemblyKitSuppliers': function (val) {
                this.document.assemblyKitSuppliers.forEach(tc => {
                    if (tc.organizationId && tc.organizationId != 0) {
                        if (!this.selectedAssemblyKitSupplierIds.includes(tc.organizationId)) {
                            this.selectedAssemblyKitSupplierIds.push(tc.organizationId);
                        }
                    } else {
                        if (this.dics.assemblyKitSuppliers && this.dics.assemblyKitSuppliers.length > 0) {
                            const assemblyKitSupplier = this.dics.assemblyKitSuppliers.find(ot => ot.id = tc.organizationId);
                            if (assemblyKitSupplier) {
                                if (!this.selectedAssemblyKitSupplierIds.contains(tc.organizationId)) {
                                    this.selectedAssemblyKitSupplierIds.push(assemblyKitSupplier.id);
                                    tc.organizationId = assemblyKitSupplier.id;
                                    tc.state = ObjectState.Added;
                                    tc.documentId = this.document.id;
                                }
                            }   
                        }
                    }
                })
            }
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode === 'otch';
            },
        },
        methods: {
            addOrg() {
                this.newOrganization = new OrganizationModel();
                this.newOrganization.registerType = 0;
                this.dialog = true;
            },
            saveOrg() {
                //if ((this.$refs[this.orgFormId] as any).validate()) {
                let me = this;
                if (me.newOrganization.name) {
                    OrganizationService.saveOrg(me.newOrganization)
                        .then(response => {
                            me.dialog = false;

                            me.newOrganization.organizationTypes.forEach(ot => {
                                if (ot.orgTypeCode) {
                                    var params = new URLSearchParams();
                                    if (ot.orgTypeCode != 'applicant')
                                        params.append("orgTypeCodes", ot.orgTypeCode);

                                    OrganizationService.getList(params)
                                        .then(response => {
                                            if (ot.orgTypeCode == 'applicant') {
                                                me.dics.applicantOrgs = response.data;
                                            } else if (ot.orgTypeCode == 'manufacturer') {
                                                me.dics.manufacturerOrgs = response.data;
                                            } else if (ot.orgTypeCode == 'representativemanufacturer') {
                                                me.dics.representativeManufacturerOrgs = response.data;
                                            } else if (ot.orgTypeCode == 'assemblyplant') {
                                                me.dics.assemblyPlantOrgs = response.data;
                                            } else if (ot.orgTypeCode == 'assemblykitsupplier') {
                                                me.dics.assemblyKitSuppliers = response.data;
                                            }
                                        }).catch(err => {
                                            me.$emit('show_message', err);
                                        });
                                }
                            });
                        }).catch(err => {
                            me.$emit('show_message', err);
                        });
                }
            },
            cancelOrg() {
                this.newOrganization = new OrganizationModel();
                this.dialog = false;
            },

            valueChanged: function (val, oldVal) {
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicleorgdetail-info', val: val, oldVal: oldVal });
            },
            changeRepMan: function (val: Array<number>, oldVal: Array<number>) {
                console.log('Change RepresentativeManufacturers');
                if (val) {
                    val.forEach(orgId => {
                        const existOrg = this.document.representativeManufacturers.find(m => m.organizationId == orgId);
                        if (!existOrg) {
                            this.document.representativeManufacturers.push(new RepresentativeManufacturerModel(0,
                                this.document.id,
                                this.document.docNumber,
                                orgId,
                                "representativeManufacturer",
                                ObjectState.Added,
                            ));
                        }

                    });

                    this.document.representativeManufacturers.forEach((m, index, object) => {
                        var existOrgId = val.find(orgId => orgId == m.organizationId);
                        if (!existOrgId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            },
            changeAssPlant: function (val: Array<number>, oldVal: Array<number>) {
                console.log('Change AssemblyPlants');
                if (val) {
                    val.forEach(orgId => {
                        const existOrg = this.document.assemblyPlants.find(m => m.organizationId == orgId);
                        if (!existOrg) {
                            this.document.assemblyPlants.push(new AssemblyPlantModel(0,
                                this.document.id,
                                this.document.docNumber,
                                orgId,
                                "assemblyPlant",
                                ObjectState.Added,
                            ));
                        }

                    });

                    this.document.assemblyPlants.forEach((m, index, object) => {
                        var existOrgId = val.find(orgId => orgId == m.organizationId);
                        if (!existOrgId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            },
            changeAssKitSup: function (val: Array<number>, oldVal: Array<number>) {
                console.log('Change AssemblyKitSuppliers');
                 if (val) {
                    val.forEach(orgId => {
                        const existOrg = this.document.assemblyKitSuppliers.find(m => m.organizationId == orgId);
                        if (!existOrg) {
                            this.document.assemblyKitSuppliers.push(new AssemblyKitSupplierModel(0,
                                this.document.id,
                                this.document.docNumber,
                                orgId,
                                "assemblyKitSupplier",
                                ObjectState.Added,
                            ));
                        }

                    });

                     this.document.assemblyKitSuppliers.forEach((m, index, object) => {
                        var existOrgId = val.find(orgId => orgId == m.organizationId);
                        if (!existOrgId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            }
        },
        components: {
            'organization-form': OrganizationForm,
        },
//        async created() {
        created() {
            var params = new URLSearchParams();

            params = new URLSearchParams();
            params.append("orgTypeCodes", "manufacturer");
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.manufacturerOrgs = response.data;
                    /*
                    if ((!this.document.id || this.document.id == ObjectHelper.defaultGuid() || this.document.id == '') && !this.document.manufacturerId) {
                        const orgId = JSON.parse(localStorage.getItem('user') as string).organizationId;
                        this.document.manufacturer = this.dics.manufacturerOrgs.find(a => a.id == orgId);
                        this.document.manufacturerId = orgId;
                    }
                    */
                    if (this.document.manufacturerId) {
                        this.document.manufacturer = this.dics.manufacturerOrgs.find(a => a.id == this.document.manufacturerId);
                    }
                }).catch(err => {

                });

            params = new URLSearchParams();
            // params.append("orgTypeCodes", "manufacturer");
            // params.append("orgTypeCodes", "representativemanufacturer");
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.applicantOrgs = response.data;
                    if ((!this.document.id || this.document.id == ObjectHelper.defaultGuid() || this.document.id == '') && !this.document.applicantId) {
                        const orgId = JSON.parse(localStorage.getItem('user') as string).organizationId;
                        this.document.applicantId = orgId;
                    }
                    if (this.document.applicantId) {
                        this.document.applicant = this.dics.applicantOrgs.find(a => a.id == this.document.applicantId);
                    }
                }).catch(err => {

                });

            params = new URLSearchParams();
            params.append("orgTypeCodes", "representativemanufacturer");
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.representativeManufacturers = response.data;
                    if (this.selectedRepresentativeManufacturerIds && this.selectedRepresentativeManufacturerIds.length == 0) {
                        this.document.representativeManufacturers.forEach(tc => {
                            if (tc.organizationId && tc.organizationId != 0) {
                                this.selectedRepresentativeManufacturerIds.push(tc.organizationId);
                            } else {
                                if (this.dics.representativeManufacturers && this.dics.representativeManufacturers > 0) {
                                    const representativeManufacturer = this.dics.representativeManufacturers.find(ot => ot.id == tc.organizationId);
                                    if (representativeManufacturer) {
                                        this.selectedAssemblyPlantIds.push(representativeManufacturer.id);
                                        tc.organizationId = representativeManufacturer.id;
                                        tc.documentId = this.document.id;
                                        tc.state = ObjectState.Added;
                                    }
                                }
                            }
                        });
                    }
                }).catch(err => {

                });

            params = new URLSearchParams();
            params.append("orgTypeCodes", "assemblyplant");
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.assemblyPlants = response.data;
                    if (this.selectedAssemblyPlantIds && this.selectedAssemblyPlantIds.length == 0) {
                        this.document.assemblyPlants.forEach(tc => {
                            if (tc.organizationId && tc.organizationId != 0) {
                                this.selectedAssemblyPlantIds.push(tc.organizationId);
                            } else {
                                if (this.dics.assemblyPlants && this.dics.assemblyPlants > 0) {
                                    const assemblyPlant = this.dics.assemblyPlants.find(ot => ot.id == tc.organizationId);
                                    if (assemblyPlant) {
                                        this.selectedAssemblyPlantIds.push(assemblyPlant.id);
                                        tc.organizationId = assemblyPlant.id;
                                        tc.documentId = this.document.id;
                                        tc.state = ObjectState.Added;
                                    }
                                }
                            }
                        });
                    }
                }).catch(err => {

                });

            params = new URLSearchParams();
            params.append("orgTypeCodes", "assemblykitsupplier");
            OrganizationService.getList(params)
                .then(response => {
                    this.dics.assemblyKitSuppliers = response.data;
                    if (this.selectedAssemblyKitSupplierIds && this.selectedAssemblyKitSupplierIds.length == 0) {
                        this.document.assemblyKitSuppliers.forEach(tc => {
                            if (tc.organizationId && tc.organizationId != 0) {
                                this.selectedAssemblyKitSupplierIds.push(tc.organizationId);
                            } else {
                                if (this.dics.assemblyKitSuppliers && this.dics.assemblyKitSuppliers > 0) {
                                    const assemblyKitSupplier = this.dics.assemblyKitSuppliers.find(ot => ot.id == tc.organizationId);
                                    if (assemblyKitSupplier) {
                                        this.selectedAssemblyKitSupplierIds.push(assemblyKitSupplier.id);
                                        tc.organizationId = assemblyKitSupplier.id;
                                        tc.documentId = this.document.id;
                                        tc.state = ObjectState.Added;
                                    }
                                }
                            }
                        });
                    }
                }).catch(err => {
                    console.log(err)
                });
        },
        mounted() {
            this.selectedRepresentativeManufacturerIds = [];
            this.selectedAssemblyPlantIds = [];
            this.selectedAssemblyKitSupplierIds = [];
        }
    });
</script>
