<template>
    <div>
        <section class="container container--fluid" id="vin-info">
        <!--h4 class="v-heading text-h5 text-sm-h5 mb-3">
            <a href="#vin-info" class="text-decoration-none text-right text-md-left"> # </a>
            Описание маркировки
        </h4-->
        
        <v-row no-gutters>
            <v-col class="py-1 my-0">
                <v-card outlined>
                    <v-card-text>
                        <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">
                            Идентификационные номера VIN
                        </h4>
                        <v-row no-gutters>
                            <v-col class="py-0 my-0">
                                <v-switch v-model="batchSmallSign" v-if="!isSbkts"
                                          inset dense
                                          label="Малая партия"
                                          @change="valueChanged"
                                          :disabled="disabled"></v-switch>
                            </v-col>
                        </v-row>
                        <v-row no-gutters v-if="batchSmallSign">
                            <v-col cols="12" class="d-inline-flex py-0 my-0" >
                                <div v-for="(item, index) in vin" v-if="!disabled">
                                    <v-text-field-simplemask v-model="vin[index]"
                                                             :label="(index + 1).toString()"
                                                             v-bind:properties="{
                                            prefix: '',
                                            suffix: '',
                                            readonly: false,
                                            outlined: true,
                                            clearable: false,
                                            placeholder: '',
                                            dense: true,
                                            'hide-details': true,
                                          }"
                                                             v-bind:options="{
                                            inputMask: '#',
                                            outputMask: '#',
                                            empty: null,
                                            applyAfter: false,
                                            alphanumeric: true,
                                            lowerCase: false,
                                          }" 
                                          :error-messages="vinErrors" 
                                          />
                                </div>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-end py-0 my-0">
                                <v-btn outlined v-if="!disabled"
                                       @click="addVin()">
                                    <v-icon left>
                                        mdi-plus
                                    </v-icon>
                                    Добавить
                                </v-btn>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="py-1 my-0">
                                <v-simple-table dense v-if="batchSmallSign">
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">
                                                    Список идентификационных номеров
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in vinNumberList"
                                                :key="item.number">
                                                <td width="90%">
                                                    {{ item.number }}
                                                </td>
                                                <td width="10%">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteVin(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { VinModel } from '@/models/documents/complience/vin.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import ObjectHelper from '@/helpers/object.helper';
    import ComplienceService from '@/services/document/complience.service';


    export default Vue.extend({
        name: 'VinForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                batchSmallSign: boolean,
                vin: string[],

                vinErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                batchSmallSign: false,
                vin: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
                vinErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            batchSmallSign: function (val, oldVal) {
                this.document.batchSmallSign = !!val ? 1 : 0;
            },
            'document.batchSmallSign': function (val, oldVal) {
                this.batchSmallSign = val == 1;
            }
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            vinNumberList(): VinModel[] {
                return this.document
                    ? this.document.vinNumbers.filter(bn => bn.state != ObjectState.Deleted)
                    : [];
            },
        },
        methods: {
            addVin: function () {
                this.vinErrors = [];
                if (!this.document.vinNumbers) {
                    this.document.vinNumbers = [];
                }

                let vinStr = '';
                for (var i = 0; i < this.vin.length; i++) {
                    vinStr += !this.vin[i] ? '?' : this.vin[i];
                }
                if (vinStr) {
                    if (this.document.id && this.document.id != ObjectHelper.defaultGuid()
                        && this.document.id != '') {
                        let vinNumber = new VinModel(0, this.document.id, vinStr, ObjectState.Added);
                        ComplienceService.saveVinNumber(vinNumber)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    vinNumber.id == response.data.entityId;
                                    vinNumber.state = ObjectState.Unchanged;
                                    this.document.vinNumbers.push(vinNumber);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch (err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vinNumbers.push(new VinModel(0, this.document.id, vinStr, ObjectState.Added));
                    }
                }
            },
            deleteVin(vin) {
                var indx = this.document.vinNumbers.findIndex(v => v.number == vin.number);
                if (indx > -1) {
                    if (vin.id != 0) {
                        let deleteEntity = this.document.vinNumbers[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVinNumber(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.document.vinNumbers.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                    } else {
                        this.document.vinNumbers.splice(indx, 1);
                    }
                }
            },
            valueChanged: function (val, oldVal) {
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#document-info', val: val, oldVal: oldVal })
            },
        },
        async created() {
            if (this.document.docTypeCode === 'sbkts')
                this.document.batchSmallSign = 1;
            this.batchSmallSign = this.document.batchSmallSign == 1;
        },
    });
</script>


