﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12">
                <v-alert v-for="alert in alerts" outlined dense
                         border="left" :type="alert.type">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
            <v-col cols="12">
                <v-flex full-width>
                    <v-card class="mx-auto pa-1 my-1">
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title class="text-h4">
                                    Счет на оплату  
                                    <v-chip :color="getColor(invoice)">
                                        {{ invoice.statusName }}
                                    </v-chip>
                                </v-list-item-title>
                                <v-list-item-subtitle>
                                    {{ invoice.number }} от {{ invoice.created | date }}
                                </v-list-item-subtitle>
                                <v-list-item-subtitle>
                                    {{ getPeriods(invoice.periodMonths) }}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-row>
                            <v-col cols="6">
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-list-item-title class="text-h5">
                                            Организация
                                        </v-list-item-title>
                                        <v-list-item-subtitle>
                                            {{ invoice.organizationName }}
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle>
                                            {{ invoice.organizationBin }}
                                        </v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-col>
                            <v-col cols="6">
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-list-item-title class="text-h5">
                                            Договор
                                        </v-list-item-title>
                                        <v-list-item-subtitle>
                                            {{ invoice.contractNumber }}
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle>
                                            {{ invoice.contractDate | date }}
                                        </v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">
                                                    Наименование
                                                </th>
                                                <th class="text-left">
                                                    Количество
                                                </th>
                                                <th class="text-left">
                                                    Тариф
                                                </th>
                                                <th class="text-left">
                                                    Сумма к оплате
                                                </th>
                                                <th class="text-left">
                                                    Оплаченная сумма
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Количество оформленных ЭП</td>
                                                <td>{{ invoice.digitalPassportCount }}</td>
                                                <td>{{ invoice.rate }}</td>
                                                <td>{{ invoice.payableAmount }}</td>
                                                <td>{{ invoice.paidAmount }} от {{ invoice.paidDateTime }}</td>
                                            </tr>
                                            <tr>
                                                <td>Изменения в ЭП (шт)</td>
                                                <td>{{ invoice.changeDigitalPassportCount }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Пеня</td>
                                                <td>{{ invoice.accrualTermFine }}</td>
                                                <td>{{ invoice.fine }}</td>
                                                <td>{{ invoice.payableFine }}</td>
                                                <td>{{ invoice.paidFine }} от {{ invoice.paidFineDateTime }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <h4>Сальдо</h4>
                                                </td>
                                                <td>
                                                    <h4>{{ invoice.balance }}</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <v-card-text>
                                    {{ invoice.description }}
                                </v-card-text>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Закрыть
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                    </v-card>

                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { InvoiceModel } from '@/models/registries/invoice/Invoice.model';

    import InvoiceService from '@/services/registries/invoice.service';

    export default Vue.extend({
        name: 'InvoiceView',
        props: { },
        data() {
            const dataObj: {
                invoice: InvoiceModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
            } = {               
                invoice: new InvoiceModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Учет оплаты услуг',
                        disabled: false,
                        href: '/registries/invoices',
                    },
                    {
                        text: 'Счет',
                        disabled: true,
                        href: '#',
                    }
                ],
                alerts: new Array<AlertModel>(),
            };
            return dataObj;
        },
        methods: {
           
            cancel() {
                this.$router.push('/registries/invoices');
            },

            load() {
                this.alerts = [];
                if (this.$route.params.id && this.$route.params.id !== '0') {
                    InvoiceService.get(this.$route.params.id).then(response => {
                        this.invoice = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
            },


            getTitle() {              
                return 'Счет';
            },
            getColor() {
                switch (this.invoice.statusCode) {
                    case 'paid': return 'success';
                    case 'active': return 'warning';
                }
                return 'primary';
            },

            getPeriods(periodMonths: string[]) {
                let periods = '';
                periodMonths.forEach(p => {
                    periods += this.getMonth(new Date(p), 'ru-ru');
                });
                return periods;
            },

            getMonth(date: Date, locale: string) {
                const month = date.toLocaleString(locale, { month: 'long', year: 'numeric' });
                return month;
            }
        },
        watch: { },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
