﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Номер*"
                                              v-model="invoice.number"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-autocomplete label="Договор*"
                                                :items="contracts"
                                                :rules="rules.required"
                                                v-model="invoice.contractId"
                                                clearable hide-selected dense
                                                item-text="name"
                                                item-value="id"
                                                class="mx-2 my-0"
                                                @change="contractChanged">
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item.number }} - {{ data.item.contractDate | date }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        {{ data.item.number }} - {{ data.item.contractDate | date }}
                                    </template>
                                </v-autocomplete>

                                <div class="mx-2">
                                    <small>Наименование организации:</small> {{ invoice.organizationName }}
                                </div>
                                <div class="mx-2">
                                    <small>БИН организации:</small> {{ invoice.organizationBin }}
                                </div>
                                <div class="mx-2">
                                    <small>Номер счета:</small> {{ invoice.accountNumber }}
                                </div>
                                <div class="mx-2">
                                    <small>Дата счета:</small> {{ invoice.accountDate | date }}
                                </div>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <label>Рачетный период</label> <br />
                                <v-date-picker v-model="invoice.periodMonths"
                                               type="month"
                                               landscape="landscape"
                                               :show-current="true"
                                               multiple outlined
                                               locale="ru-ru"></v-date-picker>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field label="Количество оформлений ЭП"
                                              v-model="invoice.digitalPassportCount"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Количество изменения в ЭП (шт)"
                                              v-model="invoice.changeDigitalPassportCount"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Тариф"
                                              v-model="invoice.rate"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-text-field label="Сумма к оплате"
                                              v-model="invoice.payableAmount"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Оплаченная сумма"
                                              v-model="invoice.paidAmount"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="12">
                                <v-datetime-picker label="Дата и время оплаты суммы"
                                                   v-model="invoice.paidDateTime"
                                                   date-format="dd.MM.yyyy"
                                                   time-format="HH:mm:ss"
                                                   clearText="Очистить"
                                                   :time-picker-props="{
                                                        useSeconds: true,
                                                        ampmInTitle: true,
                                                        format: '24hr'
                                                    }"
                                                   :datePickerProps="{
                                                        locale:'ru-ru',
                                                        outlined:true
                                                   }"></v-datetime-picker>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="6">
                                <v-text-field label="Пеня"
                                              v-model="invoice.fine"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Срок начисления"
                                              v-model="invoice.accrualTermFine"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Cумма начисления пени"
                                              v-model="invoice.payableFine"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="6">
                                <v-text-field label="Оплаченная сумма"
                                              v-model="invoice.paidFine"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                            <v-col cols="12">
                                <v-datetime-picker label="Дата и время оплаты пени"
                                            v-model="invoice.paidFineDateTime"
                                            date-format="dd.MM.yyyy"
                                            time-format="HH:mm:ss"
                                            clearText="Очистить"
                                            :time-picker-props="{
                                                useSeconds: true,
                                                ampmInTitle: true,
                                                format: '24hr'
                                            }"
                                            :datePickerProps="{
                                                locale:'ru-ru'
                                            }"></v-datetime-picker>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field label="Сальдо"
                                              v-model="invoice.balance"
                                              hide-details outlined
                                              single-line
                                              type="number" />
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12">
                                <v-textarea outlined required dense 
                                            label="Дополнительная информация"
                                            v-model="invoice.description"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>

                                    <v-btn class="ma-1" color="primary" v-if="invoice.statusCode == 'new'"
                                           @click="changeStatus('active')">
                                        Выставить счет
                                    </v-btn>

                                    <v-btn class="ma-1" color="warning" v-if="invoice.statusCode == 'active'"
                                           @click="changeStatus('new')">
                                        Отозвать счет
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary" v-if="invoice.statusCode == 'active'"
                                           @click="changeStatus('paid')">
                                        Оплачен
                                    </v-btn>

                                    <v-btn class="ma-1" color="primary" v-if="invoice.statusCode != 'paid'"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { ContractModel } from '@/models/administration/contract/Contract.model';
    import { InvoiceModel } from '@/models/registries/invoice/Invoice.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';

    import InvoiceService from '@/services/registries/invoice.service';
    import ContractService from '@/services/administration/contract.service';
    import DateHelper from '@/helpers/date.helper';

    export default Vue.extend({
        name: 'InvoiceForm',
        props: { },
        data() {
            const dataObj: {
                valid: boolean,
                rules: any,

                invoice: InvoiceModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
                controls: any,
                contracts: Array<ContractModel>,
            } = {
                valid: true,
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                invoice: new InvoiceModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Учет оплаты услуг',
                        disabled: false,
                        href: '/registries/invoices',
                    },
                    {
                        text: 'Счет',
                        disabled: true,
                        href: '#',
                    }
                ],
                alerts: new Array<AlertModel>(),
                controls: {
                    invoiceDateMenu: false,
                    invoiceEndDateMenu: false,
                },
                contracts: [],
            };
            return dataObj;
        },
        components: { },
        methods: {
            save() {
                this.alerts = [];
                if ((this.$refs.docForm as any).validate()) {
                    if (this.$route.params.id && this.$route.params.id === '0') {
                        InvoiceService.createItem(this.invoice).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/registries/invoices');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    } else {
                        InvoiceService.updateItem(this.invoice).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/registries/invoices');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/registries/invoices');
            },

            load() {
                this.alerts = [];

                if (this.$route.params.id && this.$route.params.id !== '0') {
                    InvoiceService.get(this.$route.params.id).then(response => {
                        this.invoice = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                } else {
                }
            },

            contractChanged: function (val, oldVal) {
                this.invoice.contract = this.contracts.find(c => c.id == val);
                this.invoice.organizationBin = this.invoice.contract?.clientOrgBin;
                this.invoice.organizationName = this.invoice.contract?.clientOrgName;
                this.invoice.accountNumber = this.invoice.contract?.accountNumber;
                this.invoice.accountDate = this.invoice.contract?.accountDate;
            },

            getTitle() {
                return 'Счет';
            },

            changeStatus(statusCode: string) {
                this.invoice.statusCode = statusCode;
                InvoiceService.updateItem(this.invoice).then(r => {
                    this.alerts.push(new AlertModel(
                        'Успешно сохранено',
                        'success',
                        true
                    ));
                    this.$router.push('/registries/invoices');
                }).catch((err) => {
                    this.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            }
        },
        watch: {
            'invoice.contractDate': function (val, oldVal) {
                this.invoice.contractDateFormatted = DateHelper.formatDate(val);                
            }
        },
        computed: { },
        activated() { },
        created() {
            this.load();
            ContractService.getList(<PagedSortRequestModel>{
                page: 1,
                pageSize: 0
            }).then((r) => {
                this.contracts = r.data.data;
            }).catch((ex) => {
                this.alerts.push(new AlertModel(
                    ex,
                    'warning',
                    true
                ));
            });
        }
    });

</script>
