﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn color="primary" v-if="isAllowEdit"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details clearable
                                                  class="mx-4"
                                                  append-outer-icon="mdi-magnify"
                                                  @click:append-outer="find()"
                                                  @keydown.enter="find()"
                                                  @click:clear="clear()"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <div style="min-width: 70px">
                                    <v-icon small
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="viewItem(item)">
                                        find_in_page
                                    </v-icon>
                                    <v-icon small v-if="isAllowEdit && item.statusCode != 'paid'"
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon small v-if="isAllowDelete && item.statusCode != 'paid'"
                                            color="red darken-2"
                                            @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </div>
                            </template>

                            <template v-slot:item.accountDate="{ item }">
                                {{ item.accountDate | date }}
                            </template>
                            <template v-slot:item.paidDateTime="{ item }">
                                {{ item.paidDateTime }}
                            </template>
                            <template v-slot:item.paidFineDateTime="{ item }">
                                {{ item.paidFineDateTime }}
                            </template>
                            <template v-slot:item.statusName="{ item }">
                                <v-chip :color="getColor(item)">
                                    {{ item.statusName }}
                                </v-chip>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-title class="headline">
                        Вы действительно хотите удалить?
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text @click="confimDelete">
                            Подтвердить
                        </v-btn>
                        <v-btn color="red darken-1"
                               text @click="cancelDelete">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { InvoiceModel } from '@/models/registries/invoice/Invoice.model';
    import { InvoiceFilterModel } from '@/models/registries/invoice/InvoiceFilter.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';    
    import { AlertModel } from '@/models/Alert.model';

    import InvoiceService from '@/services/registries/invoice.service';
    import AuthService from '@/services/auth.service';

    export default Vue.extend({
        name: 'InvoiceList',
        props: { },
        data: () => ({
            loading: true,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: '№', value: 'number'
                },
                {
                    text: 'Наименование организации', value: 'organizationName'
                },
                {
                    text: 'ИИН/БИН', value: 'organizationBin'
                },
                {
                    text: 'Номер договора', value: 'contractNumber'
                },
                {
                    text: '№ счета', value: 'accountNumber'
                },
                {
                    text: 'Дата создания счета', value: 'accountDate'
                },
                {
                    text: 'Расчетный период (месяцы)', value: 'periodMonths'
                },
                {
                    text: 'Количество оформленных ЭП', value: 'digitalPassportCount'
                },
                {
                    text: 'Изменения в ЭП (шт)', value: 'changeDigitalPassportCount'
                },
                {
                    text: 'Тариф', value: 'rate'
                },
                {
                    text: 'Сумма к оплате', value: 'payableAmount'
                },
                {
                    text: 'Оплаченная сумма', value: 'paidAmount'
                },
                {
                    text: 'Дата и время оплаты', value: 'paidDateTime'
                },
                {
                    text: 'Пеня', value: 'fine'
                },
                {
                    text: 'Срок начисления пени', value: 'accrualTermFine'
                },
                {
                    text: 'Сумма к оплате пени', value: 'payableFine'
                },
                {
                    text: 'Оплаченная сумма', value: 'paidFine'
                },
                {
                    text: 'Дата и время оплаты сумма', value: 'paidFineDateTime'
                },
                {
                    text: 'Сальдо', value: 'balance'
                },
                {
                    text: 'Статус', value: 'statusName'
                }
            ],
            data: new Array<InvoiceModel>(),
            alerts: new Array<AlertModel>(),

            item: new InvoiceModel(),
        }),
        components: { },
        methods: {
            createItem: function () {
                this.$router.push('/registries/invoice/0');
            },
            editItem: function (item: InvoiceModel) {
                this.$router.push('/registries/invoice/' + item.id);
            },
            viewItem: function (item: InvoiceModel) {
                this.$router.push('/registries/invoice/view/' + item.id);
            },
            deleteItem: function (item: InvoiceModel) {
                this.dialogConfirm = true;
                this.item = item;
            },

            cancelDelete: function () {
                this.dialogConfirm = false;
            },
            confimDelete: function () {
                const me = this;

                me.alerts = [];
                InvoiceService.deleteItem(this.item).then(response => {
                    if (response.status == 'Ok') {
                        this.alerts.push(new AlertModel(
                            'Успешно удален',
                            'success',
                            true
                        ));
                        this.load();
                    } else {
                        this.alerts.push(new AlertModel(
                            response.text,
                            'warning',
                            true
                        ));
                    }
                }).catch(err => {
                    this.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });

                me.dialogConfirm = false;
            },

            find() {
                this.load();
            },
            clear() {
                this.search = '';
                this.load();
            },

            load() {
                const me = this;
                me.loading = true;
                me.alerts = [];

                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , (sortDesc && sortDesc.length > 0 && sortDesc[0] == true ? ['1'] : ['0'])
                    , new InvoiceFilterModel(
                        this.search,
                        false
                    ));

                InvoiceService.getList(request).then(response => {
                    me.data = response.data.data;
                    me.total = response.data.total;
                    me.loading = false;
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            getTitle() {
                return 'Учет оплаты услуг';
            },

            getColor(item: InvoiceModel) {
                switch (item.statusCode) {
                    case 'paid': return 'success';
                    case 'active': return 'warning';
                }
                return 'primary';
            }
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },
        computed: {
            isAllowEdit: function () {
                return AuthService.hasPermission('registry.invoice.edit');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('registry.invoice.delete');
            },
        },
        activated() { },
        created() { }
    });

</script>
