﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn color="primary" v-if="isAllowEdit"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details clearable
                                                  class="mx-4"
                                                  append-outer-icon="mdi-magnify"
                                                  @click:append-outer="find()"
                                                  @keydown.enter="find()"
                                                  @click:clear="clear()"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <div style="min-width: 60px; max-width: 200px;">
                                    <v-btn text @click="downloadItem(item)">
                                        <v-icon small
                                                color="blue darken-2"
                                                class="mr-2">
                                            mdi-file-download
                                        </v-icon>
                                        Скачать
                                    </v-btn>
                                    <v-icon small v-if="isAllowEdit"
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon small v-if="isAllowDelete"
                                            color="red darken-2"
                                            @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </div>
                            </template>

                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-title class="headline">
                        Вы действительно хотите удалить?
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text
                               @click="confimDelete">
                            Подтвердить
                        </v-btn>

                        <v-btn color="red darken-1"
                               text
                               @click="cancelDelete">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import axios from 'axios';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';   
    import { FileStorageModel } from '@/models/filestorage/FileStorage.model';   
    import { AlertModel } from '@/models/Alert.model';

    import FileStorageService from '@/services/filestorage/filestorage.service';
    import AuthService from '@/services/auth.service';
            
    export default Vue.extend({
        name: 'InstructionList',
        props: { },
        data: () => ({
            loading: true,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Инструкция', value: 'title'
                },
                {
                    text: 'Файл', value: 'fileName'
                },
                {
                    text: 'Описание', value: 'description'
                },
            ],
            data: new Array<FileStorageModel>(),
            alerts: new Array<AlertModel>(),

            item: new FileStorageModel(''),
        }),
        components: { },
        methods: {
            createItem: function () {
                this.$router.push('/support/instruction/0');
            },
            editItem: function (item: FileStorageModel) {
                this.$router.push('/support/instruction/' + item.id);
            },
            downloadItem: function (item: FileStorageModel) {
                /*
                window.open('/api/filestorage/filecontent/'
                    + item.documentType
                    + '/' + item.id, '_blank');
                */
                axios.get<any, BlobPart>('/api/filestorage/filecontent/'
                    + item.documentType
                    + '/' + item.id, { responseType: 'blob' })
                    .then(response => {
                        const blob = new Blob([response], { type: item.mimeType });
                        const link = document.createElement('a');
                        link.href = URL.createObjectURL(blob);
                        link.download = item.fileName ? item.fileName : 'Инструкция';
                        link.click();
                        URL.revokeObjectURL(link.href);
                    }).catch(console.error);
                
            },
            deleteItem: function (item: FileStorageModel) {
                this.dialogConfirm = true;
                this.item = item;
            },

            cancelDelete: function () {
                this.dialogConfirm = false;
            },
            confimDelete: function () {
                const me = this;

                me.alerts = [];
                FileStorageService.deleteItem(this.item).then(response => {
                    if (response.status == 'Ok') {
                        this.alerts.push(new AlertModel(
                            'Успешно удален',
                            'success',
                            true
                        ));
                        this.load();
                    } else {
                        this.alerts.push(new AlertModel(
                            response.text,
                            'warning',
                            true
                        ));
                    }
                }).catch(err => {
                    this.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });

                me.dialogConfirm = false;
            },

            find() {
                this.load();
            },
            clear() {
                this.search = '';
                this.load();
            },

            load() {
                const me = this;
                me.loading = true;
                me.alerts = [];
                                
                FileStorageService.getList('helpinstructions', this.search).then(response => {
                    me.data = response.data.data;
                    me.total = response.data.total;
                    me.loading = false;
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            getTitle() {
                return 'Инструкции';
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },
        computed: {
            isAllowEdit: function () {
                return AuthService.hasPermission('administration.instruction.edit');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.instruction.delete');
            },
        },
        activated() { },
        created() { }
    });

</script>
