﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-progress-linear :value="progress" v-if="currentFile"
                                                   color="light-blue"
                                                   height="25" readonly>
                                    <strong>{{ progress }} %</strong>
                                </v-progress-linear>

                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Инструкция*"
                                              v-model="fileModel.title"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-textarea outlined required dense
                                            label="Описание*"
                                            :rules="rules.required"
                                            v-model="fileModel.description"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row v-if="isNew">
                            <v-col cols="12">
                                <v-file-input :rules="rules.required" required
                                              v-model="fileName"
                                              outlined show-size counter
                                              accept=".pdf"
                                              placeholder="Выберите инструкцию"
                                              prepend-icon="mdi-paperclip"
                                              label="Инструкция*"
                                              @change="selectFile"></v-file-input>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { FileStorageModel } from '@/models/filestorage/FileStorage.model';

    import FileStorageService from '@/services/filestorage/filestorage.service';

    export default Vue.extend({
        name: 'FileStorageForm',
        props: { },
        data() {
            const dataObj: {
                rules: any,

                fileModel: FileStorageModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,

                currentFile: any,
                currentFileName: string,
                fileName: string,
                progress: number,
                isNew: boolean,

            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                fileModel: new FileStorageModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Инструкция',
                        disabled: false,
                        href: '/support/instructions',
                    },
                    {
                        text: 'Инструкция',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),

                currentFile: null,
                currentFileName: '',
                fileName: '',
                progress: 0,
                isNew: true,
            };
            return dataObj;
        },
        components: {
            
        },
        methods: {
            save() {
                this.alerts = [];

                if ((this.$refs.docForm as any).validate()) {
                    if (this.isNew) {
                        if (!this.currentFile) {
                            this.alerts.push(new AlertModel(
                                "Пожалуйста, выберите файл.",
                                'warning',
                                true
                            ));
                            return;
                        }

                        FileStorageService.upload(this.currentFile
                            , this.fileModel.title ? this.fileModel.title : ''
                            , this.fileModel.description ? this.fileModel.description : ''
                            , 'helpinstructions'
                            , (event) => {
                                this.progress = Math.round((100 * event.loaded) / event.total);
                            }).then(response => {
                                if (response.status == 'Ok') {
                                    this.alerts.push(new AlertModel(
                                        'Успешно сохранено',
                                        'success',
                                        true
                                    ));
                                    this.$router.push('/support/instructions');
                                } else {
                                    this.alerts.push(new AlertModel(
                                        response.text,
                                        'warning',
                                        true
                                    ));
                                }
                            }).catch(err => {
                                this.progress = 0;
                                this.alerts.push(new AlertModel(
                                    err,
                                    'warning',
                                    true
                                ));
                            });
                    } else {
                        FileStorageService.updateFileInfo(this.fileModel).then(response => {
                            if (response.status == 'Ok')
                                this.$router.push('/support/instructions');
                            else
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/support/instructions');
            },

            load() {
                this.alerts = [];
                this.isNew = !this.$route.params.id || this.$route.params.id === '0';
                if (!this.isNew) {
                    FileStorageService.get(this.$route.params.id).then(response => {
                        this.fileModel = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                    this.isNew = false;
                }
            },

            getTitle() {              
                return 'Инструкция';
            },

            selectFile(file) {
                this.progress = 0;
                this.currentFile = file;
            }
        },
        watch: { },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
