﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12">
                <v-alert v-for="alert in alerts" outlined dense
                         border="left" :type="alert.type">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
            <v-col cols="12">
                <v-flex full-width>
                    <v-card class="mx-auto pa-1 my-1">

                        <v-card-subtitle class="pb-0">
                            Договор
                        </v-card-subtitle>

                        <v-card-text class="text--primary">
                            <div>№ {{ contract.number }} от {{ contract.contractDate | date }} </div>

                            <div>срок действия: {{ contract.contractEndDate | date }}</div>
                        </v-card-text>


                        <v-card-subtitle class="pb-0">
                            Клиент
                        </v-card-subtitle>

                        <v-card-text class="text--primary">
                            <div>{{ contract.clientOrgBin }}  {{ contract.clientOrgName }} </div>
                        </v-card-text>

                        <v-card-subtitle class="pb-0">
                            Описание
                        </v-card-subtitle>

                        <v-card-text class="text--primary">
                            <div>{{ contract.description }}</div>
                        </v-card-text>


                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Закрыть
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                    </v-card>

                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { ContractModel } from '@/models/administration/contract/Contract.model';

    import ContractService from '@/services/administration/contract.service';

    export default Vue.extend({
        name: 'ContractView',
        props: { },
        data() {
            const dataObj: {
                contract: ContractModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
            } = {               
                contract: new ContractModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Договоры',
                        disabled: false,
                        href: '/administration/contracts',
                    },
                    {
                        text: 'Договор',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
            };
            return dataObj;
        },
        methods: {
           
            cancel() {
                this.$router.push('/administration/contracts');
            },

            load() {
                this.alerts = [];
                if (this.$route.params.id && this.$route.params.id !== '0') {
                    ContractService.get(this.$route.params.id).then(response => {
                        this.contract = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
            },


            getTitle() {              
                return 'Просмотреть договор';
            },
            getColor() {
                switch (this.contract.statusCode) {
                    case 'closed': return 'success';
                    case 'rejected': return 'error';
                }
                return 'primary';
            }
        },
        watch: { },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
