﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Номер*"
                                              v-model="contract.number"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-menu ref="menuContractDate"
                                        v-model="controls.contractDateMenu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field ref="contractDate"
                                                      v-model="contract.contractDateFormatted"
                                                      label="Дата договора*"
                                                      prepend-icon="mdi-calendar"
                                                      readonly dense outlined clearable
                                                      :rules="rules.required"
                                                      v-bind="attrs"
                                                      v-on="on" required></v-text-field>
                                    </template>
                                    <v-date-picker v-model="contract.contractDate"
                                                   no-title
                                                   scrollable
                                                   :first-day-of-week="0"
                                                   locale="ru-ru">
                                        <v-spacer></v-spacer>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.contractDateMenu = false">
                                            Отмена
                                        </v-btn>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.contractDateMenu = false">
                                            Ok
                                        </v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="6">
                                <v-menu ref="menuContractEndDate"
                                        v-model="controls.contractEndDateMenu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field ref="contractEndDate"
                                                      v-model="contract.contractEndDateFormatted"
                                                      label="Срок действия договора"
                                                      prepend-icon="mdi-calendar"
                                                      readonly dense outlined clearable
                                                      :rules="rules.required"
                                                      v-bind="attrs"
                                                      v-on="on" required></v-text-field>
                                    </template>
                                    <v-date-picker v-model="contract.contractEndDate"
                                                   no-title
                                                   scrollable
                                                   :first-day-of-week="0"
                                                   locale="ru-ru">
                                        <v-spacer></v-spacer>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.contractEndDateMenu = false">
                                            Отмена
                                        </v-btn>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.contractEndDateMenu = false">
                                            Ok
                                        </v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-autocomplete label="Организация клиент"
                                                :items="clientOrgs"
                                                v-model="contract.clientOrgId"
                                                outlined clearable hide-selected dense
                                                item-text="name"
                                                item-value="id"
                                                class="mx-2 my-0"
                                                @change="orgChanged">
                                    <template slot="selection" slot-scope="data">
                                        {{ data.item.bin }} - {{ data.item.name }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        {{ data.item.bin }} - {{ data.item.name }}
                                    </template>
                                </v-autocomplete>

                                <div class="mx-2">
                                    <v-text-field label="Номер телефона"
                                                  v-model="contract.clientOrgPhone"
                                                  outlined dense></v-text-field>
                                </div>
                                <div class="mx-2">
                                    <v-text-field label="Email"
                                                  v-model="contract.clientOrgEmail"
                                                  outlined dense></v-text-field>
                                </div>
                                <div class="mx-2">
                                    <v-text-field label="Адрес"
                                                  v-model="contract.clientOrgAddress"
                                                  outlined dense></v-text-field>
                                </div>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="6">
                                <v-text-field label="Номер счета"
                                              v-model="contract.accountNumber"
                                              outlined required dense></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-menu ref="menuAccountDate"
                                        v-model="controls.accountDateMenu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field ref="accountDate"
                                                      v-model="contract.accountDateFormatted"
                                                      label="Дата создание счета"
                                                      prepend-icon="mdi-calendar"
                                                      readonly dense outlined clearable
                                                      v-bind="attrs"
                                                      v-on="on" required></v-text-field>
                                    </template>
                                    <v-date-picker v-model="contract.accountDate"
                                                   no-title
                                                   scrollable
                                                   :first-day-of-week="0"
                                                   locale="ru-ru">
                                        <v-spacer></v-spacer>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.accountDateMenu = false">
                                            Отмена
                                        </v-btn>
                                        <v-btn text
                                               color="primary"
                                               @click="controls.accountDateMenu = false">
                                            Ok
                                        </v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-textarea outlined required dense
                                            label="Дополнительная информация"
                                            v-model="contract.description"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { ContractModel } from '@/models/administration/contract/Contract.model';

    import ContractService from '@/services/administration/contract.service';
    import OrganizationService from '@/services/registries/organization.service';
    import DateHelper from '@/helpers/date.helper';

    export default Vue.extend({
        name: 'ContractForm',
        props: { },
        data() {
            const dataObj: {
                valid: boolean,
                rules: any,

                contract: ContractModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
                controls: any,
                clientOrgs: Array<any>,
            } = {
                valid: true,
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                contract: new ContractModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Договоры',
                        disabled: false,
                        href: '/administration/contracts',
                    },
                    {
                        text: 'Договор',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
                controls: {
                    contractDateMenu: false,
                    contractEndDateMenu: false,
                    accountDateMenu: false,
                },
                clientOrgs: [],
            };
            return dataObj;
        },
        components: { },
        methods: {
            save() {
                this.alerts = [];
                if ((this.$refs.docForm as any).validate()) {
                    if (this.$route.params.id && this.$route.params.id === '0') {
                        ContractService.createItem(this.contract).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/administration/contracts');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    } else {
                        ContractService.updateItem(this.contract).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/administration/contracts');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/administration/contracts');
            },

            load() {
                this.alerts = [];

                const params = new URLSearchParams();
                params.append("orgTypeCodes", "manufacturer");
                params.append("orgTypeCodes", "representativemanufacturer");
                params.append("orgTypeCodes", "assemblyplant");
                params.append("orgTypeCodes", "assemblykitsupplier");
                OrganizationService.getList(params)
                    .then(response => {
                        this.clientOrgs = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });

                if (this.$route.params.id && this.$route.params.id !== '0') {
                    ContractService.get(this.$route.params.id).then(response => {
                        this.contract = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
            },

            orgChanged: function(val, oldVal) {
                const org = val;
            },

            getTitle() {              
                return 'Договор';
            },
        },
        watch: {
            'contract.contractDate': function (val, oldVal) {
                this.contract.contractDateFormatted = DateHelper.formatDate(val);                
            },
            'contract.contractEndDate': function (val, oldVal) {
                this.contract.contractEndDateFormatted = DateHelper.formatDate(val);
            },
            'contract.accountDate': function (val, oldVal) {
                this.contract.accountDateFormatted = DateHelper.formatDate(val);
            }
        },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
