<template>
    <section id="external-resource">
        <v-container>
            <v-row no-gutters>
                <v-slide-group class="pa-4 mx-auto"
                               active-class="success"
                               center-active
                               show-arrows>

                    <v-slide-item>
                        <v-card class="ma-5"
                                height="78px"
                                width="252">
                            <a href="https://nitec.kz/" target="_blank">
                                <v-img :src="require('@/assets/externalresources/logo_nitec.jpg')">
                                </v-img>
                            </a>
                        </v-card>
                    </v-slide-item>

                    <v-slide-item>
                        <v-card class="ma-5" style="background-color: #be964e; border-color: #be964e;"
                                height="78px"
                                width="252">
                            <a href="https://eec.eaeunion.org/" target="_blank">
                                <v-img :src="require('@/assets/externalresources/logo_eek.png')">
                                </v-img>
                            </a>
                        </v-card>
                    </v-slide-item>

                    <v-slide-item>
                        <v-card class="ma-5"
                                height="78px"
                                width="252">
                            <a href="https://elpts.ru/" target="_blank">
                                <v-img :src="require('@/assets/externalresources/logo_elpts.png')">
                                </v-img>
                            </a>
                        </v-card>
                    </v-slide-item>

                    <v-slide-item>
                        <v-card class="ma-5"
                                height="78px"
                                width="252">
                            <a href="http://www.nca.kz/" target="_blank">
                                <v-img :src="require('@/assets/externalresources/logo_nca.png')">
                                </v-img>
                            </a>
                        </v-card>
                    </v-slide-item>

                    <v-slide-item>
                        <v-card class="ma-5"
                                height="78px"
                                width="252">
                            <a href="https://recycle.kz/" target="_blank">
                                <v-img :src="require('@/assets/externalresources/logo_rop.png')" height="78px">
                                </v-img>
                            </a>
                        </v-card>
                    </v-slide-item>

                </v-slide-group>
            </v-row>
        </v-container>
    </section>
</template>