<template>
    <section id="faq-section" class="grey darken-4">
        <v-container>
            <v-row class="mx-auto">
                <v-col cols="12" class="text-center mb-5">
                    <span class="font-weight-light display-3 white--text">
                        Часто задаваемые вопросы
                    </span>
                    <br />
                    <span class="font-weight-light display-1 text--primary">                        
                    </span>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-expansion-panels>
                        <v-expansion-panel v-for="(item, i) in faqs" :key="i">
                            <v-expansion-panel-header class="title">
                                {{ item.question }}
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                {{ item. answer}}
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-col>
            </v-row>
        </v-container>
        <v-divider />
    </section>
</template>
<script lang="ts">
    import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

    @Component({
        components: { },
        computed: { }
    })
    export default class FaqComponent extends Vue {
        protected faqs: any[] = [];
        created() {
            this.faqs = [
                {
                    question: 'Что такое выписка из электронного паспорта?',
                    answer: 'Выписка из электронного паспорта - электронный документ, содержащий идентификационный номер (VIN-код) и технические данные определенной машины, взятые из действующего ЭП, имеющий QR-код для проверки достоверности содержимого документа.',
                },
                {
                    question: 'Какие сведения содержит Электронный паспорт?',
                    answer: 'Электронный паспорт будет содержать техническое описание транспортного средства, сведения о регистрационных действиях, об ограничениях и обременениях, об уплатах утиль сбора, о таможенных ограничениях и таможенной очистке. Электронный паспорт хранится в течение всего времени эксплуатации автомобиля, постепенно обновляясь.',
                },
                {
                    question: 'Какие статусы бывают ЭП?',
                    answer: 'Электронному паспорту в процессе его оформления, заполнения и внесения в него изменений присваивается в системах электронных паспортов один из следующих статусов: "незавершенный", "действующий, "погашенный", "аннулированный" и "утилизированный". Для осуществления регистрационных действии, необходимо наличие статса "действующий", который присваивается ЭП после присвоения уникального номера электронного паспорта и поступления сведений о выпуске товара(в случае ввоза) и об уплате утилизационного сбора.',
                },
                {
                    question: 'Какие преимущества наличия ЭП?',
                    answer: 'Электронный паспорт транспортного средства упростит взаимное перемещение транспортных средств, процедуры их регистрации для граждан, позволит участникам систем наблюдать за жизненным циклом транспортного средства, а госорганам – пользоваться достоверными базами данных единого формата во всех странах ЕАЭС.',
                },
                {
                    question: 'Какие виды ЭП есть?',
                    answer: 'Электронный паспорт транспортных средств; Электронный паспорт шасси транспортных средств; Электронный паспорт самоходных машин и других видов техники.',
                },
                {
                    question: 'В каких странах действует ЭП?',
                    answer: 'ЭП действует в странах входящие в Евразийский экономический союз, а именно пять стран: Республика Армения, Республика Беларусь, Республика Казахстан, Кыргызская Республика и Российская Федерация. Ввиду этого, СЭП обеспечивает владельцам машин РК имеющие ЭП без проблем передвигаться в странах, входящих в ЕАЭC.',
                },
                {
                    question: 'Является ли обязательным наличие Электронного паспорта?',
                    answer: 'Электронный паспорт является обязательным только для транспортных средств, изготовленных на территории ЕАЭС и ввозимых в сраны ЕАЭС из третьих стран с момента запуска системы. Для уже зарегистрированных ТС оформление электронного паспорта осуществляется по желанию собственника.',
                },
                {
                    question: 'Где можно оформить электронный паспорт?',
                    answer: 'Оформление ЭП будет осуществляться изготовителями, импортерами и другими уполномоченными организациями посредством заполнения обязательных полей через собственный личный кабинет. Соответственно, изготовители оформляют ЭП на производимые транспортные средства, импортеры на ввозимые, а остальные уполномоченные организации (органы по сертификации, испытательные лаборатории) будут оформлять ЭПТС по обращению заявителей, в том числе и юридических и физических лиц.',
                }
            ];
        }
    }
</script>
