<template>
    <section id="news">
        <v-container>
            <v-row class="mx-auto">
                <v-col cols="12" class="text-center mb-5">
                    <span class="font-weight-light display-3">
                        {{ news.titleRu }}
                    </span>
                    <br />
                    <span class="font-weight-light display-1 text--primary">
                    </span>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <div v-html="news.contentRu"></div>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="text-right">
                    <span>{{ news.created | date }}</span>
                </v-col>
            </v-row>
        </v-container>
        <v-divider />
    </section>
</template>
<script lang="ts">
    import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

    import { NewsModel } from '@/models/administration/News.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';

    import NewsService from '@/services/administration/news.service';

    @Component({
        components: {},
        computed: {}
    })
    export default class NewsConponent extends Vue {
        protected news: NewsModel = new NewsModel();
        created() {
            if (this.$route.params.id) {
                NewsService.get(this.$route.params.id).then(response => {
                    this.news = response.data.data;
                }).catch((err) => {

                });
            }
        }
    }
</script>
