<template>
    <section id="news">
        <v-container>
            <v-row class="mx-auto">
                <v-col cols="12" class="text-center mb-5">
                    <span class="font-weight-light display-3">
                        Важная информация
                    </span>
                    <br />
                    <span class="font-weight-light display-1 text--primary">
                    </span>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" v-for="(item, i) in newsList">
                    <!--a :href="'/news/detail/' + item.id">{{ item.titleRu }}</a-->
                    <a href="javascript:void(0);" @click="dialogNews = true; news = item;">{{ item.titleRu }}</a>
                </v-col>
            </v-row>
        </v-container>
        <v-divider />


        <v-row justify="center">
            <v-dialog v-model="dialogNews"                    
                      fullscreen
                      hide-overlay
                      transition="dialog-bottom-transition">
                <v-card>
                    <v-toolbar dark
                               color="black">
                        <v-toolbar-title color="white">
                            {{ news.titleRu }}
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon
                               dark
                               @click="dialogNews = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    
                    <v-card-text>
                        <div v-html="news.contentRu"></div>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-row>



    </section>
</template>
<script lang="ts">
    import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

    import { NewsModel } from '@/models/administration/News.model';
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';

    import NewsService from '@/services/administration/news.service';

    @Component({
        components: {},
        computed: {}
    })
    export default class NewsConponent extends Vue {
        protected newsList: Array<NewsModel> = [];
        protected dialogNews: boolean = false;
        protected news: NewsModel = new NewsModel();
        created() {
            const request = new PagedSortRequestModel(1, 5, [], [], {
                isShowDeleted: false,
                search: '',
            });
            NewsService.getList(request).then(response => {
                this.newsList = response.data.data.data;
            }).catch((err) => {

            });
        }
    }
</script>