<template>
    <section id="statInfo">
        <v-parallax height="400">
            <v-container fill-height>
                <v-row class="mx-auto">
                    <v-col cols="12" class="text-center">
                        <span class="font-weight-light display-3 text--primary">
                            Статистика
                        </span>
                        <br/>
                        <span class="font-weight-light display-1 text--primary">
                            По состоянию на {{ (new Date()).getDate() }}.{{ (new Date()).getMonth() + 1 }}.{{ (new Date()).getFullYear() }}
                        </span>
                    </v-col>
                </v-row>
                <v-row class="mx-auto">
                    <v-col cols="12"
                           md="4">
                        <div class="text-center">
                            <div class="display-3 font-weight-black mb-4 text--primary">
                                {{ statInfo.dpassportOttsCount }}
                            </div>

                            <div class="title font-weight-regular text-uppercase">
                                Электронных паспортов транспортных средств
                            </div>
                        </div>
                    </v-col>
                    <v-col cols="12"
                           md="4">
                        <div class="text-center">
                            <div class="display-3 font-weight-black mb-4 text--primary">
                                {{ statInfo.dpassportOtchCount }}
                            </div>

                            <div class="title font-weight-regular text-uppercase">
                                Электронных паспортов шасси транспортных средств
                            </div>
                        </div>
                    </v-col>
                    <v-col cols="12"
                           md="4">
                        <div class="text-center">
                            <div class="display-3 font-weight-black mb-4 text--primary">
                                {{ statInfo.dpassportSbktsCount }}
                            </div>

                            <div class="title font-weight-regular text-uppercase">
                                Электронных паспортов самоходных машин и других видов техники
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-parallax>
    </section>
</template>
<script lang="ts">
    import { Component, Prop, Vue , Watch} from 'vue-property-decorator';

    import { StatInfoModel } from '@/models/public/StatInfo.model';

    import StatInfoService from '@/services/public/statinfo.service';
    @Component({
        components: { },
        computed: { }
    })
    export default class StatInfo extends Vue {
        protected statInfo: StatInfoModel = new StatInfoModel();
        created() {
            StatInfoService.getStatInfo().then(response => {
                this.statInfo = response.data.data;
            }).catch((err) => {

            });
        }
    }
</script>
