<template>
    <section id="welcome">
        <v-row no-gutters>
            <v-img height="90vh" :src="require('@/assets/main-background.png')">
                <v-row style="background-color: #000000; opacity: 0.8; height: 90vh">
                    <v-col>
                        <v-theme-provider dark>
                            <v-container fill-height>
                                <v-row>
                                    <v-col cols="2">
                                        <v-img alt="Logo EPTS"
                                               max-width="200px"
                                               src="/img/logo.svg">
                                        </v-img>
                                    </v-col>
                                    <v-col cols="6">
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="white--text text-left" cols="8" tag="h1">
                                        <span class="font-weight-black display-2">
                                            Система электронных паспартов
                                        </span>
                                        <br>
                                        <span class="font-weight-light display-1">
                                            транспортных средств, шасси транспортных средств,
                                            самоходных машин и других видов техники
                                        </span>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-card>
                                            <v-card-title>
                                                <h3>
                                                    Проверка статуса электронного паспорта
                                                </h3>
                                            </v-card-title>
                                            <v-card-text class="py-0">
                                                <v-text-field outlined dense></v-text-field>
                                                <v-btn color="blue" block>Проверить</v-btn>
                                            </v-card-text>
                                            <v-card-actions>
                                            </v-card-actions>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-theme-provider>
                    </v-col>
                </v-row>
            </v-img>
        </v-row>
    </section>
</template>