﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row>
            <!-- v-scroll:#scroll-target="onScroll" -->
            <v-col cols="9" sm="12" md="9">
                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                    {{ getTitle() }}
                </h4>
                <v-tabs v-model="tab">
                    <v-tab href="#tab-doc">Документ</v-tab>
                    <v-tab href="#tab-events">События</v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab">
                    <v-tab-item id="tab-doc">
                        <v-card>
                            <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                                <v-form ref="docForm"
                                        v-model="valid"
                                        lazy-validation>
                                    <v-row no-gutters>
                                        <v-col>
                                            <document-form v-bind:document="document" ref="refDocumentForm" @trackChange="showDocAlert"
                                                           :disabled="isDisabled"></document-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters v-if="document.docDistributionSign == 1 || isSbkts">
                                        <v-col>
                                            <vin-form v-bind:document="document" @trackChange="showDocAlert"
                                                      :disabled="isDisabled"></vin-form>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <vehicletypedetail-form v-bind:document="document" @trackChange="showDocAlert"
                                                                    :disabled="isDisabled">
                                            </vehicletypedetail-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <basevehicledetail-form v-bind:document="document" v-if="!isOtch" @trackChange="showDocAlert"
                                                                    :disabled="isDisabled">
                                            </basevehicledetail-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <vehicleOrgdetail-form v-bind:document="document" @trackChange="showDocAlert"
                                                                   :disabled="isDisabled">
                                            </vehicleOrgdetail-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <additionalinfo-view v-bind:document="document" :disabled="isDisabled">
                                            </additionalinfo-view>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <characteristics-form v-bind:vehicleTypeDetail="document.vehicleTypeDetail"
                                                                  v-bind:document="document" :disabled="isDisabled">
                                            </characteristics-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <vehiclelabelingdetail-form v-bind:document="document" :disabled="isDisabled" v-if="!isSbkts">
                                            </vehiclelabelingdetail-form>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col>
                                            <generalview-form v-bind:document="document" :disabled="isDisabled">
                                            </generalview-form>
                                        </v-col>
                                    </v-row>

                                </v-form>
                            </v-flex>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item id="tab-events">
                        <documentevents-view v-bind:documentId="document.id">
                        </documentevents-view>
                    </v-tab-item>
                </v-tabs-items>
            </v-col>
            <v-col cols="3" sm="12" md="3">
                <v-container id="docform-nav"
                             style="position: fixed; top:inherit; width: 280px; left: auto; right: 0;
                                        overflow-y: auto;
                                        height: 85vh;">
                    <v-row nogutter>
                        <v-col cols="12" class="py-0">
                            <div class="mb-2 ml-2 text-h6 font-weight-medium text--primary" path="contents">
                                Управление
                            </div>
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <v-alert class="pa-2"
                                     outlined :value="showAlert"
                                     type="warning"
                                     border="left">
                                <v-row no-gutters>
                                    <v-col cols="12">
                                        {{ alertText }}
                                    </v-col>
                                    <v-col cols="12" class="d-flex justify-end">
                                        <v-btn color="warning" outlined small
                                               @click="showAlert = !showAlert">
                                            Ок
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-alert>
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <div class="text-center">
                                <v-chip class="ma-1" :color="getColor()"
                                        text-color="white">
                                    {{ document.statusName }}
                                </v-chip>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row nogutter>
                        <v-col class="py-1">
                            <v-card-actions class="py-0 my-0" v-if="isConsideration && isAllowApproval">
                                <v-btn class="ma-1" color="primary"
                                       @click="dialogConfirm = true">
                                    Подтвердить
                                </v-btn>
                            </v-card-actions>
                            <v-card-actions class="py-0 my-0" v-if="isConsideration && isAllowApproval">
                                <v-btn class="ma-1" color="error"
                                       @click="dialogReject = true">
                                    Отклонить
                                </v-btn>
                            </v-card-actions>
                            <v-card-actions class="py-0 my-0">
                                <v-btn class="ma-1" v-if="canSave"
                                       color="primary"
                                       @click="save">
                                    Сохранить
                                </v-btn>
                                <v-btn class="ma-1"
                                       color="secondary"
                                       @click="cancel">
                                    Закрыть
                                </v-btn>
                            </v-card-actions>
                            <v-card-actions class="py-0 my-0" v-if="canSend">
                                <v-btn class="ma-1"
                                       color="primary"
                                       @click="signAndSend"
                                       v-if="!!document.id">
                                    Подписать и Отправить
                                </v-btn>
                            </v-card-actions>
                        </v-col>
                    </v-row>

                    <v-row nogutter>
                        <v-col>
                            <ul class="mb-6">
                                <li v-for="item in getNavItems()" :key="item.id"
                                    :class="{
                                            'py-1 text-body-2': true,
                                            'primary--text router-link-active': item.isActive,
                                            'warning--text router-link-modified': item.isModified,
                                            'text--disabled': !item.isActive && !item.isModified,
                                            'pl-3': item.level === 1,
                                            'pl-6': item.level === 2,
                                            'pl-9': item.level === 3,
                                            'pl-12': item.level === 4,
                                        }">
                                    <a :href="item.ref" :id="item.ref.substring(1) + 'Id'"
                                       class="v-toc-link d-block transition-swing text-decoration-none"
                                       @click.prevent.stop="onClick(item.ref, item.id)">
                                        {{ item.title }}
                                    </a>
                                </li>
                            </ul>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>

        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent transition="dialog-top-transition"
                      max-width="600px">
                <v-card outlined>
                    <v-card-title class="text-h5">
                        Подтверждение
                    </v-card-title>
                    <v-card-text>
                        Вы уверены что хотите подтвердить документ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="primary"
                               @click="confirmDoc">
                            Подтвердить
                        </v-btn>
                        <v-btn color="secondary"
                               @click="dialogConfirm = false">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogReject"
                      persistent transition="dialog-top-transition"
                      max-width="600px">
                <v-card outlined>
                    <v-card-title class="text-h5">
                        Отклонение
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12">
                                    Вы уверены что хотите отклонить документ?
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea v-model="rejectMsg">
                                        <template v-slot:label>
                                            <div>
                                                Укажите причину отклонения
                                            </div>
                                        </template>
                                    </v-textarea>
                                </v-col>
                            </v-row>
                           
                        </v-container>

                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="primary"
                               @click="rejectDoc">
                            Отклонить
                        </v-btn>
                        <v-btn color="secondary"
                               @click="dialogReject = false">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>

    </v-container>
</template>

<script lang="ts">
    import moment from 'moment';
    import axios, { AxiosResponse } from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { AssemblyPlantModel } from '@/models/documents/complience/AssemblyPlant.model';
    import { AssemblyKitSupplierModel } from '@/models/documents/complience/AssemblyKitSupplier.model';
    import { RepresentativeManufacturerModel } from '@/models/documents/complience/RepresentativeManufacturer.model'
    import { VehicleLabelingDetailModel } from '@/models/documents/complience/VehicleLabelingDetail.model';
    import { VehicleTypeDetailModel } from '@/models/vehicle/VehicleTypeDetail.model';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { SignedDocModel } from '@/models/registries/SignedDoc.model';
    import { JsonResponse } from '@/models/JsonResponse';
    import { ProcessRequestModel } from '@/models/documents/ProcessRequest.model';

    import ComplienceService from '@/services/document/complience.service';
    import SignedDocService from '@/services/registries/signeddoc.service';
    import AuthService from '@/services/auth.service';

    import DocumentForm from '@/components/document/complience/DocumentForm.vue';
    import VinForm from '@/components/document/complience/VinForm.vue';
    import VehicleLabelingDetailForm from '@/components/document/complience/VehicleLabelingDetailForm.vue';
    import BasicDocsForm from '@/components/document/complience/BasicDocsForm.vue';
    import GeneralViewForm from '@/components/document/complience/GeneralViewForm.vue';
    import VehicleTypeDetailForm from '@/components/vehicle/VehicleTypeDetailForm.vue';
    import BaseVehicleDetailForm from '@/components/vehicle/BaseVehicleDetailForm.vue';
    import VehicleOrgDetailForm from '@/components/document/complience/VehicleOrgDetailForm.vue';
    import CharacteristicsForm from '@/components/vehicle/CharacteristicsForm.vue';

    import DocumentEventsView from '@/components/document/DocumentEventsView.vue';
    import AdditionalInfoViewForm from '@/components/document/complience/AdditionalInfoViewForm.vue';
    import ObjectHelper from '@/helpers/object.helper';

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls"


    export default Vue.extend({
        name: 'ComplienceDocumentForm',
        data: function () {
            const dataObj: {
                valid: boolean,
                nav: any,
                document: ComplienceDocumentModel,
                representativeManufacturers: any,
                assemblyPlants: any,
                assemblyKitSuppliers: any,
                isActive: boolean,
                tab: any,
                showAlert: boolean,
                alertText: string,
                breadcrumbItems: any,

                dialogConfirm: boolean,
                dialogReject: boolean,
                rejectMsg: string
            } = {
                valid: true,
                nav: {
                    hash: '',
                    scrolling: true,
                    items: [
                        { id: 1, title: 'Документ', level: 1, ref: '#document-info', isActive: true, isModified: false },
                        { id: 2, title: 'Транспортное средство', level: 1, ref: '#vehicletypedetail-info', isActive: false, isModified: false },
                        { id: 3, title: 'Базовое ТС', level: 2, ref: '#basevehicledetail-info', isActive: false, isModified: false },
                        { id: 4, title: 'Организации', level: 2, ref: '#vehicleorgdetail-info', isActive: false, isModified: false },
                        { id: 5, title: 'Дополнительная информация', level: 2, ref: '#additionalInfo-view', isActive: false, isModified: false },
                        { id: 6, title: 'Общие характеристики', level: 2, ref: '#characteristic-info', isActive: false, isModified: false },
                        { id: 7, title: 'Ходовая часть', level: 3, ref: '#vehicleRunningGearDetail-info', isActive: false, isModified: false },
                        { id: 8, title: 'Тип кузова/количество дверей', level: 3, ref: '#vehicleBodyworkDetail-info', isActive: false, isModified: false },
                        { id: 9, title: 'Количество мест для сидения', level: 3, ref: '#vehicleSeatDetail-info', isActive: false, isModified: false },
                        { id: 10, title: 'Компоновка транспортного средства', level: 3, ref: '#vehicleLayoutDetail-info', isActive: false, isModified: false },
                        { id: 11, title: 'Габаритные размеры', level: 3, ref: '#vehicleDimensionDetail-info', isActive: false, isModified: false },
                        { id: 12, title: 'Колея передних/задних колес', level: 3, ref: '#vehicleAxleDetail-info', isActive: false, isModified: false },
                        { id: 13, title: 'Масса', level: 3, ref: '#vehicleWeightDetail-info', isActive: false, isModified: false },
                        { id: 14, title: 'Двигатель', level: 3, ref: '#engineDetail-info', isActive: false, isModified: false },
                        { id: 15, title: 'Сцепление', level: 3, ref: '#vehicleClutchDetail-info', isActive: false, isModified: false },
                        { id: 16, title: 'Трансмиссия', level: 3, ref: '#vehicleTransmissionType-info', isActive: false, isModified: false },
                        { id: 17, title: 'Подвеска', level: 3, ref: '#vehicleSuspensionDetail-info', isActive: false, isModified: false },
                        { id: 18, title: 'Рулевое управление', level: 3, ref: '#vehicleSteeringDetail-info', isActive: false, isModified: false },
                        { id: 19, title: 'Тормозные системы', level: 3, ref: '#vehicleBrakingSystemDetail-info', isActive: false, isModified: false },
                        { id: 20, title: 'Шины', level: 3, ref: '#vehicleTyreKindInfo-info', isActive: false, isModified: false },
                        { id: 21, title: 'Оборудование', level: 3, ref: '#vehicleEquipmentInfo-info', isActive: false, isModified: false },

                        { id: 22, title: 'Описание маркировки', level: 1, ref: '#vindescription-info', isActive: false, isModified: false },

                        { id: 23, title: 'Общий вид', level: 1, ref: '#generalview-info', isActive: false, isModified: false },

                        // { id: 8, title: 'Перечень документов, являющихся основанием для оформления', level: 1, ref: '#basicdocs-info', isActive: false },
                    ],
                },
                document: new ComplienceDocumentModel(),
                representativeManufacturers: new Array<RepresentativeManufacturerModel>(),
                assemblyPlants: new Array<AssemblyPlantModel>(),
                assemblyKitSuppliers: new Array<AssemblyKitSupplierModel>(),
                isActive: false,
                tab: null,
                showAlert: false,
                alertText: '',
                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Список документов',
                        disabled: false,
                        href: '/compliencedocuments/',
                    },
                    {
                        text: 'Документ',
                        disabled: true,
                        href: '#',
                    },
                ],

                dialogConfirm: false,
                dialogReject: false,
                rejectMsg: ''
            };
            return dataObj;
        },
        components: {
            'document-form': DocumentForm,
            'vin-form': VinForm,
            'vehiclelabelingdetail-form': VehicleLabelingDetailForm,
            'basicdocs-form': BasicDocsForm,
            'generalview-form': GeneralViewForm,
            'vehicletypedetail-form': VehicleTypeDetailForm,
            'basevehicledetail-form': BaseVehicleDetailForm,
            'vehicleOrgdetail-form': VehicleOrgDetailForm,
            'characteristics-form': CharacteristicsForm,
            'documentevents-view': DocumentEventsView,
            'additionalinfo-view': AdditionalInfoViewForm,
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode === 'otch';
            },
            isDisabled(): boolean {
                return this.document.statusCode === 'consideration'
                    || this.document.statusCode === 'active';
            },
            isConsideration(): boolean {
                return this.document.statusCode === 'consideration';
            },

            canSend(): boolean {
                return this.document.statusCode === 'new'
                    || this.document.statusCode === 'rejected';
            },
            canSave(): boolean {
                return this.document.statusCode === 'draw'
                    || this.document.statusCode === 'new'
                    || this.document.statusCode === 'rejected';
            },
            isAllowApproval: function () {
                if (this.document.docTypeCode === 'otts') {
                    return AuthService.hasPermission('document.otts.approval');
                }
                if (this.document.docTypeCode === 'otch') {
                    return AuthService.hasPermission('document.otch.approval');
                }
                if (this.document.docTypeCode === 'sbkts') {
                    return AuthService.hasPermission('document.sbkts.approval');
                }
                return false;
            }
        },
        watch: { },
        methods: {
            save() {
                console.log('Save');
                const isDocumentValid = (this.$refs.refDocumentForm as any).validateDocFields();
                //if ((this.$refs.docForm as any).validate()) {
                if (!!isDocumentValid) {
                    this.showAlert = false;
                    axios.post<ComplienceDocumentModel, JsonResponse>('/api/ComplienceDocument/Save', this.document)
                        .then(response => {
                            console.log('Response: ' + JSON.stringify(response));
                            if (response.status == 'Error') {
                                this.$emit('show_message', 'Возникла ошибка ' + response.text);
                            } else {
                                this.$emit('show_message', 'Документ сохранен');
                                // this.loadDocument();
                                const dt = (<ComplienceDocumentModel>response.data);
                                if (this.document.id && this.document.id != ObjectHelper.defaultGuid() && this.document.id != '') {
                                    window.location.reload();
                                } else {
                                    this.document.id = dt.id;
                                    this.$router.push('/compliencedocument/' + dt.docTypeCode + '/' + this.document.id);
                                    window.location.reload();
                                }
                            }
                        }).catch(err => {
                            this.$emit('show_message', 'Возникла ошибка: ' + err);
                            window.scrollTo(0, 0);
                        });
                } else {
                    this.$emit('show_message', 'Необходимо заполнить обязательные поля');
                    window.scrollTo(0, 0);
                }
            },
            cancel() {
                this.$router.push('/compliencedocuments/' + this.document.docTypeCode)
            },
            signAndSend() {
                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');
                }, err => {
                    console.log('websocket init error = ' + err);
                    this.$emit('show_message', 'Ошибка при подключений к NCALayer. Убедитесь что программа запущена и нажмите ОК. ' + err);
                });

                // request data to sign
                ComplienceService.getDataToSign(this.document.id).then(r => {
                    if (r.status == 'Ok') {

                        ProcessNcaLayer.signXmlFn(r.data.dataToSign, xmlSigned => {
                            console.log('signXmlFn = ' + xmlSigned);
                            let signedDoc = new SignedDocModel();
                            signedDoc.docId = this.document.id;
                            signedDoc.docType = 'ComplienceDocument';
                            signedDoc.signedXml = xmlSigned;
                            signedDoc.createDate = new Date();

                            SignedDocService.save(signedDoc).then(r => {
                                console.log('SignedDocService');
                                console.log(r);

                                if (r.status == 'Ok') {                                    
                                    this.$emit('show_message', 'Документ успешно подписан');
                                } else {
                                    this.$emit('show_message', 'Ошибка при подписании: ' + r.text);
                                }
                            }).catch(err => {
                                console.log('SignedDocService error');
                                console.log(err);
                            });
                                                        
                            ComplienceService.processDoc(new ProcessRequestModel(this.document.id, 'consideration', '')).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.statusCode = r.data.code;
                                    this.document.statusName = r.data.name;
                                    this.$router.push('/compliencedocuments/' + this.document.docTypeCode);
                                }
                            }).catch(err => {

                            });

                        }, err => {
                            console.log('signXmlFn  error = ' + err);
                        });

                    } else {

                    }
                }).catch(err => {
                    console.log(err);
                });
                
               // sign
               // send data to server
            },

            confirmDoc() {
                ComplienceService.processDoc(new ProcessRequestModel(this.document.id, 'active', 'Подтверждено')).then(r => {
                    if (r.status == 'Ok') {
                        this.document.statusCode = r.data.code;
                        this.document.statusName = r.data.name;
                        this.dialogConfirm = false;
                        this.$router.push('/compliencedocuments/' + this.document.docTypeCode);
                    }
                }).catch(err => {

                });
            },
            rejectDoc() {
                ComplienceService.processDoc(new ProcessRequestModel(this.document.id, 'rejected', this.rejectMsg)).then(r => {
                    if (r.status == 'Ok') {
                        this.document.statusCode = r.data.code;
                        this.document.statusName = r.data.name;
                        this.dialogReject = false;
                        this.$router.push('/compliencedocuments/' + this.document.docTypeCode);
                    }
                }).catch(err => {

                });
            },

            async onClick(hash, i) {
                if (this.nav.hash === hash) return;

                this.nav.hash = hash;

                window.removeEventListener('scroll', this.onScroll);

                this.nav.scrolling = true;

                this.$router.replace({ path: this.$router.currentRoute.path, hash })

                await this.$vuetify.goTo(hash)

                this.nav.items.forEach(function (item) {
                    item.isActive = item.id == i;
                });

                this.nav.scrolling = false

                window.addEventListener('scroll', this.onScroll);
            },
            onScroll() {
                const currentOffset = (
                    window.pageYOffset ||
                    document.documentElement.offsetTop || 0
                );

                for (const item of this.nav.items) {
                    const section = document.getElementById(item.ref.slice(1));
                    if (!section) continue;

                    if (section.offsetTop <= currentOffset && (section.offsetTop + section.clientHeight + 60) >= currentOffset) {
                        if (this.nav.hash == item.ref) continue;
                        this.nav.hash = item.ref;

                        item.isActive = true;
                        this.$router.replace({ path: this.$router.currentRoute.path, hash: item.ref });

                        if (this.document.isChanged) {
                            this.$emit('show_message', 'Документ был изменен. Пожалуйста, не забудьте сохранить');
                        }
                    } else {
                        item.isActive = false;
                    }
                }
            },
            getTitle() {
                if (this.document.docTypeCode == 'otts')
                    return 'ОДОБРЕНИЕ ТИПА ТРАНСПОРТНОГО СРЕДСТВА';

                if (this.document.docTypeCode == 'otch')
                    return 'ОДОБРЕНИЕ ТИПА ШАССИ';

                if (this.document.docTypeCode == 'sbkts')
                    return 'СБКТС';
                return '';
            },
            getShortTitle() {
                if (this.document.docTypeCode == 'otts')
                    return 'ОТТС';

                if (this.document.docTypeCode == 'otch')
                    return 'ОТШ';

                if (this.document.docTypeCode == 'sbkts')
                    return 'СБКТС';
                return '';
            },
            loadDocument() {
                ComplienceService.get(this.document.id)
                    .then(response => {
                        console.log("ComplienceDocument loaded");

                        this.document = <ComplienceDocumentModel>response.data;
                        this.document.isChanged = false;

                        this.document.authority = {
                            id: this.document.authorityId,
                            name: this.document.authorityName
                        };
                        this.document.applicant = {
                            id: this.document.applicantId,
                            name: this.document.applicantName
                        };
                        this.document.manufacturer = {
                            id: this.document.manufacturerId,
                            name: this.document.manufacturerName
                        };
/*
                        this.document.representativeManufacturer = {
                            id: this.document.representativeManufacturerId,
                            name: this.document.representativeManufacturerName
                        };

                        this.document.assemblyPlant = {
                            id: this.document.assemblyPlantId,
                            name: this.document.assemblyPlantName
                        };
                        this.document.assemblyKitSupplier = {
                            id: this.document.assemblyKitSupplierId,
                            name: this.document.assemblyKitSupplierName
                        };
                        if (!this.document.assemblyKitSuppliers) {
                            this.document.assemblyKitSuppliers = new Array<AssemblyKitSupplierModel>();
                        }
*/
                        if (!this.document.vehicleLabelingDetail) {
                            this.document.vehicleLabelingDetail = new VehicleLabelingDetailModel();
                        }
                        if (!this.document.vehicleTypeDetail) {
                            this.document.vehicleTypeDetail = new VehicleTypeDetailModel();
                        } else {
                            if (!this.document.vehicleTypeDetail.baseVehicleTypeDetails)
                                this.document.vehicleTypeDetail.baseVehicleTypeDetails = [];
                        }
                        if (!this.document.vehicleTypeDetail.characteristicsDetail) {
                            this.document.vehicleTypeDetail.characteristicsDetail = new CharacteristicsDetailModel();
                        } else {
                            ComplienceService.getVehicleRunningGearDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleRunningGearDetails = r.data;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleBodyworkDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleBodyworkDetails = r.data;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleSeatDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleSeatDetails = r.data;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleLayoutDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleLayoutPatterns = r.data.vehicleLayoutPatterns;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleEngineLayouts = r.data.vehicleEngineLayouts;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleCarriageSpaceImplementations = r.data.vehicleCarriageSpaceImplementations;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleCabins = r.data.vehicleCabins;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehiclePurposes = r.data.vehiclePurposes;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleFrames = r.data.vehicleFrames;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehiclePassengerQuantities = r.data.vehiclePassengerQuantities;

                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleTrunkVolumeMeasures = r.data.vehicleTrunkVolumeMeasures;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleDimensionDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.lengthRanges = r.data.lengthRanges;
                                this.document.vehicleTypeDetail.characteristicsDetail.widthRanges = r.data.widthRanges;
                                this.document.vehicleTypeDetail.characteristicsDetail.heightRanges = r.data.heightRanges;
                                this.document.vehicleTypeDetail.characteristicsDetail.loadingHeightRanges = r.data.loadingHeightRanges;
                                this.document.vehicleTypeDetail.characteristicsDetail.maxHeightRanges = r.data.maxHeightRanges;
                                this.document.vehicleTypeDetail.characteristicsDetail.wheelbaseMeasureRanges = r.data.wheelbaseMeasureRanges;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleAxleDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleAxleDetails = r.data.vehicleAxleDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleWeightDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleWeightMeasures = r.data.vehicleWeightMeasures;
                                this.document.vehicleTypeDetail.characteristicsDetail.brakedTrailerWeightMeasures = r.data.brakedTrailerWeightMeasures;
                                this.document.vehicleTypeDetail.characteristicsDetail.unbrakedTrailerWeightMeasures = r.data.unbrakedTrailerWeightMeasures;
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleHitchLoadMeasures = r.data.vehicleHitchLoadMeasures;
                            }).catch(err => {

                            });

                            if (!this.document.vehicleTypeDetail.characteristicsDetail.vehicleHybridDesigns)
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleHybridDesigns = [];

                            ComplienceService.getEngineDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.engineDetails = r.data.engineDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getElectricalMachineDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.electricalMachineDetails = r.data.electricalMachineDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getPowerStorageDeviceDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.powerStorageDeviceDetails = r.data.powerStorageDeviceDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleClutchDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleClutchDetails = r.data.vehicleClutchDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getTransmissionTypesByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleTransmissionTypes = r.data.vehicleTransmissionTypes;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleSuspensionDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleSuspensionDetails = r.data.vehicleSuspensionDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleSteeringDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleSteeringDetails = r.data.vehicleSteeringDetails;
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleSteeringDescriptions = r.data.vehicleSteeringDescriptions;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleBrakingSystemDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleBrakingSystemDetails = r.data.vehicleBrakingSystemDetails;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleTyreKindInfosByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleTyreKindInfos = r.data.vehicleTyreKindInfos;
                            }).catch(err => {

                            });

                            ComplienceService.getVehicleEquipmentInfosByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.characteristicsDetail.vehicleEquipmentInfos = r.data.vehicleEquipmentInfos;
                            }).catch(err => {

                            });

                            ComplienceService.getLabelDetailsByDocId(this.document.id).then(r => {
                                this.document.vehicleLabelingDetail = r.data.vehicleLabelingDetail;
                            }).catch(err => {

                            });

                            ComplienceService.getAdditionalDataByDocId(this.document.id).then(r => {
                                this.document.vehicleTypeDetail.vehicleUseRestrictions = r.data.vehicleUseRestrictions;
                                this.document.vehicleTypeDetail.shassisMovePermitions = r.data.shassisMovePermitions;
                                this.document.vehicleTypeDetail.vehicleRoutings = r.data.vehicleRoutings;
                                this.document.vehicleTypeDetail.vehicleNotes = r.data.vehicleNotes;
                            }).catch(err => {

                            });
                        }
                    }).catch(err => { });
            },
            showDocAlert(e) {
                this.document.isChanged = e.val != e.oldVal;
                let item = this.nav.items.find(ni => ni.ref == e.ref);
                if (item) item.isModified = this.document.isChanged
            },

            getColor() {
                if (this.document.statusCode === 'active') {
                    return 'green';
                } else if (this.document.statusCode === 'rejected') {
                    return 'red';
                }
                return '#5cbbf6';
            },

            getNavItems() {
                if (this.document.docTypeCode === 'otch') {
                    let navItems = this.nav.items.filter(i => ![3, 8, 9].includes(i.id));

                    let indx = navItems.findIndex(i => i.id == 2);
                    navItems[indx].title = 'Шасси';

                    indx = navItems.findIndex(i => i.id == 10);
                    navItems[indx].title = 'Компоновка шасси транспортного средства';
                    return navItems;
                }
                if (this.document.docTypeCode === 'sbkts') {
                    let navItems = this.nav.items.filter(i => ![10, 22].includes(i.id));

                    let indx = navItems.findIndex(i => i.id == 3);
                    navItems[indx].title = 'Шасси';

                    return navItems;
                }

                return this.nav.items
            }
        },
         created() {
            this.document.docTypeCode = this.$route.params.docTypeCode;
            if (this.$route.params.id) {
                this.document.id = this.$route.params.id;
            }
            if (this.document.docTypeCode == 'otts') {
                
            } else if (this.document.docTypeCode == 'otch') {

            } else if (this.document.docTypeCode == 'sbkts') {

            } else {
                this.$router.push('/#')
            }

            this.breadcrumbItems = [
                {
                    text: 'Главная',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'Реестр ' + this.getShortTitle(),
                    disabled: false,
                    href: '/compliencedocuments/' + this.document.docTypeCode,
                },
                {
                    text: 'Документ',
                    disabled: true,
                    href: '#',
                },
            ];

            window.addEventListener('scroll', this.onScroll);

            if (this.document.id && this.document.id != ObjectHelper.defaultGuid() && this.document.id != '') {
                this.loadDocument();
            } else {
                this.document.docDate = moment(new Date()).format();
                this.document.docDateFormatted = moment(this.document.docDate).format("DD.MM.YYYY");
                this.document.applicant = {
                    id: this.document.applicantId,
                    name: this.document.applicantName
                };
                // this.document.vehicleTypeDetail.baseTypeDetailModel = new VehicleTypeDetailModel();
            }
        },
        mounted() {
            console.log("Form mounted");
        },
        destroyed() {
            window.removeEventListener('scroll', this.onScroll);
        },
    });
</script>

<style scoped>

    #docform-nav ul {
        list-style-type: none;
    }

    #docform-nav li {
        border-left: 2px solid #e5e5e5;
    }

    #docform-nav .v-toc-link {
        color: inherit;
    }

    #docform-nav li.router-link-active {
        border-left-color: #1867c0 !important;
    }

    #docform-nav li.router-link-modified {
        border-left-color: #fb8c00 !important;
    }

    .text-decoration-none {
        text-decoration: none !important;
    }

    .text--disabled {
        color: rgba(0,0,0,.38) !important;
    }

    .v-heading > a:not(:hover):not(:focus) {
        opacity: 0;
    }

    .primary--text {
        color: #1867c0 !important;
        caret-color: #1867c0 !important;
    }

    .warning--text {
        color: #fb8c00 !important;
        caret-color: #fb8c00 !important;
    }

    .fixed-top {
        position: fixed !important;
    }

    .fixed-bottom {
        position: fixed !important;
        bottom: 200px;
    }
</style>
