﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                Реестр {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="ottsList"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn v-if="isAllowEdit"
                                           color="primary"
                                           dark
                                           class="mb-2"
                                           @click="create(docTypeCode)">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>

                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                                <v-toolbar flat>
                                    <v-spacer></v-spacer>
                                    <v-switch v-model="showDeleted" @change="doShowDeleted()"
                                              label="Показать удаленные"></v-switch>
                                </v-toolbar>
                            </template>

                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>


                            <template v-slot:item="{ item, index }">
                                <tr :data-id="item.id" :class="{ 'deleted-row': !!item.deleted }">
                                    <td style="text-decoration: none;">
                                        <div style="min-width: 80px">
                                            <v-icon v-if="isAllowEdit && !isItemView(item) && !item.deleted"
                                                    small
                                                    color="blue darken-2"
                                                    class="mr-2"
                                                    @click="editItem(item)">
                                                mdi-pencil
                                            </v-icon>
                                            <v-icon v-if="isItemView(item) && !item.deleted"
                                                    small
                                                    color="blue darken-2"
                                                    class="mr-2"
                                                    @click="editItem(item)">
                                                mdi-magnify
                                            </v-icon>
                                            <v-icon v-if="isAllowDelete && !item.deleted"
                                                    small
                                                    color="red darken-2"
                                                    @click="deleteItem(item)">
                                                mdi-delete
                                            </v-icon>
                                            <v-icon v-if="isAllowDelete && !!item.deleted"
                                                    small
                                                    color="red darken-2"
                                                    @click="restoreItem(item)">
                                                mdi-restore
                                            </v-icon>
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.docNumber }}
                                    </td>
                                    <td>
                                        {{ item.docTypeName }}
                                    </td>
                                    <td>
                                        {{ item.manufacturerName }}
                                    </td>
                                    <td>
                                        {{ item.applicantName }}
                                    </td>
                                    <td>
                                        <v-chip :color="getColor(item)" dark>
                                            {{ item.statusName }}
                                        </v-chip>
                                    </td>
                                    <td>
                                        {{ item.commercialName }}
                                    </td>
                                    <td>
                                        {{ item.type }}
                                    </td>
                                    <td>
                                        {{ item.categoryName }}
                                    </td>
                                    <td>
                                        {{ item.brandName }}
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>

        <v-dialog v-model="dialogConfirm"
                  persistent
                  max-width="900px">
            <v-card outlined>
                <v-card-title class="headline">
                    Вы действительно хотите удалить документ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1"
                           text
                           @click="confimDeleteItem">
                        Подтвердить
                    </v-btn>

                    <v-btn color="red darken-1"
                           text
                           @click="cancelDeleteItem">
                        Отмена
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </v-container>
</template>

<script lang="ts">
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';   
    
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { ComplienceDocFilterModel } from '@/models/documents/complience/ComplienceDocFilter.model';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import ComplienceService from '@/services/document/complience.service';
    import AuthService from '@/services/auth.service';
    
    export default Vue.extend({
        name: 'ComplienceDocumentList',
        data: () => ({
            search: '',
            loading: true,
            total: 0,
            options: {},
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Номер документа',
                    align: 'start',
                    sortable: true,
                    value: 'docNumber',
                },
                {
                    text: 'Тип документа', value: 'docTypeName'
                },
                {
                    text: 'Производитель', value: 'manufacturerName'
                },
                {
                    text: 'Заявитель', value: 'applicantName'
                },
                {
                    text: 'Статус', value: 'statusName'
                },
                {
                    text: 'Коммерческое наименование', value: 'commercialName'
                },
                {
                    text: 'Тип', value: 'type'
                },
                {
                    text: 'Техническая категория', value: 'categoryName'
                },
                {
                    text: 'Марка', value: 'brandName'
                }
            ],
            ottsList: [],
            docTypeCode: '',
            showDeleted: false,

            dialogConfirm: false,
            selectedDoc: new ComplienceDocumentModel(),
        }),
        methods: {
            create: function (dtCode) {
                this.$router.push('/compliencedocument/' + dtCode);
            },
            editItem: function (item) {
                this.$router.push('/compliencedocument/' + item.docTypeCode + '/' + item.id);
            },

            deleteItem(item) {
                this.dialogConfirm = true;
                this.selectedDoc = item;
            },

            restoreItem(item) {
                ComplienceService.restore(item.id)
                    .then(response => {
                        if (response.data) {
                            this.load();
                        }
                    }).catch(err => {

                    });
            },

            cancelDeleteItem: function () {
                this.dialogConfirm = false;
            },

            confimDeleteItem: function () {
                this.dialogConfirm = false;
                ComplienceService.delete(this.selectedDoc.id)
                    .then(response => {
                        if (response.data) {
                            this.load();
                        }
                    }).catch(err => {

                    });
            },

            doShowDeleted() {
                this.load();
            },
            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new ComplienceDocFilterModel(
                        this.docTypeCode,
                        null,
                        this.showDeleted
                    ));

                ComplienceService.getList(request)
                    .then(response => {
                        this.ottsList = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            },
            getTitle() {
                if (this.docTypeCode === 'otts') {
                    return 'ОТТС';
                }
                if (this.docTypeCode === 'otch') {
                    return 'ОТШ';
                }
                if (this.docTypeCode === 'sbkts') {
                    return 'СБКТС';
                }
                return '';
            },
            getColor(item: ComplienceDocumentModel) {
                if (item.statusCode === 'active') {
                    return 'green';
                } else if (item.statusCode === 'rejected') {
                    return 'red';
                }
                return '#5cbbf6';
            },
            isItemView(item: ComplienceDocumentModel): boolean {
                return item.statusCode === 'consideration'
                    || item.statusCode === 'active';
            }

        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },
        computed: {
            isAllowRead: function () {
                if(this.docTypeCode === 'otts') {
                    return AuthService.hasPermission('document.otts.read');
                }
                if (this.docTypeCode === 'otch') {
                    return AuthService.hasPermission('document.otch.read');
                }
                if (this.docTypeCode === 'sbkts') {
                    return AuthService.hasPermission('document.sbkts.read');
                }
                return false;
            },
            isAllowEdit: function () {
                if (this.docTypeCode === 'otts') {
                    return AuthService.hasPermission('document.otts.edit');
                }
                if (this.docTypeCode === 'otch') {
                    return AuthService.hasPermission('document.otch.edit');
                }
                if (this.docTypeCode === 'sbkts') {
                    return AuthService.hasPermission('document.sbkts.edit');
                }
                return false;
            },
            isAllowDelete: function () {
                if (this.docTypeCode === 'otts') {
                    return AuthService.hasPermission('document.otts.delete');
                }
                if (this.docTypeCode === 'otch') {
                    return AuthService.hasPermission('document.otch.delete');
                }
                if (this.docTypeCode === 'sbkts') {
                    return AuthService.hasPermission('document.sbkts.delete');
                }
                return false;
            },
        },
        activated() { },
        async created() {
            this.docTypeCode = this.$route.params.docTypeCode;
            // this.load();
        },
        beforeRouteUpdate(to, from, next) {
            this.docTypeCode = to.params.docTypeCode;
            this.load();
            next();
        }
    });

</script>
