﻿<template>
    <v-row>
        <v-col>
            <v-autocomplete v-model="selectedAxle"
                            class="ma-4"
                            v-if="!nodata"
                            :items="dictList"
                            item-text="value"
                            item-value="key"
                            :label="title"
                            required
                            @change="changedFunction(selectedAxle, undefined)"
                            :rules="rules.select"
                            persistent-hint>
            </v-autocomplete>
        </v-col>
        <v-col>
            <v-checkbox v-model="nodata"
                        label="Отсутствует"></v-checkbox>
        </v-col>
    </v-row>
</template>

<script lang="ts">
    import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
    @Component({
        props: {
            title: String,
            selected: String,
            dictList: Array,
            changedFunction: Function,
            nodataFunction: Function
        },
        components: {
        },
    })
    export default class AutoSelectAxle extends Vue {
        @Watch("selected")
        async selectChange(newVal) {
            this.$data.selectedAxle = newVal;
        }

        @Watch("nodata")
        async nodataChanged(newVal) {
            if (newVal) {
                let r = this.$data.selectedAxle
                this.$props.nodataFunction(r)
                this.$data.selectedAxle = "";
            }
        }
        data() {
            return {
                rules: {
                    select: [function (v) {
                        return !!v || "Объязательный выбор"
                    }],
                },
                selectedAxle: "",
                nodata: false
            }
        }

        async mounted() {

        }
    }
</script>