﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn color="primary" v-if="isAllowEdit"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details clearable
                                                  class="mx-4"
                                                  append-outer-icon="mdi-magnify"
                                                  @click:append-outer="find()"
                                                  @keydown.enter="find()"
                                                  @click:clear="clear()"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <div style="min-width: 60px">
                                    <v-icon small v-if="isAllowEdit"
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="editItem(item)">
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon small v-if="isAllowDelete"
                                            color="red darken-2"
                                            @click="deleteItem(item)">
                                        mdi-delete
                                    </v-icon>
                                </div>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <!-- Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialog"
                      persistent
                      max-width="900px">
               
            </v-dialog>
        </v-row>

        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">
                <v-card outlined>
                    <v-card-title class="headline">
                        Вы действительно хотите удалить?
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text
                               @click="confimDelete">
                            Подтвердить
                        </v-btn>

                        <v-btn color="red darken-1"
                               text
                               @click="cancelDelete">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { NsiModel } from '@/models/dictionary/Nsi.model';
    import { AlertModel } from '@/models/Alert.model';

    import DictionaryService from '@/services/dictionary.service';
    import AuthService from '@/services/auth.service';
    
    export default Vue.extend({
        name: 'DicNsiList',
        props: { },
        data: () => ({
            loading: true,

            dialog: false,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Код', value: 'code'
                },
                {
                    text: 'Наименование Рус', value: 'nameRu'
                },
                {
                    text: 'Наименование Каз', value: 'nameKz'
                },
                {
                    text: 'Наименование Eng', value: 'nameEn'
                }
            ],
            data: new Array<NsiModel>(),
            alerts: new Array<AlertModel>(),

            item: new NsiModel(0),
        }),
        components: { },
        methods: {
            createItem: function () {
                this.$router.push('/dictionaries/nsi/0');
            },
            editItem: function (item: NsiModel) {
                this.$router.push('/dictionaries/nsi/' + item.id);
            },
            deleteItem: function (item: NsiModel) {
                this.dialogConfirm = true;
                this.item = item;
            },

            cancelDelete: function () {
                this.dialogConfirm = false;
            },
            confimDelete: function () {
                const me = this;

                me.alerts = [];
                DictionaryService.deleteNsi(this.item).then(response => {
                    if (response.status == 'Ok') {
                        this.alerts.push(new AlertModel(
                            'Успешно удален',
                            'success',
                            true
                        ));
                        this.load();
                    } else {
                        this.alerts.push(new AlertModel(
                            response.text,
                            'warning',
                            true
                        ));
                    }
                }).catch(err => {
                    this.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });

                me.dialogConfirm = false;
            },

            find() {
                this.load();
            },
            clear() {
                this.search = '';
                this.load();
            },

            load() {
                const me = this;
                me.loading = true;
                me.alerts = [];

                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , (sortDesc && sortDesc.length > 0 && sortDesc[0] == true ? ['1'] : ['0'])
                    , {
                        search: this.search
                    });

                DictionaryService.getNsis(request).then(response => {
                    me.data = response.data.data;
                    me.total = response.data.total;
                    me.loading = false;
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            getTitle() {
                return 'Справочники НСИ';
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },
        computed: {
            isAllowRead: function () {
                return AuthService.hasPermission('administration.dictionary.read');
            },
            isAllowEdit: function () {
                return AuthService.hasPermission('administration.dictionary.edit');
                
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.dictionary.delete');
            },
        },
        activated() { },
        created() { }
    });

</script>
