﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Код*"
                                              v-model="dicModel.code"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Рус*"
                                              v-model="dicModel.nameRu"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Каз"
                                              v-model="dicModel.nameKz"
                                              outlined dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Наименование Eng"
                                              v-model="dicModel.nameEn"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { NsiModel } from '@/models/dictionary/Nsi.model';

    import DictionaryService from '@/services/dictionary.service';

    export default Vue.extend({
        name: 'DicNsiForm',
        props: { },
        data() {
            const dataObj: {
                rules: any,

                dicModel: NsiModel,
                dialog: boolean,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                dicModel: new NsiModel(0),
                dialog: false,

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Список справочников НСИ',
                        disabled: false,
                        href: '/dictionaries/nsi',
                    },
                    {
                        text: 'Справочник НСИ',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
            };
            return dataObj;
        },
        components: {
            
        },
        methods: {
            save() {
                this.alerts = [];
                if ((this.$refs.docForm as any).validate()) {
                    if (this.$route.params.id && this.$route.params.id !== '0') {
                        DictionaryService.updateNsi(this.dicModel).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/dictionaries/nsi');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    } else {
                        DictionaryService.createNsi(this.dicModel).then(response => {
                            if (response.status == 'Ok') {
                                this.alerts.push(new AlertModel(
                                    'Успешно сохранено',
                                    'success',
                                    true
                                ));
                                this.$router.push('/dictionaries/nsi');
                            } else {
                                this.alerts.push(new AlertModel(
                                    response.text,
                                    'warning',
                                    true
                                ));
                            }
                        }).catch(err => {
                            this.alerts.push(new AlertModel(
                                err,
                                'warning',
                                true
                            ));
                        });
                    }
                }
            },

            cancel() {
                this.$router.push('/dictionaries/nsi');
            },

            load() {
                this.alerts = [];
                if (this.$route.params.id && this.$route.params.id !== '0') {
                    DictionaryService.getNsi(Number.parseInt(this.$route.params.id)).then(response => {
                        this.dicModel = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
            },

            getTitle() {              
                return 'Справочник НСИ';
            },
        },
        watch: { },
        computed: { },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
