﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details clearable
                                                  class="mx-4"
                                                  append-outer-icon="mdi-magnify"
                                                  @click:append-outer="find()"
                                                  @keydown.enter="find()"
                                                  @click:clear="clear()"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                            </template>

                            <template v-slot:item.createDate="{ item }">
                                {{ item.createDate | datetime }}
                            </template>

                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>

    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { NotificationModel } from '@/models/notifications/Notification.model';
    import { AlertModel } from '@/models/Alert.model';

    import NotificationService from '@/services/notifications/notification.service';
    import AuthService from '@/services/auth.service';
            
    export default Vue.extend({
        name: 'NotificationList',
        props: { },
        data: () => ({
            loading: true,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Заголовок', value: 'title'
                },
                {
                    text: 'Текст', value: 'detail'
                },
                {
                    text: 'Дата создания', value: 'createDate'
                },
                {
                    text: 'Автор', value: 'author'
                },
            ],
            data: new Array<NotificationModel>(),
            alerts: new Array<AlertModel>(),

            item: new NotificationModel(''),
        }),
        components: { },
        methods: {
            updateItem: function (item: NotificationModel) {
                
            },
            find() {
                this.load();
            },
            clear() {
                this.search = '';
                this.load();
            },
            load() {
                const me = this;
                me.loading = true;
                me.alerts = [];

                const paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , (sortDesc && sortDesc.length > 0 && sortDesc[0] == true ? ['1'] : ['0'])
                    , {
                        search: this.search,
                        isShowDeleted: true
                    });

                NotificationService.getList(request).then(response => {
                    me.data = response.data.data;
                    me.total = response.data.total;
                    me.loading = false;
                }, err => {
                    me.loading = false;
                    me.alerts.push(new AlertModel(
                        err,
                        'warning',
                        true
                    ));
                });
            },

            getTitle() {
                return 'Уведомления';
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
        },
        computed: { },
        activated() { },
        created() { }
    });

</script>
