﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col>
                <v-flex full-width>
                    <v-form ref="docForm"
                            v-model="valid"
                            lazy-validation>
                        <v-row no-gutters>
                            <v-col cols="12">
                                <h4 class="v-heading text-h4 text-sm-h4 ml-3 mb-6">
                                    {{ getTitle() }}
                                </h4>
                            </v-col>
                            <v-col cols="12">
                                <v-alert v-for="alert in alerts" outlined dense
                                         border="left" :type="alert.type">
                                    {{ alert.msg }}
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Тема*"
                                              v-model="ticketModel.title"
                                              :rules="rules.required"
                                              outlined required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-combobox v-model="category"
                                            :items="categories"
                                            label="Категория*"
                                            outlined dense></v-combobox>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-textarea outlined required dense
                                            label="Текст обращения*"
                                            :rules="rules.required"
                                            v-model="ticketModel.description"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card-actions class="py-0 my-0">
                                    <v-spacer></v-spacer>
                                    <v-btn class="ma-1" color="secondary"
                                           @click="cancel()">
                                        Отмена
                                    </v-btn>
                                    <v-btn class="ma-1" color="primary"
                                           @click="save()">
                                        Сохранить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { SupportTicketModel } from '@/models/administration/support/SupportTicket.model';
    import { TicketCategoryEnum } from "@/models/enums/TicketCategory.enum";

    import SupportService from '@/services/administration/support.service';
    import AuthService from '@/services/auth.service';

    export default Vue.extend({
        name: 'SupportTicketForm',
        props: { },
        data() {
            const dataObj: {
                rules: any,

                ticketModel: SupportTicketModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,

                categories: Array<any>,
                category: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                ticketModel: new SupportTicketModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Обращения',
                        disabled: false,
                        href: '/support/tickets',
                    },
                    {
                        text: 'Обращение',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
                categories: [],
                category: {
                    text: 'Обращение',
                    value: TicketCategoryEnum.Appeal,
                    selected: true
                }
            };
            return dataObj;
        },
        components: {
            
        },
        methods: {
            save() {
                this.alerts = [];
                if ((this.$refs.docForm as any).validate()) {
                    this.ticketModel.category = this.category.value;
                    SupportService.createItem(this.ticketModel).then(response => {
                        if (response.status == 'Ok') {
                            this.alerts.push(new AlertModel(
                                'Успешно сохранено',
                                'success',
                                true
                            ));
                            this.$router.push('/support/tickets');
                        } else {
                            this.alerts.push(new AlertModel(
                                response.text,
                                'warning',
                                true
                            ));
                        }
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });                    
                }
            },

            cancel() {
                this.$router.push('/support/tickets');
            },

            load() {
                this.alerts = [];
                /*
                if (this.$route.params.id) {
                    SupportService.get(this.$route.params.id).then(response => {
                        this.ticketModel = response.data;
                    }).catch(err => {
                        this.alerts.push(new AlertModel(
                            err,
                            'warning',
                            true
                        ));
                    });
                }
                */
            },

            getTitle() {              
                return 'Создать обращение';
            },
        },
        watch: { },
        computed: {
            isAllowRead: function () {
                return AuthService.hasPermission('administration.support.read');
            },
            isAllowProcessing: function () {
                return AuthService.hasPermission('administration.support.processing');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.support.delete');
            },
        },
        activated() { },
        created() {
            this.load();
            this.category = {
                text: 'Обращение',
                value: TicketCategoryEnum.Appeal,
                selected: true
            };
            this.categories.push({
                text: 'Предложение',
                value: TicketCategoryEnum.Proposal,
                selected: false
            });
            this.categories.push({
                text: 'Обращение',
                value: TicketCategoryEnum.Appeal,
                selected: true
            });
        }
    });

</script>
