﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-breadcrumbs :items="breadcrumbItems" divider="-" class="pt-0 pb-0 pr-0"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12">
                <v-alert v-for="alert in alerts" outlined dense
                         border="left" :type="alert.type">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
            <v-col cols="12">
                <v-flex full-width>
                    <v-card class="mx-auto pa-1 my-1">
                        <v-card-actions>
                            <v-btn tile color="primary" v-if="ticketModel.statusCode == 'new' && isAllowProcessing"
                                   @click="take">
                                <v-icon left> play_arrow </v-icon>
                                Взять в работу
                            </v-btn>

                            <v-btn tile color="primary" v-if="ticketModel.statusCode == 'inproccessing' && isAllowProcessing"
                                   @click="done">
                                <v-icon left> done </v-icon>
                                Завершить
                            </v-btn>

                            <v-btn tile color="error" v-if="ticketModel.statusCode == 'inproccessing' && isAllowProcessing"
                                   @click="reject">
                                <v-icon left> close </v-icon>
                                Отклонить
                            </v-btn>
                        </v-card-actions>
                        <v-card-subtitle class="pb-0">
                            {{ ticketModel.category == 0 ? 'Обращение' : 'Предложение' }} № <b>{{ ticketModel.number }}</b> от {{ ticketModel.authorName }}

                            <v-chip :color="getColor()" label>
                                {{ ticketModel.statusName }}
                            </v-chip>

                            <v-chip class="float-right">
                                {{ ticketModel.createDate | date }}
                            </v-chip>
                        </v-card-subtitle>

                        <v-list-item three-line>
                            <v-list-item-content>
                                <v-list-item-title class="text-h5">
                                    Тема: {{ ticketModel.title }}
                                </v-list-item-title>
                                <v-list-item-subtitle>
                                    Описание: {{ ticketModel.description }}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item v-for="comment in ticketModel.comments"
                                     :key="comment.createDate">
                            <v-list-item-avatar size="80">
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title v-text="comment.comment"></v-list-item-title>
                                <v-list-item-subtitle class="text-right">
                                    {{ comment.authorName }} {{ comment.createDate | date }}
                                </v-list-item-subtitle>

                                <v-divider></v-divider>
                            </v-list-item-content>

                            <!--v-list-item-action>
                        <v-btn icon>
                            <v-icon color="grey lighten-1">mdi-information</v-icon>
                        </v-btn>
                    </v-list-item-action-->
                        </v-list-item>


                        <v-row justify="center" v-if="ticketModel.statusCode == 'new' || ticketModel.statusCode == 'inproccessing'">
                            <v-col cols="12" sm="10" md="8" lg="6">
                                <v-card-text class="pb-0">
                                    <v-textarea label="Комментарий*"
                                                v-model="newComment.comment"
                                                :rules="[() => !!newComment.comment || 'Поле обязательно для заполнения']"
                                                outlined required auto-grow rows="5"></v-textarea>
                                </v-card-text>
                                <v-card-actions class="pt-0">
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" @click="send">
                                        Отправить
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-card>

                </v-flex>
            </v-col>
        </v-row>    
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { AlertModel } from '@/models/Alert.model';
    import { SupportTicketModel } from '@/models/administration/support/SupportTicket.model';
    import { SupportTicketCommentModel } from '@/models/administration/support/SupportTicketComment.model';
    import { TicketCategoryEnum } from "@/models/enums/TicketCategory.enum";

    import SupportService from '@/services/administration/support.service';
    import AuthService from '@/services/auth.service';

    export default Vue.extend({
        name: 'SupportTicketView',
        props: { },
        data() {
            const dataObj: {
                rules: any,

                ticketModel: SupportTicketModel,

                breadcrumbItems: any,
                alerts: Array<AlertModel>,
                newComment: SupportTicketCommentModel,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
               
                ticketModel: new SupportTicketModel(),

                breadcrumbItems: [
                    {
                        text: 'Главная',
                        disabled: false,
                        href: '/',
                    },
                    {
                        text: 'Обращения',
                        disabled: false,
                        href: '/support/tickets',
                    },
                    {
                        text: 'Обращение',
                        disabled: true,
                        href: '#',
                    },
                ],
                alerts: new Array<AlertModel>(),
                newComment: new SupportTicketCommentModel(0),
            };
            return dataObj;
        },
        methods: {
            take() {
                this.ticketModel.statusCode = 'inproccessing';
                this.save();
            },
            done() {
                this.ticketModel.statusCode = 'closed';
                this.save();
            },
            reject() {
                this.ticketModel.statusCode = 'rejected';
                this.save();
            },
            save() {
                this.alerts = [];
                SupportService.updateItem(this.ticketModel).then(response => {
                    if (response.status == 'Ok') {
                        this.alerts.push(new AlertModel( 'Успешно сохранено', 'success', true ));
                        this.load();
                    } else {
                        this.alerts.push(new AlertModel( response.text, 'warning', true ));
                    }
                }).catch(err => {
                    this.alerts.push(new AlertModel( err, 'warning', true ));
                });
            },
            send() {
                this.alerts = [];
                if (this.newComment.comment) {
                    this.newComment.ticketId = this.ticketModel.id;
                    SupportService.sendComment(this.newComment).then((response) => {
                        if (response.status == 'Ok') {
                            this.alerts.push(new AlertModel('Успешно сохранено', 'success', true ));
                            this.load();
                        } else {
                            this.alerts.push(new AlertModel(response.text, 'warning', true ));
                        }
                    }).catch((err) => {
                        this.alerts.push(new AlertModel( err, 'warning', true ));
                    });
                }
            },
            cancel() {
                this.$router.push('/support/tickets');
            },

            load() {
                this.alerts = [];
                if (this.$route.params.id) {
                    SupportService.get(this.$route.params.id).then((response) => {
                        this.ticketModel = response.data;
                    }).catch((err) => {
                        this.alerts.push(new AlertModel( err, 'warning', true ));
                    });
                }
            },


            getTitle() {              
                return 'Просмотреть обращение';
            },
            getColor() {
                switch (this.ticketModel.statusCode) {
                    case 'closed': return 'success';
                    case 'rejected': return 'error';
                }
                return 'primary';
            }
        },
        watch: { },
        computed: {
            isAllowRead: function () {
                return AuthService.hasPermission('administration.support.read');
            },
            isAllowProcessing: function () {
                return AuthService.hasPermission('administration.support.processing');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.support.delete');
            },
        },
        activated() { },
        created() {
            this.load();
        }
    });

</script>
