﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">                
                <v-row>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert dense :type="alert.type" v-if="alert.show" dismissible>
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>
                            <template v-slot:item.statusName="{ item }">
                                <v-chip :color="getColor(item)"
                                        dark>
                                    {{ item.statusName }}
                                </v-chip>
                            </template>
                            <template v-slot:item.isExistContract="{ item }">
                                <v-icon v-if="item.isExistContract === true"
                                        color="green darken-2">
                                    mdi-checkbox-marked
                                </v-icon>
                                <v-icon v-if="item.isExistContract === false"
                                        color="red darken-2">
                                    mdi-checkbox-blank-outline
                                </v-icon>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <div style="width: 80px" v-if="item.statusCode == 'new'">
                                    <v-icon small
                                            color="blue darken-2"
                                            class="mr-2"
                                            @click="approve(item)">
                                        mdi-thumb-up-outline
                                    </v-icon>
                                    <v-icon small
                                            color="red darken-2"
                                            class="mr-2"
                                            @click="reject(item)">
                                        mdi-thumb-down-outline
                                    </v-icon>
                                </div>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>

        <!-- Confirm Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogConfirm"
                      persistent
                      max-width="900px">

                <v-card outlined>
                    <v-card-title class="headline">
                        {{ dialogMsg }}
                    </v-card-title>
                    <v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1"
                               text
                               @click="confimItem">
                            Подтвердить
                        </v-btn>

                        <v-btn color="red darken-1"
                               text
                               @click="cancelItem">
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-dialog>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';

    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { RegRequestModel } from '@/models/administration/Regrequest.model';
    import { RegrequestFilterModel } from '@/models/administration/RegrequestFilter.model';
    import { AlertModel } from '@/models/Alert.model';

    import AuthService from '@/services/auth.service';
    import RegrequestService from '@/services/administration/regrequest.service';
    

    export default Vue.extend({
        name: 'RegRequestList',
        data: () => ({
            loading: false,
            dialogConfirm: false,
            dialogMsg: 'Вы действительно хотите подтвердить действие?',
            isApprove: false,
            currentRequest: new RegRequestModel(),
            alert: new AlertModel(),

            search: '',
            total: 0,
            options: { },
            headers: [
                { text: '', value: 'actions', sortable: false, width: '80px' },
                {
                    text: 'Логин', value: 'userName'
                },
                {
                    text: 'ФИО', value: 'fullName'
                },
                {
                    text: 'Номер телефона', value: 'phoneNumber'
                },
                {
                    text: 'Email', value: 'email'
                },
                {
                    text: 'Организация', value: 'organizationName'
                },
                {
                    text: 'БИН организации', value: 'organizationBin'
                },
                {
                    text: 'АРМ', value: 'roleName'
                },
                {
                    text: 'Заключен ли договор', value: 'isExistContract'
                },
                {
                    text: 'Статус', value: 'statusName'
                },
            ],
            data: [],
        }),
        methods: {
            approve: function (item: RegRequestModel) {
                this.alert.show = false;
                this.dialogConfirm = true;

                this.currentRequest = item;                
                this.currentRequest.statusCode = 'accepted';
                this.dialogMsg = 'Вы действительно хотите подтвердить регистрацию?';
            },
            reject: function (item: RegRequestModel) {
                this.alert.show = false;
                this.dialogConfirm = true;

                this.currentRequest = item;                
                this.currentRequest.statusCode = 'rejected';
                this.dialogMsg = 'Вы действительно хотите отклонить регистрацию?';
            },

            confimItem: function () {                
                RegrequestService.update(this.currentRequest).then(r => {
                    if (r.status == 'Ok') {
                        this.alert.msg = "Заявка на регистрацию: " + this.currentRequest.userName + (r.data == true? " подтверждена": " отклонена");
                        this.alert.type = 'info';
                        this.alert.show = true;
                    } else {
                        this.alert.msg = r.text;
                        this.alert.type = 'warning';
                        this.alert.show = true;
                    }
                    this.load();
                    this.dialogConfirm = false;
                }).catch(err => {
                    this.alert.msg = err;
                    this.alert.type = 'error';
                    this.alert.show = true;

                    this.load();
                    this.dialogConfirm = false;
                });
            },
            cancelItem: function () {
                this.alert.show = false;
                this.dialogConfirm = false;
            },           

            load() {
                this.loading = true;
                let paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new RegrequestFilterModel(
                        this.search,
                    ));

                RegrequestService.getList(request)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            },

            getTitle() {
                return 'Запросы на регистрацию';
            },


            getColor(item: RegRequestModel) {
                if (item.statusCode === 'rejected') return 'red';
                else if (item.statusCode === 'accepted') return 'green';

                return 'blue';
            }
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
            search: function(val, oldVal) {
                if (val.length > 3) {
                    this.search = val;
                } else {
                    this.search = '';
                }
                this.load();
            },
        },
        computed: {
            isAllowRead: function() {
                return AuthService.hasPermission('administration.regrequest.read');
            },
            isAllowEdit: function () {
                return AuthService.hasPermission('administration.regrequest.edit');
            },
            isAllowDelete: function () {
                return AuthService.hasPermission('administration.regrequest.delete');
            },
        },
        activated() { },
        async created() { },
    });

</script>
