﻿<template>
    <div>
        <v-row>
            <v-col cols="12">
                <v-card outlined>
                    <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                        <v-card-title class="py-2 my-0">
                            Документы об оценке соответствия ТР ТС 018/2011
                        </v-card-title>
                        <v-card-text class="py-2 my-0">
                            <v-simple-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left py-2" width="50%">
                                                <v-autocomplete label="Страна регистрации организации*"
                                                                :items="dics.countries"
                                                                v-model="orgdoc.issueCountryId"
                                                                clearable dense hide-details
                                                                item-text="name" item-value="id"
                                                                :error-messages="techErrors"></v-autocomplete>
                                            </th>
                                            <th class="text-left py-2" width="50%">
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-autocomplete label="Вид документа*"
                                                                :items="dics.docTypes"
                                                                v-model="orgdoc.docTypeId"
                                                                clearable dense hide-details
                                                                item-text="name" item-value="id"
                                                                :error-messages="techErrors"></v-autocomplete>
                                            </th>
                                            <th class="text-left py-2">
                                                <v-text-field label="Номер документа*"
                                                              v-model="orgdoc.docNumber"
                                                              dense hide-details clearable
                                                              :error-messages="techErrors">
                                                </v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-text-field label="Серия"
                                                              v-model="orgdoc.docSeries"
                                                              dense hide-details clearable>
                                                </v-text-field>
                                            </th>
                                            <th class="text-left py-2">
                                                <v-text-field label="Код ТН ВЭД ТС"
                                                              v-model="orgdoc.tnVedTcCode"
                                                              dense hide-details clearable>
                                                </v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-menu ref="menuDocValidDateStart"
                                                        v-model="controls.docValidDateStart"
                                                        :close-on-content-click="false"
                                                        transition="scale-transition"
                                                        offset-y
                                                        min-width="auto">

                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field ref="orgDocValidDateStart"
                                                                      label="Документ действителен с*"
                                                                      v-model="orgdoc.docValidDateStartFormatted"
                                                                      prepend-icon="mdi-calendar"
                                                                      readonly dense clearable hide-details
                                                                      :error-messages="techErrors"
                                                                      v-bind="attrs" v-on="on" required></v-text-field>
                                                    </template>

                                                    <v-date-picker v-model="orgdoc.docValidDateStart"
                                                                   no-title scrollable
                                                                   :first-day-of-week="0"
                                                                   locale="ru-ru">
                                                        <v-spacer></v-spacer>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docValidDateStart = false">
                                                            Отмена
                                                        </v-btn>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docValidDateStart = false">
                                                            Ok
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </th>
                                            <th class="text-left py-2">
                                                <v-menu ref="menuDocValidDateEnd"
                                                        v-model="controls.docValidDateEnd"
                                                        :close-on-content-click="false"
                                                        transition="scale-transition"
                                                        offset-y
                                                        min-width="auto">

                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field ref="orgDocValidDateEnd"
                                                                      label="Документ действителен по"
                                                                      v-model="orgdoc.docValidDateEndFormatted"
                                                                      prepend-icon="mdi-calendar"
                                                                      readonly dense clearable hide-details
                                                                      v-bind="attrs" v-on="on" required></v-text-field>
                                                    </template>

                                                    <v-date-picker v-model="orgdoc.docValidDateEnd"
                                                                   no-title scrollable
                                                                   :first-day-of-week="0"
                                                                   locale="ru-ru">
                                                        <v-spacer></v-spacer>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docValidDateEnd = false">
                                                            Отмена
                                                        </v-btn>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docValidDateEnd = false">
                                                            Ok
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                <div class="title">
                                                    <h4 class="v-heading text-h6 text-sm-h6 mx-3 mt-6">
                                                        Объект технического регулирования
                                                    </h4>
                                                    <hr class="mt-6" />
                                                </div>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-autocomplete label="Вид объекта*"
                                                                :items="dics.objectTypes"
                                                                v-model="orgdoc.techRegulationSubjectTypeId"
                                                                clearable dense hide-details
                                                                item-text="name" item-value="id"
                                                                :error-messages="techErrors"
                                                                @change="changeObjectType"></v-autocomplete>
                                            </th>
                                            <th class="text-left py-2">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-text-field v-if="orgdoc.techRegulationSubjectUnitCode != '1'"
                                                              label="Количество товара*"
                                                              type="number"
                                                              v-model.number="orgdoc.techRegulationSubjectQuantity"
                                                              clearable dense hide-details
                                                              :error-messages="techErrors">
                                                </v-text-field>
                                            </th>
                                            <th class="text-left py-2">
                                                <v-autocomplete v-if="orgdoc.techRegulationSubjectUnitCode != '1'"
                                                                label="Единица измерения*"
                                                                :items="dics.units"
                                                                v-model="orgdoc.techRegulationSubjectUnitId"
                                                                clearable dense hide-details
                                                                item-text="name" item-value="id"
                                                                :error-messages="techErrors"></v-autocomplete>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th class="text-right">
                                                <v-btn outlined
                                                       @click="addDoc">
                                                    <v-icon>mdi-plus</v-icon>
                                                    Добавить
                                                </v-btn>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left mt-3" colspan="2">
                                                Документы об оценке соответствия
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="(item, index) in orgdocList">
                                            <tr class="blue-grey lighten-3">
                                                <td class="text-left"> Страна </td>
                                                <td class="text-left">{{ item.issueCountryName }}</td>
                                                <td class="text-center">
                                                    <v-btn icon
                                                           class="mx-auto"
                                                           @click="deleteDoc(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - вид документа</td>
                                                <td class="text-left">{{ item.docTypeName }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - номер документа</td>
                                                <td class="text-left">{{ item.docNumber }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - серия</td>
                                                <td class="text-left">{{ item.docSeries }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - код ТН ВЭД ТС</td>
                                                <td class="text-left">{{ item.tnVedTcCode }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - документ действителен (с - по)</td>
                                                <td class="text-left">{{ item.docValidDateStart | date }} - {{ item.docValidDateEnd | date }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left" colspan="3">
                                                    <h5>
                                                        Объект технического регулирования
                                                    </h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - вид объекта</td>
                                                <td class="text-left">{{ item.techRegulationSubjectTypeName }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left"> - количество товара</td>
                                                <td class="text-left">
                                                    {{ item.techRegulationSubjectQuantity }} {{ item.techRegulationSubjectUnitName }}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>


                            <v-btn color="secondary"
                                   @click="cancel">
                                Отмена
                            </v-btn>
                            <v-btn color="primary"
                                   @click="save">
                                {{ saveBtnText ? saveBtnText : 'Сохранить'}}
                            </v-btn>
                        </v-card-actions>
                            
                    </v-flex>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
    import moment from 'moment';
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { OrgDocumentModel } from '@/models/registries/OrgDocument.model';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import DateHelper from '@/helpers/date.helper';

    export default Vue.extend({
        name: 'ConformityAssesmentDocsForm',
        props: {
            value: OrganizationModel,           
            saveFunc: { type: Function },
            cancelFunc: { type: Function },
            saveBtnText: String,
        },
        data() {
            const dataObj: {
                dics: {
                    docTypes: Array<any>,
                    objectTypes: Array<any>,
                    units: Array<any>,
                    countries: Array<any>,
                },
                orgdoc: OrgDocumentModel,
                controls: any,
                techErrors: any,
                techRegErrors: any,
            } = {
                dics: {
                    docTypes: [],
                    objectTypes: [],
                    units: [],
                    countries: []
                },
                orgdoc: new OrgDocumentModel(0, OrgDocumentModel.ConformityAssesmentsDoc),
                controls: {
                    docValidDateStart: false,
                    docValidDateEnd: false,
                },
                techErrors: [],
                techRegErrors: [],
            };
            return dataObj;
        },
        watch: {
            'orgdoc.docValidDateStart': function (val, oldVal) {
                this.orgdoc.docValidDateStartFormatted = DateHelper.formatDate(val);
            },
            'orgdoc.docValidDateEnd': function (val, oldVal) {
                this.orgdoc.docValidDateEndFormatted = DateHelper.formatDate(val);
            },
        },
        computed: {
            orgdocList(): Array<OrgDocumentModel> {
                return this.value.organizationDocuments.filter(l => l.state != ObjectState.Deleted
                    && l.orgDocType == OrgDocumentModel.ConformityAssesmentsDoc);
            },
        },
        methods: {
            save() {
                if (this.saveFunc)
                    this.saveFunc(this.value);
            },
            cancel() {
                if (this.cancelFunc)
                    this.cancelFunc();
            },
            addDoc() {
                const me = this;
                me.techErrors = [];

                if (me.orgdoc
                    && me.orgdoc.docNumber
                    && me.orgdoc.docTypeId
                    && me.orgdoc.docValidDateStart
                    && me.orgdoc.techRegulationSubjectTypeId
                ) {
                    me.orgdoc.organizationId = me.value.id;
                    me.orgdoc.state = ObjectState.Added;

                    if (me.orgdoc.issueCountryId) {
                        const country = me.dics.countries.find(c => c.id == me.orgdoc.issueCountryId);
                        if (country) me.orgdoc.issueCountryName = country.name;
                    }
                    if (me.orgdoc.docTypeId) {
                        const docType = me.dics.docTypes.find(c => c.id == me.orgdoc.docTypeId);
                        if (docType) me.orgdoc.docTypeName = docType.name;
                    }
                    if (me.orgdoc.techRegulationSubjectTypeId) {
                        const objType = me.dics.objectTypes.find(c => c.id == me.orgdoc.techRegulationSubjectTypeId);
                        if (objType) me.orgdoc.techRegulationSubjectTypeName = objType.name;
                    }
                    if (me.orgdoc.techRegulationSubjectUnitId) {
                        const unit = me.dics.units.find(c => c.id == me.orgdoc.techRegulationSubjectUnitId);
                        if (unit) me.orgdoc.techRegulationSubjectUnitName = unit.name;
                    }
                                        
                    if (me.value.id > 0) {
                        OrganizationService.saveOrgDocument(me.orgdoc)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    me.orgdoc.id = response.data.entityId;
                                    me.orgdoc.state = ObjectState.Unchanged;
                                    me.value.organizationDocuments.push(me.orgdoc);
                                    me.orgdoc = new OrgDocumentModel(0, OrgDocumentModel.ConformityAssesmentsDoc);
                                } else {
                                    me.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                me.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        me.value.organizationDocuments.push(me.orgdoc);
                        me.orgdoc = new OrgDocumentModel(0, OrgDocumentModel.ConformityAssesmentsDoc);
                    }

                } else {
                    me.techErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteDoc(doc: OrgDocumentModel) {
                const me = this;
                var indx = this.value.organizationDocuments.findIndex(chd => chd.docNumber == doc.docNumber
                    && chd.docTypeId == doc.docTypeId
                    && chd.id == doc.id);
                if (indx > -1) {
                    if (doc.id != 0) {
                        let deleteEntity = me.value.organizationDocuments[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        OrganizationService.saveOrgDocument(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    me.value.organizationDocuments.splice(indx, 1);
                                } else {
                                    me.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                me.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                    } else {
                        me.value.organizationDocuments.splice(indx, 1);
                    }
                }
            },

            changeObjectType(val: any, oldVal: any) {
                let objectType = this.dics.objectTypes.find(o => o.id == val);
                if (objectType)
                    this.orgdoc.techRegulationSubjectUnitCode = objectType.code;
                else
                    this.orgdoc.techRegulationSubjectUnitCode = '';
            }
        },
        async created() {
            const me = this;
            DictionaryService.getNsiValues('nsi034')
                .then(response => {
                    me.dics.countries = response.data;
                }).catch(err => { });

            DictionaryService.getNsiValues('nsi012')
                .then(response => {
                    me.dics.docTypes = response.data;
                }).catch(err => { });

            DictionaryService.getNsiValues('nsi121')
                .then(response => {
                    me.dics.objectTypes = response.data;
                }).catch(err => { });

            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    me.dics.units = response.data;
                }).catch(err => { });
        },
        mounted() { },
    });
</script>
<style>
    .title {
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    hr {
        flex: 1;
    }
</style>