﻿<template>
    <div>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                        <v-form id="credentialOrgForm"
                                ref="credentialOrgForm"
                                v-model="valid"
                                lazy-validation>
                            <section class="container container--fluid" id="credentialOrganizationSection">
                                <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                                    Полномочия уполномоченного органа (организации)
                                </h4>

                                <v-row no-gutters>
                                    <v-col>
                                        <v-autocomplete label="Вид ЭП на оформление на которых уполномочена организация*"
                                                        :items="dics.epTypes"
                                                        v-model="selectedEpTypeIds"
                                                        clearable dense multiple outlined
                                                        :rules="rules.required"
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        hint="Выберите"
                                                        @change="changeType"></v-autocomplete>
                                    </v-col>
                                </v-row>

                            </section>
                        </v-form>
                    </v-flex>
                    <v-card-actions>
                        <v-spacer></v-spacer>


                        <v-btn color="secondary"
                               @click="cancel">
                            Отмена
                        </v-btn>
                        <v-btn color="primary"
                               @click="save">
                            Сохранить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
    import moment from 'moment';
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { DictionaryObjectModel } from '@/models/dictionary/DictionaryObject.model';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';


    export default Vue.extend({
        name: 'CredentialsForm',
        props: {
            value: OrganizationModel,            
            saveFunc: { type: Function },
            cancelFunc: { type: Function },
        },
        data() {
            const dataObj: {
                valid: boolean,
                rules: {
                    required: Array<any>,
                },
                dics: {
                    epTypes: Array<any>,
                },
                selectedEpTypeIds: any,
            } = {
                valid: true,
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    epTypes: [],
                },
                selectedEpTypeIds: [],
            };
            return dataObj;
        },
        watch: {
            value: function (val) {
                const me = this;
                me.selectedEpTypeIds = [];
                me.value.organizationDigPassportTypes.forEach(dt => {
                    if (dt.dicId) {
                        me.selectedEpTypeIds.push(dt.dicId);
                    }
                });
            }
        },
        computed: { },
        methods: {
            save() {
                if ((this.$refs.credentialOrgForm as any).validate()) {
                    if (this.saveFunc)
                        this.saveFunc(this.value);
                }
            },
            cancel() {
                if (this.cancelFunc)
                    this.cancelFunc();
            },
            changeType(val: Array<number>, oldVal: Array<number>) {
                const me = this;
                if (val) {
                    val.forEach(credId => {
                        var existCredential = me.value.organizationDigPassportTypes.find(m => m.dicId == credId);
                        if (!existCredential) {
                            var epType = me.dics.epTypes.find(ot => ot.id == credId);
                            if (epType) {
                                me.value.organizationDigPassportTypes.push(new DictionaryObjectModel(0,
                                    credId,
                                    me.value.id,
                                    null,
                                    ObjectState.Added
                                ));
                            }
                        }
                    });

                    me.value.organizationDigPassportTypes.forEach((m, index, object) => {
                        var existCredId = val.find(credId => credId == m.dicId);
                        if (!existCredId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            }
        },
        created() {
            const me = this;
            DictionaryService.getNsiValues('nsi011')
                .then(response => {
                    me.dics.epTypes = response.data;
                    me.value.organizationDigPassportTypes.forEach(dt => {
                        if (dt.dicId) {
                            me.selectedEpTypeIds.push(dt.dicId);
                        }
                    });
                }).catch(err => {

                });
        },
        mounted() {
           
        },
    });
</script>