﻿<template>
    <div>
                
        <v-card>
            <v-toolbar dark color="primary">
                <h4 class="v-heading text-h5 text-sm-h5 ml-3">
                    {{ getTitle() }}
                </h4>
                <v-spacer></v-spacer>
                <v-btn icon dark
                        @click="cancel">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                <v-form id="formOrgId"
                        ref="formOrgId"
                        v-model="valid"
                        lazy-validation>
                    <section class="container container--fluid" id="organizationSection">
                        <!-- Организация -->
                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            Организация
                        </h4>
                        <v-row no-gutters>
                            <v-col>
                                <v-autocomplete label="Страна регистрации организации*"
                                                :items="dics.countries"
                                                v-model="organization.countryId"
                                                clearable dense outlined
                                                item-text="name"
                                                item-value="id"
                                                :rules="rules.required"
                                                @change="changeCountry"></v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-autocomplete label="Организационно-правовая форма"
                                                :items="dics.legalforms"
                                                v-model="organization.legalFormId"
                                                clearable outlined dense
                                                item-text="name"
                                                item-value="id"></v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field-simplemask v-model="organization.bin"
                                                            label="БИН/ИИН/ОГРН"
                                                            v-bind:properties="{
                                                        prefix: '',
                                                        suffix: '',
                                                        readonly: false,
                                                        disabled: false,
                                                        outlined: true,
                                                        clearable: true,
                                                        placeholder: '',
                                                        dense: true,
                                                        }"
                                                            v-bind:options="{
                                                        inputMask: '#### #### #### #### ####',
                                                        outputMask: '####################',
                                                        empty: null,
                                                        applyAfter: false,
                                                        alphanumeric: false,
                                                        lowerCase: false,
                                                        }" />
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field v-if="organization.id != 0" label="Полное наименование организации*"
                                                v-model="organization.name"
                                                :rules="rules.required"
                                                outlined
                                                required dense></v-text-field>

                                <v-combobox v-if="organization.id == 0" label="Полное наименование организации*"
                                            v-model="organization.name"
                                            clearable dense outlined
                                            hide-no-data hide-selected
                                            item-text="name"
                                            item-value="id"
                                            prepend-icon="mdi-database-search"
                                            :rules="rules.required"
                                            :loading="loadingOrg"
                                            :search-input.sync="searchOrg"
                                            :items="existOrgs"
                                            @change="changeOrg"></v-combobox>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field label="Краткое наименование организации"
                                                v-model="organization.shortName"
                                                outlined
                                                required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-autocomplete label="Категория*"
                                                clearable dense multiple outlined
                                                :items="dics.orgTypes"
                                                v-model="selectedOrgTypeIds"
                                                :disabled="isNestedControl"
                                                :rules="rules.requiredArray"
                                                item-text="name"
                                                item-value="id"
                                                :menu-props="{ maxHeight: '400' }"
                                                hint="Выберите категорию"
                                                @change="changeType"></v-autocomplete>
                            </v-col>
                        </v-row>

                        <!-- Адрес -->
                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            Юридические адрес
                        </h4>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field label="Почтовый индекс"
                                                v-model="organization.juridicalPostalIndex"
                                                :error-messages="jeeuErrors"
                                                outlined dense></v-text-field>
                            </v-col>
                        </v-row>
                        <template v-if="country && country.code == 'KZ'">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-autocomplete label="Регион"
                                                    :items="dics.jregionOrCities"
                                                    v-model="organization.juridicalRegionOrCityId"
                                                    clearable dense outlined hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                                <v-col cols="6">
                                    <v-autocomplete label="Район"
                                                    :items="dics.jdistinctOrCities"
                                                    v-model="organization.juridicalDistinctOrCityId"
                                                    clearable dense outlined hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-autocomplete label="Город"
                                                    :items="dics.jokrugOrCities"
                                                    v-model="organization.juridicalOkrugOrCityId"
                                                    clearable dense outlined hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                                <v-col cols="6">
                                    <v-autocomplete label="Населенный пункт"
                                                    :items="dics.jvillagies"
                                                    v-model="organization.juridicalVillageId"
                                                    clearable dense hide-selected outlined
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col>
                                    <v-text-field label="Улица"
                                                    v-model="organization.jStreetName"
                                                    outlined dense></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Номер дома"
                                                    v-model="organization.jBuildingNumber"
                                                    outlined required dense></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Номер помещения"
                                                    v-model="organization.jRoomNumber"
                                                    outlined required dense></v-text-field>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-else-if="country && ['RU', 'AM', 'BY', 'KG'].includes(country.code)">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Регион" v-model="organization.jRegionOrCity"
                                                    clearable dense outlined />
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Район" v-model="organization.jDistinctOrCity"
                                                    clearable dense outlined />
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Город" v-model="organization.jOkrugOrCity"
                                                    clearable dense outlined />
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Населенный пункт" v-model="organization.jVillage"
                                                    clearable dense outlined />
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col>
                                    <v-text-field label="Улица"
                                                    v-model="organization.jStreetName"
                                                    outlined
                                                    required dense></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Номер дома"
                                                    v-model="organization.jBuildingNumber"
                                                    outlined clearable dense></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Номер помещения"
                                                    v-model="organization.jRoomNumber"
                                                    outlined
                                                    required dense></v-text-field>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-else>
                            <v-row no-gutters>
                                <v-col>
                                    <v-textarea label="Адрес"
                                                v-model="organization.juridicalAddress"
                                                outlined dense
                                                rows="3"></v-textarea>
                                </v-col>
                            </v-row>
                        </template>

                        <!-- Фактический Адрес -->
                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            Фактический адрес
                        </h4>
                        <v-row no-gutters>
                            <v-col>
                                <v-autocomplete label="Страна"
                                                :items="dics.countries"
                                                v-model="organization.factCountryId"
                                                clearable dense outlined
                                                item-text="name"
                                                item-value="id"
                                                :rules="rules.required"
                                                @change="changeFactCountry"></v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field label="Почтовый индекс"
                                                v-model="organization.factPostalIndex"
                                                :error-messages="eeuErrors"
                                                outlined dense></v-text-field>
                            </v-col>
                        </v-row>

                        <template v-if="factCountry && factCountry.code == 'KZ'">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-autocomplete label="Регион"
                                                    :items="dics.fregionOrCities"
                                                    v-model="organization.factRegionOrCityId"
                                                    clearable dense outlined hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                                <v-col cols="6">
                                    <v-autocomplete label="Район"
                                                    :items="dics.fdistinctOrCities"
                                                    v-model="organization.factDistinctOrCityId"
                                                    clearable dense outlined hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-autocomplete label="Город"
                                                    :items="dics.fokrugOrCities"
                                                    v-model="organization.factOkrugOrCityId"
                                                    clearable dense outlined
                                                    hide-selected
                                                    item-text="name"
                                                    item-value="id"></v-autocomplete>
                                </v-col>
                                <v-col cols="6">
                                    <v-autocomplete label="Населенный пункт"
                                                    :items="dics.fvillagies"
                                                    v-model="organization.factVillageId"
                                                    clearable
                                                    dense
                                                    hide-selected
                                                    item-text="name"
                                                    item-value="id"
                                                    outlined></v-autocomplete>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col>
                                    <v-text-field label="Улица"
                                                    v-model="organization.fStreetName"
                                                    outlined
                                                    required dense></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Номер дома"
                                                    v-model="organization.fBuildingNumber"
                                                    outlined
                                                    required dense></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Номер помещения"
                                                    v-model="organization.fRoomNumber"
                                                    outlined
                                                    required dense></v-text-field>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-else-if="factCountry && ['RU', 'AM', 'BY', 'KG'].includes(factCountry.code)">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Регион" v-model="organization.fRegionOrCity"
                                                    clearable dense outlined />
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Район" v-model="organization.fDistinctOrCity"
                                                    clearable dense outlined />
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Город" v-model="organization.fOkrugOrCity"
                                                    clearable dense outlined />
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Населенный пункт" v-model="organization.fVillage"
                                                    clearable dense outlined />
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col>
                                    <v-text-field label="Улица"
                                                    v-model="organization.fStreetName"
                                                    outlined dense></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <v-text-field label="Номер дома"
                                                    v-model="organization.fBuildingNumber"
                                                    outlined dense></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Номер помещения"
                                                    v-model="organization.fRoomNumber"
                                                    outlined dense></v-text-field>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-else>
                            <v-row no-gutters>
                                <v-col>
                                    <v-textarea label="Адрес"
                                                v-model="organization.factAddress"
                                                outlined required dense
                                                rows="3"></v-textarea>
                                </v-col>
                            </v-row>
                        </template>

                        <!-- Контактные данные -->
                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            Контактные данные
                        </h4>
                        <v-row no-gutters>
                            <v-col class="py-1">
                                <v-card outlined>
                                    <v-card-title>
                                        Телефон
                                    </v-card-title>
                                    <v-card-text>
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-left py-1" width="80%">
                                                            <v-text-field-simplemask v-model="phone"
                                                                                        label="Номер телефона*"
                                                                                        hide-details
                                                                                        v-bind:properties="{
                                                                    prefix: '',
                                                                    suffix: '',
                                                                    readonly: false,
                                                                    disabled: false,
                                                                    outlined: false,
                                                                    clearable: true,
                                                                    placeholder: '',
                                                                    hidedetails: false,
                                                                    dense: true,
                                                                    'error-messages': phoneErrors
                                                                    }"
                                                                                        v-bind:options="{
                                                                    inputMask: '+#(###)###-####',
                                                                    outputMask: '###########',
                                                                    empty: null,
                                                                    applyAfter: false,
                                                                    alphanumeric: false,
                                                                    lowerCase: false,
                                                                    }" />
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined
                                                                    @click="addPhone()">
                                                                <v-icon left>
                                                                    mdi-plus
                                                                </v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in phoneList"
                                                        :key="item.communicationValue">
                                                        <td>
                                                            {{ item.communicationValue }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon
                                                                    class="mx-auto"
                                                                    @click="deletePhone(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col class="py-1">
                                <v-card outlined>
                                    <v-card-title>
                                        Адрес электронной почты
                                    </v-card-title>
                                    <v-card-text>
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-left py-1" width="80%">
                                                            <v-text-field label="Адрес электронной почты*"
                                                                            v-model="email"
                                                                            required dense
                                                                            :error-messages="emailErrors"></v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined
                                                                    @click="addEmail()">
                                                                <v-icon left>
                                                                    mdi-plus
                                                                </v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in emailList"
                                                        :key="item.communicationValue">
                                                        <td>
                                                            {{ item.communicationValue }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon
                                                                    class="mx-auto"
                                                                    @click="deleteEmail(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col class="py-1">
                                <v-card outlined>
                                    <v-card-title>
                                        Телефакс
                                    </v-card-title>
                                    <v-card-text>
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-left py-1" width="80%">
                                                            <v-text-field label="Телефакс*"
                                                                            v-model="fax"
                                                                            required dense
                                                                            :error-messages="faxErrors"></v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined
                                                                    @click="addFax()">
                                                                <v-icon left>
                                                                    mdi-plus
                                                                </v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in faxesList"
                                                        :key="item.communicationValue">
                                                        <td>
                                                            {{ item.communicationValue }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon
                                                                    class="mx-auto"
                                                                    @click="deleteFax(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>

                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            ФИО руководителя
                        </h4>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field label="Фамилия"
                                                v-model="organization.headLastName"
                                                outlined
                                                required dense></v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field label="Имя"
                                                v-model="organization.headFirstName"
                                                outlined
                                                required dense></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row no-gutters>
                            <v-col>
                                <v-text-field label="Отчество"
                                                v-model="organization.headSecondName"
                                                outlined
                                                required dense></v-text-field>
                            </v-col>
                            <v-col>
                            </v-col>
                        </v-row>
                    </section>

                </v-form>
            </v-flex>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary"
                        @click="cancel">
                    Отмена
                </v-btn>

                <v-btn color="primary"
                        @click="save">
                    {{ saveBtnText ? saveBtnText : 'Сохранить'}}
                </v-btn>
            </v-card-actions>
        </v-card>

    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import moment from 'moment';
    import axios from 'axios';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import { CommunicationInfoModel } from '@/models/registries/CommunicationInfo.model';

    export default Vue.extend({
        name: 'OrganizationForm',
        props: {
            value: OrganizationModel,
            // organization: OrganizationModel,
            saveFunc: { type: Function },
            cancelFunc: { type: Function },

            titleProp: String,
            saveBtnText: String,
            orgTypeCode: String,
            parentId: {
                type: [Number],
                default: null,
                validator: (p) => {
                    return ['number'].indexOf(typeof p) !== -1 || p === null;
                },
            },
            registerType: String,
            isNestedControl: Boolean
        },
        data() {
            const dataObj: {
                organization: OrganizationModel,

                valid: boolean,
                dics: any,
                rules: any,
                selectedOrgTypeIds: any,
                country: DictionaryModel,
                factCountry: DictionaryModel,


                searchOrg: string,
                loadingOrg: boolean,
                existOrgs: any,
                existOrgsCount: number,

                phone: string,
                phoneErrors: any,

                email: string,
                emailReg: RegExp,
                emailErrors: any,

                fax: string,
                faxErrors: any,

                jeeuErrors: any,
                eeuErrors: any,

                eeuCountryCodes: Array<string>,
            } = {
                organization: new OrganizationModel(),

                valid: false,
                dics: {
                    countries: [],
                    legalforms: [],
                    orgTypes: [],

                    jregionOrCities: [],
                    jdistinctOrCities: [],
                    jokrugOrCities: [],
                    jvillagies: [],

                    fregionOrCities: [],
                    fdistinctOrCities: [],
                    fokrugOrCities: [],
                    fvillagies: [],
                },
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                    requiredArray: [
                        value => (!!value && value.length > 0) || 'Поле обязательно для заполнения',
                    ],
                },
                selectedOrgTypeIds: [],
                country: new DictionaryModel(0),
                factCountry: new DictionaryModel(0),

                searchOrg: '',
                loadingOrg: false,
                existOrgs: [],
                existOrgsCount: 0,

                phone: '',
                phoneErrors: [],

                email: '',
                emailReg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
                emailErrors: [],

                fax: '',
                faxErrors: [],

                jeeuErrors: [],
                eeuErrors: [],

                eeuCountryCodes: ['RU', 'AM', 'BY', 'KG', 'KZ'],
            };
            return dataObj;
        },
        watch: {
            'organization.countryId': function (val) {
                let me = this;
                if (me.dics.countries && me.dics.countries.length > 0) {
                    if (!me.organization.id && !me.organization.countryId) {
                        me.country = me.dics.countries.find(c => c.code == 'KZ');
                        me.organization.countryId = me.country.id;
                    } else {
                        if (me.organization.countryId)
                            me.country = me.dics.countries.find(c => c.id == me.organization.countryId);
                    }
                }
            },
            'organization.organizationTypes': function (val) {
                const me = this;
                //if (me.selectedOrgTypeIds && me.selectedOrgTypeIds.length == 0) {
                    me.organization.organizationTypes
                        .forEach(tc => {
                            if (tc.orgTypeId && tc.orgTypeId != 0) {
                                if (!me.selectedOrgTypeIds.includes(tc.orgTypeId))
                                    me.selectedOrgTypeIds.push(tc.orgTypeId);
                            } else {
                                if (me.dics.orgTypes && me.dics.orgTypes.length > 0) {
                                    const orgType = me.dics.orgTypes.find(ot => ot.code == tc.orgTypeCode);
                                    if (orgType) {
                                        if (!me.selectedOrgTypeIds.contains(tc.orgTypeId)) {
                                            me.selectedOrgTypeIds.push(orgType.id);
                                            tc.orgTypeId = orgType.id;
                                            tc.state = ObjectState.Added;
                                            tc.organizationId = me.organization.id;
                                        }
                                    }
                                }
                            }
                        });
                //}
            },

            'organization.juridicalRegionOrCityId': function (val) { // @change="changedJRegionOrCity"
                this.changedJRegionOrCity(val, null);
            },
            'organization.juridicalDistinctOrCityId': function (val) { //  @change="changedJDistinctOrCity"
                this.changedJDistinctOrCity(val, null);
            },
            'organization.juridicalOkrugOrCityId': function (val) { //  @change="changedJOkrugOrCities"
                this.changedJOkrugOrCities(val, null);
            },

            'organization.factRegionOrCityId': function (val) { // @change="changedFRegionOrCity"
                this.changedFRegionOrCity(val, null);
            },
            'organization.factDistinctOrCityId': function (val) { //  @change="changedFDistinctOrCity"
                this.changedFDistinctOrCity(val, null);
            },
            'organization.factOkrugOrCityId': function (val) {
                this.changedFOkrugOrCities(val, null);
            },
            searchOrg: function (val) {
                if (!val || val.length <= 3) return;
                if (this.loadingOrg) return;

                this.loadingOrg = true;
                this.existOrgs = [];

                fetch('/api/organizations/findOrgByName?name=' + val)
                    .then(res => res.json())
                    .then(res => {
                        if (res.data.length == 0) {
                            this.organization.name = val;
                        } else {
                            this.existOrgs = res.data;
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    .finally(() => (this.loadingOrg = false))
            },
            email: function (val) {
                this.validateEmail();
            },            
            value: function (val) {
                this.organization = val;
            },

        },
        computed: {
            phoneList(): Array<CommunicationInfoModel> {
                return this.organization.communicationInfos.filter(l => l.communicationTypeCode == 'TE' && l.state != ObjectState.Deleted);
            },
            emailList(): Array<CommunicationInfoModel> {
                return this.organization.communicationInfos.filter(l => l.communicationTypeCode == 'EM' && l.state != ObjectState.Deleted);
            },
            faxesList(): Array<CommunicationInfoModel> {
                return this.organization.communicationInfos.filter(l => l.communicationTypeCode == 'FX' && l.state != ObjectState.Deleted);
            },

            eeuRules() {
                const rules: Array<any> = [];

                if (this.factCountry) {
                    if (this.eeuCountryCodes.includes(this.factCountry.code!)) {
                        const rule1 = v => !!v || 'Поле обязательно для заполнения';
                        rules.push(rule1);
                    }
                }

                return rules;
            },
        },
        methods: {
            save() {
                console.log("save");
                const me = this;

                this.jeeuErrors = [];
                this.eeuErrors = [];
                if ((this.$refs.formOrgId as any).validate()) {
                    if (this.factCountry) {
                        if (this.eeuCountryCodes.includes(this.factCountry.code!)
                            && !this.organization.factPostalIndex) {
                            this.eeuErrors.push('Поле обязательно для заполнения');                            
                        }
                    }
                    if (this.country) {
                        if (this.eeuCountryCodes.includes(this.country.code!)
                            && !this.organization.juridicalPostalIndex) {
                            this.jeeuErrors.push('Поле обязательно для заполнения');
                        }
                    }
                    if (this.eeuErrors.length > 0 || this.jeeuErrors.length > 0) return;

                    
                    this.saveFunc(this.organization);
                }
            },
            cancel() {
                console.log("cancel");
                this.cancelFunc();
            },
            reset() {
                (this.$refs.formOrgId as any).reset();
            },
            resetValidation() {
                if (this.$refs.formOrgId)
                    (this.$refs.formOrgId as any).resetValidation();
            },
            formatDate(inDate) {
                return inDate
                    ? moment(inDate).format("DD.MM.YYYY")
                    : "";
            },

            changeType(val: Array<number>, oldVal: Array<number>) {
                if(val) {
                    val.forEach(typeId => {
                        var existType = this.organization.organizationTypes
                            .find(m => m.orgTypeId == typeId);
                        if (!existType) {
                            var orgType = this.dics.orgTypes.find(ot => ot.id == typeId);
                            this.organization.organizationTypes.push(new OrgTypeDicModel(0,
                                typeId,
                                orgType.code,
                                orgType.name,
                                this.organization.id,
                                ObjectState.Added
                            ));
                        }
                    });

                    this.organization.organizationTypes.forEach((m, index, object) => {
                        var existTypeId = val.find(orgId => orgId == m.orgTypeId);
                        if (!existTypeId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
            },

            changeCountry(val, oldVal) {
                this.country = this.dics.countries.find(c => c.id == val);
                if (this.country && this.country.code == 'KZ') {
                    DictionaryService.getKatosByParentCode('0000000000')
                        .then(response => {
                            this.dics.jregionOrCities = response.data;
                        }).catch(err => {
                        });
                } else {
                    this.dics.jregionOrCities = [];
                    this.dics.jdistinctOrCities = [];
                    this.dics.jokrugOrCities = [];
                    this.dics.jvillagies = [];
                }
            },
            changeFactCountry(val, oldVal) {
                this.factCountry = this.dics.countries.find(c => c.id == val);
                if (this.factCountry && this.factCountry.code == 'KZ') {
                    DictionaryService.getKatosByParentCode('0000000000')
                        .then(response => {
                            this.dics.fregionOrCities = response.data;
                        }).catch(err => {
                        });
                } else {
                    this.dics.fregionOrCities = [];
                    this.dics.fdistinctOrCities = [];
                    this.dics.fokrugOrCities = [];
                    this.dics.fvillagies = [];
                }
            },

            changedJRegionOrCity(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.jdistinctOrCities = response.data;
                    }).catch(err => {
                    });
            },
            changedJDistinctOrCity(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.jokrugOrCities = response.data;
                    }).catch(err => {
                    });
            },
            changedJOkrugOrCities(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.jvillagies = response.data;
                    }).catch(err => {
                    });
            },

            changedFRegionOrCity(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.fdistinctOrCities = response.data;
                    }).catch(err => {
                    });
            },
            changedFDistinctOrCity(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.fokrugOrCities = response.data;
                    }).catch(err => {
                    });
            },
            changedFOkrugOrCities(val, oldVal) {
                DictionaryService.getKatos(val)
                    .then(response => {
                        this.dics.fvillagies = response.data;
                    }).catch(err => {
                    });
            },

            addPhone() {
                this.phoneErrors = [];
                if (this.phone && !this.organization.communicationInfos.some(ph => ph.communicationValue == this.phone
                    && ph.communicationTypeCode == 'TE')) {
                    this.organization.communicationInfos.push(new CommunicationInfoModel(
                        0,
                        null,
                        'TE',
                        null,
                        this.phone,
                        this.organization.id,
                        ObjectState.Added,
                    ));
                } else {
                    this.phoneErrors = ['Поле обязательно для заполнения'];
                }
                this.phone = '';
            },
            deletePhone(item) {
                var indx = this.organization.communicationInfos.findIndex(ph => ph.communicationValue == item.communicationValue
                    && ph.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.organization.communicationInfos[indx].state = ObjectState.Deleted;
                    } else {
                        this.organization.communicationInfos.splice(indx, 1);
                    }
                }
            }, 

            addEmail() {
                this.emailErrors = [];
                if (!this.email) {
                    this.emailErrors = ['Поле обязательно для заполнения'];
                    return;
                }
                if (!this.emailReg.test(this.email)) {
                    this.emailErrors = ['Некорректный Email'];
                    return;
                }
                if (this.organization.communicationInfos.some(ph => ph.communicationValue == this.email
                    && ph.communicationTypeCode == 'EM')) {
                    this.emailErrors = ['Указанный Email уже добавлен'];
                    return;
                }

                this.organization.communicationInfos.push(new CommunicationInfoModel(
                    0,
                    null,
                    'EM',
                    null,
                    this.email,
                    this.organization.id,
                    ObjectState.Added,
                ));
                this.email = '';
            },
            deleteEmail(item) {
                var indx = this.organization.communicationInfos.findIndex(ph => ph.communicationValue == item.communicationValue
                    && ph.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.organization.communicationInfos[indx].state = ObjectState.Deleted;
                    } else {
                        this.organization.communicationInfos.splice(indx, 1);
                    }
                }
            },

            addFax() {
                this.faxErrors = [];
                if (this.fax && !this.organization.communicationInfos.some(ph => ph.communicationValue == this.fax
                    && ph.communicationTypeCode == 'FX')) {
                    this.organization.communicationInfos.push(new CommunicationInfoModel(
                        0,
                        null,
                        'FX',
                        null,
                        this.fax,
                        this.organization.id,
                        ObjectState.Added,
                    ));
                } else {
                    this.faxErrors = ['Поле обязательно для заполнения'];
                }
                this.fax = '';
            },
            deleteFax(item) {
                var indx = this.organization.communicationInfos.findIndex(ph => ph.communicationValue == item.communicationValue
                    && ph.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.organization.communicationInfos[indx].state = ObjectState.Deleted;
                    } else {
                        this.organization.communicationInfos.splice(indx, 1);
                    }
                }
            },
            validateEmail: function () {
                (this.email == "") ? "" : (this.emailReg.test(this.email)) ?
                    this.emailErrors = [] : this.emailErrors = ['Некорректный Email'];
            },

            changeOrg(val, oldVal) {
                this.loadOrg(val.id.toString());
            },
            loadOrg(id) {
                var params = new URLSearchParams();
                params.append("orgId", id);

                OrganizationService.getOrg(params)
                    .then(response => {
                        this.$emit('input', response.data);
                        this.organization = response.data;    
                        if (this.organization.registerType === 0) {
                            if (this.registerType === 'registerKiru') {
                                this.organization.registerType = 1;
                            } else if (this.registerType === 'registerKirm') {
                                this.organization.registerType = 2;
                            }
                        }                        

                        //if (this.isNestedControl)
                        //    this.organization.registerType = 0;

                        this.organization.parentId = this.parentId;
                        if (this.orgTypeCode) {
                            if (this.organization.organizationTypes
                                && !this.organization.organizationTypes.some(t => t.orgTypeCode == this.orgTypeCode))
                            {
                                const orgType = this.dics.orgTypes.find(ot => ot.code == this.orgTypeCode);

                                this.organization.organizationTypes
                                    .push(new OrgTypeDicModel(0
                                        , orgType.id
                                        , this.orgTypeCode
                                        , null
                                        , 0, ObjectState.Added));

                                if (!this.selectedOrgTypeIds.contains(orgType.id)) {
                                    this.selectedOrgTypeIds.push(orgType.id);
                                }
                            }
                        }
                    }).catch(err => { });
            },

            getTitle() {
                if (this.titleProp)
                    return this.titleProp;

                if (this.organization.registerType === 0) {
                    return 'Добавление организации в Реестр СЭП';
                }
                if (this.organization.registerType === 1) {
                    return 'Добавление организации в Уполномоченные органы (организации)';
                }
                if (this.organization.registerType === 2) {
                    return 'Добавление организации в Организации-изготовители транспортных средств (шасси)';
                }

                return 'Добавление организации';
            },

            initOrganization() {
                if (this.value.id != 0) {
                    this.loadOrg(this.value.id);
                } else {
                    this.organization = new OrganizationModel();
                    this.organization = this.value;
                }
            },
        },
        created() {
            let me = this;
            me.initOrganization();

            DictionaryService.getNsiValues('nsi037')
                .then(response => {
                    me.dics.legalforms = response.data;
                }).catch(err => {
                });

            DictionaryService.getOrgTypes()
                .then(response => {
                    me.dics.orgTypes = response.data;
                    
                    if (me.selectedOrgTypeIds && me.selectedOrgTypeIds.length == 0) {
                        me.organization.organizationTypes
                            .forEach(tc => {
                                if (tc.orgTypeId && tc.orgTypeId != 0) {
                                    me.selectedOrgTypeIds.push(tc.orgTypeId)
                                } else {
                                    if (me.dics.orgTypes && me.dics.orgTypes.length > 0) {
                                        const orgType = me.dics.orgTypes.find(ot => ot.code == tc.orgTypeCode);
                                        if (orgType) {
                                            me.selectedOrgTypeIds.push(orgType.id);
                                            tc.orgTypeId = orgType.id;
                                            tc.state = ObjectState.Added;
                                            tc.organizationId = me.organization.id;
                                        }
                                    }
                                }
                            });
                    }
                    
                }).catch(err => { });

            DictionaryService.getNsiValues('nsi034')
                .then(response => {
                    me.dics.countries = response.data;
                    if (!me.organization.id && !me.organization.countryId) {
                        me.country = me.dics.countries.find(c => c.code == 'KZ');
                        me.organization.countryId = me.country.id;
                    } else {
                        me.country = me.dics.countries.find(c => c.id == me.organization.countryId);
                    }
                }).catch(err => { });

            DictionaryService.getKatosByParentCode('0000000000')
                .then(response => {
                    me.dics.jregionOrCities = response.data;
                    me.dics.fregionOrCities = response.data;
                }).catch(err => { });
        },
        mounted() {
            this.resetValidation();
            this.selectedOrgTypeIds = [];
            //this.initOrganization();
        },
    });
</script>