﻿<template>
    <div>
        <v-row>
            <v-col cols="12">
                <v-card outlined>
                    <v-flex class="mx-auto overflow-visible" style="max-width: 878px">
                        <v-card-title class="py-1 my-0">
                            Документ, подтверждающий присвоение международного кода изготовителя транспортного средства (шасси) WMI
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <v-simple-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left py-2" width="50%">
                                                <v-text-field v-model="orgdoc.docName"
                                                                label="Наименование документа*"
                                                                dense hide-details clearable
                                                                :error-messages="wmiErrors">
                                                </v-text-field>
                                            </th>
                                            <th class="text-left py-2" width="50%">
                                                <v-text-field v-model="orgdoc.docNumber"
                                                                label="Код WMI*"
                                                                dense hide-details clearable
                                                                :error-messages="wmiErrors">
                                                </v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-left py-2">
                                                <v-menu ref="menuDocDate"
                                                        v-model="controls.docDateMenu"
                                                        :close-on-content-click="false"
                                                        transition="scale-transition"
                                                        offset-y
                                                        min-width="auto">

                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field ref="orgdocDate"
                                                                      label="Дата выдачи документа*"
                                                                      v-model="orgdoc.docDateFormatted"
                                                                      prepend-icon="mdi-calendar"
                                                                      readonly dense clearable hide-details
                                                                      :error-messages="wmiErrors"
                                                                      v-bind="attrs" v-on="on" required></v-text-field>
                                                    </template>

                                                    <v-date-picker v-model="orgdoc.docDate"
                                                                   no-title scrollable
                                                                   :first-day-of-week="0"
                                                                   locale="ru-ru">
                                                        <v-spacer></v-spacer>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docDateMenu = false">
                                                            Отмена
                                                        </v-btn>
                                                        <v-btn text
                                                               color="primary"
                                                               @click="controls.docDateMenu = false">
                                                            Ok
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </th>
                                            <th class="text-left py-2">
                                                <v-text-field v-model="value.name"
                                                              label="Организация-изготовитель"
                                                              dense hide-details clearable
                                                              disabled>
                                                </v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th class="text-right">
                                                <v-btn outlined
                                                       @click="addDoc">
                                                    <v-icon>mdi-plus</v-icon>
                                                    Добавить
                                                </v-btn>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr class="pt-3">
                                            <th class="text-center">
                                                Наименование документа
                                            </th>
                                            <th class="text-center">
                                                Код WMI и дата документа
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in orgdocList" :key="index">
                                            <td class="text-left">{{ item.docName }}</td>
                                            <td class="text-left">{{ item.docNumber }} от {{ item.docDate | date }}</td>
                                            <td class="text-center">
                                                <v-btn icon
                                                       class="mx-auto"
                                                       @click="deleteDoc(item)">
                                                    <v-icon color="red lighten-1">
                                                        mdi-close
                                                    </v-icon>
                                                </v-btn>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="secondary"
                                   @click="cancel">
                                Отмена
                            </v-btn>
                            <v-btn color="primary"
                                   @click="save">
                                {{ saveBtnText ? saveBtnText : 'Сохранить'}}
                            </v-btn>
                        </v-card-actions>
                            
                    </v-flex>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
    import moment from 'moment';
    import axios from 'axios';

    import { Component, Vue } from 'vue-property-decorator';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { OrgDocumentModel } from '@/models/registries/OrgDocument.model';

    import DictionaryService from '@/services/dictionary.service';
    import OrganizationService from '@/services/registries/organization.service';
    import DateHelper from '@/helpers/date.helper';

    export default Vue.extend({
        name: 'WMIDocsForm',
        props: {
            value: OrganizationModel,          
            saveFunc: { type: Function },
            cancelFunc: { type: Function },
            saveBtnText: String,
        },
        data() {
            const dataObj: {
                dics: {
                    epTypes: Array<any>,
                },
                orgdoc: OrgDocumentModel,
                controls: any,
                wmiErrors: any,
            } = {
                dics: {
                    epTypes: [],
                },
                orgdoc: new OrgDocumentModel(0, OrgDocumentModel.WmiDoc),
                controls: {
                    docDateMenu: false,
                    docValidDateMenu: false,
                },
                wmiErrors: [],
            };
            return dataObj;
        },
        watch: {
            'orgdoc.docDate': function (val, oldVal) {
                this.orgdoc.docDateFormatted = DateHelper.formatDate(val);
            },
        },
        computed: {
            orgdocList(): Array<OrgDocumentModel> {
                return this.value.organizationDocuments.filter(l => l.state != ObjectState.Deleted
                    && l.orgDocType == OrgDocumentModel.WmiDoc);
            },
        },
        methods: {
            save() {
                if (this.saveFunc)
                    this.saveFunc(this.value);
            },
            cancel() {
                if (this.cancelFunc)
                    this.cancelFunc();
            },
            addDoc() {
                const me = this;
                me.wmiErrors = [];

                if (me.orgdoc
                    && me.orgdoc.docName
                    && me.orgdoc.docNumber
                    && me.orgdoc.docDate) {

                    me.orgdoc.organizationId = me.value.id;
                    me.orgdoc.state = ObjectState.Added;
                    
                    if (me.value.id > 0) {
                        OrganizationService.saveOrgDocument(me.orgdoc)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    me.orgdoc.id = response.data.entityId;
                                    me.orgdoc.state = ObjectState.Unchanged;
                                    me.value.organizationDocuments.push(me.orgdoc);
                                    me.orgdoc = new OrgDocumentModel(0, OrgDocumentModel.WmiDoc);
                                } else {
                                    me.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                me.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        me.value.organizationDocuments.push(me.orgdoc);
                        me.orgdoc = new OrgDocumentModel(0, OrgDocumentModel.WmiDoc);
                    }

                } else {
                    me.wmiErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteDoc(doc: OrgDocumentModel) {
                const me = this;
                var indx = this.value.organizationDocuments.findIndex(chd => chd.docNumber == doc.docNumber
                    && chd.docName == doc.docName
                    && chd.id == doc.id);
                if (indx > -1) {
                    if (doc.id != 0) {
                        let deleteEntity = me.value.organizationDocuments[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        OrganizationService.saveOrgDocument(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    me.value.organizationDocuments.splice(indx, 1);
                                } else {
                                    me.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                me.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                    } else {
                        me.value.organizationDocuments.splice(indx, 1);
                    }
                }
            }
        },
        async created() { },
        mounted() { },
    });
</script>