﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card class='pa-2 ma-2' outlined tile>
                            <h2 style='text-align: center'>
                                {{ getTitle() }}
                            </h2>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <v-alert v-for="alert in alerts" outlined dense
                                 border="left" :type="alert.type">
                            {{ alert.msg }}
                        </v-alert>
                    </v-col>
                    <v-col cols="12">
                        <v-data-table dense
                                      :headers="headers"
                                      :items="data"
                                      :items-per-page="20"
                                      :loading="loading"
                                      :server-items-length="total"
                                      :options.sync="options"
                                      :footer-props="{
                                        'items-per-page-options': [10, 20, 30, 40, 50]
                                      }"
                                      class="elevation-1">
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-btn color="primary" v-if="isAllowEdit"
                                           dark
                                           class="mb-2"
                                           @click="createItem()">
                                        <v-icon left>
                                            mdi-plus
                                        </v-icon>
                                        Создать
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="search"
                                                  label="Поиск"
                                                  single-line hide-details
                                                  class="mx-4"></v-text-field>
                                </v-toolbar>
                                <v-toolbar flat>
                                    <v-spacer></v-spacer>
                                    <v-switch v-model="showDeleted" @change="doShowDeleted()"
                                              label="Показать удаленные"></v-switch>
                                </v-toolbar>
                            </template>
                            <template v-slot:header.name="{ header }">
                                {{ header.text.toUpperCase() }}
                            </template>


                            <template v-slot:item="{ item, index }">
                                <tr :data-id="item.id" :class="{ 'deleted-row': !!item.deleted }">
                                    <td style="text-decoration: none;">
                                        <div style="min-width: 80px">
                                            <v-icon small v-if="isAllowEdit && !item.deleted"
                                                    color="blue darken-2"
                                                    class="mr-2"
                                                    @click="editItem(item)">
                                                mdi-pencil
                                            </v-icon>
                                            <v-icon small v-if="isAllowDelete && !item.deleted"
                                                    color="red darken-2"
                                                    @click="deleteItem(item)">
                                                mdi-delete
                                            </v-icon>
                                            <v-icon v-if="isAllowDelete && !!item.deleted"
                                                    small
                                                    color="red darken-2"
                                                    @click="restoreItem(item)">
                                                mdi-restore
                                            </v-icon>
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.name }}
                                    </td>
                                    <td>
                                        {{ item.bin }}
                                    </td>
                                    <td>
                                        {{ item.juridicalAddressName }}
                                    </td>
                                    <td>
                                        {{ item.factAddressName }}
                                    </td>
                                    <td>
                                        {{ item.phones }}
                                    </td>
                                    <td>
                                        {{ item.emails }}
                                    </td>
                                    <td>
                                        {{ item.headFullName }}
                                    </td>
                                    <td>
                                        {{ item.statusName }}
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>


        <!-- Dialog -->
        <v-dialog v-model="dialog"
                    persistent
                    max-width="900px">
            <organization-form v-model="organizationObj"
                                :saveFunc="saveOrg"
                                :cancelFunc="cancelOrg"
                                :key="organizationObj.id"
                                :orgTypeCode="orgTypeCode"
                                :parentId="organization ? organization.id : null"
                                :registerType="registerType"
                                :isNestedControl="isNestedControl">
            </organization-form>
        </v-dialog>
 
        <v-dialog v-model="dialogConfirm"
                    persistent
                    max-width="900px">
            <v-card outlined>
                <v-card-title class="headline">
                    Вы действительно хотите удалить организацию?
                </v-card-title>
                <v-card-text>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1"
                            text
                            @click="confimDeleteItem">
                        Подтвердить
                    </v-btn>

                    <v-btn color="red darken-1"
                            text
                            @click="cancelDeleteItem">
                        Отмена
                    </v-btn>
                </v-card-actions>
            </v-card>

        </v-dialog>
       
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    
    import { PagedSortRequestModel } from '@/models/PagedSortRequest.model';
    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrganizationFilterModel } from '@/models/registries/OrganizationFilter.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { AlertModel } from '@/models/Alert.model';

    import AuthService from '@/services/auth.service';
    import OrganizationService from '@/services/registries/organization.service';

    import OrganizationForm from '@/components/registries/OrganizationForm.vue';

    export default Vue.extend({
        name: 'OrganizationList',
        props: {
            isNestedControl: Boolean,
            organization: OrganizationModel,
            orgTypeCode: String
        },
        data: () => ({            
            loading: true,
            dialog: false,
            dialogConfirm: false,

            search: '',
            total: 0,
            options: {
                page: 1
            },
            headers: [
                { text: '', value: 'actions', sortable: false },
                {
                    text: 'Наименование', value: 'name'
                },
                {
                    text: 'БИН/ИИН', value: 'bin'
                },
                {
                    text: 'Адрес регистрации', value: 'juridicalAddressName'
                },
                {
                    text: 'Фактический адрес', value: 'factAddressName'
                },
                {
                    text: 'Номер телефона', value: 'phones'
                },
                {
                    text: 'Email', value: 'emails'
                },
                {
                    text: 'ФИО руководителя', value: 'headFullName'
                },
                {
                    text: 'Статус', value: 'statusName'
                }                
            ],
            data: new Array<OrganizationModel>(),
            registerType: '',
            organizationObj: new OrganizationModel(),
            alerts: new Array<AlertModel>(),
            showDeleted: false,
        }),
        components: {
            'organization-form': OrganizationForm,
        },
        methods: {
            createItem: function () {
                this.organizationObj = new OrganizationModel();
                this.organizationObj.state = ObjectState.Added;

                switch (this.registerType) {
                    case 'registerKiru':
                        this.organizationObj.registerType = 1;                        
                        if (this.isNestedControl) {
                            this.organizationObj.parentId = this.organization.id;
                            this.organizationObj.registerType = 0;
                            if (this.orgTypeCode)
                                this.organizationObj.organizationTypes = [new OrgTypeDicModel(0, null, this.orgTypeCode, null, 0, ObjectState.Added)];
                            this.dialog = true;
                        } else {
                            this.$router.push('/organization/' + this.registerType);
                        }
                        break;
                    case 'registerKirm':
                        this.organizationObj.registerType = 2;
                        if (this.isNestedControl) {
                            this.organizationObj.parentId = this.organization.id;
                            this.organizationObj.registerType = 0;
                            if (this.orgTypeCode)
                                this.organizationObj.organizationTypes = [new OrgTypeDicModel(0, null, this.orgTypeCode, null, 0, ObjectState.Added)];
                            this.dialog = true;
                        } else {
                            this.$router.push('/organization/' + this.registerType);
                        }
                        break;
                    default:
                        this.organizationObj.registerType = 0;
                        this.dialog = true;
                        break;
                }
            },
            editItem: function (item: OrganizationModel) {                
                var params = new URLSearchParams();
                params.append("orgId", item.id.toString());

                switch (this.registerType) {
                    case 'registerKiru':                       
                    case 'registerKirm':
                        if (this.isNestedControl) {
                            OrganizationService.getOrg(params)
                                .then(response => {
                                    this.organizationObj = response.data;
                                    this.dialog = true;
                                }).catch(err => {
                                });
                        } else {
                            this.$router.push('/organization/' + this.registerType + '/' + item.id);
                        }
                        break;
                    default:
                        OrganizationService.getOrg(params)
                            .then(response => {
                                this.organizationObj = response.data;
                                this.dialog = true;
                            }).catch(err => {
                            });
                        break;
                }
            },
            deleteItem: function (item) {
                this.dialogConfirm = true;
                this.organizationObj = item;
            },

            restoreItem(item) {
                OrganizationService.restore(item.id)
                    .then(response => {
                        if (response.data) {
                            this.load();
                        }
                    }).catch(err => {

                    });
            },

            saveOrg(newOrg: OrganizationModel) {
                if (this.organizationObj.name) {
                    if (this.organization && this.organization.id == 0) {
                        this.dialog = false;
                        this.organization.childOrganizations.push(this.organizationObj);                        
                        this.data = this.organization.childOrganizations;
                    } else {
                        OrganizationService.saveOrg(this.organizationObj)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.load();
                                    this.dialog = false;
                                } else if (response.status == 'Error') {
                                    this.alerts.push(new AlertModel(response.text, 'warning'));
                                }
                            }).catch(err => {
                                this.alerts.push(new AlertModel(err, 'warning'));
                            });
                    }
                }
            },
            cancelOrg() {
                this.dialog = false;
            },

            doShowDeleted() {
                this.load();
            },

            cancelDeleteItem: function () {
                this.dialogConfirm = false;
            },
            confimDeleteItem: function () {
                const me = this;
                me.dialogConfirm = false;

                OrganizationService.delete(me.organizationObj.id, me.organization?.id)
                    .then(response => {
                        if (response.data) {
                            me.load();
                        }
                    }).catch(err => {

                    });
            },

            load() {
                this.loading = true;
                const paginationOpt: any = this.options;
                const { sortBy, sortDesc, page, itemsPerPage } = paginationOpt;

                let request = new PagedSortRequestModel(page
                    , itemsPerPage
                    , sortBy
                    , sortDesc
                    , new OrganizationFilterModel(
                        this.isNestedControl ? undefined : this.registerType,
                        this.search,
                        undefined,
                        undefined,
                        this.showDeleted
                    ));

                if (this.organization) {
                    request.filter.parentId = this.organization.id;
                }
                if (this.orgTypeCode) {
                    request.filter.orgTypeCode = this.orgTypeCode;
                }

                OrganizationService.getPagedList(request)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.total;
                        this.loading = false
                    }).catch(err => {
                        this.loading = false
                    });
            },

            getTitle() {
                if (this.registerType === 'registerKiru') {
                    return 'Уполномоченные органы (организации)';
                }
                if (this.registerType === 'registerKirm') {
                    return 'Организации-изготовители транспортных средств (шасси)';
                }
                return 'Реестр СЭП';
            },
        },
        watch: {
            options: {
                handler() {
                    this.load();
                },
                deep: true,
            },
            search: function (val, oldVal) {
                this.options.page = 0;
                if (val.length > 3) {
                    this.search = val;
                    this.load();
                }
                if (val.length <= 0) {
                    this.search = '';
                    this.load();
                }
            },
        },
        computed: {
            isAllowRead: function () {
                switch (this.$route.params.registertype) {
                    case 'registerKiru':
                        return AuthService.hasPermission('registry.kiru.read');
                    case 'registerKirm':
                        return AuthService.hasPermission('registry.kirm.read');
                    default:
                        return AuthService.hasPermission('registry.general.read');
                }
            },
            isAllowEdit: function () {
                switch (this.$route.params.registertype) {
                    case 'registerKiru':
                        return AuthService.hasPermission('registry.kiru.edit');
                    case 'registerKirm':
                        return AuthService.hasPermission('registry.kirm.edit');
                    default:
                        return AuthService.hasPermission('registry.general.edit');
                }
            },
            isAllowDelete: function () {
                switch (this.$route.params.registertype) {
                    case 'registerKiru':
                        return AuthService.hasPermission('registry.kiru.delete');
                    case 'registerKirm':
                        return AuthService.hasPermission('registry.kirm.delete');
                    default:
                        return AuthService.hasPermission('registry.general.delete');
                }
            },
        },
        activated() { },
        created() {
            this.registerType = this.$route.params.registertype;
        },
        beforeRouteUpdate(to, from, next) {
            this.registerType = to.params.registertype;
            if (this.options.page) this.options.page = 1;
            this.load();
            next();
        }
    });

</script>
