﻿<template>
    <v-container fluid>
        <v-row no-gutters>
            <v-col>
                <v-alert v-for="alert in alerts" outlined dense
                         border="left" :type="alert.type">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="12">
                <v-tabs vertical justify-tab-title="start"
                        v-model="active_tab">
                    <v-tab class="org-tab" :key="0">
                        {{ getTitle() }}
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKiru'" :key="1">
                        Полномочия
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKirm'" :key="2" :disabled="!organizationObj.id">
                        Представители изготовителя
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKirm'" :key="3" :disabled="!organizationObj.id">
                        Сборочные заводы
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKirm'" :key="4" :disabled="!organizationObj.id">
                        Документ, подтверждающий присвоение WMI
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKirm'" :key="5" :disabled="!organizationObj.id">
                        Документы об оценке соответствия
                    </v-tab>
                    <v-tab class="org-tab" v-if="registerType === 'registerKirm'" :key="6" :disabled="!organizationObj.id">
                        Соглашения о льготном режиме сборки
                    </v-tab>

                    <v-tab-item>
                        <organization-form v-model="organizationObj"
                                           :saveFunc="moveNextTab"
                                           :cancelFunc="cancelOrg"
                                           :registerType="registerType"
                                           :key="1"
                                           :titleProp="getTitle()"
                                           saveBtnText="Далее">
                        </organization-form>
                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKiru'">
                        <credentials-form v-model="organizationObj"
                                          :saveFunc="saveOrg"
                                          :key="1"
                                          :cancelFunc="moveBackTab">
                        </credentials-form>
                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKirm'">
                        <v-row>
                            <v-col>
                                <organization-list :key="2"
                                                   v-bind:isNestedControl="true"
                                                   orgTypeCode="representativemanufacturer"
                                                   :organization="organizationObj"></organization-list>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn color="secondary"
                                           @click="active_tab = active_tab - 1;">
                                        Назад
                                    </v-btn>

                                    <v-btn color="primary"
                                           @click="active_tab = active_tab + 1;">
                                        Далее
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                        

                        <!--organization-form v-model="orgRepresenterObj"
                                           :saveFunc="saveOrg"
                                           :cancelFunc="cancelOrg"
                                           :key="2"
                                           titleProp="Представители изготовителя">
                        </organization-form-->

                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKirm'">
                        <v-row>
                            <v-col>
                                <organization-list :key="3"
                                                   v-bind:isNestedControl="true"
                                                   orgTypeCode="assemblyplant"
                                                   :organization="organizationObj"></organization-list>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn color="secondary"
                                           @click="active_tab = active_tab - 1;">
                                        Назад
                                    </v-btn>

                                    <v-btn color="primary"
                                           @click="active_tab = active_tab + 1;">
                                        Далее
                                    </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                        <!--organization-form v-model="orgAssemblyObj"
                                           :saveFunc="saveOrg"
                                           :cancelFunc="cancelOrg"
                                           :key="3"
                                           titleProp="Сборочные заводы">
                        </organization-form-->

                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKirm'">
                        <wmidocs-form v-model="organizationObj"
                                    :saveFunc="moveNextTab"
                                    :cancelFunc="moveBackTab"
                                    saveBtnText="Далее">
                        </wmidocs-form>
                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKirm'">
                        <conformityassesmentdocs-form v-model="organizationObj"
                                                      :saveFunc="moveNextTab"
                                                      :cancelFunc="moveBackTab"
                                                      saveBtnText="Далее"></conformityassesmentdocs-form>
                    </v-tab-item>
                    <v-tab-item v-if="registerType === 'registerKirm'">
                        <preferentialassemblydocs-form v-model="organizationObj"
                                                     :saveFunc="saveOrg"
                                                     :cancelFunc="cancelOrg"></preferentialassemblydocs-form>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';    

    import { OrganizationModel } from '@/models/registries/Organization.model';
    import { OrgTypeDicModel } from '@/models/registries/OrgTypeDic.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { AlertModel } from '@/models/Alert.model';

    import OrganizationList from '@/views/registries/organization/OrganizationList.vue';
    import OrganizationForm from '@/components/registries/OrganizationForm.vue';
    import CredentialsForm from '@/components/registries/CredentialsForm.vue';
    import WMIDocsForm from '@/components/registries/WMIDocsForm.vue';
    import ConformityAssesmentDocsForm from '@/components/registries/ConformityAssesmentDocsForm.vue';
    import PreferentialAssemblyDocsForm from '@/components/registries/PreferentialAssemblyDocsForm.vue';

    import OrganizationService from '@/services/registries/organization.service';

    export default Vue.extend({
        name: 'OrganizationRootForm',
        data: () => ({
            dialog: false,
            dialogConfirm: false,
            active_tab: 0,
            data: [],
            registerType: '',
            orgTypes: new Array<OrgTypeDicModel>(),
            organizationObj: new OrganizationModel(0, 0, null, null, null, null, [<OrgTypeDicModel>{ orgTypeCode: 'manufacturer' }]
                , null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null
                , null, null, null, null, null, null, null, [], null, null, null, null, null, null, null, ObjectState.Unchanged, [], []),
            alerts: new Array<AlertModel>()
        }),
        components: {
            'organization-list': OrganizationList,
            'organization-form': OrganizationForm,
            'credentials-form': CredentialsForm,
            'wmidocs-form': WMIDocsForm,
            'conformityassesmentdocs-form': ConformityAssesmentDocsForm,
            'preferentialassemblydocs-form': PreferentialAssemblyDocsForm,
        },
        methods: {
            getTitle() {
                if (this.registerType === 'registerKiru')
                    return 'Уполномоченный орган (организация)';                 
                if (this.registerType === 'registerKirm') 
                    return 'Организация-изготовитель транспортных средств (шасси)';                 
                return 'СЭП'; 
            },
            moveNextTab(newOrg: OrganizationModel) {
                const me = this;
                me.alerts = [];
                OrganizationService.saveOrg(newOrg)
                    .then((response) => {
                        me.organizationObj = response.data;
                        me.alerts.push(new AlertModel('Сохранено успешно', 'success'));
                        me.active_tab = me.active_tab + 1;
                        me.$router.push('/organization/' + this.registerType + '/' + me.organizationObj.id);
                    }).catch((err) => {
                        me.alerts.push(new AlertModel('Возникла ошибка: ' + err, 'error'));
                    });
            },
            moveBackTab() {
                this.active_tab = this.active_tab - 1;
            },
            saveOrg(newOrg: OrganizationModel) {
                this.alerts = [];
                if (newOrg.name) {
                    OrganizationService.saveOrg(newOrg)
                        .then((response) => {
                            this.$router.push('/organizations/' + this.registerType);
                        }).catch((err) => {
                            this.alerts.push(new AlertModel('Возникла ошибка: ' + err, 'error'));
                        });
                } else {
                    this.alerts.push(new AlertModel('Необходимо заполнить обязательные поля', 'warning'));
                }
            },
            cancelOrg() {
                this.$router.push('/organizations/' + this.registerType);
            },
        },
        created() {
            const me = this;
            this.registerType = me.$route.params.registertype;
            const orgId = me.$route.params.id;

            if (orgId) {
                const params = new URLSearchParams();
                params.append('orgId', orgId);

                OrganizationService.getOrg(params)
                    .then((response) => {
                        me.organizationObj = response.data;
                    }).catch((err) => {
                        me.alerts.push(new AlertModel('Возникла ошибка: ' + err, 'error'));
                    });
            } else {
                if (me.registerType === 'registerKiru') {
                    me.organizationObj.registerType = 1;
                } else if (me.registerType === 'registerKirm') {
                    me.organizationObj.registerType = 2;
                }
            }
        },
    });

</script>

<style>
    .org-tab {
        justify-content: left;
        text-align: left;
        white-space: normal;
    }
</style>
