﻿<template>
    <div>
        <v-card-title class="py-1 my-0">
            {{ title }}
        </v-card-title>
        <v-card-text class="py-0 my-0">
            <v-row>
                <v-col cols="12" class="py-0 my-0">
                    <v-switch v-model="notElectricalMachineDetailIndicator" :disabled="disabled"
                              inset dense class="mt-2"
                              :label="title  + ' отсутствует'"></v-switch>
                </v-col>
                <v-col cols="12" class="py-0 my-0" v-if="!notElectricalMachineDetailIndicator">
                    <v-simple-table dense>
                        <!--template v-slot:default-->
                        <thead>
                            <tr>
                                <th class="text-center py-1" width="30%">
                                    Марка
                                </th>
                                <th class="text-center py-1" width="50%">
                                    Описание
                                </th>
                                <th class="text-center py-1" width="10%">
                                </th>
                                <th class="text-center py-1" width="10%">
                                    <v-btn outlined v-if="!disabled"
                                           @click="addEMachine">
                                        <v-icon>mdi-plus</v-icon>
                                        Добавить
                                    </v-btn>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(item, index) in electricalMachineDetailsList">
                                <tr class="blue-grey lighten-3">
                                    <td class="text-center">{{ item.vehicleComponentMakeName }}</td>
                                    <td class="text-center">{{ item.vehicleComponentText }}</td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                        <v-btn icon v-if="!disabled"
                                               class="mx-auto"
                                               @click="editEMachine(item)">
                                            <v-icon color="indigo lighten-1">
                                                mdi-pencil
                                            </v-icon>
                                        </v-btn>
                                        <v-btn icon v-if="!disabled"
                                               class="mx-auto"
                                               @click="deleteEMachine(item)">
                                            <v-icon color="red lighten-1">
                                                mdi-close
                                            </v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - Вид электромашины
                                    </td>
                                    <td colspan="3">
                                        {{ item.electricalMachineKindName }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - Тип электромашины
                                    </td>
                                    <td colspan="3">
                                        {{ item.electricalMachineTypeName }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - Максимальная 30-минутная мощность  ({{ item.electricMotorPowerMeasureUnitName }})
                                    </td>
                                    <td colspan="3">
                                        {{ item.electricMotorPowerMeasure }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - Рабочее напряжение ({{ item.electricalMachineVoltageMeasureUnitName }})
                                    </td>
                                    <td colspan="3">
                                        {{ item.electricalMachineVoltageMeasure }}
                                    </td>
                                </tr>
                                <!--tr>
                                    <td valign="top">
                                        - Устройство накопления энергии
                                    </td>
                                    <td colspan="3">
                                        <v-simple-table dense>
                                            <tbody>
                                                <template v-for="(itm, index) in item.powerStorageDeviceDetails.filter(vr => vr.state != 3)">
                                                    <tr class="blue-grey lighten-3">
                                                        <td>
                                                            Тип элемента
                                                        </td>
                                                        <td>
                                                            {{ itm.powerStorageDeviceTypeName }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Место расположения
                                                        </td>
                                                        <td>
                                                            {{ itm.powerStorageDeviceLocation }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Описание
                                                        </td>
                                                        <td>
                                                            {{ itm.powerStorageDeviceDescription }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Запас хода ({{ itm.vehicleRangeUnitName }})
                                                        </td>
                                                        <td>
                                                            {{ itm.vehicleRangeMeasure }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Рабочее напряжение ({{ itm.powerStorageDeviceVoltageMeasureUnitName }})
                                                        </td>
                                                        <td>
                                                            {{ itm.powerStorageDeviceVoltageMeasure }}
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </v-simple-table>
                                    </td>
                                </tr-->
                            </template>
                        </tbody>
                        <!--/template-->
                    </v-simple-table>
                </v-col>
            </v-row>
        </v-card-text>

        <!-- Dialog Electric Engine -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogEMachine"
                      persistent
                      max-width="800px">
                <v-form ref="electricForm"
                        v-model="electricFormValid"
                        lazy-validation>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ title }}</span>
                        </v-card-title>
                        <v-card-text>
                            <!-- Наименование марки  -->
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="electricalMachineDetail.vehicleComponentMakeName"
                                                  label="Марка*"
                                                  dense hide-details clearable
                                                  outlined required 
                                                  :rules="rules.required">
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Описание конструктивных особенностей  -->
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="electricalMachineDetail.vehicleComponentText"
                                                  label="Описание*"
                                                  dense hide-details clearable
                                                  outlined required 
                                                  :rules="rules.required">
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Вид электромашины -->
                            <v-row>
                                <v-col>
                                    <v-autocomplete label="Вид электромашины*"
                                                    :items="nsi28electricvkindFilteredList"
                                                    v-model="electricalMachineDetail.electricalMachineKindId"
                                                    clearable required
                                                    dense hide-details outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    :rules="rules.required" 
                                                    hint="Выберите вид электромашины"
                                                    :disabled="disableEngineKind"></v-autocomplete>
                                </v-col>
                            </v-row>

                            <!-- Тип электромашины -->
                            <v-row>
                                <v-col>
                                    <v-autocomplete label="Тип электромашины*"
                                                    :items="dics.nsi60electricvtype"
                                                    v-model="electricalMachineDetail.electricalMachineTypeId"
                                                    clearable requeired
                                                    dense hide-details outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    :rules="rules.required"
                                                    hint="Выберите тип электромашины"></v-autocomplete>
                                </v-col>
                            </v-row>

                            <!-- Максимальная 30-минутная мощность  -->
                            <v-row>
                                <v-col>
                                    <v-text-field v-model.number="electricalMachineDetail.electricMotorPowerMeasure"
                                                  label="Максимальная 30-минутная мощность*"
                                                  type="number"
                                                  :suffix="electricalMachineDetail.electricMotorPowerMeasureUnitName"
                                                  dense hide-details clearable
                                                  outlined required 
                                                  :rules="rules.required"></v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Рабочее напряжение  -->
                            <v-row>
                                <v-col>
                                    <v-text-field v-model.number="electricalMachineDetail.electricalMachineVoltageMeasure"
                                                  label="Рабочее напряжение*"
                                                  type="number"
                                                  :suffix="electricalMachineDetail.electricalMachineVoltageMeasureUnitName"
                                                  dense hide-details clearable
                                                  outlined required 
                                                  :rules="rules.required"></v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Устройство накопления энергии  -->
                            <!--v-row>
                                <v-col>
                                    <v-card outlined>
                                        <v-card-title class="py-1 my-0">
                                            Устройство накопления энергии
                                        </v-card-title>
                                        <v-card-text class="py-1 my-0">
                                            <template>
                                                <v-row no-gutter>
                                                    <v-col class="py-0 my-0">
                                                        <v-switch v-model="notPowerStorageDeviceDetailIndicator"
                                                                  inset dense
                                                                  label="Устройство накопления энергии отсуствует"></v-switch>
                                                    </v-col>
                                                </v-row>
                                                <v-row no-gutter>
                                                    <v-col class="py-0 my-0">
                                                        <v-simple-table dense>
                                                            <template v-slot:default>
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center py-2 px-1" width="40%">
                                                                            <v-autocomplete label="Тип элемента*"
                                                                                            :items="dics.nsi59powertype"
                                                                                            v-model="powerStorageDeviceDetail.powerStorageDeviceTypeId"
                                                                                            clearable
                                                                                            dense hide-details
                                                                                            item-text="name"
                                                                                            item-value="id"
                                                                                            :error-messages="storageErrors"
                                                                                            :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                                        </th>
                                                                        <th class="text-center py-2 px-1" width="40%">
                                                                            <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceLocation"
                                                                                          label="Место расположения"                                                                                          
                                                                                          dense hide-details clearable></v-text-field>
                                                                        </th>
                                                                        <th class="text-center pa-1" width="20%">
                                                                            <v-btn outlined
                                                                                   @click="addStorage">
                                                                                <v-icon>mdi-plus</v-icon>
                                                                                Добавить
                                                                            </v-btn>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-center pa-1" colspan="2">
                                                                            <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceDescription"
                                                                                          label="Тип (описание)*"
                                                                                          :error-messages="storageErrors"
                                                                                          dense hide-details clearable></v-text-field>
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-center pa-1" colspan="2">
                                                                            <v-text-field v-model.number="powerStorageDeviceDetail.vehicleRangeMeasure"
                                                                                          label="Запас хода"
                                                                                          type="number"
                                                                                          :suffix="powerStorageDeviceDetail.vehicleRangeUnitName"
                                                                                          dense hide-details clearable></v-text-field>
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-center pa-1" colspan="2">
                                                                            <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceVoltageMeasure"
                                                                                          label="Рабочее напряжение"
                                                                                          type="number"
                                                                                          :suffix="powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitName"
                                                                                          dense hide-details clearable></v-text-field>
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <template v-for="(item, index) in powerStorageDeviceDetailsList">
                                                                        <tr class="blue-grey lighten-3">
                                                                            <td class="text-center">{{ item.powerStorageDeviceTypeName }}</td>
                                                                            <td class="text-center">{{ item.powerStorageDeviceLocation }}</td>
                                                                            <td class="text-center">
                                                                                <v-btn icon
                                                                                       class="mx-auto"
                                                                                       @click="deleteStorage(item)">
                                                                                    <v-icon color="red lighten-1">
                                                                                        mdi-close
                                                                                    </v-icon>
                                                                                </v-btn>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                - описание
                                                                            </td>
                                                                            <td colspan="2">
                                                                                {{ item.powerStorageDeviceDescription }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                - запас хода {{ item.vehicleRangeUnitName }}
                                                                            </td>
                                                                            <td colspan="2">
                                                                                {{ item.vehicleRangeMeasure }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                - рабочее напряжение {{ item.powerStorageDeviceVoltageMeasureUnitName }}
                                                                            </td>
                                                                            <td colspan="2">
                                                                                {{ item.powerStorageDeviceVoltageMeasure }}
                                                                            </td>
                                                                        </tr>
                                                                    </template>
                                                                </tbody>
                                                            </template>
                                                        </v-simple-table>
                                                    </v-col>
                                                </v-row>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row-->
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="primary"
                                   text
                                   @click="saveEMachine">
                                Сохранить
                            </v-btn>
                            <v-btn color="secondary"
                                   text
                                   @click="dialogEMachine = false">
                                Отмена
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-row>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { ElectricalMachineDetailModel } from '@/models/vehicle/characteristics/ElectricalMachineDetail.model';
    import { PowerStorageDeviceDetailModel } from '@/models/vehicle/characteristics/PowerStorageDeviceDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'ElectricalEngineDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                title: string,
                dialogMsg: string,
                rules: any,
                dics: any,
                dialogEMachine: boolean,
                notElectricalMachineDetailIndicator: boolean,
                notPowerStorageDeviceDetailIndicator: boolean,

                electricalMachineDetail: ElectricalMachineDetailModel,
                powerStorageDeviceDetail: PowerStorageDeviceDetailModel,
                electricFormValid: boolean,

                storageErrors: any,
                disableEngineKind: boolean,
            } = {
                title: 'Электродвигатель/Электромашина',
                dialogMsg: '',
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi118enginetype: [],
                    nsi28electricvkind: [],
                    nsi60electricvtype: [],
                    nsi33unit: [],
                    nsi59powertype: [],
                },
                dialogEMachine: false,
                notElectricalMachineDetailIndicator: false,
                notPowerStorageDeviceDetailIndicator: false,

                electricalMachineDetail: new ElectricalMachineDetailModel(),
                powerStorageDeviceDetail: new PowerStorageDeviceDetailModel(),
                electricFormValid: false,

                storageErrors: [],
                disableEngineKind: false,
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notElectricalMachineDetailIndicator: function (val, oldVal) {
                this.charateristic.notElectricalMachineDetailIndicator = !!val ? 1 : 0;
            },
            notPowerStorageDeviceDetailIndicator: function (val, oldVal) {
                this.electricalMachineDetail.notPowerStorageDeviceDetailIndicator = !!val ? 1 : 0;
            },
            'charateristic.notElectricalMachineDetailIndicator': function (val, oldVal) {
                this.notElectricalMachineDetailIndicator = val == 1;
            },            
            'charateristic.engineTypeCode': function (val, oldVal) {
                if (this.charateristic.engineTypeCode == '3') {
                    this.title = "Электромашина";                    
                    this.disableEngineKind = false;
                } else {
                    this.title = "Электродвигатель/Электромашина";
                    /*
                    let electroEngine = this.dics.nsi28electricvkind.find(d => d.code == '01');
                    if (electroEngine) {
                        this.electricalMachineDetail.electricalMachineKindId = electroEngine.id;
                        this.electricalMachineDetail.electricalMachineKindName = electroEngine.name;
                        //this.electricalMachineDetail.electricalMachineKindId = electroEngine.id;
                        this.disableEngineKind = true;
                    }
                    */
                }
                
            },            
            'electricalMachineDetail.notPowerStorageDeviceDetailIndicator': function (val, oldVal) {
                this.notPowerStorageDeviceDetailIndicator = val == 1;
            }
        },
        computed: {
            electricalMachineDetailsList(): Array<ElectricalMachineDetailModel> {
                return this.charateristic.electricalMachineDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            powerStorageDeviceDetailsList(): Array<PowerStorageDeviceDetailModel> {
                return this.electricalMachineDetail.powerStorageDeviceDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            nsi28electricvkindFilteredList(): Array<any> {
                if (this.charateristic.engineTypeCode == '3')
                    return this.dics.nsi28electricvkind.filter(d => d.code != '01');
                else
                    return this.dics.nsi28electricvkind;
            }
        },
        methods: {
            addEMachine() {
                this.dialogEMachine = true;
                this.electricalMachineDetail.electricalMachineTypeId
            },
            editEMachine(item: ElectricalMachineDetailModel) {
                this.dialogEMachine = true;
                this.electricalMachineDetail = ObjectHelper.deepCopy(item) as ElectricalMachineDetailModel;
            },
            saveEMachine() {
                if ((this.$refs.electricForm as any).validate()) {

                    const indx = this.charateristic.electricalMachineDetails
                        .findIndex(e => e.clientId == this.electricalMachineDetail.clientId
                            && e.id == this.electricalMachineDetail.id);

                    if (indx < 0) {
                        if (this.electricalMachineDetail.vehicleComponentMakeName
                            && this.electricalMachineDetail.vehicleComponentText
                            && this.electricalMachineDetail.electricalMachineKindId
                            && this.electricalMachineDetail.electricalMachineTypeId
                            && this.electricalMachineDetail.electricMotorPowerMeasure
                            && this.electricalMachineDetail.electricalMachineVoltageMeasure
                        ) {
                            this.dialogEMachine = false;
                            this.electricalMachineDetail.electricalMachineKindName = this.dics.nsi28electricvkind
                                .find(m => m.id == this.electricalMachineDetail.electricalMachineKindId).name;

                            this.electricalMachineDetail.electricalMachineTypeName = this.dics.nsi60electricvtype
                                .find(m => m.id == this.electricalMachineDetail.electricalMachineTypeId).name;

                            this.electricalMachineDetail.electricMotorPowerMeasureUnitId = this.dics.nsi33unit
                                .find(m => m.code == this.electricalMachineDetail.electricMotorPowerMeasureUnitCode).id;
                            this.electricalMachineDetail.electricalMachineVoltageMeasureUnitId = this.dics.nsi33unit
                                .find(m => m.code == this.electricalMachineDetail.electricalMachineVoltageMeasureUnitCode).id;

                            this.electricalMachineDetail.state = ObjectState.Added;
                            this.electricalMachineDetail.characteristicsDetailId = this.charateristic.id;
                            this.electricalMachineDetail.clientId = this.charateristic.electricalMachineDetails.length + 1;

                            if (this.charateristic.id != 0) {
                                ComplienceService.saveEMachineDetail(this.electricalMachineDetail).then(response => {
                                    if (response.status == 'Ok') {
                                        this.electricalMachineDetail = response.data.entity;
                                        this.electricalMachineDetail.state = ObjectState.Unchanged;
                                        this.charateristic.electricalMachineDetails.push(this.electricalMachineDetail);
                                        this.electricalMachineDetail = new ElectricalMachineDetailModel();
                                    } else {
                                        this.dialogMsg = `Возникла ошибка: ${response.text}`;
                                    }
                                });
                            } else {
                                this.charateristic.electricalMachineDetails.push(this.electricalMachineDetail);
                                this.electricalMachineDetail = new ElectricalMachineDetailModel();
                            }
                        }
                    } else {
                        this.electricalMachineDetail.state = this.electricalMachineDetail.id != 0 ? ObjectState.Modified
                            : ObjectState.Added;
                        this.electricalMachineDetail.electricalMachineKindName = this.dics.nsi28electricvkind
                            .find(m => m.id == this.electricalMachineDetail.electricalMachineKindId).name;
                        this.electricalMachineDetail.electricalMachineTypeName = this.dics.nsi60electricvtype
                            .find(m => m.id == this.electricalMachineDetail.electricalMachineTypeId).name;

                        if (this.charateristic.id != 0) {
                            ComplienceService.saveEMachineDetail(this.electricalMachineDetail).then(response => {
                                if (response.status == 'Ok') {
                                    this.electricalMachineDetail = response.data.entity;
                                    this.electricalMachineDetail.state = ObjectState.Unchanged;
                                    this.charateristic.electricalMachineDetails
                                        .splice(indx, 1, ObjectHelper.deepCopy(this.electricalMachineDetail) as ElectricalMachineDetailModel);
                                } else {
                                    this.dialogMsg = `Возникла ошибка: ${response.text}`;
                                }
                            });
                        } else {
                            this.charateristic.electricalMachineDetails.splice(indx, 1, ObjectHelper.deepCopy(this.electricalMachineDetail) as ElectricalMachineDetailModel);
                        }
                        this.dialogEMachine = false;
                    }
                    
                }
            },
            deleteEMachine(item: ElectricalMachineDetailModel) {
                var indx = this.charateristic.electricalMachineDetails
                    .findIndex(e => e.clientId == item.clientId
                        && e.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let emachineDelete = this.charateristic.electricalMachineDetails[indx];
                        emachineDelete.state = ObjectState.Deleted;

                        ComplienceService.saveEMachineDetail(emachineDelete).then(response => {
                            if (response.status == 'Ok') {
                                this.charateristic.electricalMachineDetails.splice(indx, 1);
                            } else {
                                this.dialogMsg = `Возникла ошибка: ${response.text}`;
                            }
                        });
                    } else {
                        this.charateristic.electricalMachineDetails.splice(indx, 1);
                    }
                }
            },

            addStorage() {
                this.storageErrors = []

                if (this.powerStorageDeviceDetail.powerStorageDeviceTypeId
                    //&& this.powerStorageDeviceDetail.powerStorageDeviceLocation
                    && this.powerStorageDeviceDetail.powerStorageDeviceDescription
                    //&& this.powerStorageDeviceDetail.vehicleRangeMeasure
                    ) {
                    this.powerStorageDeviceDetail.electricalMachineDetailId = this.electricalMachineDetail.id;
                    this.powerStorageDeviceDetail.powerStorageDeviceTypeName = this.dics.nsi59powertype
                        .find(m => m.id == this.powerStorageDeviceDetail.powerStorageDeviceTypeId).name;

                    this.powerStorageDeviceDetail.vehicleRangeUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.powerStorageDeviceDetail.vehicleRangeUnitCode).id;
                    this.powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitCode).id;

                    this.powerStorageDeviceDetail.state = ObjectState.Added;

                    this.electricalMachineDetail.powerStorageDeviceDetails.push(this.powerStorageDeviceDetail);
                    this.powerStorageDeviceDetail = new PowerStorageDeviceDetailModel();
                } else {
                    this.storageErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteStorage(item: PowerStorageDeviceDetailModel) {
                var indx = this.electricalMachineDetail.powerStorageDeviceDetails
                    .findIndex(chd => chd.powerStorageDeviceTypeId == item.powerStorageDeviceTypeId && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.electricalMachineDetail.powerStorageDeviceDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.electricalMachineDetail.powerStorageDeviceDetails.splice(indx, 1);
                    }
                }
            },
        },
        created() {
            DictionaryService.getNsiValues('nsi028')
                .then(response => {
                    this.dics.nsi28electricvkind = response.data;
                    /*
                    if (this.charateristic.engineTypeCode != '3') {
                        let electroEngine = this.dics.nsi28electricvkind.find(d => d.code == '01');
                        if (electroEngine) {
                            this.electricalMachineDetail.electricalMachineKindId = electroEngine.id;
                            this.electricalMachineDetail.electricalMachineKindName = electroEngine.name;
                            //this.electricalMachineDetail.electricalMachineKindId = electroEngine.id;
                            this.disableEngineKind = true;
                        }
                    }
                    */
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi060')
                .then(response => {
                    this.dics.nsi60electricvtype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi059')
                .then(response => {
                    this.dics.nsi59powertype = response.data;
                }).catch(err => {
                });
            if (this.charateristic.engineTypeCode == '3') {
                this.title = "Электромашина";
            } else {
                this.title = "Электродвигатель/Электромашина";
            }
        },
        mounted() {
            
        },
    });
</script>