<template>
    <div>
        <section class="container container--fluid" id="engineDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#engineDetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                Двигатель
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-card outlined>
                    <v-row>
                        <v-col class="py-1 my-0">
                            <v-card-text class="py-1 my-0">
                                <v-row no-gutters>
                                    <v-col class="py-0 my-0">
                                        <v-switch v-model="notEngineDetailIndicator" :disabled="disabled"
                                                  inset dense class="mt-2"
                                                  label="Двигатель отсутствует"></v-switch>
                                    </v-col>
                                </v-row>
                                <v-row no-gutters v-if="!notEngineDetailIndicator">
                                    <v-col class="py-0 my-0">
                                        <v-autocomplete label="Тип двигателя" :disabled="disabled"
                                                        :items="dics.nsi118enginetype"
                                                        v-model="charateristic.engineTypeId"
                                                        clearable
                                                        dense
                                                        outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        hint="Выберите тип двигателя"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Описание гибридного транспортного средства -->
                                <v-row no-gutters v-if="!notEngineDetailIndicator">
                                    <v-col class="py-0 my-0" v-if="charateristic.engineTypeCode == '3'">
                                        <v-card-title class="py-1 my-0">
                                            Описание гибридного транспортного средства
                                        </v-card-title>
                                        <v-card-text class="py-1 my-0">
                                            <v-simple-table dense>
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center py-1" width="80%">
                                                                <v-text-field v-model.number="vehicleHybridDesign.vehicleHybridDesignText" :disabled="disabled"
                                                                              label="Описание"
                                                                              dense hide-details clearable></v-text-field>
                                                            </th>
                                                            <th class="text-center py-1" width="20%">
                                                                <v-btn outlined v-if="!disabled"
                                                                       @click="addHybridDesign">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                    Добавить
                                                                </v-btn>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <template v-for="(item, index) in vehicleHybridDesignsList">
                                                            <tr>
                                                                <td class="text-left">{{ item.vehicleHybridDesignText }}</td>
                                                                <td class="text-center">
                                                                    <v-btn icon v-if="!disabled"
                                                                           class="mx-auto"
                                                                           @click="deleteHybridDesign(item)">
                                                                        <v-icon color="red lighten-1">
                                                                            mdi-close
                                                                        </v-icon>
                                                                    </v-btn>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <v-row v-if="!notEngineDetailIndicator ">
                        <v-col class="py-1 my-0" v-if="charateristic.engineTypeCode == '1' || charateristic.engineTypeCode == '3'">
                            <internalengine-form :charateristic="charateristic" :document="document" :disabled="disabled"></internalengine-form>
                        </v-col>
                    </v-row>

                    <v-row v-if="!notEngineDetailIndicator">
                        <v-col v-if="charateristic.engineTypeCode == '2' || charateristic.engineTypeCode == '3'">
                            <electricalengine-form :charateristic="charateristic" :disabled="disabled"></electricalengine-form>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                            <powerstorage-form :charateristic="charateristic" :disabled="disabled"></powerstorage-form>
                        </v-col>
                    </v-row>

                </v-card>
            </v-lazy>
        </section>
    </div>
</template>


<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import InternalEngineDetailForm  from './InternalEngineDetailForm.vue';
    import ElectricalEngineDetailForm from './ElectricalEngineDetailForm.vue';
    import PowerStorageDeviceDetailForm from './PowerStorageDeviceDetailForm.vue';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { EngineDetailModel } from '@/models/vehicle/characteristics/EngineDetail.model';
    import { ElectricalMachineDetailModel } from '@/models/vehicle/characteristics/ElectricalMachineDetail.model';
    import { PowerStorageDeviceDetailModel } from '@/models/vehicle/characteristics/PowerStorageDeviceDetail.model';

    import { VehicleHybridDesignModel } from '@/models/vehicle/characteristics/VehicleHybridDesign.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import DictionaryService from '@/services/dictionary.service';

    export default Vue.extend({
        name: 'EngineDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                notEngineDetailIndicator: boolean,

                engineDetail: EngineDetailModel,

                vehicleHybridDesign: VehicleHybridDesignModel,
                engineFormValid: boolean, 

                electricalMachineDetail: ElectricalMachineDetailModel,
                powerStorageDeviceDetail: PowerStorageDeviceDetailModel,
                electricFormValid: boolean,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi118enginetype: [],
                },
                notEngineDetailIndicator: false,

                engineDetail: new EngineDetailModel(),
                vehicleHybridDesign: new VehicleHybridDesignModel(),
                engineFormValid: false,

                electricalMachineDetail: new ElectricalMachineDetailModel(),
                powerStorageDeviceDetail: new PowerStorageDeviceDetailModel(),
                electricFormValid: false,
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notEngineDetailIndicator: function (val, oldVal) {
                this.charateristic.notEngineDetailIndicator = !!val ? 1 : 0;
            },
            'charateristic.notEngineDetailIndicator': function (val, oldVal) {
                this.notEngineDetailIndicator = val == 1;
            },
            'charateristic.engineTypeId': function (val, oldVal) {
                if (this.dics.nsi118enginetype && this.dics.nsi118enginetype.length > 0) {
                    this.charateristic.engineTypeCode = this.dics.nsi118enginetype
                        .find(n => n.id == this.charateristic.engineTypeId).code;
                }
            },
        },
        computed: {
            vehicleHybridDesignsList(): Array<VehicleHybridDesignModel> {
                return this.charateristic.vehicleHybridDesigns.filter(vr => vr.state != ObjectState.Deleted);
            },
        },
        methods: {
            addHybridDesign() {
                if (this.vehicleHybridDesign.vehicleHybridDesignText) {
                    if (!this.charateristic.vehicleHybridDesigns
                        .some(d => d.vehicleHybridDesignText == this.vehicleHybridDesign.vehicleHybridDesignText
                            && d.id == this.vehicleHybridDesign.id))
                    {
                        this.vehicleHybridDesign.characteristicId = this.charateristic.id;
                        this.vehicleHybridDesign.state = ObjectState.Added;
                        this.charateristic.vehicleHybridDesigns.push(this.vehicleHybridDesign);
                        this.vehicleHybridDesign = new VehicleHybridDesignModel();
                    }
                }
            },
            deleteHybridDesign(item: VehicleHybridDesignModel) {
                var indx = this.charateristic.vehicleHybridDesigns
                    .findIndex(chd => chd.vehicleHybridDesignText == item.vehicleHybridDesignText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.charateristic.vehicleHybridDesigns[indx].state = ObjectState.Deleted;
                    } else {
                        this.charateristic.vehicleHybridDesigns.splice(indx, 1);
                    }
                }
            },
        },
        components: {
            'internalengine-form': InternalEngineDetailForm,
            'electricalengine-form': ElectricalEngineDetailForm,
            'powerstorage-form': PowerStorageDeviceDetailForm,
        },
        async created() {
            DictionaryService.getNsiValues('nsi118')
                .then(response => {
                    this.dics.nsi118enginetype = response.data;
                }).catch(err => {
                });
        },
    });
</script>


