﻿<template>
    <div>
        <v-card-title class="py-1 my-0">
            Двигатель внутреннего сгорания
        </v-card-title>
        <v-card-text class="py-1 my-0">
            <v-simple-table dense>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th class="text-center py-1" width="20%">
                                Марка
                            </th>
                            <th class="text-center py-1" width="50%">
                                Тип
                            </th>
                            <th class="text-center py-1" width="20%">
                            </th>
                            <th class="text-center py-1" width="10%">
                                <v-btn outlined v-if="!disabled"
                                       @click="addEngine">
                                    <v-icon>mdi-plus</v-icon>
                                    Добавить
                                </v-btn>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, index) in engineDetailsList">
                            <tr class="blue-grey lighten-3">
                                <td class="text-center">{{ item.vehicleComponentMakeName }}</td>
                                <td class="text-center">{{ item.vehicleComponentText }}</td>
                                <td class="text-center">
                                </td>
                                <td class="text-center">
                                    <v-btn icon v-if="!disabled"
                                           class="mx-auto"
                                           @click="editEngine(item)">
                                        <v-icon color="indigo lighten-1">
                                            mdi-pencil
                                        </v-icon>
                                    </v-btn>
                                    <v-btn icon v-if="!disabled"
                                           class="mx-auto"
                                           @click="deleteEngine(item)">
                                        <v-icon color="red lighten-1">
                                            mdi-close
                                        </v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - количество и расположение цилиндров
                                </td>
                                <td colspan="2">
                                    {{ item.engineCylinderQuantity }} - {{ item.engineCylinderArrangementName }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - рабочий объем цилиндров ({{ item.engineCapacityMeasureUnitName }})
                                </td>
                                <td colspan="2">
                                    {{ item.engineCapacityMeasure }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - степень сжатия
                                </td>
                                <td colspan="2">
                                    {{ item.engineCompressionRate }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - максимальная мощность
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.enginePowerDetails">
                                            {{ itm.engineMaxPowerMeasure }}
                                            ({{ itm.engineMaxPowerShaftRotationFrequencyMinMeasure }}
                                            - {{ itm.engineMaxPowerShaftRotationFrequencyMaxMeasure }})
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - максимальный крутящий момент
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.engineTorqueDetails">
                                            {{ itm.engineMaxTorqueMeasure }}
                                            ({{ itm.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure }} -
                                            {{ itm.engineMaxTorqueMeasureShaftRotationFrequencyMaxMeasure }})
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - топливо
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.vehicleFuelKinds">
                                            {{ itm.fuelKindName }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - cистема питания
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.engineFuelFeedDetails">
                                            {{ itm.fuelFeedName }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - блок управления
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.ecuModelDetails">
                                            {{ itm.ecuModel }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - система зажигания
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.vehicleIgnitionDetails">
                                            {{ itm.vehicleIgnitionTypeName }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    - система выпуска и нейтрализации отработавших газов
                                </td>
                                <td colspan="2">
                                    <ul>
                                        <li v-for="(itm, index) in item.exhaustDetails">
                                            {{ itm.exhaustDescription }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </template>
            </v-simple-table>
        </v-card-text>


        <!-- Dialog -->
        <v-row justify="center" no-gutters>
            <v-dialog v-model="dialogEngine"
                      persistent
                      max-width="800px">
                <v-form ref="engineForm"
                        v-model="engineFormValid"
                        lazy-validation>
                    <v-card>
                        <v-card-title class="headline grey lighten-2 mb-2">
                            <span class="headline">Двигатель внутреннего сгорания</span>
                        </v-card-title>
                        <v-card-text>
                            <!-- Наименование марки  -->
                            <v-row>
                                <v-col class="py-1">
                                    <v-text-field v-model="engineDetail.vehicleComponentMakeName"
                                                  label="Марка*"
                                                  dense hide-details clearable
                                                  outlined required
                                                  :rules="rules.required">
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Описание конструктивных особенностей  -->
                            <v-row>
                                <v-col class="py-1">
                                    <v-text-field v-model="engineDetail.vehicleComponentText"
                                                  label="Тип"
                                                  dense hide-details clearable
                                                  outlined>
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <!-- Количество и объем цилиндров  -->
                            <v-row>
                                <v-col cols="12">
                                    <v-card-subtitle class="pb-0">
                                        Количество и объем цилиндров
                                        <v-divider></v-divider>
                                    </v-card-subtitle>
                                </v-col>
                            </v-row>
                            <v-card-text class="py-0 my-0">
                                <v-row>
                                    <v-col class="py-1">
                                        <v-text-field-integer v-model="engineDetail.engineCylinderQuantity"
                                                              label="Количество цилиндров*"
                                                              :rules="rules.required"
                                                              v-bind:properties="{
                                            prefix: '',
                                            suffix: '',
                                            readonly: false,
                                            disabled: false,
                                            outlined: true,
                                            clearable: true,
                                            placeholder: '',
                                            dense: true,
                                            'hide-details': true,
                                            required: true,
                                          }"
                                                              v-bind:options="{
                                            inputMask: '####',
                                            outputMask: '####',
                                            empty: null,
                                            applyAfter: false,
                                          }" />
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="py-1">
                                        <v-autocomplete label="Расположение цилиндров*"
                                                        :items="dics.nsi48cylinderLocation"
                                                        v-model="engineDetail.engineCylinderArrangementId"
                                                        clearable
                                                        dense hide-details
                                                        outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        required
                                                        :rules="rules.required"></v-autocomplete>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="py-1">
                                        <v-text-field v-model.number="engineDetail.engineCapacityMeasure"
                                                      label="Рабочий объем цилиндров*"
                                                      type="number"
                                                      :suffix="engineDetail.engineCapacityMeasureUnitName"
                                                      dense hide-details clearable
                                                      outlined required
                                                      :rules="rules.required"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="py-1">
                                        <v-text-field v-model="engineDetail.engineCompressionRate"
                                                      label="Степень сжатия*"
                                                      dense hide-details clearable
                                                      outlined required
                                                      :rules="rules.required"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                            <!-- Максимальная мощность двигателя -->
                            <v-row>
                                <v-col>
                                    <v-card-subtitle class="pb-0">
                                        Максимальная мощность двигателя
                                        <v-divider></v-divider>
                                    </v-card-subtitle>
                                </v-col>
                            </v-row>
                            <v-card-text class="py-0 my-0">
                                <v-row>
                                    <v-col class="py-1">
                                        <v-card outlined>
                                            <v-card-text class="py-0 my-0">
                                                <v-col class="py-3 my-0">
                                                    <v-text-field v-model.number="enginePowerDetail.engineMaxPowerMeasure"
                                                                  label="Максимальная мощность*"
                                                                  type="number"
                                                                  :suffix="enginePowerDetail.engineMaxPowerMeasureUnitName"
                                                                  :error-messages="enginePowerDetailErrors"
                                                                  dense hide-details clearable required></v-text-field>
                                                </v-col>
                                                <v-row>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        Скорость вращения коленчатого вала
                                                    </v-col>
                                                    <v-col cols="6" class="py-1 my-0">
                                                        <v-text-field v-model.number="enginePowerDetail.engineMaxPowerShaftRotationFrequencyMinMeasure"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      :suffix="enginePowerDetail.engineMaxPowerShaftRotationFrequencyMeasureUnitName"
                                                                      :error-messages="enginePowerDetailErrors"
                                                                      dense hide-details clearable required></v-text-field>
                                                    </v-col>
                                                    <v-col cols="6" class="py-1 my-0">
                                                        <v-text-field v-model.number="enginePowerDetail.engineMaxPowerShaftRotationFrequencyMaxMeasure"
                                                                      label="Максимально"
                                                                      type="number"
                                                                      :suffix="enginePowerDetail.engineMaxPowerShaftRotationFrequencyMeasureUnitName"
                                                                      
                                                                      dense hide-details clearable></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" class="d-flex justify-end pa-1">
                                                        <v-btn outlined
                                                               @click="addEnginePower">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col class="py-0 my-0">
                                                        <v-simple-table dense>
                                                            <template v-slot:default>
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center pa-1" width="40%">
                                                                            Максимальная мощность двигателя
                                                                        </th>
                                                                        <th class="text-center pa-1" width="60%"
                                                                            colspan="2">
                                                                            Скорость вращения коленчатого вала
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th class="text-center pa-1" width="30%">
                                                                            Минимально
                                                                        </th>
                                                                        <th class="text-center pa-1" width="30%">
                                                                            Максимально
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <template v-for="(item, index) in enginePowerDetailList">
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                {{ item.engineMaxPowerMeasure }}
                                                                            </td>
                                                                            <td class="text-center">
                                                                                {{ item.engineMaxPowerShaftRotationFrequencyMinMeasure }}
                                                                            </td>
                                                                            <td class="text-center">
                                                                                {{ item.engineMaxPowerShaftRotationFrequencyMaxMeasure }}
                                                                            </td>
                                                                            <td class="text-center">
                                                                                <v-btn icon
                                                                                       class="mx-auto"
                                                                                       @click="deleteEnginePower(item)">
                                                                                    <v-icon color="red lighten-1">
                                                                                        mdi-close
                                                                                    </v-icon>
                                                                                </v-btn>
                                                                            </td>
                                                                        </tr>
                                                                    </template>
                                                                </tbody>
                                                            </template>
                                                        </v-simple-table>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                            <!-- Максимальный крутящий момент двигателя -->
                            <v-row v-if="!isSbkts">
                                <v-col cols="12">
                                    <v-card-subtitle class="pb-0">
                                        Максимальный крутящий момент двигателя
                                        <v-divider></v-divider>
                                    </v-card-subtitle>
                                </v-col>
                            </v-row>
                            <v-card-text class="py-0 my-0" v-if="!isSbkts">
                                <v-row>
                                    <v-col>
                                        <v-card outlined>
                                            <v-card-text class="py-0 my-0">
                                                <v-row>
                                                    <v-col class="py-3 my-0">
                                                        <v-text-field v-model.number="engineTorqueDetail.engineMaxTorqueMeasure"
                                                                      label="Максимальный крутящий момент*"
                                                                      type="number"
                                                                      :suffix="engineTorqueDetail.engineMaxTorqueMeasureUnitName"
                                                                      :error-messages="engineTorqueDetailErrors"
                                                                      dense hide-details clearable required></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        Скорость вращения коленчатого вала
                                                    </v-col>
                                                    <v-col cols="6" class="py-1 my-0">
                                                        <v-text-field v-model.number="engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      :suffix="engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMeasureUnitName"
                                                                      :error-messages="engineTorqueDetailErrors"
                                                                      dense hide-details clearable required></v-text-field>
                                                    </v-col>
                                                    <v-col cols="6" class="py-1 my-0">
                                                        <v-text-field v-model.number="engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMaxMeasure"
                                                                      label="Максимально"
                                                                      type="number"
                                                                      :suffix="engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMeasureUnitName"
                                                                      dense hide-details clearable></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" class="d-flex justify-end pa-1">
                                                        <v-btn outlined
                                                               @click="addEngineTorque">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col class="py-0 my-0">
                                                        <template>
                                                            <v-simple-table dense>
                                                                <template v-slot:default>
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center pa-1" width="40%">
                                                                                Максимальный крутящий момент
                                                                            </th>
                                                                            <th class="text-center pa-1" width="60%"
                                                                                colspan="2">
                                                                                Скорость вращения коленчатого вала
                                                                            </th>
                                                                            <th></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th class="text-center pa-1" width="30%">
                                                                                Минимально
                                                                            </th>
                                                                            <th class="text-center pa-1" width="30%">
                                                                                Максимально
                                                                            </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <template v-for="(item, index) in engineTorqueDetailList">
                                                                            <tr>
                                                                                <td class="text-center">
                                                                                    {{ item.engineMaxTorqueMeasure }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ item.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ item.engineMaxTorqueMeasureShaftRotationFrequencyMaxMeasure }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <v-btn icon
                                                                                           class="mx-auto"
                                                                                           @click="deleteEngineTorque(item)">
                                                                                        <v-icon color="red lighten-1">
                                                                                            mdi-close
                                                                                        </v-icon>
                                                                                    </v-btn>
                                                                                </td>
                                                                            </tr>
                                                                        </template>
                                                                    </tbody>
                                                                </template>
                                                            </v-simple-table>
                                                        </template>

                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                            <!-- Топливо отсутствует -->
                            <v-row>                               
                                <v-col cols="12">
                                    <v-card-title class="py-1 my-0">
                                        Топливо
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <v-row no-gutters>
                                            <v-col cols="12" class="py-1">
                                                <v-switch v-model="notVehicleFuelIndicator"
                                                            inset dense hide-details class="mt-0"
                                                            label="Топливо отсутствует"></v-switch>
                                            </v-col>
                                            <v-col cols="12" v-if="!notVehicleFuelIndicator">
                                                <template>
                                                    <v-simple-table dense>
                                                        <template v-slot:default>
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center py-1" width="80%">
                                                                        <v-autocomplete :disabled="notVehicleFuelIndicator"
                                                                                        label="Топливо"
                                                                                        :items="dics.nsi30fueltype"
                                                                                        v-model="vehicleFuelkind.fuelKindId"
                                                                                        clearable
                                                                                        dense hide-details
                                                                                        item-text="name"
                                                                                        item-value="id"
                                                                                        :error-messages="fuelkindErrors"
                                                                                        :menu-props="{ maxHeight: '400' }">
                                                                        </v-autocomplete>
                                                                    </th>
                                                                    <th class="text-center py-1" width="20%">
                                                                        <v-btn outlined :disabled="notVehicleFuelIndicator"
                                                                                @click="addVehicleFuelKind">
                                                                            <v-icon>mdi-plus</v-icon>
                                                                            Добавить
                                                                        </v-btn>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <template v-for="(item, index) in vehicleFuelKindList">
                                                                    <tr>
                                                                        <td class="text-center">{{ item.fuelKindName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon
                                                                                    class="mx-auto"
                                                                                    @click="deleteVehicleFuelKind(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                            </tbody>
                                                        </template>
                                                    </v-simple-table>
                                                </template>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>

                            <!-- Система питания отсутствует -->
                            <v-row>
                                <v-col cols="12">
                                    <v-card-title class="py-1 my-0">
                                        Система питания
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <v-row no-gutters> 
                                            <v-col cols="12" class="py-1">
                                                <v-switch v-model="notFuelFeedDetailIndicator"
                                                          inset dense hide-details class="mt-0"
                                                          label="Система питания отсутствует"></v-switch>
                                            </v-col>
                                            <v-col cols="12" v-if="!notFuelFeedDetailIndicator">
                                                <template>
                                                    <v-simple-table dense>
                                                        <template v-slot:default>
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center py-1" width="80%">
                                                                        <v-autocomplete :disabled="notFuelFeedDetailIndicator"
                                                                                        label="Система питания"
                                                                                        :items="dics.nsi56fuelfeed"
                                                                                        v-model="engineFuelFeedDetail.fuelFeedId"
                                                                                        clearable
                                                                                        dense hide-details
                                                                                        item-text="name"
                                                                                        item-value="id"
                                                                                        :error-messages="fuelFeedErrors"
                                                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                                    </th>
                                                                    <th class="text-center py-1" width="20%">
                                                                        <v-btn outlined :disabled="notFuelFeedDetailIndicator"
                                                                               @click="addFuelFeedDetail">
                                                                            <v-icon>mdi-plus</v-icon>
                                                                            Добавить
                                                                        </v-btn>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <template v-for="(item, index) in engineFuelFeedDetailList">
                                                                    <tr>
                                                                        <td class="text-center">{{ item.fuelFeedName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon
                                                                                   class="mx-auto"
                                                                                   @click="deleteFuelFeedDetail(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                            </tbody>
                                                        </template>
                                                    </v-simple-table>
                                                </template>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>

                            <!-- Блок управления -->
                            <v-row v-if="!isSbkts">
                                <v-col>
                                    <v-card-title class="py-1 my-0">
                                        Блок управления
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <template>
                                            <v-simple-table dense>
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center py-1" width="80%">
                                                                <v-text-field v-model="ecuModelDetail.ecuModel"
                                                                              label="Маркировка"
                                                                              :error-messages="ecuModelErrors"
                                                                              dense hide-details clearable></v-text-field>
                                                            </th>
                                                            <th class="text-center py-1" width="20%">
                                                                <v-btn outlined
                                                                       @click="addEcu">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                    Добавить
                                                                </v-btn>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <template v-for="(item, index) in ecuModelDetailsList">
                                                            <tr>
                                                                <td class="text-center">{{ item.ecuModel }}</td>
                                                                <td class="text-center">
                                                                    <v-btn icon
                                                                           class="mx-auto"
                                                                           @click="deleteEcu(item)">
                                                                        <v-icon color="red lighten-1">
                                                                            mdi-close
                                                                        </v-icon>
                                                                    </v-btn>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </template>
                                    </v-card-text>
                                </v-col>
                            </v-row>

                            <!-- Система зажигания  -->
                            <v-row>
                                <v-col cols="12">
                                    <v-card-title class="py-1 my-0">
                                        Система зажигания
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <v-row no-gutters>
                                            <v-col cols="12" class="py-0 my-0">
                                                <v-switch v-model="notVehicleIgnitionDetailIndicator"
                                                          inset dense hide-details class="mt-0"
                                                          label="Система зажигания отсутствует"></v-switch>
                                            </v-col>
                                            <v-col cols="12" class="py-0 my-0" v-if="!notVehicleIgnitionDetailIndicator">
                                                <template>
                                                    <v-simple-table dense>
                                                        <template v-slot:default>
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center py-1" width="80%">
                                                                        <v-autocomplete label="Тип*"
                                                                                        :items="dics.nsi55ignitionType"
                                                                                        v-model="vehicleIgnitionDetail.vehicleIgnitionTypeId"
                                                                                        clearable
                                                                                        dense hide-details
                                                                                        item-text="name"
                                                                                        item-value="id"
                                                                                        :error-messages="vehicleIgnitionErrors"
                                                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                                    </th>
                                                                    <th class="text-center py-1" width="20%">
                                                                        <v-btn outlined
                                                                               @click="addIgnition">
                                                                            <v-icon>mdi-plus</v-icon>
                                                                            Добавить
                                                                        </v-btn>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <template v-for="(item, index) in vehicleIgnitionDetailsList">
                                                                    <tr>
                                                                        <td class="text-center">{{ item.vehicleIgnitionTypeName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon
                                                                                   class="mx-auto"
                                                                                   @click="deleteIgnition(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                            </tbody>
                                                        </template>
                                                    </v-simple-table>
                                                </template>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>

                            <!-- Система выпуска и нейтрализации отработавших газов  -->
                            <v-row>
                                <v-col cols="12">
                                    <v-card-title class="py-1 my-0">
                                        Система выпуска и нейтрализации отработавших газов
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <v-row no-gutters>
                                            <v-col cols="12" class="py-0 my-0">
                                                <v-switch v-model="notExhaustDetailIndicator"
                                                          inset dense hide-details class="mt-0"
                                                          label="Система выпуска и нейтрализации отработавших газов отсутствует"></v-switch>
                                            </v-col>
                                            <v-col cols="12" class="py-0 my-0" v-if="!notExhaustDetailIndicator">
                                                <template>
                                                    <v-simple-table dense>
                                                        <template v-slot:default>
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center py-1" width="80%">
                                                                        <v-text-field v-model="exhaustDetail.exhaustDescription"
                                                                                      label="Тип"
                                                                                      :error-messages="exhaustDetailErrors"
                                                                                      dense hide-details clearable></v-text-field>
                                                                    </th>
                                                                    <th class="text-center py-1" width="20%">
                                                                        <v-btn outlined
                                                                               @click="addExhaust">
                                                                            <v-icon>mdi-plus</v-icon>
                                                                            Добавить
                                                                        </v-btn>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <template v-for="(item, index) in exhaustDetailsList">
                                                                    <tr>
                                                                        <td class="text-center">{{ item.exhaustDescription }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon
                                                                                   class="mx-auto"
                                                                                   @click="deleteExhaust(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                            </tbody>
                                                        </template>
                                                    </v-simple-table>
                                                </template>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-alert dense outlined type="error" v-if="dialogMsg">
                                        {{ dialogMsg }}
                                    </v-alert>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>                            
                            <v-spacer></v-spacer>

                            <v-btn color="primary"
                                   text
                                   @click="saveEngine">
                                Сохранить
                            </v-btn>
                            <v-btn color="secondary"
                                   text
                                   @click="cancelEngine">
                                Отмена
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-row>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { EngineDetailModel } from '@/models/vehicle/characteristics/EngineDetail.model';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { EnginePowerDetailModel } from '@/models/vehicle/characteristics/EnginePowerDetail.model';
    import { EngineTorqueDetailModel } from '@/models/vehicle/characteristics/EngineTorqueDetail.model';
    import { ECUModelDetailModel } from '@/models/vehicle/characteristics/ECUModelDetail.model';
    import { VehicleIgnitionDetailModel } from '@/models/vehicle/characteristics/VehicleIgnitionDetail.model';
    import { ExhaustDetailModel } from '@/models/vehicle/characteristics/ExhaustDetail.model';
    import { VehicleFuelKindModel } from '@/models/vehicle/characteristics/VehicleFuelKind.model';
    import { EngineFuelFeedDetailModel } from '@/models/vehicle/characteristics/EngineFuelFeedDetail.model';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import DictionaryService from '@/services/dictionary.service';
    import ObjectHelper from '@/helpers/object.helper';
    import ComplienceService from '@/services/document/complience.service';


    export default Vue.extend({
        name: 'InternalEngineDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialogEngine: boolean,
                engineFormValid: boolean, 

                engineDetail: EngineDetailModel,
                vehicleFuelkind: VehicleFuelKindModel,
                engineFuelFeedDetail: EngineFuelFeedDetailModel,
                enginePowerDetail: EnginePowerDetailModel,
                engineTorqueDetail: EngineTorqueDetailModel,
                ecuModelDetail: ECUModelDetailModel,
                vehicleIgnitionDetail: VehicleIgnitionDetailModel,
                exhaustDetail: ExhaustDetailModel,

                notVehicleFuelIndicator: boolean,
                notFuelFeedDetailIndicator: boolean,
                notVehicleIgnitionDetailIndicator: boolean,
                notExhaustDetailIndicator: boolean,

                dialogMsg: string,

                enginePowerDetailErrors: any,
                engineTorqueDetailErrors: any,
                fuelkindErrors: any,
                fuelFeedErrors: any,
                ecuModelErrors: any,
                vehicleIgnitionErrors: any,
                exhaustDetailErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi30fueltype: [],
                    nsi56fuelfeed: [],
                    nsi48cylinderLocation: [],
                    nsi33unit: [],
                    nsi55ignitionType: [],
                },
                dialogEngine: false,
                engineFormValid: true,

                engineDetail: new EngineDetailModel(),
                vehicleFuelkind: new VehicleFuelKindModel(),
                engineFuelFeedDetail: new EngineFuelFeedDetailModel(),
                enginePowerDetail: new EnginePowerDetailModel(),
                engineTorqueDetail: new EngineTorqueDetailModel(),
                ecuModelDetail: new ECUModelDetailModel(),
                vehicleIgnitionDetail: new VehicleIgnitionDetailModel(),
                exhaustDetail: new ExhaustDetailModel(),

                notVehicleFuelIndicator: false,
                notFuelFeedDetailIndicator: false,
                notVehicleIgnitionDetailIndicator: false,
                notExhaustDetailIndicator: false,

                dialogMsg: '',
                enginePowerDetailErrors: [],
                engineTorqueDetailErrors: [],
                fuelkindErrors: [],
                fuelFeedErrors: [],
                ecuModelErrors: [],
                vehicleIgnitionErrors: [],
                exhaustDetailErrors: [],
            };
            return dataObj;
        },
        watch: {
            notExhaustDetailIndicator: function (val, oldVal) {
                this.engineDetail.notExhaustDetailIndicator = !!val ? 1 : 0;
            },
            'engineDetail.notExhaustDetailIndicator': function (val, oldVal) {
                this.notExhaustDetailIndicator = val == 1;
            },

            notVehicleIgnitionDetailIndicator: function (val, oldVal) {
                this.engineDetail.notVehicleIgnitionDetailIndicator = !!val ? 1 : 0;
            },
            'engineDetail.notVehicleIgnitionDetailIndicator': function (val, oldVal) {
                this.notVehicleIgnitionDetailIndicator = val == 1;
            },

            notVehicleFuelIndicator: function (val, oldVal) {
                this.engineDetail.notVehicleFuelIndicator = !!val ? 1 : 0;
            },
            'engineDetail.notVehicleFuelIndicator': function (val, oldVal) {
                this.notVehicleFuelIndicator = val == 1;
            },
            notFuelFeedDetailIndicator: function (val, oldVal) {
                this.engineDetail.notFuelFeedDetailIndicator = !!val ? 1 : 0;
            },
            'engineDetail.notFuelFeedDetailIndicator': function (val, oldVal) {
                this.notFuelFeedDetailIndicator = val == 1;
            },
        },
        computed: {
            engineDetailsList(): Array<EngineDetailModel> {
                return this.charateristic.engineDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            ecuModelDetailsList(): Array<ECUModelDetailModel> {
                return this.engineDetail.ecuModelDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleIgnitionDetailsList(): Array<VehicleIgnitionDetailModel> {
                return this.engineDetail.vehicleIgnitionDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            exhaustDetailsList(): Array<ExhaustDetailModel> {
                return this.engineDetail.exhaustDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            enginePowerDetailList(): Array<EnginePowerDetailModel> {
                return this.engineDetail.enginePowerDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            engineTorqueDetailList(): Array<EngineTorqueDetailModel> {
                return this.engineDetail.engineTorqueDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleFuelKindList(): Array<VehicleFuelKindModel> {
                return this.engineDetail.vehicleFuelKinds.filter(vr => vr.state != ObjectState.Deleted);
            },
            engineFuelFeedDetailList(): Array<EngineFuelFeedDetailModel> {
                return this.engineDetail.engineFuelFeedDetails.filter(vr => vr.state != ObjectState.Deleted);
            },

            isSbkts() {
                return this.document.docTypeCode === 'sbkts';
            }
        },
        methods: {
            addEngine() {
                this.dialogEngine = true;
            },
            editEngine(item: EngineDetailModel) {
                this.dialogEngine = true;
                this.engineDetail = ObjectHelper.deepCopy(item) as EngineDetailModel;
            },
            saveEngine() {
                this.dialogMsg = '';
                if ((this.$refs.engineForm as any).validate()) {

                    const indx = this.charateristic.engineDetails
                        .findIndex(e => e.clientId == this.engineDetail.clientId
                            && e.id == this.engineDetail.id);

                    if (indx < 0) {
                        //if (this.engineDetail.vehicleComponentText
                        //    && this.engineDetail.vehicleComponentMakeName) {

                            this.engineDetail.engineCylinderArrangementName = this.dics.nsi48cylinderLocation
                                .find(m => m.id == this.engineDetail.engineCylinderArrangementId).name;
                            this.engineDetail.engineCapacityMeasureUnitId = this.dics.nsi33unit
                                .find(m => m.code == this.engineDetail.engineCapacityMeasureUnitCode).id;

                            this.engineDetail.state = ObjectState.Added;
                            this.engineDetail.characteristicsDetailId = this.charateristic.id;
                            this.engineDetail.clientId = this.charateristic.engineDetails.length + 1;

                            if (this.charateristic.id != 0) {
                                ComplienceService.saveEngineDetail(this.engineDetail).then(response => {
                                    if (response.status == 'Ok') {
                                        this.engineDetail = response.data.entity;
                                        this.engineDetail.state = ObjectState.Unchanged;
                                        this.charateristic.engineDetails.push(this.engineDetail);
                                        this.engineDetail = new EngineDetailModel();
                                    } else {
                                        this.dialogMsg = `Возникла ошибка: ${response.text}`;
                                    }
                                });
                            } else {
                                this.charateristic.engineDetails.push(this.engineDetail);
                                this.engineDetail = new EngineDetailModel();
                            }
                            this.dialogEngine = false;
                            
                        //} else {
                            //this.dialogMsg = `Двигатель (марка: ${this.engineDetail.vehicleComponentMakeName} и тип: ${this.engineDetail.vehicleComponentText}) уже существует`;
                            // this.dialogMsg = `Двигатель (марка: ${this.engineDetail.vehicleComponentMakeName} и тип: ${this.engineDetail.vehicleComponentText}) уже существует`;
                        //}
                    } else {
                        this.engineDetail.state = this.engineDetail.id != 0 ? ObjectState.Modified : ObjectState.Added;
                        this.engineDetail.engineCylinderArrangementName = this.dics.nsi48cylinderLocation
                            .find(m => m.id == this.engineDetail.engineCylinderArrangementId).name;

                        if (this.charateristic.id != 0) {
                            ComplienceService.saveEngineDetail(this.engineDetail).then(response => {
                                if (response.status == 'Ok') {
                                    this.engineDetail = response.data.entity;
                                    this.engineDetail.state = ObjectState.Unchanged;
                                    this.charateristic.engineDetails.splice(indx, 1, ObjectHelper.deepCopy(this.engineDetail) as EngineDetailModel);
                                } else {
                                    this.dialogMsg = `Возникла ошибка: ${response.text}`;
                                }
                            });
                        } else {
                            this.charateristic.engineDetails.splice(indx, 1, ObjectHelper.deepCopy(this.engineDetail) as EngineDetailModel);
                        }
                        this.dialogEngine = false;
                    }
                }
            },
            deleteEngine(item: EngineDetailModel) {
                let indx = this.charateristic.engineDetails
                    .findIndex(chd => chd.vehicleComponentText == item.vehicleComponentText
                        && chd.vehicleComponentMakeName == item.vehicleComponentMakeName
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let engineDelete = this.charateristic.engineDetails[indx];
                        engineDelete.state = ObjectState.Deleted;

                        ComplienceService.saveEngineDetail(engineDelete).then(response => {
                            if (response.status == 'Ok') {
                                this.charateristic.engineDetails.splice(indx, 1);
                            }
                        });
                    } else {
                        this.charateristic.engineDetails.splice(indx, 1);
                    }
                }
            },
            cancelEngine() {
                this.dialogEngine = false;
                this.engineDetail = new EngineDetailModel();
            },

            addEnginePower() {
                this.enginePowerDetailErrors = [];
                if (this.enginePowerDetail.engineMaxPowerMeasure
                    && this.enginePowerDetail.engineMaxPowerShaftRotationFrequencyMinMeasure) {
                    this.enginePowerDetail.engineDetailId = this.engineDetail.id;
                    this.enginePowerDetail.state = ObjectState.Added;

                    this.enginePowerDetail.engineMaxPowerMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.enginePowerDetail.engineMaxPowerMeasureUnitCode).id;
                    this.enginePowerDetail.engineMaxPowerShaftRotationFrequencyMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.enginePowerDetail.engineMaxPowerShaftRotationFrequencyMeasureUnitCode).id;

                    this.engineDetail.enginePowerDetails.push(this.enginePowerDetail);
                    this.enginePowerDetail = new EnginePowerDetailModel();
                } else {
                    this.enginePowerDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteEnginePower(item: EnginePowerDetailModel) {
                var indx = this.engineDetail.enginePowerDetails
                    .findIndex(chd => chd.engineMaxPowerMeasure == item.engineMaxPowerMeasure
                        && chd.engineMaxPowerShaftRotationFrequencyMinMeasure == item.engineMaxPowerShaftRotationFrequencyMinMeasure
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.enginePowerDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.enginePowerDetails.splice(indx, 1);
                    }
                }
            },

            addEngineTorque() {
                this.engineTorqueDetailErrors = [];
                if (this.engineTorqueDetail.engineMaxTorqueMeasure
                    && this.engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure) {
                    this.engineTorqueDetail.engineDetailId = this.engineDetail.id;
                    this.engineTorqueDetail.state = ObjectState.Added;

                    this.engineTorqueDetail.engineMaxTorqueMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.engineTorqueDetail.engineMaxTorqueMeasureUnitCode).id;
                    this.engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.engineTorqueDetail.engineMaxTorqueMeasureShaftRotationFrequencyMeasureUnitCode).id;

                    this.engineDetail.engineTorqueDetails.push(this.engineTorqueDetail);
                    this.engineTorqueDetail = new EngineTorqueDetailModel();
                } else {
                    this.engineTorqueDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteEngineTorque(item: EngineTorqueDetailModel) {
                var indx = this.engineDetail.engineTorqueDetails
                    .findIndex(chd => chd.engineMaxTorqueMeasure == item.engineMaxTorqueMeasure
                        && chd.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure == item.engineMaxTorqueMeasureShaftRotationFrequencyMinMeasure
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.engineTorqueDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.engineTorqueDetails.splice(indx, 1);
                    }
                }
            },

            addEcu() {
                this.ecuModelErrors = [];
                if (this.ecuModelDetail.ecuModel) {
                    this.ecuModelDetail.engineDetailId = this.engineDetail.id;
                    this.ecuModelDetail.state = ObjectState.Added;
                    this.engineDetail.ecuModelDetails.push(this.ecuModelDetail);
                    this.ecuModelDetail = new ECUModelDetailModel();
                } else {
                    this.ecuModelErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteEcu(item: ECUModelDetailModel) {
                var indx = this.engineDetail.ecuModelDetails
                    .findIndex(chd => chd.ecuModel == item.ecuModel
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.ecuModelDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.ecuModelDetails.splice(indx, 1);
                    }
                }
            },

            addIgnition() {
                this.vehicleIgnitionErrors = [];
                if (this.vehicleIgnitionDetail.vehicleIgnitionTypeId) {
                    this.vehicleIgnitionDetail.engineDetailId = this.engineDetail.id;
                    this.vehicleIgnitionDetail.vehicleIgnitionTypeName = this.dics.nsi55ignitionType
                        .find(d => d.id == this.vehicleIgnitionDetail.vehicleIgnitionTypeId).name;
                    this.vehicleIgnitionDetail.state = ObjectState.Added;

                    this.engineDetail.vehicleIgnitionDetails.push(this.vehicleIgnitionDetail);
                    this.vehicleIgnitionDetail = new VehicleIgnitionDetailModel();
                } else {
                    this.vehicleIgnitionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteIgnition(item: VehicleIgnitionDetailModel) {
                var indx = this.engineDetail.vehicleIgnitionDetails
                    .findIndex(chd => chd.vehicleIgnitionTypeId == item.vehicleIgnitionTypeId && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.vehicleIgnitionDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.vehicleIgnitionDetails.splice(indx, 1);
                    }
                }
            },

            addExhaust() {
                this.exhaustDetailErrors = [];
                if (this.exhaustDetail.exhaustDescription) {
                    this.exhaustDetail.engineDetailId = this.engineDetail.id;
                    this.exhaustDetail.state = ObjectState.Added;

                    this.engineDetail.exhaustDetails.push(this.exhaustDetail);
                    this.exhaustDetail = new ExhaustDetailModel();
                } else {
                    this.exhaustDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteExhaust(item: ExhaustDetailModel) {
                var indx = this.engineDetail.exhaustDetails
                    .findIndex(chd => chd.exhaustDescription == item.exhaustDescription);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.exhaustDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.exhaustDetails.splice(indx, 1);
                    }
                }
            },

            addVehicleFuelKind() {
                this.fuelkindErrors = [];
                if (this.vehicleFuelkind.fuelKindId) {
                    this.vehicleFuelkind.engineDetailId = this.engineDetail.id;
                    this.vehicleFuelkind.state = ObjectState.Added;
                    this.vehicleFuelkind.fuelKindName = this.dics.nsi30fueltype
                        .find(m => m.id == this.vehicleFuelkind.fuelKindId).name;

                    this.engineDetail.vehicleFuelKinds.push(this.vehicleFuelkind);
                    this.vehicleFuelkind = new VehicleFuelKindModel();
                } else {
                    this.fuelkindErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteVehicleFuelKind(item: VehicleFuelKindModel) {
                var indx = this.engineDetail.vehicleFuelKinds
                    .findIndex(chd => chd.fuelKindId == item.fuelKindId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.vehicleFuelKinds[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.vehicleFuelKinds.splice(indx, 1);
                    }
                }
            },

            addFuelFeedDetail() {
                this.fuelFeedErrors = [];
                if (this.engineFuelFeedDetail.fuelFeedId) {
                    this.engineFuelFeedDetail.engineDetailId = this.engineDetail.id;
                    this.engineFuelFeedDetail.state = ObjectState.Added;
                    this.engineFuelFeedDetail.fuelFeedName = this.dics.nsi56fuelfeed
                        .find(m => m.id == this.engineFuelFeedDetail.fuelFeedId).name;

                    this.engineDetail.engineFuelFeedDetails.push(this.engineFuelFeedDetail);
                    this.engineFuelFeedDetail = new EngineFuelFeedDetailModel();
                } else {
                    this.fuelFeedErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteFuelFeedDetail(item: EngineFuelFeedDetailModel) {
                var indx = this.engineDetail.engineFuelFeedDetails
                    .findIndex(chd => chd.fuelFeedId == item.fuelFeedId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.engineDetail.engineFuelFeedDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.engineDetail.engineFuelFeedDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi048')
                .then(response => {
                    this.dics.nsi48cylinderLocation = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi030')
                .then(response => {
                    this.dics.nsi30fueltype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi056')
                .then(response => {
                    this.dics.nsi56fuelfeed = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi055')
                .then(response => {
                    this.dics.nsi55ignitionType = response.data;
                }).catch(err => {
                });
        },
    });
</script>