﻿<template>
    <div>
        <!-- Устройство накопления энергии  -->
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title class="py-1 my-0">
                        Устройство накопления энергии
                    </v-card-title>
                    <v-card-text class="py-1 my-0">
                        <template>
                            <v-simple-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-center py-2 px-1" width="40%">
                                                <v-autocomplete label="Тип элемента*" :disabled="disabled"
                                                                :items="dics.nsi59powertype"
                                                                v-model="powerStorageDeviceDetail.powerStorageDeviceTypeId"
                                                                clearable
                                                                dense hide-details
                                                                item-text="name"
                                                                item-value="id"
                                                                :error-messages="storageErrors"
                                                                :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                            </th>
                                            <th class="text-center py-2 px-1" width="40%">
                                                <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceLocation" :disabled="disabled"
                                                              label="Место расположения"
                                                              dense hide-details clearable></v-text-field>
                                            </th>
                                            <th class="text-center pa-1" width="20%">
                                                <v-btn outlined v-if="!disabled"
                                                       @click="addStorage">
                                                    <v-icon>mdi-plus</v-icon>
                                                    Добавить
                                                </v-btn>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center pa-1" colspan="2">
                                                <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceDescription" :disabled="disabled"
                                                              label="Тип (описание)*"
                                                              :error-messages="storageErrors"
                                                              dense hide-details clearable></v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center pa-1" colspan="2">
                                                <v-text-field v-model.number="powerStorageDeviceDetail.vehicleRangeMeasure" :disabled="disabled"
                                                              label="Запас хода"
                                                              type="number"
                                                              :suffix="powerStorageDeviceDetail.vehicleRangeUnitName"
                                                              dense hide-details clearable></v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center pa-1" colspan="2">
                                                <v-text-field v-model.number="powerStorageDeviceDetail.powerStorageDeviceVoltageMeasure" :disabled="disabled"
                                                              label="Рабочее напряжение"
                                                              type="number"
                                                              :suffix="powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitName"
                                                              dense hide-details clearable></v-text-field>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="(item, index) in powerStorageDeviceDetailsList">
                                            <tr class="blue-grey lighten-3">
                                                <td class="text-center">{{ item.powerStorageDeviceTypeName }}</td>
                                                <td class="text-center">{{ item.powerStorageDeviceLocation }}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteStorage(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    - описание
                                                </td>
                                                <td colspan="2">
                                                    {{ item.powerStorageDeviceDescription }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    - запас хода {{ item.vehicleRangeUnitName }}
                                                </td>
                                                <td colspan="2">
                                                    {{ item.vehicleRangeMeasure }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    - рабочее напряжение {{ item.powerStorageDeviceVoltageMeasureUnitName }}
                                                </td>
                                                <td colspan="2">
                                                    {{ item.powerStorageDeviceVoltageMeasure }}
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </template>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { PowerStorageDeviceDetailModel } from '@/models/vehicle/characteristics/PowerStorageDeviceDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'PowerStorageDeviceDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                powerStorageDeviceDetail: PowerStorageDeviceDetailModel,

                storageErrors: any,
                disableEngineKind: boolean,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi33unit: [],
                    nsi59powertype: [],
                },
                powerStorageDeviceDetail: new PowerStorageDeviceDetailModel(),

                storageErrors: [],
                disableEngineKind: false,
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notElectricalMachineDetailIndicator: function (val, oldVal) {
                this.charateristic.notElectricalMachineDetailIndicator = !!val ? 1 : 0;
            },           
        },
        computed: {
            powerStorageDeviceDetailsList(): Array<PowerStorageDeviceDetailModel> {
                return this.charateristic.powerStorageDeviceDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
        },
        methods: {

            addStorage() {
                this.storageErrors = []

                if (this.powerStorageDeviceDetail.powerStorageDeviceTypeId
                    // && this.powerStorageDeviceDetail.powerStorageDeviceLocation
                    && this.powerStorageDeviceDetail.powerStorageDeviceDescription
                    // && this.powerStorageDeviceDetail.vehicleRangeMeasure
                ) {
                    this.powerStorageDeviceDetail.characteristicId = this.charateristic.id;
                    this.powerStorageDeviceDetail.powerStorageDeviceTypeName = this.dics.nsi59powertype
                        .find(m => m.id == this.powerStorageDeviceDetail.powerStorageDeviceTypeId).name;

                    this.powerStorageDeviceDetail.vehicleRangeUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.powerStorageDeviceDetail.vehicleRangeUnitCode).id;
                    this.powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitId = this.dics.nsi33unit
                        .find(m => m.code == this.powerStorageDeviceDetail.powerStorageDeviceVoltageMeasureUnitCode).id;

                    this.powerStorageDeviceDetail.state = ObjectState.Added;

                    if (this.charateristic.id != 0) {
                        ComplienceService.savePowerStorageDeviceDetail(this.powerStorageDeviceDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.powerStorageDeviceDetail.id = response.data.entityId;
                                    this.powerStorageDeviceDetail.state = ObjectState.Unchanged;
                                    this.charateristic.powerStorageDeviceDetails.push(this.powerStorageDeviceDetail);
                                    this.powerStorageDeviceDetail = new PowerStorageDeviceDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.powerStorageDeviceDetails.push(this.powerStorageDeviceDetail);
                        this.powerStorageDeviceDetail = new PowerStorageDeviceDetailModel();
                    }

                   
                } else {
                    this.storageErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteStorage(item: PowerStorageDeviceDetailModel) {
                var indx = this.charateristic.powerStorageDeviceDetails
                    .findIndex(chd => chd.powerStorageDeviceTypeId == item.powerStorageDeviceTypeId
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deletedEntity = this.charateristic.powerStorageDeviceDetails[indx];
                        deletedEntity.state = ObjectState.Deleted;
                        ComplienceService.savePowerStorageDeviceDetail(deletedEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.powerStorageDeviceDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.powerStorageDeviceDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {

            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi059')
                .then(response => {
                    this.dics.nsi59powertype = response.data;
                }).catch(err => {
                });
        },
    });
</script>