<template>
    <div>
        <section class="container container--fluid" id="vehicleTransmissionType-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleTransmissionType-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Трансмиссия
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-1 my-0">
                                        <v-switch v-model="notVehicleTransmissionDetailIndicator" :disabled="disabled"
                                                  inset dense class="mt-0" hide-details
                                                  label="Трансмиссия отсутствует"></v-switch>
                                    </v-col>
                                    <v-col cols="12" v-if="!notVehicleTransmissionDetailIndicator" class="py-1 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center pa-1" width="30%">
                                                            Тип трансмиссии
                                                        </th>
                                                        <th class="text-center pa-1" width="30%">
                                                            Узел трансмиссии
                                                        </th>
                                                        <th class="text-center pa-1" width="30%">
                                                            Марка. Описание
                                                        </th>
                                                        <th class="text-center py-1 px-0" width="10%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addUnit">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template v-for="(tItem, index) in transmissionTypesList">
                                                        <tr class="blue-grey lighten-3">
                                                            <td colspan="3">
                                                                {{ tItem.transTypeName }}
                                                            </td>
                                                            <td class="text-center">
                                                                <v-btn icon v-if="!disabled"
                                                                       class="mx-auto"
                                                                       @click="deleteType(tItem)">
                                                                    <v-icon color="red lighten-1">
                                                                        mdi-close
                                                                    </v-icon>
                                                                </v-btn>
                                                            </td>
                                                        </tr>
                                                        <template v-for="(item, index) in getTransmissionUnitDetailsList(tItem)">
                                                            <tr class="blue-grey lighten-5">
                                                                <td></td>
                                                                <td>{{ item.unitKindName }}</td>
                                                                <td>
                                                                    {{ item.transmissionUnitMakeName }} <br />
                                                                    {{ item.transmissionUnitDescription}}
                                                                </td>
                                                                <td class="text-center">
                                                                    <v-btn icon v-if="!disabled"
                                                                           class="mx-auto"
                                                                           @click="editUnit(item)">
                                                                        <v-icon color="indigo lighten-1">
                                                                            mdi-pencil
                                                                        </v-icon>
                                                                    </v-btn>
                                                                    <v-btn icon v-if="!disabled"
                                                                           class="mx-auto"
                                                                           @click="deleteUnit(item)">
                                                                        <v-icon color="red lighten-1">
                                                                            mdi-close
                                                                        </v-icon>
                                                                    </v-btn>
                                                                </td>
                                                            </tr>
                                                            <tr v-if="item.transmissionBoxTypeName">
                                                                <td></td>
                                                                <td>- Тип коробки передач</td>
                                                                <td>{{ item.transmissionBoxTypeName}}</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr v-if="!!item.mainGearTypeName">
                                                                <td></td>
                                                                <td>- Тип главной передачи</td>
                                                                <td>{{ item.mainGearTypeName}}</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr v-if="item.transferCaseType">
                                                                <td></td>
                                                                <td>- Тип раздаточной коробки</td>
                                                                <td>{{ item.transferCaseType}}</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr v-if="item.transmissionUnitGears">
                                                                <td></td>
                                                                <td>- Передаточные числа</td>
                                                                <td colspan="2">
                                                                    <ul>
                                                                        <li v-for="(itm, index) in item.transmissionUnitGears">
                                                                            {{ itm.transmissionUnitGearValueName }} :
                                                                            {{ itm.transmissionUnitGearRate }} - {{ itm.transmissionUnitGearRateMax }}
                                                                            {{ itm.transmissionUnitReverseGearIndicator == 1 ? ' Задняя': '' }}
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </template>
                                                    
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>


            <!-- Dialog TransmissionUnit -->
            <v-row justify="center" no-gutters>
                <v-dialog v-model="dialogTUnit"
                            persistent
                            max-width="800px">
                    <v-form ref="transmissionForm"
                            v-model="transmissionFormValid"
                            lazy-validation>
                        <v-card outlined>
                            <v-card-title>
                                <span class="headline">
                                    Узел трансмиссии
                                </span>
                            </v-card-title>
                            <v-card-text class="py-0 my-0">
                                <!-- Тип трансмисии -->
                                <v-row>
                                    <v-col class="py-0 my-0">
                                        <v-autocomplete label="Тип трансмиссии*"
                                                        :items="dics.nsi058transmissiontype"
                                                        v-model="transmissionUnitDetail.transTypeId"
                                                        clearable dense outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        :rules="rules.required"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Тип узла -->
                                <v-row>
                                    <v-col class="py-0 my-0">
                                        <v-autocomplete label="Тип узла*"
                                                        :items="dics.nsi018unittype"
                                                        v-model="transmissionUnitDetail.unitKindId"
                                                        clearable
                                                        dense
                                                        outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }" required
                                                        :rules="rules.required"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Бесступенчатая коробка передач -->
                                <v-row v-if="transmissionUnitDetail.unitKindCode == '05'">
                                    <v-col>
                                        <v-switch v-model="continuouslyVariableTransmissionIndicator"
                                                    inset dense class="mt-0" hide-details
                                                    label="Бесступенчатая коробка передач"></v-switch>
                                    </v-col>
                                </v-row>

                                <!-- Распределение по осям -->
                                <v-row v-if="transmissionUnitDetail.unitKindCode == '15' && !isSbkts">
                                    <v-col class="py-0 my-0">
                                        <v-autocomplete label="Распределение по осям"
                                                        :items="dics.nsi026axistype"
                                                        v-model="transmissionUnitDetail.axisDistributionId"
                                                        clearable dense outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Марка -->
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="transmissionUnitDetail.transmissionUnitMakeName"
                                                        label="Марка"
                                                        dense hide-details clearable
                                                        outlined>
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Описание -->
                                <!--v-row>
                                    <v-col>
                                        <v-text-field v-model="transmissionUnitDetail.transmissionUnitDescription"
                                                        label="Описание"
                                                        dense hide-details clearable
                                                        outlined>
                                        </v-text-field>
                                    </v-col>
                                </!--v-row-->

                                <!-- Тип коробки передач -->
                                <v-row v-if="transmissionUnitDetail.unitKindCode == '05'">
                                    <v-col>
                                        <v-autocomplete label="Тип коробки передач"
                                                        :items="dics.nsi53boxtype"
                                                        v-model="transmissionUnitDetail.transmissionBoxTypeId"
                                                        clearable
                                                        dense hide-details outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        :error-messages="tBoxTypeError"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Тип главной передачи -->
                                <v-row v-if="transmissionUnitDetail.unitKindCode == '15'">
                                    <v-col>
                                        <v-autocomplete label="Тип главной передачи"
                                                        :items="dics.nsi51maingeartype"
                                                        v-model="transmissionUnitDetail.mainGearTypeId"
                                                        clearable
                                                        dense hide-details outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        :error-messages="mainGearTypeError"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Тип раздаточной коробки  -->
                                <v-row v-if="transmissionUnitDetail.unitKindCode == '10'">
                                    <v-col>
                                        <v-text-field v-model="transmissionUnitDetail.transferCaseType"
                                                        label="Тип раздаточной коробки"
                                                        dense hide-details clearable outlined
                                                        :error-messages="transferCaseTypeError"></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Передаточные числа  -->
                                <v-row v-if="!isSbkts">
                                    <v-col>
                                        <v-card outlined>
                                            <v-card-title class="py-1 my-0">
                                                Передаточные числа
                                            </v-card-title>
                                            <v-card-text class="py-1 my-0">
                                                <template>
                                                    <v-simple-table dense>
                                                        <template v-slot:default>
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center py-2 px-1" width="40%">
                                                                        <v-autocomplete label="Наименование передачи"
                                                                                        :items="dics.nsi80gearvalue"
                                                                                        v-model="transmissionUnitGearDetail.transmissionUnitGearValueId"
                                                                                        clearable
                                                                                        dense hide-details
                                                                                        item-text="name"
                                                                                        item-value="id"
                                                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                                    </th>
                                                                    <th class="text-center py-2 px-1" width="40%">
                                                                        <v-autocomplete label="Вид передаточного числа"
                                                                                        :items="dics.nsi81geartype"
                                                                                        v-model="transmissionUnitGearDetail.transmissionUnitGearTypeId"
                                                                                        clearable dense hide-details
                                                                                        item-text="name"
                                                                                        item-value="id"
                                                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                                    </th>
                                                                    <th class="text-center pa-1" width="20%">
                                                                        <v-btn outlined
                                                                                @click="addGear">
                                                                            <v-icon>mdi-plus</v-icon>
                                                                            Добавить
                                                                        </v-btn>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-center pa-1">
                                                                        <v-text-field v-model.number="transmissionUnitGearDetail.transmissionUnitGearRate"
                                                                                        label="Минимально*"
                                                                                        type="number"
                                                                                        dense hide-details clearable
                                                                                        :error-messages="transmissionUnitGearError"></v-text-field>
                                                                    </th>
                                                                    <th class="text-center pa-1">
                                                                        <v-text-field v-model.number="transmissionUnitGearDetail.transmissionUnitGearRateMax"
                                                                                        label="Максимально"
                                                                                        type="number"
                                                                                        dense hide-details clearable></v-text-field>
                                                                    </th>
                                                                    <th></th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-center pa-1" colspan="2">
                                                                        <v-switch v-model="transmissionUnitReverseGearIndicator"
                                                                                    inset dense class="mt-0" hide-details
                                                                                    label="Признак передачи заднего хода"></v-switch>
                                                                    </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <template v-for="(item, index) in transmissionUnitGearDetailsList">
                                                                    <tr class="blue-grey lighten-3">
                                                                        <td class="text-center">{{ item.transmissionUnitGearValueName }}</td>
                                                                        <td class="text-center">{{ item.transmissionUnitGearTypeName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon
                                                                                    class="mx-auto"
                                                                                    @click="deleteGear(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                    <tr v-if="item.transmissionUnitGearRate">
                                                                        <td>
                                                                            - минимально
                                                                        </td>
                                                                        <td colspan="2">
                                                                            {{ item.transmissionUnitGearRate }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr v-if="item.transmissionUnitGearRateMax">
                                                                        <td>
                                                                            - максимально
                                                                        </td>
                                                                        <td colspan="2">
                                                                            {{ item.transmissionUnitGearRateMax }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            - Признак передачи заднего хода
                                                                        </td>
                                                                        <td colspan="2">
                                                                            {{ item.transmissionUnitReverseGearIndicator == 1 ? 'Да' : 'Нет' }}
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                            </tbody>
                                                        </template>
                                                    </v-simple-table>
                                                </template>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary"
                                        text
                                        @click="saveUnit">
                                    Сохранить
                                </v-btn>
                                <v-btn color="secondary"
                                        text
                                        @click="dialogTUnit = false">
                                    Отмена
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-dialog>
            </v-row>
             
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { TransmissionTypeModel } from '@/models/vehicle/characteristics/TransmissionType.model';
    import { TransmissionUnitDetailModel } from '@/models/vehicle/characteristics/TransmissionUnitDetail.model';
    import { TransmissionUnitGearDetailModel } from '@/models/vehicle/characteristics/TransmissionUnitGearDetail.model';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ObjectHelper from '@/helpers/object.helper';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'TransmissionTypeForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialogTUnit: boolean,

                notVehicleTransmissionDetailIndicator: boolean,
                transmissionUnitReverseGearIndicator: boolean,
                continuouslyVariableTransmissionIndicator: boolean,

                transmissionType: TransmissionTypeModel,
                oldTransmissionUnitDetail: TransmissionUnitDetailModel | null,
                transmissionUnitDetail: TransmissionUnitDetailModel,
                transmissionUnitGearDetail: TransmissionUnitGearDetailModel,

                transmissionTypeIndex: number,
                transmissionFormValid: boolean,

                tBoxTypeError: any,
                mainGearTypeError: any,
                transferCaseTypeError: any,
                transmissionUnitGearError: any,

            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi058transmissiontype: [],
                    nsi018unittype: [],
                    nsi026axistype: [],
                    nsi51maingeartype: [],
                    nsi53boxtype: [],
                    nsi80gearvalue: [],
                    nsi81geartype: [],
                },
                dialogTUnit: false,

                notVehicleTransmissionDetailIndicator: false,
                transmissionUnitReverseGearIndicator: false,
                continuouslyVariableTransmissionIndicator: false,

                transmissionType: new TransmissionTypeModel(),
                oldTransmissionUnitDetail: null,
                transmissionUnitDetail: new TransmissionUnitDetailModel(),
                transmissionUnitGearDetail: new TransmissionUnitGearDetailModel(),

                transmissionTypeIndex: -1,
                transmissionFormValid: false,

                tBoxTypeError: [],
                mainGearTypeError: [],
                transferCaseTypeError: [],
                transmissionUnitGearError: [],

            };
            return dataObj;
        },
        watch: {
            loader() { },
            transmissionUnitReverseGearIndicator: function (val, oldVal) {
                this.transmissionUnitGearDetail.transmissionUnitReverseGearIndicator = !!val ? 1 : 0;
            },
            'transmissionUnitGearDetail.transmissionUnitReverseGearIndicator': function (val, oldVal) {
                this.transmissionUnitReverseGearIndicator = val == 1;
            },
            transmissionTypeIndex: function (val, oldVal) {
                if (this.transmissionTypeIndex >= 0) {
                    this.transmissionType = this.charateristic.vehicleTransmissionTypes[this.transmissionTypeIndex]
                } else {
                    this.transmissionType = new TransmissionTypeModel();
                }
            },
            'transmissionUnitDetail.unitKindId': function (val, oldVal) {
                if (this.transmissionUnitDetail.unitKindId) {
                    const unitKind = this.dics.nsi018unittype.find(e => e.id == this.transmissionUnitDetail.unitKindId);
                    this.transmissionUnitDetail.unitKindName = unitKind.name;
                    this.transmissionUnitDetail.unitKindCode = unitKind.code;
                }
            }
        },
        computed: {
            transmissionTypesList(): Array<TransmissionTypeModel> {
                return !this.charateristic ? [] : this.charateristic.vehicleTransmissionTypes.filter(c => c.state != ObjectState.Deleted);
            },
            transmissionUnitDetailsList(): Array<TransmissionUnitDetailModel> {
                var transmissionUnitDetails: Array<TransmissionUnitDetailModel> = [];

                for (var i = 0; i < this.charateristic.vehicleTransmissionTypes.length; i++) {
                    transmissionUnitDetails = transmissionUnitDetails.concat(this.charateristic.vehicleTransmissionTypes[i]
                        .transmissionUnitDetails.filter(c => c.state != ObjectState.Deleted));
                }
                return transmissionUnitDetails;
            },
            transmissionUnitGearDetailsList(): Array<TransmissionUnitGearDetailModel> {
                return !this.transmissionUnitDetail
                    ? []
                    : this.transmissionUnitDetail.transmissionUnitGears.filter(c => c.state != ObjectState.Deleted);
            },
            isSbkts() {
                return this.document.docTypeCode === 'sbkts';
            }
        },
        methods: {
            addType(transmissionType: TransmissionTypeModel) {
                if (transmissionType.transTypeId) {
                    transmissionType.id = 0;
                    transmissionType.characteristicId = this.charateristic.id;
                    transmissionType.state = ObjectState.Added;
                    transmissionType.transTypeName = this.dics.nsi058transmissiontype
                        .find(e => e.id == transmissionType.transTypeId).name;

                    this.charateristic.vehicleTransmissionTypes.push(transmissionType);                    
                }
            },
            deleteType(item: TransmissionTypeModel) {
                var indx = this.charateristic.vehicleTransmissionTypes
                    .findIndex(chd => chd.transTypeId == item.transTypeId && chd.id == item.id);

                if (indx > -1) {
                    if (item.id != 0) {
                        let transmissionType = this.charateristic.vehicleTransmissionTypes[indx];
                        transmissionType.state = ObjectState.Deleted;

                        ComplienceService.saveTransmissionType(transmissionType).then(response => {
                            if (response.status == 'Ok') {
                                if (response.data == null) {
                                    this.charateristic.vehicleTransmissionTypes.splice(indx, 1);
                                } else {
                                    transmissionType = response.data.entity;
                                    this.charateristic.vehicleTransmissionTypes.splice(indx, 1, transmissionType);
                                }
                            }
                        }).catch(err => {
                            this.$emit('show_message', 'Возникла ошибка: ' + err);
                        });
                    } else {
                        this.charateristic.vehicleTransmissionTypes.splice(indx, 1);
                    }
                }
            },

            addUnit() {
                this.transmissionUnitDetail = new TransmissionUnitDetailModel();
                this.transmissionUnitDetail.transmissionTypeId = 0;
                this.dialogTUnit = true;                
            },
            editUnit(item) {
                this.dialogTUnit = true;
                this.transmissionUnitDetail = ObjectHelper.deepCopy(item) as TransmissionUnitDetailModel;
                this.oldTransmissionUnitDetail = item;
            },
            saveUnit() {
                this.tBoxTypeError = [];
                this.mainGearTypeError = [];
                this.transferCaseTypeError = [];

                if ((this.$refs.transmissionForm as any).validate()) {

                    if (this.transmissionUnitDetail.unitKindCode == '05'
                        && !this.transmissionUnitDetail.transmissionBoxTypeId) {
                        this.tBoxTypeError = ['Поле обязательно для заполнения'];
                        return;
                    }
                    if (this.transmissionUnitDetail.unitKindCode == '15'
                        && !this.transmissionUnitDetail.mainGearTypeId) {
                        this.mainGearTypeError = ['Поле обязательно для заполнения'];
                        return;
                    }
                    if (this.transmissionUnitDetail.unitKindCode == '10'
                        && !this.transmissionUnitDetail.transferCaseType) {
                        this.transferCaseTypeError = ['Поле обязательно для заполнения'];
                        return;
                    }

                    let localTransmissionType: TransmissionTypeModel = new TransmissionTypeModel();
                    let transTypeIndex = -1;
                    if (this.transmissionUnitDetail.transTypeId) {
                        transTypeIndex = this.charateristic.vehicleTransmissionTypes
                            .findIndex(t => t.transTypeId == this.transmissionUnitDetail.transTypeId);

                        if (transTypeIndex >= 0) {
                            localTransmissionType = this.charateristic.vehicleTransmissionTypes[transTypeIndex];
                        } else {
                            localTransmissionType.id = 0;
                            localTransmissionType.characteristicId = this.charateristic.id;
                            localTransmissionType.transTypeId = this.transmissionUnitDetail.transTypeId;
                            localTransmissionType.transTypeName = this.dics.nsi058transmissiontype
                                .find(e => e.id == this.transmissionUnitDetail.transTypeId).name;
                            localTransmissionType.state = ObjectState.Added;
                        }
                        const dicTransType = this.dics.nsi058transmissiontype
                            .find(e => e.id == this.transmissionUnitDetail.transTypeId);
                        this.transmissionUnitDetail.transmissionTypeName = dicTransType.name;
                        this.transmissionUnitDetail.transmissionTypeId = localTransmissionType.id;
                    }

                    const indexExist = localTransmissionType.transmissionUnitDetails
                        .findIndex(d => d.unitKindId == this.transmissionUnitDetail.unitKindId
                            && d.id == this.transmissionUnitDetail.id
                            && d.clientId == this.transmissionUnitDetail.clientId
                        );

                    if (indexExist < 0) {
                        this.transmissionUnitDetail.state = this.transmissionUnitDetail.id != 0 ? ObjectState.Modified : ObjectState.Added;
                        this.transmissionUnitDetail.clientId = localTransmissionType.transmissionUnitDetails.length + 1;

                        const unitKind = this.dics.nsi018unittype.find(e => e.id == this.transmissionUnitDetail.unitKindId);
                        this.transmissionUnitDetail.unitKindName = unitKind.name;
                        this.transmissionUnitDetail.unitKindCode = unitKind.code;

                        if (this.transmissionUnitDetail.axisDistributionId) {
                            this.transmissionUnitDetail.axisDistributionName = this.dics.nsi026axistype
                                .find(e => e.id == this.transmissionUnitDetail.axisDistributionId).name;
                        }
                        if (this.transmissionUnitDetail.transmissionBoxTypeId) {
                            this.transmissionUnitDetail.transmissionBoxTypeName = this.dics.nsi53boxtype
                                .find(e => e.id == this.transmissionUnitDetail.transmissionBoxTypeId).name;
                        }
                        if (this.transmissionUnitDetail.mainGearTypeId) {
                            this.transmissionUnitDetail.mainGearTypeName = this.dics.nsi51maingeartype
                                .find(e => e.id == this.transmissionUnitDetail.mainGearTypeId).name;
                        }
                        localTransmissionType.transmissionUnitDetails.push(this.transmissionUnitDetail);

                        if (localTransmissionType.characteristicId != 0) {
                            ComplienceService.saveTransmissionType(localTransmissionType).then(response => {
                                if (response.status == 'Ok') {
                                    if (localTransmissionType.id == 0) {
                                        localTransmissionType = response.data.entity;
                                        localTransmissionType.state = ObjectState.Unchanged;
                                        this.charateristic.vehicleTransmissionTypes.push(localTransmissionType);
                                    } else {
                                        localTransmissionType = response.data.entity;
                                        this.charateristic.vehicleTransmissionTypes.splice(transTypeIndex, 1, localTransmissionType);
                                    }

                                    if (this.oldTransmissionUnitDetail) {
                                        // this.oldTransmissionUnitDetail.state = ObjectState.Deleted;
                                        let oldTransmissionType = this.charateristic.vehicleTransmissionTypes
                                            .find(t => t.id == this.oldTransmissionUnitDetail?.transmissionTypeId
                                                && t.transTypeId == this.oldTransmissionUnitDetail?.transTypeId);

                                        if (oldTransmissionType?.transmissionUnitDetails
                                            .filter(tu => tu.id != this.oldTransmissionUnitDetail?.id).length == 0) {
                                            const tuIndx = oldTransmissionType.transmissionUnitDetails.findIndex(tu => tu.id == this.oldTransmissionUnitDetail?.id);
                                            oldTransmissionType.transmissionUnitDetails.splice(tuIndx, 1);

                                            this.deleteType(oldTransmissionType);
                                        }
                                    }

                                    this.transmissionUnitDetail = new TransmissionUnitDetailModel();
                                    this.dialogTUnit = false;
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        } else {
                            if (localTransmissionType.id == 0) {
                                this.charateristic.vehicleTransmissionTypes.push(localTransmissionType);
                            } else {
                                this.charateristic.vehicleTransmissionTypes.splice(transTypeIndex, 1, localTransmissionType);
                            }

                            this.transmissionUnitDetail = new TransmissionUnitDetailModel();
                            this.dialogTUnit = false;
                        }
                    } else {

                        this.transmissionUnitDetail.state = this.transmissionUnitDetail.id == 0 ? ObjectState.Added : ObjectState.Modified;
                        localTransmissionType.transmissionUnitDetails.splice(indexExist, 1, this.transmissionUnitDetail);

                        if (localTransmissionType.characteristicId != 0) {

                            ComplienceService.saveTransmissionType(localTransmissionType).then(response => {
                                if (response.status == 'Ok') {
                                    localTransmissionType = response.data.entity;
                                    localTransmissionType.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleTransmissionTypes.splice(transTypeIndex, 1, localTransmissionType);

                                    this.transmissionUnitDetail = new TransmissionUnitDetailModel();
                                    this.dialogTUnit = false;
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                        } else {  
                            this.charateristic.vehicleTransmissionTypes.splice(transTypeIndex, 1, localTransmissionType);
                            this.transmissionUnitDetail = new TransmissionUnitDetailModel();
                            this.dialogTUnit = false;
                        }
                    }

                    this.transmissionType = new TransmissionTypeModel();
                }
            },
            deleteUnit(item: TransmissionUnitDetailModel) {
                let ttIndx = this.charateristic.vehicleTransmissionTypes.findIndex(tt => tt.id == item.transmissionTypeId);
                let transmissionType = this.charateristic.vehicleTransmissionTypes[ttIndx];
                let tuIndx = transmissionType.transmissionUnitDetails.findIndex(tu => tu.id == item.id);

                if (tuIndx > -1) {
                    if (item.id != 0) {
                        let deleteTransUnit = transmissionType.transmissionUnitDetails[tuIndx];
                        deleteTransUnit.state = ObjectState.Deleted;

                        if (transmissionType.transmissionUnitDetails.length == 1) {
                            transmissionType.state = ObjectState.Deleted;
                        }

                        ComplienceService.saveTransmissionType(transmissionType).then(response => {
                            if (response.status == 'Ok') {
                                if (response.data == null) {
                                    this.charateristic.vehicleTransmissionTypes.splice(ttIndx, 1);
                                } else {
                                    transmissionType = response.data.entity;
                                    this.charateristic.vehicleTransmissionTypes.splice(ttIndx, 1, transmissionType);
                                }
                            }
                        }).catch(err => {
                            this.$emit('show_message', 'Возникла ошибка: ' + err);
                        });
                    } else {
                        transmissionType.transmissionUnitDetails.splice(tuIndx, 1);
                    }
                }
                /*
                let transmissionUnit = transmissionType.transmissionUnitDetails[tuIndx];
                const transmissionType = this.charateristic.vehicleTransmissionTypes.find(tt => tt.id == item.transmissionTypeId);
                if (transmissionType) {
                    // this.transmissionType = transmissionType;                    
                    if (transmissionType.transmissionUnitDetails.length == 0
                        || transmissionType.transmissionUnitDetails.every(v => v.state == ObjectState.Deleted))
                    {
                        const indx = this.charateristic.vehicleTransmissionTypes
                            .findIndex(chd => chd.id == transmissionType.id);
                        if (indx > -1) {
                            if (item.id != 0) {
                                this.charateristic.vehicleTransmissionTypes[indx].state = ObjectState.Deleted;
                            } else {
                                this.charateristic.vehicleTransmissionTypes.splice(indx, 1);
                            }
                        }
                    }
                }
                */
            },

            addGear() {
                this.transmissionUnitGearError = [];
                if (this.transmissionUnitGearDetail.transmissionUnitGearRate)
                {
                    //if (!this.transmissionUnitDetail.transmissionUnitGears
                    //    .some(g => g.transmissionUnitId == this.transmissionUnitGearDetail.transmissionUnitGearValueId
                    //        && g.id == this.transmissionUnitGearDetail.id)) {

                        this.transmissionUnitGearDetail.transmissionUnitId = this.transmissionUnitDetail.id;
                        this.transmissionUnitGearDetail.state = ObjectState.Added;

                        if (this.transmissionUnitGearDetail.transmissionUnitGearValueId) {
                            this.transmissionUnitGearDetail.transmissionUnitGearValueName = this.dics.nsi80gearvalue
                                .find(e => e.id == this.transmissionUnitGearDetail.transmissionUnitGearValueId).name;
                        }
                        if (this.transmissionUnitGearDetail.transmissionUnitGearTypeId) {
                            this.transmissionUnitGearDetail.transmissionUnitGearTypeName = this.dics.nsi81geartype
                                .find(e => e.id == this.transmissionUnitGearDetail.transmissionUnitGearTypeId).name;
                        }

                        this.transmissionUnitDetail.transmissionUnitGears.push(this.transmissionUnitGearDetail);
                        this.transmissionUnitGearDetail = new TransmissionUnitGearDetailModel();
                    //}
                } else {
                    this.transmissionUnitGearError = ['Поле обязательно для заполнения'];
                }
            },
            deleteGear(item) {
                var indx = this.transmissionUnitDetail.transmissionUnitGears
                    .findIndex(chd => chd.transmissionUnitGearValueId == item.transmissionUnitGearValueId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.transmissionUnitDetail.transmissionUnitGears[indx].state = ObjectState.Deleted;
                    } else {
                        this.transmissionUnitDetail.transmissionUnitGears.splice(indx, 1);
                    }
                }
            },

            getTransmissionUnitDetailsList(transmissionType: TransmissionTypeModel) {
                return transmissionType.transmissionUnitDetails.filter(c => c.state != ObjectState.Deleted);
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi058')
                .then(response => {
                    this.dics.nsi058transmissiontype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi018')
                .then(response => {
                    this.dics.nsi018unittype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi026')
                .then(response => {
                    this.dics.nsi026axistype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi051')
                .then(response => {
                    this.dics.nsi51maingeartype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi053')
                .then(response => {
                    this.dics.nsi53boxtype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi080')
                .then(response => {
                    this.dics.nsi80gearvalue = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi081')
                .then(response => {
                    this.dics.nsi81geartype = response.data;
                }).catch(err => {
                });
        },
    });
</script>


