<template>
    <div>
        <section class="container container--fluid" id="vehicleAxleDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleAxleDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Колея передних/задних колес
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col>
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="10%">
                                                        Ось
                                                    </th>
                                                    <th class="text-center" width="20%">
                                                        Ведущая ось
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        Величина колеи оси
                                                    </th>
                                                    <th class="text-center" width="30%" v-if="!isSbkts">
                                                        Технически максимальная масса приходящаяся на ось
                                                    </th>
                                                    <th width="10%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addObj">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleAxleDetailList"
                                                    :key="item.axleOrdinal">
                                                    <td class="text-center">{{ item.axleOrdinal }}</td>
                                                    <td class="text-center">
                                                        {{ item.drivingAxleIndicator == 1 ? 'Да' : 'Нет' }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ item.axleSweptPathMeasure }}
                                                        ...
                                                        {{ item.axleSweptPathMeasureMax }} {{ item.axleSweptPathMeasureUnitName }}
                                                    </td>
                                                    <td class="text-center" v-if="!isSbkts">
                                                        {{ item.technicallyPermissibleMaxWeightOnAxleMeasure }}
                                                        ...
                                                        {{ item.technicallyPermissibleMaxWeightOnAxleMeasureMax }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteObj(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>

                <!-- Dialog -->
                <v-row justify="center" no-gutters>
                    <v-dialog v-model="dialog"
                              persistent
                              max-width="800px">

                        <v-card>
                            <v-card-title>
                                <span class="headline">Колея передних/задних колес </span>
                            </v-card-title>
                            <v-card-text>

                                <!-- Ось -->
                                <v-row>
                                    <v-col class="py-1 my-0" cols="7">
                                        <v-text-field-integer v-model="vehicleAxleDetail.axleOrdinal"
                                                              label="Ось*"
                                                              v-bind:properties="{
                                            prefix: '',
                                            suffix: '',
                                            readonly: false,
                                            disabled: false,
                                            outlined: true,
                                            clearable: true,
                                            placeholder: '',
                                            dense: true,
                                            'hide-details': true,
                                          }"
                                                              v-bind:options="{
                                            inputMask: '####',
                                            outputMask: '####',
                                            empty: null,
                                            applyAfter: false,
                                          }" 
                                        :error-messages="axleOrdinalErrors" />
                                    </v-col>
                                    <v-col class="py-1 my-0" cols="5">
                                        <v-checkbox v-model="drivingAxleIndicator"
                                                    class="mt-1"
                                                    hide-details
                                                    label="Ведущая ось"></v-checkbox>
                                    </v-col>
                                </v-row>

                                <!-- Величина колеи оси  -->
                                <v-row>
                                    <v-col class="py-1 my-0" cols="12">
                                        Величина колеи оси
                                    </v-col>
                                    <v-col class="py-1 my-0" cols="6">
                                        <v-text-field v-model.number="vehicleAxleDetail.axleSweptPathMeasure"
                                                      label="Минимально*"
                                                      type="number" outlined
                                                      dense hide-details clearable
                                                      :error-messages="axleOrdinalErrors">
                                        </v-text-field>
                                    </v-col>
                                    <v-col class="py-1 my-0" cols="6">
                                        <v-text-field v-model.number="vehicleAxleDetail.axleSweptPathMeasureMax"
                                                      label="Максимально"
                                                      type="number" outlined
                                                      dense hide-details clearable>
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Технически максимальная масса приходящаяся на ось  -->
                                <v-row v-if="!isSbkts">
                                    <v-col class="py-1 my-0" cols="12">
                                        Технически максимальная масса приходящаяся на ось
                                    </v-col>
                                    <v-col class="py-1 my-0" cols="6">
                                        <v-text-field v-model.number="vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleMeasure"
                                                      label="Минимально*"
                                                      type="number" outlined
                                                      dense hide-details clearable
                                                      :error-messages="axleOrdinalErrors">
                                        </v-text-field>
                                    </v-col>
                                    <v-col class="py-1 my-0" cols="6">
                                        <v-text-field v-model.number="vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleMeasureMax"
                                                      label="Максимально"
                                                      type="number" outlined
                                                      dense hide-details clearable>
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary"
                                       text
                                       @click="saveObj"
                                       :disabled="isSaving">
                                    Сохранить
                                </v-btn>
                                <v-btn color="secondary"
                                       text
                                       @click="dialog = false">
                                    Отмена
                                </v-btn>
                            </v-card-actions>
                        </v-card>

                    </v-dialog>
                </v-row>
            
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleAxleDetailModel } from '@/models/vehicle/characteristics/VehicleAxleDetail.model';  
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';


    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleAxleDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                drivingAxleIndicator: boolean,
                vehicleAxleDetail: VehicleAxleDetailModel,

                axleOrdinalErrors: any,
                isSaving: boolean
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi33unit: [],
                },
                dialog: false,
                drivingAxleIndicator: false,
                vehicleAxleDetail: new VehicleAxleDetailModel(0, this.charateristic.id, 1),

                axleOrdinalErrors: [],
                isSaving: false
            };
            return dataObj;
        },
        watch: {
            loader() { },
            drivingAxleIndicator: function (val, oldVal) {
                this.vehicleAxleDetail.drivingAxleIndicator = !!val ? 1 : 0;
            },
            'vehicleAxleDetail.drivingAxleIndicator': function (val, oldVal) {
                this.drivingAxleIndicator = val == 1;
            },
        },
        computed: {
            vehicleAxleDetailList(): Array<VehicleAxleDetailModel> {
                return this.charateristic.vehicleAxleDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            }
        },
        methods: {
            addObj() {
                this.dialog = true;
            },
            saveObj() {
                this.isSaving = true;
                this.axleOrdinalErrors = [];

                let isValid = !!this.vehicleAxleDetail.axleOrdinal
                    && !!this.vehicleAxleDetail.axleSweptPathMeasure;
                if (!this.isSbkts)
                    isValid = isValid && !!this.vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleMeasure;

                if (isValid)
                {
                    this.vehicleAxleDetail.state = ObjectState.Added;
                    this.vehicleAxleDetail.characteristicId = this.charateristic.id;

                    if (!this.vehicleAxleDetail.axleSweptPathMeasureUnitId) {
                        this.vehicleAxleDetail.axleSweptPathMeasureUnitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleAxleDetail.axleSweptPathMeasureUnitCode).id;
                    }
                    if (!this.vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleUnitId) {
                        this.vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleUnitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleAxleDetail.technicallyPermissibleMaxWeightOnAxleUnitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleAxleDetail(this.vehicleAxleDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleAxleDetail.id = response.data.entityId;
                                    this.vehicleAxleDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleAxleDetails.push(this.vehicleAxleDetail);                                    
                                    this.vehicleAxleDetail = new VehicleAxleDetailModel(0
                                        , this.charateristic.id
                                        , this.charateristic.vehicleAxleDetails.length + 1);
                                    this.drivingAxleIndicator = false;
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                                this.dialog = false;
                                this.isSaving = false;
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                                this.isSaving = false;
                            });
                    } else {
                        this.charateristic.vehicleAxleDetails.push(this.vehicleAxleDetail);
                        this.vehicleAxleDetail = new VehicleAxleDetailModel(0, this.charateristic.id, this.charateristic.vehicleAxleDetails.length + 1);
                        this.drivingAxleIndicator = false;
                        this.dialog = false;
                        this.isSaving = false;
                    }
                } else {
                    this.axleOrdinalErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteObj(item: VehicleAxleDetailModel) {
                var indx = this.charateristic.vehicleAxleDetails
                    .findIndex(chd => chd.axleOrdinal == item.axleOrdinal
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleAxleDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleAxleDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleAxleDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleAxleDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });
        },
    });
</script>


