<template>
    <div>
        <section class="container container--fluid" id="vehicleSuspensionDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleSuspensionDetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                Подвеска
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row>
                    <v-col>

                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-1 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center pa-1" width="30%">
                                                            <v-autocomplete label="Вид подвески*" :disabled="disabled"
                                                                            :items="dics.nsi026suspentiontype"
                                                                            v-model="vehicleSuspensionDetail.vehicleSuspensionKindId"
                                                                            clearable
                                                                            dense hide-details
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :menu-props="{ maxHeight: '400' }"
                                                                            :error-messages="suspensionErrors"></v-autocomplete>
                                                        </th>
                                                        <th class="text-center pa-1" width="50%">
                                                            <v-text-field v-model="vehicleSuspensionDetail.vehicleSuspensionDescription" :disabled="disabled"
                                                                          label="Описание*"
                                                                          dense hide-details clearable
                                                                          :error-messages="suspensionErrors">
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1 px-0" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addSuspension">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template v-for="(item, index) in vehicleSuspensionDetailsList">
                                                        <tr>
                                                            <td>{{ item.vehicleSuspensionKindName }}</td>
                                                            <td>
                                                                {{ item.vehicleSuspensionDescription }}
                                                            </td>
                                                            <td class="text-center">
                                                                <v-btn icon v-if="!disabled"
                                                                       class="mx-auto"
                                                                       @click="deleteSuspension(item)">
                                                                    <v-icon color="red lighten-1">
                                                                        mdi-close
                                                                    </v-icon>
                                                                </v-btn>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>

                    </v-col>
                </v-row>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleSuspensionDetailModel } from '@/models/vehicle/characteristics/VehicleSuspensionDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleSuspensionDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                vehicleSuspensionDetail: VehicleSuspensionDetailModel,
                suspensionErrors: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi026suspentiontype: [],
                },
                vehicleSuspensionDetail: new VehicleSuspensionDetailModel(),
                suspensionErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            vehicleSuspensionDetailsList(): Array<VehicleSuspensionDetailModel> {
                return !this.charateristic
                    ? []
                    : this.charateristic.vehicleSuspensionDetails.filter(c => c.state != ObjectState.Deleted);
            },
        },
        methods: {
            addSuspension() {
                this.suspensionErrors = []
                if (this.vehicleSuspensionDetail.vehicleSuspensionKindId
                    && this.vehicleSuspensionDetail.vehicleSuspensionDescription)
                {
                    this.vehicleSuspensionDetail.characteristicsDetailId = this.charateristic.id;
                    this.vehicleSuspensionDetail.state = ObjectState.Added;

                    if (this.vehicleSuspensionDetail.vehicleSuspensionKindId) {
                        this.vehicleSuspensionDetail.vehicleSuspensionKindName = this.dics.nsi026suspentiontype
                            .find(e => e.id == this.vehicleSuspensionDetail.vehicleSuspensionKindId).name;
                    }
                    if (this.vehicleSuspensionDetail.id != 0) {
                        ComplienceService.saveVehicleSuspensionDetail(this.vehicleSuspensionDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleSuspensionDetail.id = response.data.entityId;
                                    this.vehicleSuspensionDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleSuspensionDetails.push(this.vehicleSuspensionDetail);
                                    this.vehicleSuspensionDetail = new VehicleSuspensionDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleSuspensionDetails.push(this.vehicleSuspensionDetail);
                        this.vehicleSuspensionDetail = new VehicleSuspensionDetailModel();
                    }
                    
                } else {
                    this.suspensionErrors = ['Поля обязательны для заполнения'];
                }
            },
            deleteSuspension(item) {
                var indx = this.charateristic.vehicleSuspensionDetails
                    .findIndex(chd => chd.vehicleSuspensionKindId == item.vehicleSuspensionKindId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleSuspensionDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleSuspensionDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleSuspensionDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleSuspensionDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi138')
                .then(response => {
                    this.dics.nsi026suspentiontype = response.data;
                }).catch(err => {
                });
        },
    });
</script>


