<template>
    <div>
        <section class="container container--fluid" id="vehicleSteeringDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleSteeringDetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                Рулевое управление
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-row>
                                <v-col cols="12">
                                    <v-card-text class="py-1 my-0">
                                        <v-switch v-model="notVehicleSteeringDetailIndicator" :disabled="disabled"
                                                  inset dense class="mt-0" hide-details
                                                  label="Рулевое управление отсутствует"></v-switch>
                                    </v-card-text>
                                </v-col>
                                <v-col cols="12" v-if="!notVehicleSteeringDetailIndicator" class="py-0 my-0">
                                    <v-card-title>
                                        Описание рулевого управления
                                    </v-card-title>
                                    <v-card-text>
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-left py-1" width="80%">
                                                            <v-text-field label="Описание*" :disabled="disabled"
                                                                            v-model="vehicleSteeringDescription.description"
                                                                            hide-details dense
                                                                            :error-messages="vehicleSteeringDescriptionErrors"></v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                    @click="addSteeringDesc()">
                                                                <v-icon left>
                                                                    mdi-plus
                                                                </v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in vehicleSteeringDescriptionList"
                                                        :key="item.description">
                                                        <td>
                                                            {{ item.description }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                    class="mx-auto"
                                                                    @click="deleteSteeringDesc(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-card-text>
                                </v-col>
                                <v-col cols="12" v-if="!notVehicleSteeringDetailIndicator" class="py-0 my-0">
                                    <v-card-title>
                                        Расположение рулевого колеса
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0">
                                        <v-row>
                                            <v-col cols="12" class="py-1 my-0">
                                                <v-simple-table dense>
                                                    <template v-slot:default>
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center pa-1" width="30%">
                                                                    <v-autocomplete label="Расположение рулевого колеса*" :disabled="disabled"
                                                                                    :items="dics.nsi027steering"
                                                                                    v-model="vehicleSteeringDetail.steeringWheelPositionId"
                                                                                    clearable
                                                                                    dense hide-details
                                                                                    class="ma-1"
                                                                                    item-text="name"
                                                                                    item-value="id"
                                                                                    :menu-props="{ maxHeight: '400' }"
                                                                                    :error-messages="vehicleSteeringDetailErrors"></v-autocomplete>
                                                                </th>
                                                                <!--th class="text-center pa-1" width="30%" >
                                                                    <v-text-field v-model="vehicleSteeringDetail.vehicleSteeringType"
                                                                                  label="Тип рулевого"
                                                                                  dense hide-details
                                                                                  clearable>
                                                                    </v-text-field>
                                                                </th-->
                                                                <th class="text-center pa-1" width="50%">
                                                                    <v-text-field v-model="vehicleSteeringDetail.vehicleSteeringDescription" :disabled="disabled"
                                                                                  label="Описание расположения"
                                                                                  dense hide-details
                                                                                  clearable>
                                                                    </v-text-field>
                                                                </th>
                                                                <th class="text-center py-1 px-0" width="20%">
                                                                    <v-btn outlined v-if="!disabled"
                                                                           @click="addSteering">
                                                                        <v-icon>mdi-plus</v-icon>
                                                                        Добавить
                                                                    </v-btn>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <template v-for="(item, index) in vehicleSteeringDetailsList">
                                                                <tr>
                                                                    <td>{{ item.steeringWheelPositionName }}</td>
                                                                    <td>
                                                                        {{ item.vehicleSteeringDescription }}
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <v-btn icon v-if="!disabled"
                                                                               class="mx-auto"
                                                                               @click="deleteSteering(item)">
                                                                            <v-icon color="red lighten-1">
                                                                                mdi-close
                                                                            </v-icon>
                                                                        </v-btn>
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                        </tbody>
                                                    </template>
                                                </v-simple-table>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>

        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleSteeringDetailModel } from '@/models/vehicle/characteristics/VehicleSteeringDetail.model';
    import { VehicleSteeringDescriptionModel } from '@/models/documents/complience/VehicleSteeringDescription.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum'; 

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleSteeringDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                vehicleSteeringDetail: VehicleSteeringDetailModel,
                notVehicleSteeringDetailIndicator: boolean,
                vehicleSteeringDetailErrors: any,

                vehicleSteeringDescription: VehicleSteeringDescriptionModel,
                vehicleSteeringDescriptionErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi027steering: [],
                },
                vehicleSteeringDetail: new VehicleSteeringDetailModel(),
                notVehicleSteeringDetailIndicator: false,
                vehicleSteeringDetailErrors: [],

                vehicleSteeringDescription: new VehicleSteeringDescriptionModel(),
                vehicleSteeringDescriptionErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notVehicleSteeringDetailIndicator: function (val, oldVal) {
                this.charateristic.notVehicleSteeringDetailIndicator = !!val ? 1 : 0;
            },
            'charateristic.notVehicleSteeringDetailIndicator': function (val, oldVal) {
                this.notVehicleSteeringDetailIndicator = val == 1;
            },
        },
        computed: {
            vehicleSteeringDetailsList(): Array<VehicleSteeringDetailModel> {
                return this.charateristic.vehicleSteeringDetails.filter(c => c.state != ObjectState.Deleted);
            },
            vehicleSteeringDescriptionList(): Array<VehicleSteeringDescriptionModel> {
                return this.charateristic.vehicleSteeringDescriptions.filter(c => c.state != ObjectState.Deleted);
            },
        },
        methods: {
            addSteering() {
                this.vehicleSteeringDetailErrors = [];
                if (this.vehicleSteeringDetail.steeringWheelPositionId) {
                    this.vehicleSteeringDetail.characteristicId = this.charateristic.id;
                    this.vehicleSteeringDetail.state = ObjectState.Added;

                    this.vehicleSteeringDetail.steeringWheelPositionName = this.dics.nsi027steering
                        .find(e => e.id == this.vehicleSteeringDetail.steeringWheelPositionId).name

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleSteeringDetail(this.vehicleSteeringDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleSteeringDetail.id = response.data.entityId;
                                    this.vehicleSteeringDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleSteeringDetails.push(this.vehicleSteeringDetail);
                                    this.vehicleSteeringDetail = new VehicleSteeringDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleSteeringDetails.push(this.vehicleSteeringDetail);
                        this.vehicleSteeringDetail = new VehicleSteeringDetailModel();
                    }
                } else {
                    this.vehicleSteeringDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteSteering(item) {
                var indx = this.charateristic.vehicleSteeringDetails
                    .findIndex(chd => chd.vehicleSteeringType == item.vehicleSteeringType && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleSteeringDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleSteeringDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleSteeringDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleSteeringDetails.splice(indx, 1);
                    }
                }
            },

            addSteeringDesc() {
                this.vehicleSteeringDescriptionErrors = [];
                if (this.vehicleSteeringDescription.description) {
                    if (!this.charateristic.vehicleSteeringDescriptions
                        .some(d => d.description == this.vehicleSteeringDescription.description
                            && d.id == this.vehicleSteeringDescription.id)) {

                        this.vehicleSteeringDescription.characteristicId = this.charateristic.id;
                        this.vehicleSteeringDescription.state = ObjectState.Added;

                        if (this.charateristic.id != 0) {
                            ComplienceService.saveVehicleSteeringDescription(this.vehicleSteeringDescription)
                                .then(response => {
                                    if (response.status == 'Ok') {
                                        this.vehicleSteeringDescription.id = response.data.entityId;
                                        this.vehicleSteeringDescription.state = ObjectState.Unchanged;
                                        this.charateristic.vehicleSteeringDescriptions.push(this.vehicleSteeringDescription);
                                        this.vehicleSteeringDescription = new VehicleSteeringDescriptionModel();
                                    } else {
                                        this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                    }
                                }).catch(err => {
                                    this.$emit('show_message', 'Возникла ошибка: ' + err);
                                });
                        } else {
                            this.charateristic.vehicleSteeringDescriptions.push(this.vehicleSteeringDescription);
                            this.vehicleSteeringDescription = new VehicleSteeringDescriptionModel();
                        }
                    }
                } else {
                    this.vehicleSteeringDescriptionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteSteeringDesc(item: VehicleSteeringDescriptionModel) {
                var indx = this.charateristic.vehicleSteeringDescriptions
                    .findIndex(chd => chd.description == item.description && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleSteeringDescriptions[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleSteeringDescription(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleSteeringDescriptions.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleSteeringDescriptions.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi027')
                .then(response => {
                    this.dics.nsi027steering = response.data;
                }).catch(err => {
                });
        },
    });
</script>


