<template>
    <div>
        <section class="container container--fluid" id="vehicleBodyworkDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleBodyworkDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Тип кузова/количество дверей
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col>
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="40%">
                                                        Тип кузова
                                                    </th>
                                                    <th class="text-center" width="40%">
                                                        Количество дверей
                                                    </th>
                                                    <th width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addObj">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleBodyworkDetailList"
                                                    :key="item.vehicleBodyWorkTypeName">
                                                    <td class="text-left">{{ item.vehicleBodyWorkTypeName }}</td>
                                                    <td class="text-center">{{ item.doorQuantity }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteObj(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>

            <!-- Dialog -->
            <v-row justify="center" no-gutters>
                <v-dialog v-model="dialog"
                            persistent
                            max-width="800px">

                    <v-form ref="vehicleBodyworkDetailForm"
                            v-model="vehicleBodyworkDetailValid"
                            lazy-validation>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Тип кузова</span>
                            </v-card-title>
                            <v-card-text>

                                <!-- Тип кузова  -->
                                <v-row>
                                    <v-col class="py-0 my-0">
                                        <v-autocomplete label="Тип кузова*"
                                                        :items="dics.nsi54bodywork"
                                                        v-model="vehicleBodyworkDetail.vehicleBodyWorkTypeId"
                                                        clearable dense outlined
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"
                                                        hint="Выберите тип кузова"
                                                        :rules="rules.required"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Количество дверей  -->
                                <v-row>
                                    <v-col class="py-0 my-0">
                                        <v-text-field-integer v-model="vehicleBodyworkDetail.doorQuantity"
                                                              label="Количество дверей*"
                                                              v-bind:properties="{
                                        prefix: '',
                                        suffix: '',
                                        readonly: false,
                                        disabled: false,
                                        outlined: true,
                                        clearable: true,
                                        placeholder: '',
                                        dense: true,
                                        'hide-details': false,
                                        rules: rules.required
                                        }"
                                                              v-bind:options="{
                                        inputMask: '####',
                                        outputMask: '####',
                                        empty: null,
                                        applyAfter: false,
                                        }" />
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary"
                                       text
                                       @click="saveObj">
                                    Сохранить
                                </v-btn>
                                <v-btn color="secondary"
                                       text
                                       @click="dialog = false">
                                    Отмена
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                    

                </v-dialog>
            </v-row>
            
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleBodyworkDetailModel } from '@/models/vehicle/characteristics/VehicleBodyworkDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';


    export default Vue.extend({
        name: 'VehicleBodyworkDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                vehicleBodyworkDetail: VehicleBodyworkDetailModel,
                vehicleBodyworkDetailValid: boolean,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi54bodywork: [],
                },
                dialog: false,
                vehicleBodyworkDetail: new VehicleBodyworkDetailModel(),
                vehicleBodyworkDetailValid: true,
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            vehicleBodyworkDetailList(): Array<VehicleBodyworkDetailModel> {
                return this.charateristic.vehicleBodyworkDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
        },
        methods: {
            addObj() {
                this.dialog = true;
            },
            saveObj() {
                if ((this.$refs.vehicleBodyworkDetailForm as any).validate()) {
                    if (this.vehicleBodyworkDetail.vehicleBodyWorkTypeId) {
                        this.vehicleBodyworkDetail.vehicleBodyWorkTypeName = this.dics.nsi54bodywork
                            .find(m => m.id == this.vehicleBodyworkDetail.vehicleBodyWorkTypeId).name;
                    }
                    this.vehicleBodyworkDetail.state = ObjectState.Added;
                    this.vehicleBodyworkDetail.characteristicId = this.charateristic.id;

                    if (this.vehicleBodyworkDetail.characteristicId != 0) {
                        ComplienceService.saveVehicleBodyworkDetail(this.vehicleBodyworkDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleBodyworkDetail.id = response.data.entityId;
                                    this.charateristic.vehicleBodyworkDetails.push(this.vehicleBodyworkDetail);
                                    this.vehicleBodyworkDetail.state = ObjectState.Unchanged;
                                    this.vehicleBodyworkDetail = new VehicleBodyworkDetailModel();
                                    this.dialog = false;
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleBodyworkDetails.push(this.vehicleBodyworkDetail);
                        this.vehicleBodyworkDetail = new VehicleBodyworkDetailModel();
                        this.dialog = false;
                    }
                }
            },
            deleteObj(item: VehicleBodyworkDetailModel) {
                var indx = this.charateristic.vehicleBodyworkDetails
                    .findIndex(chd => chd.vehicleBodyWorkTypeId == item.vehicleBodyWorkTypeId);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleBodyworkDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleBodyworkDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleBodyworkDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleBodyworkDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi054')
                .then(response => {
                    this.dics.nsi54bodywork = response.data;
                }).catch(err => {
                });
        },
    });
</script>


