<template>
    <div>
        <section class="container container--fluid" id="vehicleBrakingSystemDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleBrakingSystemDetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                Тормозные системы
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-row>
                                <v-col cols="12">
                                    <v-card-text class="py-1 my-0">
                                        <v-switch v-model="notVehicleBrakingSystemDetailIndicator" :disabled="disabled"
                                                  inset dense class="mt-0" hide-details
                                                  label="Тормозные системы отсутствует"></v-switch>
                                    </v-card-text>
                                </v-col>
                                <v-col cols="12" v-if="!notVehicleBrakingSystemDetailIndicator" class="py-0 my-0">
                                    <v-card-text class="py-1 my-0">
                                        <v-row>
                                            <v-col cols="12" class="py-1 my-0">
                                                <v-simple-table dense>
                                                    <template v-slot:default>
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center pa-1" width="30%">
                                                                    <v-autocomplete label="Наименование элемента тормозной системы*" :disabled="disabled"
                                                                                    :items="dics.nsi029brakingpart"
                                                                                    v-model="vehicleBrakingSystemDetail.vehicleBrakingSystemKindId"
                                                                                    clearable
                                                                                    dense hide-details
                                                                                    class="ma-1"
                                                                                    item-text="name"
                                                                                    item-value="id"
                                                                                    :menu-props="{ maxHeight: '400' }"
                                                                                    :error-messages="vehicleBrakingSystemDetailErrors"></v-autocomplete>
                                                                </th>
                                                                <th class="text-center pa-1" width="50%">
                                                                    <v-text-field v-model="vehicleBrakingSystemDetail.vehicleBrakingSystemDescription" :disabled="disabled"
                                                                                  label="Описание*"
                                                                                  dense hide-details clearable
                                                                                  :error-messages="vehicleBrakingSystemDetailErrors">
                                                                    </v-text-field>
                                                                </th>
                                                                <th class="text-center py-1 px-0" width="20%">
                                                                    <v-btn outlined v-if="!disabled"
                                                                           @click="addBrake">
                                                                        <v-icon>mdi-plus</v-icon>
                                                                        Добавить
                                                                    </v-btn>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <template v-for="(item, index) in vehicleBrakingSystemDetailsList">
                                                                <tr>
                                                                    <td>{{ item.vehicleBrakingSystemKindName }}</td>
                                                                    <td>
                                                                        {{ item.vehicleBrakingSystemDescription }}
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <v-btn icon v-if="!disabled"
                                                                               class="mx-auto"
                                                                               @click="deleteBrake(item)">
                                                                            <v-icon color="red lighten-1">
                                                                                mdi-close
                                                                            </v-icon>
                                                                        </v-btn>
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                        </tbody>
                                                    </template>
                                                </v-simple-table>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleBrakingSystemDetailModel } from '@/models/vehicle/characteristics/VehicleBrakingSystemDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleBrakingSystemDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                vehicleBrakingSystemDetail: VehicleBrakingSystemDetailModel,
                notVehicleBrakingSystemDetailIndicator: boolean,
                vehicleBrakingSystemDetailErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi029brakingpart: [],
                },
                vehicleBrakingSystemDetail: new VehicleBrakingSystemDetailModel(),
                notVehicleBrakingSystemDetailIndicator: false,
                vehicleBrakingSystemDetailErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notVehicleBrakingSystemDetailIndicator: function (val, oldVal) {
                this.charateristic.notVehicleBrakingSystemDetailIndicator = !!val ? 1 : 0;
            },
            'charateristic.notVehicleBrakingSystemDetailIndicator': function (val, oldVal) {
                this.notVehicleBrakingSystemDetailIndicator = val == 1;
            },
        },
        computed: {
            vehicleBrakingSystemDetailsList(): Array<VehicleBrakingSystemDetailModel> {
                return !this.charateristic 
                ? []
                : this.charateristic.vehicleBrakingSystemDetails.filter(c => c.state != ObjectState.Deleted);
            },
        },
        methods: {
            addBrake() {
                this.vehicleBrakingSystemDetailErrors = [];
                if (this.vehicleBrakingSystemDetail.vehicleBrakingSystemKindId
                    && this.vehicleBrakingSystemDetail.vehicleBrakingSystemDescription) {
                    this.vehicleBrakingSystemDetail.characteristicId = this.charateristic.id;
                    this.vehicleBrakingSystemDetail.state = ObjectState.Added;

                    this.vehicleBrakingSystemDetail.vehicleBrakingSystemKindName = this.dics.nsi029brakingpart
                        .find(e => e.id == this.vehicleBrakingSystemDetail.vehicleBrakingSystemKindId).name

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleBrakingSystemDetail(this.vehicleBrakingSystemDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleBrakingSystemDetail.id = response.data.entityId;
                                    this.vehicleBrakingSystemDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleBrakingSystemDetails.push(this.vehicleBrakingSystemDetail);
                                    this.vehicleBrakingSystemDetail = new VehicleBrakingSystemDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleBrakingSystemDetails.push(this.vehicleBrakingSystemDetail);
                        this.vehicleBrakingSystemDetail = new VehicleBrakingSystemDetailModel();
                    }
                } else {
                    this.vehicleBrakingSystemDetailErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteBrake(item) {
                var indx = this.charateristic.vehicleBrakingSystemDetails
                    .findIndex(chd => chd.vehicleBrakingSystemKindId == item.vehicleBrakingSystemKindId
                     && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleBrakingSystemDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleBrakingSystemDetail(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleBrakingSystemDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleBrakingSystemDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi029')
                .then(response => {
                    this.dics.nsi029brakingpart = response.data;
                }).catch(err => {
                });
        },
    });
</script>


