<template>
    <div>
        <section class="container container--fluid" id="vehicleSeatDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleSeatDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Количество мест для сидения
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col>
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="30%">
                                                        Количество мест для сидения
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        Описание мест для сидения
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        Количество мест спереди/сзади (Ряд - Количество мест)
                                                    </th>
                                                    <th width="10%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addObj">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleSeatDetailList"
                                                    :key="item.seatQuantity">
                                                    <td>{{ item.seatQuantity }}</td>
                                                    <td>{{ item.seatDescription }}</td>
                                                    <td>
                                                        <ul>
                                                            <li v-for="(itm, indx) in item.vehicleSeatRawDetails">
                                                                {{ itm.seatRawOrdinal }} - {{ itm.seatRawQuantity }}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteObj(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>

                <!-- Dialog -->
                <v-row justify="center" no-gutters>
                    <v-dialog v-model="dialog"
                              persistent
                              max-width="800px">
                        <v-form ref="vehicleSeatDetailForm"
                                v-model="vehicleSeatDetailValid"
                                lazy-validation>

                            <v-card>
                                <v-card-title>
                                    <span class="headline">Количество мест для сидения</span>
                                </v-card-title>
                                <v-card-text>

                                    <!-- Количество мест для сидения  -->
                                    <v-row>
                                        <v-col class="py-1 my-0">
                                            <v-text-field-integer v-model="vehicleSeatDetail.seatQuantity"
                                                                  label="Количество мест для сидения*"
                                                                  v-bind:properties="{
                                            prefix: '',
                                            suffix: '',
                                            readonly: false,
                                            disabled: false,
                                            outlined: true,
                                            clearable: true,
                                            placeholder: '',
                                            dense: true,
                                            'hide-details': true,
                                            rules: rules.required,
                                          }"
                                                                  v-bind:options="{
                                            inputMask: '####',
                                            outputMask: '####',
                                            empty: null,
                                            applyAfter: false,
                                          }" 
                                           />
                                        </v-col>
                                    </v-row>

                                    <!-- Описание мест для сидения  -->
                                    <v-row>
                                        <v-col class="py-1 my-0">
                                            <v-text-field v-model="vehicleSeatDetail.seatDescription"
                                                          label="Описание мест для сидения"
                                                          outlined dense
                                                          clearable hide-details></v-text-field>
                                        </v-col>
                                    </v-row>

                                    <!-- Количество мест спереди/сзади  -->
                                    <v-row>
                                        <v-col class="py-0 my-0">
                                            <v-simple-table dense>
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="py-1" width="40%">
                                                                <v-text-field-integer v-model="vehicleSeatRawDetail.seatRawOrdinal"
                                                                                      label="Ряд*"
                                                                                      v-bind:properties="{
                                                                                prefix: '',
                                                                                suffix: '',
                                                                                readonly: false,
                                                                                disabled: false,
                                                                                outlined: true,
                                                                                clearable: true,
                                                                                placeholder: '',
                                                                                dense: true,
                                                                                'hide-details': true,
                                                                                'error-messages': seatRawErrors,
                                                                              }"
                                                                                      v-bind:options="{
                                                                                inputMask: '###',
                                                                                outputMask: '###',
                                                                                empty: null,
                                                                                applyAfter: false,
                                                                                }"  />
                                                            </th>
                                                            <th class="py-1" width="40%">
                                                                <v-text-field-integer v-model="vehicleSeatRawDetail.seatRawQuantity"
                                                                                      label="Количество мест*"
                                                                                      v-bind:properties="{
                                                                                prefix: '',
                                                                                suffix: '',
                                                                                readonly: false,
                                                                                disabled: false,
                                                                                outlined: true,
                                                                                clearable: true,
                                                                                placeholder: '',
                                                                                dense: true,
                                                                                'hide-details': true,
                                                                                'error-messages': seatRawErrors,
                                                                              }"
                                                                                      v-bind:options="{
                                                                                inputMask: '####',
                                                                                outputMask: '####',
                                                                                empty: null,
                                                                                applyAfter: false,
                                                                              }" />
                                                            </th>
                                                            <th style="padding: 5px;" width="20%">
                                                                <v-btn outlined
                                                                       @click="addDescription()">
                                                                    <v-icon left>
                                                                        mdi-plus
                                                                    </v-icon>
                                                                    Добавить
                                                                </v-btn>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in vehicleSeatDetail.vehicleSeatRawDetails"
                                                            :key="item.seatRawOrdinal">
                                                            <td>
                                                                {{ item.seatRawOrdinal }}
                                                            </td>
                                                            <td>
                                                                {{ item.seatRawQuantity }}
                                                            </td>
                                                            <td class="d-flex justify-center">
                                                                <v-btn icon
                                                                       class="mx-auto"
                                                                       @click="deleteDescription(item)">
                                                                    <v-icon color="red lighten-1">
                                                                        mdi-close
                                                                    </v-icon>
                                                                </v-btn>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn color="primary"
                                           text
                                           @click="saveObj">
                                        Сохранить
                                    </v-btn>
                                    <v-btn color="secondary"
                                           text
                                           @click="dialog = false">
                                        Отмена
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-form>

                    </v-dialog>
                </v-row>
            
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleSeatDetailModel } from '@/models/vehicle/characteristics/VehicleSeatDetail.model';
    import { VehicleSeatRawDetailModel } from '@/models/vehicle/characteristics/VehicleSeatRawDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleSeatDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dialog: boolean,
                vehicleSeatDetail: VehicleSeatDetailModel,
                vehicleSeatRawDetail: VehicleSeatRawDetailModel,
                vehicleSeatDetailValid: boolean,

                seatRawErrors: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dialog: false,
                vehicleSeatDetail: new VehicleSeatDetailModel(),
                vehicleSeatRawDetail: new VehicleSeatRawDetailModel(),
                vehicleSeatDetailValid: true,

                seatRawErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            vehicleSeatDetailList(): Array<VehicleSeatDetailModel> {
                return this.charateristic.vehicleSeatDetails.filter(vr => vr.state != ObjectState.Deleted);
            }
        },
        methods: {
            addObj() {
                this.dialog = true;
            },
            saveObj() {
                if ((this.$refs.vehicleSeatDetailForm as any).validate()) {
                    this.vehicleSeatDetail.state = ObjectState.Added;
                    this.vehicleSeatDetail.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleSeatDetail(this.vehicleSeatDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleSeatDetail = response.data.entity;
                                    this.vehicleSeatDetail.state = ObjectState.Unchanged;
                                    this.vehicleSeatDetail.vehicleSeatRawDetails.forEach(vs => vs.state = ObjectState.Unchanged);
                                    this.charateristic.vehicleSeatDetails.push(this.vehicleSeatDetail);
                                    this.vehicleSeatDetail = new VehicleSeatDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            })
                    } else {
                        this.charateristic.vehicleSeatDetails.push(this.vehicleSeatDetail);
                        this.vehicleSeatDetail = new VehicleSeatDetailModel();
                    }
                    this.dialog = false;
                }
            },
            deleteObj(item: VehicleSeatDetailModel) {
                var indx = this.charateristic.vehicleSeatDetails
                    .findIndex(chd => chd.seatQuantity == item.seatQuantity && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deletedEntity = this.charateristic.vehicleSeatDetails[indx];
                        deletedEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleSeatDetail(deletedEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleSeatDetails.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            })
                    } else {
                        this.charateristic.vehicleSeatDetails.splice(indx, 1);
                    }
                }
            },

            addDescription() {
                this.seatRawErrors = [];
                if (this.vehicleSeatRawDetail.seatRawOrdinal) {
                    this.vehicleSeatRawDetail.vehicleSeatDetailId = this.vehicleSeatRawDetail.id;
                    this.vehicleSeatRawDetail.state = ObjectState.Added;

                    this.vehicleSeatDetail.vehicleSeatRawDetails.push(this.vehicleSeatRawDetail);
                    this.vehicleSeatRawDetail = new VehicleSeatRawDetailModel();
                } else {
                    this.seatRawErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteDescription(item) {
                var indx = this.vehicleSeatDetail.vehicleSeatRawDetails.findIndex(chd => chd.seatRawOrdinal == item.seatRawOrdinal
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.vehicleSeatDetail.vehicleSeatRawDetails[indx].state = ObjectState.Deleted;
                    } else {
                        this.vehicleSeatDetail.vehicleSeatRawDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
        },
    });
</script>


