<template>
    <div>
        <section class="container container--fluid" id="vehicleWeightDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleWeightDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Масса
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-card outlined>
                    <!-- Масса -->
                    <v-row no-gutters class="pb-5">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Масса
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left py-1" width="30%">
                                                        <v-autocomplete label="Вид массы*" :disabled="disabled"
                                                                        :items="dics.nsi19weighttype"
                                                                        v-model="vehicleWeightMeasure.massTypeId"
                                                                        clearable dense hide-details
                                                                        item-text="name"
                                                                        item-value="id"
                                                                        :menu-props="{ maxHeight: '400' }"
                                                                        hint="Выберите вид массы"
                                                                        :error-messages="weightMeasureErrors"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="30%">
                                                        <v-text-field v-model.number="vehicleWeightMeasure.weight" :disabled="disabled"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      dense hide-details clearable
                                                                      :error-messages="weightMeasureErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="30%">
                                                        <v-text-field v-model.number="vehicleWeightMeasure.weightMax" :disabled="disabled"
                                                                      label="Максимально"
                                                                      type="number"
                                                                      dense hide-details clearable>
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="5%">
                                                        Единица измерения (кг)
                                                    </th>
                                                    <th class="text-center py-1" width="5%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addWeight">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleWeightMeasureList"
                                                    :key="index">
                                                    <td class="text-left">{{ item.massTypeName }}</td>
                                                    <td class="text-center">{{ item.weight }}</td>
                                                    <td class="text-center">{{ item.weightMax }}</td>
                                                    <td class="text-center">
                                                        {{ item.unitName }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteWeight(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card>
            </v-lazy>

            <h4 class="v-heading text-h5 text-sm-h5 mt-5" v-if="!isOtch && !isSbkts">
                <a href="#vehicleWeightDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Масса буксируемого прицепа
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition" v-if="!isOtch && !isSbkts">
                <v-card outlined>
                    <!-- Буксировка прицепа -->
                    <v-row no-gutters>
                        <v-col>
                            <v-card-text class="py-1 my-0">
                                <v-switch v-model="notVehicleTrailerIndicator" :disabled="disabled"
                                          inset dense
                                          label="Буксировка прицепа"></v-switch>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Масса прицепа без тормозной системы -->
                    <v-row no-gutters class="pb-5" v-if="notVehicleTrailerIndicator">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Масса прицепа без тормозной системы
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="unbrakedTrailerWeightMeasure.weightMeasure" :disabled="disabled"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      dense hide-details clearable
                                                                      :error-messages="unbrakedTrailerWeightErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="unbrakedTrailerWeightMeasure.weightMeasureMax" :disabled="disabled"
                                                                      label="Максимально"
                                                                      type="number"
                                                                      dense hide-details clearable>
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="10%">
                                                        Единица измерения
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addUnbraked">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in unbrakedTrailerWeightMeasureList"
                                                    :key="item.height">
                                                    <td class="text-center">{{ item.weightMeasure }}</td>
                                                    <td class="text-center">{{ item.weightMeasureMax }}</td>
                                                    <td class="text-center">{{ item.unitName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteUnbraked(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Масса прицепа с тормозной системой  -->
                    <v-row no-gutters class="pb-5" v-if="notVehicleTrailerIndicator">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Масса прицепа с тормозной системой
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="brakedTrailerWeightMeasure.weightMeasure" :disabled="disabled"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      dense hide-details clearable
                                                                      :error-messages="brakedTrailerWeightErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="brakedTrailerWeightMeasure.weightMeasureMax" :disabled="disabled"
                                                                      label="Максимально"
                                                                      type="number"
                                                                      dense hide-details clearable>
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="10%">
                                                        Единица измерения
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addBraked">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in brakedTrailerWeightMeasureList"
                                                    :key="item.height">
                                                    <td class="text-center">{{ item.weightMeasure }}</td>
                                                    <td class="text-center">{{ item.weightMeasureMax }}</td>
                                                    <td class="text-center">{{ item.unitName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteBraked(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Технически допустимая максимальная нагрузка на опорно сцепное устройство -->
                    <v-row no-gutters class="pb-5" v-if="notVehicleTrailerIndicator">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Технически допустимая максимальная нагрузка на опорно сцепное устройство
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="vehicleHitchLoadMeasure.hitchLoadMeasure" :disabled="disabled"
                                                                      label="Минимально*"
                                                                      type="number"
                                                                      dense hide-details clearable
                                                                      :error-messages="vehicleHitchLoadErrors">
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-text-field v-model.number="vehicleHitchLoadMeasure.hitchLoadMeasureMax" :disabled="disabled"
                                                                      label="Минимально"
                                                                      type="number"
                                                                      dense hide-details clearable>
                                                        </v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="10%">
                                                        Единица измерения
                                                    </th>
                                                    <th class="text-center py-1" width="10%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addHitchLoad">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleHitchLoadMeasureList"
                                                    :key="item.width">
                                                    <td class="text-center">{{ item.hitchLoadMeasure }}</td>
                                                    <td class="text-center">{{ item.hitchLoadMeasureMax }}</td>
                                                    <td class="text-center">{{ item.unitName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteHitchLoad(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';

    import { VehicleWeightMeasureModel } from '@/models/vehicle/characteristics/VehicleWeightMeasure.model';
    import { UnbrakedTrailerWeightMeasureModel } from '@/models/vehicle/characteristics/UnbrakedTrailerWeightMeasure.model';
    import { BrakedTrailerWeightMeasureModel } from '@/models/vehicle/characteristics/BrakedTrailerWeightMeasure.model';
    import { VehicleHitchLoadMeasureModel } from '@/models/vehicle/characteristics/VehicleHitchLoadMeasure.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleWeightDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                notVehicleTrailerIndicator: boolean,
                vehicleWeightMeasure: VehicleWeightMeasureModel,
                unbrakedTrailerWeightMeasure: UnbrakedTrailerWeightMeasureModel,
                brakedTrailerWeightMeasure: BrakedTrailerWeightMeasureModel,
                vehicleHitchLoadMeasure: VehicleHitchLoadMeasureModel,

                weightMeasureErrors: any,
                unbrakedTrailerWeightErrors: any,
                brakedTrailerWeightErrors: any,
                vehicleHitchLoadErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
                dics: {
                    nsi19weighttype: [],
                    nsi33unit:[],
                },
                notVehicleTrailerIndicator: false,
                vehicleWeightMeasure: new VehicleWeightMeasureModel(),
                unbrakedTrailerWeightMeasure: new UnbrakedTrailerWeightMeasureModel(),
                brakedTrailerWeightMeasure: new BrakedTrailerWeightMeasureModel(),
                vehicleHitchLoadMeasure: new VehicleHitchLoadMeasureModel(),

                weightMeasureErrors: [],
                unbrakedTrailerWeightErrors: [],
                brakedTrailerWeightErrors: [],
                vehicleHitchLoadErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notVehicleTrailerIndicator: function (val, oldVal) {
                this.charateristic.notVehicleTrailerIndicator = !!val ? 1 : 0;
            },
            'charateristic.notVehicleTrailerIndicator': function (val, oldVal) {
                this.notVehicleTrailerIndicator = val == 1;
            },
        },
        computed: {
            isOtch() {
                return this.document.docTypeCode == 'otch';
            },
            isSbkts() {
                return this.document.docTypeCode == 'sbkts';
            },

            vehicleWeightMeasureList(): Array<VehicleWeightMeasureModel> {
                return this.charateristic.vehicleWeightMeasures.filter(vr => vr.state != ObjectState.Deleted);
            },
            unbrakedTrailerWeightMeasureList(): Array<UnbrakedTrailerWeightMeasureModel> {
                return this.charateristic.unbrakedTrailerWeightMeasures.filter(vr => vr.state != ObjectState.Deleted);
            },
            brakedTrailerWeightMeasureList(): Array<BrakedTrailerWeightMeasureModel> {
                return this.charateristic.brakedTrailerWeightMeasures.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleHitchLoadMeasureList(): Array<VehicleHitchLoadMeasureModel> {
                return this.charateristic.vehicleHitchLoadMeasures.filter(vr => vr.state != ObjectState.Deleted);
            },
        },
        methods: {
            addWeight() {
                this.weightMeasureErrors = [];
                if (this.vehicleWeightMeasure.weight && this.vehicleWeightMeasure.massTypeId) {
                    this.vehicleWeightMeasure.state = ObjectState.Added;
                    this.vehicleWeightMeasure.characteristicId = this.charateristic.id;
                    this.vehicleWeightMeasure.massTypeName = this.dics.nsi19weighttype
                        .find(m => m.id == this.vehicleWeightMeasure.massTypeId).name;
                    if (!this.vehicleWeightMeasure.unitId) {
                        this.vehicleWeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleWeightMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleWeightMeasure(this.vehicleWeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleWeightMeasure.id = response.data.entityId;
                                    this.vehicleWeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleWeightMeasures.push(this.vehicleWeightMeasure);
                                    this.vehicleWeightMeasure = new VehicleWeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleWeightMeasures.push(this.vehicleWeightMeasure);
                        this.vehicleWeightMeasure = new VehicleWeightMeasureModel();
                    }
                } else {
                    this.weightMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteWeight(item: VehicleWeightMeasureModel) {
                var indx = this.charateristic.vehicleWeightMeasures.findIndex(chd => chd.weight == item.weight
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleWeightMeasures[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleWeightMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleWeightMeasures.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                    } else {
                        this.charateristic.vehicleWeightMeasures.splice(indx, 1);
                    }
                }
            },

            addUnbraked() {
                this.unbrakedTrailerWeightErrors = [];
                if (this.unbrakedTrailerWeightMeasure.weightMeasure) {
                    this.unbrakedTrailerWeightMeasure.state = ObjectState.Added;
                    this.unbrakedTrailerWeightMeasure.characteristicId = this.charateristic.id;

                    if (!this.unbrakedTrailerWeightMeasure.unitId) {
                        this.unbrakedTrailerWeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.unbrakedTrailerWeightMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveUnbrakedTrailerWeight(this.unbrakedTrailerWeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.unbrakedTrailerWeightMeasure.id = response.data.entityId;
                                    this.unbrakedTrailerWeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.unbrakedTrailerWeightMeasures.push(this.unbrakedTrailerWeightMeasure);
                                    this.unbrakedTrailerWeightMeasure = new UnbrakedTrailerWeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.unbrakedTrailerWeightMeasures.push(this.unbrakedTrailerWeightMeasure);
                        this.unbrakedTrailerWeightMeasure = new UnbrakedTrailerWeightMeasureModel();
                    }
                } else {
                    this.unbrakedTrailerWeightErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteUnbraked(item: UnbrakedTrailerWeightMeasureModel) {
                var indx = this.charateristic.unbrakedTrailerWeightMeasures.findIndex(chd => chd.weightMeasure == item.weightMeasure
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.unbrakedTrailerWeightMeasures[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveUnbrakedTrailerWeight(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.unbrakedTrailerWeightMeasures.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.unbrakedTrailerWeightMeasures.splice(indx, 1);
                    }
                }
            },

            addBraked() {
                this.brakedTrailerWeightErrors = [];
                if (this.brakedTrailerWeightMeasure.weightMeasure) {
                    this.brakedTrailerWeightMeasure.state = ObjectState.Added;
                    this.brakedTrailerWeightMeasure.characteristicId = this.charateristic.id;

                    if (!this.brakedTrailerWeightMeasure.unitId) {
                        this.brakedTrailerWeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.brakedTrailerWeightMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveBrakedTrailerWeight(this.brakedTrailerWeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.brakedTrailerWeightMeasure.id = response.data.entityId;
                                    this.brakedTrailerWeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.brakedTrailerWeightMeasures.push(this.brakedTrailerWeightMeasure);
                                    this.brakedTrailerWeightMeasure = new BrakedTrailerWeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.brakedTrailerWeightMeasures.push(this.brakedTrailerWeightMeasure);
                        this.brakedTrailerWeightMeasure = new BrakedTrailerWeightMeasureModel();
                    }                    
                } else {
                    this.brakedTrailerWeightErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteBraked(item: BrakedTrailerWeightMeasureModel) {
                var indx = this.charateristic.brakedTrailerWeightMeasures.findIndex(chd => chd.weightMeasure == item.weightMeasure
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.brakedTrailerWeightMeasures[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveBrakedTrailerWeight(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.brakedTrailerWeightMeasures.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.brakedTrailerWeightMeasures.splice(indx, 1);
                    }
                }
            },

            addHitchLoad() {
                this.vehicleHitchLoadErrors = [];
                if (this.vehicleHitchLoadMeasure.hitchLoadMeasure) {
                    if (!this.charateristic.vehicleHitchLoadMeasures
                        .some(b => b.hitchLoadMeasure == this.vehicleHitchLoadMeasure.hitchLoadMeasure)) {

                        this.vehicleHitchLoadMeasure.state = ObjectState.Added;
                        this.vehicleHitchLoadMeasure.characteristicId = this.charateristic.id;

                        if (!this.vehicleHitchLoadMeasure.unitId) {
                            this.vehicleHitchLoadMeasure.unitId = this.dics.nsi33unit
                                .find(d => d.code == this.vehicleHitchLoadMeasure.unitCode).id;
                        }

                        if (this.charateristic.id != 0) {
                            ComplienceService.saveVehicleHitchLoadMeasure(this.vehicleHitchLoadMeasure)
                                .then(response => {
                                    if (response.status == 'Ok') {
                                        this.vehicleHitchLoadMeasure.id = response.data.entityId;
                                        this.vehicleHitchLoadMeasure.state = ObjectState.Unchanged;
                                        this.charateristic.vehicleHitchLoadMeasures.push(this.vehicleHitchLoadMeasure);
                                        this.vehicleHitchLoadMeasure = new VehicleHitchLoadMeasureModel();
                                    } else {
                                        this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                    }
                                })
                                .catch(err => {
                                    this.$emit('show_message', 'Возникла ошибка: ' + err);
                                });
                        } else {
                            this.charateristic.vehicleHitchLoadMeasures.push(this.vehicleHitchLoadMeasure);
                            this.vehicleHitchLoadMeasure = new VehicleHitchLoadMeasureModel();
                        }
                    }
                } else {
                    this.vehicleHitchLoadErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteHitchLoad(item: VehicleHitchLoadMeasureModel) {
                var indx = this.charateristic.vehicleHitchLoadMeasures.findIndex(chd => chd.hitchLoadMeasure == item.hitchLoadMeasure
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleHitchLoadMeasures[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleHitchLoadMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleHitchLoadMeasures.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleHitchLoadMeasures.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi019')
                .then(response => {
                    this.dics.nsi19weighttype = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });
        },
    });
</script>


