<template>
    <div>
        <section class="container container--fluid" id="vehicleTyreKindInfo-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleTyreKindInfo-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Шины
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-1 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center pa-1" width="30%">
                                                            <v-checkbox v-model="isSupplementVehicleTyre" :disabled="disabled"
                                                                        class="mt-1"
                                                                        hide-details
                                                                        label="Запасная шина"></v-checkbox>
                                                            <v-text-field v-model="vehicleTyreKindInfo.vehicleTyreKindSize" :disabled="disabled"
                                                                          label="Обозначение размера*" class="mt-2"
                                                                          :error-messages="vehicleTyreKindInfoErrors"
                                                                          dense hide-details clearable></v-text-field>
                                                        </th>
                                                        <th class="text-center pa-1" width="30%">
                                                            <v-text-field class="mt-10" :disabled="disabled"
                                                                          v-model="vehicleTyreKindInfo.vehicleTyreKindIndex"
                                                                          label="Индекс несущей способности для максимально допустимой нагрузки"
                                                                          dense hide-details clearable></v-text-field>
                                                        </th>
                                                        <th class="text-center pa-1" width="30%" v-if="!isSbkts">
                                                            <v-autocomplete class="mt-10" :disabled="disabled"
                                                                            label="Скоростная категория"
                                                                            :items="dics.nsi039TyreKind"
                                                                            v-model="vehicleTyreKindInfo.vehicleTyreKindSpeedId"
                                                                            clearable
                                                                            dense hide-details
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                                        </th>
                                                        <th class="text-center pa-1" width="10%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addTyre">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleTyreKindInfoList">
                                                        <td>{{ item.vehicleTyreKindSize }}</td>
                                                        <td>{{ item.vehicleTyreKindIndex }}</td>
                                                        <td v-if="!isSbkts">{{ item.vehicleTyreKindSpeedName }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteTyre(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleTyreKindInfoModel } from '@/models/vehicle/characteristics/VehicleTyreKindInfo.model';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleTyreKindInfoForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                notVehicleClutchDetailIndicator: boolean,
                isSupplementVehicleTyre: boolean,
                vehicleTyreKindInfo: VehicleTyreKindInfoModel,

                vehicleTyreKindInfoErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi039TyreKind: [],
                },
                notVehicleClutchDetailIndicator: false,
                isSupplementVehicleTyre: false,
                vehicleTyreKindInfo: new VehicleTyreKindInfoModel(),

                vehicleTyreKindInfoErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            isSupplementVehicleTyre: function (val, oldVal) {
                this.vehicleTyreKindInfo.isSupplementVehicleTyre = !!val ? 1 : 0;
            },
            'vehicleTyreKindInfo.isSupplementVehicleTyre': function (val, oldVal) {
                this.isSupplementVehicleTyre = val == 1;
            },
        },
        computed: {
            vehicleTyreKindInfoList(): Array<VehicleTyreKindInfoModel> {
                return !this.charateristic
                    ? []
                    : this.charateristic.vehicleTyreKindInfos.filter(c => c.state != ObjectState.Deleted);
            },
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            }
        },
        methods: {
            addTyre() {
                this.vehicleTyreKindInfoErrors = [];
                if (this.vehicleTyreKindInfo.vehicleTyreKindSize) {
                    this.vehicleTyreKindInfo.characteristicsDetailId = this.charateristic.id;
                    this.vehicleTyreKindInfo.state = ObjectState.Added;

                    if (this.vehicleTyreKindInfo.vehicleTyreKindSpeedId) {
                        this.vehicleTyreKindInfo.vehicleTyreKindSpeedName = this.dics.nsi039TyreKind
                            .find(d => d.id == this.vehicleTyreKindInfo.vehicleTyreKindSpeedId).name;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleTyreKindInfo(this.vehicleTyreKindInfo).then(response => {
                            if (response.status == 'Ok') {
                                this.vehicleTyreKindInfo.id = response.data.entityId;
                                this.vehicleTyreKindInfo.state = ObjectState.Unchanged;
                                this.charateristic.vehicleTyreKindInfos.push(this.vehicleTyreKindInfo);
                                this.vehicleTyreKindInfo = new VehicleTyreKindInfoModel();
                            } else {
                                this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                            }
                        });
                    } else {
                        this.charateristic.vehicleTyreKindInfos.push(this.vehicleTyreKindInfo);
                        this.vehicleTyreKindInfo = new VehicleTyreKindInfoModel();
                    }
                } else {
                    this.vehicleTyreKindInfoErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteTyre(item) {
                var indx = this.charateristic.vehicleTyreKindInfos
                    .findIndex(chd => chd.vehicleTyreKindSize == item.vehicleTyreKindSize
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteVehicleTyreKind = this.charateristic.vehicleTyreKindInfos[indx];
                        deleteVehicleTyreKind.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleTyreKindInfo(deleteVehicleTyreKind).then(response => {
                            if (response.status == 'Ok') {
                                this.charateristic.vehicleTyreKindInfos.splice(indx, 1);
                            } else {
                                this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                            }
                        });
                    } else {
                        this.charateristic.vehicleTyreKindInfos.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
            DictionaryService.getNsiValues('nsi039')
                .then(response => {
                    this.dics.nsi039TyreKind = response.data;
                }).catch(err => {
                });
        },
    });
</script>


