<template>
    <div>
        <section class="container container--fluid" id="vehicleRunningGearDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleRunningGearDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Ходовая часть
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col>
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="40%"
                                                        v-if="!isOcategory()">
                                                        Колесная формула
                                                    </th>
                                                    <th class="text-center" width="40%"
                                                        v-if="!isOcategory()">
                                                        Ведущие колеса
                                                    </th>
                                                    <th class="text-center" width="40%" v-if="isOcategory()">
                                                        Количество осей / Количество колес
                                                    </th>
                                                    <th class="text-center" width="40%" v-if="isLcategory()">
                                                        Количество и расположение колес
                                                    </th>
                                                    <th width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addWheel">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleRunningGearDetailList"
                                                    :key="item.vehicleWheelQuantityName">
                                                    <td class="text-center" v-if="!isOcategory()">
                                                        {{ item.vehicleWheelFormulaName }}
                                                    </td>
                                                    <td class="text-center" v-if="!isOcategory()">
                                                        <ul>
                                                            <li v-for="(pw, indx) in item.poweredWheelLocations">
                                                                {{ pw.wheelLocationName }}
                                                            </li>
                                                        </ul>                                                      
                                                    </td>
                                                    <td class="text-center" v-if="isOcategory()">
                                                        {{ item.vehicleAxleQuantity }} / {{ item.vehicleWheelQuantity }}
                                                    </td>
                                                    <td class="text-center" v-if="isLcategory()">
                                                        {{ item.vehicleWheelLocation }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteWheel(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>

            <!-- Dialog -->
            <v-row justify="center" no-gutters>
                <v-dialog v-model="dialog"
                            persistent
                            max-width="800px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Ходовая часть</span>
                        </v-card-title>
                        <v-card-text>

                            <!-- Колесная формула  -->
                            <v-row v-if="!isOcategory()">
                                <v-col class="py-0 my-0">
                                    <v-autocomplete label="Колесная формула"
                                                    :items="dics.nsi45wheelFormula"
                                                    v-model="vehicleRunningGearDetail.vehicleWheelFormulaId"
                                                    clearable dense outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Выберите колесную формулу"
                                                    :error-messages="vehicleWheelFormulaErrors"></v-autocomplete>
                                </v-col>
                            </v-row>

                            <!-- Ведущие колеса  -->
                            <v-row v-if="!isOcategory()">
                                <v-col class="py-0 mt-0 mb-3">
                                    <v-card-title class="py-1 my-0 mx-0">
                                        Ведущие колеса
                                    </v-card-title>
                                    <v-card-text class="py-1 my-0 mx-0 px-0">
                                        <template>
                                            <v-simple-table dense>
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center py-1" width="80%">
                                                                <v-autocomplete label="Ведущие колеса"
                                                                                :items="dics.nsi79wheelLocation"
                                                                                v-model="poweredWheelLocation.wheelLocationId"
                                                                                clearable dense outlined hide-details
                                                                                item-text="name"
                                                                                item-value="id"
                                                                                :menu-props="{ maxHeight: '400' }"
                                                                                hint="Выберите ведущие колеса"
                                                                                :error-mesages="poweredWheelErrors"></v-autocomplete>
                                                            </th>
                                                            <th class="text-center py-1" width="20%">
                                                                <v-btn outlined
                                                                       @click="addPoweredWheel">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                    Добавить
                                                                </v-btn>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, index) in vehicleRunningGearDetail.poweredWheelLocations"
                                                            :key="item.id">
                                                            <td>{{ item.wheelLocationName }}</td>
                                                            <td class="text-center">
                                                                <v-btn icon
                                                                       class="mx-auto"
                                                                       @click="deletePoweredWheel(item)">
                                                                    <v-icon color="red lighten-1">
                                                                        mdi-close
                                                                    </v-icon>
                                                                </v-btn>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </template>
                                    </v-card-text>
                                </v-col>
                            </v-row>

                            <!-- Количество осей Количество колес  -->
                            <v-row v-if="isOcategory()">
                                <v-col class="py-1 my-0" cols="5">
                                    <v-text-field v-model.number="vehicleRunningGearDetail.vehicleAxleQuantity"
                                                label="Количество осей*"
                                                type="number"
                                                dense hide-details clearable
                                                :error-messages="vehicleAxleQuantityErrors">
                                    </v-text-field>
                                </v-col>
                                <v-col class="py-1 my-0 text-h5 text-center" cols="1">
                                    /
                                </v-col>
                                <v-col class="py-1 my-0" cols="5">
                                    <v-text-field v-model.number="vehicleRunningGearDetail.vehicleWheelQuantity"
                                                label="Количество колес*"
                                                type="number"
                                                dense hide-details clearable
                                                :error-messages="vehicleAxleQuantityErrors">
                                    </v-text-field>
                                </v-col>
                                <v-col class="py-1 my-0" cols="1">
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col class="py-1 my-0" v-if="isLcategory() && isOtts">
                                    <v-text-field v-model="vehicleRunningGearDetail.vehicleWheelLocation"
                                                label="Количество и расположение колес"
                                                dense hide-details clearable outlined
                                                :error-messages="vehicleWheelLocationErrors">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="primary"
                                    text
                                    @click="saveWheel">
                                Сохранить
                            </v-btn>
                            <v-btn color="secondary"
                                    text
                                    @click="dialog = false">
                                Отмена
                            </v-btn>
                        </v-card-actions>
                    </v-card>

                </v-dialog>
            </v-row>
            
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleRunningGearDetailModel } from '@/models/vehicle/characteristics/VehicleRunningGearDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { PoweredWheelLocationModel } from '@/models/vehicle/characteristics/PoweredWheelLocation.model';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    
    export default Vue.extend({
        name: 'VehicleRunningGearDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                vehicleRunningGearDetail: VehicleRunningGearDetailModel,

                poweredWheelErrors: any,
                poweredWheelLocation: PoweredWheelLocationModel,

                vehicleAxleQuantityErrors: any;
                vehicleWheelLocationErrors: any;
                vehicleWheelFormulaErrors: any;
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi45wheelFormula: [],
                    nsi79wheelLocation: [],
                },
                dialog: false,
                vehicleRunningGearDetail: new VehicleRunningGearDetailModel(),

                poweredWheelErrors: [],
                poweredWheelLocation: new PoweredWheelLocationModel(),

                vehicleAxleQuantityErrors: [],
                vehicleWheelLocationErrors: [],
                vehicleWheelFormulaErrors: [],

            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            vehicleRunningGearDetailList(): Array<VehicleRunningGearDetailModel> {
                return !this.charateristic
                    ? [] 
                    : this.charateristic.vehicleRunningGearDetails.filter(vr => vr.state != ObjectState.Deleted);
            },
           
            isOtts(): boolean {
               return this.document.docTypeCode == 'otts';
            },
        },
        methods: {
            addWheel() {
                this.dialog = true;
                this.vehicleRunningGearDetail = new VehicleRunningGearDetailModel();
                this.poweredWheelLocation = new PoweredWheelLocationModel();
            },
            saveWheel() {
                if (this.isOcategory()) {
                    if (!this.vehicleRunningGearDetail.vehicleAxleQuantity
                        && !this.vehicleRunningGearDetail.vehicleWheelLocation) {
                        this.vehicleAxleQuantityErrors = ['Поле обязательно для заполнения'];
                        return;
                    }
                } else {
                    if (!this.vehicleRunningGearDetail.vehicleWheelFormulaId) {
                        this.vehicleWheelFormulaErrors = ['Поле обязательно для заполнения'];
                        return;
                    }
                }

                if (this.isLcategory()) {
                    if (!this.vehicleRunningGearDetail.vehicleWheelLocation) {
                        this.vehicleWheelLocationErrors = ['Поле обязательно для заполнения'];
                        return;
                    }
                }

                if (this.vehicleRunningGearDetail.vehicleWheelFormulaId) {
                    this.vehicleRunningGearDetail.vehicleWheelFormulaName = this.dics.nsi45wheelFormula
                        .find(m => m.id == this.vehicleRunningGearDetail.vehicleWheelFormulaId).name;
                }
                this.vehicleRunningGearDetail.state = ObjectState.Added;
                this.vehicleRunningGearDetail.characteristicId = this.charateristic.id;

                if (this.charateristic.id != 0) {
                    ComplienceService.saveVehicleRunningGearDetail(this.vehicleRunningGearDetail)
                    .then(response => {
                        if (response.status == 'Ok') {
                            this.vehicleRunningGearDetail = response.data.entity;
                            this.vehicleRunningGearDetail.state = ObjectState.Unchanged;
                            this.charateristic.vehicleRunningGearDetails.push(this.vehicleRunningGearDetail);
                            this.vehicleRunningGearDetail = new VehicleRunningGearDetailModel();
                        } else {
                            this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                        }
                    }).catch(err => {
                        this.$emit('show_message', 'Возникла ошибка: ' + err);
                    });

                } else {
                    this.charateristic.vehicleRunningGearDetails.push(this.vehicleRunningGearDetail);
                    this.vehicleRunningGearDetail = new VehicleRunningGearDetailModel();
                }

                this.dialog = false;
            },
            deleteWheel(item: VehicleRunningGearDetailModel) {
                var indx = this.charateristic.vehicleRunningGearDetails
                    .findIndex(chd => chd.vehicleWheelFormulaId == item.vehicleWheelFormulaId && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleRunningGearDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleRunningGearDetail(deleteEntity).then(response => {
                            if (response.status == 'Ok') {
                                this.charateristic.vehicleRunningGearDetails.splice(indx, 1);
                            } else {
                                this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                            }
                        }).catch(err => {
                            this.$emit('show_message', 'Возникла ошибка: ' + err);
                        });
                    } else {
                        this.charateristic.vehicleRunningGearDetails.splice(indx, 1);
                    }
                }
            },

            isOcategory() {
                if (this.document.vehicleTypeDetail
                    && this.document.vehicleTypeDetail.techCategories
                    && this.document.vehicleTypeDetail.techCategories.length > 0
                ) {
                    return this.document.vehicleTypeDetail.techCategories
                        .some(t => t.dicCode == 'O1'
                            || t.dicCode == 'O2'
                            || t.dicCode == 'O3'
                            || t.dicCode == 'O4'
                        );
                }
                return false;
            },
            isLcategory() {
                if (this.document.vehicleTypeDetail
                    && this.document.vehicleTypeDetail.techCategories
                    && this.document.vehicleTypeDetail.techCategories.length > 0
                ) {
                    return this.document.vehicleTypeDetail.techCategories
                        .some(t => t.dicCode == 'L1'
                            || t.dicCode == 'L2'
                            || t.dicCode == 'L3'
                            || t.dicCode == 'L4'
                            || t.dicCode == 'L5'
                            || t.dicCode == 'L6'
                            || t.dicCode == 'L7'
                        );
                }
                return false;
            },

            addPoweredWheel() {
                this.poweredWheelErrors = []
                if (this.poweredWheelLocation.wheelLocationId) {
                    this.poweredWheelLocation.state = ObjectState.Added;
                    this.poweredWheelLocation.vehicleRunningGearDetailId = this.vehicleRunningGearDetail.id;
                    const wheelLocation = this.dics.nsi79wheelLocation.find(wl => wl.id == this.poweredWheelLocation.wheelLocationId);
                    this.poweredWheelLocation.wheelLocationName = wheelLocation.name;
                    this.poweredWheelLocation.wheelLocationCode = wheelLocation.code;

                    this.vehicleRunningGearDetail.poweredWheelLocations.push(this.poweredWheelLocation);

                    this.poweredWheelLocation = new PoweredWheelLocationModel();
                } else {
                    this.poweredWheelErrors = ['Поле обязательно на заполнения'];
                }
            },
            deletePoweredWheel(item: PoweredWheelLocationModel) {
                var indx = this.vehicleRunningGearDetail.poweredWheelLocations
                    .findIndex(chd => chd.wheelLocationId == item.wheelLocationId && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        this.vehicleRunningGearDetail.poweredWheelLocations[indx].state = ObjectState.Deleted;
                    } else {
                        this.vehicleRunningGearDetail.poweredWheelLocations.splice(indx, 1);
                    }
                }
            }
        },
        async created() {
            DictionaryService.getNsiValues('nsi045')
                .then(response => {
                    this.dics.nsi45wheelFormula = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi079')
                .then(response => {
                    this.dics.nsi79wheelLocation = response.data;
                }).catch(err => {
                });
        },
    });
</script>


