<template>
    <div>
        <section class="container container--fluid" id="vehicleClutchDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleClutchDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Сцепление
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-1 my-0">
                                        <v-switch v-model="notVehicleClutchDetailIndicator" :disabled="disabled"
                                                  inset dense class="mt-0" hide-details
                                                  label="Сцепление отсутствует"></v-switch>
                                    </v-col>
                                    <v-col cols="12" v-if="!notVehicleClutchDetailIndicator" class="py-1 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center pa-1" width="50%">
                                                            <v-text-field v-model="vehicleClutchDetail.vehicleClutchDescription" :disabled="disabled"
                                                                          label="Тип*"
                                                                          :error-messages="vehicleClutchErrors"
                                                                          dense hide-details clearable></v-text-field>
                                                        </th>
                                                        <th class="text-center pa-1" width="30%">
                                                            <v-text-field v-model="vehicleClutchDetail.vehicleClutchMakeName" :disabled="disabled"
                                                                          label="Марка"
                                                                          dense hide-details clearable></v-text-field>
                                                        </th>
                                                        <th class="text-center py-1 px-0" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addClutch">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleClutchDetailList">
                                                        <td>{{ item.vehicleClutchDescription }}</td>
                                                        <td>{{ item.vehicleClutchMakeName }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteClutch(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleClutchDetailModel } from '@/models/vehicle/characteristics/VehicleClutchDetail.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';


    export default Vue.extend({
        name: 'VehicleClutchDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                notVehicleClutchDetailIndicator: boolean,
                vehicleClutchDetail: VehicleClutchDetailModel,

                vehicleClutchErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                notVehicleClutchDetailIndicator: false,
                vehicleClutchDetail: new VehicleClutchDetailModel(),

                vehicleClutchErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            notVehicleClutchDetailIndicator: function (val, oldVal) {
                this.charateristic.notVehicleClutchDetailIndicator = !!val ? 1 : 0;
            },
            'charateristic.notVehicleClutchDetailIndicator': function (val, oldVal) {
                this.notVehicleClutchDetailIndicator = val == 1;
            },
        },
        computed: {
            vehicleClutchDetailList(): Array<VehicleClutchDetailModel> {
                return this.charateristic.vehicleClutchDetails.filter(c => c.state != ObjectState.Deleted);
            },
        },
        methods: {
            addClutch() {
                this.vehicleClutchErrors = [];
                if (this.vehicleClutchDetail.vehicleClutchDescription) {
                    this.vehicleClutchDetail.characteristicsDetailId = this.charateristic.id;
                    this.vehicleClutchDetail.state = ObjectState.Added;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleClutchDetail(this.vehicleClutchDetail).then(response => {
                            if (response.status == 'Ok') {
                                this.vehicleClutchDetail.id = response.data.entityId;
                                this.vehicleClutchDetail.state = ObjectState.Unchanged;
                                this.charateristic.vehicleClutchDetails.push(this.vehicleClutchDetail);
                                this.vehicleClutchDetail = new VehicleClutchDetailModel();
                            } else {
                                this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                            }
                        });
                    } else {
                        this.charateristic.vehicleClutchDetails.push(this.vehicleClutchDetail);
                        this.vehicleClutchDetail = new VehicleClutchDetailModel();
                    }
                } else {
                    this.vehicleClutchErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteClutch(item) {
                var indx = this.charateristic.vehicleClutchDetails
                    .findIndex(chd => chd.vehicleClutchMakeName == item.vehicleClutchMakeName
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteClutch = this.charateristic.vehicleClutchDetails[indx];
                        deleteClutch.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleClutchDetail(deleteClutch).then(response => {
                            if (response.status == 'Ok') {
                                this.charateristic.vehicleClutchDetails.splice(indx, 1);
                            } else {
                                this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                            }
                        });
                    } else {
                        this.charateristic.vehicleClutchDetails.splice(indx, 1);
                    }
                }
            },
        },
        async created() {
        },
    });
</script>


