<template>
    <div>
        <section class="container container--fluid" id="vehicleLayoutDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleLayoutDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                {{ getTitle() }}
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-card outlined>
                    <!-- Схема компоновки транспортного средства -->
                    <v-row no-gutters class="pb-5">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                {{ getLayoutPatternTitle() }}
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-autocomplete label="Схема компоновки транспортного средства*" :disabled="disabled"
                                                                        :items="dics.nsi50layout"
                                                                        v-model="vehicleLayoutPatternDetail.layoutPatternId"
                                                                        clearable hide-details
                                                                        dense
                                                                        item-text="name"
                                                                        item-value="id"
                                                                        :menu-props="{ maxHeight: '400' }"
                                                                        :error-messages="layoutPatternErrors"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addLayout">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleLayoutPatternDetailList"
                                                    :key="item.layoutPatternId">
                                                    <td>{{ item.layoutPatternName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteLayout(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Расположение двигателя -->
                    <v-row no-gutters class="pb-5">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Расположение двигателя
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-autocomplete label="Расположение двигателя*" :disabled="disabled"
                                                                        :items="dics.nsi47enginelayout"
                                                                        v-model="vehicleEngineLayoutDetail.engineLocationId"
                                                                        clearable hide-details
                                                                        dense
                                                                        item-text="name"
                                                                        item-value="id"
                                                                        :menu-props="{ maxHeight: '400' }"
                                                                        hint="Выберите расположение двигателя"
                                                                        :error-messages="engineLocationErrors"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addELayout">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleEngineLayoutDetailList"
                                                    :key="item.engineLocationName">
                                                    <td>{{ item.engineLocationName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteELayout(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Исполнение загрузочного пространства -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Исполнение загрузочного пространства
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-text-field v-model="vehicleCarriageSpaceImplementation.carriageSpaceImplementation" :disabled="disabled"
                                                                      label="Исполнение загрузочного пространства*"
                                                                      dense
                                                                      clearable hide-details
                                                                      :error-messages="carriageSpaceImplementationErrors"></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addCarriage">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleCarriageSpaceImplementationList"
                                                    :key="item.carriageSpaceImplementation">
                                                    <td>{{ item.carriageSpaceImplementation }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteCarriage(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Специализированное транспортное средство -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch && !isSbkts">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Специализированное транспортное средство
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <v-switch v-model="isSpecializedVehicle" :disabled="disabled"
                                          inset dense
                                          label="Специализированное транспортное средство"></v-switch>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Кабина -->
                    <v-row no-gutters class="pb-5">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Кабина
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-text-field v-model="vehicleCabin.cabinDescription" :disabled="disabled"
                                                                      label="Кабина*"
                                                                      dense
                                                                      clearable hide-details
                                                                      :error-messages="cabinDescriptionErrors"></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addCabin">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleCabinList"
                                                    :key="item.cabinDescription">
                                                    <td class="text-left">{{ item.cabinDescription }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteCabin(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Назначение -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch && !isSbkts">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Назначение
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-autocomplete label="Назначение*" :disabled="disabled"
                                                                        :items="dics.nsi68purpose"
                                                                        v-model="vehiclePurpose.purposeId"
                                                                        clearable hide-details
                                                                        dense
                                                                        item-text="name"
                                                                        item-value="id"
                                                                        :menu-props="{ maxHeight: '400' }"
                                                                        hint="Выберите назначение"
                                                                        :error-messages="vehiclePurposeErrors"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="40%">
                                                        <v-autocomplete label="Иное" :disabled="disabled"
                                                                        :items="dics.nsi69otherpurpose"
                                                                        v-model="vehiclePurpose.otherInfoId"
                                                                        clearable hide-details
                                                                        dense
                                                                        item-text="name"
                                                                        item-value="id"
                                                                        :menu-props="{ maxHeight: '400' }"
                                                                        hint="Выберите иное назначение"
                                                                        :error-messages="vehiclePurposeOtherInfoErrors"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addPurpose">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehiclePurposeList"
                                                    :key="item.purposeId">
                                                    <td>{{ item.purposeName }}</td>
                                                    <td>{{ item.otherInfoName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deletePurpose(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Рама -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Рама
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-text-field v-model="vehicleFrame.frameText" :disabled="disabled"
                                                                      label="Описание рамы*"
                                                                      dense
                                                                      clearable hide-details
                                                                      :error-messages="frameTextErrors"></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addFrame">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleFrameList"
                                                    :key="item.frameText">
                                                    <td>{{ item.frameText }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteFrame(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Пассажировместимость -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Пассажировместимость
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="80%">
                                                        <v-text-field-integer v-model="vehiclePassengerQuantity.passengerQuantity" :disabled="disabled"
                                                                              label="Пассажировместимость*"
                                                                              v-bind:properties="{
                                                                            prefix: '',
                                                                            suffix: '',
                                                                            readonly: false,
                                                                            disabled: false,
                                                                            outlined: false,
                                                                            clearable: true,
                                                                            placeholder: '',
                                                                            dense: true,
                                                                            'hide-details': true,
                                                                            'error-messages': passengerQuantityErrors,
                                                                          }"
                                                                              v-bind:options="{
                                                                            inputMask: '####',
                                                                            outputMask: '####',
                                                                            empty: null,
                                                                            applyAfter: false,
                                                                          }" />
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addPassengerQ">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehiclePassengerQuantitieList"
                                                    :key="item.passengerQuantity">
                                                    <td class="text-center">{{ item.passengerQuantity }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deletePassengerQ(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Общий объем багажных отделений -->
                    <v-row no-gutters class="pb-5" v-if="!isOtch">
                        <v-col>
                            <v-card-title class="py-1 my-0">
                                Общий объем багажных отделений
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-center py-1" width="50%">
                                                        <v-text-field-integer v-model="vehicleTrunkVolumeMeasure.trunkVolumeMeasure" :disabled="disabled"
                                                                              label="Объем багажных отделений*"
                                                                              v-bind:properties="{
                                                                            prefix: '',
                                                                            suffix: '',
                                                                            readonly: false,
                                                                            disabled: false,
                                                                            outlined: false,
                                                                            clearable: true,
                                                                            placeholder: '',
                                                                            dense: true,
                                                                            'hide-details': true,
                                                                            'error-messages': vehicleTrunkVolumeMeasureErrors,
                                                                          }"
                                                                              v-bind:options="{
                                                                            inputMask: '########',
                                                                            outputMask: '########',
                                                                            empty: null,
                                                                            applyAfter: false,
                                                                          }" />
                                                    </th>
                                                    <th class="text-center py-1" width="30%">
                                                        <v-autocomplete label="Ед.измерения"
                                                                        :items="dics.nsi33unit"
                                                                        v-model="vehicleTrunkVolumeMeasure.unitId"
                                                                        clearable dense hide-selected hide-details
                                                                        :disabled="disabled"
                                                                        item-text="name"
                                                                        item-value="id"></v-autocomplete>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addTrunkVolume">
                                                            <v-icon>mdi-plus</v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in vehicleTrunkVolumeMeasureList"
                                                    :key="item.trunkVolumeMeasure">
                                                    <td class="text-center">{{ item.trunkVolumeMeasure }}</td>
                                                    <td class="text-center">{{ item.unitName }}</td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteTrunkVolume(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleLayoutPatternDetailModel } from '@/models/vehicle/characteristics/VehicleLayoutPatternDetail.model';
    import { VehicleEngineLayoutDetailModel } from '@/models/vehicle/characteristics/VehicleEngineLayoutDetail.model';
    import { VehicleCarriageSpaceImplementationModel } from '@/models/vehicle/characteristics/VehicleCarriageSpaceImplementation.model';
    import { VehicleCabinModel } from '@/models/vehicle/characteristics/VehicleCabin.model';
    import { VehiclePurposeModel } from '@/models/vehicle/characteristics/VehiclePurpose.model';
    import { VehicleFrameModel } from '@/models/vehicle/characteristics/VehicleFrame.model';
    import { VehiclePassengerQuantityModel } from '@/models/vehicle/characteristics/VehiclePassengerQuantity.model';
    import { VehicleTrunkVolumeMeasureModel } from '@/models/vehicle/characteristics/VehicleTrunkVolumeMeasure.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    


    export default Vue.extend({
        name: 'VehicleLayoutDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                isSpecializedVehicle: boolean,

                vehicleLayoutPatternDetail: VehicleLayoutPatternDetailModel,
                layoutPatternErrors: any,

                vehicleEngineLayoutDetail: VehicleEngineLayoutDetailModel,
                engineLocationErrors: any,

                vehicleCarriageSpaceImplementation: VehicleCarriageSpaceImplementationModel,
                carriageSpaceImplementationErrors: any,

                vehicleCabin: VehicleCabinModel,
                cabinDescriptionErrors: any,

                vehiclePurpose: VehiclePurposeModel,
                vehiclePurposeErrors: any,
                vehiclePurposeOtherInfoErrors: any,

                vehicleFrame: VehicleFrameModel,
                frameTextErrors: any,

                vehiclePassengerQuantity: VehiclePassengerQuantityModel,
                passengerQuantityErrors: any,

                vehicleTrunkVolumeMeasure: VehicleTrunkVolumeMeasureModel,
                vehicleTrunkVolumeMeasureErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi50layout: [],
                    nsi47enginelayout: [],
                    nsi68purpose: [],
                    nsi69otherpurpose: [],
                    nsi33unit: [],
                },
                dialog: false,
                isSpecializedVehicle: false,

                vehicleLayoutPatternDetail: new VehicleLayoutPatternDetailModel(),
                layoutPatternErrors: [],

                vehicleEngineLayoutDetail: new VehicleEngineLayoutDetailModel(),
                engineLocationErrors: [],

                vehicleCarriageSpaceImplementation: new VehicleCarriageSpaceImplementationModel(),
                carriageSpaceImplementationErrors: [],

                vehicleCabin: new VehicleCabinModel(),
                cabinDescriptionErrors: [],

                vehiclePurpose: new VehiclePurposeModel(),
                vehiclePurposeErrors: [],
                vehiclePurposeOtherInfoErrors: [],

                vehicleFrame: new VehicleFrameModel(),
                frameTextErrors: [],

                vehiclePassengerQuantity: new VehiclePassengerQuantityModel(),
                passengerQuantityErrors: [],

                vehicleTrunkVolumeMeasure: new VehicleTrunkVolumeMeasureModel(),
                vehicleTrunkVolumeMeasureErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            isSpecializedVehicle: function (val, oldVal) {
                this.charateristic.isSpecializedVehicle = !!val ? 1 : 0;
            },
            'charateristic.isSpecializedVehicle': function (val, oldVal) {
                this.isSpecializedVehicle = val == 1;
            },
        },
        computed: {
            isOtch() {
                return this.document.docTypeCode == 'otch';
            },
            isSbkts() {
                return this.document.docTypeCode == 'sbkts';
            },

            vehicleLayoutPatternDetailList(): Array<VehicleLayoutPatternDetailModel> {
                return this.charateristic.vehicleLayoutPatterns ? this.charateristic.vehicleLayoutPatterns.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
            vehicleEngineLayoutDetailList(): Array<VehicleEngineLayoutDetailModel> {
                return this.charateristic.vehicleEngineLayouts ? this.charateristic.vehicleEngineLayouts.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
            vehicleCarriageSpaceImplementationList(): Array<VehicleCarriageSpaceImplementationModel> {
                return this.charateristic.vehicleCarriageSpaceImplementations
                    ? this.charateristic.vehicleCarriageSpaceImplementations.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
            vehicleCabinList(): Array<VehicleCabinModel> {
                return this.charateristic.vehicleCabins
                    ? this.charateristic.vehicleCabins.filter(vr => vr.state != ObjectState.Deleted)
                    : [];
            },
            vehiclePurposeList(): Array<VehiclePurposeModel> {
                return this.charateristic.vehiclePurposes
                    ? this.charateristic.vehiclePurposes.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
            vehicleFrameList(): Array<VehicleFrameModel> {
                return this.charateristic.vehicleFrames
                    ? this.charateristic.vehicleFrames.filter(vr => vr.state != ObjectState.Deleted)
                    : [];
            },
            vehiclePassengerQuantitieList(): Array<VehiclePassengerQuantityModel> {
                return this.charateristic.vehiclePassengerQuantities
                    ? this.charateristic.vehiclePassengerQuantities.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
            vehicleTrunkVolumeMeasureList(): Array<VehicleTrunkVolumeMeasureModel> {
                return this.charateristic.vehicleTrunkVolumeMeasures ? this.charateristic.vehicleTrunkVolumeMeasures.filter(vr => vr.state != ObjectState.Deleted) : [];
            },
        },
        methods: {
            addLayout() {
                this.layoutPatternErrors = [];
                if (this.vehicleLayoutPatternDetail.layoutPatternId) {
                    this.vehicleLayoutPatternDetail.layoutPatternName = this.dics.nsi50layout
                        .find(m => m.id == this.vehicleLayoutPatternDetail.layoutPatternId).name;
                    this.vehicleLayoutPatternDetail.state = ObjectState.Added;
                    this.vehicleLayoutPatternDetail.characteristicId = this.charateristic.id;
                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleLayoutDetail(this.vehicleLayoutPatternDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleLayoutPatternDetail.id = response.data.entityId;
                                    this.vehicleLayoutPatternDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleLayoutPatterns.push(this.vehicleLayoutPatternDetail);
                                    this.vehicleLayoutPatternDetail = new VehicleLayoutPatternDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleLayoutPatterns.push(this.vehicleLayoutPatternDetail);
                        this.vehicleLayoutPatternDetail = new VehicleLayoutPatternDetailModel();
                    }
                } else {
                    this.layoutPatternErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteLayout(item: VehicleLayoutPatternDetailModel) {
                var indx = this.charateristic.vehicleLayoutPatterns
                    .findIndex(chd => chd.layoutPatternId == item.layoutPatternId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deletedEntity = this.charateristic.vehicleLayoutPatterns[indx];
                        deletedEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleLayoutDetail(deletedEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleLayoutPatterns.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleLayoutPatterns.splice(indx, 1);
                    }
                }
            },

            addELayout() {
                this.engineLocationErrors = [];
                if (this.vehicleEngineLayoutDetail.engineLocationId) {
                    this.vehicleEngineLayoutDetail.engineLocationName = this.dics.nsi47enginelayout
                        .find(m => m.id == this.vehicleEngineLayoutDetail.engineLocationId).name;
                    this.vehicleEngineLayoutDetail.state = ObjectState.Added;
                    this.vehicleEngineLayoutDetail.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleEngineLayout(this.vehicleEngineLayoutDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleEngineLayoutDetail.id = response.data.entityId;
                                    this.vehicleEngineLayoutDetail.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleEngineLayouts.push(this.vehicleEngineLayoutDetail);
                                    this.vehicleEngineLayoutDetail = new VehicleEngineLayoutDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleEngineLayouts.push(this.vehicleEngineLayoutDetail);
                        this.vehicleEngineLayoutDetail = new VehicleEngineLayoutDetailModel();
                    }
                } else {
                    this.engineLocationErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteELayout(item: VehicleEngineLayoutDetailModel) {
                var indx = this.charateristic.vehicleEngineLayouts
                    .findIndex(chd => chd.engineLocationId == item.engineLocationId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleEngineLayouts[indx];
                        deleteEntity.state = ObjectState.Deleted;

                        ComplienceService.saveVehicleEngineLayout(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleEngineLayouts.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });

                    } else {
                        this.charateristic.vehicleEngineLayouts.splice(indx, 1);
                    }
                }
            },

            addCarriage() {
                this.carriageSpaceImplementationErrors = [];
                if (this.vehicleCarriageSpaceImplementation.carriageSpaceImplementation) {
                    this.vehicleCarriageSpaceImplementation.state = ObjectState.Added;
                    this.vehicleCarriageSpaceImplementation.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleCarriageSpaceImplementation(this.vehicleCarriageSpaceImplementation)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleCarriageSpaceImplementation.id = response.data.entityId;
                                    this.vehicleCarriageSpaceImplementation.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleCarriageSpaceImplementations.push(this.vehicleCarriageSpaceImplementation);
                                    this.vehicleCarriageSpaceImplementation = new VehicleCarriageSpaceImplementationModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleCarriageSpaceImplementations.push(this.vehicleCarriageSpaceImplementation);
                        this.vehicleCarriageSpaceImplementation = new VehicleCarriageSpaceImplementationModel();
                    }
                } else {
                    this.carriageSpaceImplementationErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteCarriage(item: VehicleCarriageSpaceImplementationModel) {
                var indx = this.charateristic.vehicleCarriageSpaceImplementations
                    .findIndex(chd => chd.carriageSpaceImplementation == item.carriageSpaceImplementation
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleCarriageSpaceImplementations[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleCarriageSpaceImplementation(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleCarriageSpaceImplementations.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleCarriageSpaceImplementations.splice(indx, 1);
                    }
                }
            },

            addCabin() {
                this.cabinDescriptionErrors = [];
                if (this.vehicleCabin.cabinDescription) {                    
                    this.vehicleCabin.state = ObjectState.Added;
                    this.vehicleCabin.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleCabin(this.vehicleCabin)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleCabin.id = response.data.entityId;
                                    this.vehicleCabin.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleCabins.push(this.vehicleCabin);
                                    this.vehicleCabin = new VehicleCabinModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleCabins.push(this.vehicleCabin);
                        this.vehicleCabin = new VehicleCabinModel();
                    }
                } else {
                    this.cabinDescriptionErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteCabin(item: VehicleCabinModel) {
                var indx = this.charateristic.vehicleCabins
                    .findIndex(chd => chd.cabinDescription == item.cabinDescription
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleCabins[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleCabin(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleCabins.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleCabins.splice(indx, 1);
                    }
                }
            },

            addPurpose() {
                this.vehiclePurposeErrors = [];
                this.vehiclePurposeOtherInfoErrors = [];
                if (this.vehiclePurpose.purposeId) {
                    this.vehiclePurpose.state = ObjectState.Added;
                    this.vehiclePurpose.characteristicId = this.charateristic.id;

                    var purpose = this.dics.nsi68purpose
                        .find(m => m.id == this.vehiclePurpose.purposeId);
                    this.vehiclePurpose.purposeCode = purpose.code;
                    this.vehiclePurpose.purposeName = purpose.name;

                    if (this.vehiclePurpose.otherInfoId) {
                        this.vehiclePurpose.otherInfoName = this.dics.nsi69otherpurpose
                            .find(m => m.id == this.vehiclePurpose.otherInfoId).name;
                    } else {
                        if (this.vehiclePurpose.purposeCode == '9') {
                            this.vehiclePurposeOtherInfoErrors = ['Поле обязательно для заполнения'];
                            return;
                        }
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehiclePurpose(this.vehiclePurpose)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehiclePurpose.id = response.data.entityId;
                                    this.vehiclePurpose.state = ObjectState.Unchanged;
                                    this.charateristic.vehiclePurposes.push(this.vehiclePurpose);
                                    this.vehiclePurpose = new VehiclePurposeModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehiclePurposes.push(this.vehiclePurpose);
                        this.vehiclePurpose = new VehiclePurposeModel();
                    }
                } else {
                    this.vehiclePurposeErrors = ['Поле обязательно для заполнения'];
                }
            },
            deletePurpose(item: VehiclePurposeModel) {
                var indx = this.charateristic.vehiclePurposes
                    .findIndex(chd => chd.purposeId == item.purposeId
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehiclePurposes[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehiclePurpose(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehiclePurposes.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehiclePurposes.splice(indx, 1);
                    }
                }
            },

            addFrame() {
                this.frameTextErrors = [];
                if (this.vehicleFrame.frameText) {
                    this.vehicleFrame.state = ObjectState.Added;
                    this.vehicleFrame.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleFrame(this.vehicleFrame)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleFrame.id = response.data.entityId;
                                    this.vehicleFrame.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleFrames.push(this.vehicleFrame);
                                    this.vehicleFrame = new VehicleFrameModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleFrames.push(this.vehicleFrame);
                        this.vehicleFrame = new VehicleFrameModel();
                    }
                } else {
                    this.frameTextErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteFrame(item: VehicleFrameModel) {
                var indx = this.charateristic.vehicleFrames
                    .findIndex(chd => chd.frameText == item.frameText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleFrames[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleFrame(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleFrames.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleFrames.splice(indx, 1);
                    }
                }
            },

            addPassengerQ() {
                this.passengerQuantityErrors = [];
                if (this.vehiclePassengerQuantity.passengerQuantity) {
                    this.vehiclePassengerQuantity.state = ObjectState.Added;
                    this.vehiclePassengerQuantity.characteristicId = this.charateristic.id;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehiclePassengerQuantity(this.vehiclePassengerQuantity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehiclePassengerQuantity.id = response.data.entityId;
                                    this.vehiclePassengerQuantity.state = ObjectState.Unchanged;
                                    this.charateristic.vehiclePassengerQuantities.push(this.vehiclePassengerQuantity);
                                    this.vehiclePassengerQuantity = new VehiclePassengerQuantityModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehiclePassengerQuantities.push(this.vehiclePassengerQuantity);
                        this.vehiclePassengerQuantity = new VehiclePassengerQuantityModel();
                    }
                } else {
                    this.passengerQuantityErrors = ['Поле обязательно для заполнения'];
                }
            },
            deletePassengerQ(item: VehiclePassengerQuantityModel) {
                var indx = this.charateristic.vehiclePassengerQuantities
                    .findIndex(chd => chd.passengerQuantity == item.passengerQuantity
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehiclePassengerQuantities[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehiclePassengerQuantity(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehiclePassengerQuantities.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehiclePassengerQuantities.splice(indx, 1);
                    }
                }
            },

            addTrunkVolume() {
                this.vehicleTrunkVolumeMeasureErrors = [];
                if (this.vehicleTrunkVolumeMeasure.trunkVolumeMeasure) {
                    this.vehicleTrunkVolumeMeasure.state = ObjectState.Added;
                    this.vehicleTrunkVolumeMeasure.characteristicId = this.charateristic.id;

                    const unit = this.dics.nsi33unit.find(d => d.id == this.vehicleTrunkVolumeMeasure.unitId)
                    this.vehicleTrunkVolumeMeasure.unitId = unit.id;
                    this.vehicleTrunkVolumeMeasure.unitCode = unit.code;
                    this.vehicleTrunkVolumeMeasure.unitName = unit.name;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleTrunkVolumeMeasure(this.vehicleTrunkVolumeMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleTrunkVolumeMeasure.id = response.data.entityId;
                                    this.vehicleTrunkVolumeMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleTrunkVolumeMeasures.push(this.vehicleTrunkVolumeMeasure);
                                    this.vehicleTrunkVolumeMeasure = new VehicleTrunkVolumeMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleTrunkVolumeMeasures.push(this.vehicleTrunkVolumeMeasure);
                        this.vehicleTrunkVolumeMeasure = new VehicleTrunkVolumeMeasureModel();
                    }
                } else {
                    this.vehicleTrunkVolumeMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteTrunkVolume(item: VehicleTrunkVolumeMeasureModel) {
                var indx = this.charateristic.vehicleTrunkVolumeMeasures
                    .findIndex(chd => chd.trunkVolumeMeasure == item.trunkVolumeMeasure
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleTrunkVolumeMeasures[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleTrunkVolumeMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleTrunkVolumeMeasures.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleTrunkVolumeMeasures.splice(indx, 1);
                    }
                }
            },

            getTitle() {
                if (this.document.docTypeCode == 'otts') {
                    return 'Компоновка транспортного средства';
                } else if (this.document.docTypeCode == 'otch') {
                    return 'Компоновка шасси транспортного средства';
                } else if (this.document.docTypeCode == 'sbkts') {
                    return '';
                }
                return 'Оборудование';
            },

            getLayoutPatternTitle() {
                if (this.document.docTypeCode == 'otch') {
                    return 'Схема компоновки шасси';
                }
                return 'Схема компоновки транспортного средства';
            },


            
        },
        async created() {
            DictionaryService.getNsiValues('nsi050')
                .then(response => {
                    this.dics.nsi50layout = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi047')
                .then(response => {
                    this.dics.nsi47enginelayout = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi068')
                .then(response => {
                    this.dics.nsi68purpose = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValues('nsi069')
                .then(response => {
                    this.dics.nsi69otherpurpose = response.data;
                }).catch(err => {
                });

            DictionaryService.getNsiValuesFiltered('nsi033', ['130112', '130113'])
                .then(response => {
                    this.dics.nsi33unit = response.data;
                    if (!this.vehicleTrunkVolumeMeasure.unitId)
                        this.vehicleTrunkVolumeMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleTrunkVolumeMeasure.unitCode).id;
                }).catch(err => {
                });
        },
    });
</script>


