<template>
    <div>
        <section class="container container--fluid" id="vehicleEquipmentInfo-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleEquipmentInfo-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                {{ getTitle() }}
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-row no-gutters>
                    <v-col cols="12">
                        <v-card outlined>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-1 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center pa-1" width="80%">
                                                            <v-text-field v-model="vehicleEquipmentInfo.vehicleEquipmentText" :disabled="disabled"
                                                                          label="Описание*"
                                                                          dense hide-details clearable
                                                                          :error-messages="vehicleEquipmentTextErrors"></v-text-field>
                                                        </th>
                                                        <th class="text-center py-1 px-0" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addInfo">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleEquipmentInfoList">
                                                        <td>{{ item.vehicleEquipmentText }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteInfo(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleEquipmentInfoModel } from '@/models/vehicle/characteristics/VehicleEquipmentInfo.model';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleEquipmentInfoForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                vehicleEquipmentInfo: VehicleEquipmentInfoModel,
                vehicleEquipmentTextErrors: any,
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                vehicleEquipmentInfo: new VehicleEquipmentInfoModel(),
                vehicleEquipmentTextErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            vehicleEquipmentInfoList(): Array<VehicleEquipmentInfoModel> {
                return this.charateristic.vehicleEquipmentInfos.filter(c => c.state != ObjectState.Deleted);
            },
        },
        methods: {
            addInfo() {
                this.vehicleEquipmentTextErrors = [];
                if (this.vehicleEquipmentInfo.vehicleEquipmentText) {
                    this.vehicleEquipmentInfo.characteristicId = this.charateristic.id;
                    this.vehicleEquipmentInfo.state = ObjectState.Added;

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleEquipmentInfo(this.vehicleEquipmentInfo)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleEquipmentInfo.id = response.data.entityId;
                                    this.vehicleEquipmentInfo.state = ObjectState.Unchanged;
                                    this.charateristic.vehicleEquipmentInfos.push(this.vehicleEquipmentInfo);
                                    this.vehicleEquipmentInfo = new VehicleEquipmentInfoModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleEquipmentInfos.push(this.vehicleEquipmentInfo);
                        this.vehicleEquipmentInfo = new VehicleEquipmentInfoModel();
                    } 
                } else {
                    this.vehicleEquipmentTextErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteInfo(item) {
                var indx = this.charateristic.vehicleEquipmentInfos
                    .findIndex(chd => chd.vehicleEquipmentText == item.vehicleEquipmentText
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.vehicleEquipmentInfos[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleEquipmentInfo(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.vehicleEquipmentInfos.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.vehicleEquipmentInfos.splice(indx, 1);
                    }
                }
            },
            getTitle() {
                if (this.document.docTypeCode == 'otch') {
                    return 'Оборудование шасси транспортного средства';
                }
                return 'Оборудование транспортного средства';
            },
        },
        async created() {
        },
    });
</script>


