<template>
    <div>
        <section class="container container--fluid" id="vehicleDimensionDetail-info">
            <h4 class="v-heading text-h5 text-sm-h5 mb-3">
                <a href="#vehicleDimensionDetail-info" class="text-decoration-none text-right text-md-left">
                    ##
                </a>
                Габаритные размеры
            </h4>
            <v-lazy :options="{ threshold: .5 }" transition="fade-transition">
                <v-card outlined>
                    <!-- Длина -->
                    <v-row no-gutters class="pb-5">
                        <v-col class="py-0 my-0">
                            <v-card-title class="py-1 my-0">
                                Длина
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <v-row no-gutters>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-switch v-model="isVehicleLengthMeasureRangeSign" :disabled="disabled"
                                                  inset dense hide-details
                                                  label="Диапазон"></v-switch>
                                    </v-col>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleLengthMeasure.length" :disabled="disabled"
                                                                          :label="vehicleLengthMeasureTitle"
                                                                          type="number"
                                                                          dense hide-details clearable
                                                                          :error-messages="vehicleLengthMeasureErrors">
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleLengthMeasure.lengthMax" :disabled="disabled"
                                                                          label="Максимально" v-if="isVehicleLengthMeasureRangeSign"
                                                                          type="number"
                                                                          dense hide-details clearable>
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            Единица измерения (мм)
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addLength">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleLengthMeasureList"
                                                        :key="item.length">
                                                        <td class="text-center">{{ item.length }}</td>
                                                        <td class="text-center">
                                                            <template v-if="isVehicleLengthMeasureRangeSign">
                                                                {{ item.lengthMax }}
                                                            </template>
                                                        </td>
                                                        <td class="text-center">
                                                            {{ item.unitName }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteLength(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Ширина -->
                    <v-row no-gutters class="pb-5">
                        <v-col class="py-0 my-0">
                            <v-card-title class="py-1 my-0">
                                Ширина
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-switch v-model="isVehicleWidthMeasureRangeSign" :disabled="disabled"
                                                  inset dense
                                                  label="Диапазон"></v-switch>
                                    </v-col>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleWidthMeasure.width" :disabled="disabled"
                                                                          :label="vehicleWidthMeasureTitle"
                                                                          type="number"
                                                                          dense hide-details clearable
                                                                          :error-messages="vehicleWidthMeasureErrors">
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleWidthMeasure.widthMax" :disabled="disabled"
                                                                          label="Максимально"
                                                                          type="number" v-if="isVehicleWidthMeasureRangeSign"
                                                                          dense hide-details clearable>
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            Единица измерения (мм)
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addWidth">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleWidthMeasureList"
                                                        :key="item.width">
                                                        <td class="text-center">{{ item.width }}</td>
                                                        <td class="text-center">
                                                            <template v-if="isVehicleWidthMeasureRangeSign">
                                                                {{ item.widthMax }}
                                                            </template>
                                                        </td>
                                                        <td class="text-center">{{ item.unitName }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteWidth(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>

                    <!-- Высота -->
                    <v-row no-gutters class="pb-0">
                        <v-col class="py-0 my-0">
                            <v-card-title class="py-1 my-0">
                                Высота
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-switch v-model="isVehicleHeightMeasureRangeSign" :disabled="disabled"
                                                  inset dense
                                                  label="Диапазон"></v-switch>
                                    </v-col>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleHeightMeasure.height" :disabled="disabled"
                                                                          :label="vehicleHeightMeasureTitle"
                                                                          type="number"
                                                                          dense hide-details clearable
                                                                          :error-messages="vehicleHeightMeasureErrors">
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleHeightMeasure.heightMax" :disabled="disabled"
                                                                          label="Максимально"
                                                                          type="number" v-if="isVehicleHeightMeasureRangeSign"
                                                                          dense hide-details clearable>
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            Единица измерения (мм)
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addHeight">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleHeightMeasureList"
                                                        :key="item.height">
                                                        <td class="text-center">{{ item.height }}</td>
                                                        <td class="text-center">
                                                            <template v-if="isVehicleHeightMeasureRangeSign">
                                                                {{ item.heightMax }}
                                                            </template>
                                                        </td>
                                                        <td class="text-center">{{ item.unitName }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteHeight(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="py-0 my-0" v-if="!isOtch">
                            <v-card outlined>
                                <v-card-text class="py-1 my-0">
                                    <v-row no-gutters>
                                        <v-col class="py-0 my-0">
                                            <v-switch v-model="isVariableHeightSign" :disabled="disabled"
                                                      inset dense
                                                      label="Переменная высота"></v-switch>
                                        </v-col>
                                    </v-row>
                                    <!-- Высота погрузки -->
                                    <v-row no-gutters class="pb-5" v-if="isVariableHeightSign">
                                        <v-col class="py-0 my-0">
                                            <v-card-title class="py-1 my-0">
                                                Высота погрузки
                                            </v-card-title>
                                            <v-card-text class="py-1 my-0">
                                                <v-row>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        <v-switch v-model="isVehicleLoadingHeightMeasureRangeSign" :disabled="disabled"
                                                                  inset dense
                                                                  label="Диапазон"></v-switch>
                                                    </v-col>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        <v-simple-table dense>
                                                            <template v-slot:default>
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center py-1" width="40%">
                                                                            <v-text-field v-model.number="vehicleLoadingHeightMeasure.loadingHeight" :disabled="disabled"
                                                                                          :label="vehicleLoadingHeightMeasureTitle"
                                                                                          type="number"
                                                                                          dense hide-details clearable
                                                                                          :error-messages="vehicleLoadingHeightMeasureErrors">
                                                                            </v-text-field>
                                                                        </th>
                                                                        <th class="text-center py-1" width="40%">
                                                                            <v-text-field v-model.number="vehicleLoadingHeightMeasure.loadingHeightMax" :disabled="disabled"
                                                                                          label="Максимально"
                                                                                          type="number" v-if="isVehicleLoadingHeightMeasureRangeSign"
                                                                                          dense hide-details clearable>
                                                                            </v-text-field>
                                                                        </th>
                                                                        <th class="text-center py-1" width="10%">
                                                                            Единица измерения (мм)
                                                                        </th>
                                                                        <th class="text-center py-1" width="20%">
                                                                            <v-btn outlined v-if="!disabled"
                                                                                   @click="addLoadingHeight">
                                                                                <v-icon>mdi-plus</v-icon>
                                                                                Добавить
                                                                            </v-btn>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-for="(item, index) in vehicleLoadingHeightMeasureList"
                                                                        :key="item.height">
                                                                        <td class="text-center">{{ item.loadingHeight }}</td>
                                                                        <td class="text-center">
                                                                            <template v-if="isVehicleLoadingHeightMeasureRangeSign">
                                                                                {{ item.loadingHeightMax }}
                                                                            </template>
                                                                        </td>
                                                                        <td class="text-center">{{ item.unitName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon v-if="!disabled"
                                                                                   class="mx-auto"
                                                                                   @click="deleteLoadingHeight(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </template>
                                                        </v-simple-table>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-col>
                                    </v-row>

                                    <!-- Высота максимально допустимая -->
                                    <v-row no-gutters class="pb-5" v-if="isVariableHeightSign">
                                        <v-col>
                                            <v-card-title class="py-1 my-0">
                                                Высота максимально допустимая
                                            </v-card-title>
                                            <v-card-text class="py-1 my-0">
                                                <v-row>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        <v-switch v-model="isVehicleMaxHeightMeasureRangeSign" :disabled="disabled"
                                                                  inset dense
                                                                  label="Диапазон"></v-switch>
                                                    </v-col>
                                                    <v-col cols="12" class="py-0 my-0">
                                                        <v-simple-table dense>
                                                            <template v-slot:default>
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center py-1" width="40%">
                                                                            <v-text-field v-model.number="vehicleMaxHeightMeasure.maxHeightMeasure" :disabled="disabled"
                                                                                          :label="vehicleMaxHeightMeasureTitle"
                                                                                          type="number"
                                                                                          dense hide-details clearable
                                                                                          :error-messages="vehicleMaxHeightMeasureErrors">
                                                                            </v-text-field>
                                                                        </th>
                                                                        <th class="text-center py-1" width="40%">
                                                                            <v-text-field v-model.number="vehicleMaxHeightMeasure.maxHeightMeasureMax" :disabled="disabled"
                                                                                          label="Максимально"
                                                                                          type="number" v-if="isVehicleMaxHeightMeasureRangeSign"
                                                                                          dense hide-details clearable>
                                                                            </v-text-field>
                                                                        </th>
                                                                        <th class="text-center py-1" width="10%">
                                                                            Единица измерения (мм)
                                                                        </th>
                                                                        <th class="text-center py-1" width="20%">
                                                                            <v-btn outlined v-if="!disabled"
                                                                                   @click="addMaxHeight">
                                                                                <v-icon>mdi-plus</v-icon>
                                                                                Добавить
                                                                            </v-btn>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-for="(item, index) in vehicleMaxHeightMeasureList"
                                                                        :key="item.height">
                                                                        <td class="text-center">{{ item.maxHeightMeasure }}</td>
                                                                        <td class="text-center">
                                                                            <template v-if="isVehicleMaxHeightMeasureRangeSign">
                                                                                {{ item.maxHeightMeasureMax }}
                                                                            </template>
                                                                        </td>
                                                                        <td class="text-center">{{ item.unitName }}</td>
                                                                        <td class="text-center">
                                                                            <v-btn icon v-if="!disabled"
                                                                                   class="mx-auto"
                                                                                   @click="deleteMaxHeight(item)">
                                                                                <v-icon color="red lighten-1">
                                                                                    mdi-close
                                                                                </v-icon>
                                                                            </v-btn>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </template>
                                                        </v-simple-table>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>


                    <!-- База -->
                    <v-row no-gutters class="pb-10">
                        <v-col class="py-0 my-0">
                            <v-card-title class="py-1 my-0">
                                База
                            </v-card-title>
                            <v-card-text class="py-1 my-0">
                                <v-row>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-switch v-model="isVehicleWheelbaseMeasureRangeSign" :disabled="disabled"
                                                  inset dense
                                                  label="Диапазон"></v-switch>
                                    </v-col>
                                    <v-col cols="12" class="py-0 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleWheelbaseMeasure.wheelbase" :disabled="disabled"
                                                                          :label="vehicleWheelbaseMeasureTitle"
                                                                          type="number"
                                                                          dense hide-details clearable
                                                                          :error-messages="vehicleWheelbaseMeasureErrors">
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="40%">
                                                            <v-text-field v-model.number="vehicleWheelbaseMeasure.wheelbaseMax" :disabled="disabled"
                                                                          label="Максимально"
                                                                          type="number" v-if="isVehicleWheelbaseMeasureRangeSign"
                                                                          dense hide-details clearable>
                                                            </v-text-field>
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            Единица измерения (мм)
                                                        </th>
                                                        <th class="text-center py-1" width="10%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addWheelbase">
                                                                <v-icon>mdi-plus</v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in vehicleWheelbaseMeasureList"
                                                        :key="item.width">
                                                        <td class="text-center">{{ item.wheelbase }}</td>
                                                        <td class="text-center">
                                                            <template v-if="isVehicleWheelbaseMeasureRangeSign">
                                                                {{ item.wheelbaseMax }}
                                                            </template>
                                                        </td>
                                                        <td class="text-center">{{ item.unitName }}</td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteWheelbase(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card>
            </v-lazy>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { CharacteristicsDetailModel } from '@/models/vehicle/CharacteristicsDetail.model';
    import { VehicleHeightMeasureModel } from '@/models/vehicle/characteristics/VehicleHeightMeasure.model';
    import { VehicleLengthMeasureModel } from '@/models/vehicle/characteristics/VehicleLengthMeasure.model';
    import { VehicleMaxHeightMeasureModel } from '@/models/vehicle/characteristics/VehicleMaxHeightMeasure.model';
    import { VehicleWidthMeasureModel } from '@/models/vehicle/characteristics/VehicleWidthMeasure.model';
    import { VehicleWheelbaseMeasureModel } from '@/models/vehicle/characteristics/VehicleWheelbaseMeasure.model';
    import { VehicleLoadingHeightMeasureModel } from '@/models/vehicle/characteristics/VehicleLoadingHeightMeasure.model';

    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    export default Vue.extend({
        name: 'VehicleDimensionDetailForm',
        props: {
            charateristic: CharacteristicsDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                isVariableHeightSign: boolean,

                isVehicleLengthMeasureRangeSign: boolean,
                vehicleLengthMeasure: VehicleLengthMeasureModel,
                vehicleLengthMeasureErrors: any,

                isVehicleWidthMeasureRangeSign: boolean,
                vehicleWidthMeasure: VehicleWidthMeasureModel,
                vehicleWidthMeasureErrors: any,

                isVehicleHeightMeasureRangeSign: boolean,
                vehicleHeightMeasure: VehicleHeightMeasureModel,
                vehicleHeightMeasureErrors: any,
                
                isVehicleLoadingHeightMeasureRangeSign: boolean,
                vehicleLoadingHeightMeasure: VehicleLoadingHeightMeasureModel,
                vehicleLoadingHeightMeasureErrors: any,

                isVehicleMaxHeightMeasureRangeSign: boolean,
                vehicleMaxHeightMeasure: VehicleMaxHeightMeasureModel,
                vehicleMaxHeightMeasureErrors: any,

                isVehicleWheelbaseMeasureRangeSign: boolean,
                vehicleWheelbaseMeasure: VehicleWheelbaseMeasureModel,
                vehicleWheelbaseMeasureErrors: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi33unit: [],
                },
                isVariableHeightSign: false,
                isVehicleLengthMeasureRangeSign: false,
                vehicleLengthMeasure: new VehicleLengthMeasureModel(),
                vehicleLengthMeasureErrors: [],
                
                isVehicleWidthMeasureRangeSign: false,
                vehicleWidthMeasure: new VehicleWidthMeasureModel(),
                vehicleWidthMeasureErrors: [],
                
                isVehicleHeightMeasureRangeSign: false,
                vehicleHeightMeasure: new VehicleHeightMeasureModel(),
                vehicleHeightMeasureErrors: [],

                isVehicleLoadingHeightMeasureRangeSign: false,
                vehicleLoadingHeightMeasure: new VehicleLoadingHeightMeasureModel(),
                vehicleLoadingHeightMeasureErrors: [],

                isVehicleMaxHeightMeasureRangeSign: false,
                vehicleMaxHeightMeasure: new VehicleMaxHeightMeasureModel(),
                vehicleMaxHeightMeasureErrors: [],

                isVehicleWheelbaseMeasureRangeSign: false,
                vehicleWheelbaseMeasure: new VehicleWheelbaseMeasureModel(),
                vehicleWheelbaseMeasureErrors: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            isVariableHeightSign: function (val, oldVal) {
                this.charateristic.isVariableHeight = !!val ? 1 : 0;
            },
            'charateristic.isVariableHeight': function (val, oldVal) {
                this.isVariableHeightSign = val == 1;
            },
            'charateristic.lengthRanges': {
                immediate: true,
                handler: function(val, oldVal) {
                    this.isVehicleLengthMeasureRangeSign = this.charateristic.lengthRanges.some(vl => vl.lengthMax != null);
                }
            }, 
            'charateristic.widthRanges': {
                immediate: true,
                handler: function(val, oldVal) {
                    this.isVehicleWidthMeasureRangeSign = this.charateristic.widthRanges.some(vl => vl.widthMax != null);
                }
            },
            'charateristic.heightRanges': {
                immediate: true,
                handler: function(val, oldVal) {
                    this.isVehicleHeightMeasureRangeSign = this.charateristic.heightRanges.some(vl => vl.heightMax != null);
                }
            }, 
            'charateristic.maxHeightRanges': {
                immediate: true,
                handler: function (val, oldVal) {
                    this.isVehicleMaxHeightMeasureRangeSign = this.charateristic.maxHeightRanges.some(vl => vl.maxHeightMeasureMax != null);
                }
            },  
            'charateristic.loadingHeightRanges': {
                immediate: true,
                handler: function (val, oldVal) {
                    this.isVehicleLoadingHeightMeasureRangeSign = this.charateristic.loadingHeightRanges.some(vl => vl.loadingHeightMax != null);
                }
            },  
            'charateristic.wheelbaseMeasureRanges': {
                immediate: true,
                handler: function (val, oldVal) {
                    this.isVehicleWheelbaseMeasureRangeSign = this.charateristic.wheelbaseMeasureRanges.some(vl => vl.wheelbaseMax != null);
                }
            }, 
        },
        computed: {
            isOtch() {
                return this.document.docTypeCode == 'otch';
            },

            vehicleLengthMeasureTitle(): string {
                return !this.isVehicleLengthMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },
            vehicleWidthMeasureTitle(): string {
                return !this.isVehicleWidthMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },
            vehicleHeightMeasureTitle(): string {
                return !this.isVehicleHeightMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },            
            vehicleLoadingHeightMeasureTitle(): string {
                return !this.isVehicleLoadingHeightMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },
            vehicleMaxHeightMeasureTitle(): string {
                return !this.isVehicleMaxHeightMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },
            vehicleWheelbaseMeasureTitle(): string {
                return !this.isVehicleWheelbaseMeasureRangeSign ? 'Значение*' : 'Минимально*';
            },

            vehicleLengthMeasureList(): Array<VehicleLengthMeasureModel> {
                return this.charateristic.lengthRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleHeightMeasureList(): Array<VehicleHeightMeasureModel> {
                return this.charateristic.heightRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleWidthMeasureList(): Array<VehicleWidthMeasureModel> {
                return this.charateristic.widthRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleWheelbaseMeasureList(): Array<VehicleWheelbaseMeasureModel> {
                return this.charateristic.wheelbaseMeasureRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleLoadingHeightMeasureList(): Array<VehicleLoadingHeightMeasureModel> {
                return this.charateristic.loadingHeightRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
            vehicleMaxHeightMeasureList(): Array<VehicleMaxHeightMeasureModel> {
                return this.charateristic.maxHeightRanges.filter(vr => vr.state != ObjectState.Deleted);
            },
        },
        methods: {
            addLength() {
                this.vehicleLengthMeasureErrors = [];
                if (this.vehicleLengthMeasure.length) {
                    this.vehicleLengthMeasure.state = ObjectState.Added;
                    this.vehicleLengthMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleLengthMeasure.unitId) {
                        this.vehicleLengthMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleLengthMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleLengthMeasure(this.vehicleLengthMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleLengthMeasure.id = response.data.entityId;
                                    this.vehicleLengthMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.lengthRanges.push(this.vehicleLengthMeasure);
                                    this.vehicleLengthMeasure = new VehicleLengthMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.lengthRanges.push(this.vehicleLengthMeasure);
                        this.vehicleLengthMeasure = new VehicleLengthMeasureModel();
                    }
                } else {
                    this.vehicleLengthMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteLength(item: VehicleLengthMeasureModel) {
                var indx = this.charateristic.lengthRanges.findIndex(chd => chd.length == item.length
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.lengthRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleLengthMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.lengthRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.lengthRanges.splice(indx, 1);
                    }
                }
            },

            addWidth() {
                this.vehicleWidthMeasureErrors = [];
                if (this.vehicleWidthMeasure.width) {
                    this.vehicleWidthMeasure.state = ObjectState.Added;
                    this.vehicleWidthMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleWidthMeasure.unitId) {
                        this.vehicleWidthMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleWidthMeasure.unitCode).id;
                    }
                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleWidthMeasure(this.vehicleWidthMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleWidthMeasure.id = response.data.entityId;
                                    this.vehicleWidthMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.widthRanges.push(this.vehicleWidthMeasure);
                                    this.vehicleWidthMeasure = new VehicleWidthMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.widthRanges.push(this.vehicleWidthMeasure);
                        this.vehicleWidthMeasure = new VehicleWidthMeasureModel();
                    }
                } else {
                    this.vehicleWidthMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteWidth(item: VehicleWidthMeasureModel) {
                var indx = this.charateristic.widthRanges.findIndex(chd => chd.width == item.width
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.widthRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleWidthMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.widthRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.widthRanges.splice(indx, 1);
                    }
                }
            },

            addHeight() {
                this.vehicleHeightMeasureErrors = [];
                if (this.vehicleHeightMeasure.height) {
                    this.vehicleHeightMeasure.state = ObjectState.Added;
                    this.vehicleHeightMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleHeightMeasure.unitId) {
                        this.vehicleHeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleHeightMeasure.unitCode).id;
                    }
                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleHeightMeasure(this.vehicleHeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleHeightMeasure.id = response.data.entityId;
                                    this.vehicleHeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.heightRanges.push(this.vehicleHeightMeasure);
                                    this.vehicleHeightMeasure = new VehicleHeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.heightRanges.push(this.vehicleHeightMeasure);
                        this.vehicleHeightMeasure = new VehicleHeightMeasureModel();
                    }
                } else {
                    this.vehicleHeightMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteHeight(item: VehicleHeightMeasureModel) {
                var indx = this.charateristic.heightRanges.findIndex(chd => chd.height == item.height
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.heightRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleHeightMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.heightRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.heightRanges.splice(indx, 1);
                    }
                }
            },

            addMaxHeight() {
                this.vehicleMaxHeightMeasureErrors = [];
                if (this.vehicleMaxHeightMeasure.maxHeightMeasure) {
                    this.vehicleMaxHeightMeasure.state = ObjectState.Added;
                    this.vehicleMaxHeightMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleMaxHeightMeasure.unitId) {
                        this.vehicleMaxHeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleMaxHeightMeasure.unitCode).id;
                    }
                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleMaxHeightMeasure(this.vehicleMaxHeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleMaxHeightMeasure.id = response.data.entityId;
                                    this.vehicleMaxHeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.maxHeightRanges.push(this.vehicleMaxHeightMeasure);
                                    this.vehicleMaxHeightMeasure = new VehicleMaxHeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.maxHeightRanges.push(this.vehicleMaxHeightMeasure);
                        this.vehicleMaxHeightMeasure = new VehicleMaxHeightMeasureModel();
                    }
                } else {
                    this.vehicleMaxHeightMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteMaxHeight(item: VehicleMaxHeightMeasureModel) {
                var indx = this.charateristic.maxHeightRanges.findIndex(chd => chd.maxHeightMeasure == item.maxHeightMeasure
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.maxHeightRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleMaxHeightMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.maxHeightRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.maxHeightRanges.splice(indx, 1);
                    }
                }
            },

            addLoadingHeight() {
                this.vehicleLoadingHeightMeasureErrors = [];
                if (this.vehicleLoadingHeightMeasure.loadingHeight) {
                    this.vehicleLoadingHeightMeasure.state = ObjectState.Added;
                    this.vehicleLoadingHeightMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleLoadingHeightMeasure.unitId) {
                        this.vehicleLoadingHeightMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleLoadingHeightMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleLoadingHeightMeasure(this.vehicleLoadingHeightMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleLoadingHeightMeasure.id = response.data.entityId;
                                    this.vehicleLoadingHeightMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.loadingHeightRanges.push(this.vehicleLoadingHeightMeasure);
                                    this.vehicleLoadingHeightMeasure = new VehicleLoadingHeightMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.loadingHeightRanges.push(this.vehicleLoadingHeightMeasure);
                        this.vehicleLoadingHeightMeasure = new VehicleLoadingHeightMeasureModel();
                    }
                } else {
                    this.vehicleLoadingHeightMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteLoadingHeight(item: VehicleLoadingHeightMeasureModel) {
                var indx = this.charateristic.loadingHeightRanges.findIndex(chd => chd.loadingHeight == item.loadingHeight
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.loadingHeightRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleLoadingHeightMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.loadingHeightRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.loadingHeightRanges.splice(indx, 1);
                    }
                }
            },

            addWheelbase() {
                this.vehicleWheelbaseMeasureErrors = [];
                if (this.vehicleWheelbaseMeasure.wheelbase) {
                    this.vehicleWheelbaseMeasure.state = ObjectState.Added;
                    this.vehicleWheelbaseMeasure.characteristicId = this.charateristic.id;

                    if (!this.vehicleWheelbaseMeasure.unitId) {
                        this.vehicleWheelbaseMeasure.unitId = this.dics.nsi33unit
                            .find(d => d.code == this.vehicleWheelbaseMeasure.unitCode).id;
                    }

                    if (this.charateristic.id != 0) {
                        ComplienceService.saveVehicleWheelbaseMeasure(this.vehicleWheelbaseMeasure)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.vehicleWheelbaseMeasure.id = response.data.entityId;
                                    this.vehicleWheelbaseMeasure.state = ObjectState.Unchanged;
                                    this.charateristic.wheelbaseMeasureRanges.push(this.vehicleWheelbaseMeasure);
                                    this.vehicleWheelbaseMeasure = new VehicleWheelbaseMeasureModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.wheelbaseMeasureRanges.push(this.vehicleWheelbaseMeasure);
                        this.vehicleWheelbaseMeasure = new VehicleWheelbaseMeasureModel();
                    }
                } else {
                    this.vehicleWheelbaseMeasureErrors = ['Поле обязательно для заполнения'];
                }
            },
            deleteWheelbase(item: VehicleWheelbaseMeasureModel) {
                var indx = this.charateristic.wheelbaseMeasureRanges.findIndex(chd => chd.wheelbase == item.wheelbase
                    && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.charateristic.wheelbaseMeasureRanges[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveVehicleWheelbaseMeasure(deleteEntity)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.charateristic.wheelbaseMeasureRanges.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            })
                            .catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.charateristic.wheelbaseMeasureRanges.splice(indx, 1);
                    }
                }
            },

            

        },
        async created() {
            DictionaryService.getNsiValues('nsi033')
                .then(response => {
                    this.dics.nsi33unit = response.data;
                }).catch(err => {
                });
        },
    });
</script>



