﻿<template>
    <v-container fluid>
        <v-layout column align-center style="padding-top:10%">
            <v-row>
                <v-col>
                    <v-form ref="form"
                            v-model="valid" @submit.prevent="changePassword">

                        <h4 class="v-heading text-h6 text-sm-h6 mb-6">
                            Пароль
                        </h4>

                        <v-text-field v-model="changePasswordModel.oldPassword"
                                      :append-icon="showOldPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                      :type="showOldPassword ? 'text' : 'password'"
                                      name="oldPassword"
                                      label="Старый пароль"
                                      counter
                                      @click:append="showOldPassword = !showOldPassword"></v-text-field>

                        <v-text-field v-model="changePasswordModel.password"
                                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                      :rules="passwordRules"
                                      :type="showPassword ? 'text' : 'password'"
                                      name="password"
                                      label="Пароль"
                                      hint="не менее 8 символов"
                                      counter
                                      @click:append="showPassword = !showPassword"></v-text-field>

                        <v-text-field v-model="changePasswordModel.confirmPassword"
                                      :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                      :rules="passwordConfirmRules"
                                      :type="showConfirmPassword ? 'text' : 'password'"
                                      name="passwordConfirm"
                                      label="Повторите пароль"
                                      hint="не менее 8 символов"
                                      counter
                                      @click:append="showConfirmPassword = !showConfirmPassword"></v-text-field>

                        <v-alert outlined
                                 type="warning">
                            <small class="text-warning text-left">
                                <ul>
                                    <li>
                                        Пароль должен содержать только латинские буквы
                                    </li>
                                    <li>
                                        Пароль должен содержать хотя бы 1 строчную букву
                                    </li>
                                    <li>
                                        Пароль должен содержать хотя бы 1 заглавную букву
                                    </li>
                                    <li>
                                        Пароль должен содержать хотя бы 1 цифру
                                    </li>
                                    <li>
                                        Пароль должен содержать хотя бы 1 специальный символ (!@#$%^&*)
                                    </li>
                                    <li>
                                        Пароль должен содержать 8 или более символов
                                    </li>
                                </ul>
                            </small>
                        </v-alert>

                        <div class="text-center">
                            <v-btn color="success"
                                   class="my-2"
                                   type="submit">
                                Сменить пароль
                            </v-btn>
                        </div>
                    </v-form>
                </v-col>
            </v-row>            
        </v-layout>
    </v-container>
</template>

<script lang="ts">
    import { mapMutations } from 'vuex';
    import { Vue } from 'vue-property-decorator';

    import { JsonResponse } from '@/models/JsonResponse';
    import { ChangePasswordModel } from '@/models/ChangePassword.model';

    export default Vue.extend({
        data() {
            return {
                valid: true,
                changePasswordModel: new ChangePasswordModel(),

                showOldPassword: false,
                showPassword: false,
                showConfirmPassword: false,
            }
        },
        methods: {
            validate() {
                return (this.$refs.form as any).validate();
            },
            changePassword() {
                if (this.validate()) {
                    const user = JSON.parse(localStorage.getItem('user')!);
                    this.changePasswordModel.login = user.name;
                    this.$http.post<any, JsonResponse>('api/Account/changePassword', this.changePasswordModel).then(response => {
                           console.log(response.status);

                           if (response.status == 'Error') {
                               this.$emit('show_message', response.text);
                           } else {

                               localStorage.clear();                               
                               this.$emit('refresh_host');
                               this.$router.push('/login');
                           }
                       }).catch(e => {
                           console.log(e.message);
                           this.$emit('show_message', e.message);
                       });
                }
            },
            ...mapMutations(['change_access'])
        },
        computed: {
            passwordRules() {
                const rules: Array<any> = [];
                return rules;
            },

            passwordConfirmRules() {
                const rules: Array<any> = [];

                if (this.changePasswordModel.password) {
                    const rule1 = v => !!v || 'Поле обязательно для заполнения';
                    rules.push(rule1);

                    const rule2 = v => (!!v && v) === this.changePasswordModel.password || 'Значения на совпадают';
                    rules.push(rule2)
                }

                return rules;
            },
        },
        created() {
            this.$store.commit('auth_access/change_access', false);
        },
    });


</script>