﻿<template>
    <v-container fluid>
        <v-flex full-width>
            <v-slide-y-transition mode="out-in">
                <v-row>
                    <v-col>
                        <HelloWorld v-bind:author="author" quote="Добро пожаловать на главную страницу!" />
                    </v-col>
                </v-row>
            </v-slide-y-transition>
        </v-flex>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { JsonResponse } from '@/models/JsonResponse';
    // import WeatherForm from '@/components/WeatherForm.vue'; // @ is an alias to /src
    @Component({
        components: {
            HelloWorld: () => import(`@/components/HelloWorld.vue`),
            // WeatherForm,
        },
    })
    export default class Home extends Vue {
        public ShowMessage(text: string): void {
            // Нужен так как в апп.вью компонент роутер универсальный
            this.$emit('show_message', text);
        };
        data() {
            return {
                author: JSON.parse(localStorage.getItem('user') as string)?.name,
            };
        };

        created() {
            const login = JSON.parse(localStorage.getItem('user') as string)?.name;
            if (login) {
                this.$http.get<any, JsonResponse>('api/Account/UserInfo/' + login).then(response => {
                    console.log(response.status);

                    if (response.status == 'Error') {
                        this.$emit('show_message', response.text);
                    } else {

                    }
                }).catch(e => {
                    //console.log(e.message);
                    //this.$emit('show_message', e.message);
                    localStorage.clear();
                    this.$router.push('/login');
                });
            } else {
                const response = this.$http.get('/api/Account/LogOut');
                localStorage.clear();
                this.$router.push('/login');
            }
        };
    }

</script>
