﻿<template>
    <v-container fluid>
        <v-layout column align-center style="padding-top:5%" width="128px" wrap>
            <v-row>
                <v-col>
                    <v-img alt="Logo"
                           width="128px"
                           height="132px"
                           src="/img/logo.svg">
                    </v-img>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p class="text-wrap" style="max-width: 500px; text-align:center;">
                        {{$t("app.title")}}
                    </p>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-form ref="form" v-model="valid" @submit.prevent="login">
                        <v-text-field v-model="name"
                                      :rules="nameRules"
                                      label="Логин"
                                      required></v-text-field>
                        <v-text-field v-model="password"
                                      v-on:keyup.enter="validate"
                                      :rules="passwordRules"
                                      label="Пароль"
                                      type="password"
                                      required></v-text-field>
                        <div class="text-center">
                            <v-btn color="success"
                                   class="my-2"
                                   type="submit">
                                {{$t("enter")}}
                            </v-btn>
                            &nbsp;
                            <v-btn color="info"
                                   @click="loginCert">
                                сертификат
                            </v-btn>
                        </div>
                    </v-form>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn text color="primary" @click="registration()">
                        Регистрация
                    </v-btn>
                </v-col>
            </v-row>
            <!--
                <v-row>
                    <v-col>
                        <v-btn text color="info" @click="backToMain()">
                            Назад на главную
                        </v-btn>
                    </v-col>
                </v-row>
    -->
        </v-layout>
        </v-container>
</template>

<script lang="ts">
    import { mapMutations } from 'vuex';
    import { Vue } from 'vue-property-decorator';

    import { JsonResponse } from '@/models/JsonResponse';    

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls";

    export default Vue.extend({
        data() {
            return {
                valid: true,
                name: '',
                nameRules: [
                    value => !!value || 'Для входа необходимо указать имя',
                    value => (value && value.length <= 20) || 'Не более 20 символов',
                ],
                password: '',
                passwordRules: [
                    v => !!v || 'Для входа необходимо указать пароль',
                    v => (v && v.length <= 20) || 'Не более 20 символов',
                ],

                certificate: '',
            }
        },
        methods: {
            validate() {
                return (this.$refs.form as any).validate();
            },
            login() {
                if (this.validate()) {
                    this.$http.post<any, JsonResponse>('api/Account/Login', {
                           name: this.name,
                           password: this.password,
                       }).then(response => {
                           console.log(response.status);

                           if (response.status == 'Error') {
                               this.$emit('show_message', response.text);
                           } else {
                               const userString = JSON.stringify(response.data);
                               localStorage.setItem('user', userString);
                               // const user = JSON.parse(userString) as User;
                               this.$store.commit('auth_access/change_access', true);
                               this.$emit('refresh_host');
                               this.$router.push('/');
                           }
                       }).catch(e => {
                           console.log(e.message);
                           this.$emit('show_message', e.message);
                       });
                }
            },
            ...mapMutations(['change_access']),

            loginCert() {
                const me = this;


                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');


                    ProcessNcaLayer.getKeyInfoCall(resp => {
                        console.log(resp);

                        var subjectAttrs = resp['subjectDn'].split(',');
                        me.name = ProcessNcaLayer.findSubjectAttr(subjectAttrs, 'SERIALNUMBER').substr(3);
                        me.certificate = resp['pem'];

                        me.$http.post<any, JsonResponse>('api/Account/LoginByCert', {
                            name: me.name,
                            certificate: me.certificate
                        }).then(response => {
                            if (response.status == 'Error') {
                                me.$emit('show_message', response.text);
                            } else {
                                const userString = JSON.stringify(response.data);
                                localStorage.setItem('user', userString);
                                // const user = JSON.parse(userString) as User;
                                me.$store.commit('auth_access/change_access', true);
                                me.$emit('refresh_host');
                                me.$router.push('/');
                            }
                        }).catch(e => {
                            console.log(e);
                            me.$emit('show_message', e.message);
                        });

                    }, err => {
                        console.log('signXmlFn  error = ' + err);
                    });



                }, err => {
                    console.log('websocket init error = ' + err);
                    me.$emit('show_message', 'Ошибка при подключений к NCALayer. Убедитесь что программа запущена и нажмите ОК');
                });


                
            },

            registration() {
                this.$router.push('/registration');
            },
            backToMain() {
                this.$store.commit('layout_store/set_layout', 'public-layout');
                this.$router.push('/');
            }
        },
        created() {
            const me = this;
            localStorage.clear();
            me.$store.commit('auth_access/change_access', false); 
        },
    });


</script>