﻿<template>
    <v-container class="text-center">
        <v-row>
            <v-col>
                <h2>
                    Регистрация
                </h2>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-alert dense :type="alert.type" v-if="alert.show">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-tabs v-model="tab"
                        background-color="grey darken-4"
                        centered
                        dark
                        icons-and-text>
                    <v-tabs-slider></v-tabs-slider>

                    <v-tab href="#tab-ul" v-if="cabinet === 'arm'">
                        РЕГИСТРАЦИЯ В АРМ
                        <v-icon>mdi-office-building</v-icon>
                    </v-tab>

                    <v-tab href="#tab-fl" v-if="cabinet === 'lk'">
                        РЕГИСТРАЦИЯ В ЛИЧНОМ КАБИНЕТЕ
                        <v-icon>mdi-account</v-icon>
                    </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                    <v-tab-item value="tab-ul" v-if="cabinet === 'arm'">
                        <v-card flat>
                            <v-card-title></v-card-title>

                            <v-form ref="regForm" style="max-width: 900px" class="ml-auto mr-auto"
                                    v-model="valid" @submit.prevent="createRequest">
                                <div class="text-center mb-1">
                                    <v-btn color="info"
                                           @click="chooseCert()">
                                        Выбрать сертификат
                                    </v-btn>
                                </div>

                                <v-text-field v-model="regrequest.userName"
                                              :rules="nameRules"
                                              label="ИИН" disabled
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.lastName"
                                              label="Фамилия" disabled
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.firstName"
                                              label="Имя" disabled
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.organizationName"
                                              label="Организация" disabled
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.organizationBin"
                                              label="БИН Организации" disabled
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.email"
                                              :rules="emailRules"
                                              label="E-mail*"
                                              required></v-text-field>

                                <v-text-field-simplemask v-model="regrequest.phoneNumber"
                                                         label="Номер телефона*" class="mt-3"
                                                         :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                                         v-bind:properties="{
                                                                    prefix: '+7 ',
                                                                    suffix: '',
                                                                    readonly: false,
                                                                    disabled: false,
                                                                    outlined: false,
                                                                    clearable: true,
                                                                    placeholder: '',
                                                                    hidedetails: false,
                                                                    dense: true,
                                                                    }"
                                                         v-bind:options="{
                                                                    inputMask: '(###) ###-####',
                                                                    outputMask: '##########',
                                                                    empty: null,
                                                                    applyAfter: false,
                                                                    alphanumeric: false,
                                                                    lowerCase: false,
                                                                    }" />

                                <v-autocomplete label="АРМ*"
                                                :items="roles"
                                                v-model="regrequest.roleId"
                                                clearable
                                                :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                                item-text="description"
                                                item-value="id"
                                                :menu-props="{ maxHeight: '400' }"></v-autocomplete>

                                <h5 class="v-heading text-h6 text-sm-h6 mb-3">
                                    Пароль
                                </h5>


                                <v-text-field v-model="regrequest.password"
                                              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              :rules="passwordRules"
                                              :type="showPassword ? 'text' : 'password'"
                                              name="password"
                                              label="Пароль"
                                              hint="не менее 8 символов"
                                              counter
                                              @click:append="showPassword = !showPassword"></v-text-field>

                                <v-text-field v-model="passwordConfirm"
                                              :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              :rules="passwordConfirmRules"
                                              :type="showConfirmPassword ? 'text' : 'password'"
                                              name="passwordConfirm"
                                              label="Повторите пароль"
                                              hint="не менее 8 символов"
                                              counter
                                              @click:append="showConfirmPassword = !showConfirmPassword"></v-text-field>

                                <v-alert outlined
                                         type="warning">
                                    <small class="text-warning text-left">
                                        <ul>
                                            <li>
                                                Пароль должен содержать только латинские буквы
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 строчную букву
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 заглавную букву
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 цифру
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 специальный символ (!@#$%^&*)
                                            </li>
                                            <li>
                                                Пароль должен содержать 8 или более символов
                                            </li>
                                        </ul>
                                    </small>
                                </v-alert>

                                <div class="mb-1">
                                    <v-checkbox v-model="regrequest.isAccept"
                                                :rules="isAcceptRules">
                                        <template v-slot:label>
                                            <div>
                                                Согласен с
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <a href="/api/account/user-agreement" target="_blank"
                                                           @click.stop v-on="on">
                                                            Пользовательским соглашением
                                                        </a>
                                                    </template>
                                                    <span>Скачать пользовательское соглашение</span>
                                                </v-tooltip>
                                            </div>
                                        </template>
                                    </v-checkbox>
                                </div>


                                <div class="text-center">
                                    <v-btn color="success"
                                           class="mx-2"
                                           type="submit">
                                        Зарегистрироваться
                                    </v-btn>
                                </div>
                            </v-form>

                        </v-card>
                    </v-tab-item>
                    <v-tab-item value="tab-fl" v-if="cabinet === 'lk'">
                        <v-card flat>

                            <v-card-title></v-card-title>

                            <v-form ref="regFormFl" style="max-width: 900px" class="ml-auto mr-auto"
                                    v-model="valid" @submit.prevent="createUser">

                                <v-text-field-simplemask v-model="regrequest.userName"
                                                         label="ИИН*" class="mt-3"
                                                         :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                                         v-bind:properties="{
                                                                    prefix: '',
                                                                    suffix: '',
                                                                    readonly: false,
                                                                    disabled: false,
                                                                    outlined: false,
                                                                    clearable: true,
                                                                    placeholder: '',
                                                                    hidedetails: false,
                                                                    dense: true,
                                                                    }"
                                                         v-bind:options="{
                                                                    inputMask: '####-####-####',
                                                                    outputMask: '############',
                                                                    empty: null,
                                                                    applyAfter: false,
                                                                    alphanumeric: false,
                                                                    lowerCase: false,
                                                                    }" />


                                <v-text-field v-model="regrequest.lastName"
                                              label="Фамилия*"
                                              :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.firstName"
                                              label="Имя*"
                                              :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                              required></v-text-field>

                                <v-text-field v-model="regrequest.email"
                                              :rules="emailRules"
                                              label="E-mail*"
                                              required></v-text-field>

                                <v-text-field-simplemask v-model="regrequest.phoneNumber"
                                                         label="Номер телефона*" class="mt-3"
                                                         :rules="[v => !!v || 'Поле обязательно для заполнения']"
                                                         v-bind:properties="{
                                                                    prefix: '+7 ',
                                                                    suffix: '',
                                                                    readonly: false,
                                                                    disabled: false,
                                                                    outlined: false,
                                                                    clearable: true,
                                                                    placeholder: '',
                                                                    hidedetails: false,
                                                                    dense: true,
                                                                    }"
                                                         v-bind:options="{
                                                                    inputMask: '(###) ###-####',
                                                                    outputMask: '##########',
                                                                    empty: null,
                                                                    applyAfter: false,
                                                                    alphanumeric: false,
                                                                    lowerCase: false,
                                                                    }" />

                                <h5 class="v-heading text-h6 text-sm-h6 mb-3">
                                    Пароль
                                </h5>

                                <v-text-field v-model="regrequest.password"
                                              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              :rules="passwordRules"
                                              :type="showPassword ? 'text' : 'password'"
                                              name="password"
                                              label="Пароль"
                                              hint="не менее 8 символов"
                                              counter
                                              @click:append="showPassword = !showPassword"></v-text-field>

                                <v-text-field v-model="passwordConfirm"
                                              :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                              :rules="passwordConfirmRules"
                                              :type="showConfirmPassword ? 'text' : 'password'"
                                              name="passwordConfirm"
                                              label="Повторите пароль"
                                              hint="не менее 8 символов"
                                              counter
                                              @click:append="showConfirmPassword = !showConfirmPassword"></v-text-field>

                                <v-alert outlined
                                         type="warning">
                                    <small class="text-warning text-left">
                                        <ul>
                                            <li>
                                                Пароль должен содержать только латинские буквы
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 строчную букву
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 заглавную букву
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 цифру
                                            </li>
                                            <li>
                                                Пароль должен содержать хотя бы 1 специальный символ (!@#$%^&*)
                                            </li>
                                            <li>
                                                Пароль должен содержать 8 или более символов
                                            </li>
                                        </ul>
                                    </small>
                                </v-alert>

                                <div class="mb-1">
                                    <v-checkbox v-model="regrequest.isAccept"
                                                :rules="isAcceptRules">
                                        <template v-slot:label>
                                            <div>
                                                Согласен с
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <a href="/api/account/user-agreement" target="_blank"
                                                           @click.stop v-on="on">
                                                            Пользовательским соглашением
                                                        </a>
                                                    </template>
                                                    <span>Скачать пользовательское соглашение</span>
                                                </v-tooltip>
                                            </div>
                                        </template>
                                    </v-checkbox>
                                </div>

                                <div class="text-center">
                                    <v-btn color="success"
                                           class="mx-2"
                                           type="submit">
                                        Зарегистрироваться
                                    </v-btn>
                                </div>

                            </v-form>


                        </v-card>
                    </v-tab-item>
                </v-tabs-items>

            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-alert dense :type="alert.type" v-if="alert.show">
                    {{ alert.msg }}
                </v-alert>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="text-center">
                <v-btn text color="primary" @click="login()">
                    Войти
                </v-btn>
            </v-col>
        </v-row>

    </v-container>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import { JsonResponse } from '@/models/JsonResponse';    

    import { AlertModel } from '@/models/Alert.model';
    import { RegRequestModel } from '@/models/administration/Regrequest.model';
    import { RoleModel } from '@/models/administration/Role.model';

    import ProcessNcaLayer from "@/helpers/process-ncalayer-calls"    
    import RegrequestService from '@/services/administration/regrequest.service';
    import RoleService from '@/services/administration/role.service';

    export default Vue.extend({
        data() {
            return {
                valid: true,
                nameRules: [
                    (v) => !!v || 'Для входа необходимо указать имя',
                    (v) => (v && v.length <= 20) || 'Не более 20 символов',
                ],

                passwordRules: [
                    (v) => !!v || 'Для входа необходимо указать пароль',
                    (v) => (v && v.length <= 20) || 'Не более 20 символов',
                ],

                emailRules: [
                    (v) => !!v || 'Поле обязательно для заполнения',
                    (v) => /.+@.+\..+/.test(v) || 'E-mail не корректный',
                ],
                isAcceptRules: [
                    (v) => !!v || 'Поле обязательно для заполнения'
                ],


                showPassword: false,
                showConfirmPassword: false,
                passwordConfirm: '',

                regrequest: new RegRequestModel(),
                alert: new AlertModel(),

                roles: new Array<RoleModel>(),
                tab: null,
            };
        },
        computed: {
            passwordConfirmRules() {
                const rules: Array<any> = [];

                if (this.regrequest.password) {
                    const rule1 = v => !!v || 'Поле обязательно для заполнения';
                    rules.push(rule1);

                    const rule2 = v => (!!v && v) === this.regrequest.password || 'Значения на совпадают';
                    rules.push(rule2)
                }

                return rules;
            },
            cabinet() {
                return this.$store.state.layout_store.cabinet;
            }
        },
        methods: {
            validate() {
                return (this.$refs.regForm as any).validate();
            },
            createRequest() {
                this.alert.show = false;
                if (this.validate()) {
                    this.regrequest.userType = 'ul';
                    RegrequestService.checkPsw(this.regrequest.password!).then(chr => {
                        if (chr.data && chr.data === true) {
                            RegrequestService.create(this.regrequest).then(r => {
                                if (r.status == 'Ok') {
                                    this.$emit('show_message', 'Ваша заявка на регистрацию успешно зарегестрирована');
                                    this.$router.push('/login');
                                } else {
                                    this.$emit('show_message', r.text);
                                }
                            }).catch(err => {
                                console.log(err.message);
                                this.$emit('show_message', err.message);
                            });
                        } else {
                            this.alert.msg = 'Пароль не соотвествует требованиям';
                            this.alert.type = 'warning';
                            this.alert.show = true;
                        }
                    });
                } else {
                    this.alert.msg = 'Необходимо выбрать сертификат и заполнить обязательные поля';
                    this.alert.type = 'warning';
                    this.alert.show = true;
                }
            },

            createUser() {
                this.alert.show = false;
                if ((this.$refs.regFormFl as any).validate()) {                    
                    this.regrequest.roleId = '00000000-0000-0000-0000-000000000000';
                    this.regrequest.userType = 'fl';
                    RegrequestService.create(this.regrequest).then(r => {
                        if (r.status == 'Ok') {
                            this.$emit('show_message', 'Ваша учетная запись успешно зарегестрирована');
                            this.$router.push('/login');
                        } else {
                            this.$emit('show_message', r.text);
                        }
                    }).catch(err => {
                        console.log(err.message);
                        this.$emit('show_message', err.message);
                    });
                } else {
                    this.alert.msg = 'Необходимо заполнить обязательные поля';
                    this.alert.type = 'warning';
                    this.alert.show = true;
                }
            },

            chooseCert() {
                const me = this;

                ProcessNcaLayer.webSocketInit(() => {
                    console.log('websocket init successful');

                    ProcessNcaLayer.getKeyInfoCall(resp => {
                        console.log('key resp = ' + resp);

                        var subjectAttrs = resp['subjectDn'].split(',');
                        me.regrequest.userName = ProcessNcaLayer.findSubjectAttr(subjectAttrs, 'SERIALNUMBER').substr(3);
                        me.regrequest.organizationBin = ProcessNcaLayer.findSubjectAttr(subjectAttrs, 'OU').substr(3);
                        me.regrequest.organizationName = ProcessNcaLayer.findSubjectAttr(subjectAttrs, 'O');
                        if (me.regrequest.organizationName)
                            me.regrequest.organizationName = me.regrequest.organizationName.replaceAll('\\', '');
                        me.regrequest.fullName = ProcessNcaLayer.findSubjectAttr(subjectAttrs, 'CN');
                        if (me.regrequest.fullName) {
                            const fullNameArray = me.regrequest.fullName?.split(' ');
                            me.regrequest.lastName = fullNameArray[0];
                            me.regrequest.firstName = fullNameArray[1];
                        }
                        
                        me.regrequest.certificate = resp['pem'];
                    }, err => {
                        console.log('signXmlFn  error = ' + err);
                    });

                }, err => {
                    console.log('websocket init error = ' + err);
                    me.$emit('show_message', 'Ошибка при подключений к NCALayer. Убедитесь что программа запущена и нажмите ОК');
                });
            },

            login() {
                this.$router.push('/login');
            }
        },
        created() {
            const me = this;
            localStorage.clear();

            RoleService.getExternalList().then(r => {
                this.roles = r.data;
            }).catch(err => { });
        },
    });


</script>