<template>
    <div>
        <section class="container container--fluid" id="basevehicledetail-info">
            <h3 class="v-heading text-h5 mb-2">
                <a href="#basevehicledetail-info" class="text-decoration-none text-right text-md-left"> ## </a>
                {{ title }}
            </h3>

            <v-card outlined>
                <v-card-title>
                    <v-row no-gutter>
                        <v-col class="py-0 my-0">
                            <v-switch v-model="baseVehicleTypeDetailIndicatorSign" :disabled="disabled"
                                      inset dense
                                      :label="title + ' отсуствует'"
                                      @change="valueChanged"></v-switch>
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-card-text>
                    <v-row no-gutter v-if="!baseVehicleTypeDetailIndicatorSign">
                        <v-col class="py-0 my-0">
                            <template>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="20%">
                                                    Марка
                                                </th>
                                                <th class="text-center" width="30%">
                                                    Коммерческое наименование
                                                </th>
                                                <th class="text-center" width="20%">
                                                    Тип
                                                </th>
                                                <th class="text-center" width="20%">
                                                    {{ modificationVinText }}
                                                </th>
                                                <th width="10%">
                                                    <v-btn outlined v-if="!disabled"
                                                           @click="addBase">
                                                        <v-icon>mdi-plus</v-icon>
                                                        Добавить
                                                    </v-btn>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in baseVehicleTypeDetailList"
                                                :key="item.commercialName">
                                                <td>{{ item.makeName }}</td>
                                                <td>{{ item.commercialName }}</td>
                                                <td class="text-center">{{ item.type }}</td>
                                                <td class="text-center">{{ isSbkts ? item.vin : item.modification}}</td>
                                                <td class="text-center">
                                                    <v-btn icon v-if="!disabled"
                                                           class="mx-auto"
                                                           @click="deleteBase(item)">
                                                        <v-icon color="red lighten-1">
                                                            mdi-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </template>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>

            

            <!-- Dialog -->
            <v-row justify="center" no-gutters>
                <v-dialog v-model="dialog"
                          persistent
                          max-width="800px">
                    <v-form ref="baseVehicleDetailForm"
                            v-model="baseVehicleDetailValid"
                            lazy-validation>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Базовое ТС</span>
                            </v-card-title>
                            <v-card-text>
                                <!-- Марка  -->
                                <v-row no-gutter>
                                    <v-col no-gutter>
                                        <v-autocomplete label="Марка"
                                                        :items="dics.nsi46makes"
                                                        v-model="baseVehicleTypeDetail.makeId"
                                                        clearable dense required outlined
                                                        hide-details
                                                        item-text="name"
                                                        item-value="id"
                                                        :menu-props="{ maxHeight: '400' }"></v-autocomplete>
                                    </v-col>
                                </v-row>

                                <!-- Коммерческое наименование транспортного средства -->
                                <v-row no-gutter>
                                    <v-col>
                                        <v-text-field v-model="baseVehicleTypeDetail.commercialName"
                                                      label="Коммерческое наименование"
                                                      outlined dense
                                                      clearable hide-details></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Тип -->
                                <v-row no-gutter>
                                    <v-col>
                                        <v-text-field v-model="baseVehicleTypeDetail.type"
                                                      label="Тип"
                                                      outlined dense required
                                                      clearable
                                                      :rules="ruleRequiredForOttsOtch"></v-text-field>
                                    </v-col>
                                </v-row>

                                <!-- Модификация -->
                                <v-row no-gutter v-if="!isSbkts">
                                    <v-col>
                                        <v-text-field :label="modificationVinText"
                                                      v-model="baseVehicleTypeDetail.modification"
                                                      outlined dense
                                                      clearable hide-details></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row no-gutter v-if="isSbkts">
                                    <v-col cols="12" class="d-inline-flex py-0 my-0">
                                        <div v-for="(item, index) in vin">
                                            <v-text-field-simplemask v-model="vin[index]"
                                                                     :label="(index + 1).toString()"
                                            v-bind:properties="{
                                                prefix: '',
                                                suffix: '',
                                                readonly: false,
                                                outlined: true,
                                                clearable: false,
                                                placeholder: '',
                                                dense: true,
                                                'hide-details': true,
                                            }"
                                            v-bind:options="{
                                                inputMask: '#',
                                                outputMask: '#',
                                                empty: null,
                                                applyAfter: false,
                                                alphanumeric: true,
                                                lowerCase: false,
                                            }"
                                            :error-messages="vinErrors" />
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary"
                                       text
                                       @click="saveBase">
                                    Сохранить
                                </v-btn>
                                <v-btn color="secondary"
                                       text
                                       @click="dialog = false">
                                    Отмена
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-dialog>
            </v-row>
   
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { BaseVehicleTypeDetailModel } from '@/models/vehicle/BaseVehicleTypeDetail.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'BaseVehicleDetailForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,
                dialog: boolean,
                baseVehicleDetailValid: boolean,

                baseVehicleTypeDetailIndicatorSign: boolean,
                baseVehicleTypeDetail: BaseVehicleTypeDetailModel,
                vin: string[],
            } = {
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ],
                },
                dics: {
                    nsi46makes: [],
                },
                dialog: false,
                baseVehicleDetailValid: true,

                baseVehicleTypeDetailIndicatorSign: false,
                baseVehicleTypeDetail: new BaseVehicleTypeDetailModel(0, this.document.vehicleTypeDetail.id),
                vin: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            baseVehicleTypeDetailIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notBaseVehicleTypeDetailIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notBaseVehicleTypeDetailIndicator': function (val, oldVal) {
                this.baseVehicleTypeDetailIndicatorSign = val == 1;
            },
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            isOtts(): boolean {
                return this.document.docTypeCode === 'otts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode === 'otch';
            },

            baseVehicleTypeDetailList(): Array<BaseVehicleTypeDetailModel> {
                return this.document.vehicleTypeDetail.baseVehicleTypeDetails.filter(b => b.state != ObjectState.Deleted);
            },
            title(): string {
                if (this.document.docTypeCode === 'sbkts')
                    return 'Шасси';
                return 'Базовое ТС';
            },
            modificationVinText(): string {
                if (this.document.docTypeCode === 'sbkts')
                    return 'Идентификационный номер (VIN)';
                return 'Модификация';
            },

            ruleRequiredForOttsOtch() {
                const rules: any[] = [];
                if (this.isOtch && this.isOtts) {
                    const rule = value => !!value || 'Поле обязательно для заполнения';
                    rules.push(rule);
                }
                return rules;
            }
        },
        methods: {
            addBase() {
                this.dialog = true;
            },
            saveBase() {
                if ((this.$refs.baseVehicleDetailForm as any).validate()) {
                    this.baseVehicleTypeDetail.vehicleTypeDetailId = this.document.vehicleTypeDetail.id;
                    if (this.baseVehicleTypeDetail.makeId) {
                        this.baseVehicleTypeDetail.makeName = this.dics.nsi46makes
                            .find(m => m.id == this.baseVehicleTypeDetail.makeId).name;
                    }
                    this.baseVehicleTypeDetail.state = ObjectState.Added;

                    let vinStr = '';
                    for (var i = 0; i < this.vin.length; i++) {
                        vinStr += !this.vin[i] ? '?' : this.vin[i];
                    }
                    this.vin = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''];

                    if (vinStr && vinStr !== '?????????????????') {
                        this.baseVehicleTypeDetail.vin = vinStr;
                    } else {
                        this.baseVehicleTypeDetail.vin = '';
                    }

                    if (this.baseVehicleTypeDetail.vehicleTypeDetailId != ObjectHelper.defaultGuid()) {
                        ComplienceService.saveBaseVehicleTypeDetail(this.baseVehicleTypeDetail)
                            .then(response => {
                                if (response.status == 'Ok') {
                                    this.baseVehicleTypeDetail.id = response.data.entityId;
                                    this.baseVehicleTypeDetail.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.baseVehicleTypeDetails.push(this.baseVehicleTypeDetail);

                                    this.baseVehicleTypeDetail = new BaseVehicleTypeDetailModel();
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + response.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.baseVehicleTypeDetails.push(this.baseVehicleTypeDetail);
                        this.baseVehicleTypeDetail = new BaseVehicleTypeDetailModel();
                    }
                    this.dialog = false;
                }
            },
            deleteBase(item: BaseVehicleTypeDetailModel) {
                var indx = this.document.vehicleTypeDetail.baseVehicleTypeDetails
                    .findIndex(chd => chd.commercialName == item.commercialName && chd.type == item.type
                        && chd.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let deleteEntity = this.document.vehicleTypeDetail.baseVehicleTypeDetails[indx];
                        deleteEntity.state = ObjectState.Deleted;
                        ComplienceService.saveBaseVehicleTypeDetail(deleteEntity)
                            .then(response => {
                                this.document.vehicleTypeDetail.baseVehicleTypeDetails.splice(indx, 1);
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                    } else {
                        this.document.vehicleTypeDetail.baseVehicleTypeDetails.splice(indx, 1);
                    }
                }
            },

            valueChanged: function (val, oldVal) {
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#basevehicledetail-info', val: val, oldVal: oldVal })
            },
        },
        created() {
            DictionaryService.getNsiValues('nsi046')
                .then(response => {
                    this.dics.nsi46makes = response.data;
                }).catch(err => {

                });
        },
    });
</script>


