<template>
    <div>
        <section class="container container--fluid" id="characteristic-info">
            <h4 class="v-heading text-h4 text-sm-h4 mb-3">
                <a href="#characteristic-info" class="text-decoration-none text-right text-md-left"> # </a>
                Общие характеристики
            </h4>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-runninggeardetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                    v-bind:document="document" :disabled="disabled">
                    </vehicle-runninggeardetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-bodyworkdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                    v-bind:document="document" :disabled="disabled"
                                                    v-if="isBodyworkdetailAvailable">
                    </vehicle-bodyworkdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-seatdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                             v-bind:document="document"
                                             :disabled="disabled" v-if="!isOtch">
                    </vehicle-seatdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-layoutdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                               v-bind:document="document"
                                               :disabled="disabled">
                    </vehicle-layoutdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-dimensiondetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                  v-bind:document="document"
                                                  :disabled="disabled">
                    </vehicle-dimensiondetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-axledetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                             v-bind:document="document"
                                             :disabled="disabled">
                    </vehicle-axledetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-weightdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                               v-bind:document="document"
                                               :disabled="disabled">
                    </vehicle-weightdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <enginedetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                       v-bind:document="document"
                                       :disabled="disabled">
                    </enginedetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-clutchdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                               :disabled="disabled">
                    </vehicle-clutchdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <transmissiontype-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                           v-bind:document="document"
                                           :disabled="disabled">
                    </transmissiontype-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <!-- Подвеска -->
                    <vehicle-suspensiondetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                   :disabled="disabled">
                    </vehicle-suspensiondetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-steeringdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                 :disabled="disabled">
                    </vehicle-steeringdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-brakingsystemdetail-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                      :disabled="disabled">
                    </vehicle-brakingsystemdetail-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-tyrekindinfo-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                               v-bind:document="document"
                                               :disabled="disabled">
                    </vehicle-tyrekindinfo-form>
                </v-col>
            </v-row>

            <v-row>
                <v-col class="py-0 my-0">
                    <vehicle-equipmentinfo-form v-bind:charateristic="vehicleTypeDetail.characteristicsDetail"
                                                v-bind:document="document" :disabled="disabled">
                    </vehicle-equipmentinfo-form>
                </v-col>
            </v-row>
        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import { VehicleTypeDetailModel } from '@/models/vehicle/VehicleTypeDetail.model';
    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';

    import VehicleRunningGearDetailForm from '@/components/vehicle/characteristic/VehicleRunningGearDetailForm.vue';
    import VehicleBodyworkDetailForm from '@/components/vehicle/characteristic/VehicleBodyworkDetailForm.vue';
    import VehicleSeatDetailForm from '@/components/vehicle/characteristic/VehicleSeatDetailForm.vue';
    import VehicleLayoutDetailForm from '@/components/vehicle/characteristic/VehicleLayoutDetailForm.vue';
    import VehicleDimensionDetailForm from '@/components/vehicle/characteristic/VehicleDimensionDetailForm.vue';
    import VehicleAxleDetailForm from '@/components/vehicle/characteristic/VehicleAxleDetailForm.vue';
    import VehicleWeightDetailForm from '@/components/vehicle/characteristic/VehicleWeightDetailForm.vue';
    import EngineDetailForm from '@/components/vehicle/characteristic/EngineDetailForm.vue';
    import VehicleClutchDetailForm from '@/components/vehicle/characteristic/VehicleClutchDetailForm.vue';
    import TransmissionTypeForm from '@/components/vehicle/characteristic/TransmissionTypeForm.vue';
    import VehicleSuspensionDetailForm from '@/components/vehicle/characteristic/VehicleSuspensionDetailForm.vue';
    import VehicleSteeringDetailForm from '@/components/vehicle/characteristic/VehicleSteeringDetailForm.vue';
    import VehicleBrakingSystemDetailForm from '@/components/vehicle/characteristic/VehicleBrakingSystemDetailForm.vue';
    import VehicleTyreKindInfoForm from '@/components/vehicle/characteristic/VehicleTyreKindInfoForm.vue';
    import VehicleEquipmentInfoForm from '@/components/vehicle/characteristic/VehicleEquipmentInfoForm.vue';
    

    export default Vue.extend({
        name: 'CharacteristicsForm',
        props: {
            vehicleTypeDetail: VehicleTypeDetailModel,
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
            };
            return dataObj;
        },
        watch: {
            loader() { },
        },
        computed: {
            isOtts(): boolean {
                return this.document.docTypeCode == 'otts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode == 'otch';
            },
            isSbkts(): boolean {
                return this.document.docTypeCode == 'sbkts';
            },
            isMcategory(): boolean {
                if (this.document.vehicleTypeDetail
                    && this.document.vehicleTypeDetail.techCategories
                    && this.document.vehicleTypeDetail.techCategories.length > 0
                ) {
                    return this.document.vehicleTypeDetail.techCategories
                        .some(t => ['M1', 'M2', 'M3', 'M1G', 'M2G', 'M3G'].some(cat => cat == t.dicCode));
                }
                return false;
            },
            isOcategory(): boolean {
                if (this.document.vehicleTypeDetail
                    && this.document.vehicleTypeDetail.techCategories
                    && this.document.vehicleTypeDetail.techCategories.length > 0
                ) {
                    return this.document.vehicleTypeDetail.techCategories
                        .some(t => ['O1', 'O2', 'O3', 'O4'].some(cat => cat == t.dicCode));
                }
                return false;
            },
            isM1category(): boolean {
                if (this.document.vehicleTypeDetail
                    && this.document.vehicleTypeDetail.techCategories
                    && this.document.vehicleTypeDetail.techCategories.length > 0
                ) {
                    return this.document.vehicleTypeDetail.techCategories
                        .some(t => t.dicCode == 'M1');
                }
                return false;
            },
            isBodyworkdetailAvailable(): boolean {
                return (this.isOtts && (this.isMcategory || this.isOcategory))
                    || (this.isOtch && (this.isMcategory || this.isOcategory))
                    || (this.isSbkts && this.isM1category);
            },
        },
        methods:{
        },
        components: {
            'vehicle-runninggeardetail-form': VehicleRunningGearDetailForm,
            'vehicle-bodyworkdetail-form': VehicleBodyworkDetailForm,
            'vehicle-seatdetail-form': VehicleSeatDetailForm,
            'vehicle-layoutdetail-form': VehicleLayoutDetailForm,
            'vehicle-dimensiondetail-form': VehicleDimensionDetailForm,
            'vehicle-axledetail-form': VehicleAxleDetailForm,
            'vehicle-weightdetail-form': VehicleWeightDetailForm,
            'enginedetail-form': EngineDetailForm,
            'vehicle-clutchdetail-form': VehicleClutchDetailForm,
            'transmissiontype-form': TransmissionTypeForm,
            'vehicle-suspensiondetail-form': VehicleSuspensionDetailForm,
            'vehicle-steeringdetail-form': VehicleSteeringDetailForm,
            'vehicle-brakingsystemdetail-form': VehicleBrakingSystemDetailForm,
            'vehicle-tyrekindinfo-form': VehicleTyreKindInfoForm,
            'vehicle-equipmentinfo-form': VehicleEquipmentInfoForm,
        },
        async created() {
            
        },
    });
</script>


