<template>
    <div>
        <section class="container container--fluid" id="vehicletypedetail-info">
            <h4 class="v-heading text-h4 text-sm-h4 mb-3">
                <a href="#vehicletypedetail-info" class="text-decoration-none text-right text-md-left"> # </a>
                {{ title }}
            </h4>

            <!-- Марка  -->
            <v-row no-gutter>
                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-title class="pb-0">
                            <v-col cols="10" class="pa-0">
                                <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">
                                    Марка
                                </h4>
                            </v-col>
                            <v-col cols="2" class="pa-0">
                                <v-icon>fas fa-circle-notch fa-spin</v-icon>
                            </v-col>
                        </v-card-title>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutter>
                                <v-col no-gutter class="py-0 my-0">
                                    <v-switch v-model="makeIndicatorSign" :disabled="disabled"
                                              inset dense
                                              label="Марка отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter v-if="!makeIndicatorSign">
                                <v-col no-gutter class="py-0 my-0">
                                    <v-autocomplete label="Марка"
                                                    :items="dics.nsi46makes"
                                                    v-model="selectedMakeIds"
                                                    clearable dense multiple outlined
                                                    :disabled="disabled"
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Выберите марку"
                                                    @change="changeMake"></v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Коммерческое наименование транспортного средства -->
            <v-row no-gutter>
                <!--v-col class="py-1 my-0">
            <v-card outlined>
                <v-card-text class="py-1 my-0">
                    <v-row no-gutter>
                        <v-col class="py-0 my-0">
                            <v-switch v-model="commercialNameSign"
                                      inset dense
                                      label="Коммерческое наименование отсуствует"></v-switch>
                        </v-col>
                    </v-row>
                    <v-row no-gutter v-if="!commercialNameSign">
                        <v-col class="py-0 my-0">
                            <v-text-field v-model="document.vehicleTypeDetail.commercialName"
                                          label="Коммерческое наименование"
                                          outlined dense
                                          clearable></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col-->

                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-title class="pb-0">
                            <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">
                                Коммерческое наименование
                            </h4>
                        </v-card-title>
                        <v-card-text>
                            <v-row no-gutter>
                                <v-col class="py-0 my-0">
                                    <v-switch v-model="commercialNameSign" :disabled="disabled"
                                              inset dense hide-details
                                              label="Коммерческое наименование отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter>
                                <v-col class="py-0 my-0" v-if="!commercialNameSign">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left py-1" width="80%">
                                                        <v-text-field label="Коммерческое наименование" :disabled="disabled"
                                                                      v-model="commercialName"
                                                                      hide-details
                                                                      dense></v-text-field>
                                                    </th>
                                                    <th class="text-center py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addComName()">
                                                            <v-icon left>
                                                                mdi-plus
                                                            </v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in commercialNameList"
                                                    :key="item.commercialName">
                                                    <td>
                                                        {{ item.commercialName }}
                                                    </td>
                                                    <td class="text-center">
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteComName(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>
                            </v-row>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Тип -->
            <v-row no-gutter>
                <!--v-col class="py-1 my-0">
            <v-text-field v-model="document.vehicleTypeDetail.type"
                          label="Тип"
                          outlined dense clearable></v-text-field>
        </v-col-->

                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-title class="pb-0">
                            <h4 class="v-heading text-h6 text-sm-h6 mb-3" style="color:rgba(0, 0, 0, 0.6);">
                                Тип
                            </h4>
                        </v-card-title>
                        <v-card-text>
                            <v-simple-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left py-1" width="80%">
                                                <v-text-field label="Тип" :disabled="disabled"
                                                              v-model="typeValue"
                                                              hide-details
                                                              dense></v-text-field>
                                            </th>
                                            <th class="text-center py-1" width="20%">
                                                <v-btn outlined v-if="!disabled"
                                                       @click="addType()">
                                                    <v-icon left>
                                                        mdi-plus
                                                    </v-icon>
                                                    Добавить
                                                </v-btn>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in typeList"
                                            :key="item.typeValue">
                                            <td>
                                                {{ item.typeValue }}
                                            </td>
                                            <td class="text-center">
                                                <v-btn icon v-if="!disabled"
                                                       class="mx-auto"
                                                       @click="deleteType(item)">
                                                    <v-icon color="red lighten-1">
                                                        mdi-close
                                                    </v-icon>
                                                </v-btn>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Год выпуска -->
            <v-row no-gutter v-if="isSbkts">
                <v-col class="py-1 my-0">
                    <v-text-field v-model="document.vehicleTypeDetail.yearIssue"
                          label="Год выпуска"
                          outlined dense clearable></v-text-field>
                </v-col>
            </v-row>

            <!-- Категория ТС в соответствии с ТР ТС № 018/2011  -->
            <v-row no-gutter>
                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutter>
                                <v-col class="py-0 my-0">
                                    <v-switch v-model="categoryIndicatorSign" :disabled="disabled"
                                              inset dense
                                              label="Категория отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter v-if="!categoryIndicatorSign">
                                <v-col class="py-0 my-0">
                                    <v-autocomplete label="Категория" :disabled="disabled"
                                                    :items="dics.nsi15category"
                                                    v-model="selectedCategories"
                                                    clearable
                                                    dense
                                                    multiple
                                                    outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Выберите категорию"
                                                    @change="changeCategory"></v-autocomplete>
                                </v-col>
                            </v-row>

                            <!-- Класс категории -->
                            <div v-if="isM2M3Category">
                                <v-row no-gutter>
                                    <v-col class="py-0 my-0">
                                        <v-switch v-model="classCategoryIndicatorSign" :disabled="disabled"
                                                  inset dense
                                                  label="Класс категории отсуствует"></v-switch>
                                    </v-col>
                                </v-row>
                                <v-row no-gutter v-if="!classCategoryIndicatorSign">
                                    <v-col class="py-0 my-0">
                                        <v-simple-table dense>
                                            <template v-slot:default>
                                                <thead>
                                                    <tr v-if="!disabled">
                                                        <th class="text-left py-1" width="80%">
                                                            <v-autocomplete label="Класс категории" v-if="!disabled"
                                                                            :items="dics.nsi13classCategory"
                                                                            v-model="selectedClassCategoryId"
                                                                            clearable dense outlined
                                                                            hide-details
                                                                            item-text="name"
                                                                            item-value="id"
                                                                            :menu-props="{ maxHeight: '400' }"
                                                                            hint="Выберите класс категории"></v-autocomplete>
                                                        </th>
                                                        <th class="text-center py-1" width="20%">
                                                            <v-btn outlined v-if="!disabled"
                                                                   @click="addClassCategory()">
                                                                <v-icon left>
                                                                    mdi-plus
                                                                </v-icon>
                                                                Добавить
                                                            </v-btn>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in classCategoryList"
                                                        :key="item.dicId">
                                                        <td>
                                                            {{ item.dicName }}
                                                        </td>
                                                        <td class="text-center">
                                                            <v-btn icon v-if="!disabled"
                                                                   class="mx-auto"
                                                                   @click="deleteClassCategory(item)">
                                                                <v-icon color="red lighten-1">
                                                                    mdi-close
                                                                </v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- ЭкоКласс  -->
            <v-row no-gutter>
                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutter>
                                <v-col class="py-0 my-0">
                                    <v-switch v-model="ecoclassIndicatorSign" :disabled="disabled"
                                              inset dense
                                              label="Экологический класс отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter v-if="!ecoclassIndicatorSign">
                                <v-col class="py-0 my-0">
                                    <v-autocomplete label="Экологический класс" :disabled="disabled"
                                                    :items="dics.nsi16ecoclass"
                                                    v-model="selectedEcoclasses"
                                                    clearable
                                                    dense
                                                    multiple
                                                    outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Экологический класс"
                                                    @change="changeEcoClass"></v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Модификация -->
            <v-row no-gutter v-if="!isSbkts">
                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutter>
                                <v-col class="py-0 my-0">
                                    <v-switch v-model="modificationIndicatorSign" :disabled="disabled"
                                              inset dense
                                              label="Модификация отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter v-if="!modificationIndicatorSign">
                                <v-col class="py-0 my-0">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr v-if="!disabled">
                                                    <th class="text-left py-1" width="80%">
                                                        <v-text-field label="Модификация" v-if="!disabled"
                                                                      v-model="modification"
                                                                      dense hide-details></v-text-field>
                                                    </th>
                                                    <th class="text-left py-1" width="20%">
                                                        <v-btn outlined v-if="!disabled"
                                                               @click="addModification">
                                                            <v-icon left>
                                                                mdi-plus
                                                            </v-icon>
                                                            Добавить
                                                        </v-btn>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in modificationList"
                                                    :key="item.id">
                                                    <td>
                                                        {{ item.name }}
                                                    </td>
                                                    <td>
                                                        <v-btn icon v-if="!disabled"
                                                               class="mx-auto"
                                                               @click="deleteModification(item)">
                                                            <v-icon color="red lighten-1">
                                                                mdi-close
                                                            </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <!-- Вариант изготовления шасси -->
            <v-row no-gutter v-if="isOtch">
                <v-col class="py-1 my-0">
                    <v-card outlined>
                        <v-card-text class="py-1 my-0">
                            <v-row no-gutter>
                                <v-col class="py-0 my-0">
                                    <v-switch v-model="chassisDesignIndicatorSign" :disabled="disabled"
                                              inset dense
                                              label="Вариант изготовления отсуствует"></v-switch>
                                </v-col>
                            </v-row>
                            <v-row no-gutter v-if="!chassisDesignIndicatorSign">
                                <v-col class="py-0 my-0">
                                    <v-autocomplete label="Вариант изготовления" :disabled="disabled"
                                                    :items="dics.nsi17chassisDesign"
                                                    v-model="selectedChassisDesigns"
                                                    clearable
                                                    dense
                                                    multiple
                                                    outlined
                                                    item-text="name"
                                                    item-value="id"
                                                    :menu-props="{ maxHeight: '400' }"
                                                    hint="Выберите вариант изготовления"
                                                    @change="changeChassisDesign"></v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

        </section>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    import DictionaryService from '@/services/dictionary.service';
    import ComplienceService from '@/services/document/complience.service';

    import { ComplienceDocumentModel } from '@/models/documents/complience/ComplienceDocument.model';
    import { VehicleTypeDicModel } from '@/models/vehicle/VehicleTypeDic.model';
    import { ObjectState } from '@/models/enums/ObjectState.enum';
    //import { VehicleTypeDetailModel } from '@/models/vehicle/VehicleTypeDetail.model';
    //import { DictionaryModel } from '@/models/dictionary/Dictionary.model';
    import { ModificationModel } from '@/models/vehicle/Modification.model';
    import { VehicleTypeModel } from '@/models/vehicle/VehicleType.model';
    import { VehicleCommercialNameModel } from '@/models/vehicle/VehicleCommercialName.model';
    import ObjectHelper from '@/helpers/object.helper';

    export default Vue.extend({
        name: 'VehicleTypeDetailForm',
        props: {
            document: ComplienceDocumentModel,
            disabled: Boolean
        },
        data() {
            const dataObj: {
                rules: any,
                dics: any,

                commercialNameSign: boolean,
                commercialName: string,

                typeValue: string,

                makeIndicatorSign: boolean,
                selectedMakeIds: Array<any>,

                categoryIndicatorSign: boolean,
                selectedCategories: Array<any>,

                classCategoryIndicatorSign: boolean,
                selectedClassCategoryId: any,

                ecoclassIndicatorSign: boolean,
                selectedEcoclasses: Array<any>,
                
                modificationIndicatorSign: boolean,
                modification: string,

                chassisDesignIndicatorSign: boolean
                selectedChassisDesigns: Array<any>,
            } = {                
                rules: {
                    required: [
                        value => !!value || 'Поле обязательно для заполнения',
                    ]
                },
                dics: {
                    nsi46makes: [],
                    nsi13classCategory: [],
                    nsi15category: [],
                    nsi16ecoclass: [],
                    nsi17chassisDesign: [],
                },

                commercialNameSign: false,
                commercialName: '',

                typeValue: '',

                makeIndicatorSign: false,
                selectedMakeIds: [],

                categoryIndicatorSign: false,
                selectedCategories: [],

                classCategoryIndicatorSign: false,
                selectedClassCategoryId: {},

                ecoclassIndicatorSign: false,
                selectedEcoclasses: [],


                modificationIndicatorSign: false,
                modification: '',

                chassisDesignIndicatorSign: false,
                selectedChassisDesigns: [],
            };
            return dataObj;
        },
        watch: {
            loader() { },
            makeIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleMakeNameIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleMakeNameIndicator': function (val, oldVal) {
                this.makeIndicatorSign = val == 1;
            },
            commercialNameSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleCommercialNameIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleCommercialNameIndicator': function (val, oldVal) {
                this.commercialNameSign = val == 1;
            },
            categoryIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleTechCategoryIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleTechCategoryIndicator': function (val, oldVal) {
                this.categoryIndicatorSign = val == 1;
            },
            classCategoryIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleClassCategoryIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleClassCategoryIndicator': function (val, oldVal) {
                this.classCategoryIndicatorSign = val == 1;
            },
            ecoclassIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleEcoClassCategoryIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleEcoClassCategoryIndicator': function (val, oldVal) {
                this.ecoclassIndicatorSign = val == 1;
            },
            modificationIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleModificationIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleModificationIndicator': function (val, oldVal) {
                this.modificationIndicatorSign = val == 1;
            },
            chassisDesignIndicatorSign: function (val, oldVal) {
                this.document.vehicleTypeDetail.notVehicleChassisDesignIndicator = !!val ? 1 : 0;
            },
            'document.vehicleTypeDetail.notVehicleChassisDesignIndicator': function (val, oldVal) {
                this.chassisDesignIndicatorSign = val == 1;
            },


            'document.vehicleTypeDetail.makes': function (val) {                
                if (this.selectedMakeIds && this.selectedMakeIds.length == 0) {
                    this.document.vehicleTypeDetail
                        .makes
                        .forEach(tc => this.selectedMakeIds.push(tc.dicId));
                }
            },
            /*
            'document.vehicleTypeDetail.classCategories': function (val) {
                if (this.selectedClassCategoryId) {
                    this.document.vehicleTypeDetail
                        .classCategories
                        .forEach(tc => this.selectedClassCategoryId = tc.dicId);
                }
            },
            */
            'document.vehicleTypeDetail.techCategories': function (val) {                
                if (this.selectedCategories && this.selectedCategories.length == 0) {
                    if (this.document.vehicleTypeDetail && this.document.vehicleTypeDetail.techCategories) {
                        this.document.vehicleTypeDetail
                            .techCategories
                            .forEach(tc => this.selectedCategories.push(tc.dicId));
                    }
                }
            },
            'document.vehicleTypeDetail.ecoClasses': function (val) {
                if (this.selectedEcoclasses && this.selectedEcoclasses.length == 0) {
                    if (this.document.vehicleTypeDetail && this.document.vehicleTypeDetail.ecoClasses) {
                        this.document.vehicleTypeDetail
                            .ecoClasses
                            .forEach(tc => this.selectedEcoclasses.push(tc.dicId));
                    }
                }
            },
            'document.vehicleTypeDetail.chassisDesigns': function (val) {
                if (this.selectedChassisDesigns && this.selectedChassisDesigns.length == 0) {
                    if (this.document.vehicleTypeDetail && this.document.vehicleTypeDetail.chassisDesigns) {
                        this.document.vehicleTypeDetail
                            .chassisDesigns
                            .forEach(tc => this.selectedChassisDesigns.push(tc.dicId));
                    }
                }
            },
        },
        computed: {
            isSbkts(): boolean {
                return this.document.docTypeCode === 'sbkts';
            },
            isOtch(): boolean {
                return this.document.docTypeCode === 'otch';
            },
            title(): string {
                return this.document.docTypeCode === 'otch' ? 'Шасси' : 'Транспортное средство';
            },
            isM2M3Category(): boolean {
                return this.selectedCategories.some(catId => {
                    return this.dics.nsi15category.findIndex(n => n.id == catId
                        && (n.code == 'M2'
                            || n.code == 'M3'
                            || n.code == 'M2G'
                            || n.code == 'M3G'
                        )) > 0;
                });
            },
            modificationList(): ModificationModel[] {
                return this.document.vehicleTypeDetail.modifications.filter(m => m.state != ObjectState.Deleted);
            },
            typeList(): VehicleTypeModel[] {
                return this.document.vehicleTypeDetail.types.filter(m => m.state != ObjectState.Deleted);
            },
            commercialNameList(): VehicleCommercialNameModel[] {
                return this.document.vehicleTypeDetail.commercialNames.filter(m => m.state != ObjectState.Deleted);
            },
            classCategoryList(): VehicleTypeDicModel[] {
                return this.document.vehicleTypeDetail.classCategories.filter(m => m.state != ObjectState.Deleted);
            }
        },
        methods: {
            changeMake(val: Array<number>, oldVal: Array<number>) {                
                if (val) {
                    val.forEach(makeId => {
                        var existMake = this.document.vehicleTypeDetail.makes
                            .find(m => m.dicId == makeId);
                        if (!existMake) {
                            this.document.vehicleTypeDetail.makes.push(new VehicleTypeDicModel(0,
                                this.document.vehicleTypeDetail.id,
                                makeId,
                                null, null,
                                ObjectState.Added
                            ));
                        }
                    });

                    this.document.vehicleTypeDetail.makes.forEach((m, index, object) => {
                        var existMakeId = val.find(makeId => makeId == m.dicId);
                        if (!existMakeId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }

                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicletypedetail-info', val: val, oldVal: oldVal })
            },

            changeCategory(val, oldVal) {
                if (val) {
                    val.forEach(categoryId => {
                        var existCategory = this.document.vehicleTypeDetail.techCategories
                            .find(m => m.dicId == categoryId);
                        if (!existCategory) {
                            const category = this.dics.nsi15category.find(c => c.id == categoryId)

                            this.document.vehicleTypeDetail.techCategories.push(new VehicleTypeDicModel(0,
                                this.document.vehicleTypeDetail.id,
                                category.id,
                                category.code,
                                category.name,
                                ObjectState.Added
                            ));
                        }
                    });

                    this.document.vehicleTypeDetail.techCategories.forEach((m, index, object) => {
                        var existCategoryId = val.find(makeId => makeId == m.dicId);
                        if (!existCategoryId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicletypedetail-info', val: val, oldVal: oldVal })
            },

            changeClassCategory(val, oldVal) {
                if (val) {
                    this.document.vehicleTypeDetail.classCategories.push(new VehicleTypeDicModel(0,
                        this.document.vehicleTypeDetail.id,
                        val,
                        null, null,
                        ObjectState.Added
                    ));
                } else {
                    if (this.document.vehicleTypeDetail.classCategories.length > 0) {
                        if (this.document.vehicleTypeDetail.classCategories[0].state == ObjectState.Added) {
                            this.document.vehicleTypeDetail.classCategories.splice(1, 1)
                        } else {
                            this.document.vehicleTypeDetail.classCategories[0].state = ObjectState.Deleted;
                        }
                    }
                }
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicletypedetail-info', val: val, oldVal: oldVal })
            },

            changeEcoClass(val, oldVal) {
                if (val) {
                    val.forEach(ecoClassId => {
                        var existEcoClass = this.document.vehicleTypeDetail.ecoClasses
                            .find(m => m.dicId == ecoClassId);
                        if (!existEcoClass) {
                            this.document.vehicleTypeDetail.ecoClasses.push(new VehicleTypeDicModel(0,
                                this.document.vehicleTypeDetail.id,
                                ecoClassId,
                                null, null,
                                ObjectState.Added
                            ));
                        }
                    });

                    this.document.vehicleTypeDetail.ecoClasses.forEach((m, index, object) => {
                        var ecoClassId = val.find(ecoClassId => ecoClassId == m.dicId);
                        if (!ecoClassId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }
                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicletypedetail-info', val: val, oldVal: oldVal })
            },

            changeChassisDesign(val, oldVal) {
                if (val) {
                    val.forEach(cdId => {
                        var chDesign = this.document.vehicleTypeDetail.chassisDesigns
                            .find(m => m.dicId == cdId);
                        if (!chDesign) {
                            this.document.vehicleTypeDetail.chassisDesigns.push(new VehicleTypeDicModel(0,
                                this.document.vehicleTypeDetail.id,
                                cdId,
                                null, null,
                                ObjectState.Added
                            ));
                        }
                    });

                    this.document.vehicleTypeDetail.chassisDesigns.forEach((m, index, object) => {
                        var chDesignId = val.find(cdId => cdId == m.dicId);
                        if (!chDesignId) {
                            if (m.state == ObjectState.Added) {
                                object.splice(index, 1);
                            } else {
                                m.state = ObjectState.Deleted;
                            }
                        }
                    });
                }

                this.$emit('trackChange', { msg: 'Документ необходимо сохранить', ref: '#vehicletypedetail-info', val: val, oldVal: oldVal })
            },

            addModification: function () {
                if (this.modification) {
                    if (!this.document.vehicleTypeDetail.modifications) {
                        this.document.vehicleTypeDetail.modifications = [];
                    }
                    var indx = this.document.vehicleTypeDetail.modifications
                        .findIndex(tp => tp.name == this.modification);

                    if (indx < 0 && this.modification) {
                        let bn = new ModificationModel(0, this.document.vehicleTypeDetail.id
                            , null
                            , this.modification
                            , ObjectState.Added);

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.modifications.push(bn);
                        } else {
                            ComplienceService.saveModification(bn).then(r => {
                                if (r.status == 'Ok') {
                                    bn.id = r.data.entityId;
                                    bn.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.modifications.push(bn);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }

                        this.modification = '';
                    }
                }
            },
            deleteModification: function (item: ModificationModel) {
                var indx = this.document.vehicleTypeDetail.modifications.findIndex(bn => bn.name == item.name
                    && bn.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let m = this.document.vehicleTypeDetail.modifications[indx];
                        m.state = ObjectState.Deleted;

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.modifications.splice(indx, 1);
                        } else {
                            ComplienceService.saveModification(m).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.vehicleTypeDetail.modifications.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }
                    } else {
                        this.document.vehicleTypeDetail.modifications.splice(indx, 1);
                    }
                }
            },

            addType: function () {
                if (this.typeValue) {
                    if (!this.document.vehicleTypeDetail.types) {
                        this.document.vehicleTypeDetail.types = [];
                    }
                    var indx = this.document.vehicleTypeDetail.types
                        .findIndex(tp => tp.typeValue == this.typeValue);

                    if (indx < 0 && this.typeValue) {
                        let tp = new VehicleTypeModel(0, this.document.vehicleTypeDetail.id, this.typeValue, ObjectState.Added);

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.types.push(tp);
                        } else {
                            ComplienceService.saveType(tp).then(r => {
                                if (r.status == 'Ok') {
                                    tp.id = r.data.entityId;
                                    tp.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.types.push(tp);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err.text);
                            });
                        }

                        this.typeValue = '';
                    }
                }
            },
            deleteType: function (item: VehicleTypeModel) {
                var indx = this.document.vehicleTypeDetail.types
                    .findIndex(tp => tp.typeValue == item.typeValue && tp.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let tp = this.document.vehicleTypeDetail.types[indx];
                        tp.state = ObjectState.Deleted;
                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.types.splice(indx, 1);
                        } else {
                            ComplienceService.saveType(tp).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.vehicleTypeDetail.types.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }
                        
                    } else {
                        this.document.vehicleTypeDetail.types.splice(indx, 1);
                    }
                }
            },

            addComName: function () {
                if (this.commercialName) {
                    if (!this.document.vehicleTypeDetail.commercialNames) {
                        this.document.vehicleTypeDetail.commercialNames = [];
                    }
                    var indx = this.document.vehicleTypeDetail.commercialNames
                        .findIndex(tp => tp.commercialName == this.commercialName);

                    if (indx < 0) {
                        let cn = new VehicleCommercialNameModel(0
                            , this.document.vehicleTypeDetail.id
                            , this.commercialName
                            , ObjectState.Added);

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.commercialNames.push(cn);
                        } else {
                            ComplienceService.saveCommercialName(cn).then(r => {
                                if (r.status == 'Ok') {
                                    cn.id = r.data.entityId;
                                    cn.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.commercialNames.push(cn);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }

                        this.commercialName = '';
                    }
                }
            },
            deleteComName: function (item: VehicleCommercialNameModel) {
                var indx = this.document.vehicleTypeDetail.commercialNames
                    .findIndex(tp => tp.commercialName == item.commercialName && tp.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let cn = this.document.vehicleTypeDetail.commercialNames[indx];
                        cn.state = ObjectState.Deleted;

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.commercialNames.splice(indx, 1);
                        } else {
                            ComplienceService.saveCommercialName(cn).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.vehicleTypeDetail.commercialNames.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }
                    } else {
                        this.document.vehicleTypeDetail.commercialNames.splice(indx, 1);
                    }
                }
            },

            addClassCategory: function () {
                if (this.selectedClassCategoryId) {
                    if (!this.document.vehicleTypeDetail.classCategories) {
                        this.document.vehicleTypeDetail.classCategories = [];
                    }
                    var indx = this.document.vehicleTypeDetail.classCategories
                        .findIndex(tp => tp.dicId == this.selectedClassCategoryId);

                    if (indx < 0) {
                        let selectedClassCategory = this.dics.nsi13classCategory.find(c => c.id == this.selectedClassCategoryId);

                        let cc = new VehicleTypeDicModel(0,
                            this.document.vehicleTypeDetail.id,
                            this.selectedClassCategoryId,
                            selectedClassCategory.code,
                            selectedClassCategory.name,
                            ObjectState.Added
                        );

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.classCategories.push(cc);
                        } else {
                            ComplienceService.saveClassCategory(cc).then(r => {
                                if (r.status == 'Ok') {
                                    cc.id = r.data.entityId;
                                    cc.state = ObjectState.Unchanged;
                                    this.document.vehicleTypeDetail.classCategories.push(cc);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err.text);
                            });
                        }

                        this.selectedClassCategoryId = null;
                    }
                }
            },
            deleteClassCategory: function (item: VehicleTypeDicModel) {
                var indx = this.document.vehicleTypeDetail.classCategories
                    .findIndex(tp => tp.dicId == item.dicId && tp.id == item.id);
                if (indx > -1) {
                    if (item.id != 0) {
                        let cc = this.document.vehicleTypeDetail.classCategories[indx];
                        cc.state = ObjectState.Deleted;

                        if (this.document.vehicleTypeDetail.id == ObjectHelper.defaultGuid()) {
                            this.document.vehicleTypeDetail.classCategories.splice(indx, 1);
                        } else {
                            ComplienceService.saveClassCategory(cc).then(r => {
                                if (r.status == 'Ok') {
                                    this.document.vehicleTypeDetail.classCategories.splice(indx, 1);
                                } else {
                                    this.$emit('show_message', 'Возникла ошибка: ' + r.text);
                                }
                            }).catch(err => {
                                this.$emit('show_message', 'Возникла ошибка: ' + err);
                            });
                        }
                    } else {
                        this.document.vehicleTypeDetail.classCategories.splice(indx, 1);
                    }
                }
            }
        },
        created() {
        },
        mounted() {
            DictionaryService.getNsiValues('nsi046')
                .then(response => {
                    this.dics.nsi46makes = response.data;                    
                }).catch(err => {

                });

            DictionaryService.getNsiValues('nsi013')
                .then(response => {
                    this.dics.nsi13classCategory = response.data;                    
                }).catch(err => {

                });

            DictionaryService.getNsiValues('nsi015')
                .then(response => {
                    this.dics.nsi15category = response.data;
                }).catch(err => {

                });

            DictionaryService.getNsiValues('nsi016')
                .then(response => {
                    this.dics.nsi16ecoclass = response.data;
                }).catch(err => {

                });

            DictionaryService.getNsiValues('nsi017')
                .then(response => {
                    this.dics.nsi17chassisDesign = response.data;
                }).catch(err => {

                });
        }
    });
</script>


