<template>
    <v-app>
        <component v-bind:is="layout"></component>
    </v-app>
</template>
<style>
    .deleted-row td {
        text-decoration: line-through;
        color: lightgray;
        font-style: italic;
    }
</style>

<script lang="ts">
    import { Component, Prop, Vue , Watch} from 'vue-property-decorator';

    import { User } from '@/models/User';

    import CabinetLayout from './layouts/CabinetLayout.vue';
    import PublicLayout from './layouts/PublicLayout.vue';
    
    @Component({
        components: {
            'cabinet-layout': CabinetLayout,
            'public-layout': PublicLayout,
        },
        computed: {
            layout() {
                return this.$store.state.layout_store.layout;
            }
        }
    })
    export default class App extends Vue {
        created() {
            const authUser = JSON.parse(localStorage.getItem('user')!) as User;
            if (!authUser) {
                this.$store.commit('layout_store/set_layout', 'public-layout');
            } else {
                this.$store.commit('layout_store/set_layout', 'cabinet-layout');
            }
        }
    }
</script>